{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}

  <meta charset="utf-8" />
  <title>Biographies: {{ biographydetails.title }} - Sadbhavana</title>
  <meta name="description" content="" />
  <meta name="og:title" content="{{biographydetails.title}}" />
  <meta property="og:image" content="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{biographydetails.thumbnail_file}}" />

  {% endblock %}

</head>


<body class="smoothscroll enable-animation">

  {% block content %}

  <section class="page-header dark page-header-xs">
    <div class="container">

      <h1>{{biographydetails.title}}</h1>
      {% if biographydetails.tags|length > 0 %}
      <ul class="blog-post-info list-inline">
        <li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
        {% for tag in biographydetails.tags|split:"," %}
        <li><a href="../search-results?tags={{tag}}"><span class="font-lato btn-outline-warning">#{{tag}}</span></a></li>
        {% endfor %}
      </ul>
      {% endif %}

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <li><a href="{% url 'read' %}" class="trn">{% trans "Read" %}</a></li>
        <li class="active trn">{{biographydetails.title}}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- -->
  <section>
    <div class="container">
      <div class="row">
        <!-- LEFT -->
        <div class="col-md-12 col-sm-12">
          <!-- article content -->
          <img class="float-left" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{biographydetails.thumbnail_file}}" alt="">
            {{ biographydetails.text | safe }}
          <!-- article content -->

          <!-- SHARE POST -->
          {% if biographydetails.text|length > 0 %}
          <div class="clearfix mt-30">
            <div class="fb-share-button" data-href="{{ baseURL }}{{ request.get_full_path|urlencode }}"
            data-layout="button_count" data-size="small">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
            </div>

            <a data-text="{{biographydetails.summary}}....Read more" data-link="{{ baseURL }}{{ request.get_full_path|urlencode }}"
            class="whatsapp">
              <img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" />
            </a>
            <input id="copy-me" style="display: none;" type="text" value="{{ baseURL }}{{ request.get_full_path|urlencode }}" id="myInput">
            <button id="copy-btn" class="btn btn-primary btn-sm"><i class="fa fa-clipboard"></i> Copy Link</button>
            <!-- article content -->
          </div>
          {% endif %}

          <div class="divider divider-dotted">
            <!-- divider -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / -->

  {% endblock %}

  {% block includes %}

  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>
  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>
  <script src="{% static 'assets/js/copy-link.js' %}"></script>
  {% endblock %}

</body>

</html>
