{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load i18n %}
    {% load static %}
    {% load filters %}

    {% block meta %}

    <meta charset="utf-8" />
    <title>Books: {{ booksTitle }} - Sadbhavana</title>
    <meta property="og:description" content="{{metaData.summary}}" />
    <meta property="og:title" content="{{booksTitle}}" />
    <meta property="og:image" content="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{metaData.thumbnail_file}}" />

    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.theme.default.min.css' %}">

    {% endblock %}

  </head>
<!-- Internal CSS -->
  <style>
    .tp-leftarrow.round,
    .flex-prev,
    .owl-prev,
    .camera_prev,
    .nivo-prevNav,
    .swiper-button-prev {
      left: -25px !important;
    }
  </style>
<!-- Internal CSS -->

<body class="smoothscroll enable-animation">

    {% block content %}

    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1 class="trn">{{booksTitle}}</h1>
        {% if booksTags.tags|length > 0 %}
        <ul class="blog-post-info list-inline">
          <li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
          {% for tag in booksTags.tags|split:"," %}
          <li><a href="../search-results?tags={{tag}}"><span class="font-lato btn-outline-warning">#{{tag}}</span></a></li>
          {% endfor %}
        </ul>
        {% endif %}

        <!-- breadcrumbs -->
        <ol class="breadcrumb" style="position:relative;float:right;margin-top:0;">
          <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
          <li><a href="{% url 'read' %}#books">{% trans "Books" %}</a></li>
          <li class="active">{{booksTitle}}</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->

    <!-- -->
    <section>
      <div class="container">
          {% if booksdetails %}
          {% if contentType == 'Image' %}
            <div class="co-lg-8 col-md-8" style="margin:0 auto">
              <div class="owl-carousel owl-theme static lang-en en">
                {% for page in booksdetails %}
                  <div class="item">
                    <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{page.bookimg}}">
                  </div>
                {% endfor %}
              </div>
            </div>

            <div class="fb-share-button" data-href="{{ baseURL }}{{ request.get_full_path|urlencode }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="{{booksTitle}}...Read more" data-link="{{ baseURL }}{{ request.get_full_path|urlencode }}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>
            <input id="copy-me" style="display: none;" type="text" value="{{ baseURL }}{{ request.get_full_path|urlencode }}" id="myInput">
            <button id="copy-btn" class="btn btn-primary btn-sm"><i class="fa fa-clipboard"></i> Copy Link</button>

          {% elif contentType == 'Text' %}
            {% for page in booksdetails %}

            <figure class="mb-20 text-center">
              {% if page.thumbnail_file.url|length > 0 %}
                <img class="img-fluid" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{page.thumbnail_file}}"
              alt="service" />
              {% endif %}
            </figure>

              {{ page.text|safe }}

              <div class="fb-share-button" data-href="{{ baseURL }}{{ request.get_full_path|urlencode }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              <a data-text="{{page.detailSummary}}...Read more" data-link="{{ baseURL }}{{ request.get_full_path|urlencode }}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>
              <input id="copy-me" style="display: none;" type="text" value="{{ baseURL }}{{ request.get_full_path|urlencode }}" id="myInput">
              <button id="copy-btn" class="btn btn-primary btn-sm"><i class="fa fa-clipboard"></i> Copy Link</button>

            {% endfor %}

          {% elif contentType == 'PDF' %}
            <div class="co-lg-10 col-md-10" style="margin:0 auto;padding:0;">
              <div class="owl-carousel owl-theme static lang-en en">
                {% for page in booksdetails %}
                <iframe src="https://docs.google.com/gview?url=https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{page.document_file}}&embedded=true"style="width:100%; height:400px;" frameborder="0"></iframe>
                {% endfor %}
              </div>

              <div class="fb-share-button" data-href="{{ baseURL }}{{ request.get_full_path|urlencode }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              <a data-text="{{booksTitle}}...Read more" data-link="{{ baseURL }}{{ request.get_full_path|urlencode }}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>
              <input id="copy-me" style="display: none;" type="text" value="{{ baseURL }}{{ request.get_full_path|urlencode }}" id="myInput">
              <button id="copy-btn" class="btn btn-primary btn-sm"><i class="fa fa-clipboard"></i> Copy Link</button>

            </div>
          {% endif %}
          {% else %}
            <p class="text-center">This content is not available for current language.</p>
          {% endif %}

      </div>
    </section>
    <!-- / -->

    {% endblock %}

    {% block includes %}

  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>
  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>
  <script src="{% static 'assets/js/copy-link.js' %}"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script>
		/**
			Checkbox on "I agree" modal Clicked!
		**/
    jQuery("#terms-agree").click(function () {
      jQuery('#termsModal').modal('toggle');

      // Check Terms and Conditions checkbox if not already checked!
      if (!jQuery("#checked-agree").checked) {
        jQuery("input.checked-agree").prop('checked', true);
      }

    });
  </script>
  <script>
    $(document).ready(function () {
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 0,
        addClassActive: true,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            video: true,
            center: true,
            dots: false,
            loop: false,
            nav: true,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
          },
          600: {
            items: 1,
            video: true,
            dots: false,
            loop: false,
            nav: true,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
          },
          1000: {
            items: 1,
            video: true,
            nav: true,
            dots: false,
            loop: false,
            margin: 20,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
          }
        }
      })
    });


    var promise = document.querySelector('video').play();

    if (promise !== undefined) {
      promise.then(_ => {
        // Autoplay started!
      }).catch(error => {
        // Autoplay was prevented.
        // Show a "Play" button so that user can start playback.
      });
    }


  </script>

{% endblock %}

</body>
</html>
