{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Read</title>
  <meta name="og:title" content="Know Your Constitution" />
  <meta name="og:description" content="Know Your Constitution" />
  <meta name="og:image" content="https://rgf-bucket.s3.ap-south-1.amazonaws.com/app/whatsNew/Slide_06.jpg" />

      <!-- OWL CAROUSEL -->
      <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.theme.default.min.css' %}">

      <style>
        @media only screen and (max-width: 768px){
          .nav-tabs {
            display: block !important;
          }
        }
        .my-col {
          height: 300px;
          overflow-y: hidden !important;
        }
        .mbr-fonts-style {
          font-size: 14px !important;
        }
        ul.blog-post-info {
          font-size: 12px !important;
          border-bottom: none !important;
        }
        .card {
          border: 2px solid rgba(6, 218, 234, 0.99) !important;
        }
        .owl-item > div {
          margin: 0 !important;
        }
        .card {
          margin-bottom: 0 !important;
        }
        .owl-carousel-1 .owl-item img {
          max-height: 200px !important;
        }
        .my-card-1 {
          border: 2px solid #91D8EE !important;
          background-color: #91D8EE !important;
        }
        .my-card-2 {
          border: 2px solid #C6C457 !important;
          background-color: #C6C457 !important;
        }
        .my-card-3 {
          border: 2px solid#A0463E !important;
          background-color: #A0463E !important;
        }
        .my-card-4 {
          border: 2px solid #91D8EE !important;
          background-color: #91D8EE !important;
        }
        .text-white {
          color: #FFF !important;
        }
        .copy-btn {
            height: 20px !important;
            padding: 0px 5px !important;
            font-size: 11px !important;
            background-color: #007bff !important;
        }
      </style>
  {% endblock %}

</head>

<body>

  {% block content %}

  <section class="page-header">
    <div class="container">

      <h1 class="trn">{% trans "Read" %}</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <!-- <li><a href="#">Pages</a></li> -->
        <li class="active trn">{% trans "Read" %}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->

  <!-- -->
  <section>
    <div class="container-full">
      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link lg active trn" data-toggle="tab">{% trans "Speeches" %}</a></li>
        </ul>

        <div class="co-lg-12 col-md-12" style="margin:0 auto">
          <div class="owl-carousel-1 owl-carousel owl-theme static lang-en en">
            {% for speech in speechContent %}
              {% if speech.sub_category_id == 1 %}
                {% if speech.content_type == 'Text' %}
                  <div class="item">

                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 190px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" href="read/speech/{{speech.language_locale_id}}" class="image-hover">
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{speech.thumbnail_file}}" alt="{{speech.title}}" title="" media-simple="true">
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{speech.title}}</strong></h6>
                      </div>
                    </div>

                  </div>
                {% elif speech.content_type == 'Audio' %}
                  <div class="item">

                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 190px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="{{speech.iframe_url}}" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <iframe width="100%" src="{{speech.iframe_url}}" frameborder="0"
                                allowfullscreen></iframe>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{speech.title}}</strong></h6>
                      </div>
                    </div>

                  </div>
                {% elif speech.content_type == 'Video' %}
                  <div class="item">

                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 190px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://www.youtube.com/watch?v={{speech.youtube_id}}" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <iframe width="100%" src="{{speech.iframe_url}}" frameborder="0"
                                allowfullscreen></iframe>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{speech.title}}</strong></h6>
                      </div>
                    </div>

                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link rgci active trn" data-toggle="tab">{% trans "Biographies" %}</a></li>
        </ul>

        <div class="co-lg-12 col-md-12" style="margin:0 auto">
          <div class="owl-carousel-1 owl-carousel owl-theme static lang-en en">
            {% for biography in biographyContent %}
              {% if biography.sub_category_id == 2 %}
                  <div class="item">

                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 190px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" href="read/biography/{{biography.language_locale_id}}" class="image-hover">
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{biography.thumbnail_file}}" alt="{{biography.title}}" title="" media-simple="true">
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{biography.title}}</strong></h6>
                      </div>
                    </div>

                  </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link plays active trn" data-toggle="tab">{% trans "Books" %}</a></li>
        </ul>

        <div class="co-lg-12 col-md-12" style="margin:0 auto">
          <div class="owl-carousel-1 owl-carousel owl-theme static lang-en en">
            {% for book in booksContent %}
              {% if book.sub_category_id == 3 %}
                {% if book.content_type == 'Image' %}
                  <div class="item">

                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 190px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" href="read/books/{{book.language_locale_id}}" class="image-hover">
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{book.thumbnail_file}}" alt="{{book.title}}" title="" media-simple="true">
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{book.title}}</strong></h6>
                      </div>
                    </div>

                  </div>
                {% endif %}
                {% if book.content_type == 'PDF' %}
                <div class="item">

                  <div class="card card-default">
                    <div class="text-center">
                      <figure style="height: 190px;margin-bottom: 0px;">
                        <a style="display: block;height: 100%;overflow: hidden;" href="read/books/{{book.language_locale_id}}" class="image-hover">
                          <span class="image-hover-icon image-hover-dark">
                            <i class="fa fa-search-plus"></i>
                          </span>
                          <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{book.thumbnail_file}}" alt="{{book.title}}" title="" media-simple="true">
                        </a>
                      </figure>
                    </div>
                    <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                      <h6 class="text-black mb-0"><strong>{{book.title}}</strong></h6>
                    </div>
                  </div>

                </div>
                {% endif %}
                {% if book.content_type == 'Text' %}
                <div class="item">

                  <div class="card card-default">
                    <div class="text-center">
                      <figure style="height: 190px;margin-bottom: 0px;">
                        <a style="display: block;height: 100%;overflow: hidden;" href="read/books/{{book.language_locale_id}}" class="image-hover">
                          <span class="image-hover-icon image-hover-dark">
                            <i class="fa fa-search-plus"></i>
                          </span>
                          {% if book.thumbnail_file != '' %}
                          	<img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{book.thumbnail_file}}" alt="{{book.title}}" title="" media-simple="true">
			  {% endif %}
                        </a>
                      </figure>
                    </div>
                    <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                      <h6 class="text-black mb-0"><strong>{{book.title}}</strong></h6>
                    </div>
                  </div>

                </div>
                {% endif %}

                {% if book.content_type == 'Audio' %}
                <div class="item">

                  <div class="card card-default">
                    <div class="text-center">
                      <figure style="height: 190px;margin-bottom: 0px;">
                        <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{book.document_file}}" data-plugin-options='{"type":"iframe"}'>
                          <span class="image-hover-icon image-hover-dark">
                            <i class="fa fa-search-plus"></i>
                          </span>
                          <audio style="width: 100%;" controls src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{book.document_file}}" controlsList="nodownload"> Your
                            browser does not support the <code>audio</code> element.</audio>
                        </a>
                      </figure>
                    </div>
                    <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                      <h6 class="text-black mb-0"><strong>{{book.title}}</strong></h6>
                    </div>
                  </div>

                </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>


      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link lg active trn" data-toggle="tab">{% trans "Resources" %}</a></li>
        </ul>

        <div class="co-lg-12 col-md-12" style="margin:0 auto">
          <div class="owl-carousel-1 owl-carousel owl-theme static lang-en en">
            {% for resource in resourcesContent %}
              {% if resource.sub_category_id == 4 %}
                  <div class="item">

                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 170px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" href="{{resource.redirect_url}}" target="_blank" class="image-hover">
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <img src="{{resource.thumbnail_url}}" alt="{{resource.title}}" title="" media-simple="true">
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:80px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{resource.title}}</strong></h6>
                      </div>
                    </div>

                  </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link lg active trn" data-toggle="tab">{% trans "Know Your Constitution" %}</a></li>
        </ul>

        <div class="co-lg-6 col-md-6" style="margin:0 auto">
          <div class="owl-carousel-2 owl-carousel owl-theme static lang-en en">
            {% for constitution in constitutionContent %}
              <div class="item">
                <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{constitution.bookimg}}">
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-12">
        <div class="col-md-6" style="margin:0 auto;">
          <div class="row">
            <ul class="blog-post-info list-inline mb-0" style="margin:0 auto;">
              <div class="row" style="padding-left: 5px;padding-right: 5px;margin:0 auto;">
              <div style="margin: auto;padding: 10px;display: inline-flex;">
                  <div class="fb-share-button" data-href="{{ baseURL }}{{ request.get_full_path|urlencode }}" redirect_uri="{{ baseURL }}{{ request.get_full_path|urlencode }}" data-layout="button" data-size="small">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{baseURL}}%2Fcontent%2Fwatch&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><img style="width: 50px;height: 25px;" src="{% static 'assets/images/fb-share.png' %}" /></a>
                  </div>&nbsp;&nbsp;
                  <a data-text="Know Your Constitution...Read More" data-link="{{ baseURL }}{{ request.get_full_path|urlencode }}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>&nbsp;&nbsp;
                  <input id="copy-me" style="display: none;" type="text" value="{{ baseURL }}{{ request.get_full_path|urlencode }}" id="myInput">
                  <button id="copy-btn" class="btn btn-primary btn-sm copy-btn"><i class="fa fa-clipboard"></i>Copy</button>
              </div>
              </div>
            </ul>

          </div>
        </div>
      </div>
      </div>
      <p class="text-center trn">{% trans "watch_this_space" %}</p>
    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->

  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>
  <script src="{% static 'assets/js/copy-link.js' %}"></script>
  <!-- PAGE LEVEL SCRIPTS -->
  <script type="text/javascript">

	var delay = 1000;
	setTimeout(function() {
		$('#preloader').remove();
	}, delay);

  $(document).ready(function () {
    $('.owl-carousel-2').owlCarousel({
      loop: true,
      margin: 0,
      addClassActive: true,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          video: true,
          center: true,
          dots: false,
          loop: false,
          nav: true,
          slideBy: 1,
          navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
        },
        600: {
          items: 1,
          video: true,
          dots: false,
          loop: false,
          nav: true,
          slideBy: 1,
          navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
        },
        1000: {
          items: 1,
          video: true,
          nav: true,
          dots: false,
          loop: false,
          margin: 20,
          slideBy: 1,
          navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
        }
      }
    });
    $('.owl-carousel-1').owlCarousel({
      loop: true,
      margin: 0,
      addClassActive: true,
      responsiveClass: true,
      responsive: {
        0: {
          items: 2,
          video: true,
          center: true,
          dots: false,
          loop: false,
          nav: true,
          slideBy: 1,
          navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
        },
        600: {
          items: 3,
          video: true,
          dots: false,
          loop: false,
          nav: true,
          slideBy: 3,
          navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
        },
        1000: {
          items: 5,
          video: true,
          nav: true,
          dots: false,
          loop: false,
          margin: 20,
          slideBy: 5,
          navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
        }
      }
    });

  });

  function knowYourConstitutionFun() {
    if($('#preloader').length == 0){
      clearInterval(i);
      $("#knowYourConstitution").removeClass("active");

      $.urlParam = function(name){
        var results = new RegExp('[\%23&#]' + name + '=([^&#]*)').exec(window.location.href);
        return results[1] || 0;
      }

      var param = $.urlParam('knowYourConstitution'); // name
      if(param == 5){
        console.log('in if');
        $('#speeches').removeClass('active');
        $('#knowYourConstitution').addClass('active show');
        $('#knowYourConstitutionTab').children().addClass('active');
        $('#speechesTab').children().removeClass('active');
      }
    }
  }

  var i = setInterval(knowYourConstitutionFun ,1000);

  </script>

  {% endblock %}

</body>

</html>
