{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana</title>
  <meta name="description" content="" />
  <meta property="og:image"
    content="https://cdn.inc.in/inspirations/thumbnails/000/000/006/medium/Gandhi_inc.jpg?1505451907" />

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            padding: 10px;
        }
        
        .border-corners {
            position: relative;
            display: table;
            width: 100%;
            height: auto;
            /* background: url("http://placehold.it/200x100")
                        no-repeat
                        top left; */
        }
        
        .border-corners:before,
        .border-corners:after {
            content: "";
            position: absolute;
            width: 430px;
            height: 430px;
            border: solid #B3030A;
            border-width: 25px 25px 0 0;
            display: block;
        }
        
        .border-corners:before {
            right: 0px;
            top: -0px;
            z-index: 1;
        }
        
        .border-corners:after {
            border-width: 0 0 25px 25px;
            bottom: 0px;
            left: 0px;
        }
    
        .border-corners:hover:after,
        .border-corners:hover:before {
            display: block;
        }
        

        /* @media only screen and (max-width: 768px) {
          .border-corners:before {
              right: 0%;
              top: -0px;
              z-index: 1;
          }
        } */
    
    </style>
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->
  <section style="padding:0 !important;">
    <div class="container border-corners">
      <div class="row" style="padding-right: 0px;padding-left: 0px;">

        <div class="col-md-4" style="background-color: #84f7f7">

            <div class="row" style="padding: 15px;">
                <figure style="border: 15px solid #A0463E;margin: 0 auto;margin-top: 25px;">
                    <img width="100%" src="{% static 'assets/images/people/300x300/avatar.png' %}" />
                </figure>
            </div>
            <div class="row" style="padding-top: 50px;padding-left: 15px;padding-right: 15px;">
                <h3>About Me</h3>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="row" style="padding-top: 50px;padding-left: 15px;padding-right: 15px;">
              <h4><i class="fa fa-trophy"></i> Sadbhavana Score : 
                {% if sadbhavanascore %}
                {{sadbhavanascore.0.points}}
                {% else %} 
                  0
                {% endif %}
              </h4>
            </div>

            <div class="row" style="padding-top: 50px;padding-left: 35px;padding-right: 15px;">
                <h3>Friends With</h3>
                <div class="row"><!-- item -->
                  <div class="col-md-4"><!-- company logo -->
                    <img src="{% static 'assets/images/people/300x300/7-min.jpg' %}" class="img-fluid" alt="company logo">
                  </div>
                  <div class="col-md-8"><!-- company detail -->
                    <h4 class="mb-10">Mark Joe</h4>
                    <ul class="list-inline">
                      <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                      <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                    </ul>
                  </div>
                </div>
                <br>
                <div class="row"><!-- item -->
                  <div class="col-md-4"><!-- company logo -->
                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid" alt="company logo">
                  </div>
                  <div class="col-md-8"><!-- company detail -->
                    <h4 class="mb-10">Tom Riddle</h4>
                    <ul class="list-inline">
                      <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                      <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                    </ul>
                  </div>
                </div>
                <br>
                <div class="row"><!-- item -->
                  <div class="col-md-4"><!-- company logo -->
                    <img src="{% static 'assets/images/people/300x300/8-min.jpg' %}" class="img-fluid" alt="company logo">
                  </div>
                  <div class="col-md-8"><!-- company detail -->
                    <h4 class="mb-10">Robert  Cena</h4>
                    <ul class="list-inline">
                      <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                      <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                    </ul>
                  </div>
                </div>
                
                
            </div>

            <div class="row" style="padding-top: 50px;padding-left: 35px;padding-right: 15px;padding-bottom: 50px;">
                <h3>Groups</h3>
                <div class="row"><!-- item -->
                  <div class="col-md-4"><!-- company logo -->
                    <img src="{% static 'assets/images/brands/5.jpg' %}" class="img-fluid" alt="company logo">
                  </div>
                  <div class="col-md-8"><!-- company detail -->
                    <h4 class="mb-10">Peace of Mind</h4>
                    <ul class="list-inline">
                      <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                      <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                    </ul>
                  </div>
                </div>
                <br>
                <div class="row"><!-- item -->
                  <div class="col-md-4"><!-- company logo -->
                    <img src="{% static 'assets/images/brands/8.jpg' %}" class="img-fluid" alt="company logo">
                  </div>
                  <div class="col-md-8"><!-- company detail -->
                    <h4 class="mb-10">Test Group</h4>
                    <ul class="list-inline">
                      <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                      <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                    </ul>
                  </div>
                </div>
                <br>
                <div class="row"><!-- item -->
                  <div class="col-md-4"><!-- company logo -->
                    <img src="{% static 'assets/images/brands/2.jpg' %}" class="img-fluid" alt="company logo">
                  </div>
                  <div class="col-md-8"><!-- company detail -->
                    <h4 class="mb-10"> Test Group Two</h4>
                    <ul class="list-inline">
                      <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                      <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                    </ul>
                  </div>
                </div>
            </div>


        </div>

        
        <div class="col-md-8">
          <div class="col-md-12">
            <span style="font-size: 80px;margin-top: 50px;display: block;font-weight: 900;color:#000;font-family: initial;">Shriram Kanawade</span>
            <div class="row">
                <div class="col-md-6"><h1>AGE : 27</h1></div>
                <div class="col-md-6"><h1>CITY : SANGAMNER</h1></div>
            </div>
          </div>

          <div class="col-md-12" style="padding-bottom: 50px;">
            <h3>STATUS UPDATE</h3>
            <div>
              <!-- textarea -->
              <div class="fancy-form">
                <textarea rows="5" class="form-control word-count" data-maxlength="200" data-info="textarea-words-info" placeholder="Status Update..."></textarea>

                <i class="fa fa-comments"><!-- icon --></i>

                <span class="fancy-hint fs-11 text-muted">
                  <strong>Hint:</strong> 200 words allowed!
                  <span class="float-right">
                    <span id="textarea-words-info">0/200</span> Words
                  </span>
                </span>
              </div>
              <a href="#" class="btn btn-3d btn-aqua float-right"><i class="et-tools"></i>Post</a>
            </div>
            
          </div>

          <div class="col-md-12">
            <h3>POST 1</h3>
            <h4 class="mb-0">Managing Editor</h4>
            <p class="mb-0"><b>KisMetro Lifestyle Magazine | 2020-present</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>

          <div class="col-md-12">
            <h3>POST 2</h3>
            <h4 class="mb-0">Managing Editor</h4>
            <p class="mb-0"><b>KisMetro Lifestyle Magazine | 2020-present</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>

          <div class="col-md-12">
            <h3>POST 3</h3>
            <h4 class="mb-0">Managing Editor</h4>
            <p class="mb-0"><b>KisMetro Lifestyle Magazine | 2020-present</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>

          <div class="col-md-12"></div>
        </div>

      </div>
    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>
  {% endblock %}

</body>

</html>