{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}

  <meta charset="utf-8" />
  <title>{{workshopVideo.title}} - Sadbhavana</title>
  <meta name="og:title" content="{{workshopVideo.title}}" />
  <meta property="og:image" content="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{workshopVideo.thumbnail_file}}" />

  {% endblock %}

</head>


<body class="smoothscroll enable-animation">

  {% block content %}

  <section class="page-header dark page-header-xs">
    <div class="container">

      <h1>{{workshopVideo.title}}</h1>
      {% if workshopVideo.tags|length > 0 %}
      <ul class="blog-post-info list-inline">
        <li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
        {% for tag in workshopVideo.tags|split:"," %}
        <li><a href="../search-results?tags={{tag}}"><span class="font-lato btn-outline-warning">#{{tag}}</span></a></li>
        {% endfor %}
      </ul>
      {% endif %}

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <li><a href="{% url 'read' %}" class="trn">{% trans "Read" %}</a></li>
        <li class="active trn">{{workshopVideo.title}}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- -->
  <section>
    <div class="container">
      <div class="row">
        <!-- LEFT -->
        <div class="col-md-12 col-sm-12">
          <!-- article content -->
          <video width="100%" controls>
            <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{ workshopVideo.document_file }}" type="video/mp4">
          </video>
          <!-- article content -->

          <div class="divider divider-dotted">
            <!-- divider -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / -->

  {% endblock %}

  {% block includes %}

  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a> 

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->

  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>
  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>
  {% endblock %}

</body>

</html>
