{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - watch</title>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Workshop: Teaching Adolescents How To Make Films On Smartphones" />
  <meta property="og:description" content="Young adults today have a lot to share. Opinions, views and experiences! It is therefore important to channelize their abilities in a useful manner. More importantly with so much divisiveness that is being spread in mainstream and social media our children need to develop sensitivity on issues of gender, religion, caste and social equality.â€˜Enable India Foundationâ€™ is a communication praxis, formed in 2002 specifically to work towards our articulated goal of empowerment through communication by helping the marginalized articulate their felt needs and build an interface between them and the decision takers." />
  <meta property="og:image" content="http://13.233.159.170/static/assets/images/logo/logo_black.png" />

  <!-- OWL CAROUSEL -->
  <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.theme.default.min.css' %}">

  <!-- Internal CSS -->
  <style>
    @media only screen and (max-width: 768px){
      .nav-tabs {
        display: block !important;
      }
      .my-card-5 {
        height: 300px !important;
        overflow: hidden !important;
      }
    }
    .my-card-5 {
      height: 350px;
      overflow: hidden !important;
    }
    .my-card-1, .my-card-2, .my-card-3, .my-card-4{
      height: 280px;
      overflow: hidden !important;
    }
    .mbr-fonts-style {
      font-size: 14px !important;
    }
    ul.blog-post-info {
      font-size: 12px !important;
      border-bottom: none !important;
    }
    .my-card-1 {
      border: 2px solid #91D8EE !important;
      background-color: #91D8EE !important;
    }
    .my-card-2 {
      border: 2px solid #C6C457 !important;
      background-color: #C6C457 !important;
    }
    .my-card-3 {
      border: 2px solid#A0463E !important;
      background-color: #A0463E !important;
    }
    .my-card-4 {
      border: 2px solid #91D8EE !important;
      background-color: #91D8EE !important;
    }
    .my-card-5 {
      border: 2px solid #C6C457 !important;
      background-color: #C6C457 !important;
    }
    .owl-item > div {
      margin: 0 !important;
    }
    .card {
      margin-bottom: 0 !important;
    }
    .owl-carousel .owl-item img {
      max-height: 140px !important;
    }
    .text-white {
      color: #FFF !important;
    }
    .copy-btn {
      height: 20px !important;
      padding: 0px 5px !important;
      font-size: 11px !important;
      background-color: #007bff !important;
    }
  </style>
  <!-- Internal CSS -->
  {% endblock %}

</head>

<body>

  {% block content %}

  <section class="page-header page-header-xs">
    <div class="container">

      <h1 class="trn">{% trans "Watch" %}</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <li class="active trn">{% trans "Watch" %}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->


  <!-- VIDEO -->
  <section>
    <div class="container-full">

      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link lg active trn" data-toggle="tab">{% trans "Living Gandhians" %}</a></li>
        </ul>

        <div class="co-lg-12 col-md-12" style="margin:0 auto">
          <div class="owl-carousel-1 owl-carousel owl-theme static lang-en en">
            {% for lg in livingGandhiansContent %}
            {% if lg.sub_category_id == 5 %}
                  <div class="item">

                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 150px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="http://www.youtube.com/watch?v={{lg.youtube_id}}" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <iframe width="100%" src="{{lg.iframe_url}}" frameborder="0"
                                allowfullscreen></iframe>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{lg.title}}</strong></h6>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0;height:40px">
                        <ul class="blog-post-info list-inline mb-0">
                          <div class="row" style="padding-left: 5px;padding-right: 5px;margin:0 auto;">
                          <div style="margin: auto;padding: 10px;display: inline-flex;">
                              <div class="fb-share-button" data-href="{{lg.iframe_url}}"
                              data-layout="button" data-size="small">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                              </div>&nbsp;&nbsp;
                              <a data-text="{{lg.title}}...Watch video now" data-link="{{lg.iframe_url}}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>&nbsp;&nbsp;
                              <input id="copy-me-{{lg.id}}" style="display: none;" type="text" value="{{lg.iframe_url}}" id="myInput">
                              <button id="copy-btn-{{lg.id}}" class="btn btn-primary btn-sm copy-btn"><i class="fa fa-clipboard"></i>Copy</button>
                          </div>
                          </div>
                        </ul>
                      </div>
                    </div>

                  </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link rgci active trn" data-toggle="tab">{% trans "Rajiv Gandhi Contribution To India" %}</a></li>
        </ul>

        <div class="co-lg-12 col-md-12" style="margin:0 auto">
          <div class="owl-carousel-1 owl-carousel owl-theme static lang-en en">
            {% for rgci in rgciContent %}
            {% if rgci.sub_category_id == 6 %}
                  <div class="item">

                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 150px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="http://www.youtube.com/watch?v={{rgci.youtube_id}}" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <iframe width="100%" src="{{rgci.iframe_url}}" frameborder="0"
                                allowfullscreen></iframe>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{rgci.title}}</strong></h6>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0;height:40px">
                        <ul class="blog-post-info list-inline mb-0">
                          <div class="row" style="padding-left: 5px;padding-right: 5px; margin:0 auto;">
                          <div style="margin: auto;padding: 10px;display: inline-flex;">
                              <div class="fb-share-button" data-href="{{rgci.iframe_url}}"
                              data-layout="button" data-size="small">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                              </div>&nbsp;&nbsp;
                              <a data-text="{{rgci.title}}...Watch video now" data-link="{{rgci.iframe_url}}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>&nbsp;&nbsp;
                            <input id="copy-me-{{rgci.id}}" style="display: none;" type="text" value="{{rgci.iframe_url}}" id="myInput">
                            <button id="copy-btn-{{rgci.id}}" class="btn btn-primary btn-sm copy-btn"><i class="fa fa-clipboard"></i>Copy</button>
                          </div>
                          </div>
                        </ul>
                      </div>
                    </div>

                  </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link plays active trn" data-toggle="tab">{% trans "Our Videos" %}</a></li>
        </ul>

        <div class="co-lg-12 col-md-12" style="margin:0 auto">
          <div class="owl-carousel-1 owl-carousel owl-theme static lang-en en">
            {% for play in playsContent %}
            {% if play.sub_category_id == 7 %}
                  <div class="item">


                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 150px;margin-bottom: 0px;">

                          {% if play.meta_type == 'Link' %}
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="http://www.youtube.com/watch?v={{play.youtube_id}}" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <iframe width="100%" src="{{play.iframe_url}}" frameborder="0"
                                allowfullscreen></iframe>
                          </a>
                          {% else %}
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{play.document_file}}" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <video width="100%" controls poster="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{play.thumbnail_file}}">
                              <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{play.document_file}}" type="video/mp4">
                            </video>
                          </a>
                          {% endif %}

                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{play.title}}</strong></h6>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0;height:40px">

                        <ul class="blog-post-info list-inline mb-0">
                          {% if play.meta_type == 'Link' %}
                          <div class="row" style="padding-left: 5px;padding-right: 5px; margin:0 auto;">
                          <div style="margin: auto;padding: 10px;display: inline-flex;">
                              <div class="fb-share-button" data-href="{{play.iframe_url}}" 
                              data-layout="button" data-size="small">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                              </div>&nbsp;&nbsp;
                              <a data-text="{{play.title}}...Watch video now" data-link="{{play.iframe_url}}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>&nbsp;&nbsp;
                            <input id="copy-me-{{play.id}}" style="display: none;" type="text" value="{{play.iframe_url}}" id="myInput">
                            <button id="copy-btn-{{play.id}}" class="btn btn-primary btn-sm copy-btn"><i class="fa fa-clipboard"></i>Copy</button>
                          </div>
                          </div>
                          {% else %}
                          <div class="row" style="padding-left: 10px;padding-right: 10px; margin:0 auto;">
                          <div style="margin: auto;padding: 10px;display: inline-flex;">
                              <div class="fb-share-button" data-href="{{baseURL}}/content/watch-video/{{play.id}}"
                              redirect_uri="{{baseURL}}/content/watch-video/{{play.id}}" data-layout="button" data-size="small"><a target="_blank"
                              href="https://www.facebook.com/sharer/sharer.php?u={{baseURL}}%2Fcontent%2Fwatch&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><img style="width: 50px;height: 25px;" src="{% static 'assets/images/fb-share.png' %}" /></a></div>&nbsp;&nbsp;
                              <a data-text="{{play.title}}...Watch video now" data-link="{{baseURL}}/content/watch-video/{{play.id}}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>&nbsp;&nbsp;
                            <input id="copy-me-{{play.id}}" style="display: none;" type="text" value="{{baseURL}}/content/watch-video/{{play.id}}" id="myInput">
                            <button id="copy-btn-{{play.id}}" class="btn btn-primary btn-sm copy-btn"><i class="fa fa-clipboard"></i>Copy</button>
                          </div>
                          </div>
                          {% endif %}
                        </ul>

                      </div>
                    </div>

                  </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link lg active trn" data-toggle="tab">{% trans "Resource" %}</a></li>
        </ul>

        <div class="co-lg-12 col-md-12" style="margin:0 auto">
          <div class="owl-carousel-1 owl-carousel owl-theme static lang-en en">
            {% for resource in resourceContent %}
            {% if resource.sub_category_id == 8 %}
                  <div class="item">

                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 150px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="http://www.youtube.com/watch?v={{resource.youtube_id}}" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <iframe width="100%" src="{{resource.iframe_url}}" frameborder="0"
                                allowfullscreen></iframe>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{resource.title}}</strong></h6>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0;height:40px">
                        <ul class="blog-post-info list-inline mb-0">
                          <div class="row" style="padding-left: 5px;padding-right: 5px; margin:0 auto;">
                          <div style="margin: auto;padding: 10px;display: inline-flex;">
                              <div class="fb-share-button" data-href="{{resource.iframe_url}}"
                              data-layout="button" data-size="small">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                              </div>&nbsp;&nbsp;
                              <a data-text="{{resource.title}}...Watch video now" data-link="{{resource.iframe_url}}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>&nbsp;&nbsp;
                            <input id="copy-me-{{resource.id}}" style="display: none;" type="text" value="{{resource.iframe_url}}" id="myInput">
                            <button id="copy-btn-{{resource.id}}" class="btn btn-primary btn-sm copy-btn"><i class="fa fa-clipboard"></i>Copy</button>
                          </div>
                          </div>
                          </ul>
                      </div>
                    </div>

                  </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link lg active trn" data-toggle="tab">{% trans "Workshop" %}</a></li>
        </ul>

        <div class="co-lg-12 col-md-12" style="margin:0 auto">
          <div class="col-md-12">
            {% if workshopheader %}
            {{ workshopheader.0.summary | safe }}
            {% endif %}
          </div>
          <div class="owl-carousel-1 owl-carousel owl-theme static lang-en en">
            {% for workshop in workshopContent %}
              <div class="item">

                <div class="card card-default">
                  <div class="text-center">
                    <figure style="height: 150px;margin-bottom: 0px;">
                      <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{workshop.document_file}}" data-plugin-options='{"type":"iframe"}'>
                        <span class="image-hover-icon image-hover-dark">
                          <i class="fa fa-search-plus"></i>
                        </span>
                        <video width="100%" controls poster="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{workshop.thumbnail_file}}">
                          <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{workshop.document_file}}" type="video/mp4">
                        </video>
                      </a>
                    </figure>
                  </div>
                  <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                    <h6 class="text-black mb-0"><strong>{{workshop.title}}</strong></h6>
                  </div>
                  <div class="card-footer" style="z-index: 1;padding: 0;height:40px">
                    <ul class="blog-post-info list-inline mb-0">
                      <div class="row" style="padding-left: 5px;padding-right: 5px; margin:0 auto;">
                      <div style="margin: auto;padding: 10px;display: inline-flex;">
                              <div class="fb-share-button" data-href="{{baseURL}}/content/watch-video/{{workshop.id}}"
                              redirect_uri="{{baseURL}}/content/watch-video/{{workshop.id}}" data-layout="button" data-size="small"><a target="_blank"
                              href="https://www.facebook.com/sharer/sharer.php?u={{baseURL}}%2Fcontent%2Fwatch&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><img style="width: 50px;height: 25px;" src="{% static 'assets/images/fb-share.png' %}" /></a></div>&nbsp;&nbsp;
                              <a data-text="{{workshop.title}}...Watch video now" data-link="{{baseURL}}/content/watch-video/{{workshop.id}}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>&nbsp;&nbsp;
                        <input id="copy-me-{{workshop.id}}" style="display: none;" type="text" value="{{baseURL}}/content/watch-video/{{workshop.id}}" id="myInput">
                        <button id="copy-btn-{{workshop.id}}" class="btn btn-primary btn-sm copy-btn"><i class="fa fa-clipboard"></i>Copy</button>
                      </div>
                      </div>
                      </ul>
                  </div>
                </div>

              </div>
            {% endfor %}
          </div>
        </div>
      </div>


      <div class="row">

        <ul class="nav nav-tabs nav-justified" style="width: 100%;">
          <li class="nav-item"><a class="nav-link lg active trn" data-toggle="tab">{% trans "STEM-AT-HOME by My STEM Lab" %}</a></li>
        </ul>

        <div class="co-lg-12 col-md-12" style="margin:0 auto">
          <div class="col-md-12">
            {% if stemathomeheader %}
            {{ stemathomeheader.0.summary | safe }}
            {% endif %}
          </div>
          <div class="owl-carousel-1 owl-carousel owl-theme static lang-en en">
            {% for stemathome in stemathomeContent %}
            {% if stemathome.sub_category_id == 12 %}
                  <div class="item">

                    <div class="card card-default">
                      <div class="text-center">
                        <figure style="height: 150px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="http://www.youtube.com/watch?v={{stemathome.youtube_id}}" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <iframe width="100%" src="{{stemathome.iframe_url}}" frameborder="0"
                                allowfullscreen></iframe>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0.25rem 0.25rem;height:60px;background-color: #fff;">
                        <h6 class="text-black mb-0"><strong>{{stemathome.title}}</strong></h6>
                      </div>
                      <div class="card-footer" style="z-index: 1;padding: 0;height:40px">
                        <ul class="blog-post-info list-inline mb-0">
                          <div class="row" style="padding-left: 5px;padding-right: 5px; margin:0 auto;">
                          <div style="margin: auto;padding: 10px;display: inline-flex;">
                              <div class="fb-share-button" data-href="{{stemathome.iframe_url}}"
                              data-layout="button" data-size="small">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                              </div>&nbsp;&nbsp;
                              <a data-text="{{stemathome.title}}...Watch video now" data-link="{{stemathome.iframe_url}}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>&nbsp;&nbsp;
                            <input id="copy-me-{{stemathome.id}}" style="display: none;" type="text" value="{{stemathome.iframe_url}}" id="myInput">
                            <button id="copy-btn-{{stemathome.id}}" class="btn btn-primary btn-sm copy-btn"><i class="fa fa-clipboard"></i>Copy</button>
                          </div>
                          </div>
                          </ul>
                      </div>
                    </div>

                  </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </section>
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->

  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>
  <script src="{% static 'assets/js/social-share.js' %}"></script>

<script>

	var delay = 1000;
	setTimeout(function() {
		$('#preloader').remove();
	}, delay);

  setTimeout(function(){
    if($('#preloader').length == 0){
      console.log("preloader");
      $("#workshop").removeClass("active");
      $("#workshop").removeClass("hidden");
      $("#rgci").removeClass("active");
      $("#rgci").removeClass("hidden");
      $("#plays").removeClass("active");
      $("#plays").removeClass("hidden");
      console.log("clear");
    }
  }, 15000);

  $(window).on("load", function () {

    {% for resource in resourceContent %}
      {% if resource.sub_category_id == 8 %}
        $("#resources_{{resource.id}}").attr("src", '{{resource.iframe_url}}');
      {% endif %}
    {% endfor %}

    {% for play in playsContent %}
      {% if play.sub_category_id == 7 %}
        {% if play.meta_type == 'Link' %}
          $("#plays_{{play.id}}").attr("src", '{{play.iframe_url}}');
        {% endif %}
      {% endif %}
    {%  endfor %}

    {% for rgci in rgciContent %}
      {% if rgci.sub_category_id == 6 %}
        $("#rgci_{{rgci.id}}").attr("src", '{{rgci.iframe_url}}');
      {% endif %}
    {% endfor %}

    {% for stemathome in stemathomeContent %}
      {% if stemathome.sub_category_id == 12 %}
        $("#stemathome_{{stemathome.id}}").attr("src", '{{stemathome.iframe_url}}');
      {% endif %}
    {% endfor %}

  });

  function workshopFun() {
    if($('#preloader').length == 0){
      clearInterval(i);
      $("#workshop").removeClass("active");

      $.urlParam = function(name){
        var results = new RegExp('[\%23&#]' + name + '=([^&#]*)').exec(window.location.href);
        return results[1] || 0;
      }

      var param = $.urlParam('workshop'); // name
      if(param == 4){
        console.log('in if');
        $('#lg').removeClass('active');
        $('#workshop').addClass('active show');
        $('#workshopTab').children().addClass('active');
        $('#lgTab').children().removeClass('active');
      }
    }
  }
  var i = setInterval(workshopFun ,20000);

  $('.owl-carousel-1').owlCarousel({
        loop: true,
        margin: 0,
        addClassActive: true,
        responsiveClass: true,
        responsive: {
          0: {
            items: 2,
            video: true,
            center: true,
            dots: false,
            loop: false,
            nav: true,
            slideBy: 1,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
          },
          600: {
            items: 3,
            video: true,
            dots: false,
            loop: false,
            nav: true,
            slideBy: 3,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
          },
          1000: {
            items: 5,
            video: true,
            nav: true,
            dots: false,
            loop: false,
            margin: 20,
            slideBy: 5,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
          }
        }
      })

      {% for lg in livingGandhiansContent %}
        var copyBtn{{lg.id}}   = $("#copy-btn-{{lg.id}}");
        var input{{lg.id}}     = $("#copy-me-{{lg.id}}");

        function copyToClipboardFF(text) {
        window.prompt ("Copy to clipboard: Ctrl C, Enter", text);
        }

        function copyToClipboard{{lg.id}}() {

        var success   = true,
          range     = document.createRange(),
          selection;

        // For IE.
        if (window.clipboardData) {
        window.clipboardData.setData("Text", input{{lg.id}}.val());
        } else {
        // Create a temporary element off screen.
        var tmpElem = $('<div>');
        tmpElem.css({
          position: "absolute",
          left:     "-1000px",
          top:      "-1000px",
        });
        // Add the input value to the temp element.
        tmpElem.text(input{{lg.id}}.val());
        $("body").append(tmpElem);
        // Select temp element.
        range.selectNodeContents(tmpElem.get(0));
        selection = window.getSelection ();
        selection.removeAllRanges ();
        selection.addRange (range);
        // Lets copy.
        try {
          success = document.execCommand ("copy", false, null);
        }
        catch (e) {
          copyToClipboardFF(input{{lg.id}}.val());
        }
        if (success) {
          alert ("Link copied to the clipboard!");
          // remove temp element.
          tmpElem.remove();
        }
        }
        }

        copyBtn{{lg.id}}.on('click', copyToClipboard{{lg.id}});
      {% endfor %}

      {% for resource in resourceContent %}
        var copyBtn{{resource.id}}   = $("#copy-btn-{{resource.id}}");
        var input{{resource.id}}     = $("#copy-me-{{resource.id}}");

        function copyToClipboardFF(text) {
        window.prompt ("Copy to clipboard: Ctrl C, Enter", text);
        }

        function copyToClipboard{{resource.id}}() {

        var success   = true,
          range     = document.createRange(),
          selection;

        // For IE.
        if (window.clipboardData) {
        window.clipboardData.setData("Text", input{{resource.id}}.val());
        } else {
        // Create a temporary element off screen.
        var tmpElem = $('<div>');
        tmpElem.css({
          position: "absolute",
          left:     "-1000px",
          top:      "-1000px",
        });
        // Add the input value to the temp element.
        tmpElem.text(input{{resource.id}}.val());
        $("body").append(tmpElem);
        // Select temp element.
        range.selectNodeContents(tmpElem.get(0));
        selection = window.getSelection ();
        selection.removeAllRanges ();
        selection.addRange (range);
        // Lets copy.
        try {
          success = document.execCommand ("copy", false, null);
        }
        catch (e) {
          copyToClipboardFF(input{{resource.id}}.val());
        }
        if (success) {
          alert ("Link copied to the clipboard!");
          // remove temp element.
          tmpElem.remove();
        }
        }
        }

        copyBtn{{resource.id}}.on('click', copyToClipboard{{resource.id}});
      {% endfor %}

      {% for rgci in rgciContent %}
        var copyBtn{{rgci.id}}   = $("#copy-btn-{{rgci.id}}");
        var input{{rgci.id}}     = $("#copy-me-{{rgci.id}}");

        function copyToClipboardFF(text) {
        window.prompt ("Copy to clipboard: Ctrl C, Enter", text);
        }

        function copyToClipboard{{rgci.id}}() {

        var success   = true,
          range     = document.createRange(),
          selection;

        // For IE.
        if (window.clipboardData) {
        window.clipboardData.setData("Text", input{{rgci.id}}.val());
        } else {
        // Create a temporary element off screen.
        var tmpElem = $('<div>');
        tmpElem.css({
          position: "absolute",
          left:     "-1000px",
          top:      "-1000px",
        });
        // Add the input value to the temp element.
        tmpElem.text(input{{rgci.id}}.val());
        $("body").append(tmpElem);
        // Select temp element.
        range.selectNodeContents(tmpElem.get(0));
        selection = window.getSelection ();
        selection.removeAllRanges ();
        selection.addRange (range);
        // Lets copy.
        try {
          success = document.execCommand ("copy", false, null);
        }
        catch (e) {
          copyToClipboardFF(input{{rgci.id}}.val());
        }
        if (success) {
          alert ("Link copied to the clipboard!");
          // remove temp element.
          tmpElem.remove();
        }
        }
        }

        copyBtn{{rgci.id}}.on('click', copyToClipboard{{rgci.id}});
      {% endfor %}

      {% for play in playsContent %}
        var copyBtn{{play.id}}   = $("#copy-btn-{{play.id}}");
        var input{{play.id}}     = $("#copy-me-{{play.id}}");

        function copyToClipboardFF(text) {
        window.prompt ("Copy to clipboard: Ctrl C, Enter", text);
        }

        function copyToClipboard{{play.id}}() {

        var success   = true,
          range     = document.createRange(),
          selection;

        // For IE.
        if (window.clipboardData) {
        window.clipboardData.setData("Text", input{{play.id}}.val());
        } else {
        // Create a temporary element off screen.
        var tmpElem = $('<div>');
        tmpElem.css({
          position: "absolute",
          left:     "-1000px",
          top:      "-1000px",
        });
        // Add the input value to the temp element.
        tmpElem.text(input{{play.id}}.val());
        $("body").append(tmpElem);
        // Select temp element.
        range.selectNodeContents(tmpElem.get(0));
        selection = window.getSelection ();
        selection.removeAllRanges ();
        selection.addRange (range);
        // Lets copy.
        try {
          success = document.execCommand ("copy", false, null);
        }
        catch (e) {
          copyToClipboardFF(input{{play.id}}.val());
        }
        if (success) {
          alert ("Link copied to the clipboard!");
          // remove temp element.
          tmpElem.remove();
        }
        }
        }

        copyBtn{{play.id}}.on('click', copyToClipboard{{play.id}});
      {% endfor %}

      {% for workshop in workshopContent %}
        var copyBtn{{workshop.id}}   = $("#copy-btn-{{workshop.id}}");
        var input{{workshop.id}}     = $("#copy-me-{{workshop.id}}");

        function copyToClipboardFF(text) {
        window.prompt ("Copy to clipboard: Ctrl C, Enter", text);
        }

        function copyToClipboard{{workshop.id}}() {

        var success   = true,
          range     = document.createRange(),
          selection;

        // For IE.
        if (window.clipboardData) {
        window.clipboardData.setData("Text", input{{workshop.id}}.val());
        } else {
        // Create a temporary element off screen.
        var tmpElem = $('<div>');
        tmpElem.css({
          position: "absolute",
          left:     "-1000px",
          top:      "-1000px",
        });
        // Add the input value to the temp element.
        tmpElem.text(input{{workshop.id}}.val());
        $("body").append(tmpElem);
        // Select temp element.
        range.selectNodeContents(tmpElem.get(0));
        selection = window.getSelection ();
        selection.removeAllRanges ();
        selection.addRange (range);
        // Lets copy.
        try {
          success = document.execCommand ("copy", false, null);
        }
        catch (e) {
          copyToClipboardFF(input{{workshop.id}}.val());
        }
        if (success) {
          alert ("Link copied to the clipboard!");
          // remove temp element.
          tmpElem.remove();
        }
        }
        }

        copyBtn{{workshop.id}}.on('click', copyToClipboard{{workshop.id}});
      {% endfor %}

</script>

 {% endblock %}

</body>

</html>
