<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - DR B R AMBEDKAR</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/012/medium/ambedkar_inc.jpg?1505457469" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>DR B R AMBEDKAR</h1>
        <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">DR B R AMBEDKAR</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <img class="float-left"
              src="https://cdn.inc.in/inspirations/thumbnails/000/000/012/medium/ambedkar_inc.jpg?1505457469" alt="">
            <p>It takes courage to break free from the shackles of social inequality. It takes enormous amounts of
              courage to believe that things can change. It takes a leader to fight these inequalities and establish a
              new social order.</p>
            <p>Babasaheb Dr Bhimrao Ramji Ambedkar was a scholar, a social reformer and a leader who dedicated his life
              to eradicating social inequality in India. He established an India of equals, a country which provided
              greater opportunities for people who were historically disadvantaged.</p>
            <p>Babasaheb’s family was from the Mahar community and came from the Ambavade town of Mandangad taluka in
              the Ratnagiri district of Maharashtra. However, he was born in the military cantonment town of Mhow, now
              in Madhya Pradesh on 14 April 1891 as his father was then a Subedar Major with the Mahar Regiment of the
              Indian Army.</p>
            <p>He went to a government school where children from lower castes, regarded as untouchables, were
              segregated and given little attention or assistance by the teachers and not allowed to sit inside the
              classroom. Students from the community had to go without water if the peon did not report for duty. In
              1894, Babasaheb's family moved to Satara in Maharashtra, and his mother passed away shortly after their
              family moved to Satara.</p>
            <p>His teacher Mahadev Ambedkar, a Brahmin, was fond of him and changed his surname from 'Ambavadekar' to
              his own surname 'Ambedkar' in school records. In 1897, Babasaheb’s family moved to Bombay. He married
              Ramabai in 1906 when he was 15 and Ramabai nine years old. This however, did not deter him in his academic
              pursuits as he passed the matriculation examination in 1907 and entered the Elphinstone College the
              following year, becoming the first person from an untouchable community to do so.</p>
            <p>By 1912, he obtained his degree in Economics and Political Science from Bombay University and took up
              employment with the government of the princely state of Baroda. This opened up new avenues for Babasaheb
              as he got an opportunity to pursue his post-graduation at the Columbia University in the United States in
              1913 through a Baroda State Scholarship instituted by the Gaekwads of Baroda awarding £11.50 (Sterling)
              per month for three years.</p>
            <p>He passed his MA exam in June 1915 majoring in Economics, with Sociology, History, Philosophy and
              Anthropology as other subjects of study; he presented a thesis ‘Ancient Indian Commerce’. In 1916 he
              offered another MA thesis, ‘National Dividend of India - A Historic and Analytical Study’.</p>
            <p>On 9 May, he read his paper ‘Castes in India: Their Mechanism, Genesis and Development’ before a seminar
              conducted by the anthropologist Alexander Goldenweiser. In October 1916 he studied for the Bar examination
              at Gray's Inn, and enrolled at the London School of Economics where he started work on a doctoral thesis.
            </p>
            <p>In June 1917 he was obliged to go back to India as the term of his scholarship from Baroda ended, however
              he was given permission to return and submit his thesis within four years. He was appointed as Military
              Secretary to the Gaekwads of Baroda but had to quit within a short time, pushing him into financial
              hardship.</p>
            <p>In 1918 he became Professor of Political Economy in the Sydenham College of Commerce and Economics in
              Bombay and though he was very popular with his students, he had to face discrimination from his
              colleagues.</p>
            <p>It was during this period that Babasaheb started taking greater interest in politics as he was invited to
              testify before the Southborough Committee, which was preparing the Government of India Act 1919. During
              this hearing he argued for creating separate electorates and reservations for untouchables and other
              religious communities.</p>
            <p>In 1920, he began publication of the weekly Mooknayak in Mumbai with the help of Chhatrapati Shahu
              Maharaj, Maharaja of Kolhapur. A social reformer, the Maharaja played a pioneering role in opening up
              education and employment to people of all castes. Babasaheb continued to fight for justice for the
              untouchables in the years that followed, as a practicing lawyer and as a social reformer.</p>
            <p>By 1927, he decided to launch active movements against untouchability and espousing access to public
              drinking water resources and the right to enter Hindu temples. He led a satyagraha in Mahad to fight for
              the right of the untouchable community to draw water from the main water tank of the town.</p>
            <p>He was appointed to the Bombay Presidency Committee to work with the Simon Commission in 1925. While the
              Commission had faced protests across India and its report was largely ignored, Babasaheb himself wrote a
              separate set of constitutional recommendations for the future.</p>
            <p>Babasaheb was invited to attend the Second Round Table Conference in London in 1932 but Mahatma Gandhi
              was opposed to a separate electorate for untouchables as this would split the nation.</p>
            <p>In 1932, the British announced a Communal Award of a separate electorate, Gandhi ji protested by fasting
              while imprisoned in the Yerwada Central Jail of Poona. This resulted in an agreement widely known as the
              Poona Pact in which Gandhi ji ended his fast and Babasaheb dropped his demand for a separate electorate.
              Instead, a certain number of seats were reserved specifically for the ‘Depressed Class’.</p>
            <p>In 1935, Babasaheb was appointed principal of the Government Law College in Mumbai and continued in that
              position for two years. He lost his wife Ramabai during this period and this marked the beginning of an
              important chapter in Babasaheb’s life.</p>
            <p>On 13 October that year, he announced his intention to convert to a different religion and exhorted his
              followers to leave Hinduism while speaking at the Yeola Conversion Conference in Nasik and repeated his
              message all through the country.</p>
            <p>In 1936, Babasaheb Ambedkar founded the Independent Labour Party, which contested the 1937 Bombay
              election to the Central Legislative Assembly for the 13 reserved and 4 general seats, securing 11 and 3
              seats respectively. He served on the Defence Advisory Committee and the Viceroy's Executive Council as
              minister for Labour during this period.</p>
            <p>This is also the period when Babasaheb wrote extensively on the condition of Dalits and the caste system
              in Hindu society. During this period, Babasaheb renamed his party as the Scheduled Castes Federation which
              later evolved into the Republican Party of India.</p>
            <p>He was initially elected to the Constituent Assembly from Bengal but his seat went to Pakistan following
              the Partition of India. He was subsequently elected from the Bombay Presidency in place of a senior jurist
              Jaykar, ahead of Shri GV Mavalankar.</p>
            <p>India became an Independent nation on 15 August, 1947 and Babasaheb Ambedkar was appointed as the Union
              Law Minister and Chairman of the Constitution Drafting Committee, which was given the responsibility to
              write India's new Constitution.</p>
            <p>Babasaheb Ambedkar’s text provided constitutional guarantees and protections for a wide range of civil
              liberties for individual citizens, including freedom of religion, the abolition of untouchability and the
              outlawing of all forms of discrimination. Granville Austin described the Indian Constitution as 'first and
              foremost a social document'.</p>
            <p>He argued for equality and also won wide support for introducing a system of reservations of jobs for
              members of scheduled castes and scheduled tribes in the civil services, schools and colleges. This was
              aimed at providing a voice to people who had suffered grave injustices through centuries.</p>
            <p>The Constituent Assembly formally approved the draft Constitution on 26 November 1949 and Babasaheb’s
              greatest work, the Indian Constitution, became our way of life on 26 January 1950.</p>
            <p>Struggle was a part of Babasaheb’s life as he had to work hard for everything he achieved. While he is
              remembered for his relentless crusade for a new social order, the Indian nation shall always remain
              indebted to him for giving us a Constitution that defines our core values as a nation.</p>
            <p>He was the man who made us a nation of equals.</p>


            <div class="fb-share-button" data-href="http://sadbhavana.net/biographies-en/DR-B-R-AMBEDKAR.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="It takes courage to break free from the shackles of social inequality. It takes enormous amounts of
            courage to believe that things can change. It takes a leader to fight these inequalities and establish a
            new social order...Read more" data-link="https://tinyurl.com/y2ke634k" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>

            <!-- article content -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
