<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - SARDAR VALLABHBHAI PATEL</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/008/medium/Patel_inc.jpg?1505456114" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>SARDAR VALLABHBHAI PATEL</h1>
        <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">SARDAR VALLABHBHAI PATEL</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <img class="float-left"
              src="https://cdn.inc.in/inspirations/thumbnails/000/000/008/medium/Patel_inc.jpg?1505456114" alt="">
            <div class="heading-title">
              <h5>Early Life</h5>
            </div>
            <p>Vallabhbhai Jhaverbhai Patel, one of the six children of Jhaverbhai Patel and Ladba, was born in Nadiad,
              Gujarat. There is no record of his date of birth. The generally accepted date, October 31, 1875, of which
              the source is his Matriculation certificate, was chosen by Vallabhbhai himself while filling in a form.
            </p>
            <p>The family was an agriculturist one of the Lewa Patidar Community, and could in terms of economic status
              be described as lower middle-class. It was poor and had no tradition of education.</p>
            <p>Vallabhbhai’s childhood was spent away from books, in the ancestral fields at Karamsad. He was already in
              his late teens when he passed out from the Middle School at Karamsad and went to the High School at
              Nadiad, from where he matriculated in 1897.</p>
            <p>Even as a young boy Vallabhbhai displayed qualities of organization and leadership that marked him out
              for his future role. Once as a sixth-form boy he organized a successful strike of his classmates that
              lasted for three days to teach a lesson to one of the teachers who was unduly fond of the rod.</p>
            <p>Vallabhbhai must have inherited these attributes from his father who, it is said, had fought in the
              Mutiny under the Rani of Jhansi and was subsequently taken prisoner by Malhar Rao Holkar.</p>
            <div class="heading-title">
              <h5>Early Career</h5>
            </div>
            <p>Vallabhbhai was a mature young man of twenty-two when he matriculated. Owing to the impecunious
              circumstances of the family, higher education was not within his reach. The next best thing was to take a
              course in law and set up as a country lawyer. This he did and established a small practice at Godhra.</p>
            <p>But an attack of plague, which he contracted while nursing a friend, made him leave the town and after
              spending some time in Nadiad, he moved on to Borsad in 1902, a town in the Kheda district where at that
              time the largest number of criminal cases in Gujarat were recorded.</p>
            <p>Vallabhbhai became quite popular here as a defence lawyer. Vallabhbhai now wanted to go to England and
              qualify as a Barrister. From his practice at Borsad he had earned enough for his expenses there but owing
              to certain circumstances he was not able to make the trip at once.</p>
            <p>His brother Vithalbhai expressed his desire to complete his education in an English firm and Vallabhbhai
              readily acquiesced to this and even paid for his stay. His wife, Zaverbai, died early in 1909 after an
              operation for some abdominal malady. When news of the bereavement reached Vallabhbhai, he was
              cross-examining a witness in a murder case at Anand.</p>
            <p>With an impregnable composure for which he became known later, he did not show grief but went on with the
              cross-examination in hand. He finally sailed for England in 1910 and joined the Middle Temple. Here he
              worked so hard and conscientiously that he topped in Roman Law, securing a prize, and was called to the
              Bar at the end of two years instead of the usual period of three years.</p>
            <p>On his return to India in 1913, he set up practice in Ahmedabad and made a great success of it. He had
              ready wit, a fund of common sense and a deep sympathy for those who were the objects of the British
              officials' wrath and were caught in the clutches of the law, which was not uncommon in the Kheda district.
              He came to enjoy a respected position in public life due to his eminence as a Barrister.</p>
            <div class="heading-title">
              <h5>Early Political Career</h5>
            </div>
            <p>He accepted Mahatma Gandhi's leadership, having been tremendously impressed by the fearless lead that
              Mahatma Gandhi gave to right public wrongs. In 1917 he was elected for the first time as the Sanitation
              Commissioner of Ahmedabad.</p>
            <p>From 1924 to 1928 he was Chairman of the Municipal Committee. The years of his association with the
              Municipal administration were marked by much meaningful work for the improvement of civic life. Work was
              done to improve water supply, sanitation and town planning and the Municipality was transformed, from
              being a mere adjunct to the British rule, into a popular body with a will of its own.</p>
            <p>There were also calamities like plague in 1917 and famine in 1918, and on both occasions Vallabhbhai did
              important work to relieve distress. In 1917 he was elected Secretary of the Gujarat Sabha, a political
              body which was of great assistance to Gandhiji in his campaigns.</p>
            <p>The association with Mahatma Gandhi became closer during the Kheda Satyagraha in 1918, which was launched
              to secure exemption from payment of the land revenue assessment since the crops had failed. It took three
              months of intense campaigning that was marked by arrests, seizures of goods, chattels, livestock and much
              official brutality before relief was secured from an unwilling Colonial Government.</p>
            <p>Gandhiji said that if it were not for Vallabhbhai's assistance "this campaign would not have been carried
              through so successfully". The five years from 1917 to 1922 were years of popular agitation in India. The
              end of the war was followed by the Rowlatt Act and still further curtailment of individual freedom.</p>
            <p>And then followed the Khilafat movement with massacres and terror in the Punjab. Gandhiji and the
              Congress decided on non-cooperation. Vallabhbhai left his practice for good and gave himself up wholly to
              political and constructive work, touring villages, addressing meetings, organizing picketing of foreign
              cloth shops and liquor shops.</p>
            <p>Then came the Bardoli Satyagraha. The occasion for the Satyagraha was the Government's decision to
              increase the assessment of land revenue from Bardoli taluka by 22 per cent and in some villages by as much
              as 50 to 60 per cent.</p>
            <p>Having failed to secure redress by other means, the agriculturists of the taluka decided at a Conference
              on February 12, 1928, to withhold payment of land revenue under the leadership of Vallabhbhai Patel.</p>
            <p>The struggle was grim and bitter. There were seizures of property and livestock to such an extent that
              for days on end, people kept themselves and their buffaloes locked in. Arrests followed and then
              brutalities of the police and the hired Pathans.</p>
            <p>The struggle drew the attention of the whole country to it. Patels and Talatis resigned their jobs.
              Government revenues remained unrealized. The Government had to ultimately bow before popular resolve and
              an inquiry was instituted to find out to what extent the increase was justified and the realization of the
              increased revenue was postponed.</p>
            <p>It was a triumph not only of the 80,000 peasants of Bardoli but more particularly of Vallabhbhai
              personally; he was given the title of "Sardar" by the nation.</p>
            <div class="heading-title">
              <h5>Role in Indian National Movement</h5>
            </div>
            <p>About this time the political situation in the country was approaching a crisis. The Congress had
              accepted its goal of Purna Swaraj for the country, while the British Government through their policy of
              pitting one interest against another and through constitutional tricks, were trying to stifle the voice of
              freedom and doing everything they could to reinforce their rule.</p>
            <p>The boycott of the Simon Commission was followed by the launching of the famous Salt Satyagraha by
              Gandhiji. Vallabhbhai Patel, though he had not committed any breach of the Salt Law, was the first of the
              national leaders to be arrested. He was in fact arrested on March 7, 1930 - some days before Gandhiji set
              out on the march to Dandi. He was released in June.</p>
            <p>By then Gandhiji, Jawaharlal Nehru and other leaders were in jail and the tempo of the struggle in the
              country was rising. In a few months Vallabhbhai was back in prison.</p>
            <p>In March 1931 Vallabhbhai presided over the 46th session of the Indian National Congress which was called
              upon to ratify the Gandhi-lrwin Pact, which had just then been concluded.</p>
            <p>The task was not an easy one, for Bhagat Singh and a few others had been executed on the very day the
              Congress session opened and delegates, particularly the younger sections, were in an angry mood, while
              Jawaharlal Nehru and Subhas Chandra Bose were not happy with the terms of the Pact.</p>
            <p>But the Congress finally put its seal on the Pact with one voice. Civil Disobedience was suspended,
              political prisoners were released and the Congress agreed to participate in the Round Table Conference.
            </p>
            <p>The Round Table Conference failed. Gandhiji and other top leaders were arrested and a policy of
              repression followed. Vallabhbhai Patel was lodged with Gandhiji in Yeravada Jail and they were together
              there for sixteen months-from January 1932 to May 1933.</p>
            <p>Vallabhbhai then spent another year in the Nasik Jail. When the Government of India Act 1935 came, the
              Congress, though generally critical of the Act, decided to try out those of its constitutional provisions
              that seemed to grant to Indians a measure of self-government and to take part in the elections for
              Provincial legislatures that were envisaged under it.</p>
            <p>In seven of the eleven Provinces, Congress majorities were returned and Congress Ministries were formed.
              Vallabhbhai Patel, as Chairman of the Congress Parliamentary Sub-Committee, guided and controlled the
              activities of these Ministries.</p>
            <p>Not for very long, however, for, on September 3, 1939 when Britain declared war on Germany, the Viceroy
              without consulting either the Central or the Provincial Legislatures, proclaimed India as having entered
              the war as an ally of Britain.</p>
            <p>The Congress could not accept this position and the Congress Ministries resigned. Gandhiji launched
              Individual Civil Disobedience opposing India's participation in the war, and the Congress leaders began to
              court arrest. Vallabhbhai Patel was arrested on November 17, 1940. He was released on August 20, 1941 on
              grounds of health.</p>
            <p>Then the All India Congress Committee passed the famous Quit India resolution in Bombay on August 8,
              1942, and Vallabhbhai, along with the other members of the Working Committee, was arrested on August 9,
              1942 and detained in the Ahmednagar Fort while Gandhiji, Kasturba and Mahadev Desai were detained in the
              Aga Khan's Palace.</p>
            <p>The Sardar was in jail for about three years this time. When, at the end of the war, the Congress leaders
              were freed and the British Government decided to find a peaceful constitutional solution to the problem of
              India's Independence, Vallabhbhai Patel was one of the chief negotiators of the Congress.</p>
            <div class="heading-title">
              <h5>Contributions in Post Independence India</h5>
            </div>
            <p>When India attained Independence he became the Deputy Prime Minister and was responsible for the Home,
              States and the Information and Broadcasting portfolios.</p>
            <p>It was in this capacity that he was called upon to tackle the most intricate and baffling problem of the
              States' integration into the Union of India. And it is here that his tact, his powers of persuasion and
              his statesmanship came into full play.</p>
            <p>He handled the question as only he could have handled it, managing, in less than a year's time, to reduce
              the Princely States from 562 to 26 administrative units and bringing democracy to nearly 80 million people
              of India, comprising almost 27 per cent of the country's population. The integration of the States could
              certainly be termed as the crowning achievement of Vallabhbhai Patel's life. But for him, this may not
              have been achieved easily and quickly.</p>
            <p>As Minister of Home Affairs, he presided over efforts to bring back order and peace to a country ravaged
              by communal strife unprecedented in its history. He accomplished this task with the ruthless efficiency of
              a great administrator.</p>
            <div class="heading-title">
              <h5>Role After Partition</h5>
            </div>
            <p>He sorted out the problems of partition, restored law and order and dealt with the rehabilitation of
              thousands of refugees with great courage and foresight. He reorganised our Services which had become
              depleted with the departure of the British and formed a new Indian Administrative Service, to provide a
              stable administrative base to our new democracy.</p>
            <div class="heading-title">
              <h5>Contribution to Congress Party</h5>
            </div>
            <p>While Gandhiji gave to the Congress a programme for a broad-based action, it was Vallabhbhai who built up
              the Party machinery so as to carry out that programme. No one before him had given adequate thought to the
              need of having an effective organisation, but Vallabhbhai realised this need during his campaigns and
              devoted his organisational talents and energy to building up the strength of the Party which could now
              fight in an organised and effective manner.</p>
            <p>His grip over the Party organisation was complete. Vallabhbhai Patel was thus one of the chief architects
              and guardians of India's freedom and his contribution towards consolidating the freedom of the country
              remains unrivalled.</p>
            <div class="heading-title">
              <h5>Death</h5>
            </div>
            <p>He died on December 15, 1950, leaving behind a son, Dahyabhai Patel, and a daughter, Maniben Patel.</p>


            <div class="fb-share-button" data-href="http://sadbhavana.net/biographies-en/SARDAR-VALLABHBHAI-PATEL.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="Vallabhbhai Jhaverbhai Patel, one of the six children of Jhaverbhai Patel and Ladba, was born in Nadiad,
            Gujarat. There is no record of his date of birth. The generally accepted date, October 31, 1875, of which
            the source is his Matriculation certificate...Read more" data-link="https://tinyurl.com/y2xnsz3r" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>


            <!-- article content -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
