{% extends 'base-engage.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Profile</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            padding: 10px;
        }
        
        .border-corners {
            position: relative;
            display: table;
            width: 100%;
            height: auto;
            /* background: url("http://placehold.it/200x100")
                        no-repeat
                        top left; */
        }
        
        .border-corners:before,
        .border-corners:after {
            content: "";
            position: absolute;
            width: 230px;
            height: 230px;
            border: solid #B3030A;
            border-width: 25px 25px 0 0;
            display: block;
        }
        
        .border-corners:before {
            right: 0px;
            top: -0px;
            /* z-index: 1; */
        }
        
        .border-corners:after {
            border-width: 0 0 25px 25px;
            bottom: 0px;
            left: 0px;
        }
    
        .border-corners:hover:after,
        .border-corners:hover:before {
            display: block;
        }

        .profile-img:hover .overlay {
          display: block;
          background: rgba(0, 0, 0, .3);
        }

        .flexbox {
          display: flex !important;
        }

        /* .button {
          position: absolute;
          width: 100%;
          left: -11%;
          top: 3%;
          text-align: right;
          opacity: 0;
          transition: opacity .35s ease;
        }

        .profile-img:hover .button {
          opacity: 1;
        }

        .button a {
          padding: 5px 5px;
          text-align: center;
          color: white;
          border: solid 1px white;
          z-index: 1;
          font-size: 12px;
        } */
        

        @media only screen and (max-width: 768px) {
          .border-corners:after {
            display: none;
          }
          .border-corners:before {
            display: none;
          }
        }
    
    </style>
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->
  <section style="padding:0 !important;">
    <div class="container border-corners" style="border: 1px solid #c0c0c0;">
      <div class="row" style="padding-right: 0px;padding-left: 0px;">

        <div class="col-md-4" style="background-color: #84f7f7">

            <h3 style="padding-top: 50px;padding-left: 15px;padding-right: 15px;">Friends With</h3>
            <div class="row" style="padding-left: 30px;padding-right: 30px;padding-bottom: 20px;">
                
                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/people/300x300/7-min.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Mark Joe</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Tom Riddle</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/people/300x300/8-min.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Robert  Cena</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 text-right">
                  <a href="{% url 'friends' %}" type="button" class="btn btn-primary btn-sm">See All</a>
                </div>
                
            </div>

            <h3>Groups</h3>
            <div class="row" style="padding-left: 30px;padding-right: 30px;padding-bottom: 20px;">

                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/brands/5.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Peace of Mind</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/brands/8.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Test Group</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/brands/2.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10"> Test Group Two</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 text-right">
                  <a href="{% url 'groups-engage' %}" type="button" class="btn btn-primary btn-sm">See All</a>
                </div>

            </div>


        </div>

        
        <div class="col-md-8" style="padding-bottom: 50px;">

          <div class="col-md-12" style="padding-bottom: 20px;margin-top: 50px;">
            <div>

              <div class="row">
                <h3>WORK AND EDUCATION</h3>
                <div class="col-md-12 col-sm-12">
                  <h4>Add a workplace</h4>
                  <hr>
                  <h4 style="color:blue;padding-bottom: 50px;"><a>+ Write some details about yourself</a></h4>
                </div>
                <div class="col-md-12 col-sm-12">
                  <h4>Personal skills</h4>
                  <hr>
                  <h4 style="color:blue;padding-bottom: 50px;"><a>+ Add a nick name, birth name...</a></h4>
                </div>
                <div class="col-md-12 col-sm-12">
                  <h4>University</h4>
                  <hr>
                  <h4 style="color:blue;padding-bottom: 50px;"><a>+ Add your favourite quotations</a></h4>
                </div>
              </div>

              <div class="row">
                <h3>CONTACT AND BASIC INFO</h3>
                <div class="col-md-12 col-sm-12">
                  <h4>Contact information</h4>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">Mobile phones</div>
                    <div class="col-md-5 col-11">9876543210</div>
                    <div class="col-md-1 col-1"><i class="fa fa-pencil"></i></div>
                  </div>
                  <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-5 col-11">9876543210</div>
                    <div class="col-md-1 col-1"><i class="fa fa-pencil"></i></div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">Email</div>
                    <div class="col-md-5 col-11">test2020@rgf.com</div>
                    <div class="col-md-1 col-1"><i class="fa fa-pencil"></i></div>
                  </div>
                  <hr>
                  <h4 style="color:blue;"><a>+ Add phone number</a></h4>
                  <h4 style="color:blue;padding-bottom: 50px;"><a>+ Add Email Address</a></h4>
                </div>
                <div class="col-md-12 col-sm-12" style="padding-bottom: 50px;">
                  <h4>BASIC INFORMATION</h4>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">Date of birth</div>
                    <div class="col-md-5 col-11">1 June</div>
                    <div class="col-md-1 col-1"><i class="fa fa-pencil"></i></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">Year of birth</div>
                    <div class="col-md-5 col-11">2000</div>
                    <div class="col-md-1 col-1"><i class="fa fa-pencil"></i></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">Gender</div>
                    <div class="col-md-5">Male</div>
                    <div class="col-md-1 col-1"><i class="fa fa-pencil"></i></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-6">Langauges</div>
                    <div class="col-md-5 col-11">Marathi language</div>
                    <div class="col-md-1 col-1"><i class="fa fa-pencil"></i></div>
                  </div>
                </div>
              </div>

              <div class="row">
                <h3>DETAILS ABOUT YOU</h3>
                <div class="col-md-12 col-sm-12">
                  <h4>ABOUT YOU</h4>
                  <hr>
                  <h4 style="color:blue;padding-bottom: 50px;"><a>+ Write some details about yourself</a></h4>
                </div>
                <div class="col-md-12 col-sm-12">
                  <h4>OTHER NAMES</h4>
                  <hr>
                  <h4 style="color:blue;padding-bottom: 50px;"><a>+ Add a nick name, birth name...</a></h4>
                </div>
                <div class="col-md-12 col-sm-12">
                  <h4>FAVOURITE QUOTES</h4>
                  <hr>
                  <h4 style="color:blue;padding-bottom: 50px;"><a>+ Add your favourite quotations</a></h4>
                </div>
              </div>

            </div>
            
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>


  <script>
$(document).ready(
    function() {
        $("#comment-1").click(function() {
          if($(".display-comments-1").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-1").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-2").click(function() {
          if($(".display-comments-2").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-2").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-3").click(function() {
          if($(".display-comments-3").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-3").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-4").click(function() {
          if($(".display-comments-4").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-4").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-5").click(function() {
          if($(".display-comments-5").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-5").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });

        // function addLike(event) {
        //   console.log(event.target);
        // }

        $("#add-like-1").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-1").text();
            count = parseInt(count)+1;
            $("#like-1").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-1").text();
            count = parseInt(count)-1;
            $("#like-1").text(count);
          }
          
        });

        $("#add-like-2").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-2").text();
            count = parseInt(count)+1;
            $("#like-2").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-2").text();
            count = parseInt(count)-1;
            $("#like-2").text(count);
          }
          
        });

        $("#add-like-3").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-3").text();
            count = parseInt(count)+1;
            $("#like-3").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-3").text();
            count = parseInt(count)-1;
            $("#like-3").text(count);
          }
          
        });

        $("#add-like-4").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-4").text();
            count = parseInt(count)+1;
            $("#like-4").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-4").text();
            count = parseInt(count)-1;
            $("#like-4").text(count);
          }
          
        });

        $("#add-like-5").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-5").text();
            count = parseInt(count)+1;
            $("#like-5").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-5").text();
            count = parseInt(count)-1;
            $("#like-5").text(count);
          }
          
        });
  });
  </script>
  {% endblock %}
</body>

</html>