{% extends 'base-engage.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Groups</title>
  <meta name="description" content="" />
  <meta property="og:image"
    content="https://cdn.inc.in/inspirations/thumbnails/000/000/006/medium/Gandhi_inc.jpg?1505451907" />

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            padding: 10px;
        }
        
        .border-corners {
            position: relative;
            display: table;
            width: 100%;
            height: auto;
            /* background: url("http://placehold.it/200x100")
                        no-repeat
                        top left; */
        }
        
        .border-corners:before,
        .border-corners:after {
            content: "";
            position: absolute;
            width: 230px;
            height: 230px;
            border: solid #B3030A;
            border-width: 25px 25px 0 0;
            display: block;
        }
        
        .border-corners:before {
            right: 0px;
            top: -0px;
            /* z-index: 1; */
        }
        
        .border-corners:after {
            border-width: 0 0 25px 25px;
            bottom: 0px;
            left: 0px;
        }
    
        .border-corners:hover:after,
        .border-corners:hover:before {
            display: block;
        }

        .flexbox {
          display: flex !important;
        }

        .box-icon .box-icon-title>img {
          height: 35px;
          width: 35px;
          line-height: 37px;
          font-size: 18px;
          margin-right:15px;
          background-color:#333;
          text-align:center;
          color:#fff;

          -webkit-transition: all .200s;
            -moz-transition: all .200s;
            -o-transition: all .200s;
              transition: all .200s; 

          -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
              border-radius: 3px;
        }

        section.dark .box-icon .box-icon-title>img  {
          background-color:#666;
        }

        .box-icon .box-icon-title.box-icon-transparent>img {
          color:#414141;
          background-color:transparent;
        }

        section.dark .box-icon .box-icon-title.box-icon-transparent>img {
          color:#fff;
        }

        .box-icon.box-icon-left .box-icon-title>img {
          float:left;
        }

        .box-icon.box-icon-round .box-icon-title>img {
          -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
              border-radius: 50%;
        }

        .box-icon.box-icon-right .box-icon-title>img {
          float:right;
          margin-right:0;
          margin-left:10px;
        }

        @media only screen and (max-width: 760px) {
          .box-icon.box-icon-right .box-icon-title>img {
            float:left;
            margin-right:10px;
            margin-left:0;
          }
        }

        .box-icon.box-icon-center .box-icon-title>img {
          float:none;
          margin:0 0 10px 0;
        }

        /* transparent icon */
        .box-icon.box-icon-transparent .box-icon-title>img {
          background-color:transparent;
          border:#ccc 1px solid;
          color:#333;
        }

        section.dark .box-icon.box-icon-transparent .box-icon-title>img {
          color:#fff;
          background-color:#212121;
          border:#555 1px solid;
        }

        /* large icon */
        .box-icon.box-icon-large .box-icon-title>img {
          width: 130px;
          height: 130px;
          line-height: 65px;
          font-size: 24px;
        }
        .box-icon.box-icon-large a.box-icon-title:hover>img {
          border-color:transparent;
        }

        .box-icon.box-icon-content .box-icon-title>img {
          background-color:#fff;
          top:0;
          margin-left:-65px;
          position:absolute;
        }

        section.alternate .box-icon.box-icon-content .box-icon-title>img {
          background-color:#F9F9F9;
        }

        .box-icon.box-icon-side>img {
          position:absolute;
          left:0; top:10px;
          font-size:48px;
        }

        .box-icon.box-icon-content {
          padding: 100px 15px 15px 15px !important;
        }
        

        @media only screen and (max-width: 768px) {
          .border-corners:after {
            display: none;
          }
          .border-corners:before {
            display: none;
          }
        }
    
    </style>
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->
  <section style="padding:0 !important;">
    <div class="container border-corners" style="border: 1px solid #c0c0c0;">
      <div class="row" style="padding-right: 0px;padding-left: 0px;">

        <div class="col-md-4" style="background-color: #84f7f7">

            <h3 style="padding-top: 50px;padding-left: 15px;padding-right: 15px;">Popular Groups</h3>
            <div class="row" style="padding-left: 30px;padding-right: 30px;padding-bottom: 50px;">

                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/brands/5.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Peace of Mind</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/brands/8.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Test Group</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/brands/2.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10"> Test Group Two</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>

            </div>

        </div>

        <div class="col-md-8" style="padding: 50px 70px 30px;">

          <div class="row">
            <div class="col-md-6">
              <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content">
                <div class="box-icon-title">
                  <img width="100%" src="{% static 'assets/images/people/300x300/8-min.jpg' %}" />
                  <h2>Friend One</h2>
                </div>
                <div class="col-md-12 text-center">
                  <div class="btn-group" style="padding: 15px;">
                    <button type="button" class="btn btn-info"><i class="fa fa-check"></i>Friends</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="#">Profile</a></li>
                      <li class="dropdown-item divider"></li>
                      <li class="dropdown-item"><a href="#">Unfriend</a></li>
                    </ul>
                  </div>
                </div>
              </div>          
            </div>       
            <div class="col-md-6">   
              <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content">
                <div class="box-icon-title">
                  <img width="100%" src="{% static 'assets/images/people/300x300/9-min.jpg' %}" />
                  <h2>Friend Two</h2>
                </div>
                <div class="col-md-12 text-center">
                  <div class="btn-group" style="padding: 15px;">
                    <button type="button" class="btn btn-info"><i class="fa fa-check"></i>Friends</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">Profile</a></li>
                    <li class="dropdown-item divider"></li>
                    <li class="dropdown-item"><a href="#">Unfriend</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> 
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content">
                <div class="box-icon-title">
                  <img width="100%" src="{% static 'assets/images/people/300x300/10-min.jpg' %}" />
                  <h2>Friend Three</h2>
                </div>
                <div class="col-md-12 text-center">
                  <div class="btn-group" style="padding: 15px;">
                    <button type="button" class="btn btn-info"><i class="fa fa-check"></i>Friends</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">Profile</a></li>
                    <li class="dropdown-item divider"></li>
                    <li class="dropdown-item"><a href="#">Unfriend</a></li>
                    </ul>
                  </div>
                </div>
              </div>          
            </div>       
            <div class="col-md-6">   
              <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content">
                <div class="box-icon-title">
                  <img width="100%" src="{% static 'assets/images/people/300x300/11-min.jpg' %}" />
                  <h2>Friend Four</h2>
                </div>
                <div class="col-md-12 text-center">
                  <div class="btn-group" style="padding: 15px;">
                    <button type="button" class="btn btn-info"><i class="fa fa-check"></i>Friends</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">Profile</a></li>
                    <li class="dropdown-item divider"></li>
                    <li class="dropdown-item"><a href="#">Unfriend</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> 
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content">
                <div class="box-icon-title">
                  <img width="100%" src="{% static 'assets/images/people/300x300/3-min.jpg' %}" />
                  <h2>Friend Five</h2>
                </div>
                <div class="col-md-12 text-center">
                  <div class="btn-group" style="padding: 15px;">
                    <button type="button" class="btn btn-info"><i class="fa fa-check"></i>Friends</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">Profile</a></li>
                    <li class="dropdown-item divider"></li>
                    <li class="dropdown-item"><a href="#">Unfriend</a></li>
                    </ul>
                  </div>
                </div>
              </div>          
            </div>       
            <div class="col-md-6">   
              <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content">
                <div class="box-icon-title">
                  <img width="100%" src="{% static 'assets/images/people/300x300/4-min.jpg' %}" />
                  <h2>Friend Six</h2>
                </div>
                <div class="col-md-12 text-center">
                  <div class="btn-group" style="padding: 15px;">
                    <button type="button" class="btn btn-info"><i class="fa fa-check"></i>Friends</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">Profile</a></li>
                    <li class="dropdown-item divider"></li>
                    <li class="dropdown-item"><a href="#">Unfriend</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> 
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <script>
  $(document).ready(
    function() {
        $("#comment-1").click(function() {
          if($(".display-comments-1").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-1").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-2").click(function() {
          if($(".display-comments-2").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-2").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-3").click(function() {
          if($(".display-comments-3").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-3").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-4").click(function() {
          if($(".display-comments-4").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-4").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-5").click(function() {
          if($(".display-comments-5").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-5").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });

        // function addLike(event) {
        //   console.log(event.target);
        // }

        $("#add-like-1").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-1").text();
            count = parseInt(count)+1;
            $("#like-1").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-1").text();
            count = parseInt(count)-1;
            $("#like-1").text(count);
          }
          
        });

        $("#add-like-2").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-2").text();
            count = parseInt(count)+1;
            $("#like-2").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-2").text();
            count = parseInt(count)-1;
            $("#like-2").text(count);
          }
          
        });

        $("#add-like-3").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-3").text();
            count = parseInt(count)+1;
            $("#like-3").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-3").text();
            count = parseInt(count)-1;
            $("#like-3").text(count);
          }
          
        });

        $("#add-like-4").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-4").text();
            count = parseInt(count)+1;
            $("#like-4").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-4").text();
            count = parseInt(count)-1;
            $("#like-4").text(count);
          }
          
        });

        $("#add-like-5").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-5").text();
            count = parseInt(count)+1;
            $("#like-5").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-5").text();
            count = parseInt(count)-1;
            $("#like-5").text(count);
          }
          
        });
  });
  </script>

  {% endblock %}

</body>

</html>