{% extends 'base-engage.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Post</title>
  <meta name="description" content="" />
  <meta property="og:image"
    content="https://cdn.inc.in/inspirations/thumbnails/000/000/006/medium/Gandhi_inc.jpg?1505451907" />

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            padding: 10px;
        }
        
        .border-corners {
            position: relative;
            display: table;
            width: 100%;
            height: auto;
            /* background: url("http://placehold.it/200x100")
                        no-repeat
                        top left; */
        }
        
        .border-corners:before,
        .border-corners:after {
            content: "";
            position: absolute;
            width: 230px;
            height: 230px;
            border: solid #B3030A;
            border-width: 25px 25px 0 0;
            display: block;
        }
        
        .border-corners:before {
            right: 0px;
            top: -0px;
            /* z-index: 1; */
        }
        
        .border-corners:after {
            border-width: 0 0 25px 25px;
            bottom: 0px;
            left: 0px;
        }
    
        /* .border-corners:hover:after,
        .border-corners:hover:before {
            display: block;
        } */

        .flexbox {
          display: flex !important;
        }
        

        @media only screen and (max-width: 768px) {
          .border-corners:after {
            display: none;
          }
          .border-corners:before {
            display: none;
          }
        }

        a {
          color: #414141 !important;
        }
    
    </style>
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->
  <section style="padding:0 !important;">
    <div class="container border-corners" style="border: 1px solid #c0c0c0;">
      <div class="row" style="padding-right: 0px;padding-left: 0px;">

        <div class="col-md-4" style="background-color: #84f7f7">

          <div class="col-md-12" style="padding-top: 50px;padding-left: 30px;padding-right: 30px;">
            <h2 style="margin:0;">GROUP NAME</h2>
            <p class="text-justify">Public Group</p>
          </div>

          <div class="col-md-12" style="padding-top: 50px;padding-left: 30px;padding-right: 30px;">
            <h3>Description</h3>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>

          <div class="col-md-12" style="padding-top: 50px;padding-left: 30px;padding-right: 30px;">
            <ul>
              <li style="list-style: none;">About</li>
              <li style="list-style: none;">Members</li>
              <li  style="list-style: none;">Videos</li>
              <li  style="list-style: none;">Photos</li>
            </ul>
          </div>


        </div>

        
        <div class="col-md-8" style="padding: 50px 15px 30px;">

          <div class="col-md-12">
            <img src="{% static 'assets/images/1200x800/17-min.jpg' %}" class="img-fluid p-20" alt="company logo">
          </div>

          <div class="col-md-12 text-center">
            <a href="#" type="button" class="btn btn-primary">Join Group</a>&nbsp;&nbsp;<span>Join this group to post and comments</span>
          </div>
          <hr>
          <div class="col-md-12">
            <div class="col-md-12" style="padding-bottom: 50px;">
              <a href="#">
                <h3>POST 1</h3>
                <h4 class="mb-0">Managing Editor</h4>
                <p class="mb-0"><b>KisMetro Lifestyle Magazine | 2020-present</b></p>
                <p style="margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </a>
              
              <div class="row" style="padding: 0px 15px;">
                <div class="col-md-6 col-sm-6 col-6">
                  <b class="fa fa-thumbs-o-up" style="font-size: 20px;"></b><span id="like-1"> 20</span>
                </div>
                <div class="col-md-6 col-sm-6 col-6 text-right">
                  <b style="font-size: 14px;">10 Comments</b>
                </div>
              </div>
              <hr>
  
              <div class="row"  style="padding: 10px 10px;">
                <div id="add-like-1" class="col-md-4 col-sm-4 col-4" style="padding-left: 5px;padding-right: 5px;cursor: pointer;">
                  <b class="fa fa-thumbs-o-up" style="font-size: 18px;"></b>&nbsp <b>Like</b>
                </div>
                <div class="col-md-4 col-sm-4 col-4 text-center" id="comment-1" style="cursor: pointer;padding-left: 5px;padding-right: 5px;">
                  <b class="fa fa-comment-o" style="font-size: 16px;"></b>&nbsp <b>Comment</b>
                </div>
                <div class="col-md-4 col-sm-4 col-4 text-right"  style="padding-left: 5px;padding-right: 5px;">
                  <b class="fa fa-share" style="font-size: 16px;"></b>&nbsp <b>Share</b>
                </div>
              </div>
              <hr>
              
  
              <div>
                <div style="padding: 10px 15px;">
                  <div class="row">
                    <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                      <input type="text" name="comment" value="" class="form-control" placeholder="Write a comment..." style="border-radius: 25px;margin-top: 1%;">
                      <p></p>
                    </div>
                  </div>
  
                  <div class="row display-comments-1 d-none">
  
                    <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                      <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                      <p style="margin-bottom: 10px;font-size: 12px;"><span>3 seconds ago</span></p>
                    </div>
                    
  
  
                    <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                      <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                      <p style="margin-bottom: 10px;font-size: 12px;"><span>22 minutes ago</span></p>
                    </div>
                    <p></p>
  
                  </div>
                </div>
              </div>
  
            </div>
            
  
            <div class="col-md-12" style="padding-bottom: 50px;">
              <a href="#">
                <h3>POST 2</h3>
                <h4 class="mb-0">Managing Editor</h4>
                <p class="mb-0"><b>KisMetro Lifestyle Magazine | 2020-present</b></p>
                <p style="margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </a>
              
              <div class="row" style="padding: 0px 15px;">
                <div class="col-md-6 col-sm-6 col-6">
                  <b class="fa fa-thumbs-o-up" style="font-size: 20px;"></b><span id="like-2">55</span>
                </div>
                <div class="col-md-6 col-sm-6 col-6 text-right">
                  <b style="font-size: 14px;">10 Comments</b>
                </div>
              </div>
              <hr>
  
              <div class="row"  style="padding: 10px 10px;">
                <div id="add-like-2" class="col-md-4 col-sm-4 col-4" style="padding-left: 5px;padding-right: 5px;cursor: pointer;">
                  <b class="fa fa-thumbs-o-up" style="font-size: 16px;"></b>&nbsp <b>Like</b>
                </div>
                <div class="col-md-4 col-sm-4 col-4 text-center" id="comment-2" style="cursor: pointer;padding-left: 5px;padding-right: 5px;">
                  <b class="fa fa-comment-o" style="font-size: 16px;"></b>&nbsp <b>Comments</b>
                </div>
                <div class="col-md-4 col-sm-4 col-4 text-right" style="cursor: pointer;padding-left: 5px;padding-right: 5px;">
                  <b class="fa fa-share" style="font-size: 16px;"></b>&nbsp <b>Share</b>
                </div>
              </div>
              <hr>
              
  
              <div>
                <div style="padding: 10px 15px;">
                  <div class="row">
                    <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                      <input type="text" name="comment" value="" class="form-control" placeholder="Write a comment..." style="border-radius: 25px;margin-top: 1%;">
                      <p></p>
                    </div>
                  </div>
  
                  <div class="row display-comments-2 d-none">
  
                    <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                      <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                      <p style="margin-bottom: 10px;font-size: 12px;"><span>4 hours ago</span></p>
                    </div>
                    
  
  
                    <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                      <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                      <p style="margin-bottom: 10px;font-size: 12px;"><span>2 days ago</span></p>
                    </div>
                    <p></p>
  
                  </div>
                </div>
              </div>
  
            </div>
  
            <div class="col-md-12" style="padding-bottom: 50px;">
              <a href="#">
                <h3>POST 3</h3>
                <h4 class="mb-0">Managing Editor</h4>
                <p class="mb-0"><b>KisMetro Lifestyle Magazine | 2020-present</b></p>
                <p style="margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </a>
              
              <div class="row" style="padding: 0 15px;">
                <div class="col-md-6 col-sm-6 col-6">
                  <b class="fa fa-thumbs-o-up" style="font-size: 20px;"></b><span id="like-3">92</span>
                </div>
                <div class="col-md-6 col-sm-6 col-6 text-right">
                  <b style="font-size: 14px;">10 Comments</b>
                </div>
              </div>
              <hr>
  
              <div class="row"  style="padding: 10px 10px;">
                <div id="add-like-3" class="col-md-4 col-sm-4 col-4" style="cursor: pointer;padding-left: 5px;padding-right: 5px;">
                  <b class="fa fa-thumbs-o-up" style="font-size: 16px;"></b>&nbsp <b>Like</b>
                </div>
                <div class="col-md-4 col-sm-4 col-4 text-center" id="comment-3" style="cursor: pointer;cursor: pointer;padding-left: 5px;padding-right: 5px;">
                  <b class="fa fa-comment-o" style="font-size: 16px;"></b>&nbsp <b>Comments</b>
                </div>
                <div class="col-md-4 col-sm-4 col-4 text-right" style="cursor: pointer;padding-left: 5px;padding-right: 5px;">
                  <b class="fa fa-share" style="font-size: 16px;"></b>&nbsp <b>Share</b>
                </div>
              </div>
              <hr>
              
  
              <div>
                <div style="padding: 10px 15px;">
                  <div class="row">
                    <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                      <input type="text" name="comment" value="" class="form-control" placeholder="Write a comment..." style="border-radius: 25px;margin-top: 1%;">
                      <p></p>
                    </div>
                  </div>
  
                  <div class="row display-comments-3 d-none">
  
                    <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                      <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                      <p style="margin-bottom: 10px;font-size: 12px;"><span>5 days ago</span></p>
                    </div>
                    
  
  
                    <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                    </div>
                    <div class="col-md-11 col-sm-11 col-11">
                      <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                      <p style="margin-bottom: 10px;font-size: 12px;"><span>10 days ago</span></p>
                    </div>
                    <p></p>
  
                  </div>
                </div>
              </div>
  
            </div>

          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <script>
  $(document).ready(
    function() {

        $("#add-like-1").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-1").text();
            count = parseInt(count)+1;
            $("#like-1").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-1").text();
            count = parseInt(count)-1;
            $("#like-1").text(count);
          }
          
        });

        $('#add-comment-1').bind("enterKey",function(e){
          var cmt = $('#add-comment-1').val();
          //Clear input
          $('#add-comment-1').val("");
          var cmtCount = $('#cmt-count').text();
          var cmtCount = parseInt(cmtCount) + 1;
          $('#cmt-count').text(cmtCount);

          $('#new-comment').prepend(`<div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                                  </div>
                                  <div class="col-md-11 col-sm-11 col-11">
                                    <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend : </b>`+cmt+`</div>
                                    <p style="margin-bottom: 10px;font-size: 12px;"><span>1 seconds ago</span></p>
                                  </div>`);
        });

        $('#add-comment-1').keyup(function(e){
          if(e.keyCode == 13){
            $(this).trigger("enterKey");
          }
        });
        

  });
  </script>

  {% endblock %}

</body>

</html>