{% extends 'base-engage.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Profile</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            padding: 10px;
        }
        
        .border-corners {
            position: relative;
            display: table;
            width: 100%;
            height: auto;
            /* background: url("http://placehold.it/200x100")
                        no-repeat
                        top left; */
        }
        
        .border-corners:before,
        .border-corners:after {
            content: "";
            position: absolute;
            width: 230px;
            height: 230px;
            border: solid #B3030A;
            border-width: 25px 25px 0 0;
            display: block;
        }
        
        .border-corners:before {
            right: 0px;
            top: -0px;
            /* z-index: 1; */
        }
        
        .border-corners:after {
            border-width: 0 0 25px 25px;
            bottom: 0px;
            left: 0px;
        }
    
        .border-corners:hover:after,
        .border-corners:hover:before {
            display: block;
        }

        .profile-img:hover .overlay {
          display: block;
          background: rgba(0, 0, 0, .3);
        }

        .flexbox {
          display: flex !important;
        }

        /* .button {
          position: absolute;
          width: 100%;
          left: -11%;
          top: 3%;
          text-align: right;
          opacity: 0;
          transition: opacity .35s ease;
        }

        .profile-img:hover .button {
          opacity: 1;
        }

        .button a {
          padding: 5px 5px;
          text-align: center;
          color: white;
          border: solid 1px white;
          z-index: 1;
          font-size: 12px;
        } */
        

        @media only screen and (max-width: 768px) {
          .border-corners:after {
            display: none;
          }
          .border-corners:before {
            display: none;
          }
        }

        a {
          color: #414141 !important;
        }
    
    </style>
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->
  <section style="padding:0 !important;">
    <div class="container border-corners" style="border: 1px solid #c0c0c0;">
      <div class="row" style="padding-right: 0px;padding-left: 0px;">

        <div class="col-md-4" style="background-color: #84f7f7">

            <div class="row profile-img" style="padding: 15px;padding-left: 30px;padding-right: 30px;">
                <figure style="border: 15px solid #A0463E;margin: 0 auto;margin-top: 25px;">
                    <img width="100%" src="{% static 'assets/images/people/300x300/avatar.png' %}" />
                    <!-- <div class="button"><a href="#"> Change Profile Picture </a></div> -->
                </figure>
            </div>
            <div class="col-md-12 d-block d-sm-none text-center">
              <span style="font-size: 30px;margin-top: 20px;display: block;font-weight: 900;color:#000;font-family: initial;">Shriram Kanawade</span>
              <div class="row">
                  <div class="col-md-6"><h4>AGE : 27</h4></div>
                  <div class="col-md-6"><h4>CITY : SANGAMNER</h4></div>
              </div>
            </div>
            <div class="row" style="padding-top: 50px;padding-left: 30px;padding-right: 30px;">
                <h3>About Me</h3>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-12 text-right">
              <a href="{% url 'about-engage' %}" type="button" class="btn btn-primary btn-sm">See More</a>
            </div>

            <div class="row" style="padding-top: 50px;padding-left: 30px;padding-right: 30px;">
              <h4><i class="fa fa-trophy"></i> Sadbhavana Score : 
                {% if sadbhavanascore %}
                {{sadbhavanascore.0.points}}
                {% else %} 
                  0
                {% endif %}
              </h4>
            </div>

            <h3>Friends With</h3>
            <div class="row" style="padding-left: 30px;padding-right: 30px;padding-bottom: 20px;">
                
                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/people/300x300/7-min.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Mark Joe</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Tom Riddle</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/people/300x300/8-min.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Robert  Cena</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 text-right">
                  <a href="{% url 'friends' %}" type="button" class="btn btn-primary btn-sm">See All</a>
                </div>
                
            </div>

            <h3>Groups</h3>
            <div class="row" style="padding-left: 30px;padding-right: 30px;padding-bottom: 20px;">

                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/brands/5.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Peace of Mind</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/brands/8.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10">Test Group</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-4 pb-10"><!-- item -->
                  <div class="row">
                    <div class="col-md-4"><!-- company logo -->
                      <img src="{% static 'assets/images/brands/2.jpg' %}" class="img-fluid" alt="company logo">
                    </div>
                    <div class="col-md-8"><!-- company detail -->
                      <h4 class="mb-10"> Test Group Two</h4>
                      <ul class="list-inline">
                        <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
                        <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 text-right">
                  <a href="{% url 'groups-engage' %}" type="button" class="btn btn-primary btn-sm">See All</a>
                </div>

            </div>


        </div>

        
        <div class="col-md-8" style="padding-bottom: 50px;">
          <div class="col-md-12 d-none d-sm-block">
            <span style="font-size: 80px;margin-top: 50px;display: block;font-weight: 900;color:#000;font-family: initial;">Shriram Kanawade</span>
            <div class="row">
                <div class="col-md-6"><h1>AGE : 27</h1></div>
                <div class="col-md-6"><h1>CITY : SANGAMNER</h1></div>
            </div>
          </div>

          <div class="col-md-12" style="padding-bottom: 20px;">
            <h3>STATUS UPDATE</h3>
            <div>

              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <input type="text" name="title" value="" class="form-control" placeholder="Post Title">
                </div>
              </div>
              <br>
              <!-- textarea -->
              <div class="fancy-form">
                <textarea rows="5" class="form-control word-count" data-maxlength="200" data-info="textarea-words-info" placeholder="Write something here..."></textarea>

                <i class="fa fa-comments"><!-- icon --></i>

                <!-- <span class="fancy-hint fs-11 text-muted">
                  <strong>Hint:</strong> 200 words allowed!
                  <span class="float-right">
                    <span id="textarea-words-info">0/200</span> Words
                  </span>
                </span> -->
              </div>
              <br>
              <!-- fancy info -->
              <div class="fancy-file-upload fancy-file-default">
                <i class="fa fa-upload"></i>
                <input type="file" class="form-control" name="post-img" />
                <input type="text" class="form-control" placeholder="no file selected" readonly="" />
                <span class="button">Choose Photo</span>
              </div>

              <a href="#" class="btn btn-3d btn-aqua float-right"><i class="et-tools"></i>Post</a>
            </div>
            
          </div>

          <div class="col-md-12">
            <a href="#">
              <h3>POST 1</h3>
              <h4 class="mb-0">Managing Editor</h4>
              <p class="mb-0"><b>KisMetro Lifestyle Magazine | 2020-present</b></p>
              <p style="margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </a>
            
            <div class="row" style="padding: 0px 15px;">
              <div class="col-md-6 col-sm-6 col-6">
                <b class="fa fa-thumbs-o-up" style="font-size: 20px;"></b><span id="like-1"> 20</span>
              </div>
              <div class="col-md-6 col-sm-6 col-6 text-right">
                <b style="font-size: 14px;">10 Comments</b>
              </div>
            </div>
            <hr>

            <div class="row"  style="padding: 10px 10px;">
              <div id="add-like-1" class="col-md-4 col-sm-4 col-4" style="padding-left: 5px;padding-right: 5px;cursor: pointer;">
                <b class="fa fa-thumbs-o-up" style="font-size: 18px;"></b>&nbsp <b>Like</b>
              </div>
              <div class="col-md-4 col-sm-4 col-4 text-center" id="comment-1" style="cursor: pointer;padding-left: 5px;padding-right: 5px;">
                <b class="fa fa-comment-o" style="font-size: 16px;"></b>&nbsp <b>Comment</b>
              </div>
              <div class="col-md-4 col-sm-4 col-4 text-right"  style="padding-left: 5px;padding-right: 5px;">
                <b class="fa fa-share" style="font-size: 16px;"></b>&nbsp <b>Share</b>
              </div>
            </div>
            <hr>
            

            <div>
              <div style="padding: 10px 15px;">
                <div class="row">
                  <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                  </div>
                  <div class="col-md-11 col-sm-11 col-11">
                    <input type="text" name="comment" value="" class="form-control" placeholder="Write a comment..." style="border-radius: 25px;margin-top: 1%;">
                    <p></p>
                  </div>
                </div>

                <div class="row display-comments-1 d-none">

                  <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                  </div>
                  <div class="col-md-11 col-sm-11 col-11">
                    <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                    <p style="margin-bottom: 10px;font-size: 12px;"><span>3 seconds ago</span></p>
                  </div>
                  


                  <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                  </div>
                  <div class="col-md-11 col-sm-11 col-11">
                    <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                    <p style="margin-bottom: 10px;font-size: 12px;"><span>22 minutes ago</span></p>
                  </div>
                  <p></p>

                </div>
              </div>
            </div>

          </div>

          <div class="col-md-12">
            <a href="#">
              <h3>POST 2</h3>
              <h4 class="mb-0">Managing Editor</h4>
              <p class="mb-0"><b>KisMetro Lifestyle Magazine | 2020-present</b></p>
              <p style="margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </a>
            
            <div class="row" style="padding: 0px 15px;">
              <div class="col-md-6 col-sm-6 col-6">
                <b class="fa fa-thumbs-o-up" style="font-size: 20px;"></b><span id="like-2">55</span>
              </div>
              <div class="col-md-6 col-sm-6 col-6 text-right">
                <b style="font-size: 14px;">10 Comments</b>
              </div>
            </div>
            <hr>

            <div class="row"  style="padding: 10px 10px;border-bottom: 1px solid #d0d0d0;">
              <div id="add-like-2" class="col-md-4 col-sm-4 col-4" style="padding-left: 5px;padding-right: 5px;cursor: pointer;">
                <b class="fa fa-thumbs-o-up" style="font-size: 16px;"></b>&nbsp <b>Like</b>
              </div>
              <div class="col-md-4 col-sm-4 col-4 text-center" id="comment-2" style="cursor: pointer;padding-left: 5px;padding-right: 5px;">
                <b class="fa fa-comment-o" style="font-size: 16px;"></b>&nbsp <b>Comments</b>
              </div>
              <div class="col-md-4 col-sm-4 col-4 text-right" style="cursor: pointer;padding-left: 5px;padding-right: 5px;">
                <b class="fa fa-share" style="font-size: 16px;"></b>&nbsp <b>Share</b>
              </div>
            </div>
            

            <div>
              <div style="padding: 10px 15px;">
                <div class="row">
                  <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                  </div>
                  <div class="col-md-11 col-sm-11 col-11">
                    <input type="text" name="comment" value="" class="form-control" placeholder="Write a comment..." style="border-radius: 25px;margin-top: 1%;">
                    <p></p>
                  </div>
                </div>

                <div class="row display-comments-2 d-none">

                  <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                  </div>
                  <div class="col-md-11 col-sm-11 col-11">
                    <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                    <p style="margin-bottom: 10px;font-size: 12px;"><span>4 hours ago</span></p>
                  </div>
                  


                  <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                  </div>
                  <div class="col-md-11 col-sm-11 col-11">
                    <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                    <p style="margin-bottom: 10px;font-size: 12px;"><span>2 days ago</span></p>
                  </div>
                  <p></p>

                </div>
              </div>
            </div>

          </div>

          <div class="col-md-12">
            <a href="#">
              <h3>POST 3</h3>
              <h4 class="mb-0">Managing Editor</h4>
              <p class="mb-0"><b>KisMetro Lifestyle Magazine | 2020-present</b></p>
              <p style="margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </a>
            
            <div class="row" style="padding: 0 15px;">
              <div class="col-md-6 col-sm-6 col-6">
                <b class="fa fa-thumbs-o-up" style="font-size: 20px;"></b><span id="like-3">92</span>
              </div>
              <div class="col-md-6 col-sm-6 col-6 text-right">
                <b style="font-size: 14px;">10 Comments</b>
              </div>
            </div>
            <hr>

            <div class="row"  style="padding: 10px 10px;border-bottom: 1px solid #d0d0d0;">
              <div id="add-like-3" class="col-md-4 col-sm-4 col-4" style="cursor: pointer;padding-left: 5px;padding-right: 5px;">
                <b class="fa fa-thumbs-o-up" style="font-size: 16px;"></b>&nbsp <b>Like</b>
              </div>
              <div class="col-md-4 col-sm-4 col-4 text-center" id="comment-3" style="cursor: pointer;cursor: pointer;padding-left: 5px;padding-right: 5px;">
                <b class="fa fa-comment-o" style="font-size: 16px;"></b>&nbsp <b>Comments</b>
              </div>
              <div class="col-md-4 col-sm-4 col-4 text-right" style="cursor: pointer;padding-left: 5px;padding-right: 5px;">
                <b class="fa fa-share" style="font-size: 16px;"></b>&nbsp <b>Share</b>
              </div>
            </div>
            

            <div>
              <div style="padding: 10px 15px;">
                <div class="row">
                  <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                  </div>
                  <div class="col-md-11 col-sm-11 col-11">
                    <input type="text" name="comment" value="" class="form-control" placeholder="Write a comment..." style="border-radius: 25px;margin-top: 1%;">
                    <p></p>
                  </div>
                </div>

                <div class="row display-comments-3 d-none">

                  <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                  </div>
                  <div class="col-md-11 col-sm-11 col-11">
                    <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                    <p style="margin-bottom: 10px;font-size: 12px;"><span>5 days ago</span></p>
                  </div>
                  


                  <div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                  </div>
                  <div class="col-md-11 col-sm-11 col-11">
                    <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend :</b>quis nostrud exercitation ullamco laboris nisi</div>
                    <p style="margin-bottom: 10px;font-size: 12px;"><span>10 days ago</span></p>
                  </div>
                  <p></p>

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>


  <script>
$(document).ready(
    function() {
        $("#comment-1").click(function() {
          if($(".display-comments-1").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-1").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-2").click(function() {
          if($(".display-comments-2").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-2").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-3").click(function() {
          if($(".display-comments-3").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-3").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-4").click(function() {
          if($(".display-comments-4").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-4").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-5").click(function() {
          if($(".display-comments-5").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-5").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });

        // function addLike(event) {
        //   console.log(event.target);
        // }

        $("#add-like-1").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-1").text();
            count = parseInt(count)+1;
            $("#like-1").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-1").text();
            count = parseInt(count)-1;
            $("#like-1").text(count);
          }
          
        });

        $("#add-like-2").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-2").text();
            count = parseInt(count)+1;
            $("#like-2").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-2").text();
            count = parseInt(count)-1;
            $("#like-2").text(count);
          }
          
        });

        $("#add-like-3").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-3").text();
            count = parseInt(count)+1;
            $("#like-3").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-3").text();
            count = parseInt(count)-1;
            $("#like-3").text(count);
          }
          
        });

        $("#add-like-4").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-4").text();
            count = parseInt(count)+1;
            $("#like-4").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-4").text();
            count = parseInt(count)-1;
            $("#like-4").text(count);
          }
          
        });

        $("#add-like-5").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-5").text();
            count = parseInt(count)+1;
            $("#like-5").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-5").text();
            count = parseInt(count)-1;
            $("#like-5").text(count);
          }
          
        });
  });
  </script>
  {% endblock %}
</body>

</html>