       
<div class="padding-top-left-right">
  <h3>Groups</h3>
  <div class="row">
    <div class="col-md-12 col-4 pb-10"><!-- item -->
      <div class="row">
        <div class="col-md-4"><!-- company logo -->
          <img src="{% static 'assets/images/packs/photography/category/1-min.jpg' %}" class="img-fluid" alt="company logo">
        </div>
        <div class="col-md-8"><!-- company detail -->
          <h4 class="mb-10">Peace of Mind</h4>
          <ul class="list-inline">
            <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
            <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="col-md-12 col-4 pb-10"><!-- item -->
      <div class="row">
        <div class="col-md-4"><!-- company logo -->
          <img src="{% static 'assets/images/packs/photography/category/2-min.jpg' %}" class="img-fluid" alt="company logo">
        </div>
        <div class="col-md-8"><!-- company detail -->
          <h4 class="mb-10">Test Group</h4>
          <ul class="list-inline">
            <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
            <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-4 pb-10"><!-- item -->
      <div class="row">
        <div class="col-md-4"><!-- company logo -->
          <img src="{% static 'assets/images/packs/photography/category/5-min.jpg' %}" class="img-fluid" alt="company logo">
        </div>
        <div class="col-md-8"><!-- company detail -->
          <h4 class="mb-10"> Test Group Two</h4>
          <ul class="list-inline">
            <!-- <li><i class="fa fa-globe text-success"></i> <a class="text-success" href="#">http://www.domain.com</a></li> -->
            <li><i class="fa fa-briefcase"></i> <span class="text-warning">Marketing &amp; Design</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12 text-right">
      <a href="{% url 'groups-engage' %}" type="button" class="btn btn-primary btn-sm">See All</a>
    </div>
    </div>

</div>