<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {{static}}

  {% block meta %}
  <title>Sadbhavana </title>
  {% endblock %}

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/cutom-color.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />

  <!-- SEARCH -->
  <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css.css' %}">

  {% block head %}
  <!-- additional css/js files -->
  {% endblock %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ GATrackingId }}"></script>
  <script>
    // alert("{{ GATrackingId }}");
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ GATrackingId }}');
  </script>

</head>

<body class="smoothscroll enable-animation">

  {% block sidebar %}
  <!-- insert default navigation text for every page -->
  {% endblock %}

  <!-- wrapper -->
  <div id="wrapper">

    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form id="formSearch" method="GET" action="{% url 'search-results' %}">
                  <div class="input-group">
                    <input type="text" name="tags" id="tags" placeholder="{% trans 'Search' %}" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">{% trans 'Search' %}</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->
          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <div class="navbar-collapse collapse float-right nav-main-collapse">
            <nav class="nav-main">

              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">{% trans "Home" %}</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon {% if navBar == 'play' %}active-menu{% endif %}" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">{% trans "Play" %}</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon {% if navBar == 'read' %}active-menu{% endif %}" href="{% url 'read' %}">
                    <b class="blinkText trn">{% trans "Read" %}</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon {% if navBar == 'watch' %}active-menu{% endif %}" href="{% url 'watch' %}">
                    <b class="blinkText trn">{% trans "Watch" %}</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon {% if navBar == 'home-engage' %}active-menu{% endif %}" href="{% url 'home-engage' %}">
                    <b class="blinkText trn">{% trans "Engage" %}</b>
                  </a>
                </li>

                <!-- {% url 'home-engage' %} -->

                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon {% if navBar == 'login' %}active-menu{% endif %}" href="{% url 'login' %}">
                    <b class="blinkText trn">{% trans "Login" %}</b>
                  </a>
                </li>
                {% else %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'logout' %}">
                    <b class="blinkText trn">{% trans "Sign Out" %}</b>
                  </a>
                </li>
                {% endif %}
                <li>
                  <a>
                    <!-- <i class="et-global blinkText"></i>&nbsp;&nbsp; -->
                    <form action="{% url 'set_language' %}" method="post" style="margin-left: -3px;">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" >
                        <select name="language" onchange="this.form.submit()" class="lang-inter">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <!-- <input type="submit" value="Go" /> -->
                    </form>
                  </a>
                </li>

              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>
    <!-- header -->

    {% block content %}
    <!-- main page content here -->
    {% endblock %}

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">{% trans "LATEST QUIZZES" %}</h4>

            <ul class="footer-posts list-unstyled">

              {% for latestQuiz in quizzes %}
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">{{latestQuiz.name}}</a>
              </li>
              {% endfor %}

            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">{% trans "EXPLORE" %}</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">{% trans "Play" %}</a></li>
              <li><a href="{% url 'read' %}" class="trn">{% trans "Read" %}</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">{% trans "Watch" %}</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="{% url 'home-engage' %}" class="trn">{% trans "Engage" %}</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">{% trans "CONTACT US" %}</h4>

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">{% trans "Feedback" %}</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>

            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container-fluid">
          <ul class="float-right m-0 list-inline mobile-block">
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">{% trans "Privacy Policy" %}</a></li>
          </ul>
          &copy;<span class="trn">{% trans "all_rights_reserved" %}</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">{% trans "Privacy Policy" %}</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">{% trans "privacy_policy_text_p1" %}</p>
              <p class="trn">{% trans "privacy_policy_text_p2" %}</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>

      <div id="whatsAppModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <!-- body modal -->
            <div class="modal-body">
                      <!-- QUIZ-TERMS AND CONDITONS -->
              <div class="col-md-12 col-sm-12">
                <span>{% trans "You are not using mobile device" %}</span>
              </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
              <a class="btn btn-default btn-sm" data-dismiss="modal">{% trans "Go Back" %}</a>
            </div>
          </div>
        </div>
      </div>


    </footer>
    <!-- /FOOTER -->
  </div>
  <!-- /wrapper -->

  {% block includes %}
  {% endblock %}

</body>

  <!-- SEARCH -->
  <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery-migrate-3.0.0.min.js' %}"></script>
  <script src="{% static 'assets/js/search.js' %}"></script>

</html>
