body.menu-vertical #mainMenu .logo {
	/*layout.css: 1926*/
	margin: 0 auto !important;
}
body.grain-blue, body.grain-blue #wrapper, body.grain-blue #topBar, body.grain-blue #header.fixed, body.grain-blue #header li.search .search-box, body.grain-blue #header li.quick-cart .quick-cart-box, body.grain-blue div.heading-title h1, body.grain-blue div.heading-title h2, body.grain-blue div.heading-title h3, body.grain-blue div.heading-title h4, body.grain-blue div.heading-title h5, body.grain-blue div.heading-title h6{
	/*layout.css: 561*/
	background-color: #eee !important;
}
#mainMenu {
	background-color: #eee !important;	
}

.overlay.dark-5 {
    background-color: transparent;
}

body.menu-vertical #mainMenu {
    border-right: none !important;
    box-shadow: none !important;
}
#slider {
	/* padding: 20px !important; */
	padding: 0px !important;
}
.swiper-container {
	/* border-radius: 10px; */
	border-radius: 0;
	box-shadow: 0px 8px 10px #888, 0px -8px 10px #888;
}

section {
	/*layout.css: 87*/
	padding: 25px 0 !important;
}

.owl-carousel .owl-item {
	padding: 0px !important;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
	/* line-height: 2.375rem; */
	/* line-height: 2.975rem; */
	/* line-height: 1.975rem; */
	line-height: 1.275rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#search-box {
	background-color: #ffffff !important;
	color: #000 !important;
}

body.menu-vertical #mainMenu.sidebar-vertical .navbar-default .navbar-nav>li>a {
	/*layout.css : 1934*/
    border-bottom: none !important;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
}

body.menu-vertical #mainMenu.sidebar-vertical .sidebar-nav .navbar ul {
	/* layout.css : 2275*/
    border-top: none;
}		
body {
	font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}
.profile-icon {
	border-radius: 50%;
	background: transparent 50%/cover no-repeat;    	
	width: 40px;
	height: 40px;
	font-size: 2.1rem;
	line-height: 40px;
	background-image: url(https://profile.canva.com/users/UADltmpWf6w/avatars/1/50.jpg);
}
.profile-icon-dropdown {
	width: 55px;
	height: 55px;
	margin: 0 auto;
	border-radius: 50%;
	background: transparent 50%/cover no-repeat;
	font-size: 2.1rem;
	line-height: 40px;
	background-image: url(https://profile.canva.com/users/UADltmpWf6w/avatars/1/50.jpg);
}
.profile-btn {
	display: block;
	position: relative;
	width: 100%;
	height: 65px;
	background-color: transparent;
	margin: 0;
}
		
.profile-btn:hover {
	background-color: rgba(14,19,24,.07);
}
.profile-inner {
	padding: 0 4px;
	margin: auto;
	color: #0e1318;
	font-weight: 600;
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.profile-content {
	padding: 8px 12px;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 0;
	box-sizing: border-box;
	height: 100%;
}
body.menu-vertical #mainMenu.sidebar-vertical .dropdown-menu {
	/* top: auto;
	left: auto;
	right: auto;
	padding: 0;
	width: 252px;
	overflow: hidden; */

	top: auto;
	left: 5px;
	right: 5px;
	/* padding: 0px; */
	padding: 10px;
	width: 96%;
	overflow: hidden;
	font-size: 14px;
}
.profile-name-container {
	margin-left: 12px;
	margin-right: 8px;
	text-align: left;
	height: 100%;
	flex-grow: 1;
	overflow: hidden;
}
.profile-name {
	text-align: left;
	margin: 0;
	color: #0e1318;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
		
.profile-type {
	text-align: left;
	margin: 0;
	color: rgba(14,19,24,.3);
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 12px;
}
.dropdown-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: text-bottom;
	box-sizing: border-box;
}
.dropdown-icon-svg {
	transform: scale(1);
	width: 100%;
	height: 100%;
	display: block;
}
#search-box {
	border-radius: 10px;
}
.dropdown-menu {
	box-shadow: 0 0 0 1px rgba(14,19,24,.07), 0 2px 12px rgba(14,19,24,.2);
	border: unset;
}
.dropdown-item {
	padding: 0.45rem 1.5rem;
}
/* .img-fluid:hover {
	box-shadow: 0 14px 6px -6px #666;
} */
/* .img-on-slider {
	width: 40%;
} */
.img-slide-3 {
	position: absolute;
	left: 6%;
	bottom: -5%;
	z-index: -1;
	width: 20%;
}
.img-slide-2 {
	position: absolute;
	left: 30%;
	bottom: -5%;
	z-index: -1;
	width: 40%;
}
.img-slide-1 {
	position: absolute;
	right: 4%;
	bottom: -5%;
	z-index: 999;
	width: 36%;
}
.img-slide-0 {
	position: absolute;
	left: 30%;
	bottom: -5%;
	z-index: -1;
	width: 40%;
}
.search-box {
	position: absolute;
	/* top: 50%;
	width: 50%; */
	top: 85%;
	width: 35%;
	left: 50%;	
}
.quiz-table {
	width: 70%;
}
/* .cat-img {
	width : 139px;
	height: 139px;
} */
.owl-stage {
	margin: 0 auto;
}
.blinkdiv{
	animation:blinkingText 50s infinite;
}
@keyframes blinkingText{
	0%{		background-color: #91D8EE;}
	32%{	background-color: #91D8EE;	}
	33%{	background-color: #C6C457;	}
	65%{	background-color:#C6C457;	}
	66%{	background-color: #A0463E;	}
	100%{	background-color:#A0463E;	}
}

.blinkText{
	color: #fff;
}

.speeches.active {
	background-color : #91D8EE !important;
}
.speech.active {
	background-color : #91D8EE !important;
}
.biographies.active {
	background-color : #C6C457 !important;
}
.resources.active {
	background-color : #91D8EE !important;
}
.resource.active {
	background-color : #91D8EE !important;
}
.books.active {
	background-color : #A0463E !important;
}
.lg.active {
	background-color : #91D8EE !important;
}
.rgci.active {
	background-color : #C6C457 !important;
}
.plays.active {
	background-color : #A0463E !important;
}
.nav-tabs {
    border: none !important;
}
.nav-tabs>li>a.active {
    color: #fff !important; 
}
.en, .hn, .pn {
	display: none !important;
}
.slide-zero-heading-1 {
	font-size: 30px;
	color:#000;
	padding-bottom: 0px;
	margin-bottom: 15px;
}
.slide-zero-heading-2 {
	font-size: 16px;
	color:#000;
	padding-bottom: 0px;
	margin-bottom: 15px;
}
.slide-zero-heading-3 {
	font-size: 16px;
	color:#000;
	padding-bottom: 0px;
	margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
	.owl-item > div {
		cursor: pointer;
		margin: 18% 20%;
		transition: margin 0.4s ease;
	}
	.img-slide-3 {
		position: absolute;
		left: 4%;
		bottom: -5%;
		z-index: -1;
		width: 30%;
	}
	.img-slide-2 {
		position: absolute;
		left: 16%;
		bottom: -5%;
		z-index: -1;
		width: 55%;
	}
	.img-slide-1 {
		position: absolute;
		right: 4%;
		bottom: -5%;
		z-index: 999;
		width: 50%;
	}
	.img-slide-0 {
		position: absolute;
		left: 16%;
		bottom: -5%;
		z-index: -1;
		width: 55%;
	}
	.pagination-mobile {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -100px;
	}
	#slider {
		padding: 0px !important;
	}
	.swiper-container {
		border-radius: 0px;
	}
	.search-box {
		position: absolute;
		/* top: 30%; */
		top: 87%;
		/* top: 60%; */
		/* width: 80%; */
		width: 50%;
		left: 50%;	
	}
	.slider-header-main {
		/* top: -60px !important; */
		top: 0px !important;
	}
	.quiz-table {
		width: 100% !important;
	}
	.quiz-img {
		width: 100% !important;
	}
	/* .cat-img {
		width : 101px;
		height: 101px;
	} */

	.slider-title-font {
		font-size: 16px !important;
	}
	.slider-title{
		margin-top: 10px !important;
	}
	.border-top-bottom {
		border-bottom: 1px solid #000 !important;
		border-top: 1px solid #000 !important;
	}
	
	.border-top-bottom-white {
		border-bottom: 1px solid #fff !important;
		border-top: 1px solid #fff !important;	
	}

	.img-mobile {
		max-width: 120% !important;
		width: 120% !important;
		margin-left: -12% !important;
	}
	.banner-img-0 {
		width: 35% !important;
	}
	.banner-img-1 {
		width: 82% !important;
	}
	.banner-img-2 {
		width: 82% !important;
	}
	.banner-img-3 {
		width: 82% !important;
	}
	.slide-0 {
		position: absolute;
		top: 4px !important;
		left: 1% !important;
		margin-top: 5%;
	}
	.slide-1 {
		position: absolute;
		top: 0;
		margin-top: 6%;
	}
	.slide-2 {
		position: absolute;
		top: 4px !important;
		right: 3% !important;
		margin-top: 5%;
	}
	.slide-3 {
		position: absolute;
		top: 0;
		right: 3%;
		margin-top: 6%;
	}
	.whats-new-title {
		position: absolute;
		bottom: 5% !important;
		left: 7% !important;
		width: 86% !important;
		background-color: #fff;
	}
	.whats-new-title-1 {
		position: absolute;
		bottom: 55% !important;
		/* left: 5% !important;
		width: 90% !important; */
		left: 7% !important;
		width: 86% !important;
		background-color: #fff;
	}
	.whats-new-title-2 {
		position: absolute;
		bottom: 5% !important;
    	/* left: 5% !important;
		width: 90% !important; */
		left: 7% !important;
    	width: 86% !important;
		background-color: #fff;
	}
	.whats-new-title p {
		padding: 5px !important;
		/* font-size: 12px; */
		margin-bottom: 15px !important;
	}
	.whats-new-title-1 p {
		padding: 5px !important;
		/* font-size: 12px; */
		margin-bottom: 15px !important;
	}
	.whats-new-title-2 p {
		padding: 5px !important;
		/* font-size: 12px; */
		margin-bottom: 15px !important;
	}
	#topNav #topMain li>h4 {
		color: #fff !important;
	}
	/* .lang-select {
		color: #FFF !important;
	} */

	.wn-img-1 {
		height: auto !important;
	}
	/* .wn-img-2 {
		height: auto !important;	
	}
	.wn-img-3 {
		height: auto !important;
	} */
	.lang-inter, .lang-inter-home {
		background-color: transparent !important;
		color: #fff !important;
		padding: 0 !important;
		letter-spacing: 2px;
		font-weight: bolder;
	}
	.winner-banner {
		height: auto !important;
	}

	.slide-zero-heading-1 {
		color:#000;
		font-size: 12px;
		padding-bottom: 2px;
		margin-bottom: 2px;
	}
	.slide-zero-heading-2 {
		color:#000;
		font-size: 10px;
		padding-bottom: 2px;
		margin-bottom: 2px;
	}
	.slide-zero-heading-3 {
		color:#000;
		font-size: 10px;
		padding-bottom: 2px;
		margin-bottom: 2px;
	}
}

@media only screen and (max-width: 767px)
                   and (orientation: landscape) {
	.img-on-slider {
		width: 23%;
	}
	.img-slide-0 {
		position: absolute;
		left: 40%;
		bottom: -5%;
		z-index: -1;
	}
	.img-slide-2 {
		position: absolute;
		left: 40%;
		bottom: -5%;
		z-index: -1;
	}
}

.owl-item.center > div {
  cursor: auto;
  margin: 0;
}
.owl-item:not(.center) > div:hover {
  opacity: .75;
}
.bg-color-saffron {
	/* background-color: #FF7A01; */
	background-image: url("../images/home/samadhaan.jpg");
}
.bg-color-navyblue {
	background-color: #0120AF;
}
.bg-color-white {
	/*background-color: #FFF;*/
	background-image: url("../images/home/sadbhavana.jpg");
}
.bg-color-green {
	/* background-color: #03AD02; */
	background-image: url("../images/home/samvidhaan.jpg");
}
@media only screen and (max-width: 767px)
                   and (orientation: landscape) {
	.landscape-none {
		display: none !important;
	}
}

@font-face {
  font-family: "FingerPaint-Regular";
  src: url(../fonts/FingerPaint-Regular.ttf) format("opentype");
}
.slider-header { 
	font-family: "FingerPaint-Regular" !important;
	font-kerning: none;
	letter-spacing: 2px;
}
.slider-header-main{
	top: -30px;
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 45%;
    margin-left: -16px !important;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 45%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {
	transform : scale(3,5); 
	color: #428bca;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
body.menu-vertical #mainMenu.sidebar-vertical .navbar-default .navbar-nav>li>a.dropdown-toggle {
    background-image: none !important;
}
section#slider:not(.custom-form) input {
	color: #000;
	background-color: #eee;
	border-radius: 50px;
	box-shadow: 5px 5px 15px -5px;
    border: 1px solid #999;
}
.mb-50 {
	margin-bottom: 50px;
}
.hashtag-color {
  color : #0120AF;
  font-weight: bold;
}

#tags {
	/* height: 30px !important; */
	/* height: 20px !important; */
	font-size: 0.7rem;
}

.border-top-bottom {
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
}

.border-top-bottom-white {
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;	
}
.slider-title-font {
	font-size: 36px;
}
.slide-right {
	left: 30%;
}
.slider-title{
	margin-top: 20px;
}
.banner-img-0 {
	width: 30%;
}
.banner-img-1 {
	width: 11%;
}
.banner-img-2 {
	width: 11%;
}
.banner-img-3 {
	width: 11%;
}
.slide-0 {
	position: absolute;
	top: 5%;
	left: 15%;
	margin-top: 1%;
	padding-right: 10px !important;
    padding-left: 10px !important;
}
.slide-1 {
	position: absolute;
	top: 0;
	margin-top: 6%;
	padding-right: 10px !important;
    padding-left: 10px !important;
}
.slide-2 {
	position: absolute;
	top: 0;
	right: -38%;
	margin-top: 5%;
	padding-right: 10px !important;
    padding-left: 10px !important;
}
.slide-3 {
	position: absolute;
	top: 0;
	margin-top: 5%;
	padding-right: 10px !important;
    padding-left: 10px !important;
}
.whats-new-title {
	position: absolute;
    bottom: 5%;
    width: 94%;
    left: 3%;
    background-color: #fff;
    margin: 0 auto;
}
.whats-new-title-1 {
	position: absolute;
    bottom: 55%;
    /* width: 90%;
	left: 5%; */
	width: 86%;
    left: 7%;
    background-color: #fff;
    margin: 0 auto;
}
.whats-new-title-2 {
	position: absolute;
    bottom: 5%;
    /* width: 90%;
	left: 5%; */
	width: 86%;
    left: 7%;
    background-color: #fff;
    margin: 0 auto;
}
.whats-new-title p {
	padding: 5px;
}
.playlist-scroll {
	height: 480px;
	overflow-y: auto;
	overflow-x: hidden;
}

.section-shadow {
	box-shadow: 0px 30px 15px -25px #888;
}

.lang-select {
	border:none;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 400;
	color: #000;
	padding:0;
	height:auto; 
	background: transparent;
}

.breadcrumb {
    padding: 0rem 1rem !important;
}

.wn-img-1 {
	height: 480px;
}
.wn-img-2 {
	height: 230px;	
}
.wn-img-3 {
	height: 230px;
}
.lang-inter {
	letter-spacing: 2px;
	background-color: transparent;
	color: #fff;
	font-weight: bolder;
	cursor: pointer;
}
.lang-inter-home {
	letter-spacing: 2px;
	background-color: transparent;
	font-weight: bolder;
	cursor: pointer;
}

.lang-inter option {
    margin: 40px;
    /* background: rgba(0, 0, 0, 0.3); */
    color: #000;
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
}

.ui-widget.ui-widget-content {
    z-index: 10000 !important;
}
.req-field {
	color: red;
}
.sky-form .ico-append {
	background: #fff !important;
}
.active-menu{
	background-color: rgba(0,0,0,0.03) !important;
}
.winner-banner {
	height: fit-content;
}

.year {
	border: 2px solid #e5e5e5;
}
.month {
	border: 2px solid #e5e5e5;
}
.day {
	border: 2px solid #e5e5e5;
}
