a {
	color: #414141 !important;
}

.box-icon .box-icon-title>img {
	height: 35px;
	width: 35px;
	line-height: 37px;
	font-size: 18px;
	margin-right:15px;
	background-color:#333;
	text-align:center;
	color:#fff;

	-webkit-transition: all .200s;
	-moz-transition: all .200s;
	-o-transition: all .200s;
	transition: all .200s;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

section.dark .box-icon .box-icon-title>img  {
	background-color:#666;
}

.box-icon .box-icon-title.box-icon-transparent>img {
	color:#414141;
	background-color:transparent;
}

section.dark .box-icon .box-icon-title.box-icon-transparent>img {
	color:#fff;
}

.box-icon.box-icon-left .box-icon-title>img {
	float:left;
}

.box-icon.box-icon-round .box-icon-title>img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.box-icon.box-icon-right .box-icon-title>img {
	float:right;
	margin-right:0;
	margin-left:10px;
}

.box-icon.box-icon-center .box-icon-title>img {
	float:none;
	margin:0 0 10px 0;
}

/* transparent icon */
.box-icon.box-icon-transparent .box-icon-title>img {
	background-color:transparent;
	border:#ccc 1px solid;
	color:#333;
}

section.dark .box-icon.box-icon-transparent .box-icon-title>img {
	color:#fff;
	background-color:#212121;
	border:#555 1px solid;
}

/* large icon */
.box-icon.box-icon-large .box-icon-title>img {
	width: 130px;
	height: 130px;
	line-height: 65px;
	font-size: 24px;
}
.box-icon.box-icon-large a.box-icon-title:hover>img {
	border-color:transparent;
}

.box-icon.box-icon-content .box-icon-title>img {
	background-color:#fff;
	top:0;
	margin-left:-65px;
	position:absolute;
}

section.alternate .box-icon.box-icon-content .box-icon-title>img {
	background-color:#F9F9F9;
}

.box-icon.box-icon-side>img {
	position:absolute;
	left:0; top:10px;
	font-size:48px;
}

.box-icon.box-icon-content {
	padding: 100px 15px 15px 15px !important;
}

@media only screen and (max-width: 768px) {
	.border-corners:after {
		display: none;
	}
	.border-corners:before {
		display: none;
	}
}

@media only screen and (max-width: 760px) {
	.box-icon.box-icon-right .box-icon-title>img {
		float:left;
		margin-right:10px;
		margin-left:0;
	}
}