#txt_search {
	width: 150%;
	border: none;
	padding: 5px;
	width: 250px;
}
#searchResult{
	list-style: none;
	padding: 0px;
	width: 250px;
	position: absolute;
	margin: 0;
}
#searchResult li{
	background: lavender;
	padding: 4px;
	margin-bottom: 1px;
}
#searchResult li:nth-child(even){
	background: cadetblue;
	color: white;
}
#searchResult li:hover{
	cursor: pointer;
}
.competition{
	animation:competitionText 1.2s infinite;
}
@keyframes competitionText{
	0%{ color: #FAB702; }
	32%{ color: #FAB702; }
	33%{ color: #91D8EE; }
	65%{ color: #91D8EE; }
	66%{ color: #A0463E; }
	100%{ color: #A0463E; }
}

.ui-menu {
	max-height: 200px !important;
	overflow: auto !important;
}

.padding-score {
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
}
.badge {
	font-size: 10px;
	background: #ff0000;
	color: #fff;
	padding: 3px 5px;
	vertical-align: middle;
}
.dropdown-item {
	white-space: normal !important;
}
.dropdown-menu-right {
	min-width: 340px;
	max-width: 340px;
}

@media only screen and (max-width: 768px) {
	#txt_search {
		width: 100% !important;
		margin-top: 10px !important;
	}
}