.padding-top-left-right {
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
  }

  body {
	  padding: 10px;
  }

  .border-corners {
	  position: relative;
	  display: table;
	  width: 100%;
	  height: auto;
  }

  .border-corners:before,
  .border-corners:after {
	  content: "";
	  position: absolute;
	  width: 230px;
	  height: 230px;
	  border: solid #B3030A;
	  border-width: 25px 25px 0 0;
	  display: block;
  }

  .border-corners:before {
	  right: 0px;
	  top: -0px;
  }

  .border-corners:after {
	  border-width: 0 0 25px 25px;
	  bottom: 0px;
	  left: 0px;
  }

  .border-corners:hover:after,
  .border-corners:hover:before {
	  display: block;
  }

  .profile-img:hover .overlay {
	display: block;
	background: rgba(0, 0, 0, .3);
  }

  .flexbox {
	display: flex !important;
  }
  .bg-custom {
	background-color: #ace4f5;
  }

  @media only screen and (max-width: 768px) {
	.border-corners:after {
	  display: none;
	}
	.border-corners:before {
	  display: none;
	}
  }