{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - My Quizzes</title>
  <meta name="description" content="" />
  {% endblock %}

</head>

<body>

  {% block content %}

  <section class="page-header">
    <div class="container">

      <h1 class="trn">{% trans "My Quizzes" %}</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <!-- <li><a href="#">Pages</a></li> -->
        <li class="active trn">{% trans "My Quizzes" %}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->

  <!-- -->
  <section>
    <div class="container">
      {% if not results %}
      <h3>{% trans "You haven't attended any quiz!" %}</h3>
      <!-- {% get_static_prefix as STATIC_PREFIX %} -->
      {% else %}
      {% for result in results %}
      <div class="row">
        <!-- item -->
        <div class="col-md-2">
          <!-- company logo -->
          <img src='https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{ result.image }}' class="img-fluid" alt="Quiz logo">
        </div>
        <div class="col-md-10">
          <!-- company detail -->
          <h4 class="mb-10">{{result.quiz.name}}</h4>
          <p><b>TAKEN ON : </b> {{result.pub_date}}</p>
          <p><b>SCORE : </b> {{result.score}}/{{result.total_score}}</p>
        </div>
      </div><!-- /item -->
      <hr />
      {% endfor %}
      {% endif %}
    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script>

    /**
      Checkbox on "I agree" modal Clicked!
    **/
    jQuery("#terms-agree").click(function () {
      jQuery('#termsModal').modal('toggle');

      // Check Terms and Conditions checkbox if not already checked!
      if (!jQuery("#checked-agree").checked) {
        jQuery("input.checked-agree").prop('checked', true);
      }

    });
  </script>
  {% endblock %}
  
</body>

</html>