{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - {{ quiz.name }}</title>
  <meta name="description" content="" />
  <link href="{% static 'assets/css/play-quiz.css' %}" rel="stylesheet" type="text/css" />
  {% endblock %}

</head>

<style>
  .ques-radio {
    text-align: center;
    vertical-align: middle;
  }

  .qPanel {
    display: none;
  }

  .showing {
    display: contents;
    background: #FFF;
  }

  .qButton {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .spacer {
    flex: 0 auto;
    display: flex;
    width: 100%;
  }

  .pagination-ques {
    display: inline-block;
    padding-inline-start: 20px;
  }

  .pagination-ques a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

  .pagination-ques a.current {
    background-color: #149dc5;
    color: white;
  }

  .pagination-ques a:hover:not(.current) {
    background-color: #ddd;
  }

  .page-link {
    cursor: pointer;
  }

  #myProgress {
    width: 100%;
    background-color: #ddd;
  }

  #myBar {
    width: 100%;
    height: 30px;
    background-color: #4CAF50;
  }
  .table td,
  .table th {
    border: none;
  }

  .options {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }

  input[type="radio"] {
    cursor: pointer;
  }
</style>

<body>

  {% block content %}

  <section class="page-header">
    <div class="container">

      <h1>{{quiz.name}}</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <!-- <li><a href="#">Pages</a></li> -->
        <li><a href="{% url 'app:quizzes' 1 %}" class="active trn">{% trans "Quizzes" %}</a></li>
        <li>{{quiz.name}}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->


  <!-- -->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table nobottommargin quiz-table" align="center" style="background-color:#FFF;">
            <form method="post" name="answers" id="answers" action="">
              {% csrf_token %}
              <input type='hidden' value='{{quiz.id}}' name='quizId'>

              {% for question in questions %}
              <tbody class="qPanel">
                <tr valign="top">
                  <input type='hidden' value='1' name="qid[1]">

                  {% if question.question_text != '' and question.question_image == '' %}
                    <th align="left">
                      <h4><span style="color:#000;">{{forloop.counter}}. </span>{{ question.question_text }}</h4>
                    </th>
                  {% elif question.question_text == '' and question.question_image %}
                    <th align="center"> <!-- class="text-center" -->
                      <span>{{forloop.counter}}. </span><img class="quiz-img" src="https://rgf-bucket.s3.amazonaws.com/{{question.question_image}}" />
                    </th>
                  {% else %}
                  <th align="center"> <!-- class="text-center" -->
                    <span>{{forloop.counter}}. </span><img class="quiz-img" src="https://rgf-bucket.s3.amazonaws.com/{{question.question_image}}" />
                    <h4>{{ question.question_text }}</h4>
                  </th>
                  {% endif %}


                </tr>
                <tr valign="top">
                  <td><label class="element-animation1 btn btn-lg btn-block options" onclick="checkForAnswer(event)" for="{{ question.id }}-Option A">
                    <input type="radio" name="choice{{ question.id }}" value='Option A' id='{{ question.id }}-Option A' style="visibility: hidden;">{{ question.option_a }}
                  </label></td>
                </tr>
                <tr valign="top">
                  <td><label class="element-animation2 btn btn-lg btn-block options" onclick="checkForAnswer(event)" for="{{ question.id }}-Option B">
                    <input type="radio" name="choice{{ question.id }}" value='Option B' id='{{ question.id }}-Option B' style="visibility: hidden;">{{ question.option_b }}
                  </label></td>
                </tr>
                <tr valign="top">
                  <td><label class="element-animation3 btn btn-lg btn-block options" onclick="checkForAnswer(event)" for="{{ question.id }}-Option C">
                    <input type="radio" name="choice{{ question.id }}" value='Option C' id='{{ question.id }}-Option C' style="visibility: hidden;">{{ question.option_c }}
                  </label></td>
                </tr>
                <tr valign="top">
                  <td><label class="element-animation4 btn btn-lg btn-block options" onclick="checkForAnswer(event)" for="{{ question.id }}-Option D">
                    <input type="radio" name="choice{{ question.id }}" value='Option D' id='{{ question.id }}-Option D' style="visibility: hidden;">{{ question.option_d }}
                  </label></td>
                </tr>
                <tr><td><small>{{ question.desclaimer }}</small></td></tr>
              </tbody>

              {% endfor %}
              <tbody style="border:none;">
                <tr>
                  <td colspan="2" align="right">
                    <ul class="pagination">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination-ques">

                          {% for question in questions %}
                          <a class="qButton hidden">{{forloop.counter}}</a>
                          {% endfor %}

                          <a style="color:#FFF;margin: 0px 0 5px 5px;" class="btn btn-info navbutton"
                            onclick="nav(1)">{% trans "Next" %}</a>
                          <span class="spacer"></span>
                        </ul>
                      </nav>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </form>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!-- / -->

  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/play-quiz.js' %}"></script> -->

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script>
    var numQuestions, navs;

    function init() {

      numQuestions = $(".qButton").length;
      navs = $(".navbutton");

      show(0);
    }

    window.onload = init;
    var currentQuestion = 0;

    $(".qPanel").first().addClass(" showing");
    $(".qButton").first().addClass(" current");

    function show(i) {

      $(".current").first().addClass("qButton");
      $(".showing").first().addClass("qPanel");

      $(".qPanel").removeClass("showing");
      $(".qPanel").each(function (index) {
        if (index == i) {
          $(this).addClass("showing");
        }
      });

      $(".qButton").removeClass("current");
      $(".qButton").each(function (index) {

        if (index == i) {
          $(this).addClass("current");
        }
      });

      //navs[0].style.cursor = i === numQuestions - 1 ? 'not-allowed' : '';

      if (i === numQuestions - 1) {
        //navs[0].style.cursor = 'not-allowed';
        $(".navbutton").removeAttr("onclick");
        $(".navbutton").attr("onclick", 'finishQuiz()');
        $(".navbutton").text('{% trans "FINISH" %}');
      } else {
        navs[0].style.cursor = '';
      }

      //navs[1].style.cursor = i === numQuestions - 1 ? 'not-allowed' : '';

      currentQuestion = i;

    }
    function nav(offset) {
      $(".options").attr('onclick', 'checkForAnswer(event)');
      $(".options").css('cursor', 'pointer');
      $("input[type=radio]").attr('disabled', false);

      var targetQuestion = currentQuestion + offset;
      if (targetQuestion >= 0 && targetQuestion < $(".qButton").length)
        show(targetQuestion);

    }

    function finishQuiz() {
      $("input[type=radio]").attr('disabled', false);
      console.log('Quiz finished');
      setTimeout(function () {
        $("#answers").submit();
      }, 1000)
    }

    function checkForAnswer(event) {
      $('.options').css('background-color', '');
      $('.options').css('color', '');

      {% for question in questions %}

      if (event.target.htmlFor == '{{question.id}}-{{question.answer}}') {
        $(event.target).css('background-color', '#008000');
        $(event.target).css('color', '#fff');

        $(".options").removeAttr('onclick');
        $(".options").css('cursor', 'not-allowed');

        setTimeout(function () {
          $("input[type=radio]").attr('disabled', true);
        }, 100)

        return;
      }
      {% endfor %}

	    else {
        $(event.target).css('background-color', '#FF0000');
        $(event.target).css('color', '#fff');
      }

      $(".options").removeAttr('onclick');
      $(".options").css('cursor', 'not-allowed');
      setTimeout(function () {
        $("input[type=radio]").attr('disabled', true);
      }, 100)

      setTimeout(function () {
        $("input[type=radio]").attr('disabled', true);
        $(".options").each(function () {
          var quesNo = this.htmlFor.split('-');
          var quesClicked = event.target.htmlFor.split('-');

          {% for question in questions %}
          if (quesNo[0] == quesClicked[0] && this.htmlFor == '{{question.id}}-{{question.answer}}') {
            $(this).css('background-color', '#008000');
            $(this).css('color', '#fff');
            return;
          }
          {% endfor %}
        });

      }, 1000);

    }

  </script>
  {% endblock %}

</body>

</html>