{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Challenge</title>
  <meta name="og:title" content="{{metaData.name}}" />
  <meta name="og:description" content="{{metaData.description}}" />
  <meta property="og:image" content="https://rgf-bucket.s3.amazonaws.com/{{metaData.image}}" />
  {% endblock %}

</head>

<body>

  {% block content %}

  <section class="page-header">
    <div class="container">

      <h1 class="trn">{% trans "Quizzes" %}</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <li class="active trn">{% trans "Quizzes" %}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->

  <!-- -->
  <section>
    <div class="container">

      <div class="row">
        {% for quiz in quizzes %}
        <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 20px;">
              <figure class="mb-20" style="text-align: center;">
                <a data-toggle="modal" data-target=".bs-example-modal-lg-{{quiz.id}}">
                  <img style="height: 260px;width:auto;" class="img-fluid" src='https://rgf-bucket.s3.amazonaws.com/{{quiz.image}}' alt="service" />
                </a>
              </figure>

              <h4 class="mb-0"><a data-toggle="modal" data-target=".bs-example-modal-lg-{{quiz.id}}">{{quiz.name}}</a></h4>
              <small class="font-lato fs-18 mb-30 block">{{quiz.caption}}</small>
              <p class="text-muted fs-14">{{quiz.description}}</p>
              <a data-toggle="modal" data-target=".bs-example-modal-lg-{{quiz.id}}">
                  {% trans "PLAY" %}
                <!-- /word rotator -->
                <span class="word-rotator" data-delay="2000">
                  <span class="items">
                    <span>{% trans "QUIZ" %}</span>
                    <span>{% trans "NOW" %}</span>
                  </span>
                </span><!-- /word rotator -->
                <i class="glyphicon glyphicon-menu-right fs-12"></i>
              </a>
            </div>


            <div class="modal fade bs-example-modal-lg-{{quiz.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <!-- header modal -->
                  <div class="modal-header text-center">
                    <h4 class="modal-title" id="myLargeModalLabel">{% trans "Terms And Conditions" %}</h4>
                  </div>
                  <!-- body modal -->
                  <div class="modal-body">
                    <!-- QUIZ-TERMS AND CONDITONS -->
                    <div class="col-md-12 col-sm-12" style="line-height: 2.5;">
                        <ol class="static lang-en en">
                          <li>{% trans "There is no entry fee and no purchase necessary to enter this quiz." %}</li>
                          <li>{% trans "By entering this quiz, an entrant is indicating his/her agreement to be bound by these terms and conditions." %}</li>
                          <li>{% trans "The decision of our team is final and no correspondence in this regard is entertained." %}</li>
                          <li>{% trans "No prize- cash or otherwise, is distributed for this quiz." %}</li>
                          <li>{% trans "This quiz is aimed at informative and entertainment purposes only." %}</li>
                        </ol>
                        <ol class="static lang-hn hn">
                          <li>यह प्रश्नोत्तरी पूर्णतया नि: शुल्क है|</li>
                          <li>इस प्रश्नोत्तरी में भाग लेने पर आवेदक इसके नियमों से बाध्य होंगे|</li>
                          <li>किसी भी असहमति की स्थिति में हमारे निर्णायक मंडल का निर्णय अंतिम होगा|</li>
                          <li>इस प्रश्नोत्तरी से कोई भी पुरस्कार संलग्न नहीं है|</li>
                          <li>यह प्रश्नोत्तरी मात्र ज्ञानवर्धन एवं मनोरंजन के लिए है|</li>
                        </ol>
                        <ol class="static lang-pn pn">
                          <li>ਇਸ ਕਵਿਜ਼ ਵਿੱਚ ਭਾਗ ਲੈਣ ਦੀ ਕੋਈ ਐਂਟਰੀ ਫੀਸ ਯਾ ਖਰੀਦ ਨਹੀਂ ਮੰਗੀ ਜਾਵੇਗੀ।</li>
                          <li>ਇਸ ਕਵਿਜ਼ ਵਿੱਚ ਭਾਗ ਲੈਣ ਵਾਲੇ ਨਿਮਨਲਿਖਿਤ ਨਿਯਮਾਂ ਦੇ ਬੱਝੇ ਹੋਣਗੇ।</li>
                          <li>ਕਿਸੇ ਵੀ ਮਤਭੇਦ ਦੀ ਸਥਿਤੀ ਵਿੱਚ, ਸਾਡੀ ਟੀਮ ਦਾ ਫ਼ੈਸਲਾ ਅੰਤਮ ਹੋਵੇਗਾ ਅਤੇ ਇਸ ਬਾਰੇ ਕੋਈ ਵੀ ਪੁੱਛਗਿੱਛ ਨਹੀਂ ਕੀਤੀ
                            ਜਾਵੇਗੀ।</li>
                          <li>ਇਸ ਕਵਿਜ਼ ਨਾਲ ਕੋਈ ਇਨਾਮ ਨਹੀਂ ਜੁੜੇ ਹੋਏ ਹਨ।</li>
                          <li>ਇਹ ਕਵਿਜ਼ ਸਿਰਫ਼ ਗਿਆਨ ਵਧਾਉਣ ਅਤੇ ਮਨੋਰੰਜਨ ਲਈ ਹੈ।</li>
                        </ol>
                      </div>
                  </div>

                  <!-- Modal Footer -->
                  <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">{% trans "Go Back" %}</a>
                    <a style="background-color: #C6C457 !important;border-color: #C6C457 !important;" class="btn btn-primary" href="{% url 'app:playquiz' quiz.id %}">{% trans "Proceed" %}</a>
                  </div>

                </div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
  </section>
  <!-- / -->








  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>


  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script>

    /**
      Checkbox on "I agree" modal Clicked!
    **/
    jQuery("#terms-agree").click(function () {
      jQuery('#termsModal').modal('toggle');

      // Check Terms and Conditions checkbox if not already checked!
      if (!jQuery("#checked-agree").checked) {
        jQuery("input.checked-agree").prop('checked', true);
      }

    });
  </script>
  {% endblock %}

</body>

</html>