{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Quiz Results - {{ quiz.name }}</title>

  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Sadbhavana" />
  <meta property="og:description"   content="Can you beat my quiz score?" />
  <meta property="og:image"         content="{% static 'assets/images/category/challenge.jpg' %}" />

  {% endblock %}

</head>

<body>

  {% block content %}

  <section class="page-header">
    <div class="container">

      <h1>{{ quiz.name }}</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <li class="active trn">{% trans "Quiz Result" %}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->



  <!-- -->
  <section>
    <div class="container">
      <div class="row">
        <!-- QUIZ-RESULTS -->
        <div class="col-md-12 col-sm-12 text-center">
          <h2 class="trn">{% trans "thank_you_participating_quiz" %}</h2>
          <h3><span class="trn">{% trans "Score" %}</span><span>: {{ result.score }}/{{ result.total_score }}</span></h3>

          <div class="fb-share-button" data-href="{{ baseURL }}/quizzes/{{quiz.id}}"
            redirect_uri="{{ baseURL }}/quizzes/{{quiz.id}}" data-layout="button_count" data-size="small"><a target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
            class="fb-xfbml-parse-ignore">Share</a></div>

          <a data-text="I got {{ result.score }} out of {{ result.total_score }} in {{ quiz.name }}. Can you beat my score?"
            data-link="{{ baseURL }}/quizzes/{{quiz.id}}" class="whatsapp"><img style="width: 20px;height: 20px;"
              src="{% static 'assets/images/whatsApp.png' %}" /></a>
        </div>
        <!-- /QUIZ-RESULTS -->
      </div>
    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script>

    /**
      Checkbox on "I agree" modal Clicked!
    **/
    jQuery("#terms-agree").click(function () {
      jQuery('#termsModal').modal('toggle');

      // Check Terms and Conditions checkbox if not already checked!
      if (!jQuery("#checked-agree").checked) {
        jQuery("input.checked-agree").prop('checked', true);
      }

    });
  </script>
  {% endblock %}

</body>

</html>