{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Quiz Terms and Conditions</title>
  <meta name="description" content="" />
  {% endblock %}

</head>

<body>

  {% block content %}

  <section class="page-header">
    <div class="container">

      <h1 class="trn">{% trans "Terms And Conditions" %}</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <li class="active">{{ quizterms.name }}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->

  <!-- -->
  <section>
    <div class="container">

      <div class="row">
        <!-- QUIZ-TERMS AND CONDITONS -->
        <div class="col-md-12 col-sm-12">
          <ol class="static lang-en en">
            <li>There is no entry fee and no purchase necessary to enter this quiz.</li>
            <li>By entering this quiz, an entrant is indicating his/her agreement to be bound by these terms and
              conditions.</li>
            <li>The decision of our team is final and no correspondence in this regard is entertained.</li>
            <li>No prize- cash or otherwise, is distributed for this quiz.</li>
            <li>This quiz is aimed at informative and entertainment purposes only.</li>
          </ol>
          <ol class="static lang-hn hn">
            <li>यह प्रश्नोत्तरी पूर्णतया नि: शुल्क है|</li>
            <li>इस प्रश्नोत्तरी में भाग लेने पर आवेदक इसके नियमों से बाध्य होंगे|</li>
            <li>किसी भी असहमति की स्थिति में हमारे निर्णायक मंडल का निर्णय अंतिम होगा|</li>
            <li>इस प्रश्नोत्तरी से कोई भी पुरस्कार संलग्न नहीं है|</li>
            <li>यह प्रश्नोत्तरी मात्र ज्ञानवर्धन एवं मनोरंजन के लिए है|</li>
          </ol>
          <ol class="static lang-pn pn">
            <li>ਇਸ ਕਵਿਜ਼ ਵਿੱਚ ਭਾਗ ਲੈਣ ਦੀ ਕੋਈ ਐਂਟਰੀ ਫੀਸ ਯਾ ਖਰੀਦ ਨਹੀਂ ਮੰਗੀ ਜਾਵੇਗੀ।</li>
            <li>ਇਸ ਕਵਿਜ਼ ਵਿੱਚ ਭਾਗ ਲੈਣ ਵਾਲੇ ਨਿਮਨਲਿਖਿਤ ਨਿਯਮਾਂ ਦੇ ਬੱਝੇ ਹੋਣਗੇ।</li>
            <li>ਕਿਸੇ ਵੀ ਮਤਭੇਦ ਦੀ ਸਥਿਤੀ ਵਿੱਚ, ਸਾਡੀ ਟੀਮ ਦਾ ਫ਼ੈਸਲਾ ਅੰਤਮ ਹੋਵੇਗਾ ਅਤੇ ਇਸ ਬਾਰੇ ਕੋਈ ਵੀ ਪੁੱਛਗਿੱਛ ਨਹੀਂ ਕੀਤੀ
              ਜਾਵੇਗੀ।</li>
            <li>ਇਸ ਕਵਿਜ਼ ਨਾਲ ਕੋਈ ਇਨਾਮ ਨਹੀਂ ਜੁੜੇ ਹੋਏ ਹਨ।</li>
            <li>ਇਹ ਕਵਿਜ਼ ਸਿਰਫ਼ ਗਿਆਨ ਵਧਾਉਣ ਅਤੇ ਮਨੋਰੰਜਨ ਲਈ ਹੈ।</li>
          </ol>

          <div class="text-center">
            <a href="{% url 'app:playquiz' quizterms.id %}"><button
                class="btn btn-primary trn">{% trans "Proceed" %}</button></a>&nbsp;
            <a href="javascript: window.history.back();"><button class="btn btn-secondary trn">{% trans "Go Back" %}</button></a>
          </div>

        </div>
        <!-- /QUIZ-TERMS AND CONDITONS -->
      </div>
    </div>
  </section>
  <!-- / -->

  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>


  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script>

    /**
      Checkbox on "I agree" modal Clicked!
    **/
    jQuery("#terms-agree").click(function () {
      jQuery('#termsModal').modal('toggle');

      // Check Terms and Conditions checkbox if not already checked!
      if (!jQuery("#checked-agree").checked) {
        jQuery("input.checked-agree").prop('checked', true);
      }

    });
  </script>
  {% endblock %}

</body>

</html>