{% extends "base.html" %}
{% block content %}
<p>Results</p>
    {% if result %}
            <p>Hi {{ result.user }}, Thanks for participating this quiz. Your score is : {{ result.score }} of {{ result.total_score }}</p>
            <p>{{ quiz.name }}</p>
    {% endif %}

    {% if answers %}
    <p> Please find the correct answers of your questions :- </p>
        <ul>
        {% for object in answers %}
            <li>{{ object.question.question_text }}</li>
            <ul>
                <li>Option A : {{ object.question.option_a }}</li>
                <li>Option B : {{ object.question.option_b }}</li>
                <li>Option C : {{ object.question.option_c }}</li>
                <li>Option D : {{ object.question.option_d }}</li>
                <li>Right Answer : {{ object.question.answer }}</li>
                <li>Your Answer : {{ object.answer }}</li>

            </ul>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}