{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Profile</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-common.css' %}" rel="stylesheet" type="text/css" />

  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group">

        {% include 'engage/friends-block.html' %}
        {% include 'engage/groups-block.html' %}

        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}

      <div class="container-fluid" style="padding-bottom: 50px;">

        <div class="col-md-12" style="padding-bottom: 20px;margin-top: 50px;">
          <div>

            <div class="row profile-img" style="padding: 15px;padding-left: 30px;padding-right: 30px;margin: 0;">
              <figure style="border: 15px solid #A0463E;margin: 0 auto;width:250px;height: auto;">

                  {% if aboutdetails.photo and aboutdetails.profile_photo_moderation == 'verified' %}
                    <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{aboutdetails.photo}}" />
                  {% else %}
                    <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" />
                  {% endif %}

              </figure>
           </div>
           <div class="text-center">

             <form enctype="multipart/form-data" id="id_ajax_upload_form" method="POST" novalidate="">
               {% csrf_token %}
               <span style="display: none;">
                  {{ form.as_p }}
                </span>
                <label style="cursor: pointer;color: blue;padding-right: 30px;" for="id_photo">
                  <ul onclick="showSaveBtn();">Click here to select profile picture</ul>
                </label>
                <input style="display: none;" id="profile_photo" class="btn btn-primary" type="submit" value="Upload" />
            </form>

            </div>
           <br><br>

            <div class="row">
              <h3>WORK AND EDUCATION</h3>
              <div class="col-md-12 col-sm-12">
                <h4>Workplace</h4>
                {% if aboutdetails.workplace|length > 0 %}
                <div class="row">
                  <div class="col-md-11 col-11 workplace"><h5>{{aboutdetails.workplace}}</h5></div>
                  <div class="col-md-1 col-1"><i id="workplace" class="fa fa-pencil" style="cursor: pointer;"></i></div>
                </div>
                <hr>
                {% else %}
                <div class="col-md-11 col-11 workplace"><h5></h5></div>
                <h4 style="color:blue;padding-bottom: 50px;"><a id="workplace" style="cursor: pointer;">+ Add where you work...</a></h4>
                {% endif %}
              </div>
              <div class="col-md-12 col-sm-12">
                <h4>Personal skills</h4>
                {% if aboutdetails.personal_skills|length > 0 %}
                <div class="row">
                  <div class="col-md-11 col-11 personal_skills"><h5>{{aboutdetails.personal_skills}}</h5></div>
                  <div class="col-md-1 col-1"><i id="personal_skills" class="fa fa-pencil" style="cursor: pointer;"></i></div>
                </div>
                <hr>
                {% else %}
                <div class="col-md-11 col-11 personal_skills"><h5></h5></div>
                <h4 style="color:blue;padding-bottom: 50px;"><a id="personal_skills" style="cursor: pointer;">+ Add your skills...</a></h4>
                {% endif %}
              </div>
              <div class="col-md-12 col-sm-12">
                <h4>University</h4>
                {% if aboutdetails.school_university|length > 0 %}
                <div class="row">
                  <div class="col-md-11 col-11 school_university"><h5>{{aboutdetails.school_university}}</h5></div>
                  <div class="col-md-1 col-1"><i id="school_university" class="fa fa-pencil" style="cursor: pointer;"></i></div>
                </div>
                <hr>
                {% else %}
                <div class="col-md-11 col-11 school_university"><h5></h5></div>
                <h4 style="color:blue;padding-bottom: 50px;"><a id="school_university" style="cursor: pointer;">+ Add your university...</a></h4>
                {% endif %}
              </div>
            </div>

            <div class="row">
              <h3>CONTACT AND BASIC INFO</h3>
              <div class="col-md-12 col-sm-12">
                <h4>Contact information</h4>
                <hr>
                {% if aboutdetails.mobile|length > 0 %}
                <div class="row">
                  <div class="col-md-6"><h4>Mobile</h4></div>
                  <div class="col-md-4 col-10">{{aboutdetails.mobile}}</div>
                  <div class="col-md-2 col-2"><small>primary mobile</small></div>
                </div>
                {% endif %}

                {% if aboutdetails.alternate_mobile|length > 0 %}
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-5 col-11 alternate_mobile"><h5>{{aboutdetails.alternate_mobile}}</h5></div>
                  <div class="col-md-1 col-1"><i id="alternate_mobile" class="fa fa-pencil" style="cursor: pointer;"></i></div>
                </div>
                {% else %}
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-5 col-11 alternate_mobile"><h5>{{aboutdetails.alternate_mobile}}</h5></div>
                  <div class="col-md-1 col-1"></div>
                </div>
                <h4 style="color:blue;"><a id="alternate_mobile" style="cursor: pointer;">+ Add phone number</a></h4>
                <hr>
                {% endif %}

                {% if aboutdetails.email|length > 0 %}
                <div class="row">
                  <div class="col-md-6"><h4>Email</h4></div>
                  <div class="col-md-4 col-10">{{aboutdetails.email}}</div>
                  <div class="col-md-2 col-2"><small>primary email</small></div>
                </div>
                {% endif %}

                {% if aboutdetails.alternate_email|length > 0 %}
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-5 col-11 alternate_email"><h5>{{aboutdetails.alternate_email}}</h5></div>
                  <div class="col-md-1 col-1 "><i id="alternate_email" class="fa fa-pencil" style="cursor: pointer;"></i></div>
                </div>
                {% else %}
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-5 col-11 alternate_email"><h5>{{aboutdetails.alternate_email}}</h5></div>
                  <div class="col-md-1 col-1"></div>
                </div>
                <h4 style="color:blue;padding-bottom: 50px;"><a id="alternate_email" style="cursor: pointer;">+ Add Email Address</a></h4>
                <hr>
                {% endif %}


              </div>
              <div class="col-md-12 col-sm-12" style="padding-bottom: 50px;">
                <h4>BASIC INFORMATION</h4>

                <div class="row">
                  <div class="col-md-6">Date of birth</div>
                  <div class="col-md-4 col-10">{{aboutdetails.dob}}</div>
                  <div class="col-md-2 col-2"><small>primary</small></div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">Gender</div>
                  <div class="col-md-4 col-10">{{aboutdetails.gender}}</div>
                  <div class="col-md-2 col-2"><small>primary</small></div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">Langauges</div>
                  <div class="col-md-5 col-11 languages"><h5>{{aboutdetails.languages}}</h5></div>
                  <div class="col-md-1 col-1"><i id="languages" class="fa fa-pencil" style="cursor: pointer;"></i></div>
                </div>
              </div>
            </div>

            <div class="row">
              <h3>DETAILS ABOUT YOU</h3>
              <div class="col-md-12 col-sm-12">
                <h4>ABOUT YOU</h4>

                {% if aboutdetails.about|length > 0 %}
                <div class="row">
                  <div class="col-md-11 col-11 about"><h5>{{aboutdetails.about}}</h5></div>
                  <div class="col-md-1 col-1"><i id="about" class="fa fa-pencil" style="cursor: pointer;"></i></div>
                </div>
                <hr>
                {% else %}
                <div class="row">
                  <div class="col-md-11 col-11 about"><h5>{{aboutdetails.about}}</h5></div>
                </div>
                <h4 style="color:blue;padding-bottom: 50px;"><a id="about" style="cursor: pointer;">+ Write some details about yourself</a></h4>
                {% endif %}
              </div>
              <div class="col-md-12 col-sm-12">
                <h4>OTHER NAMES</h4>
                {% if aboutdetails.nick_names|length > 0 %}
                <div class="row">
                  <div class="col-md-11 col-11 nick_names"><h5>{{aboutdetails.nick_names}}</h5></div>
                  <div class="col-md-1 col-1"><i id="nick_names" class="fa fa-pencil" style="cursor: pointer;"></i></div>
                </div>
                <hr>
                {% else %}
                <div class="row">
                  <div class="col-md-11 col-11 nick_names"><h5>{{aboutdetails.nick_names}}</h5></div>
                </div>
                <h4 style="color:blue;padding-bottom: 50px;"><a id="nick_names" style="cursor: pointer;">+ Add a nick name, birth name...</a></h4>
                {% endif %}
              </div>
              <div class="col-md-12 col-sm-12">
                <h4>FAVOURITE QUOTES</h4>
                {% if aboutdetails.favourite_quotes|length > 0 %}
                <div class="row">
                  <div class="col-md-11 col-11 favourite_quotes"><h5>{{aboutdetails.favourite_quotes}}</h5></div>
                  <div class="col-md-1 col-1"><i id="favourite_quotes" class="fa fa-pencil" style="cursor: pointer;"></i></div>
                </div>
                <hr>
                {% else %}
                <div class="row">
                  <div class="col-md-11 col-11 favourite_quotes"><h5>{{aboutdetails.favourite_quotes}}</h5></div>
                </div>
                <h4 style="color:blue;padding-bottom: 50px;"><a id="favourite_quotes" style="cursor: pointer;">+ Add your favourite quotations</a></h4>
                {% endif %}
              </div>

              <div class="col-md-12 col-sm-12 pb-20">
                <label>Contact info privacy <small>(Mobile, Email)</small></label>
                <select name="contact_info" class="form-control pointer privacy">
                  <option value="">--- Select ---</option>
                  <option value="public" {% if aboutdetails.contact_info == 'public' %} selected {% endif %}>Public</option>
                  <option value="private" {% if aboutdetails.contact_info == 'private' %} selected {% endif %}>Private</option>
                </select>
              </div>
              <div class="col-md-12 col-sm-12 pb-20">
                <label>Personal info privacy <small>(Gender, Date of birth)</small></label>
                <select name="personal_info" class="form-control pointer privacy">
                  <option value="">--- Select ---</option>
                  <option value="public" {% if aboutdetails.personal_info == 'public' %} selected {% endif %}>Public</option>
                  <option value="private" {% if aboutdetails.personal_info == 'private' %} selected {% endif %}>Private</option>
                </select>
              </div>
              <div class="col-md-12 col-sm-12 pb-20">
                <label>Other info privacy <small>(Workplace, School University, Personal Skills, Languages)</small></label>
                <select name="other_info" class="form-control pointer privacy">
                  <option value="">--- Select ---</option>
                  <option value="public" {% if aboutdetails.other_info == 'public' %} selected {% endif %}>Public</option>
                  <option value="private" {% if aboutdetails.other_info == 'private' %} selected {% endif %}>Private</option>
                </select>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $("#workplace").click(function() {addInputField('workplace');});
    $("#personal_skills").click(function() {addInputField('personal_skills');});
    $("#school_university").click(function() {addInputField('school_university');});
    $("#alternate_mobile").click(function() {addInputField('alternate_mobile');});
    $("#alternate_email").click(function() {addInputField('alternate_email');});
    $("#languages").click(function() {addInputField('languages');});
    $("#about").click(function() {addInputField('about');});
    $("#nick_names").click(function() {addInputField('nick_names');});
    $("#favourite_quotes").click(function() {addInputField('favourite_quotes');});
    $("#dob").click(function() {addInputField('dob');});
    $("#gender").click(function() {addInputField('gender');});

    function addInputField(targetIdClass) {
      $value = $('.'+targetIdClass+' h5').text();

      if(targetIdClass == 'about' || targetIdClass == 'nick_names' || targetIdClass == 'favourite_quotes'){

        $("."+targetIdClass).html(`<div class="input-group mb-3">
                            <textarea type="text" rows="5" id="`+targetIdClass+`New" class="form-control" aria-label="`+targetIdClass+`" name="`+targetIdClass+`">`+$value+`</textarea>
                            <div class="input-group-append">
                              <button class="btn btn-success" onclick="saveData('`+targetIdClass+`');" type="button">SAVE</button>
                            </div>
                          </div>`);

      }else{

        $("."+targetIdClass).html(`<div class="input-group mb-3">
                            <input type="text" id="`+targetIdClass+`New" class="form-control" aria-label="`+targetIdClass+`" name="`+targetIdClass+`" value="`+$value+`">
                            <div class="input-group-append">
                              <button class="btn btn-success" onclick="saveData('`+targetIdClass+`');" type="button">SAVE</button>
                            </div>
                          </div>`);
      }
      $("#"+targetIdClass).hide();
    }

    function saveData(columnName){
      $valueNew = $('#'+columnName+'New').val();
      //console.log($workplaceNew);

      $.ajax({
              type: "POST",
              url: "insert",
              data:{
                  columnName: columnName,
                  valueNew: $valueNew,
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(){
                  //alert('Save Data');
                  $("."+columnName).html('<h5>'+$valueNew+'</h5>');
                  $("#"+columnName).show();
                  //window.location = "/";
              }
      });

    }

  </script>

<script type="text/javascript">
  // form upload
  $('#id_ajax_upload_form').submit(function(e){
      // var fileExtension = ['jpeg', 'jpg', 'png'];
      // if ($.inArray($(this.media_file).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
      //     alert("Only formats are allowed : "+fileExtension.join(', '));
      //     return false;
      // }
      e.preventDefault();
      $form = $(this)
      var formData = new FormData(this);
      $.ajax({
          url: 'image_upload_ajax',
          type: 'POST',
          data: formData,
          success: function (response) {
              $('.error').remove();
              //console.log(response)
              if(response.error){
                  alert("Upload a valid image. The file you uploaded was either not an image or a corrupted image.")
              }
              else{
                  alert("Profile picture uploaded. You can view this after moderators approval")
                  window.location = ""
              }
          },
          cache: false,
          contentType: false,
          processData: false
      });
  });
  // end

  function showSaveBtn() {
    $('#profile_photo').show();
  }

  $(".privacy").change(function() {
    valueNew = this.value;
    columnName = this.name;

    $.ajax({
    type: "POST",
    url: "changePrivacy",
    data:{
        columnName: columnName,
        valueNew: valueNew,
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    },
    success: function(){
        alert('privacy changed');
    }
  });

  })

 </script>

  {% endblock %}
</body>

</html>