<!-- This file is not in use -->



{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana-Competition-Winners</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-common.css' %}" rel="stylesheet" type="text/css" />

  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group">

        <div class="col-md-12 text-center" style="padding-top: 15px;padding-left: 15px;padding-right: 15px;">
          <a href="{% url 'group-create' %}" type="button" class="btn btn-primary">Create Group</a>
        </div>

        {% include 'engage/groups-block.html' %}

        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}

      <div class="container-fluid" style="padding-bottom: 50px;padding-top: 50px;">

        <div class="row">

          {% for competitions in allcompetitions %}
          <div class="col-md-4 col-sm-4" style="margin: 0 auto;">
            <div class="price-clean price-clean-popular">
              <div class="ribbon">
                <div class="ribbon-inner">WINNERS</div>
              </div>
              <h4>
                <i class="fa fa-trophy"></i>
              </h4>
              <h5> {{competitions.name}} </h5>
              <hr />
              <p>{{competitions.short_description}}</p>
              <hr />
              <a href="view-competition-winners/{{competitions.id}}" class="btn btn-3d btn-primary">See Results</a>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>
  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  {% endblock %}
</body>

</html>