{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Profile</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-common.css' %}" rel="stylesheet" type="text/css" />

  <!-- Internal CSS -->
  <style>
    p{
      margin-bottom: 0 !important;
    }
    a {
      color: #414141 !important;
    }
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
  <!-- Internal CSS -->
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group" style="padding-bottom: 50px;">
        <!-- <div class="row padding-top-left-right">
            <h3>About Me</h3>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-12 text-right">
          <a href="{% url 'about-engage' %}" type="button" class="btn btn-primary btn-sm">See More</a>
        </div> -->

        <div class="row padding-top-left-right">
            <h4><i class="fa fa-trophy"></i> Sadbhavana Score : {{sadbhavanascore.0.points}}</h4>
        </div>

        {% include 'engage/friends-block.html' %}
        {% include 'engage/groups-block.html' %}
        
        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}

      <div class="container-fluid" style="padding-bottom: 50px;">

        <div class="col-md-12" style="margin-top: 50px;padding-bottom: 20px;">
          <h3>CREATE GROUP</h3>
          <div>
            <div class="row" style="padding-bottom: 30px;">
              <div class="col-md-2 col-2">
                <img style="background: #91D8EE;" width="100%" src="{% static 'assets/images/group-icon.png' %}" />
              </div>
              <div class="col-md-10 col-10">
                  Groups are great for getting things done and staying in touch with just the people you want. Share photos and videos, have conversations, make plans and more.
              </div>
            </div>

            <form id="create-group" name="create-group" enctype="multipart/form-data" method="POST" novalidate="">
            {% csrf_token %}
            <div class="row">
              
              <div class="col-md-12 col-sm-12">
                <label>Name your group<span style="color: red;">*</span></label>
                <input type="text" name="name" id="name" value="" class="form-control">
                <div>
                  <span style="color: red;" id="nameErr"></span>
                </div>
                <br>
              </div>
              
              <div class="col-md-12 col-sm-12">
                <label>Group description<span style="color: red;">*</span></label>
                <textarea rows="5" name="description" id="description" class="form-control word-count" data-maxlength="200" data-info="textarea-words-info" placeholder="Write something here..."></textarea>
                <div>
                  <span style="color: red;" id="descriptionErr"></span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <label>Group privacy<span style="color: red;">*</span></label>
                <select name="privacy" id="privacy" class="form-control pointer required">
                  <option value="">--- Select ---</option>
                  <option value="private">Private</option>
                  <option value="public">Public</option>
                </select>
                <div>
                  <span style="color: red;" id="privacyErr"></span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <label>Post privacy<span style="color: red;">*</span></label>
                <select name="post_privacy" id="post_privacy" class="form-control pointer required">
                  <option value="">--- Select ---</option>
                  <option value="admin">Admin</option>
                  <option value="member">Member</option>
                </select>
                <div>
                  <span style="color: red;" id="post_privacyErr"></span>
                </div>
              </div>
            </div>
            <br>
            <!-- fancy info -->
            <div class="row">
              <div class="col-md-12 col-sm-12">
                {{ form.as_p }}
              </div>

            </div>

            <input href="#" type="submit" class="btn btn-3d btn-aqua float-right" value="Create Group" />
          </div>
        </form>
          
        </div>


      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });


  $("[for=id_photo]").append(`<span style="color: red;">*</span>`);


  $(function() {
    $("form[name='create-group']").validate({
      rules: {
        name: "required",
        description: "required",
        privacy: "required",
        post_privacy: "required"
      },
      // Specify validation error messages
      messages: {
        name: "<span class='text-danger'>Please enter group name</span>",
        description: "<span class='text-danger'>Please enter group description</span>",
        privacy: "<span class='text-danger'>Please select group privacy</span>",
        post_privacy: "<span class='text-danger'>Please select group posts privacy</span>",
      },
      submitHandler: function(form) {
        //form.submit();
        // $('#create-group').submit(function(e){
            //e.preventDefault();

            var fileExtension = ['jpeg', 'jpg', 'png'];
            if ($.inArray($(form.photo).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only formats are allowed : "+fileExtension.join(', '));
                return false;
            }

            $form = $(form)
            var formData = new FormData(form);
            $("body").append(`<div id="process" style="position: fixed;width: 100%;height: 100%;background: transparent;top: 0;"><div class="loader" style="position: fixed;top: 50%;left: 50%;"></div></div>`);
            $.ajax({
                url: 'creategroupajax',
                type: 'POST',
                data: formData,
                success: function (response) {
                    // $('.error').remove();
                    if(response.error){
                      $("#process").remove();
                      if(response.name != ''){
                        $("#nameErr").empty();
                        $("#nameErr").append(response.name);
                      }else{
                        $("#nameErr").empty();
                      }
                      if(response.description != ''){
                        $("#descriptionErr").empty();
                        $("#descriptionErr").append(response.description);
                      }else{
                        $("#descriptionErr").empty();
                      }
                      if(response.privacy != ''){
                        $("#privacyErr").empty();
                        $("#privacyErr").append(response.privacy);
                      }else{
                        $("#privacyErr").empty();
                      }
                      if(response.post_privacy != ''){
                        $("#post_privacyErr").empty();
                        $("#post_privacyErr").append(response.post_privacy);
                      }else{
                        $("#post_privacyErr").empty();
                      }
                      if(response.photo != ''){
                        $("#photoErr").empty();
                        $("#photoErr").append(response.photo);
                      }else{
                        $("#photoErr").empty();
                      }
                    }else{
                      $("#process").remove();
                      console.log(response);
                      alert(response);
                      location.reload();
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        // });
      }
    });

    $('#id_photo').removeAttr('accept');

  });
  </script>

  {% endblock %}
</body>

</html>