{% load i18n %}
{% load static %}
{% load filters %}

<link href="{% static 'assets/css/jquery-ui.css.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/engage/engage-header.css' %}" rel="stylesheet" type="text/css" />

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <button class="btn btn-primary d-block d-sm-none" id="menu-toggle" role="button">
    <!-- <span class="navbar-toggler-icon"></span> -->Find
  </button>

  <div class="row padding-score">
    <h5><i class="fa fa-trophy"></i> Sadbhavana Score :
      {% if sadbhavanascore %}
      {{sadbhavanascore.0.points}}
      {% else %}
        0
      {% endif %}
    </h5>
  </div>

  <button class="btn btn-default navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->Go To
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mt-2 mt-lg-0 p-0 col-md-3 col-12">
      <div class="ui-widget" style="width:100%;">
        <input style="font-size: 12px;" class="form-control" placeholder="Search friends and groups..." id="searchtags">
      </div>
    </ul>

    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link noicon {% if navBar == 'home-engage' %}active-menu{% endif %}" href="{% url 'home-engage' %}">{% trans "Your Wall" %}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link noicon {% if navBar == 'profile-engage' %}active-menu{% endif %}" href="{% url 'profile-engage' %}">{% trans "Profile" %}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Notifications" %}
          <span class="badge badge-warning">{{notificationCount}}</span>
        </a>
        {% if notificationCount is not 0 %}
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          {% if Notifcomments %}
            {% for notification in Notifcomments %}
            <a href="{% url 'posts-view' notification.post_id 'comment' notification.id %}" class="dropdown-item"><b>{{notification.first_name}} {{notification.last_name}}</b> Commented on your post</a>
            {% endfor %}
          {% endif %}

          {% if Notiflikes %}
            {% for notification in Notiflikes %}
            <a href="{% url 'posts-view' notification.post_id 'like' notification.id %}" class="dropdown-item"><b>{{notification.first_name}} {{notification.last_name}} </b>liked your post</a>
            {% endfor %}
          {% endif %}

          {% if Notifgrouppostlikes %}
            {% for notification in Notifgrouppostlikes %}
            <a href="{% url 'group-posts-view' notification.post_id 'like' notification.id %}" class="dropdown-item"><b>{{notification.first_name}} {{notification.last_name}} </b>liked your post in group {{notification.group_name}}</a>
            {% endfor %}
          {% endif %}

          {% if Notifgrouppostcomments %}
            {% for notification in Notifgrouppostcomments %}
            <a href="{% url 'group-posts-view' notification.post_id 'comment' notification.id %}" class="dropdown-item"><b>{{notification.first_name}} {{notification.last_name}} </b>Commented on your post in group {{notification.group_name}}</a>
            {% endfor %}
          {% endif %}

          {% if Notifreq %}
            {% for notification in Notifreq %}
            <a href="{% url 'friends' %}" class="dropdown-item"><b>{{notification.first_name}} {{notification.last_name}} </b>sent you friend request</a>
            {% endfor %}
          {% endif %}
        </div>
        {% endif %}
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{userdetails.first_name}} {{userdetails.last_name}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'about-engage' %}">About</a>
          <a class="dropdown-item" href="{% url 'group-create' %}">Create Group</a>
          <a class="dropdown-item" href="{% url 'friends' %}">Friends</a>
          <a class="dropdown-item" href="{% url 'my-groups-engage' %}">My Groups</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
<script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>

<script>
  $( function() {
    var availableTags = [
      {% for member in allmembers %}
        {"label":"{{member.first_name}} {{member.last_name}}","value": "user", "id": {{member.id}}},
      {% endfor %}
      {% for group in allgroups %}
        {"label":"{{group.name}}","value": "group", "id": {{group.id}}},
      {% endfor %}
    ];

    $('#searchtags').autocomplete({
      source: availableTags,
      select: function (event, ui) {
        //alert(ui.item.id);
        if(ui.item.value == 'user') {
          location.replace("{{baseURL}}/engage/user/"+ui.item.id);
        }else {
          location.replace("{{baseURL}}/engage/group-view/"+ui.item.id);
        }
      }
    });
  });

</script>