{% load i18n %}
{% load static %}
{% load filters %}

<div class="row padding-top-left-right">
  <h3 style="width:100%;">Friends With</h3>
  <div class="row">

    {% if friendsList %}
    {% for flist in friendsList %}

    <div class="col-md-12 col-6 pb-10"><!-- item -->
      <div class="row">

          <div class="col-md-4"><!-- company logo -->
            <a href="user/{{flist.id}}">
              {% if flist.photo and flist.profile_photo_moderation == 'verified' %}
                <img class="img-fluid" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{flist.photo}}" />
              {% else %}
                <img class="img-fluid" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" />
              {% endif %}
            </a>
          </div>
          <div class="col-md-8"><!-- company detail -->
            <a href="user/{{flist.id}}">
              <h5 class="mb-10">{{flist.first_name}} {{flist.last_name}}</h5>
              <ul class="list-inline">
                <li><i class="fa fa-briefcase"></i> <span class="text-warning">{{flist.state}}</span></li>
              </ul>
            </a>
          </div>

      </div>
    </div>

    {% endfor %}

    <div class="col-md-12 text-right">
      <a href="{% url 'friends' %}" type="button" class="btn btn-primary btn-sm">See All</a>
    </div>
    {% else %}
      <div class="col-md-12 text-center">
        <p>No Friends</p>
      </div>
    {% endif %}
    </div>

</div>