{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Profile</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-common.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-friends.css' %}" rel="stylesheet" type="text/css" />

  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group">
        
        {% include 'engage/groups-block.html' %}

        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}

      <div class="container-fluid" style="padding-bottom: 20px;padding-top: 50px;">
        <h4>Friend Requests ({{pendingCount}})</h4>
        <div class="row">

          {% for friends in friendsPending %}
          <div class="col-md-4" id="{{friends.friend_id}}">
            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content">
              <div class="box-icon-title">
                {% if friends.photo and friends.profile_photo_moderation == 'verified' %}
                  <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{friends.photo}}" />
                {% else %}
                  <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" />
                {% endif %}
                <h2>{{friends.first_name}} {{friends.last_name}}</h2>
              </div>
              <div class="col-md-12 text-center">
                <div class="btn-group" style="padding: 15px;">
                  <button type="button" class="btn btn-info"><i class="fa fa-check"></i><span id="request_status">Pending</span></button>
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">Profile</a></li>
                      <li class="dropdown-item"><a onclick="accteptRequest('{{friends.friend_id}}');" href="#">Accept</a></li>
                      <li class="dropdown-item"><a onclick="unfriend('{{friends.friend_id}}');" href="#">Reject</a></li>
                  </ul>
                </div>
              </div>
            </div>          
          </div>
          {% endfor %}

          {% if friends|length < 0 %}
            <div class="col-md-12 text-center">
              <p class="text-center">No pending friend requests</p>
            </div>
          {% endif %}

        </div>

      </div>
      <hr>

      <div class="container-fluid" style="padding-bottom: 50px;padding-top: 20px;">
        <h4>All Friends ({{friendsCount}})</h4>
        <div class="row">

          {% for friends in friendsdetails %}
          <div class="col-md-4" id="{{friends.friend_id}}">
            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large box-icon-content">
              <div class="box-icon-title">
                {% if friends.photo and friends.profile_photo_moderation == 'verified' %}
                  <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{friends.photo}}" />
                {% else %}
                  <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" />
                {% endif %}
                <h2>{{friends.first_name}} {{friends.last_name}}</h2>
              </div>
              <div class="col-md-12 text-center">
                <div class="btn-group" style="padding: 15px;">
                  <button type="button" class="btn btn-info"><i class="fa fa-check"></i><span id="request_status">Friends</span></button>
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
                  <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="{% url 'user' friends.friend_id %}">Profile</a></li>
                      <li class="dropdown-item"><a onclick="unfriend('{{friends.friend_id}}');" href="#">Unfriend</a></li>
                      {% if friends.reporter_id %}
                      <li class="dropdown-item"><a href="#">Reported</a></li>
                      {% else %}
                      <li class="dropdown-item"><a onclick="reportUser('{{friends.friend_id}}');" href="#">Report</a></li>
                      {% endif %}
                  </ul>
                </div>
              </div>
            </div>          
          </div>
          {% endfor %}

          {% if friends|length < 0 %}
            <div class="col-md-12 text-center">
              <p class="text-center">No friends</p>
            </div>
          {% endif %}

        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });


    function unfriend(friendId) {
      console.log(friendId);

      $.ajax({
              type: "POST",
              url: "unfriend",
              data:{
                friendId: friendId,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(){
                  //alert('Save Data');
                  $("#"+friendId).remove();
                  location.reload();
              }
      });

    }

    // function report(friendId) {
    //   console.log(friendId);
    //   $.ajax({
    //           type: "POST",
    //           url: "reportUser",
    //           data:{
    //             friendId: friendId,
    //             csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    //           },
    //           success: function(){
    //               //alert('Save Data');
    //               $("#"+friendId).remove();
    //               location.reload();
    //           }
    //   });
    // }

    function accteptRequest(friendId) {
      console.log(friendId);

      $.ajax({
              type: "POST",
              url: "acceptRequest",
              data:{
                friendId: friendId,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(){
                  //alert('Save Data');
                  $("#"+friendId).remove();
                  location.reload();
              }
      });
    }

    function reportUser(friendId) {
      console.log(friendId);

      $.ajax({
              type: "POST",
              url: "reportuser",
              data:{
                friendId: friendId,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(){
                  //alert('Save Data');
                  // $("#"+friendId).remove();
                  location.reload();
              }
      });
    }

  </script>

  {% endblock %}
</body>

</html>