{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Profile</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-common.css' %}" rel="stylesheet" type="text/css" />

  <!-- Internal CSS -->
  <style>
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
  <!-- Internal CSS -->
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group">

        {% include 'engage/friends-block.html' %}
        {% include 'engage/groups-block.html' %}

        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}

      <div class="container-fluid" style="padding-bottom: 50px;">
        <div class="col-md-12" style="padding-bottom: 20px;margin-top: 50px;">
          <div>
            <form id="update-group" enctype="multipart/form-data" method="POST" novalidate="">
              {% csrf_token %}
              <div class="row">
                
                <input type="hidden" name="group_id" value="{{groupId}}" class="form-control">

                <div class="col-md-12 col-sm-12">
                  <label>Name your group</label>
                  <input type="text" name="name" value="{{groupsettingsdetails.name}}" class="form-control">
                  <br>
                </div>
                
                <div class="col-md-12 col-sm-12">
                  <label>Group description</label>
                  <textarea rows="5" name="description" class="form-control word-count" data-maxlength="200" data-info="textarea-words-info" placeholder="Write something here...">{{groupsettingsdetails.description}}</textarea>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <label>Group privacy</label>
                  <select name="privacy" class="form-control pointer required">
                    <option value="">--- Select ---</option>
                    <option value="private" {% if groupsettingsdetails.privacy == 'private' %} selected {% endif %}>Private</option>
                    <option value="public" {% if groupsettingsdetails.privacy == 'public' %} selected {% endif %}>Public</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <label>Add Post privacy</label>
                  <select name="post_privacy" class="form-control pointer required">
                    <option value="">--- Select ---</option>
                    <option value="admin" {% if groupsettingsdetails.post_privacy == 'admin' %} selected {% endif %}>Admin</option>
                    <option value="member" {% if groupsettingsdetails.post_privacy == 'member' %} selected {% endif %}>Member</option>
                  </select>
                </div>
              </div>
              <br>
              <!-- fancy info -->
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  {{ form.as_p }}
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <img class="img-fluid" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{groupsettingsdetails.photo}}" />
                </div>
              </div>
              
              <input href="#" type="submit" class="btn btn-3d btn-aqua float-right" value="Update Group Settings" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    // form upload
    $('#update-group').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $("body").append(`<div id="process" style="position: fixed;width: 100%;height: 100%;background: transparent;top: 0;"><div class="loader" style="position: fixed;top: 50%;left: 50%;"></div></div>`);
        $.ajax({
            url: '../changegroupimage',
            type: 'POST',
            data: formData,
            success: function (response) {
                // $('.error').remove();
                
                if(response.error){
                  $("#process").remove();
                  console.log("Error in updating group settings");
                  alert("Upload a valid image. The file you uploaded was either not an image or a corrupted image.")
                }else{
                  $("#process").remove();
                  console.log(response);
                  alert(response);
                  location.reload();
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
  </script>

  {% endblock %}
</body>

</html>