{% load i18n %}
{% load static %}
{% load filters %}

<div class="row padding-top-left-right">
  <h3 style="width:100%;">My Groups</h3>
  <div class="row">

    {% if grouplistdetails %}
    {% for glist in grouplistdetails %}
    <div class="col-md-12 col-6 pb-10"><!-- item -->
      <div class="row">
        <div class="col-md-4"><!-- company logo -->
          {% if glist.photo %}
            <img class="img-fluid" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{glist.photo}}" />
          {% else %}
            <img class="img-fluid" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/groups/23-min.jpg" />
          {% endif %}
        </div>
        <div class="col-md-8"><!-- company detail -->
          <h5 class="mb-10">{{glist.name}}</h5>
          <ul class="list-inline">
            <li><i class="fa fa-briefcase"></i> <span class="text-warning">{{glist.privacy}}</span></li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="col-md-12 text-right">
      <a href="{% url 'groups-engage' %}" type="button" class="btn btn-primary btn-sm">See All</a>
    </div>
    {% else %}
      <div class="col-md-12 text-center">
        <p>No Groups Joined!</p>
      </div>
    {% endif %}
    </div>

</div>