{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Profile</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-common.css' %}" rel="stylesheet" type="text/css" />
  <!-- include summernote css -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.css" rel="stylesheet">

  <!-- Internal CSS -->
  <style>
    a {
      color: #414141 !important;
    }

    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .note-insert {
      display: none !important;
    }

  </style>
  <!-- Internal CSS -->
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group">

        {% include 'engage/friends-block.html' %}
        {% include 'engage/groups-block.html' %}

        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}


      <div class="col-md-12" style="padding-bottom: 20px;margin-top: 40px;margin-bottom: 40px;">
        <h3>STATUS UPDATE</h3>
        <div>
          <form id="create-post" name="create-post" enctype="multipart/form-data" method="POST" novalidate="">
          {% csrf_token %}
          <!-- <div class="row">
            <div class="col-md-12 col-sm-12">
              <label>Post Title<span style="color: red;">*</span></label>
              <input type="text" name="title" id="title" value="" class="form-control" placeholder="Post Title">
              <div>
                <span style="color: red;" id="nameErr"></span>
              </div>
            </div>
          </div>
          <br> -->
          <div class="fancy-form">
            <label>Write Your Post</label> <!--<span style="color: red;">*</span>-->
            <!-- data-maxlength="200" -->
            <!-- <textarea rows="5" name="desc" id="desc" class="form-control word-count" data-info="textarea-words-info" placeholder="Write something here..."></textarea> -->
            <textarea rows="10" id="summernote" name="desc"></textarea>
            <div>
              <span style="color: red;" id="descriptionErr"></span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              {{ form.as_p }}
            </div>
            <div class="col-md-12 col-sm-12">
              <span style="color: red;" id="photoErr"></span>
            </div>
          </div>
          <input href="#" type="submit" class="btn btn-3d btn-aqua float-right" value="Create Post" />
          </form>
        </div>
      </div>

      <hr>

      {% if userposts|length > 0 %}
      {% for posts in userposts %}
      <div id="post_{{posts.id}}" class="container-fluid" style="padding-top: 50px;">

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1 col-3">
              {% if posts.profile_picture|length > 0 and posts.profile_photo_moderation == 'verified' %}
                <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{posts.profile_picture}}" class="rounded-circle comment-img" />
              {% else %}
                <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" class="rounded-circle comment-img">
              {% endif %}
            </div>
            <div class="col-md-11 col-9">
              <h4 class="mb-0">{{posts.first_name}} {{posts.last_name}}</h4>
              <p class="mb-0"><b>{{posts.pub_date}} | {{posts.post_privacy}}</b></p>
            </div>
          </div>
            <h3><!-- <a href="posts-view/{{posts.post_id}}">{{posts.title}}</a> -->
              {% if userId == posts.user_id %}
                <i style="float: right;margin-top: 4px;cursor: pointer;" onclick="deletePost('{{posts.id}}');" class="fa fa-trash"></i>
              {% endif %}
            </h3>
          <a href="posts-view/{{posts.post_id}}">
            <p style="margin-bottom: 10px;margin-left: 15px;"></p>{{posts.body|truncatewords:100|safe}} <b>See more</b></p>
          </a>

          <a href="posts-view/{{posts.post_id}}">
            {% if posts.mediaFormat == 'image' %}
            <div class="col-md-3 col-12">
              <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{posts.media_file}}" data-plugin-options='{"type":"image"}'>
                <span class="image-hover-icon image-hover-dark">
                  <i class="fa fa-camera"></i>
                </span>
                <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{posts.media_file}}" class="img-fluid" alt="company logo" style="width:100%;">
              </a>
            </div>
            {% elif posts.mediaFormat == 'video' %}
            <div class="col-md-6 col-12">
              <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{posts.media_file}}" data-plugin-options='{"type":"iframe"}'>
                <span class="image-hover-icon image-hover-dark">
                  <i class="fa fa-video-camera"></i>
                </span>
                <video width="100%" controls>
                  <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{posts.media_file}}" type="video/mp4">
                </video>
              </a>
            </div>
            {% else %}

            {% endif %}
          </a>
          <div class="row" style="padding: 15px 15px;">
            <div class="col-md-6 col-sm-6 col-6">
              <b style="font-size: 16px;">{{posts.likes_count}} Likes</b>
            </div>
            <div class="col-md-6 col-sm-6 col-6 text-right">
              <b style="font-size: 16px;">{{posts.comments_count}} Comments</b>
            </div>
          </div>
          <hr>

        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="container-fluid" style="padding-bottom: 50px;padding-top: 50px;">
        <div class="col-md-12 text-center" style="padding-bottom: 50px;">
          No User Posts!
        </div>
      </div>
      {% endif%}

    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

  <!-- include summernote js -->
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

  function deletePost(post_id){
    if (confirm("Are you sure?")) {
      $.ajax({
        type: "POST",
        url: "deleteuserpost",
        data:{
            post_id: post_id,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(){
          $("#post_"+post_id).remove();
        }
    });
    }
    return false;
  }

  $(function() {
    $("form[name='create-post']").validate({
      rules: {
        // title: "required",
        // desc: "required"
      },
      // Specify validation error messages
      messages: {
        // title: "<span class='text-danger'>Please enter post title</span>",
        // desc: "<span class='text-danger'>Please enter post description</span>"
      },
      submitHandler: function(form) {
        //form.submit();
        console.log(form);

        if($(form.media_file).val() == '' && $(form.desc).val() == '') {
              alert("Please fill at least one field.");
              return false;
        }

        if($(form.media_file).val()) {
          var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'mp4', '3gp'];
          if ($.inArray($(form.media_file).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
              alert("Only formats are allowed : "+fileExtension.join(', '));
              return false;
          }
        }

        // $('#create-post').submit(function(e){
        //e.preventDefault();
        $form = $(form)
        var formData = new FormData(form);
        $("body").append(`<div id="process" style="position: fixed;width: 100%;height: 100%;background: transparent;top: 0;"><div class="loader" style="position: fixed;top: 50%;left: 50%;"></div></div>`);
        $.ajax({
            url: 'createpostajax',
            type: 'POST',
            data: formData,
            success: function (response) {
                // $('.error').remove();
                
                if(response.error){
                  $("#process").remove();
                  if(response.name != ''){
                    $("#nameErr").empty();
                    $("#nameErr").append(response.name);
                  }else{
                    $("#nameErr").empty();
                  }
                  if(response.description != ''){
                    $("#descriptionErr").empty();
                    $("#descriptionErr").append(response.description);
                  }else{
                    $("#descriptionErr").empty();
                  }
                  // if(response.photo != ''){
                  //   $("#photoErr").empty();
                  //   $("#photoErr").append(response.photo);
                  // }else{
                  //   $("#photoErr").empty();
                  // }
                }else{
                  $("#process").remove();
                  console.log(response);
                  alert(response);
                  location.reload();
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    // });


      }
    });
  });

  $(document).ready(function() {
    $('#summernote').summernote({
        placeholder: 'Write something here...',
        tabsize: 2,
        height: 300
      });
  });

  </script>

  {% endblock %}
</body>

</html>