{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Profile</title>
  <meta property="og:title" content="{{singlepostdetails.title}}" />
  <meta name="og:description" content="{{singlepostdetails.body}}" />
  <meta property="og:image" content="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{singlepostdetails.media_file}}" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-common.css' %}" rel="stylesheet" type="text/css" />

  <!-- Internal CSS -->
  <style>
    a {
      color: #414141 !important;
    }

    .comment-img {
      width: 46px;
      height: 46px;
    }
  </style>
  <!-- Internal CSS -->
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group">
        
        {% include 'engage/groups-block.html' %}
        
        </div>

    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}

      <div class="container-fluid" style="padding-bottom: 50px;padding-top: 50px;">

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1 col-3">
              {% if singlepostdetails.photo|length > 0 and singlepostdetails.profile_photo_moderation == 'verified' %}
                <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{singlepostdetails.photo}}" class="rounded-circle comment-img" />
              {% else %}
                <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" class="rounded-circle comment-img">
              {% endif %}
            </div>
            <div class="col-md-11 col-9">
              <h4 class="mb-0">{{singlepostdetails.first_name}} {{singlepostdetails.last_name}}</h4>
              <p class="mb-0"><b>{{singlepostdetails.pub_date}} | {{singlepostdetails.post_privacy}}</b></p>
            </div>
          </div>

          {% if mediaFormat == 'image' %}
          <figure style="max-width:320px;margin: 0 auto;">
            <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{singlepostdetails.media_file}}" data-plugin-options='{"type":"image"}'>
              <span class="image-hover-icon image-hover-dark">
                <i class="fa fa-camera"></i>
              </span>
              <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{singlepostdetails.media_file}}" class="img-fluid" alt="company logo" style="width:100%;">
            </a>
          </figure>
          {% elif mediaFormat == 'video' %}
            <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{singlepostdetails.media_file}}" data-plugin-options='{"type":"iframe"}'>
              <span class="image-hover-icon image-hover-dark">
                <i class="fa fa-video-camera"></i>
              </span>
              <video width="100%" height="400px;" controls>
                <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{singlepostdetails.media_file}}" type="video/mp4">
              </video>
            </a>
          {% else %}
            
          {% endif %}
          <p style="margin-bottom: 10px;margin-top: 30px;">{{singlepostdetails.body|safe}}</p>
          
          <div class="row" style="padding: 15px 15px;">
            <div class="col-md-6 col-sm-6 col-6">
              <a data-toggle="modal" data-target=".bs-example-modal-lg">
                <b class="fa fa-thumbs-o-up" style="font-size: 20px;"></b>&nbsp;<span id="like-1">{{likescount}}</span>
              </a>
            </div>
            <div class="col-md-6 col-sm-6 col-6 text-right">
              <b style="font-size: 14px;"><span id="cmt-count">{{commentscount}}</span> Comments</b>
            </div>
          </div>
          <hr>

          <!-- <form method="post">
            {% csrf_token %} -->
          <div class="row"  style="padding: 10px 15px;">
            <div id="add-like-1" class="col-md-6 col-sm-6 col-6" style="padding-left: 5px;padding-right: 5px;cursor: pointer;">
              {% if iscurrentuserlike %}
                <b class="fa fa-thumbs-up" style="font-size: 18px;"></b>&nbsp <b>Unlike</b>
              {% else %}
                <b class="fa fa-thumbs-o-up" style="font-size: 18px;"></b>&nbsp <b>Like</b>
              {% endif %}
            </div>
            <!-- <div class="col-md-4 col-sm-4 col-4 text-center" style="padding-left: 5px;padding-right: 5px;">
              <b class="fa fa-comment-o" style="font-size: 16px;"></b>&nbsp <b>Comment</b>
            </div> -->
            <div class="col-md-6 col-sm-6 col-6 text-right"  style="padding-left: 5px;padding-right: 5px;">
              <!-- <b class="fa fa-share" style="font-size: 16px;"></b>&nbsp <b>Share</b> -->
              <div class="fb-share-button" data-href="{{ baseURL }}{{ request.get_full_path|urlencode }}" 
              data-layout="button_count" data-size="small">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
              </div>
              <!-- onclick="sharePoints();" -->
              <a data-text="{{singlepostdetails.body}}....Read more" data-link="{{ baseURL }}{{ request.get_full_path|urlencode }}" 
              class="whatsapp">
                <img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" />
              </a>
            </div>
          </div>
          <hr>
          

          <div>
            <h3>Comments : </h3>
            <div style="padding: 10px 15px;">
              <div class="row">
                <div class="col-md-1 col-sm-1 col-2" style="padding:0;text-align: end;">
                  {% if currentuserdetails.photo|length > 0 and currentuserdetails.profile_photo_moderation == 'verified' %}
                    <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{currentuserdetails.photo}}" class="rounded-circle comment-img">
                  {% else %}
                    <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" class="rounded-circle comment-img" alt="company logo">
                  {% endif %}
                </div>


                <div class="col-md-11 col-sm-11 col-10">
                  <!-- <form id="comment-user-post" method="POST" novalidate=""> -->
                    <!-- <input id="add-comment-1" type="text" name="comment" value="" class="form-control" placeholder="Write a comment..." style="border-radius: 25px;margin-top: 1%;"> -->

                    <div class="input-group mb-3">
                      <input id="add-comment-1" type="text" name="comment" value="" class="form-control" placeholder="Write a comment..." style="border-bottom-left-radius: 25px; border-top-left-radius: 25px;">
                      <div class="input-group-append">
                        <button class="btn btn-primary" id="add-comment-2" type="submit" style="border-bottom-right-radius: 25px;
                        border-top-right-radius: 25px;">Send</button>
                      </div>
                    </div>

                  <!-- </form> -->
                  <p></p>
                </div>
              </div>

                <div id="new-comment">

                </div>

                {% for comments in postcomments %}
                <div class="row" id="delete_{{comments.id}}">
                  <div class="col-md-1 col-sm-1 col-2" style="padding:0;text-align: end;">
                    <a href="{% url 'user' comments.user_id %}">
                    {% if comments.photo|length > 0 and comments.profile_photo_moderation == 'verified' %}
                      <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comments.photo}}" class="rounded-circle comment-img" alt="company logo">
                    {% else %}
                      <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" class="rounded-circle comment-img" alt="company logo">
                    {% endif %}
                    </a>
                  </div>
                  <div class="col-md-11 col-sm-11 col-10">
                    <div style="border: 1px solid #fbfafa;border-radius: 50px;padding: 10px;background:#fbfafa;">
                      <b>{{comments.first_name}} {{comments.last_name}} : </b>
                      <span>{{comments.comment_text}}</span>
                      {% if userId == comments.user_id %}
                        <i style="float: right;margin-top: 4px;cursor: pointer;" onclick="deleteComment('{{comments.id}}');" class="fa fa-trash"></i>
                      {% endif %}
                    </div>
                    <p style="margin-bottom: 10px;font-size: 12px;"><span>{{comments.commented_date}}</span></p>
                  </div>
                </div>
                {% endfor %}

                <p></p>

            </div>
          </div>
          <!-- </form> -->

        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">All Likes</h4>
              </div>
              <div class="modal-body">
                <div class="col-md-12 col-sm-12" style="line-height: 2.5;">
                    <ol id="all-likes">
                    </ol>
                  </div>
              </div>
              <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">{% trans "Go Back" %}</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(
    function() {

      $("#add-like-1").click(function(){
        if($(this).children().hasClass("fa-thumbs-o-up")) {

          $(this).children().first().removeClass('fa-thumbs-o-up');
          $(this).children().first().addClass('fa-thumbs-up');
          var count = $("#like-1").text();
          count = parseInt(count)+1;
          $("#like-1").text(count);

          $.ajax({
              type: "POST",
              url: "likeuserpostajax",
              data:{
                  islike: 'yes',
                  post_id: {{post_id}},
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(){
                $('#add-like-1').html('<b class="fa fa-thumbs-up" style="font-size: 18px;"></b>&nbsp <b>UnLike</b>');
                getLikes();
              }
          });

        }else{
          $(this).children().first().removeClass('fa-thumbs-up');
          $(this).children().first().addClass('fa-thumbs-o-up');
          var count = $("#like-1").text();
          count = parseInt(count)-1;
          $("#like-1").text(count);

          $.ajax({
              type: "POST",
              url: "likeuserpostajax",
              data:{
                  islike: 'no',
                  post_id: {{post_id}},
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(){
                $('#add-like-1').html('<b class="fa fa-thumbs-o-up" style="font-size: 18px;"></b>&nbsp <b>Like</b>');
                getLikes();
              }
          });

        }
      });

      function addComment() {
        var cmt = $('#add-comment-1').val();
        if(cmt == '') {
          return false;
        }
        //Clear input
        $('#add-comment-1').val("");
        var cmtCount = $('#cmt-count').text();
        var cmtCount = parseInt(cmtCount) + 1;
        $('#cmt-count').text(cmtCount);
        // console.log("in click")
        // console.log($('input[name=csrfmiddlewaretoken]').val());

        $.ajax({
            type: "POST",
            url: "commentuserpostajax",
            data:{
                comment_text: cmt,
                post_id: {{post_id}},
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(response){
              console.log(response);

          {% if currentuserdetails.photo  and currentuserdetails.profile_photo_moderation == 'verified' %}
          $('#new-comment').prepend(`<div class="row" id="delete_`+response+`"> <div class="col-md-1 col-sm-1 col-2" style="padding:0;text-align: end;">
                                      <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{currentuserdetails.photo}}" class="rounded-circle comment-img">
                                    </div>
                                    <div class="col-md-11 col-sm-11 col-10">
                                      <div style="border: 1px solid #fbfafa;border-radius: 50px;padding: 10px;background:#fbfafa;"><b>{{currentuserdetails.first_name}} {{currentuserdetails.last_name}} : </b>`+cmt+`<i style="float: right;margin-top: 4px;cursor: pointer;" onclick="deleteComment(`+response+`);" class="fa fa-trash"></i></div>
                                      <p style="margin-bottom: 10px;font-size: 12px;"><span>Just now</span><span style="color:red;margin-left:5px;">(This comment will show after moderator approve it)</span></p>
                                    </div> </div>`);
        {% else %}
          $('#new-comment').prepend(`<div class="row" id="delete_`+response+`"> <div class="col-md-1 col-sm-1 col-2" style="padding:0;text-align: end;">
                                      <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" class="rounded-circle comment-img">
                                    </div>
                                    <div class="col-md-11 col-sm-11 col-10">
                                      <div style="border: 1px solid #fbfafa;border-radius: 50px;padding: 10px;background:#fbfafa;"><b>{{currentuserdetails.first_name}} {{currentuserdetails.last_name}} : </b>`+cmt+`<i style="float: right;margin-top: 4px;cursor: pointer;" onclick="deleteComment(`+response+`);" class="fa fa-trash"></i></div>
                                      <p style="margin-bottom: 10px;font-size: 12px;"><span>Just now</span><span style="color:red;margin-left:5px;">(This comment will show after moderator approve it)</span></p>
                                    </div> </div>`);
        {% endif %}
              //location.reload();
            }
        });
      }

      $('#add-comment-1').bind("enterKey",function(e){
        addComment();
      });

      $('#add-comment-2').bind("click",function(e){
        addComment();
      });

      $('#add-comment-1').keyup(function(e){
        if(e.keyCode == 13){
          $(this).trigger("enterKey");
        }
      });

  });

  function deleteComment(comment_id){

    if (confirm("Are you sure?")) {
      $.ajax({
        type: "POST",
        url: "deleteusercomment",
        data:{
            comment_id: comment_id,
            post_id: {{post_id}},
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(){
          $("#delete_"+comment_id).remove();
          var countVal = $("#cmt-count").text();
          $("#cmt-count").text(countVal-1);
        }
    });
    }
    return false;
  }

  function sharePoints(){
      var points = 5;

      $.ajax({
        url: 'addsadbhavanapoints',
        type: 'POST',
        data: {
          type:'post-share',
          points:points,
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function (response) {
            console.log("success");
        }
    });

    };

    function getLikes(){
      $.ajax({
        type: "POST",
        url: "getLikesAjax",
        data:{
            post_id: {{post_id}},
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(response){
          console.log(response);
          $('#all-likes').html('');
          if(response.length == 0) {
            $('#all-likes').html('<p class="text-center">No Likes.</p>');
          }else {
            $.each(response, function(key, value) {
            if(value.img == null || value.profile_photo_moderation == 'block') {
              $('#all-likes').append(`<li style="list-style: none;">
                <a href="../../user/`+value.user_id+`">
                <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" class="rounded-circle comment-img" alt="company logo">
                </a>
                `+value.first_name+` `+value.last_name+`
              </li>`);
            }else {
              $('#all-likes').append(`<li style="list-style: none;">
                <a href="../../user/`+value.user_id+`">
                <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/`+value.img+`" class="rounded-circle comment-img" alt="company logo">
                </a>
                `+value.first_name+` `+value.last_name+`
            </li>`);
            }
        });
          }

        }
    });
    }

    $(document).ready(function() {
        getLikes(); // start the loop
    });
  </script>

  {% endblock %}
</body>

</html>