{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Profile</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-common.css' %}" rel="stylesheet" type="text/css" />

  <!-- Internal CSS -->
  <style>
    a {
      color: #414141 !important;
    }
  </style>
  <!-- Internal CSS -->
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group">

        {% include 'engage/friends-block.html' %}
        {% include 'engage/groups-block.html' %}

        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}

      <div class="container-fluid" style="padding-top: 50px;">

        <div class="col-md-12 text-center">
          <h5>No result found!!!</h5>
        </div>
      </div>

    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>
  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(
    function() {
        $("#comment-1").click(function() {
          if($(".display-comments-1").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-1").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });
        $("#comment-2").click(function() {
          if($(".display-comments-2").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-2").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });
        $("#comment-3").click(function() {
          if($(".display-comments-3").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-3").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });
        $("#comment-4").click(function() {
          if($(".display-comments-4").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-4").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });
        $("#comment-5").click(function() {
          if($(".display-comments-5").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-5").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });

        $("#add-like-1").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-1").text();
            count = parseInt(count)+1;
            $("#like-1").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-1").text();
            count = parseInt(count)-1;
            $("#like-1").text(count);
          }
        });

        $("#add-like-2").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-2").text();
            count = parseInt(count)+1;
            $("#like-2").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-2").text();
            count = parseInt(count)-1;
            $("#like-2").text(count);
          }
        });

        $("#add-like-3").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-3").text();
            count = parseInt(count)+1;
            $("#like-3").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-3").text();
            count = parseInt(count)-1;
            $("#like-3").text(count);
          }
        });

        $("#add-like-4").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-4").text();
            count = parseInt(count)+1;
            $("#like-4").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-4").text();
            count = parseInt(count)-1;
            $("#like-4").text(count);
          }
        });

        $("#add-like-5").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-5").text();
            count = parseInt(count)+1;
            $("#like-5").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-5").text();
            count = parseInt(count)-1;
            $("#like-5").text(count);
          }
        });
  });
  </script>

  {% endblock %}
</body>

</html>