{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage - Profile</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-common.css' %}" rel="stylesheet" type="text/css" />

  <!-- Internal CSS -->
  <style>
    .posts-actions:hover {
      color: cornflowerblue;
    }
    a {
      color: #414141 !important;
    }

  </style>
  <!-- Internal CSS -->
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group">
        <div class="row profile-img d-none d-sm-block" style="padding: 15px;padding-left: 30px;padding-right: 30px;margin: 0;">
            <figure style="border: 15px solid #A0463E;margin: 0 auto;margin-top: 42px;">
              {% if profiledetails.photo|length > 0 and profiledetails.profile_photo_moderation == 'verified' %}
                <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{profiledetails.photo}}" />
              {% else %}
              <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" />
              {% endif %}
            </figure>
        </div>

        <div class="col-md-12 text-center d-none d-sm-block">
          {% if isalreadyfriend %}

          <div class="btn-group" style="padding: 15px;">
            <button type="button" class="btn btn-info"><i class="fa fa-check"></i>
              {% if isalreadyfriend.0.request_status == 'Pending' %}
                <span id="request_status">Pending</span>
              {% else %}
                <span id="request_status">Friends</span>
              {% endif %}
            </button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="#">Profile</a></li>
              <li class="dropdown-item"><a onclick="unfriend('{{isalreadyfriend.0.responser}}');" href="#">Unfriend</a></li>
            </ul>
          </div>

          {% else %}

          {% csrf_token %}
            {% if friendid != userId %}
              <a onclick="addFriend('{{friendid}}');" type="button" class="btn btn-primary">Add Friend</a>
            {% endif %}
          {% endif %}
        </div>

        <div class="col-md-12 d-none d-sm-block text-center">
          <span style="font-size: 30px;margin-top: 20px;display: block;font-weight: 900;color:#000;font-family: initial;">
            {{profiledetails.first_name}}  {{profiledetails.last_name}}</span>
          <div class="row">
            {% if profiledetails.personal_info == 'public' %}
              {% if profiledetails.age %}
                <div class="col-md-4"><h5>AGE : {{profiledetails.age}}</h5></div>
              {% endif %}
            {% endif %}
            {% if profiledetails.state %}
              <div class="col-md-8"><h5>STATE : {{profiledetails.state}}</h5></div>
            {% endif %}
          </div>
        </div>
        {% if profiledetails.personal_info == 'public' %}
        {% if profiledetails.about|length > 0 %}
        <div class="row padding-top-left-right d-none d-sm-block">
            <h3>About Me</h3>
            <p class="text-justify">{{profiledetails.about}}</p>
        </div>
        {% endif %}

          {% if profiledetails.gender|length > 0 %}
          <div class="row pl-30 padding-left-right d-none d-sm-flex">
              <h5>Gender : </h5>
              <h5 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.gender}}</h5>
          </div>
          {% endif %}

          <div class="row pl-30 padding-left-right d-none d-sm-flex">
              <h5>Date of birth : </h5>
              <h5 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.dob}}</h5>
          </div>
        {% endif %}

        {% if profiledetails.contact_info == 'public' %}
          {% if profiledetails.mobile|length > 0 %}
          <div class="row pl-30 padding-left-right d-none d-sm-flex">
              <h5>Mobile : </h5>
              <h5 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.mobile}}</h5>
          </div>
          {% endif %}

          {% if profiledetails.email|length > 0 %}
          <div class="row pl-30 padding-left-right d-none d-sm-flex">
              <h5>Email : </h5>
              <h5 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.email}}</h5>
          </div>
          {% endif %}
        {% endif %}

        {% if profiledetails.other_info == 'public' %}
          {% if profiledetails.workplace|length > 0 %}
          <div class="row pl-30 padding-left-right d-none d-sm-flex">
              <h5>Workplace : </h5>
              <h5 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.workplace}}</h5>
          </div>
          {% endif %}

          {% if profiledetails.school_university|length > 0 %}
          <div class="row pl-30 padding-left-right d-none d-sm-flex">
              <h5>School University : </h5>
              <h5 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.school_university}}</h5>
          </div>
          {% endif %}

          {% if profiledetails.personal_skills|length > 0 %}
          <div class="row pl-30 padding-left-right d-none d-sm-flex">
              <h5>Personal Skills : </h5>
              <h5 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.personal_skills}}</h5>
          </div>
          {% endif %}

          {% if profiledetails.languages|length > 0 %}
          <div class="row pl-30 padding-left-right d-none d-sm-flex">
              <h5>Languages : </h5>
              <h5 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.languages}}</h5>
          </div>
          {% endif %}

        {% endif %}

        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}

      <div class="container-fluid" style="padding-bottom: 50px;">

          <div class="col-md-12  d-block d-sm-none">
            <div class="row profile-img" style="padding: 15px;padding-left: 30px;padding-right: 30px;margin: 0;">
              <figure style="border: 15px solid #A0463E;margin: 0 auto;margin-top: 42px;">
                {% if profiledetails.photo|length > 0 and profiledetails.profile_photo_moderation == 'verified' %}
                  <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{profiledetails.photo}}" />
                {% else %}
                <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" />
                {% endif %}
              </figure>
          </div>

          <div class="col-md-12 text-center">
            {% if isalreadyfriend %}
            <div class="btn-group" style="padding: 15px;">
              <button type="button" class="btn btn-info"><i class="fa fa-check"></i>
                {% if isalreadyfriend.0.request_status == 'Pending' %}
                  <span id="request_status">Pending</span>
                {% else %}
                  <span id="request_status">Friends</span>
                {% endif %}
              </button>
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"></button>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#">Profile</a></li>
                <li class="dropdown-item"><a onclick="unfriend('{{isalreadyfriend.0.responser}}');" href="#">Unfriend</a></li>
              </ul>
            </div>
            {% else %}
            {% csrf_token %}
              {% if friendid != userId %}
                <a onclick="addFriend('{{friendid}}');" type="button" class="btn btn-primary">Add Friend</a>
              {% endif %}
            {% endif %}
          </div>
            <span style="font-size: 40px;margin-top: 15px;display: block;font-weight: 900;color:#000;font-family: initial;text-align: center;">
              {{profiledetails.first_name}}  {{profiledetails.last_name}}</span>

            <hr>
            {% if profiledetails.state %}
            <div class="row pl-30">
                <h4>State : </h4>
                <h4 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.state}}</h4>
            </div>
            {% endif %}

            {% if profiledetails.personal_info == 'public' %}
            {% if profiledetails.about|length > 0 %}
            <div class="col-md-12 padding-top-left-right">
                <h3>About Me</h3>
                <p class="text-justify">{{profiledetails.about}}</p>
            </div>
            {% endif %}

            {% if profiledetails.age %}
            <div class="row pl-30">
                <h4>Age : </h4>
                <h4 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.age}}</h4>
            </div>
            {% endif %}
            {% if profiledetails.gender|length > 0 %}
            <div class="row pl-30">
                <h4>Gender : </h4>
                <h4 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.gender}}</h4>
            </div>
            {% endif %}
            <div class="row pl-30">
                <h4>Date of birth : </h4>
                <h4 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.dob}}</h4>
            </div>
            {% endif %}
            {% if profiledetails.other_info == 'public' %}
              {% if profiledetails.languages|length > 0 %}
              <div class="row pl-30">
                  <h4>Languages : </h4>
                  <h4 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.languages}}</h4>
              </div>
              {% endif %}
              {% if profiledetails.workplace|length > 0 %}
              <div class="row pl-30">
                  <h4>Workplace : </h4>
                  <h4 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.workplace}}</h4>
              </div>
              {% endif %}
              {% if profiledetails.school_university|length > 0 %}
              <div class="row pl-30">
                  <h4>School University : </h4>
                  <h4 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.school_university}}</h4>
              </div>
              {% endif %}
              {% if profiledetails.personal_skills|length > 0 %}
              <div class="row pl-30">
                  <h4>Personal Skills : </h4>
                  <h4 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.personal_skills}}</h4>
              </div>
              {% endif %}
            {% endif %}
            {% if profiledetails.contact_info == 'public' %}
              {% if profiledetails.mobile|length > 0 %}
              <div class="row pl-30">
                  <h4>Mobile : </h4>
                  <h4 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.mobile}}</h4>
              </div>
              {% endif %}
              {% if profiledetails.email|length > 0 %}
              <div class="row pl-30">
                  <h4>Email : </h4>
                  <h4 class="text-justify" style="font-weight: 300;">&nbsp; {{profiledetails.email}}</h4>
              </div>
              {% endif %}
            {% endif %}
          </div>
          <hr>

          {% if userposts %}
          {% for posts in userposts %}
          <div id="post_{{posts.id}}" class="container-fluid" style="padding-top: 50px;">

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-1 col-3">
                  {% if posts.profile_picture|length > 0 and posts.profile_photo_moderation == 'verified' %}
                    <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{posts.profile_picture}}" class="rounded-circle comment-img" />
                  {% else %}
                    <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/engage/profile/avatar.png" class="rounded-circle comment-img">
                  {% endif %}
                </div>
                <div class="col-md-11 col-9">
                  <h4 class="mb-0">{{posts.first_name}} {{posts.last_name}}</h4>
                  <p class="mb-0"><b>{{posts.pub_date}} | {{posts.post_privacy}}</b></p>
                </div>
              </div>
                <h3>
                  {% if userId == posts.user_id %}
                    <i style="float: right;margin-top: 4px;cursor: pointer;" onclick="deletePost('{{posts.id}}');" class="fa fa-trash"></i>
                  {% endif %}
                </h3>
              <a href="../posts-view/{{posts.id}}">
                <p style="margin-bottom: 10px;">{{posts.body|truncatewords:100|safe}}</p>
              </a>
              <a href="../posts-view/{{posts.id}}">
                {% if posts.mediaFormat == 'image' %}
                <div class="col-md-3 col-12">
                  <img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{posts.media_file}}" class="img-fluid" alt="company logo" style="width:100%;">
                </div>
                {% elif posts.mediaFormat == 'video' %}
                <div class="col-md-3 col-12">
                  <video width="100%" controls>
                    <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{posts.media_file}}" type="video/mp4">
                  </video>
                </div>
                {% else %}
                {% endif %}
              </a>
              <div class="row" style="padding: 0px 15px;">
                <div class="col-md-6 col-sm-6 col-6">
                  <b style="font-size: 16px;">{{posts.likes_count}} Likes</b>
                </div>
                <div class="col-md-6 col-sm-6 col-6 text-right">
                  <b style="font-size: 16px;">{{posts.comments_count}} Comments</b>
                </div>
              </div>
              <hr>
            </div>
          </div>

          {% endfor %}

          {% else %}

          <div class="col-md-12 pt-50">
            <a style="color: #808080;">
              <p class="text-center" style="margin-bottom: 10px;">...No Posts yet...</p>
            </a>
          </div>

          {% endif %}

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>
  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(
    function() {

      {% for posts in userposts %}

        $("#add-like-{{posts.id}}").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-{{posts.id}}").text();
            count = parseInt(count)+1;
            $("#like-{{posts.id}}").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-{{posts.id}}").text();
            count = parseInt(count)-1;
            $("#like-{{posts.id}}").text(count);
          }
        });

        $('#add-comment-{{posts.id}}').bind("enterKey",function(e){
          var cmt = $('#add-comment-{{posts.id}}').val();
          //Clear input
          $('#add-comment-{{posts.id}}').val("");
          var cmtCount = $('#cmt-count-{{posts.id}}').text();
          var cmtCount = parseInt(cmtCount) + 1;
          $('#cmt-count-{{posts.id}}').text(cmtCount);

          $('#new-comment-{{posts.id}}').prepend(`<div class="col-md-1 col-sm-1 col-1" style="padding:0;">
                                    <img src="{% static 'assets/images/people/300x300/6-min.jpg' %}" class="img-fluid rounded-circle" alt="company logo">
                                  </div>
                                  <div class="col-md-11 col-sm-11 col-11">
                                    <div style="border: 1px solid #d0d0d0;border-radius: 50px;padding: 10px;background:#eaeaea;"><b>Friend : </b>`+cmt+`</div>
                                    <p style="margin-bottom: 10px;font-size: 12px;"><span>1 seconds ago</span></p>
                                  </div>`);
        });

        $("#comment-{{posts.id}}").click(function() {
          if($(".display-comments-{{posts.id}}").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-{{posts.id}}").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });

        $('#add-comment-{{posts.id}}').keyup(function(e){
          if(e.keyCode == 13){
            $(this).trigger("enterKey");
          }
        });

        {% endfor %}

  });


  function addFriend(friend_id) {
    console.log(friend_id);
    $.ajax({
              type: "POST",
              url: "addfriend",
              data:{
                  friendid: friend_id,
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(){
                  location.reload();
              }
      });
  }

  function unfriend(friendId) {
      console.log(friendId);

      $.ajax({
              type: "POST",
              url: "cancelrequest",
              data:{
                friendId: friendId,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(){
                  location.reload();
              }
      });

    }

    function accteptRequest(friendId) {
      console.log(friendId);

      $.ajax({
              type: "POST",
              url: "acceptRequest",
              data:{
                friendId: friendId,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(){
                  location.reload();
              }
      });
    }


  </script>

  {% endblock %}
</body>

</html>