<!-- This file is not in use -->

{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana-Competition-Winners</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/engage/engage-common.css' %}" rel="stylesheet" type="text/css" />

  <!-- Internal CSS -->
  <style>
    a {
      color: #414141 !important;
    }
  </style>
  <!-- Internal CSS -->
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group">

        <div class="col-md-12 text-center" style="padding-top: 15px;padding-left: 15px;padding-right: 15px;">
          <a href="{% url 'group-create' %}" type="button" class="btn btn-primary">Create Group</a>
        </div>

        {% include 'engage/groups-block.html' %}
        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}

      <div class="container-fluid" style="padding-bottom: 50px;padding-top: 50px;">
          <div class="section-shadow">
            <div class="container-fluid">
              <div class="col-md-12">
                <div class="about-section">
                  <h3 class="text-center">Age group 8-13</h3>
                  <div class="row">
                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/IMG_20200417_2153201722.jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <img width="100%" height="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/IMG_20200417_2153201722.jpg" alt="...">
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer">
                        <span class="text-center">Arjun Malik</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">First</a>
                      </div>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/VID-20200420-WA0014.mp4" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <video width="80%">
                              <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/VID-20200420-WA0014.mp4" type="video/mp4">
                            </video>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Puranjay Chauhan</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">Second</a>
                      </div>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/15874026850789184571528994770759.jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <img width="100%" height="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/15874026850789184571528994770759.jpg" alt="...">
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer">
                        <span class="text-center">Medha Sharma</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">Third</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" style="padding-top: 20px;">
                    <h4 class="text-center">Consolation Prizes</h4>
                  </div>
                  <div class="row">
                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/IMG_20200421_215544.jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <img width="100%" height="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/IMG_20200421_215544.jpg" alt="...">
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer">
                        <span class="text-center">Shubham Sehgal</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">One</a>
                      </div>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/IMG-20200418-WA0028_mcOeA28.jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <img width="100%" height="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/IMG-20200418-WA0028_mcOeA28.jpg" alt="...">
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer">
                        <span class="text-center">Vyaan Chawla</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">Two</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="about-section">
                  <h3 class="text-center">Age group 14-18</h3>
                  <div class="row">
                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;border: none;font-size: 12px !important;" class="btn btn-default btn-lg image-hover lightbox" data-toggle="modal" data-target=".bs-example-modal-lg" >
                            <p>
                              <b>The darkest night will end<br>
                              Even the darkest night will end,<br>
                              And the sun will rise again,<br>
                              For times like these, for trials on end,<br>
                              Or nothing more than a turn, a bend!</b>
                          </p>
                          <p>
                              <b>Times like these are revealing,<br>
                              Times like these are rare,<br>
                              Hold on, hold on with perseverance,<br>
                              With the strength of spirit, with care!</b>
                          </p>
                          <p>
                              <b>Keep going, keep moving, one day at a time,<br>
                              With faith that endures,<br>
                              With joy that overflows,<br>
                              With the peace that prevails and is sublime!</b>
                          </p>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer">
                        <span class="text-center">Bhavik Saluja</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">First</a>
                      </div>
                    </div>
                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/trim.F70D83B3-4745-49CD-A899-F6EB7DB09FDE_uXQl9MM.mp4" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <video width="80%" height="300px">
                              <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/trim.F70D83B3-4745-49CD-A899-F6EB7DB09FDE_uXQl9MM.mp4" type="video/mp4">
                            </video>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Abhinav Rana</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">Second</a>
                      </div>
                    </div>
                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/1080_25_8.51_Apr162020_01.mp4" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <video width="80%" height="300px" poster="https://rgf-bucket.s3.ap-south-1.amazonaws.com/gauriChaudhary.png">
                              <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/1080_25_8.51_Apr162020_01.mp4" type="video/mp4">
                            </video>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Gouri Choudhary</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">Third</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" style="padding-top: 20px;">
                    <h4 class="text-center">Consolation Prizes</h4>
                  </div>
                  <div class="row">
                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/1587541937296..jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <img width="100%" height="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/1587541937296..jpg" alt="...">
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer">
                        <span class="text-center">Diyuti Jain</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">One</a>
                      </div>
                    </div>
                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/InShot_20200508_222359106.mp4" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-search-plus"></i>
                            </span>
                            <video width="80%">
                              <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/InShot_20200508_222359106.mp4" type="video/mp4">
                            </video>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Tushar Awasthi</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">Two</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content text-center">
          <!-- header modal -->
          <div class="modal-header">
            <h4 class="modal-title" id="mySmallModalLabel">The darkest night will end (poem)</h4>
          </div>
          <!-- body modal -->
          <div class="modal-body">
            <p>
                <b>The darkest night will end<br>
                Even the darkest night will end,<br>
                And the sun will rise again,<br>
                For times like these, for trials on end,<br>
                Or nothing more than a turn, a bend!</b>
            </p>
            <p>
                <b>Times like these are revealing,<br>
                Times like these are rare,<br>
                Hold on, hold on with perseverance,<br>
                With the strength of spirit, with care!</b>
            </p>
            <p>
                <b>Keep going, keep moving, one day at a time,<br>
                With faith that endures,<br>
                With joy that overflows,<br>
                With the peace that prevails and is sublime!</b>
            </p>
            <p>
                <b>Try to figure out what moves you,<br>
                What encourages your soul,<br>
                What you deeply crave from life,<br>
                What would chase you, towards your goals!</b>
            </p>
            <p>
                <b>Find the love that makes you softer,<br>
                Rekindle that fire within,<br>
                The spark that was always lurking within you,<br>
                Away from all the chaos, the din!</b>
            </p>
            <p>
                <b>Coz the best versions of ourselves,<br>
                Don't reveal when everything is fine,<br>
                They appear in the midst of trials,<br>
                They are a part of Gods design!</b>
            </p>
            <p>
                <b>It is now that our real essence is seen,<br>
                The person we always meant to be,<br>
              A person who was there all along,<br>
              But didn't have the eyes' to see!</b>
            </p>
            <p>
                <b>I know that we will find sunshine,<br>
                After this whirlwind of dark and rain,<br>
                Coz if winter has the courage, to turn to spring,<br>
                Who says, we can't bloom just the same!</b>
            </p>
          </div>

          <div class="modal-footer" style="color: black">
            <a class="btn btn-default trn" data-dismiss="modal">{% trans "Close" %}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>
  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(
    function() {
        $("#comment-1").click(function() {
          if($(".display-comments-1").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-1").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });
        $("#comment-2").click(function() {
          if($(".display-comments-2").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-2").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });
        $("#comment-3").click(function() {
          if($(".display-comments-3").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-3").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });
        $("#comment-4").click(function() {
          if($(".display-comments-4").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-4").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });
        $("#comment-5").click(function() {
          if($(".display-comments-5").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-5").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
        });

        $("#add-like-1").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-1").text();
            count = parseInt(count)+1;
            $("#like-1").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-1").text();
            count = parseInt(count)-1;
            $("#like-1").text(count);
          }
        });

        $("#add-like-2").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-2").text();
            count = parseInt(count)+1;
            $("#like-2").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-2").text();
            count = parseInt(count)-1;
            $("#like-2").text(count);
          }
        });

        $("#add-like-3").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-3").text();
            count = parseInt(count)+1;
            $("#like-3").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-3").text();
            count = parseInt(count)-1;
            $("#like-3").text(count);
          }
        });

        $("#add-like-4").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-4").text();
            count = parseInt(count)+1;
            $("#like-4").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-4").text();
            count = parseInt(count)-1;
            $("#like-4").text(count);
          }
        });

        $("#add-like-5").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-5").text();
            count = parseInt(count)+1;
            $("#like-5").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-5").text();
            count = parseInt(count)-1;
            $("#like-5").text(count);
          }
        });
  });
  </script>

  {% endblock %}
</body>

</html>