<blockquote>
  <p>“<b>In my opinion, non-co-operation with evil is as much a duty as is co-operation with good.</b>”</p>
  <cite>Mahatma Gandhi</cite>
</blockquote>
<h2>Great Trial (1922)</h2>
<h4>Statement In The Great Trial of 1922 (18-03-1922)</h4>

<p>[The historical trial of Mahatma Gandhi and Shri. Shankarlal Ghelabhai Banker, editor, and printer and
  publisher respectively of Young India, on charges under Section 124 A of the Indian Penal Code, was held
  on Saturday, 18th March 1922, before Mr. C. N. Broomfield, I. C. S., District and Sessions Judge,
  Ahmedabad.
  Sir J. T. Strangman, Advocate-General, with Rao Bahadur Girdharlal Uttamram, Public Prosecutor of
  Ahmedabad, appeared for the Crown. Mr. A. C. Wild, Remembrancer of Legal Affairs, was also present.
  Mahatma Gandhi and Shri Shankarlal Banker were undefended.
  Among the members of the public who were present on the occasion were : Kasturba Gandhi, Sarojini Naidu,
  Pandit M. M. Malaviya, Shri N. C. Kelkar, Smt. J. B. Petit, and Smt. Anasuyaben Sarabhai.
  The Judge, who took his seat at 12 noon, said that there was slight mistake in the charges were then read
  out by the Registrar. These charges were of “bringing or attempting to excite disaffection towards His
  Majesty’s Government established by law in British India, and thereby committing offences punishable under
  Section 124 A of the Indian Penal Code,” the offences being in three articles published in Young India of
  September 29 and December 15 of 1921, and February 23 of 1922. The offending articles were then read out :
  first of them was, “Tampering with Loyalty”; and second, “The Puzzle and its Solution”, and the last was
  “Shaking the Manes”.
  The Judge said that the law required that the charges should not be read out but explained. In this case
  it would not be necessary for him to say much by way of explanation. The charge in each case was that of
  bringing or attempting to excite into hatred or contempt or exciting or attempting to excite disaffection
  towards His Majesty’s Government, established by law in British India. Both the accused were charged with
  the three offences under Section 124 A, contained in the articles read out, written by Mahatma Gandhi and
  printed by Shri Banker.
  The charges having been read out, the Judge called upon the accused to plead to the charges. He asked
  Gandhiji whether he pleaded guilty or claimed to be tried.
</p>
<p>
  <b>Gandhiji said :</b> "I plead guilty to all the charges. I observe that the King's name has been omitted
  from the charge, and it has been properly omitted."]
  The Judge asked Shri banker the same question and he too readily pleaded guilty.
  The Judge wished to give his verdict immediately after Gandhiji had pleaded guilty, but Sir Strangman
  insisted that the procedure should be carried out in full. The Advocate-General requested the Judge to
  take into account “the occurrences in Bombay, Malabar and Chauri Chaura, leading to rioting and murder”.
  He admitted, indeed, that “in these articles you find that non-violence is insisted upon as an item of the
  campaign and of the creed,” but the added “of what value is it to insist on non-violence, if incessantly
  you preach disaffection towards the Government and hold it up as a treacherous Government, and if you
  openly and deliberately seek to instigate others to overthrow it?” These were the circumstances which he
  asked the Judge to take into account in passing sentence on the accused.
  As regards Shri Banker, the second accused, the offence was lesser. He did the publication but did not
  write. Sir Strangman’s instructions were that Shri Banker was a man of means and he requested the court to
  impose a substantial fine in addition to such term of imprisonment as might be inflicted upon.
</p>
<p><b>Court :</b> Mr. Gandhi, do you wish to make any statement on the question of sentence?</p>
<p><b>Gandhiji :</b> I would like to make a statement.</p>
<p><b>Court :</b>Could you give me in writing to put it on record?</p>
<p><b>Gandhiji :</b>I shall give it as soon as I finish it.</p>
<p>[Gandhiji then made the following oral statement followed by a written statement that he read.]</p>
<p>Before I read this statement I would like to state that I entirely endorse the learned Advocate-General’s
  remarks in connection with my humble self. I think that he has made, because it is very true and I have no
  desire whatsoever to conceal from this court the fact that to preach disaffection towards the existing
  system of Government has become almost a passion with me, and the Advocate-General is entirely in the
  right when he says that my preaching of disaffection did not commence with my connection with Young India
  but that it commenced much earlier, and in the statement that I am about to read, it will be my painful
  duty to admit before this court that it commenced much earlier than the period stated by the
  Advocate-General. It is a painful duty with me but I have to discharge that duty knowing the
  responsibility that rests upon my shoulders, and I wish to endorse all the blame that the learned
  Advocate-General has thrown on my shoulders in connection with the Bombay occurrences, Madras occurrences
  and the Chauri Chuara occurrences. Thinking over these things deeply and sleeping over them night after
  night, it is impossible for me to dissociate myself from the diabolical crimes of Chauri Chaura or the mad
  outrages of Bombay. He is quite right when he says, that as a man of responsibility, a man having received
  a fair share of education, having had a fair share of experience of this world, I should have known the
  consequences of every one of my acts. I know them. I knew that I was playing with fire. I ran the risk and
  if I was set free I would still do the same. I have felt it this morning that I would have failed in my
  duty, if I did not say what I said here just now.</p>
<p>I wanted to avoid violence. Non-violence is the first article of my faith. It is also the last article of
  my creed. But I had to make my choice. I had either to submit to a system which I considered had done an
  irreparable harm to my country, or incur the risk of the mad fury of my people bursting forth when they
  understood the truth from my lips. I know that my people have sometimes gone mad. I am deeply sorry for it
  and I am, therefore, here to submit not to a light penalty but to the highest penalty. I do not ask for
  mercy. I do not plead any extenating act. I am here, therefore, to invite and cheerfully submit to the
  highest penalty that can be inflicted upon me for what in law is a deliberate crime, and what appears to
  me to be the highest duty of a citizen. The only course open to you, the Judge, is, as I am going to say
  in my statement, either to resign your post, or inflict on me the severest penalty if you believe that the
  system and law you are assisting to administer are good for the people. I do not except that kind of
  conversion. But by the time I have finished with my statement you will have a glimpse of what is raging
  within my breast to run this maddest risk which a sane man can run.</p>
<p>[He then read out the written statement : ] I owe it perhaps to the Indian public and to the public in
  England, to placate which this prosecution is mainly taken up, that I should explain why from a staunch
  loyalist and co-operator, I have become an uncompromising disaffectionist and non-co-operator. To the
  court too I should say why I plead guilty to the charge of promoting disaffection towards the Government
  established by law in India.</p>
<p>My public life began in 1893 in South Africa in troubled weather. My first contact with British authority
  in that country was not of a happy character. I discovered that as a man and an Indian, I had no rights.
  More correctly I discovered that I had no rights as a man because I was an Indian.</p>
<p>But I was not baffled. I thought that this treatment of Indians was an excrescence upon a system that was
  intrinsically and mainly good. I gave the Government my voluntary and hearty co-operation, criticizing it
  freely where I felt it was faulty but never wishing its destruction.</p>
<p>Consequently when the existence of the Empire was threatened in 1899 by the Boer challenge, I offered my
  services to it, raised a volunteer ambulance corps and served at several actions that took place for the
  relief of Ladysmith. Similarly in 1906, at the time of the Zulu ‘revolt’, I raised a stretcher bearer
  party and served till the end of the ‘rebellion’. On both the occasions I received medals and was even
  mentioned in dispatches. For my work in South Africa I was given by Lord Hardinge a Kaisar-i-Hind gold
  medal. When the war broke out in 1914 between England and Germany, I raised a volunteer ambulance cars in
  London, consisting of the then resident Indians in London, chiefly students. Its work was acknowledge by
  the authorities to be valuable. Lastly, in India when a special appeal was made at the war Conference in
  Delhi in 1918 by Lord Chelmsford for recruits, I struggled at the cost of my health to raise a corps in
  Kheda, and the response was being made when the hostilities ceased and orders were received that no more
  recruits were wanted. In all these efforts at service, I was actuated by the belief that it was possible
  by such services to gain a status of full equality in the Empire for my countrymen.</p>
<p>The first shock came in the shape of the Rowlatt Act-a law designed to rob the people of all real
  freedom. I felt called upon to lead an intensive agitation against it. Then followed the Punjab horrors
  beginning with the massacre at Jallianwala Bagh and culminating in crawling orders, public flogging and
  other indescribable humiliations. I discovered too that the plighted word of the Prime Minister to the
  Mussalmans of India regarding the integrity of Turkey and the holy places of Islam was not likely to be
  fulfilled. But in spite of the forebodings and the grave warnings of friends, at the Amritsar Congress in
  1919, I fought for co-operation and working of the Montagu-Chemlmsford reforms, hoping that the Prime
  Minister would redeem his promise to the Indian Mussalmans, that the Punjab wound would be healed, and
  that the reforms, inadequate and unsatisfactory though they were, marked a new era of hope in the life of
  India.</p>
<p>But all that hope was shattered. The Khilafat promise was not to be redeemed. The Punjab crime was
  whitewashed and most culprits went not only unpunished but remained in service, and some continued to draw
  pensions from the Indian revenue and in some cases were even rewarded. I saw too that not only did the
  reforms not mark a change of heart, but they were only a method of further raining India of her wealth and
  of prolonging her servitude.</p>
<p>I came reluctantly to the conclusion that the British connection had made India more helpless than she
  ever was before, politically and economically. A disarmed India has no power of resistance against any
  aggressor if she wanted to engage, in an armed conflict with him. So much is this the case that some of
  our best men consider that India must take generations, before she can achieve Dominion Status. She has
  become so poor that she has little power of resisting famines. Before the British advent India spun and
  wove in her millions of cottages, just the supplement she needed for adding to her meagre agricultural
  resources. This cottage industry, so vital for India’s existence, has been ruined by incredibly heartless
  and inhuman processes as described by English witness. Little do town dwellers how the semi-starved masses
  of India are slowly sinking to lifelessness. Little do they know that their miserable comfort represents
  the brokerage they get for their work they do for the foreign exploiter, that the profits and the
  brokerage are sucked from the masses. Little do realize that the Government established by law in British
  India is carried on for this exploitation of the masses. No sophistry, no jugglery in figures, can explain
  away the evidence that the skeletons in many villages present to the naked eye. I have no doubt whatsoever
  that both England and the town dweller of India will have to answer, if there is a God above, for this
  crime against humanity, which is perhaps unequalled in history. The law itself in this country has been
  used to serve the foreign exploiter. My unbiased examination of the Punjab Marital Law cases has led me to
  believe that at least ninety-five per cent of convictions were wholly bad. My experience of political
  cases in India leads me to the conclusion, in nine out of every ten, the condemned men were totally
  innocent. Their crime consisted in the love of their country. In ninety-nine cases out of hundred, justice
  has been denied to Indians as against Europeans in the courts of India. This is not an exaggerated
  picture. It is the experience of almost every Indian who has had anything to do with such cases. In my
  opinion, the administration of the law is thus prostituted, consciously or unconsciously, for the benefit
  of the exploiter.</p>
<p>The greater misfortune is that the Englishmen and their Indian associates in the administration of the
  country do not know that they are engaged in the crime I have attempted to describe. I am satisfied that
  many Englishmen and Indian officials honestly systems devised in the world, and that India is making
  steady, though, slow progress. They do not know, a subtle but effective system of terrorism and an
  organized display of force on the one hand, and the deprivation of all powers of retaliation or
  self-defense on the other, as emasculated the people and induced in them the habit of simulation. This
  awful habit has added to the ignorance and the self-deception of the administrators. Section 124 A, under
  which I am happily charged, is perhaps the prince among the political sections of the Indian Penal Code
  designed to suppress the liberty of the citizen. Affection cannot be manufactured or regulated by law. If
  one has no affection for a person or system, one should be free to give the fullest expression to his
  disaffection, so long as he does not contemplate, promote, or incite to violence. But the section under
  which mere promotion of disaffection is a crime. I have studied some of the cases tried under it; I know
  that some of the most loved of India’s patriots have been convicted under it. I consider it a privilege,
  therefore, to be charged under that section. I have endeavored to give in their briefest outline the
  reasons for my disaffection. I have no personal ill-will against any single administrator, much less can I
  have any disaffection towards the King’s person. But I hold it to be a virtue to be disaffected towards a
  Government which in its totality has done more harm to India than any previous system. India is less manly
  under the British rule than she ever was before. Holding such a belief, I consider it to be a sin to have
  affection for the system. And it has been a precious privilege for me to be able to write what I have in
  the various articles tendered in evidence against me.</p>
<p>In fact, I believe that I have rendered a service to India and England by showing in non-co-operation the
  way out of the unnatural state in which both are living. In my opinion, non-co-operation with evil is as
  much a duty as is co-operation with good. But in the past, non-co-operation has been deliberately
  expressed in violence to the evil-doer. I am endeavoring to show to my countrymen that violent
  non-co-operation only multiples evil, and that as evil can only be sustained by violence, withdrawal of
  support of evil requires complete abstention from violence. Non-violence implies voluntary submission to
  the penalty for non-co-operation with evil. I am here, therefore, to invite and submit cheerfully to the
  highest penalty that can be inflicted upon me for what in law is deliberate crime, and what appears to me
  to be the highest duty of a citizen. The only course open to you, the Judge and the assessors, is either
  to resign your posts and thus dissociate yourselves from evil, if you feel that the law you are called
  upon to administer is an evil, and that in reality I am innocent, or to inflict on me the severest
  penalty, if you believe that the system and the law you are assisting to administer are good for the
  people of this country, and that my activity is, therefore, injurious to the common weal.</p>


<!-- BLOCKQUOTE -->
<blockquote>
  <cite>Mahatma, Vol. II, (1951) pp. 129-33</cite>
  <cite>This speech is from selected works of Mahatma Gandhi Volume-Six</cite>
  <cite>The Voice of Truth Part-I some Famous Speech page 14 to 24</cite>
</blockquote>