{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana-Competition-Winners</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />

  <style>
    .padding-top-left-right {
      padding-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
        
    body {
        padding: 10px;
    }
    
    .border-corners {
        position: relative;
        display: table;
        width: 100%;
        height: auto;
        /* background: url("http://placehold.it/200x100")
                    no-repeat
                    top left; */
    }
        
    .border-corners:before,
    .border-corners:after {
        content: "";
        position: absolute;
        width: 230px;
        height: 230px;
        border: solid #B3030A;
        border-width: 25px 25px 0 0;
        display: block;
    }
    
    .border-corners:before {
        right: 0px;
        top: -0px;
        /* z-index: 1; */
    }
    
    .border-corners:after {
        border-width: 0 0 25px 25px;
        bottom: 0px;
        left: 0px;
    }
    
    .border-corners:hover:after,
    .border-corners:hover:before {
        display: block;
    }

    .profile-img:hover .overlay {
      display: block;
      background: rgba(0, 0, 0, .3);
    }

    .flexbox {
      display: flex !important;
    }

    /* .button {
      position: absolute;
      width: 100%;
      left: -11%;
      top: 3%;
      text-align: right;
      opacity: 0;
      transition: opacity .35s ease;
    }

    .profile-img:hover .button {
      opacity: 1;
    }

    .button a {
      padding: 5px 5px;
      text-align: center;
      color: white;
      border: solid 1px white;
      z-index: 1;
      font-size: 12px;
    } */
        

    @media only screen and (max-width: 768px) {
      .border-corners:after {
        display: none;
      }
      .border-corners:before {
        display: none;
      }
    }

    .bg-custom {
      background-color: #ace4f5;
    }
    a {
      color: #414141 !important;
    }
  </style>
  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-custom" id="sidebar-wrapper">
      <div class="sidebar-group">

        <div class="col-md-12 text-center" style="padding-top: 15px;padding-left: 15px;padding-right: 15px;">
          <a href="{% url 'group-create' %}" type="button" class="btn btn-primary">Create Group</a>
        </div>

        {% include 'engage/groups-block.html' %}
        
        </div>

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include 'engage/engage-header.html' %}

      <div class="container-fluid" style="padding-bottom: 50px;padding-top: 50px;">
        <div class="about-section" style="padding: 20px;">
          {% if competitiondetails.banner != '' %}
          <img class="winner-banner" width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{competitiondetails.banner}}" alt="...">
          {% endif %}
          <p style="margin-top: 30px;;">{{competitiondetails.description | safe}}</p>
        </div>
        
        <div class="col-md-12">

          <div class="about-section" style="padding: 20px;">
            {% for row in rowtype %}
            {% if row.row_group == 1 %}
            <h3 class="text-center">{{row.competition_type}}</h3>
            {% endif %}
            {% endfor %}
            <div class="row">

              {% for comp in singlecompetition %}
              {% if comp.row_group == 1 %}
              {% if comp.photo %}
              <div class="col-md-4" style="margin:0 auto;">
                <a class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comp.photo}}" data-plugin-options='{"type":"image"}'>
                  <span class="image-hover-icon image-hover-dark">
                    <i class="fa fa-search-plus"></i>
                  </span>
                  <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comp.photo}}" alt="...">
                  <h5 class="text-center">{{comp.winner_name}} - {{comp.age}} years</h5>
                  <span class="btn btn-sm float-right" style="background-color: #91D8EE;">{{comp.winning_place}}</span>
                </a>
              </div>
              
              {% else %}
              <div class="card card-default col-md-4" style="margin:0 auto;">
                <div class="card-block text-center">
                <b>{{comp.winner_name}} - {{comp.age}} years</b>
                </div>
                <div class="card-footer">
                  <a class="btn btn-sm float-right" style="background-color: #91D8EE;">{{comp.winning_place}}</a>
                </div>
              </div>
              {% endif %}

              {% endif %}
              {% endfor %}

            </div>
          </div>


          
          <div class="about-section" style="padding: 20px;">
            {% for row in rowtype %}
            {% if row.row_group == 2 %}
            <h3 class="text-center">{{row.competition_type}}</h3>
            {% endif %}
            {% endfor %}
            <div class="row">

              {% for comp in singlecompetition %}
              {% if comp.row_group == 2 %}
              {% if comp.photo %}
              <div class="col-md-4" style="margin:0 auto;">
                <a class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comp.photo}}" data-plugin-options='{"type":"image"}'>
                  <span class="image-hover-icon image-hover-dark">
                    <i class="fa fa-search-plus"></i>
                  </span>
                  <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comp.photo}}" alt="...">
                  <h5 class="text-center">{{comp.winner_name}} - {{comp.age}} years</h5>
                  <span class="btn btn-sm float-right" style="background-color: #91D8EE;">{{comp.winning_place}}</span>
                </a>
              </div>
              {% else %}
              <div class="card card-default col-md-4" style="margin:0 auto;">
                <div class="card-block text-center">
                <b>{{comp.winner_name}} - {{comp.age}} years</b>
                </div>
                <div class="card-footer">
                  <a class="btn btn-sm float-right" style="background-color: #91D8EE;">{{comp.winning_place}}</a>
                </div>
              </div>
              {% endif %}
              {% endif %}
              {% endfor %}

            </div>
          </div>

          
          <div class="about-section" style="padding: 20px;">
            {% for row in rowtype %}
            {% if row.row_group == 3 %}
            <h3 class="text-center">{{row.competition_type}}</h3>
            {% endif %}
            {% endfor %}
            <div class="row">

              {% for comp in singlecompetition %}
              {% if comp.row_group == 3 %}
              {% if comp.photo %}
              <div class="col-md-4" style="margin:0 auto;">
                <a class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comp.photo}}" data-plugin-options='{"type":"image"}'>
                  <span class="image-hover-icon image-hover-dark">
                    <i class="fa fa-search-plus"></i>
                  </span>
                  <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comp.photo}}" alt="...">
                  <h5 class="text-center">{{comp.winner_name}} - {{comp.age}} years</h5>
                  <span class="btn btn-sm float-right" style="background-color: #91D8EE;">{{comp.winning_place}}</span>
                </a>
              </div>
              {% else %}
              <div class="card card-default col-md-4" style="margin:0 auto;">
                <div class="card-block text-center">
                <b>{{comp.winner_name}} - {{comp.age}} years</b>
                </div>
                <div class="card-footer">
                  <a class="btn btn-sm float-right" style="background-color: #91D8EE;">{{comp.winning_place}}</a>
                </div>
              </div>
              {% endif %}
              {% endif %}
              {% endfor %}

            </div>
          </div>

          <div class="about-section" style="padding: 20px;">
            {% for row in rowtype %}
            {% if row.row_group == 4 %}
            <h3 class="text-center">{{row.competition_type}}</h3>
            {% endif %}
            {% endfor %}
            <div class="row">

              {% for comp in singlecompetition %}
              {% if comp.row_group == 4 %}
              {% if comp.photo %}
              <div class="col-md-4" style="margin:0 auto;">
                <a class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comp.photo}}" data-plugin-options='{"type":"image"}'>
                  <span class="image-hover-icon image-hover-dark">
                    <i class="fa fa-search-plus"></i>
                  </span>
                  <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comp.photo}}" alt="...">
                  <h5 class="text-center">{{comp.winner_name}} - {{comp.age}} years</h5>
                  <span class="btn btn-sm float-right" style="background-color: #91D8EE;">{{comp.winning_place}}</span>
                </a>
              </div>
              {% else %}
              <div class="card card-default col-md-4" style="margin:0 auto;">
                <div class="card-block text-center">
                <b>{{comp.winner_name}} - {{comp.age}} years</b>
                </div>
                <div class="card-footer">
                  <a class="btn btn-sm float-right" style="background-color: #91D8EE;">{{comp.winning_place}}</a>
                </div>
              </div>
              {% endif %}
              {% endif %}
              {% endfor %}

            </div>
          </div>

          <div class="about-section" style="padding: 20px;">
            {% for row in rowtype %}
            {% if row.row_group == 5 %}
            <h3 class="text-center">{{row.competition_type}}</h3>
            {% endif %}
            {% endfor %}
            <div class="row">

              {% for comp in singlecompetition %}
              {% if comp.row_group == 5 %}
              {% if comp.photo %}
              <div class="col-md-4" style="margin:0 auto;">
                <a class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comp.photo}}" data-plugin-options='{"type":"image"}'>
                  <span class="image-hover-icon image-hover-dark">
                    <i class="fa fa-search-plus"></i>
                  </span>
                  <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{comp.photo}}" alt="...">
                  <h5 class="text-center">{{comp.winner_name}} - {{comp.age}} years</h5>
                  <span class="btn btn-sm float-right" style="background-color: #91D8EE;">{{comp.winning_place}}</span>
                </a>
              </div>
              {% else %}
              <div class="card card-default col-md-4" style="margin:0 auto;">
                <div class="card-block text-center">
                <b>{{comp.winner_name}} - {{comp.age}} years</b>
                </div>
                <div class="card-footer">
                  <a class="btn btn-sm float-right" style="background-color: #91D8EE;">{{comp.winning_place}}</a>
                </div>
              </div>
              {% endif %}
              {% endif %}
              {% endfor %}

            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(
    function() {
        $("#comment-1").click(function() {
          if($(".display-comments-1").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-1").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-2").click(function() {
          if($(".display-comments-2").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-2").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-3").click(function() {
          if($(".display-comments-3").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-3").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-4").click(function() {
          if($(".display-comments-4").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-4").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });
        $("#comment-5").click(function() {
          if($(".display-comments-5").hasClass("d-none")){
            $(".d-none").addClass('flexbox');
            $(".display-comments-5").removeClass('d-none');
          }else{
            $(".flexbox").addClass('d-none');
          }
            
        });

        // function addLike(event) {
        //   console.log(event.target);
        // }

        $("#add-like-1").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-1").text();
            count = parseInt(count)+1;
            $("#like-1").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-1").text();
            count = parseInt(count)-1;
            $("#like-1").text(count);
          }
          
        });

        $("#add-like-2").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-2").text();
            count = parseInt(count)+1;
            $("#like-2").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-2").text();
            count = parseInt(count)-1;
            $("#like-2").text(count);
          }
          
        });

        $("#add-like-3").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-3").text();
            count = parseInt(count)+1;
            $("#like-3").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-3").text();
            count = parseInt(count)-1;
            $("#like-3").text(count);
          }
          
        });

        $("#add-like-4").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-4").text();
            count = parseInt(count)+1;
            $("#like-4").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-4").text();
            count = parseInt(count)-1;
            $("#like-4").text(count);
          }
          
        });

        $("#add-like-5").click(function(){
          if($(this).children().hasClass("fa-thumbs-o-up")) {
            $(this).children().first().removeClass('fa-thumbs-o-up');
            $(this).children().first().addClass('fa-thumbs-up');
            var count = $("#like-5").text();
            count = parseInt(count)+1;
            $("#like-5").text(count);
          }else{
            $(this).children().first().removeClass('fa-thumbs-up');
            $(this).children().first().addClass('fa-thumbs-o-up');
            var count = $("#like-5").text();
            count = parseInt(count)-1;
            $("#like-5").text(count);
          }
          
        });
  });
  </script>

  {% endblock %}
</body>

</html>