{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% load i18n %}
    {% load static %}
    {% load filters %}

    {% block meta %}
    <meta charset="utf-8" />
    <title>Sadbhavana - Login</title>
    <meta name="description" content="" />
    {% endblock %}

  </head>

<body class="smoothscroll enable-animation">

  {% block content %}

    <section class="page-header">
      <div class="container">

        <h1 class="trn">{% trans "Login" %}</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
          <li class="active trn">{% trans "Login" %}</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->

    <!-- -->
    <section>
      <div class="container">
        <div class="row">
          <!-- LOGIN -->
          <div class="col-md-6" style="margin:0 auto">
            <!-- ALERT -->

            {% if message %}
            <div class="alert alert-mini alert-info mb-30">
              <strong>{{message}}</strong>
            </div>
            {% endif %}
            {% if form.errors %}

            <div class="alert alert-mini alert-danger mb-30">
              {% trans "Invalid Credentials!" %}
            </div>
            {% endif %}
            <!-- /ALERT -->

            <div class="box-static box-border-top p-30">
              <div class="box-title mb-30">
                <h2 class="fs-20 trn">{% trans "returning_user" %}</h2>
              </div>

              <form class="sky-form" id="login-form" method="post" autocomplete="off" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="clearfix">
                  <!-- Email -->
                  <label><span class="trn">{% trans "Email" %}</span> / <span class="trn">{% trans "Mobile" %}</span></label>
                  <label class="input mb-10">
                    <i class="ico-append fa fa-user"></i>
                    <input type="text" name="username" value="">
                    <b class="tooltip tooltip-bottom-right"><span class="trn">{% trans "Email" %}</span> / <span class="trn">{% trans "Mobile" %}</span></b>
                  </label>

                  <!-- Password -->
                  <label><span class="trn">{% trans "Password" %}</span></label>
                  <label class="input mb-10">
                    <i class="ico-append fa fa-lock"></i>
                    <input type="password" name="password" value="">
                    <b class="tooltip tooltip-bottom-right"><span class="trn">{% trans "Password" %}</span></b>
                  </label>
                </div>

                <div class="row">
                  <div class="col-md-6 col-sm-6 col-6">

                    <!-- Inform Tip -->
                    <div class="form-tip pt-20">
                      <p class="no-text-decoration fs-13 mt-10 block"><span class="trn">{% trans "dont_have_account" %}</span>
                        <a href="{% url 'signup' %}"><strong style="font-size:16px"><span class="trn">{% trans "Register" %}</span></strong></a>
                      </p>
                      <p class="no-text-decoration fs-13 mt-10 block">
                        <a href="{% url 'password_reset' %}"><strong style="font-size:16px"><span class="trn">{% trans "Forgot Password?" %}</span></strong></a>
                      </p>
                    </div>

                  </div>

                  <div class="col-md-6 col-sm-6 col-6 text-right">

                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> <span class="trn">{% trans "Login" %}</span></button>
                    <input type="hidden" name="next" value="{{ next }}" />

                  </div>
                </div>

              </form>

            </div>

          </div>
          <!-- /LOGIN -->
        </div>
      </div>
    </section>
    <!-- / -->

  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'assets/js/login-register.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script type="text/javascript">
    /**
      Checkbox on "I agree" modal Clicked!
    **/
    jQuery("#terms-agree").click(function () {
      jQuery('#termsModal').modal('toggle');

      // Check Terms and Conditions checkbox if not already checked!
      if (!jQuery("#checked-agree").checked) {
        jQuery("input.checked-agree").prop('checked', true);
      }

    });
  </script>

{% endblock %}

</body>

</html>
