{% extends "base.html" %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Password Reset Confirm</title>
  <meta name="description" content="" />
  {% endblock %}

</head>

<body>

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin:0 auto">
                <!-- ALERT -->
                {% if validlink %}
                <div class="alert alert-mini alert-info mb-30">
                    <span class="trn">{% trans "confirm_your_new_password" %}</span>
                </div>
                <!-- /ALERT -->

                <div class="box-static box-border-top p-30">
                <div class="box-title mb-30">
                    <h2 class="fs-20 trn">{% trans "confirm_password" %}</h2>
                </div>
                <form class="sky-form" action="" method="post">
                    {% csrf_token %}
                    <div class="clearfix">
                    <!-- New password -->
                    <span>{{ form.new_password1.errors }}</span>
                    <label><span class="trn">new_password</span>:</label>
                    <label class="input mb-10">
                        <i class="ico-append fa fa-key"></i>
                        {{ form.new_password1 }}
                    </label>

                    <!-- Confirm password -->
                    <span>{{ form.new_password2.errors }}</span>
                    <label><span class="trn">confirm_password</span>:</label>
                    <label class="input mb-10">
                        <i class="ico-append fa fa-key"></i>
                        {{ form.new_password2 }}
                    </label>

                    </div>
                    <div class="row">
                    <div class="col-md-12 col-sm-12 col-12 text-right">
                        <button type="submit" class="btn btn-primary trn">{% trans "change_my_password" %}</button>
                    </div>
                    </div>
                </form>
                {% else %}
                    <h1 class="trn">{% trans "password_reset_failed" %}</h1>
                    <p class="trn">{% trans "password_reset_link_was_invalid" %}</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block includes %}
<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>

<!-- PRELOADER -->
<div id="preloader">
  <div class="inner">
    <span class="loader"></span>
  </div>
</div><!-- /PRELOADER -->

<!-- JAVASCRIPT FILES -->
<script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
<script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

<script src="{% static 'assets/js/scripts.js' %}"></script>

<!-- TRASLATIONS -->
<script src="{% static 'assets/js/jquery.translate.js' %}"></script>
<script src="{% static 'assets/languages/translations.js' %}"></script>
<script src="{% static 'assets/js/translater.js' %}"></script>

{% endblock %}

</body>

</html>