{% extends "base.html" %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Forget Password</title>
  <meta name="description" content="" />
  {% endblock %}

</head>

<body>

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="margin:0 auto">
        <!-- ALERT -->
        {% if form.email.errors %}
        <div class="alert alert-mini alert-danger mb-30">
          {{ form.email.errors }}
        </div>
        {% endif %}
        <!-- /ALERT -->

        <div class="box-static box-border-top p-30">
          <div class="box-title mb-30">
            <h2 class="fs-20 trn">{% trans "forgot_password" %}</h2>
          </div>
          <form class="sky-form" action="" method="post">
            {% csrf_token %}
            <div class="clearfix">
              <!-- Email -->
              <label><span class="trn">{% trans "Email" %}</span></label>
              <label class="input mb-10">
                <i class="ico-append fa fa-envelope"></i>
                {{ form.email }}
              </label>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-12 text-right">
                <button type="submit" class="btn btn-primary trn">{% trans "reset_password" %}</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block includes %}
<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>

<!-- PRELOADER -->
<div id="preloader">
  <div class="inner">
    <span class="loader"></span>
  </div>
</div><!-- /PRELOADER -->

<!-- JAVASCRIPT FILES -->
<script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
<script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

<script src="{% static 'assets/js/scripts.js' %}"></script>

<!-- TRASLATIONS -->
<script src="{% static 'assets/js/jquery.translate.js' %}"></script>
<script src="{% static 'assets/languages/translations.js' %}"></script>
<script src="{% static 'assets/js/translater.js' %}"></script>

{% endblock %}

</body>

</html>