{% extends "base.html" %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Password Reset Done</title>
  <meta name="description" content="" />
  {% endblock %}

</head>

<body>

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin:0 auto">
        <div class="alert alert-success" role="alert">
          <span class="trn">{% trans "instructions_for_setting_your_password" %}</span>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block includes %}
<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>

<!-- PRELOADER -->
<div id="preloader">
  <div class="inner">
    <span class="loader"></span>
  </div>
</div><!-- /PRELOADER -->

<!-- JAVASCRIPT FILES -->
<script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
<script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

<script src="{% static 'assets/js/scripts.js' %}"></script>

<!-- TRASLATIONS -->
<script src="{% static 'assets/js/jquery.translate.js' %}"></script>
<script src="{% static 'assets/languages/translations.js' %}"></script>
<script src="{% static 'assets/js/translater.js' %}"></script>

{% endblock %}

</body>

</html>