<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Profile</title>
  <meta name="description" content="" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
				AVAILABLE HEADER CLASSES

		Default nav height: 96px
		.header-md 		= 70px nav height
		.header-sm 		= 60px nav height

		.b-0 		= remove bottom border (only with transparent use)
		.transparent	= transparent header
		.translucent	= translucent header
		.sticky			= sticky header
		.static			= static header
		.dark			= dark header
		.bottom			= header on bottom

		shadow-before-1 = shadow 1 header top
		shadow-after-1 	= shadow 1 header bottom
		shadow-before-2 = shadow 2 header top
		shadow-after-2 	= shadow 2 header bottom
		shadow-before-3 = shadow 3 header top
		shadow-after-3 	= shadow 3 header bottom

		.clearfix		= required for mobile menu, do not remove!

		Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">
      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">
          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
									font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->


          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!--
						Top Nav

						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse">
            <nav class="nav-main">

              <!--
							NOTE

							For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
							Direct Link Example:

							<li>
								<a href="#">HOME</a>
							</li>
						-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn active">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                    <a class="dropdown-toggle noicon" href="home-stories.html">
                      <b class="blinkText">STORIES</b>
                    </a>
                  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                    <a class="dropdown-toggle noicon" href="#">
                      <b class="blinkText">GAMES</b>
                    </a>
				  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                
                    <a class="dropdown-toggle" href="#">
                      <i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">ENGLISH</a></li>
                        <li><a href="#">हिंदी</a></li>
                        <li><a href="#">ਪੰਜਾਬੀ</a></li>
                    </ul>
				  </li> -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- /Top Nav -->
    </div>

    <!--
		PAGE HEADER

		CLASSES:
			.page-header-xs	= 20px margins
			.page-header-md	= 50px margins
			.page-header-lg	= 80px margins
			.page-header-xlg= 130px margins
			.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
    <section class="page-header">
      <div class="container">

        <h1 class="trn">profile</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <!-- <li><a href="#">Pages</a></li> -->
          <li class="active trn">profile</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->

    <!-- -->
    <section>
      <div class="container">
        <div class="row">

          <!-- REGISTER -->
          <div class="col-md-12 col-sm-12">

            <!-- ALERT -->
            <!-- <div class="alert alert-mini alert-danger mb-30">
						<strong>Oh snap!</strong> Password do not match!
              		</div> -->

            {% if message %}
            <div class="alert alert-mini alert-danger mb-30">
              <strong>{{message}}</strong>
            </div>
            {% endif %}
            <!-- /ALERT -->

            {% if form.errors %}

            <div class="alert alert-mini alert-danger mb-30">
              <strong>Oh snap!</strong>
              <ul class="errorlist">
                {% for field in form %}
                {% for error in field.errors %}
                {{field.label}}: {{ error|escape }}
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                {{field.label}}: {{ error|escape }}
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            <div class="box-static box-transparent box-bordered p-30">

              <!-- <div class="box-title mb-30">
                <h2 class="fs-20 trn">dont_have_an_account</h2>
              </div> -->

              <form class="m-0 sky-form" action="{% url 'profile' %}" id="registration-form" method="post">
                {% csrf_token %}

                <fieldset>

                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <label><span class="trn">first_name</span> *</label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-user"></i>
                        <input name="first_name" type="text" value="{{user.first_name}}" />
                        <b class="tooltip tooltip-bottom-right trn">first_name</b>
                      </label>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <label for="register:last_name"><span class="trn">last_name</span> *</label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-user"></i>
                        <input name="last_name" type="text" value="{{user.last_name}}">
                        <b class="tooltip tooltip-bottom-right trn">last_name</b>
                      </label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <label><span class="trn">date_of_birth</span> *</label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-calendar"></i>
                        <input name="dob" type="text" class="form-control datepicker" value="{{dob}}"
                          data-format="yyyy-mm-dd" data-lang="en" data-RTL="false">
                        <b class="tooltip tooltip-bottom-right"><span class="trn">date_of_birth</span></b>
                      </label>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <label for="register:last_name"><span class="trn">gender</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-user"></i>
                        <select id="gender" name="gender" class="form-control pointer">
                          <option value="" class="trn">select</option>
                          <option value="Male" class="trn">male</option>
                          <option value="Female" class="trn">female</option>
                          <option value="Other" class="trn">other</option>
                        </select>
                        <b class="tooltip tooltip-bottom-right">Select your Gender (optional)</b>
                      </label>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-md-6 col-sm-6">
                      <label for="register:email"><span class="trn">email</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-envelope"></i>
                        <input name="email" type="text" value="{{user.email}}">
                        <b class="tooltip tooltip-bottom-right"><span class="trn">email</span></b>
                      </label>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <label for="register:phone"><span class="trn">mobile</span> *</label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-phone"></i>
                        <input name="mobile" type="number" value="{{user.mobile}}"
                          style="cursor: not-allowed; background-color: #F5F5F5" readonly>
                        <b class="tooltip tooltip-bottom-right"><span class="trn">mobile</span></b>
                      </label>
                    </div>
                  </div>

                  <!-- <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <label for="register:pass1"><span class="trn">password</span> *</label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-lock"></i>
                        <input name="password1" type="password" id="password" value="">
                        <b class="tooltip tooltip-bottom-right"><span class="trn">password</span></b>
                      </label>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <label for="register:pass2"><span class="trn">confirm_password</span> *</label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-lock"></i>
                        <input name="password2" type="password" value="">
                        <b class="tooltip tooltip-bottom-right"><span class="trn">confirm_password</span></b>
                      </label>
                    </div>
                  </div> -->

                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <label for="register:last_name"><span class="trn">state</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-globe"></i>
                        <select id="state" name="state" class="form-control pointer">
                          <option value="" class="trn">select</option>
                          <option value="Andaman and Nicobar Islands" class="trn">andaman_and_nicobar_islands</option>
                          <option value="Andhra Pradesh" class="trn">andhra_pradesh</option>
                          <option value="Arunachal Pradesh" class="trn">arunachal_pradesh</option>
                          <option value="Assam" class="trn">assam</option>
                          <option value="Bihar" class="trn">bihar</option>
                          <option value="Chandigarh" class="trn">chandigarh</option>
                          <option value="Chhattisgarh" class="trn">chhattisgarh</option>
                          <option value="Dadra and Nagar Haveli" class="trn">dadra_and_nagar_haveli</option>
                          <option value="Daman and Diu" class="trn">daman_and_diu</option>
                          <option value="Delhi" class="trn">delhi</option>
                          <option value="Goa" class="trn">goa</option>
                          <option value="Gujarat" class="trn">gujarat</option>
                          <option value="Haryana" class="trn">haryana</option>
                          <option value="Himachal Pradesh" class="trn">himachal_pradesh</option>
                          <option value="Jammu and Kashmir" class="trn">jammu_and_kashmir</option>
                          <option value="Jharkhand" class="trn">jharkhand</option>
                          <option value="Karnataka" class="trn">karnataka</option>
                          <option value="Kerala" class="trn">kerala</option>
                          <option value="Ladakh" class="trn">ladakh</option>
                          <option value="Lakshadweep" class="trn">lakshadweep</option>
                          <option value="Madhya Pradesh" class="trn">madhya_pradesh</option>
                          <option value="Maharashtra" class="trn">maharashtra</option>
                          <option value="Manipur" class="trn">manipur</option>
                          <option value="Meghalaya" class="trn">meghalaya</option>
                          <option value="Mizoram" class="trn">mizoram</option>
                          <option value="Nagaland" class="trn">nagaland</option>
                          <option value="Odisha" class="trn">odisha</option>
                          <option value="Puducherry" class="trn">puducherry</option>
                          <option value="Punjab" selected class="trn">punjab</option>
                          <option value="Rajasthan" class="trn">rajasthan</option>
                          <option value="Sikkim" class="trn">sikkim</option>
                          <option value="Tamil Nadu" class="trn">tamil_nadu</option>
                          <option value="Telangana" class="trn">telangana</option>
                          <option value="Tripura" class="trn">tripura</option>
                          <option value="Uttar Pradesh" class="trn">uttar_pradesh</option>
                          <option value="Uttarakhand" class="trn">uttarakhand</option>
                          <option value="West Bengal" class="trn">west_bengal</option>
                        </select>
                        <b class="tooltip tooltip-bottom-right">Select your State</b>
                      </label>
                    </div>
                    <div class="col-md-6 col-sm-6" style="visibility: hidden;">
                      <label for="register:last_name"><span class="trn">district</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-globe"></i>
                        <select id="district" name="district" class="form-control pointer">
                          <option value="Other" class="trn">other</option>
                          <!-- <option value="Amritsar" class="trn">amritsar</option>
                          <option value="Bathinda" class="trn">bathinda</option>
                          <option value="Gurdaspur" class="trn">gurdaspur</option>
                          <option value="Faridkot" class="trn">faridkot</option>
                          <option value="Kapurthala" class="trn">kapurthala</option> -->
                        </select>
                        <input id="district" name="district" type="text" value="Other">
                        <b class="tooltip tooltip-bottom-right">Select your District</b>
                      </label>
                    </div>
                  </div>

                  <!-- <hr /> -->

                  <!-- <label class="checkbox m-0"><input class="checked-agree" type="checkbox" name="checkbox"><i></i><span class="trn">agree_to_the</span> <a href="#" data-toggle="modal" data-target="#termsModal" class="trn">terms_of_service</a></label> -->

                </fieldset>

                <div class="row" style="align-content: center">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> <span
                        class="trn">save</span></button>
                    <input type="hidden" name="next" value="{{ next }}" />
                  </div>
                </div>

              </form>

            </div>

          </div>
          <!-- /REGISTER -->
        </div>
      </div>
    </section>
    <!-- / -->


    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:playquiz' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:playquiz' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:playquiz' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:playquiz' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:playquiz' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:playquiz' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:playquiz' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:playquiz' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:playquiz' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-3">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
              <li><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-5">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="trn">supported_by</li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'assets/js/login-register.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script type="text/javascript">
    /**
      Checkbox on "I agree" modal Clicked!
    **/
    jQuery("#terms-agree").click(function () {
      jQuery('#termsModal').modal('toggle');

      // Check Terms and Conditions checkbox if not already checked!
      if (!jQuery("#checked-agree").checked) {
        jQuery("input.checked-agree").prop('checked', true);
      }
    });

    document.getElementById('gender').value = "{{user.gender}}";
    document.getElementById('state').value = "{{user.state}}";
    document.getElementById('district').value = "{{user.district}}";

  </script>
</body>

</html>