{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% load i18n %}
    {% load static %}
    {% load filters %}

    {% block meta %}
    <meta charset="utf-8" />
    <title>Sadbhavana - Register</title>
    <meta name="description" content="" />
    {% endblock %}

  </head>

<body class="smoothscroll enable-animation">

  {% block content %}

    <section class="page-header">
      <div class="container">

        <h1 class="trn">{% trans "Register" %}</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
          <li class="active trn">{% trans "Register" %}</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->

    <!-- -->
    <section>
      <div class="container">
        <div class="row">

          <!-- REGISTER -->
          <div class="col-md-12 col-sm-12">
            {% if form.errors %}

            <div class="alert alert-mini alert-danger mb-30">
              <!-- <strong>Oh snap!</strong> -->
              <ul class="errorlist" style="margin: 10px;">
                {% for field in form %}
                {% for error in field.errors %}
                {{field.label}}: {{ error|escape }}
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                {{field.label}}: {{ error|escape }}
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            <div class="box-static box-transparent box-bordered p-30">

              <div class="box-title mb-30">
                <h2 class="fs-20 trn">{% trans "dont_have_an_account" %}</h2>
              </div>

              <form class="m-0 sky-form" action="{% url 'signup' %}" id="registration-form" method="post">
                {% csrf_token %}

                <fieldset>

                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <label><span class="trn">{% trans "First Name" %}</span><span class="req-field"> *</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-user"></i>
                        <input name="first_name" type="text" value="{{ first_name }}">
                        <b class="tooltip tooltip-bottom-right trn">{% trans "First Name" %}</b>
                      </label>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <label for="register:last_name"><span class="trn">{% trans "Last Name" %}</span><span class="req-field"> *</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-user"></i>
                        <input name="last_name" type="text" value="{{ last_name }}">
                        <b class="tooltip tooltip-bottom-right trn">{% trans "Last Name" %}</b>
                      </label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <label><span class="trn">{% trans "Date Of Birth" %}</span><span class="req-field"> *</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-calendar"></i>
                        <input name="dob2" type="hidden" class="form-control datepicker" value="{{ dob }}" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false">
                        <input class="dob" name="dob" value="2000-01-01" data-format="YYYY-MM-DD" data-template="YYYY MMM D">
                        <b class="tooltip tooltip-bottom-right"><span class="trn">{% trans "Date Of Birth" %}</span></b>
                      </label>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <label for="register:last_name"><span class="trn">{% trans "Gender" %}</span><span class="req-field"> *</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-user"></i>
                        <select id="gender" name="gender" class="form-control pointer">
                          <option value="" class="trn">{% trans "Select" %}</option>
                          <option value="Male" class="trn">{% trans "Male" %}</option>
                          <option value="Female" class="trn">{% trans "Female" %}</option>
                          <option value="Other" class="trn">{% trans "Other" %}</option>
                        </select>
                        <b class="tooltip tooltip-bottom-right">{% trans "Select your Gender (optional)" %}</b>
                      </label>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-md-6 col-sm-6">
                      <label for="register:email"><span class="trn">{% trans "Email" %}</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-envelope"></i>
                        <input name="email" type="text" value="{{ email }}">
                        <b class="tooltip tooltip-bottom-right"><span class="trn">{% trans "Email" %}</span></b>
                      </label>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <label for="register:phone"><span class="trn">{% trans "Mobile" %}</span><span class="req-field"> *</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-phone"></i>
                        <input name="mobile" type="number" value="{{ mobile }}">
                        <b class="tooltip tooltip-bottom-right"><span class="trn">{% trans "Mobile" %}</span></b>
                      </label>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-6 col-sm-6">
                      <label for="register:pass1"><span class="trn">{% trans "Password (Mininum 6 Characters)" %}</span><span class="req-field"> *</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-lock"></i>
                        <input name="password1" type="password" id="password" value="">
                        <b class="tooltip tooltip-bottom-right"><span class="trn">{% trans "Password (Mininum 6 Characters)" %}</span></b>
                      </label>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <label for="register:pass2"><span class="trn">{% trans "confirm_password" %}</span><span class="req-field"> *</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-lock"></i>
                        <input name="password2" type="password" value="">
                        <b class="tooltip tooltip-bottom-right"><span class="trn">{% trans "confirm_password" %}</span></b>
                      </label>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <label for="register:last_name"><span class="trn">{% trans "State" %}</span><span class="req-field"> *</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-globe"></i>
                        <select id="state" name="state" class="form-control pointer">
                            <option value="" class="trn">{% trans "Select" %}</option>
                            <option value="Andaman and Nicobar Islands" class="trn">{% trans "Andaman And Nicobar Islands" %}</option>
                            <option value="Andhra Pradesh" class="trn">{% trans "Andhra Pradesh" %}</option>
                            <option value="Arunachal Pradesh" class="trn">{% trans "Arunachal Pradesh" %}</option>
                            <option value="Assam" class="trn">{% trans "Assam" %}</option>
                            <option value="Bihar" class="trn">{% trans "Bihar" %}</option>
                            <option value="Chandigarh" class="trn">{% trans "Chandigarh" %}</option>
                            <option value="Chhattisgarh" class="trn">{% trans "Chhattisgarh" %}</option>
                            <option value="Dadra and Nagar Haveli" class="trn">{% trans "Dadra And Nagar Haveli" %}</option>
                            <option value="Daman and Diu" class="trn">{% trans "Daman And Diu" %}</option>
                            <option value="Delhi" class="trn">{% trans "Delhi" %}</option>
                            <option value="Goa" class="trn">{% trans "Goa" %}</option>
                            <option value="Gujarat" class="trn">{% trans "Gujarat" %}</option>
                            <option value="Haryana" class="trn">{% trans "Haryana" %}</option>
                            <option value="Himachal Pradesh" class="trn">{% trans "Himachal Pradesh" %}</option>
                            <option value="Jammu and Kashmir" class="trn">{% trans "Jammu And Kashmir" %}</option>
                            <option value="Jharkhand" class="trn">{% trans "Jharkhand" %}</option>
                            <option value="Karnataka" class="trn">{% trans "Karnataka" %}</option>
                            <option value="Kerala" class="trn">{% trans "Kerala" %}</option>
                            <option value="Ladakh" class="trn">{% trans "Ladakh" %}</option>
                            <option value="Lakshadweep" class="trn">{% trans "Lakshadweep" %}</option>
                            <option value="Madhya Pradesh" class="trn">{% trans "Madhya Pradesh" %}</option>
                            <option value="Maharashtra" class="trn">{% trans "Maharashtra" %}</option>
                            <option value="Manipur" class="trn">{% trans "Manipur" %}</option>
                            <option value="Meghalaya" class="trn">{% trans "Meghalaya" %}</option>
                            <option value="Mizoram" class="trn">{% trans "Mizoram" %}</option>
                            <option value="Nagaland" class="trn">{% trans "Nagaland" %}</option>
                            <option value="Odisha" class="trn">{% trans "Odisha" %}</option>
                            <option value="Puducherry" class="trn">{% trans "Puducherry" %}</option>
                            <option value="Punjab" selected class="trn">{% trans "Punjab" %}</option>
                            <option value="Rajasthan" class="trn">{% trans "Rajasthan" %}</option>
                            <option value="Sikkim" class="trn">{% trans "Sikkim" %}</option>
                            <option value="Tamil Nadu" class="trn">{% trans "Tamil Nadu" %}</option>
                            <option value="Telangana" class="trn">{% trans "Telangana" %}</option>
                            <option value="Tripura" class="trn">{% trans "Tripura" %}</option>
                            <option value="Uttar Pradesh" class="trn">{% trans "Uttar Pradesh" %}</option>
                            <option value="Uttarakhand" class="trn">{% trans "Uttarakhand" %}</option>
                            <option value="West Bengal" class="trn">{% trans "West Bengal" %}</option>
                        </select>
                        <b class="tooltip tooltip-bottom-right">{% trans "Select your State" %}</b>
                      </label>
                    </div>
                    <div class="col-md-6 col-sm-6" style="visibility: hidden;">
                      <label for="register:last_name"><span class="trn">{% trans "District" %}</span></label>
                      <label class="input mb-10">
                        <i class="ico-append fa fa-globe"></i>
                        <select name="district" class="form-control pointer">
                          <option value="Other" class="trn">{% trans "Other" %}</option>
                        </select>
                        <b class="tooltip tooltip-bottom-right">{% trans "Select your District" %}</b>
                      </label>
                    </div>
                  </div>

                  <hr />

                </fieldset>

                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> <span
                        class="trn">{% trans "Register" %}</span></button>
                    <input type="hidden" name="next" value="{{ next }}" />
                  </div>
                </div>

              </form>

            </div>

          </div>
          <!-- /REGISTER -->
        </div>
      </div>
    </section>
    <!-- / -->

    {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'assets/js/jquery.cookie.js' %}"></script>

  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'assets/js/login-register.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/combodate/moment.min.js' %}"></script>
  <script src="{% static 'assets/js/combodate/combodate.js' %}"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script type="text/javascript">

    document.getElementById('gender').value = "{{ gender }}";
    document.getElementById('state').value = "{{ state }}";
    /**
      Checkbox on "I agree" modal Clicked!
    **/
    jQuery("#terms-agree").click(function () {
      jQuery('#termsModal').modal('toggle');

      // Check Terms and Conditions checkbox if not already checked!
      if (!jQuery("#checked-agree").checked) {
        jQuery("input.checked-agree").prop('checked', true);
      }

    });

    $('.dob').combodate({
      minYear: 1950,
      maxYear: 2020,
      minuteStep: 10
    });
  </script>

  {% endblock %}
  
</body>

</html>
