<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - ਡਾ ਬੀ ਆਰ ਅੰਬੇਡਕਰ</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/012/medium/ambedkar_inc.jpg?1505457469" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>ਡਾ ਬੀ ਆਰ ਅੰਬੇਡਕਰ</h1>
        <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਡਾ ਬੀ ਆਰ ਅੰਬੇਡਕਰ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <img class="float-left"
              src="https://cdn.inc.in/inspirations/thumbnails/000/000/012/medium/ambedkar_inc.jpg?1505457469" alt="">
            <p>ਸਮਾਜਿਕ ਅਸਮਾਨਤਾ ਦੇ ਚੁੰਗਲ ਤੋਂ ਮੁਕਤ ਹੋਣ ਲਈ ਹਿੰਮਤ ਦੀ ਲੋੜ ਹੈ. ਇਹ ਵਿਸ਼ਵਾਸ ਕਰਨ ਲਈ ਭਾਰੀ ਮਾਤਰਾ ਵਿੱਚ ਹਿੰਮਤ ਦੀ ਲੋੜ ਹੁੰਦੀ ਹੈ ਕਿ ਚੀਜ਼ਾਂ ਬਦਲ ਸਕਦੀਆਂ ਹਨ. ਇਹਨਾਂ ਅਸਮਾਨਤਾਵਾਂ ਨਾਲ ਲੜਨ ਅਤੇ ਇੱਕ ਨਵਾਂ ਸਮਾਜਿਕ ਪ੍ਰਬੰਧ ਸਥਾਪਤ ਕਰਨ ਲਈ ਇੱਕ ਲੀਡਰ ਦੀ ਲੋੜ ਹੁੰਦੀ ਹੈ.</p>
            <p>ਬਾਬਾ ਸਾਹਿਬ ਡਾ: ਭੀਮ ਰਾਓ ਰਾਮਜੀ ਅੰਬੇਦਕਰ ਇੱਕ ਵਿਦਵਾਨ, ਸਮਾਜ ਸੁਧਾਰਕ ਅਤੇ ਇੱਕ ਨੇਤਾ ਸਨ ਜਿਨ੍ਹਾਂ ਨੇ ਆਪਣਾ ਜੀਵਨ ਭਾਰਤ ਵਿੱਚ ਸਮਾਜਿਕ ਅਸਮਾਨਤਾ ਨੂੰ ਖਤਮ ਕਰਨ ਲਈ ਸਮਰਪਿਤ ਕੀਤਾ। ਉਸਨੇ ਬਰਾਬਰੀ ਦਾ ਭਾਰਤ ਸਥਾਪਤ ਕੀਤਾ, ਇੱਕ ਅਜਿਹਾ ਦੇਸ਼ ਜਿਸਨੇ ਇਤਿਹਾਸਕ ਤੌਰ ਤੇ ਪਛੜੇ ਲੋਕਾਂ ਲਈ ਵਧੇਰੇ ਮੌਕੇ ਪ੍ਰਦਾਨ ਕੀਤੇ।</p>
            <p>ਬਾਬਾ ਸਾਹਿਬ ਦਾ ਪਰਿਵਾਰ ਮਹਾਰ ਕਮਿ ਕਮਿਊਨਿਟੀ ਦਾ ਸੀ ਅਤੇ ਮਹਾਰਾਸ਼ਟਰ ਦੇ ਰਤਨਾਗਿਰੀ ਜ਼ਿਲੇ ਦੇ ਮੰਡੰਗਾਦ ਤਾਲੁਕ ਦੇ ਅੰਬਾਵਡੇ ਕਸਬੇ ਤੋਂ ਆਇਆ ਸੀ। ਹਾਲਾਂਕਿ, ਉਸਦਾ ਜਨਮ 14 ਅਪਰੈਲ 1891 ਨੂੰ ਹੁਣ ਮੱਧ ਪ੍ਰਦੇਸ਼ ਦੇ ਮਿਲੋ ਛਾਉਣੀ ਕਸਬੇ ਮਹੋ ਵਿੱਚ ਹੋਇਆ ਸੀ ਕਿਉਂਕਿ ਉਸਦੇ ਪਿਤਾ ਉਸ ਸਮੇਂ ਭਾਰਤੀ ਫੌਜ ਦੀ ਮਹਾਰ ਰੈਜੀਮੈਂਟ ਦੇ ਇੱਕ ਸੂਬੇਦਾਰ ਮੇਜਰ ਸਨ।</p>
            <p>ਉਹ ਇੱਕ ਸਰਕਾਰੀ ਸਕੂਲ ਚਲਾ ਗਿਆ ਜਿੱਥੇ ਨੀਵੀਂ ਜਾਤ ਦੇ ਬੱਚਿਆਂ ਨੂੰ ਅਛੂਤ ਮੰਨਿਆ ਜਾਂਦਾ ਸੀ ਅਤੇ ਉਨ੍ਹਾਂ ਨੂੰ ਅਧਿਆਪਕਾਂ ਦੁਆਰਾ ਬਹੁਤ ਘੱਟ ਧਿਆਨ ਜਾਂ ਸਹਾਇਤਾ ਦਿੱਤੀ ਜਾਂਦੀ ਸੀ ਅਤੇ ਉਸਨੂੰ ਕਲਾਸ ਦੇ ਅੰਦਰ ਬੈਠਣ ਦੀ ਇਜਾਜ਼ਤ ਨਹੀਂ ਦਿੱਤੀ ਜਾਂਦੀ ਸੀ. ਕਮਿ theਨਿਟੀ ਦੇ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਪਾਣੀ ਤੋਂ ਬਿਨਾਂ ਜਾਣਾ ਪਏਗਾ ਜੇ ਚਪੜਾਸੀ ਡਿ dutyਟੀ ਲਈ ਰਿਪੋਰਟ ਨਾ ਕਰਦੇ. 1894 ਵਿਚ, ਬਾਬਾ ਸਾਹਿਬ ਦਾ ਪਰਿਵਾਰ ਮਹਾਰਾਸ਼ਟਰ ਦੇ ਸਤਾਰਾ ਚਲੇ ਗਏ, ਅਤੇ ਉਨ੍ਹਾਂ ਦੀ ਮਾਤਾ ਸੱਤਾਰਾ ਚਲੇ ਜਾਣ ਤੋਂ ਥੋੜ੍ਹੀ ਦੇਰ ਬਾਅਦ ਹੀ ਅਕਾਲ ਚਲਾਣਾ ਕਰ ਗਈ.</p>
            <p>ਉਸ ਦਾ ਅਧਿਆਪਕ ਮਹਾਦੇਵ ਅੰਬੇਦਕਰ, ਇਕ ਬ੍ਰਾਹਮਣ ਸੀ, ਅਤੇ ਸਕੂਲ ਦੇ ਰਿਕਾਰਡ ਵਿਚ ਆਪਣਾ ਉਪਨਾਮ 'ਅੰਬਵਡੇਕਰ' ਤੋਂ ਬਦਲ ਕੇ ਉਸ ਦਾ ਆਪਣਾ ਉਪਨਾਮ 'ਅੰਬੇਦਕਰ' ਰੱਖ ਦਿੱਤਾ ਗਿਆ ਸੀ। 1897 ਵਿਚ, ਬਾਬਾ ਸਾਹਿਬ ਦਾ ਪਰਿਵਾਰ ਬੰਬੇ ਚਲਾ ਗਿਆ। ਉਸਨੇ 1906 ਵਿਚ ਰਮਾਬਾਈ ਨਾਲ ਵਿਆਹ ਕੀਤਾ ਜਦੋਂ ਉਹ 15 ਸਾਲਾਂ ਦੀ ਸੀ ਅਤੇ ਰਮਾਬਾਈ ਨੌਂ ਸਾਲਾਂ ਦੀ ਸੀ. ਹਾਲਾਂਕਿ, ਇਹ ਉਸਨੂੰ ਉਸਦੇ ਅਕਾਦਮਿਕ ਕੰਮਾਂ ਵਿੱਚ ਰੁਕਾਵਟ ਨਹੀਂ ਪਈ ਕਿਉਂਕਿ ਉਸਨੇ 1907 ਵਿੱਚ ਦਸਵੀਂ ਦੀ ਪ੍ਰੀਖਿਆ ਪਾਸ ਕੀਤੀ ਅਤੇ ਅਗਲੇ ਸਾਲ ਐਲਫਿਨਸਟਨ ਕਾਲਜ ਵਿੱਚ ਦਾਖਲ ਹੋਇਆ, ਅਜਿਹਾ ਕਰਨ ਵਾਲਾ ਇੱਕ ਅਛੂਤ ਭਾਈਚਾਰੇ ਦਾ ਪਹਿਲਾ ਵਿਅਕਤੀ ਬਣ ਗਿਆ।</p>
            <p>1912 ਤਕ, ਉਸਨੇ ਬੰਬੇ ਯੂਨੀਵਰਸਿਟੀ ਤੋਂ ਅਰਥ ਸ਼ਾਸਤਰ ਅਤੇ ਰਾਜਨੀਤੀ ਸ਼ਾਸਤਰ ਵਿਚ ਆਪਣੀ ਡਿਗਰੀ ਪ੍ਰਾਪਤ ਕੀਤੀ ਅਤੇ ਬੜੌਦਾ ਰਿਆਸਤ ਦੀ ਸਰਕਾਰ ਨਾਲ ਨੌਕਰੀ ਕਰ ਲਈ। ਇਸ ਨਾਲ ਬਾਬਾ ਸਾਹਿਬ ਲਈ ਨਵੀਆਂ ਥਾਵਾਂ ਖੁੱਲ੍ਹ ਗਈਆਂ, ਕਿਉਂਕਿ ਉਹਨਾਂ ਨੂੰ 1913 ਵਿਚ ਬੜੌਦਾ ਦੇ ਗਾਏਕਵਾਡਜ਼ ਦੁਆਰਾ ਸਥਾਪਤ ਕੀਤੇ ਗਏ ਬੜੌਦਾ ਸਟੇਟ ਸਕਾਲਰਸ਼ਿਪ ਦੁਆਰਾ, ਸੰਯੁਕਤ ਰਾਜ ਅਮਰੀਕਾ ਦੀ ਕੋਲੰਬੀਆ ਯੂਨੀਵਰਸਿਟੀ ਵਿਚ ਪੋਸਟ ਗ੍ਰੈਜੂਏਸ਼ਨ ਕਰਨ ਦਾ ਮੌਕਾ ਮਿਲਿਆ ਜਿਸ ਵਿਚ ਤਿੰਨ ਸਾਲਾਂ ਲਈ 50 11.50 (ਸਟਰਲਿੰਗ) ਪ੍ਰਤੀ ਮਹੀਨਾ ਦਿੱਤਾ ਗਿਆ।</p>
            <p>ਉਸਨੇ ਆਪਣੀ ਐਮ.ਏ. ਦੀ ਪ੍ਰੀਖਿਆ ਜੂਨ 1915 ਵਿੱਚ ਪਾਸ ਕੀਤੀ, ਅਰਥ ਸ਼ਾਸਤਰ ਵਿੱਚ, ਸਮਾਜ ਸ਼ਾਸਤਰ, ਇਤਿਹਾਸ, ਦਰਸ਼ਨ ਅਤੇ ਮਾਨਵ ਸ਼ਾਸਤਰ ਦੇ ਨਾਲ, ਅਧਿਐਨ ਦੇ ਹੋਰ ਵਿਸ਼ਿਆਂ ਵਜੋਂ; ਉਸਨੇ ਇੱਕ ਥੀਸਸ ‘ਪ੍ਰਾਚੀਨ ਭਾਰਤੀ ਕਾਮਰਸ’ ਪੇਸ਼ ਕੀਤਾ। 1916 ਵਿਚ ਉਸਨੇ ਇਕ ਹੋਰ ਐਮ.ਏ. ਥੀਸਿਸ, ‘ਭਾਰਤ ਦਾ ਰਾਸ਼ਟਰੀ ਲਾਭਅੰਸ਼ - ਇਕ ਇਤਿਹਾਸਕ ਅਤੇ ਵਿਸ਼ਲੇਸ਼ਕ ਅਧਿਐਨ’ ਦੀ ਪੇਸ਼ਕਸ਼ ਕੀਤੀ।</p>
            <p>9 ਮਈ ਨੂੰ, ਉਸਨੇ ਆਪਣਾ ਕਾਗਜ਼ ਪੜ੍ਹਿਆ ‘ਭਾਰਤ ਵਿੱਚ ਜਾਤੀਆਂ ਵਿੱਚ: ਉਨ੍ਹਾਂ ਦਾ ਵਿਧੀ, ਉਤਪਤ ਅਤੇ ਵਿਕਾਸ’ ਮਾਨਵ-ਵਿਗਿਆਨੀ ਅਲੈਗਜ਼ੈਂਡਰ ਗੋਲਡਨਵੈਜ਼ਰ ਦੁਆਰਾ ਕਰਵਾਏ ਸੈਮੀਨਾਰ ਤੋਂ ਪਹਿਲਾਂ। ਅਕਤੂਬਰ 1916 ਵਿਚ ਉਸਨੇ ਗ੍ਰੇ ਇੰਨ ਵਿਖੇ ਬਾਰ ਪ੍ਰੀਖਿਆ ਲਈ ਅਧਿਐਨ ਕੀਤਾ ਅਤੇ ਲੰਡਨ ਸਕੂਲ ਆਫ਼ ਇਕਨਾਮਿਕਸ ਵਿਚ ਦਾਖਲਾ ਲਿਆ ਜਿੱਥੇ ਉਸਨੇ ਡਾਕਟਰੇਲ ਥੀਸਿਸ 'ਤੇ ਕੰਮ ਸ਼ੁਰੂ ਕੀਤਾ.</p>
            <p>ਜੂਨ 1917 ਵਿਚ ਉਸ ਨੂੰ ਵਾਪਸ ਭਾਰਤ ਜਾਣਾ ਪਿਆ ਕਿਉਂਕਿ ਬੜੌਦਾ ਤੋਂ ਉਸ ਦੀ ਵਜ਼ੀਫ਼ਾ ਦੀ ਮਿਆਦ ਖ਼ਤਮ ਹੋ ਗਈ, ਹਾਲਾਂਕਿ ਉਸ ਨੂੰ ਚਾਰ ਸਾਲ ਦੇ ਅੰਦਰ ਅੰਦਰ ਵਾਪਸ ਜਾਣ ਅਤੇ ਆਪਣਾ ਥੀਸਸ ਜਮ੍ਹਾ ਕਰਨ ਦੀ ਆਗਿਆ ਦਿੱਤੀ ਗਈ। ਉਸਨੂੰ ਬੜੌਦਾ ਦੇ ਗਾਏਕਵਾਡਾਂ ਦਾ ਸੈਨਿਕ ਸਕੱਤਰ ਨਿਯੁਕਤ ਕੀਤਾ ਗਿਆ ਸੀ ਪਰੰਤੂ ਉਸਨੂੰ ਆਰਥਿਕ ਤੰਗੀ ਵਿੱਚ ਧੱਕਦਿਆਂ ਥੋੜ੍ਹੇ ਸਮੇਂ ਵਿੱਚ ਹੀ ਅਸਤੀਫਾ ਦੇ ਦੇਣਾ ਪਿਆ।</p>
            <p>1918 ਵਿਚ ਉਹ ਬੰਬੇ ਵਿਚ ਸਿਡਨੈਮ ਕਾਲਜ ਆਫ਼ ਕਾਮਰਸ ਅਤੇ ਇਕਨਾਮਿਕਸ ਵਿਚ ਰਾਜਨੀਤਿਕ ਆਰਥਿਕਤਾ ਦਾ ਪ੍ਰੋਫੈਸਰ ਬਣਿਆ ਅਤੇ ਹਾਲਾਂਕਿ ਉਹ ਆਪਣੇ ਵਿਦਿਆਰਥੀਆਂ ਵਿਚ ਬਹੁਤ ਮਸ਼ਹੂਰ ਸੀ, ਫਿਰ ਵੀ ਉਸ ਨੂੰ ਆਪਣੇ ਸਾਥੀਆਂ ਦੇ ਵਿਤਕਰੇ ਦਾ ਸਾਹਮਣਾ ਕਰਨਾ ਪਿਆ.</p>
            <p>ਇਸ ਸਮੇਂ ਦੌਰਾਨ ਹੀ ਬਾਬਾਸਾਹਿਬ ਨੇ ਰਾਜਨੀਤੀ ਵਿੱਚ ਵਧੇਰੇ ਦਿਲਚਸਪੀ ਲੈਣੀ ਸ਼ੁਰੂ ਕੀਤੀ ਕਿਉਂਕਿ ਉਸਨੂੰ ਸਾ Southਥਬਰੋ ਕਮੇਟੀ ਦੇ ਸਾਹਮਣੇ ਗਵਾਹੀ ਦੇਣ ਲਈ ਬੁਲਾਇਆ ਗਿਆ ਸੀ, ਜੋ ਕਿ ਭਾਰਤ ਸਰਕਾਰ ਐਕਟ 1919 ਤਿਆਰ ਕਰ ਰਹੀ ਸੀ। ਇਸ ਸੁਣਵਾਈ ਦੌਰਾਨ ਉਸਨੇ ਅਛੂਤ ਲੋਕਾਂ ਅਤੇ ਹੋਰ ਧਾਰਮਿਕ ਲੋਕਾਂ ਲਈ ਵੱਖਰੇ ਵੋਟਰਾਂ ਅਤੇ ਰਾਖਵਾਂਕਰਨ ਬਣਾਉਣ ਲਈ ਦਲੀਲ ਦਿੱਤੀ।</p>
            <p>1920 ਵਿਚ, ਉਸਨੇ ਕੋਲਾਪੁਰ ਦੇ ਮਹਾਰਾਜਾ ਛਤਰਪਤੀ ਸ਼ਾਹੂ ਮਹਾਰਾਜ ਦੀ ਸਹਾਇਤਾ ਨਾਲ ਮੁੰਬਈ ਵਿਚ ਹਫ਼ਤਾਵਾਰੀ ਮਕਨਾਇਕ ਪ੍ਰਕਾਸ਼ਤ ਕਰਨਾ ਸ਼ੁਰੂ ਕੀਤਾ। ਇੱਕ ਸਮਾਜ ਸੁਧਾਰਕ, ਮਹਾਰਾਜਾ ਨੇ ਸਾਰੀਆਂ ਜਾਤੀਆਂ ਦੇ ਲੋਕਾਂ ਨੂੰ ਸਿੱਖਿਆ ਅਤੇ ਰੁਜ਼ਗਾਰ ਖੋਲ੍ਹਣ ਵਿੱਚ ਮੋਹਰੀ ਭੂਮਿਕਾ ਨਿਭਾਈ। ਉਸ ਤੋਂ ਬਾਅਦ ਦੇ ਸਾਲਾਂ ਵਿੱਚ, ਬਾਬੇ ਸਾਹਿਬ ਅਛੂਤ ਲੋਕਾਂ ਲਈ ਨਿਆਂ ਦੀ ਲੜਾਈ ਲੜਦੇ ਰਹੇ, ਇੱਕ ਅਭਿਆਸਕ ਵਕੀਲ ਵਜੋਂ ਅਤੇ ਇੱਕ ਸਮਾਜ ਸੁਧਾਰਕ ਵਜੋਂ।</p>
            <p>1927 ਤਕ, ਉਸਨੇ ਅਛੂਤਤਾ ਅਤੇ ਜਨਤਕ ਪੀਣ ਵਾਲੇ ਪਾਣੀ ਦੇ ਸਰੋਤਾਂ ਤੱਕ ਪਹੁੰਚ ਅਤੇ ਹਿੰਦੂ ਮੰਦਰਾਂ ਵਿਚ ਦਾਖਲ ਹੋਣ ਦੇ ਅਧਿਕਾਰ ਵਿਰੁੱਧ ਸਰਗਰਮ ਲਹਿਰ ਚਲਾਉਣ ਦਾ ਫੈਸਲਾ ਕੀਤਾ। ਉਸਨੇ ਮਹਾੜ ਵਿੱਚ ਇੱਕ ਸੱਤਿਆਗ੍ਰਹਿ ਦੀ ਅਗਵਾਈ ਕੀਤੀ ਤਾਂ ਕਿ ਅਛੂਤ ਭਾਈਚਾਰੇ ਦੇ ਕਸਬੇ ਦੀ ਮੁੱਖ ਪਾਣੀ ਵਾਲੀ ਟੈਂਕੀ ਤੋਂ ਪਾਣੀ ਕੱ toਣ ਦੇ ਹੱਕ ਦੀ ਲੜਾਈ ਲੜੀ ਜਾ ਸਕੇ।</p>
            <p>ਉਨ੍ਹਾਂ ਨੂੰ 1925 ਵਿਚ ਸਾਈਮਨ ਕਮਿਸ਼ਨ ਨਾਲ ਕੰਮ ਕਰਨ ਲਈ ਬੰਬੇ ਪ੍ਰੈਜ਼ੀਡੈਂਸੀ ਕਮੇਟੀ ਵਿਚ ਨਿਯੁਕਤ ਕੀਤਾ ਗਿਆ ਸੀ। ਜਦੋਂ ਕਿ ਕਮਿਸ਼ਨ ਨੂੰ ਪੂਰੇ ਭਾਰਤ ਵਿਚ ਵਿਰੋਧ ਪ੍ਰਦਰਸ਼ਨ ਦਾ ਸਾਹਮਣਾ ਕਰਨਾ ਪਿਆ ਸੀ ਅਤੇ ਇਸ ਦੀ ਰਿਪੋਰਟ ਨੂੰ ਵੱਡੇ ਪੱਧਰ 'ਤੇ ਨਜ਼ਰ ਅੰਦਾਜ਼ ਕੀਤਾ ਗਿਆ ਸੀ, ਬਾਬੇਸਾਬ ਨੇ ਖ਼ੁਦ ਭਵਿੱਖ ਲਈ ਸੰਵਿਧਾਨਕ ਸਿਫਾਰਸ਼ਾਂ ਦਾ ਇਕ ਵੱਖਰਾ ਸਮੂਹ ਲਿਖਿਆ ਸੀ।</p>
            <p>1932 ਵਿਚ ਲੰਡਨ ਵਿਚ ਦੂਜੀ ਗੋਲ ਟੇਬਲ ਕਾਨਫ਼ਰੰਸ ਵਿਚ ਸ਼ਾਮਲ ਹੋਣ ਲਈ ਬਾਬਾ ਸਾਹਿਬ ਨੂੰ ਸੱਦਾ ਦਿੱਤਾ ਗਿਆ ਸੀ ਪਰ ਮਹਾਤਮਾ ਗਾਂਧੀ ਅਛੂਤ ਲੋਕਾਂ ਲਈ ਵੱਖਰੇ ਵੋਟਰਾਂ ਦਾ ਵਿਰੋਧ ਕਰ ਰਹੀਆਂ ਸਨ ਕਿਉਂਕਿ ਇਸ ਨਾਲ ਦੇਸ਼ ਦਾ ਵੱਖਰਾ ਹੋਵੇਗਾ।</p>
            <p>1932 ਵਿਚ, ਬ੍ਰਿਟਿਸ਼ ਨੇ ਵੱਖਰੇ ਵੋਟਰਾਂ ਦੇ ਕਮਿalਨਲ ਅਵਾਰਡ ਦੀ ਘੋਸ਼ਣਾ ਕੀਤੀ, ਗਾਂਧੀ ਜੀ ਨੇ ਪੂਨਾ ਦੀ ਯਰਵਦਾ ਸੈਂਟਰਲ ਜੇਲ੍ਹ ਵਿਚ ਕੈਦ ਕੱਟ ਕੇ ਵਰਤ ਰੱਖ ਕੇ ਵਿਰੋਧ ਕੀਤਾ। ਇਸ ਦੇ ਨਤੀਜੇ ਵਜੋਂ ਇੱਕ ਸਮਝੌਤੇ ਦੇ ਨਤੀਜੇ ਵਜੋਂ ਪੂਨਾ ਸਮਝੌਤੇ ਵਜੋਂ ਜਾਣੇ ਜਾਂਦੇ ਹਨ ਜਿਸ ਵਿੱਚ ਗਾਂਧੀ ਜੀ ਨੇ ਆਪਣਾ ਵਰਤ ਖਤਮ ਕਰ ਦਿੱਤਾ ਅਤੇ ਬਾਬਾ ਸਾਹਿਬ ਨੇ ਵੱਖਰੇ ਵੋਟਰਾਂ ਦੀ ਆਪਣੀ ਮੰਗ ਛੱਡ ਦਿੱਤੀ। ਇਸ ਦੀ ਬਜਾਏ, ਕੁਝ ਖਾਸ ਸੀਟਾਂ ਵਿਸ਼ੇਸ਼ ਤੌਰ 'ਤੇ' ਡਿਪਰੈਸਡ ਕਲਾਸ 'ਲਈ ਰਾਖਵੇਂ ਰੱਖੀਆਂ ਗਈਆਂ ਸਨ.</p>
            <p>1935 ਵਿਚ, ਬਾਬਾ ਸਾਹਿਬ ਨੂੰ ਮੁੰਬਈ ਦੇ ਸਰਕਾਰੀ ਲਾਅ ਕਾਲਜ ਦਾ ਪ੍ਰਿੰਸੀਪਲ ਨਿਯੁਕਤ ਕੀਤਾ ਗਿਆ ਅਤੇ ਦੋ ਸਾਲ ਇਸ ਅਹੁਦੇ ਤੇ ਰਿਹਾ। ਇਸ ਸਮੇਂ ਦੌਰਾਨ ਉਸਨੇ ਆਪਣੀ ਪਤਨੀ ਰਮਾਬਾਈ ਨੂੰ ਗੁਆ ਦਿੱਤਾ ਅਤੇ ਇਸ ਨਾਲ ਬਾਬਾ ਸਾਹਿਬ ਦੇ ਜੀਵਨ ਦੇ ਇੱਕ ਮਹੱਤਵਪੂਰਣ ਅਧਿਆਇ ਦੀ ਸ਼ੁਰੂਆਤ ਹੋਈ.</p>
            <p>ਉਸ ਸਾਲ 13 ਅਕਤੂਬਰ ਨੂੰ, ਉਸਨੇ ਇੱਕ ਵੱਖਰੇ ਧਰਮ ਵਿੱਚ ਬਦਲਣ ਦੀ ਆਪਣੀ ਨੀਅਤ ਦਾ ਐਲਾਨ ਕੀਤਾ ਅਤੇ ਆਪਣੇ ਪੈਰੋਕਾਰਾਂ ਨੂੰ ਨਸੀਕ ਵਿੱਚ ਯੋਲਾ ਕਨਵਰਜ਼ਨ ਕਾਨਫਰੰਸ ਵਿੱਚ ਬੋਲਦਿਆਂ ਹਿੰਦੂ ਧਰਮ ਛੱਡਣ ਦੀ ਤਾਕੀਦ ਕੀਤੀ ਅਤੇ ਸਾਰੇ ਦੇਸ਼ ਵਿੱਚ ਉਸਦੇ ਸੰਦੇਸ਼ ਨੂੰ ਦੁਹਰਾਇਆ।</p>
            <p>1936 ਵਿਚ, ਬਾਬਾ ਸਾਹਿਬ ਅੰਬੇਦਕਰ ਨੇ ਸੁਤੰਤਰ ਲੇਬਰ ਪਾਰਟੀ ਦੀ ਸਥਾਪਨਾ ਕੀਤੀ, ਜਿਸ ਨੇ 1937 ਦੀ ਬੰਬੇ ਦੀ ਚੋਣ ਕੇਂਦਰੀ ਰਾਖਵੀਂ ਅਤੇ 4 ਆਮ ਸੀਟਾਂ ਲਈ ਕ੍ਰਮਵਾਰ 11 ਅਤੇ 3 ਸੀਟਾਂ ਲਈ ਕੇਂਦਰੀ ਵਿਧਾਨ ਸਭਾ ਲਈ ਲੜੀ ਸੀ। ਉਸਨੇ ਇਸ ਸਮੇਂ ਦੌਰਾਨ ਰੱਖਿਆ ਸਲਾਹਕਾਰ ਕਮੇਟੀ ਅਤੇ ਵਾਇਸਰਾਇ ਦੀ ਕਾਰਜਕਾਰੀ ਕੌਂਸਲ ਵਿੱਚ ਕਿਰਤ ਮੰਤਰੀ ਵਜੋਂ ਸੇਵਾ ਨਿਭਾਈ।</p>
            <p>ਇਹ ਉਹ ਦੌਰ ਵੀ ਹੈ ਜਦੋਂ ਬਾਬਾ ਸਾਹਿਬ ਨੇ ਹਿੰਦੂ ਸਮਾਜ ਵਿੱਚ ਦਲਿਤਾਂ ਅਤੇ ਜਾਤੀ ਪ੍ਰਣਾਲੀ ਦੀ ਸਥਿਤੀ ਬਾਰੇ ਵਿਸਥਾਰ ਨਾਲ ਲਿਖਿਆ ਸੀ। ਇਸ ਮਿਆਦ ਦੇ ਦੌਰਾਨ, ਬਾਬਾ ਸਾਹਿਬ ਨੇ ਆਪਣੀ ਪਾਰਟੀ ਦਾ ਨਾਮ ਅਨੁਸੂਚਿਤ ਜਾਤੀ ਫੈਡਰੇਸ਼ਨ ਰੱਖ ਦਿੱਤਾ ਜੋ ਬਾਅਦ ਵਿੱਚ ਇੰਡੀਆ ਦੀ ਰਿਪਬਲਿਕਨ ਪਾਰਟੀ ਵਿੱਚ ਸ਼ਾਮਲ ਹੋ ਗਈ.</p>
            <p>ਪਹਿਲਾਂ ਉਹ ਬੰਗਾਲ ਤੋਂ ਸੰਵਿਧਾਨ ਸਭਾ ਲਈ ਚੁਣੇ ਗਏ ਸਨ ਪਰ ਉਨ੍ਹਾਂ ਦੀ ਸੀਟ ਭਾਰਤ ਦੀ ਵੰਡ ਤੋਂ ਬਾਅਦ ਪਾਕਿਸਤਾਨ ਚਲੀ ਗਈ ਸੀ। ਇਸ ਤੋਂ ਬਾਅਦ ਉਸਨੂੰ ਸ਼੍ਰੀ ਜੀ ਵੀ ਮਾਵਲਾਂਕਰ ਤੋਂ ਪਹਿਲਾਂ ਇਕ ਸੀਨੀਅਰ ਜੁਗੀਸ਼ਿਸਟ ਜੈਕਾਰ ਦੀ ਥਾਂ ਬੰਬੇ ਪ੍ਰੈਜ਼ੀਡੈਂਸੀ ਤੋਂ ਚੁਣਿਆ ਗਿਆ।</p>
            <p>15 ਅਗਸਤ, 1947 ਨੂੰ ਭਾਰਤ ਇੱਕ ਸੁਤੰਤਰ ਰਾਸ਼ਟਰ ਬਣਿਆ ਅਤੇ ਬਾਬਾ ਸਾਹਿਬ ਅੰਬੇਦਕਰ ਨੂੰ ਕੇਂਦਰੀ ਕਾਨੂੰਨ ਮੰਤਰੀ ਅਤੇ ਸੰਵਿਧਾਨ ਡਰਾਫਟ ਕਮੇਟੀ ਦਾ ਚੇਅਰਮੈਨ ਨਿਯੁਕਤ ਕੀਤਾ ਗਿਆ, ਜਿਸਨੂੰ ਭਾਰਤ ਦੇ ਨਵੇਂ ਸੰਵਿਧਾਨ ਨੂੰ ਲਿਖਣ ਦੀ ਜ਼ਿੰਮੇਵਾਰੀ ਦਿੱਤੀ ਗਈ ਸੀ।</p>
            <p>ਬਾਬਾ ਸਾਹਿਬ ਅੰਬੇਦਕਰ ਦੇ ਪਾਠ ਨੇ ਵਿਅਕਤੀਗਤ ਨਾਗਰਿਕਾਂ ਨੂੰ ਵੱਖ ਵੱਖ ਨਾਗਰਿਕ ਅਜ਼ਾਦੀ ਲਈ ਸੰਵਿਧਾਨਕ ਗਰੰਟੀ ਅਤੇ ਸੁਰੱਖਿਆ ਪ੍ਰਦਾਨ ਕੀਤੀ ਹੈ, ਜਿਸ ਵਿੱਚ ਧਰਮ ਦੀ ਆਜ਼ਾਦੀ, ਛੂਤਛੁਤਤਾ ਦੇ ਖਾਤਮੇ ਅਤੇ ਹਰ ਕਿਸਮ ਦੇ ਵਿਤਕਰੇਬਾਜੀ ਨੂੰ ਬੰਦ ਕਰਨ ਸਮੇਤ ਸ਼ਾਮਲ ਹਨ। ਗ੍ਰੈਨਵਿਲੇ inਸਟਿਨ ਨੇ ਭਾਰਤੀ ਸੰਵਿਧਾਨ ਨੂੰ ‘ਸਭ ਤੋਂ ਪਹਿਲਾਂ ਅਤੇ ਸਭ ਤੋਂ ਵੱਡਾ ਸਮਾਜਿਕ ਦਸਤਾਵੇਜ਼’ ਦੱਸਿਆ।</p>
            <p>ਉਸਨੇ ਬਰਾਬਰੀ ਲਈ ਦਲੀਲ ਦਿੱਤੀ ਅਤੇ ਸਿਵਲ ਸੇਵਾਵਾਂ, ਸਕੂਲਾਂ ਅਤੇ ਕਾਲਜਾਂ ਵਿੱਚ ਅਨੁਸੂਚਿਤ ਜਾਤੀਆਂ ਅਤੇ ਅਨੁਸੂਚਿਤ ਜਾਤੀਆਂ ਦੇ ਮੈਂਬਰਾਂ ਲਈ ਨੌਕਰੀਆਂ ਦੇ ਰਾਖਵੇਂਕਰਨ ਦੀ ਪ੍ਰਣਾਲੀ ਦੀ ਸ਼ੁਰੂਆਤ ਕਰਨ ਲਈ ਵਿਸ਼ਾਲ ਸਮਰਥਨ ਵੀ ਪ੍ਰਾਪਤ ਕੀਤਾ। ਇਸਦਾ ਉਦੇਸ਼ ਉਨ੍ਹਾਂ ਲੋਕਾਂ ਨੂੰ ਆਵਾਜ਼ ਪਹੁੰਚਾਉਣਾ ਸੀ ਜਿਨ੍ਹਾਂ ਨੇ ਸਦੀਆਂ ਦੌਰਾਨ ਗੰਭੀਰ ਬੇਇਨਸਾਫੀਆਂ ਦਾ ਸਾਹਮਣਾ ਕੀਤਾ ਸੀ.</p>
            <p>ਸੰਵਿਧਾਨ ਸਭਾ ਨੇ 26 ਨਵੰਬਰ 1949 ਨੂੰ ਸੰਵਿਧਾਨ ਦੇ ਖਰੜੇ ਨੂੰ ਰਸਮੀ ਤੌਰ 'ਤੇ ਪ੍ਰਵਾਨਗੀ ਦੇ ਦਿੱਤੀ ਅਤੇ ਬਾਬਾ ਸਾਹਿਬ ਦਾ ਸਭ ਤੋਂ ਵੱਡਾ ਕਾਰਜ, ਭਾਰਤੀ ਸੰਵਿਧਾਨ, 26 ਜਨਵਰੀ 1950 ਨੂੰ ਸਾਡੀ ਜ਼ਿੰਦਗੀ ਦਾ .ੰਗ ਬਣ ਗਿਆ।</p>
            <p>ਸੰਘਰਸ਼ ਬਾਬਾ ਸਾਹਿਬ ਦੇ ਜੀਵਨ ਦਾ ਇਕ ਹਿੱਸਾ ਸੀ ਕਿਉਂਕਿ ਉਨ੍ਹਾਂ ਨੇ ਜੋ ਕੁਝ ਪ੍ਰਾਪਤ ਕੀਤਾ ਉਸ ਲਈ ਸਖਤ ਮਿਹਨਤ ਕਰਨੀ ਪਈ. ਜਦੋਂ ਕਿ ਉਸ ਨੂੰ ਇਕ ਨਵੇਂ ਸਮਾਜਿਕ ਪ੍ਰਬੰਧ ਲਈ ਨਿਰੰਤਰ ਯੁੱਧ ਲਈ ਯਾਦ ਕੀਤਾ ਜਾਂਦਾ ਹੈ, ਭਾਰਤੀ ਰਾਸ਼ਟਰ ਸਾਨੂੰ ਉਸ ਸੰਵਿਧਾਨ ਲਈ ਹਮੇਸ਼ਾ ਰਿਣੀ ਰਹੇਗਾ ਜੋ ਸਾਡੇ ਦੇਸ਼ ਦੇ ਮੁ coreਲੇ ਮੁੱਲਾਂ ਨੂੰ ਪਰਿਭਾਸ਼ਤ ਕਰਦਾ ਹੈ.</p>
            <p>ਉਹ ਆਦਮੀ ਸੀ ਜਿਸ ਨੇ ਸਾਨੂੰ ਬਰਾਬਰ ਦੀ ਰਾਸ਼ਟਰ ਬਣਾਇਆ.</p>
            
            
            <div class="fb-share-button" data-href="http://sadbhavana.net/biographies-en/DR-B-R-AMBEDKAR.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="It takes courage to break free from the shackles of social inequality. It takes enormous amounts of
            courage to believe that things can change. It takes a leader to fight these inequalities and establish a
            new social order...Read more" data-link="https://tinyurl.com/y2ke634k" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>

            <!-- article content -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
