<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - ਮਹਾਤਮਾ ਗਾਂਧੀ</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/006/medium/Gandhi_inc.jpg?1505451907" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>ਮਹਾਤਮਾ ਗਾਂਧੀ</h1>
        <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਮਹਾਤਮਾ ਗਾਂਧੀ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <img class="float-left"
              src="https://cdn.inc.in/inspirations/thumbnails/000/000/006/medium/Gandhi_inc.jpg?1505451907" alt="">
            <div class="heading-title">
              <h5>ਸ਼੍ਰੀਮਤੀ ਇੰਦਰਾ ਗਾਂਧੀ ਦਾ ਮਹਾਤਮਾ ਗਾਂਧੀ ਉਤੇ ਆਲ ਇੰਡੀਆ ਰੇਡੀਓ ਤੇ  ਪ੍ਰਸਾਰਣ (ਨਵੀਂ ਦਿੱਲੀ , ੧ ਅਕਤੂਬਰ ੧੯੬੮)</h5>
            </div>
            <p>ਮਹਾਤਮਾ ਗਾਂਧੀ ਨੇ ਲਿਖਿਆ , ਭਾਰਤ ਦੇ ਇਤਿਹਾਸ ਵਿੱਚ ਕਈ ਵਾਰ ਇਹੋ ਜੇ ਮੌਕੇ ਆਏ ਜਦੋਂ ਇਨਸਾਨ ਦਾ ਹੱਥ ਬਦਰ ਤੋ ਵੱਡਾ ਸੀ, ਥੋੜੀ ਦੇਰ ਬਾਦ ਪੂਰਾ ਆਸਮਾਨ ਨੂੰ ਆਪਣੇ ਅੰਦਰ ਸਮਾ ਲੈਂਦਾ ਹੈ । ਗਾਂਧੀ ਜੇ ਨੇ ਆਪਣੇ ਜੀਵਨ ਨੂੰ ਭਾਰਤ ਦੀ ਆਜ਼ਾਦੀ ਲਈ ਕੁਰਬਾਨ ਕਰਤਾ ।</p>
            <p>੧੯੧੯ ਦੇ ੪ ਹਫਤੇ ਵਿੱਚ ਉਨ੍ਹਾਂਨੇ ਇਸ ਉਪਮਹਾਦੀਪ ਦੇ ਹਾਲਾਤ ਬਦਲ ਦਿੱਤੀ। ਉਨ੍ਹਾਂਨੇ  ਡਰਪੋਕ ਅਤੇ ਕਮਜ਼ੋਰ ਦੇਸ਼ ਨੂੰ ਆਪਣੇ ਹਰ ਦੀ ਲੜਾਈ ਤੇ ਆਪਣੇ ਅਧਿਕਾਰਾਂ ਦੇ ਲਈ ਲੜਨ ਯੋਗ ਬਣਾਇਆ। ਉਨ੍ਹਾਂਨੇ ਲੋਕਾਂ ਨੂੰ ਨਵਾ ਹਥਿਆਰ ਦਿੱਤਾ, ਜਿਸ ਨੇ ਆਖਿਰਕਾਰ ਉਨ੍ਹਾਂ ਨੂੰ ਬ੍ਰਿਟਿਸ਼ ਰਾਜ ਟੋਹ ਛੁਟਕਾਰਾ ਦਿਲਵਾਇਆ। ਉਸ ਹਥਿਆਰ ਦਾ ਨਾਮ ਸਤਿਆਗ੍ਰਹਿ, ਸਾਵੀਂ ਅਵੱਗਿਆ ਅਤੇ ਗੈਰ ਹਿੰਸਕ ਅਸਹਿਯੋਗ। ਜੀਦਾ ਮਤਲਬ " ਸੱਚ ਤੇ ਜੋਰ " । ਇਸ ਹਥਿਆਰ ਦੇ ਲਈ ਇਨਸਾਨੀ ਤਾਕਤ ਦੀ ਲੋੜ ਨਹੀਂ , ਪਰ ਇਸ ਹਥਿਆਰ ਨੂੰ ਅਸਰਦਾਰ ਬਣਾਉਣ ਲਈ ਆਪਣੇ ਆਪ ਤੇ ਸੰਤੁਲਨ ਰੱਖਣਾ ਜਰੂਰੀ ਹੈ ।</p>
            <p>ਮਹਾਤਮਾ ਗਾਂਧੀ ਨੇ ਦੇਸ਼ ਵਿਚ ਆਪਣਾ ਪਹਿਲਾ ਸੱਤਿਆਗ੍ਰਹਿ ਅਭਿਆਨ ਚਲਾਉਣ ਤੋਂ ਬਾਅਦ, ਭਾਰਤ ਨੂੰ ਆਜ਼ਾਦੀ ਦੀ ਲੜਾਈ ਵਿਚ ਤੀਹ ਲੰਬੇ ਸਾਲ ਲੱਗ ਗਏ। ਇਸ ਸਮੇਂ ਦੌਰਾਨ ਅਸੀਂ ਆਜ਼ਾਦੀ ਦਾ ਪੂਰਾ ਅਰਥ ਸਿੱਖਿਆ. ਉਸਨੇ ਸਾਨੂੰ ਸਿਖਾਇਆ ਕਿ ਉਹ ਲੋਕ ਜਿਨ੍ਹਾਂ ਨੇ ਆਪਣੇ ਸਮਾਜ ਵਿੱਚ ਬੇਇਨਸਾਫੀ ਅਤੇ ਅਸਮਾਨਤਾ ਦੀ ਆਗਿਆ ਦਿੱਤੀ ਉਹ ਆਜ਼ਾਦੀ ਦੇ ਹੱਕਦਾਰ ਨਹੀਂ ਸਨ ਅਤੇ ਇਸ ਨੂੰ ਬਰਕਰਾਰ ਨਹੀਂ ਰੱਖ ਸਕਦੇ ਸਨ. ਇਸ ਤਰ੍ਹਾਂ ਮੌਕਾ ਦੀ ਬਰਾਬਰੀ, ਚਾਹੇ ਜਨਮ, ਲਿੰਗ, ਜਾਂ ਧਰਮ, ਸਾਡੀ ਆਜ਼ਾਦੀ ਦੇ ਸੰਘਰਸ਼ ਦੇ ਉਦੇਸ਼ ਬਣ ਗਏ.</p>
            <p>ਮਹਾਤਮਾ ਗਾਂਧੀ ਨੇ ਬੇਵਕੂਫ ਜਨਤਾ ਦੀ ਤਾਂਘ ਦੀ ਵਿਆਖਿਆ ਕੀਤੀ ਅਤੇ ਉਹ ਸ਼ਬਦ ਬੋਲੇ ​​ਜੋ ਉਹ ਖ਼ੁਦ ਜ਼ਾਹਰ ਕਰਨ ਲਈ ਸੰਘਰਸ਼ ਕਰ ਰਹੇ ਸਨ। ਲੱਕੜ ਦਾ ਕੱਪੜਾ ਪਹਿਨਣਾ, ਜੋ ਕਿ ਉਦੋਂ ਸੀ ਜੋ ਸਾਡੇ ਬਹੁਤ ਸਾਰੇ ਕਿਸਾਨ ਸਹਿ ਸਕਦੇ ਸਨ, ਉਸਨੇ ਆਪਣੇ ਆਪ ਨੂੰ ਦੱਬੇ-ਕੁਚਲੇ ਅਤੇ ਗਰੀਬਾਂ ਨਾਲ ਪਛਾਣ ਲਿਆ. ਜਿਸਨੂੰ ਭਾਰਤੀ ਸਮਾਜ ਅਛੂਤ ਮੰਨਦਾ ਸੀ, ਉਸਨੇ "ਰੱਬ ਦੇ ਮਨੁੱਖ" ਨਾਮ ਦਿੱਤਾ ਅਤੇ ਆਪਣੀ ਜਿੰਦਗੀ ਦੇ ਆਖ਼ਰੀ ਦਿਨਾਂ ਤੱਕ ਉਸਨੇ ਉਹਨਾਂ ਦੀ ਚੜ੍ਹਦੀ ਕਲਾ ਅਤੇ ਮੁਕਤੀ ਲਈ ਨਿਰੰਤਰ ਮਿਹਨਤ ਕੀਤੀ। ਫਿਰਕੂ ਦੰਗਿਆਂ ਦੌਰਾਨ ਇਹ ਕਮਜ਼ੋਰ ਅਤੇ ਬਜ਼ੁਰਗ ਆਦਮੀ ਆਪਸ ਵਿੱਚ ਚਲਦੇ ਰਹੇ ਲੋਕਾਂ ਅਤੇ, ਨਿਹਚਾ ਅਤੇ ਆਤਮਿਕ ਸ਼ਕਤੀ ਦੇ ਜ਼ਰੀਏ, ਮੇਲ-ਮਿਲਾਪ ਦੇ ਚਮਤਕਾਰ ਪ੍ਰਾਪਤ ਕੀਤੇ, ਜਿਹੜੀ ਸ਼ਾਂਤੀ ਸੈਨਾਵਾਂ ਨਹੀਂ ਕਰ ਸਕਦੀਆਂ ਸਨ।ਉਹ ਆਪਣੀ ਸ਼ਹਾਦਤ ਨੂੰ ਮਿਲੇ ਕਿਉਂਕਿ ਉਸਨੇ ਨਫ਼ਰਤ ਅਤੇ ਅਸਹਿਣਸ਼ੀਲਤਾ ਨਾਲ ਸਮਝੌਤਾ ਕਰਨ ਤੋਂ ਇਨਕਾਰ ਕਰ ਦਿੱਤਾ।</p>
            <p>ਮਹਾਤਮਾ ਗਾਂਧੀ ਆਤਮਿਕ ਤਾਕਤ 'ਤੇ ਭਰੋਸਾ ਕਰਦੇ ਸਨ. ਉਹ ਆਪਣੀ ਇੱਛਾ ਨੂੰ ਸੀਮਤ ਕਰਨ ਅਤੇ ਇਕ ਦੇ ਹੱਥਾਂ ਨਾਲ ਕੰਮ ਕਰਨ ਵਿਚ ਵਿਸ਼ਵਾਸ ਕਰਦਾ ਸੀ. ਉਸਨੇ ਆਪਣੀ ਜਿੰਦਗੀ ਨੂੰ ਪ੍ਰਾਚੀਨ ਹਿੰਦੂ ਕਿਤਾਬ, ਭਾਗਵਤ-ਗੀਤਾ ਜਾਂ "ਲਾਰਡਜ਼ ਦਾ ਗਾਣਾ" ਅਨੁਸਾਰ ਬਣਾਇਆ, ਪਰ ਉਹ ਈਸਾਈ ਧਰਮ ਅਤੇ ਇਸਲਾਮ ਤੋਂ ਵੀ ਪ੍ਰੇਰਨਾ ਲੈਂਦਾ ਹੈ। ਅਸਲ ਵਿੱਚ ਉਸਨੇ ਸੋਚਿਆ ਕਿ ਕੋਈ ਵੀ ਵਿਅਕਤੀ ਆਪਣੇ ਧਰਮ ਦਾ ਸੱਚਮੁੱਚ ਉਦੋਂ ਤੱਕ ਨਹੀਂ ਚੱਲ ਸਕਦਾ ਜਦੋਂ ਤੱਕ ਉਹ ਦੂਸਰੇ ਧਰਮਾਂ ਦਾ ਬਰਾਬਰ ਸਤਿਕਾਰ ਨਹੀਂ ਕਰਦਾ। . ਲੰਬੇ ਸਮੇਂ ਤੋਂ ਬਾਅਦ, ਤੀਜੀ ਸਦੀ ਬੀ.ਸੀ. ਵਿਚ, ਸਮਰਾਟ ਅਸ਼ੋਕ ਨੇ ਲਿਖਿਆ ਸੀ, "ਦੂਜਿਆਂ ਦੇ ਵਿਸ਼ਵਾਸ ਦੀ ਕਦਰ ਕਰਦਿਆਂ ਤੁਸੀਂ ਆਪਣੀ ਨਿਹਚਾ ਨੂੰ ਉੱਚਾ ਕਰੋਗੇ ਅਤੇ ਦੂਜਿਆਂ ਦੁਆਰਾ ਤੁਹਾਡੀ ਆਪਣੀ ਨਿਹਚਾ ਨੂੰ ਸਨਮਾਨਿਤ ਕਰੋਗੇ."</p>
            <p>ਮਹਾਤਮਾ ਗਾਂਧੀ ਨੇ ਆਪਣੀ ਜੀਵਨੀ ਕਹਾਣੀ ਨੂੰ "ਸੱਚ ਦੇ ਨਾਲ ਮੇਰੇ ਤਜ਼ਰਬੇ" ਕਿਹਾ. ਉਸਦੀ ਸੱਚਾਈ ਨਾ ਤਾਂ ਨਿਵੇਕਲੀ ਸੀ ਅਤੇ ਨਾ ਹੀ ਮਨਘੜਤ। ਜਿਵੇਂ ਕਿ ਉਸਨੇ ਇੱਕ ਵਾਰ ਲਿਖਿਆ ਸੀ, "ਸੱਚਾਈ ਦੇ ਬਹੁਤ ਸਾਰੇ ਤਰੀਕੇ ਹਨ, ਅਤੇ ਸਾਡੇ ਵਿੱਚੋਂ ਹਰ ਇੱਕ ਸੱਚਾਈ ਨੂੰ ਟੁਕੜੇ ਵਿੱਚ ਵੇਖਦਾ ਹੈ." ਇਸ ਤਰ੍ਹਾਂ, ਸਚਾਈ ਲਈ ਸਹਿਣਸ਼ੀਲਤਾ ਜ਼ਰੂਰੀ ਹੈ; ਹਿੰਸਾ ਇਸਦੇ ਨਾਲ ਮੇਲ ਨਹੀਂ ਖਾਂਦੀ। ਨਾ ਹੀ ਹਿੰਸਾ ਤੋਂ ਸ਼ਾਂਤੀ ਆ ਸਕਦੀ ਹੈ। ਅਤੇ ਸਾਧਨ ਇਕੋ ਜਿਹੇ ਮਹੱਤਵਪੂਰਣ ਸਨ. ਉਹ ਮੰਨਦਾ ਸੀ ਕਿ ਕਿਸੇ ਯੋਗ ਯੋਗ ਉਪਾਅ ਨੂੰ ਕਿਸੇ ਅਯੋਗ ਸਾਧਨ ਦੁਆਰਾ ਪ੍ਰਾਪਤ ਨਹੀਂ ਕੀਤਾ ਜਾ ਸਕਦਾ.</p>
            <p>ਮਹਾਤਮਾ ਗਾਂਧੀ ਨੂੰ ਇੱਕ ਨਬੀ ਅਤੇ ਇੱਕ ਇਨਕਲਾਬੀ ਵਜੋਂ ਯਾਦ ਕੀਤਾ ਜਾਵੇਗਾ. ਉਹ ਜ਼ੁਲਮ ਅਤੇ ਸਮਾਜਿਕ ਬੇਇਨਸਾਫੀ ਪ੍ਰਤੀ ਅਹਿੰਸਕ ਵਿਰੋਧ ਦਾ ਵਿਰੋਧ ਕਰਦਾ ਸੀ. ਉਸਨੇ ਸਾਨੂੰ ਇੱਕ ਪ੍ਰੀਖਿਆ ਲਾਗੂ ਕਰਨ ਲਈ ਕਿਹਾ, ਜਿਸਦਾ ਮੈਂ ਹਵਾਲਾ ਦਿੰਦਾ ਹਾਂ, "ਜਦੋਂ ਵੀ ਤੁਹਾਨੂੰ ਸ਼ੱਕ ਹੁੰਦਾ ਹੈ, ਜਾਂ ਜਦੋਂ ਖੁਦ ਤੁਹਾਡੇ ਨਾਲ ਬਹੁਤ ਜ਼ਿਆਦਾ ਬਣ ਜਾਂਦਾ ਹੈ, ਤਾਂ ਸਭ ਤੋਂ ਗਰੀਬ ਅਤੇ ਕਮਜ਼ੋਰ ਆਦਮੀ ਦਾ ਕੇਸ ਯਾਦ ਕਰੋ ਜੋ ਤੁਸੀਂ ਦੇਖਿਆ ਹੋਵੇਗਾ, ਅਤੇ ਆਪਣੇ ਆਪ ਨੂੰ ਪੁੱਛੋ ਕਿ ਕੀ ਇਹ ਕਦਮ ਹੈ? ਤੁਸੀਂ ਉਸਦਾ ਕੋਈ ਫਾਇਦਾ ਹੋਣ ਜਾ ਰਹੇ ਹੋ. ਕੀ ਉਹ ਇਸ ਨਾਲ ਕੁਝ ਹਾਸਲ ਕਰੇਗਾ? ਕੀ ਇਹ ਉਸਨੂੰ ਆਪਣੀ ਜਿੰਦਗੀ ਅਤੇ ਕਿਸਮਤ ਤੇ ਨਿਯੰਤਰਣ ਬਹਾਲ ਕਰ ਦੇਵੇਗਾ? ਕੀ ਇਹ ਸਵਰਾਜ ਜੋ ਸਵੈ-ਸਰਕਾਰ ਹੈ, ਲੱਖਾਂ ਭੁੱਖੇ ਅਤੇ ਅਧਿਆਤਮਕ ਤੌਰ ਤੇ ਭੁੱਖੇ ਮਰਨਗੇ? , ਤੁਸੀਂ ਆਪਣੇ ਸ਼ੰਕੇ ਅਤੇ ਆਪਣੇ ਆਪ ਨੂੰ ਪਿਘਲਦੇ ਪਾਓਗੇ. " ਇਹ, ਟੈਸਟ ਸਾਡੇ ਸਮੇਂ ਲਈ ਜਾਇਜ਼ ਹੈ, ਸੱਚਮੁੱਚ ਹਰ ਸਮੇਂ ਲਈ, ਇਹ ਭਾਰਤ ਅਤੇ ਦੁਨੀਆ ਲਈ ਯੋਗ ਹੈ.</p>
            <p>ਜਦ ਤੱਕ ਮਨੁੱਖੀ ਭਾਵਨਾ ਦਾ ਜ਼ੁਲਮ ਅਤੇ ਨਿਘਾਰ ਹੁੰਦਾ ਹੈ, ਲੋਕ ਉਸਦੀ ਇੱਜ਼ਤ ਪੱਕਾ ਕਰਨ ਲਈ ਉਸ ਤੋਂ ਸੇਧ ਲੈਣਗੇ. ਅਹਿੰਸਕ ਵਿਰੋਧ ਦਾ ਹਥਿਆਰ ਜੋ ਉਸਨੇ ਮਨੁੱਖਜਾਤੀ ਨੂੰ ਦਿੱਤਾ ਹੈ ਅੱਜ ਹੋਰ ਦੇਸ਼ਾਂ ਅਤੇ ਹੋਰ ਚੜ੍ਹਾਈਆਂ ਵਿੱਚ ਇਸਤੇਮਾਲ ਹੁੰਦਾ ਹੈ. ਦੁਨੀਆ ਗਾਂਧੀ ਨੂੰ ਬੁੱਧ ਤੋਂ ਬਾਅਦ ਸਭ ਤੋਂ ਮਹਾਨ ਭਾਰਤੀ ਮੰਨਦੀ ਹੈ। ਬੁੱਧ ਦੀ ਤਰ੍ਹਾਂ, ਉਹ ਮਨੁੱਖਤਾ ਦੀ ਉੱਚ ਪੱਧਰੀ ਸਭਿਅਤਾ ਦੀ ਤਰੱਕੀ ਲਈ ਪ੍ਰੇਰਿਤ ਕਰਦਾ ਰਹੇਗਾ. ਭਾਰਤ ਵਿੱਚ, ਸਾਡੀ ਕੋਸ਼ਿਸ਼ ਹੈ ਕਿ ਇੱਕ ਭਵਿੱਖ ਉਸਾਰਿਆ ਜਾਏ ਜੋ ਉਸਦੇ ਯੋਗ ਹੈ.</p>
            

              <div class="fb-share-button" data-href="http://sadbhavana.net/biographies-en/MAHATMA-GANDHI.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="In the history of India, there have been occasions when a cloud, no bigger than a man’s hand, has soon
            covered the whole sky, so wrote Mahatma Gandhi in 1921. He himself poured life- giving water on a land
            thirsting for freedom....Read more" data-link="https://tinyurl.com/yxbf3ubv" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>

            <!-- article content -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
