<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨੇਹਰੂ</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/007/medium/Nehru_inc.jpg?1505455906" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
									<a class="dropdown-toggle noicon" href="#">
										<b class="blinkText">GAMES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨੇਹਰੂ</h1>
        <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨੇਹਰੂ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <img class="float-left"
              src="https://cdn.inc.in/inspirations/thumbnails/000/000/007/medium/Nehru_inc.jpg?1505455906" alt="">
            <p>ਭਾਰਤ ਦੇ ਪਹਿਲੇ ਅਤੇ ਸਭ ਤੋਂ ਲੰਬੇ ਸਮੇਂ ਤੱਕ ਸੇਵਾ ਨਿਭਾ ਰਹੇ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਦੂਰਦਰਸ਼ੀ ਸਨ। ਬ੍ਰਿਟਿਸ਼ ਤੋਂ ਆਜ਼ਾਦੀ ਲਈ ਲੰਮੇ ਸੰਘਰਸ਼ ਵਿਚ ਹਿੱਸਾ ਲੈਣ ਤੋਂ ਬਾਅਦ, ਨਹਿਰੂ, ਪਿਆਰ ਨਾਲ ਉਸ ਦੇ ਕਸ਼ਮੀਰੀ ਪੰਡਿਤ ਭਾਈਚਾਰੇ ਦੀਆਂ ਜੜ੍ਹਾਂ ਦਾ ਹਵਾਲਾ ਦੇਣ ਵਾਲੇ ਪੰਡਿਤ ਨਹਿਰੂ, ਰਾਸ਼ਟਰ ਨਿਰਮਾਣ ਵਿਚ ਪੱਕਾ ਵਿਸ਼ਵਾਸ ਕਰਨ ਵਾਲਾ ਸੀ, ਕਿਉਂਕਿ ਉਹ ਸਮਝਦਾ ਸੀ ਕਿ ਨੌਜਵਾਨ ਭਾਰਤੀ ਰਾਸ਼ਟਰ ਦੀ ਕਿਸਮਤ ਦੀ ਕੋਸ਼ਿਸ਼ ਹੈ।</p>
            <p>ਇੱਕ ਵਿਦੇਸ਼ੀ ਪੜ੍ਹਿਆ-ਲਿਖਿਆ ਬੈਰਿਸਟਰ ਅਤੇ ਮਹਾਤਮਾ ਗਾਂਧੀ ਦਾ ਨੇੜਲਾ ਗੁਪਤ ਨਿਵੇਸ਼ਕ, ਉਹ ਓਨਾ ਹੀ ਨੇੜੇ ਆ ਗਿਆ ਜਿੰਨਾ ਕਿਸੇ ਨੇ, ਜਾਂ ਕਦੇ, ਪੀਪਲਜ਼ ਪ੍ਰਿੰਸ ਬਣਨ ਲਈ ਕੀਤਾ ਸੀ. ਉਹ ਮਹਾਤਮਾ ਗਾਂਧੀ ਦੇ ਚੁਣੇ ਗਏ ਰਾਜਨੀਤਿਕ ਵਾਰਸ ਸਨ, ਅਤੇ ਭਾਰਤ ਦੇ ਪਹਿਲੇ ਚੁਣੇ ਗਏ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਨੂੰ ਅਜ਼ਾਦ ਕਰਦੇ ਸਨ. 1950 ਵਿਚ ਵਲੱਭਭਾਈ ਪਟੇਲ ਦੀ ਮੌਤ ਤੋਂ ਬਾਅਦ, ਉਸਨੇ ਕਾਂਗਰਸ ਵਿਚ ਆਪਣੇ ਸਾਥੀਆਂ ਨਾਲ ਮਿਲਾਵਟ ਕੀਤੀ. ਵਿਦਿਅਕ ਅਦਾਰਿਆਂ, ਸਟੀਲ ਪਲਾਂਟਾਂ ਅਤੇ ਡੈਮਾਂ ਦੁਆਰਾ ਸੰਚਾਲਿਤ ਭਾਰਤ ਦੁਆਰਾ ਚਲਾਏ ਗਏ ਉਸਦੇ ਭਾਰਤ ਦੇ ਦ੍ਰਿਸ਼ਟੀਕੋਣ ਨੂੰ ਵਿਆਪਕ ਰੂਪ ਨਾਲ ਸਾਂਝਾ ਕੀਤਾ ਗਿਆ.</p>
            <p>ਉਹ ਇਕ ਬਹਾਦਰ ਆਦਮੀ ਦੇ ਤੌਰ ਤੇ ਦੇਖਿਆ ਜਾਂਦਾ ਸੀ, ਜੋ ਚੌਵੀਵਾਦੀਆਂ ਨਾਲ ਲੜਦਾ ਸੀ; ਇੱਕ ਨਿਰਸਵਾਰਥ ਆਦਮੀ ਦੇ ਤੌਰ ਤੇ, ਜਿਸਨੇ ਆਜ਼ਾਦੀ ਪ੍ਰਾਪਤ ਕਰਨ ਲਈ ਕਈ ਸਾਲ ਜੇਲ੍ਹ ਵਿੱਚ ਸਹਾਰਿਆ ਸੀ; ਅਤੇ ਸਭ ਤੋਂ ਵੱਧ ਇੱਕ ਦੂਰਦਰਸ਼ੀ ਵਜੋਂ. ਉਨ੍ਹਾਂ ਦੀ ਅਪੀਲ ਨੇ ਨੀਵੀਂ ਜਾਤ ਅਤੇ ਉੱਚ ਜਾਤੀ ਦੀਆਂ ਰਵਾਇਤੀ ਵਿਰੋਧੀਆਂ ਸ਼੍ਰੇਣੀਆਂ ਵਿਚ ਕਟੌਤੀ ਕੀਤੀ ਅਤੇ ਬਿਨਾਂ ਸ਼ੱਕ ਜਨਤਾ ਦੀ ਪਿਆਰੀ ਹੈ.</p>
            <p>ਨਹਿਰੂ ਨੂੰ ਅਹਿਸਾਸ ਹੋਇਆ ਕਿ ਦੇਸ਼, ਰਿਆਸਤਾਂ ਦੇ looseਿੱਲੇ ਸੰਘ ਤੋਂ ਮਿਲ ਕੇ ਜੁੜਿਆ ਹੋਇਆ ਹੈ, ਜਿਸ ਨੇ ਦੋਹਾਂ ਨੂੰ ਬ੍ਰਿਟਿਸ਼ ਪ੍ਰਤੀ ਆਪਣੀ ਵਫ਼ਾਦਾਰੀ ਦੇ ਨਾਲ-ਨਾਲ ਉਨ੍ਹਾਂ ਦਾ ਵਿਰੋਧ ਕੀਤਾ ਸੀ, ਨੂੰ ਇਸ ਦੀ ਸਮਰੱਥਾ ਅਤੇ energyਰਜਾ ਨੂੰ ਰਾਸ਼ਟਰੀਕਰਨ ਵਾਲੇ ਚੈਨਲ 'ਤੇ ਪਹੁੰਚਾਉਣ ਲਈ ਸਖਤ ਮਿਹਨਤ ਕਰਨ ਦੀ ਲੋੜ ਸੀ ਜੋ ਭਾਰਤ ਦੇ ਨਿਰਮਾਣ ਵਿਚ ਸਹਾਇਤਾ ਕਰੇਗੀ। ਇੱਕ ਸੱਚਮੁੱਚ ਲੋਕਤੰਤਰੀ ਰਾਸ਼ਟਰ ਜਿੱਥੇ ਹਰ ਨਾਗਰਿਕ ਦੀ ਮਹੱਤਤਾ ਹੁੰਦੀ ਹੈ.</p>
            <p>ਨਹਿਰੂ ਦੀ ਪਹਿਲੀ ਵਚਨਬੱਧਤਾ ਭਾਰਤ ਨੂੰ ਸਵੈ-ਨਿਰਭਰ ਆਰਥਿਕ ਬਣਾਉਣਾ ਸੀ। ਨਤੀਜੇ ਵਜੋਂ, ਉਸਨੇ ਆਧੁਨਿਕ ਸਿਖਲਾਈ ਅਤੇ ਵਿਸ਼ਾਲ ਜਨਤਕ ਖੇਤਰ ਦੇ ਉਦਯੋਗਾਂ ਦੀ ਸਥਾਪਨਾ ਕੀਤੀ ਜੋ ਇੱਕ ਵਧ ਰਹੀ ਰਾਸ਼ਟਰ ਅਤੇ ਇਸਦੇ ਲੋਕਾਂ ਦੀਆਂ ਜਰੂਰਤਾਂ ਦੀ ਪੂਰਤੀ ਕਰਦੇ ਹਨ. ਵਿਗਿਆਨਕ ਗੁੱਸਾ ਪੈਦਾ ਕਰਨ ਲਈ ਉਸਦੇ ਯਤਨਾਂ ਨੂੰ ਸਿਖਲਾਈ ਦੇ ਉੱਚ ਕੇਂਦਰ ਸਥਾਪਤ ਕਰਨ ਦੇ ਜੋਸ਼ ਤੋਂ ਦੇਖਿਆ ਜਾ ਸਕਦਾ ਹੈ.</p>
            <p>ਬਹੁਤ ਸਾਰੇ ਭਾਰਤੀਆਂ ਦਾ ਮੰਨਣਾ ਹੈ ਕਿ ਭਾਰਤ ਨੂੰ ਇਕ ਜੀਵੰਤ ਲੋਕਤੰਤਰ, ਇਕ ਉਦਯੋਗਿਕ ਪਾਵਰ ਹਾ ;ਸ, ਇਕ ਗਿਆਨ ਸਾਥੀ, ਵਿਸ਼ਵਵਿਆਪੀ ਤੌਰ 'ਤੇ ਸਨਮਾਨਿਤ ਮਿਲਟਰੀ ਤਾਕਤ ਅਤੇ ਇਕ ਟੈਕਨਾਲੌਜੀ ਅਤੇ ਪੁਲਾੜ ਅਵਿਸ਼ਕਾਰ ਹੋਣ ਦਾ ਸਿਹਰਾ ਨਹਿਰੂ ਨੂੰ ਜਾਣਾ ਚਾਹੀਦਾ ਹੈ; ਕਿ ਉਸਨੇ ਇਕ ਮਜ਼ਬੂਤ ​​ਨੀਂਹ ਰੱਖੀ ਸੀ ਜਿਸ ਤੇ ਸੰਸਥਾਵਾਂ ਨੇ ਆਪਣੇ ਆਪ ਨੂੰ ਮਜ਼ਬੂਤ ​​ਅਤੇ ਕੇਂਦ੍ਰਤ ਟੀਚਿਆਂ ਨਾਲ ਬਣਾਇਆ.</p>
            <p>ਨਹਿਰੂ ਨੂੰ ਚੰਗੀ ਤਰ੍ਹਾਂ ਸਮਝਣ ਲਈ, ਆਪਣਾ ਦੂਜਾ ਪੱਖ ਵੇਖਣ ਦੀ ਜ਼ਰੂਰਤ ਹੈ, ਜਿਥੇ ਉਹ ਬੱਚਿਆਂ ਜਾਂ 'ਭਵਿੱਖ ਦੇ ਨਾਗਰਿਕਾਂ' ਨੂੰ ਪ੍ਰੇਰਿਤ ਕਰਦੇ ਹਨ ਜਿਵੇਂ ਉਸਨੇ ਉਨ੍ਹਾਂ ਨੂੰ ਬੁਲਾਇਆ ਸੀ. ਬੱਚਿਆਂ ਦੁਆਰਾ ਚਾਚਾ (ਚਾਚੇ) ਨਹਿਰੂ ਵਜੋਂ ਸ਼ਲਾਘਾ ਕੀਤੀ ਗਈ, 14 ਨਵੰਬਰ ਨੂੰ ਉਸ ਦਾ ਜਨਮਦਿਨ ਬਾਲ ਦਿਵਸ ਵਜੋਂ ਮਨਾਇਆ ਜਾਂਦਾ ਹੈ.</p>
            <p>ਪਿੱਛੇ ਮੁੜ ਕੇ, ਅਸੀਂ ਵੇਖ ਸਕਦੇ ਹਾਂ ਕਿ ਨਹਿਰੂ ਇਕ ਅਜਿਹੇ ਮੋੜ 'ਤੇ ਸਨ ਜਿੱਥੇ ਉਨ੍ਹਾਂ ਨੇ ਬਹੁਤ ਸਾਰੇ ਲੋਕਾਂ ਨਾਲ ਲੜਿਆ ਜਿਨ੍ਹਾਂ ਨੇ ਉਨ੍ਹਾਂ ਨੂੰ ਵਿਦਿਆ ਦਾ ਅਧਿਕਾਰ ਦਿੱਤਾ ਸੀ. ਉਸਦੀ ਸਹੀ ਅਤੇ ਗ਼ਲਤ ਪ੍ਰਤੀ ਸੰਪੂਰਨ ਭਾਵਨਾ ਅਤੇ ਪੱਛਮੀ ਸਿੱਖਿਆ ਦੇ ਬਾਵਜੂਦ ਉਸਦੀ ਭਾਰਤੀ ਪਰਵਰਿਸ਼, ਨੇ ਉਸ ਨੂੰ ਆਜ਼ਾਦੀ ਸੰਗਰਾਮ ਵਿਚ ਕਾਂਗਰਸ ਪਾਰਟੀ ਵਿਚ ਸ਼ਾਮਲ ਹੋਣ ਅਤੇ ਉੱਠਣ ਦਾ ਮੌਕਾ ਦਿੱਤਾ। ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਬਣਨ ਤੋਂ ਬਾਅਦ, ਉਸਨੇ ਬਿਨਾਂ ਕਿਸੇ ਡਰ ਜਾਂ ਪੱਖ ਦੇ, ਮਹਾਂ ਸ਼ਕਤੀਆਂ, ਅਮਰੀਕਾ ਅਤੇ ਸੋਵੀਅਤ ਯੂਨੀਅਨ ਤੋਂ ਬਰਾਬਰ ਦੂਰੀ ਬਣਾਈ ਰੱਖੀ, ਜਿਵੇਂ ਕਿ ਉਸਨੇ ਪੰਚਸ਼ੀਲ ਦੀ ਨੀਤੀ ਦੇ ਅਧਾਰ ਤੇ ਦੇਸ਼ ਲਈ ਗੈਰ-ਗਠਜੋੜ ਦਾ ਕੋਰਸ ਬਣਾਇਆ ਸੀ।</p>
            <p>ਦਿਲ ਦਾ ਸਮਾਜਵਾਦੀ, ਉਸਨੇ ਚੀਨ ਅਤੇ ਭਾਰਤ ਦਰਮਿਆਨ ਪੰਚਸ਼ੀਲ ਸਮਝੌਤੇ 'ਤੇ ਦਸਤਖਤ ਕੀਤੇ ਜੋ ਇਨ੍ਹਾਂ ਦੋਵਾਂ ਸਰਬਸ਼ਕਤੀਮਾਨ ਰਾਸ਼ਟਰਾਂ ਦੇ ਆਪਸੀ ਸਬੰਧਾਂ ਦੇ ਪੰਜ ਮਾਰਗ-ਨਿਰਦੇਸ਼ਕ ਸਿਧਾਂਤਾਂ ਵਜੋਂ ਕੰਮ ਕਰਦਾ ਸੀ। ਕੋਈ ਹੈਰਾਨੀ ਦੀ ਗੱਲ ਨਹੀਂ, ਜਦੋਂ ਉਸਨੇ ‘ਹਿੰਦੀ-ਚਿਨੀ ਭਾਈ-ਭਾਈ’ ਬਾਰੇ ਗੱਲ ਕੀਤੀ, ਉਦੋਂ ਵੀ ਚੀਨੀ ਲੋਕਾਂ ਨੇ ਭਾਰਤ ‘ਤੇ ਹਮਲਾ ਕਰਦਿਆਂ ਉਸ ਨੂੰ ਧੋਖਾ ਦਿੱਤਾ। ਇੱਕ ਘੱਟ ਤਿਆਰ ਭਾਰਤੀ ਫੌਜ ਨੇ ਚੀਨੀ ਸੈਨਿਕਾਂ ਦੀਆਂ ਲਹਿਰਾਂ ਨੂੰ ਫੜ ਲਿਆ, ਬਹਾਦਰੀ ਨਾਲ ਲੜਿਆ ਅਤੇ ਭਾਰੀ ਕੀਮਤ ਅਦਾ ਕੀਤੀ.</p>
            <p>ਨਹਿਰੂ ਦੁਆਰਾ ਇਸ ਦੇ ਦੁਖੀ ਜਨਮ ਅਤੇ ਬਚਪਨ ਦੌਰਾਨ ਭਾਰਤ ਦੇ ਲੋਕਤੰਤਰ ਦੀ ਸੂਝ-ਬੂਝ ਪਾਲਣ ਪੋਸ਼ਣ ਦਾ ਪਤਾ ਚਲਦਾ ਹੈ. ਵਿਦਵਾਨ ਮੰਨਦੇ ਹਨ ਕਿ ਆਮਦਨੀ ਦੇ ਹੇਠਲੇ ਪੱਧਰਾਂ 'ਤੇ ਲੋਕਤੰਤਰ ਸਥਾਪਤ ਨਹੀਂ ਕੀਤੇ ਜਾ ਸਕਦੇ. ਇਸ ਤਰ੍ਹਾਂ, ਭਾਰਤ ਦੀ ਲੋਕਤੰਤਰੀ ਲੰਬੀ ਉਮਰ ਵਿਲੱਖਣ ਹੈ. ਇਹ ਸ਼ਾਇਦ ਦੇਸ਼ ਦੇ ਲੋਕ-ਬਸਤੀ ਵਿਰੋਧੀ ਅੰਦੋਲਨ ਦੇ ਕਾਰਨ ਹੈ. ਇਸ ਤੋਂ ਵੀ ਮਹੱਤਵਪੂਰਣ ਗੱਲ ਇਹ ਹੈ ਕਿ ਨਹਿਰੂ ਭਾਵੇਂ ਕਿ ਸ਼ਕਤੀਸ਼ਾਲੀ ਸਨ, ਆਜ਼ਾਦੀ ਤੋਂ ਪਹਿਲਾਂ ਦੇ ਜਾਇਜ਼ਤਾ ਤੋਂ ਭੜਕੀ ਨਹੀਂ ਸਨ। ਦਰਅਸਲ, ਉਸਨੇ ਇਸਨੂੰ ਆਖਰੀ ਜੜ ਤੱਕ ਮਜ਼ਬੂਤ ​​ਕੀਤਾ ਅਤੇ ਸੰਮਲਿਤ ਵਿਕਾਸ ਲਈ ਏਜੰਡਾ ਤੈਅ ਕੀਤਾ. ਨਹਿਰੂ ਨੇ ਇਸ ਨੂੰ ਸਮਝਿਆ ਅਤੇ ਅਭਿਆਸ ਕੀਤਾ.</p>
            <p>ਸਤਾਰਾਂ ਸਾਲਾਂ ਦੌਰਾਨ ਜਦੋਂ ਉਹ ਪ੍ਰਧਾਨਮੰਤਰੀ ਸਨ, ਨਹਿਰੂ ਨੇ ਭਾਰਤੀ ਰਾਜਨੀਤਿਕ ਪੜਾਅ ਨੂੰ ਇੱਕ ਵੱਡੀ ਪੱਧਰ ਵਾਂਗ ਪ੍ਰਭਾਵਿਤ ਕੀਤਾ। ਪਰ ਉਸਨੇ ਕਦੇ ਵੀ ਆਪਣੀ ਰਾਜਨੀਤਿਕ ਇੱਛਾ ਸ਼ਕਤੀ ਨਹੀਂ ਲਗਾਈ ਅਤੇ ਹਮੇਸ਼ਾ ਦੂਜਿਆਂ ਦੇ ਕਹਿਣ ਦੇ ਲਈ ਇੱਕ ਕੰਨ ਲਿਆ. ਭਾਸ਼ਾਈ ਰਾਜਾਂ ਦੇ ਪੱਖ ਵਿੱਚ ਨਹੀਂ, ਪਰ ਉਹ ਲੋਕਪ੍ਰਿਅ ਇੱਛਾਵਾਂ ਦੀ ਪਾਲਣਾ ਕਰਦਾ ਸੀ। ਉਸਨੇ ਮੁੱਖ ਮੰਤਰੀ ਨਹੀਂ ਚੁਣੇ, ਪਰ ਸੂਬਾ ਪੱਧਰੀ ਪਾਰਟੀ ਸੰਗਠਨ ਨੂੰ ਆਪਣੇ ਨੇਤਾ ਚੁਣਨ ਦੀ ਆਗਿਆ ਦਿੱਤੀ। ਜਦੋਂ ਅਦਾਲਤਾਂ ਨੇ ਉਸ ਦੇ ਜ਼ਮੀਨੀ ਸੁਧਾਰ ਪ੍ਰੋਗਰਾਮਾਂ ਨੂੰ ਚੁਣੌਤੀ ਦਿੱਤੀ, ਜੱਜਾਂ ਦੀ ਆਲੋਚਨਾ ਕਰਨ ਦੀ ਬਜਾਏ, ਉਸਨੇ ਸੰਵਿਧਾਨਕ ਸੋਧਾਂ ਕਰਨ ਦੀ ਚੋਣ ਕੀਤੀ। ਇੱਕ ਉਦਾਰਵਾਦੀ ਅਤੇ ਦਿਲ ਦੇ ਸੱਚੇ ਲੋਕਤੰਤਰੀ, ਨਹਿਰੂ ਇੱਕ ਸਿਹਤਮੰਦ ਰਾਜਨੀਤਿਕ ਬਹਿਸ ਚਾਹੁੰਦੇ ਸਨ.</p>
            <p>ਸੰਨ 1952 ਵਿਚ, ਆਜ਼ਾਦ ਭਾਰਤ ਦੀਆਂ ਪਹਿਲੀਆਂ ਆਮ ਚੋਣਾਂ ਦੌਰਾਨ ਤਕਰੀਬਨ 175 ਮਿਲੀਅਨ ਨੇ ਵੋਟ ਪਾਈ। ਜਿਵੇਂ ਕਿ ਤਿੰਨ-ਚੌਥਾਈ ਨਾਗਰਿਕ ਅਨਪੜ੍ਹ ਸਨ, ਉਮੀਦਵਾਰਾਂ ਨੂੰ ਸਾਈਕਲ, ਲੈਂਟਰ, ਲੈਂਪ, ਜਾਨਵਰ, ਫੁੱਲ ਅਤੇ ਹਰ ਰੋਜ ਵਰਤੋਂ ਦੇ ਪ੍ਰਤੀਕ ਦਿੱਤੇ ਗਏ ਸਨ. ਇਹ ਛੇ ਮਹੀਨਿਆਂ ਦੀ ਪ੍ਰਕਿਰਿਆ ਸੀ ਜਿੱਥੇ ਚੋਣ ਕੰਮ ਲਈ ਭੇਜੇ ਗਏ .ਠਾਂ ਤੇ ਚੜ੍ਹੇ, ਕਿਸ਼ਤੀਆਂ ਲੈ ਕੇ ਗਏ ਅਤੇ ਦੂਰ-ਦੁਰਾਡੇ ਕੋਨੇ ਤੱਕ ਯਾਤਰਾ ਵੀ ਕੀਤੀ. 1957 ਅਤੇ 1962 ਦੀਆਂ ਆਮ ਚੋਣਾਂ ਨੇ ਭਾਰਤੀ ਚੇਤਨਾ 'ਤੇ ਚੋਣ ਪ੍ਰਕਿਰਿਆ ਦੀ ਜਾਇਜ਼ਤਾ ਨੂੰ ਡੂੰਘਾ ਕੀਤਾ.</p>
            <p>ਨਹਿਰੂ ਦੇ ਪ੍ਰਮੁੱਖ ਜੀਵਨੀ ਲੇਖਕ ਸਰਵਪੱਲੀ ਗੋਪਾਲ ਯਾਦ ਕਰਾਉਂਦੇ ਹਨ ਕਿ ਲੋਕਤੰਤਰ ਤਿਆਰ ਕਰਨਾ ਸਖਤ ਮਿਹਨਤ ਕਰਦਾ ਸੀ: “ਆਪਣੇ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਦੇ ਕਾਰਜਕਾਲ ਦੌਰਾਨ, ਹਰ ਦਿਨ ਤਕਰੀਬਨ 2 ਹਜ਼ਾਰ ਪੱਤਰ ਪ੍ਰਾਪਤ ਹੁੰਦੇ ਸਨ ... ਨਹਿਰੂ ਹਰ ਰਾਤ ਚਾਰ ਤੋਂ ਪੰਜ ਘੰਟੇ ਜਵਾਬਾਂ ਵਿੱਚ ਬਿਤਾਉਂਦੇ ਸਨ। ਅਤੇ "ਉਹ ਸਾਲ ਸਨ ਜਦੋਂ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ... ਵੀਹ ਘੰਟਿਆਂ ਦੇ ਦਿਨਾਂ ਵਿੱਚ ਬੜੇ ਮੁਸ਼ਕਿਲ ਨਾਲ ਨਾਸ਼ਤੇ ਦੇ ਨਾਲ ਪ੍ਰਾਈਵੇਟ ਭੋਜਨ ਦੇ ਤੌਰ 'ਤੇ ਰੱਖ ਰਹੇ ਸਨ." ਅਜਿਹੀ ਵਚਨਬੱਧਤਾ ਸੀ.</p>
            <p>ਅੱਜ, ਨਾਗਰਿਕ ਖੁਸ਼ਖਬਰੀ ਨਾਲ ਭਾਰਤੀ ਲੋਕਤੰਤਰੀ ਦੀਆਂ ਵੱਖੋ ਵੱਖਰੀਆਂ ਕਮਜ਼ੋਰੀਆਂ ਵੱਲ ਇਸ਼ਾਰਾ ਕਰਦੇ ਹਨ, ਪਰ ਲੋਕਤੰਤਰ ਅਤੇ ਅਜ਼ਾਦੀ ਦਾ ਜੋ ਅਸੀਂ ਇਕ ਪ੍ਰਭੂਸੱਤਾ ਲੋਕਤੰਤਰੀ ਗਣਤੰਤਰ ਵਜੋਂ ਮਾਣਦੇ ਹਾਂ, ਅਜਿਹੀਆਂ ਸੰਸਥਾਵਾਂ ਪ੍ਰਤੀ ਨਹਿਰੂ ਦੀ ਅਟੱਲ ਵਚਨਬੱਧਤਾ ਦੇ ਬਗੈਰ ਸੰਭਵ ਨਹੀਂ ਸੀ। ਇਹ ਸਦਾ ਦੀ ਵਿਰਾਸਤ ਹੈ. ਨਹੀਂ ਤਾਂ, ਸੱਤਾ ਨੇ ਲੋਕਾਂ ਦੇ ਸਾਰੇ ਵਰਗਾਂ ਨੂੰ ਛੂਹਿਆ ਨਹੀਂ ਹੁੰਦਾ ਅਤੇ ਸਾਡੇ ਲਈ ਵਿਆਪਕ-ਅਧਾਰਤ ਲੋਕਤੰਤਰ ਬਣਾ ਦਿੱਤਾ ਹੁੰਦਾ.</p>
            <p>ਨਹਿਰੂ ਦਾ ਸਭ ਤੋਂ ਵੱਡਾ ਯੋਗਦਾਨ ਭਾਰਤ ਨੂੰ 18 ਵੀਂ ਸਦੀ ਤੋਂ 21 ਵੀਂ ਸਦੀ ਤੱਕ ਲਿਜਾਣ ਲਈ ਇਕ ਦਰਸ਼ਣ ਦੀ ਸਪਸ਼ਟ ਸਥਾਪਨਾ ਸੀ। ਇਸ ਨੇ ਸਾਮਰਾਜੀਆਂ ਦੁਆਰਾ ਭਾਰਤ ਉੱਤੇ ਲਿਆਂਦੀ ਗਰੀਬੀ ਦੀ ਗੱਲ ਕੀਤੀ। ਇਸ ਲਈ ਲੀਡਰਸ਼ਿਪ ਦੇ ਗੱਡੇ ਨੂੰ ਵਿਰਸੇ ਵਿਚ ਮਿਲਣ ਵਾਲੇ ਨੇਤਾਵਾਂ ਨੂੰ ਸਦੀਆਂ ਦੀ ਅਣਦੇਖੀ ਦਾ ਸਾਹਮਣਾ ਕਰਨਾ ਪਿਆ. ਪਰ, ਉਨ੍ਹਾਂ ਦੀ ਅਗਵਾਈ ਵਿਚ ਸਹਾਇਤਾ ਇਕ ਦਰਸ਼ਣ ਸੀ. ਉਦਾਹਰਣ ਦੇ ਲਈ, ਜਦੋਂ ਨਹਿਰੂ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਦੇ ਰੂਪ ਵਿੱਚ ਆਪਣੀ ਪਹਿਲੀ ਅਮਰੀਕਾ ਯਾਤਰਾ ਕਰ ਰਹੇ ਸਨ, ਉਨ੍ਹਾਂ ਦੇ ਮੰਤਰੀ ਮੰਡਲ ਦੇ ਕੁਝ ਮੈਂਬਰਾਂ ਨੇ ਸੁਝਾਅ ਦਿੱਤਾ ਕਿ ਉਹ ਉਸ ਦੇਸ਼ ਨੂੰ ਘਰ ਵਿੱਚ ਕਮੀ ਨਾਲ ਨਜਿੱਠਣ ਲਈ ਭੋਜਨ ਮੰਗਣ।</p>
            <p>ਉਸਨੇ ਇਨਕਾਰ ਕਰ ਦਿੱਤਾ: “ਮੈਂ ਭੀਖ ਮੰਗਣ ਵਾਲੇ ਕਟੋਰੇ ਨਾਲ ਅਮਰੀਕਾ ਦੀ ਪਹਿਲੀ ਯਾਤਰਾ ਨਹੀਂ ਕਰ ਰਿਹਾ. ਸਾਨੂੰ ਇਸ ਸਮੱਸਿਆ ਨੂੰ ਆਪਣੇ ਆਪ ਹੱਲ ਕਰਨਾ ਪਏਗਾ। ”</p>
            <p>ਸਤਲੁਜ 'ਤੇ ਭਾਖੜਾ-ਨੰਗਲ ਬਹੁਮੰਤਵੀ ਦਰਿਆ ਘਾਟੀ ਪ੍ਰਾਜੈਕਟ, ਭਾਰਤ ਦਾ ਪਹਿਲਾ ਅਤੇ ਵਿਸ਼ਵ ਦਾ ਸਭ ਤੋਂ ਵੱਡਾ ਡੈਮ 1954 ਵਿਚ ਹਰੀ ਝੰਡੀ ਦੇ ਕੇ ਰਵਾਨਾ ਕੀਤਾ ਗਿਆ ਸੀ। ਨਹਿਰੂ ਨੇ ਇਸ ਪ੍ਰਾਜੈਕਟ ਦਾ ਉਦਘਾਟਨ ਕਰਦਿਆਂ ਇਸ ਨੂੰ ਭਾਰਤ ਦੇ ਆਧੁਨਿਕ ਅਸਥਾਨਾਂ ਦਾ "ਸਭ ਤੋਂ ਵੱਡਾ ਅਤੇ ਪਵਿੱਤਰ" ਦੱਸਿਆ।</p>
            <p>ਨਹਿਰੂ ਅਤੇ ਉਸਦੇ ਸਮਕਾਲੀ ਲੋਕਾਂ ਦਾ ਮੰਨਣਾ ਸੀ ਕਿ ਸਿਰਫ ਵੱਡੇ ਪੱਧਰ 'ਤੇ ਉਦਯੋਗੀਕਰਨ ਹੀ ਅਰਥ ਵਿਵਸਥਾ ਨੂੰ ਬਦਲ ਸਕਦਾ ਹੈ ਅਤੇ ਵਿਸ਼ਵ ਪੱਧਰੀ' ਤੇ ਭਾਰਤ ਨੂੰ ਇਕ ਖਿਡਾਰੀ ਬਣਨ ਦੇ ਨਾਲ ਨਾਲ ਆਪਣੇ ਨਾਗਰਿਕਾਂ ਦੀ ਸਹਾਇਤਾ ਕਰ ਸਕਦਾ ਹੈ।</p>
            <p>ਨਵੀਂ ਦਿੱਲੀ ਵਿਚ 1951 ਦੇ ਕਾਂਗਰਸ ਸੈਸ਼ਨ ਵਿਚ ਆਪਣੇ ਰਾਸ਼ਟਰਪਤੀ ਭਾਸ਼ਣ ਵਿਚ, ਉਸਨੇ ਆਪਣਾ ਦਿ੍ਸ਼ਟੀਕਰਨ ਸਪਸ਼ਟ ਕੀਤਾ:</p>
            <p>"ਭਵਿੱਖ ਦੇ ਨਿਰਮਾਣ ਦਾ ਇਕੋ ਇਕ eachੰਗ ਹੈ ਕਿ ਹਰ ਸਾਲ ਕੁਝ ਰੱਖੋ ਜਾਂ ਬਚਾਓ, ਅਤੇ ਇਸ ਬਚਤ ਨੂੰ ਕਿਸੇ ਕਿਸਮ ਦੀ ਤਰੱਕੀ ਲਈ ਵਰਤੋ. ਇਹ ਖੇਤੀਬਾੜੀ, ਵਧੇਰੇ ਦਰਿਆ ਘਾਟੀ ਪ੍ਰਾਜੈਕਟ, ਵਧੇਰੇ ਫੈਕਟਰੀਆਂ, ਵਧੇਰੇ ਮਕਾਨ, ਵਧੇਰੇ ਵਿਦਿਆ ਜਾਂ ਬਿਹਤਰ ਹੋ ਸਕਦਾ ਹੈ. ਸਿਹਤ ਸੇਵਾਵਾਂ: ਸਾਡੇ ਸਰੋਤ ਸੀਮਤ ਹਨ ਅਤੇ ਸਭ ਤੋਂ ਵੱਧ ਜੋ ਅਸੀਂ ਬਚਾਉਣ ਦੀ ਉਮੀਦ ਕਰ ਸਕਦੇ ਹਾਂ ਯੋਜਨਾ ਵਿੱਚ ਸੰਕੇਤ ਦਿੱਤਾ ਗਿਆ ਹੈ. ਸਰੋਤਾਂ ਦੀ ਇਸ ਸੀਮਾ ਦੇ ਕਾਰਨ, ਸਾਨੂੰ ਹਰ ਪੜਾਅ 'ਤੇ ਸਖ਼ਤ ਚੋਣ ਕਰਨੀ ਪਵੇਗੀ ਅਤੇ ਤਰਜੀਹਾਂ ਮਹੱਤਵਪੂਰਨ ਬਣ ਗਈਆਂ ਹਨ.</p>
            <p>ਸਾਨੂੰ ਕਈ ਵਾਰ ਦਰਿਆ ਘਾਟੀ ਯੋਜਨਾ ਅਤੇ ਵਧੇਰੇ ਰਿਹਾਇਸ਼ੀ ਜਾਂ ਵਧੇਰੇ ਸਕੂਲ ਵਿਚਕਾਰ ਚੋਣ ਕਰਨੀ ਪੈਂਦੀ ਹੈ. ਬਦਕਿਸਮਤੀ ਨਾਲ ਸਾਡੇ ਕੋਲ ਉਹ ਸਭ ਕੁਝ ਨਹੀਂ ਹੋ ਸਕਦਾ ਜੋ ਅਸੀਂ ਉਸੇ ਸਮੇਂ ਚਾਹੁੰਦੇ ਹਾਂ. ਯੋਜਨਾ ਤਰਜੀਹਾਂ ਦੇ ਇੱਕ ਸਮੂਹ ਦੀ ਸਿਫਾਰਸ਼ ਕਰਦੀ ਹੈ. ਇਹ ਭਿੰਨ ਹੋ ਸਕਦਾ ਹੈ, ਪਰ ਅਸੀਂ ਆਪਣੇ ਸਰੋਤਾਂ ਅਤੇ ਸਮਾਜਿਕ ਅਤੇ ਰਾਜਨੀਤਿਕ ਹਾਲਤਾਂ ਅਤੇ ਸੰਵਿਧਾਨ ਦੁਆਰਾ ਨਿਰਧਾਰਤ ਸੀਮਾਵਾਂ ਤੋਂ ਬਾਹਰ ਨਹੀਂ ਜਾ ਸਕਦੇ। ”</p>
            <p>ਨਹਿਰੂ ਨੇ ਭਾਰਤੀ ਰਾਜਨੀਤੀ ਵਿਚ ਬੁਨਿਆਦੀ ਕਦਰਾਂ ਕੀਮਤਾਂ ਦੀ ਡੂੰਘੀ ਜੜ੍ਹਾਂ ਨੂੰ ਸੁਨਿਸ਼ਚਿਤ ਕਰਨ ਵਿਚ ਸਹਾਇਤਾ ਕੀਤੀ, ਅਤੇ ਉਨ੍ਹਾਂ ਤਰੀਕਿਆਂ ਨੂੰ ਅਮਲ ਵਿਚ ਲਿਆਉਣ ਦੀ ਕੋਸ਼ਿਸ਼ ਕੀਤੀ ਜਿਸ ਨਾਲ ਇਨ੍ਹਾਂ ਨੂੰ ਪ੍ਰਗਟ ਕੀਤਾ ਜਾ ਸਕਦਾ ਹੈ. ਉਸਦਾ ਸਭ ਤੋਂ ਸਕਾਰਾਤਮਕ ਪ੍ਰਭਾਵ ਅਤੇ ਉਹ ਜੋ ਸਭਨਾਂ ਦੀ ਕਦਰ ਕਰਦਾ ਸੀ, ਉਹ ਸੀ ਇਕ ਬਹੁਵਚਨ, ਖੁੱਲੀ ਅਤੇ ਲੋਕਤੰਤਰੀ ਰਾਜਨੀਤੀ ਦੀ ਉਸਾਰੀ ਦਾ ਯਤਨ, ਜੋ ਸਾਰੇ ਨਾਗਰਿਕਾਂ ਦੇ ਜੀਵਨ ਵਿੱਚ ਤਬਦੀਲੀ ਲਿਆਉਣ ਲਈ ਕੰਮ ਕਰ ਰਿਹਾ ਸੀ. ਉਹ ਭਾਰਤ ਨੂੰ ਇਕ ਸੰਯੁਕਤ ਰਾਸ਼ਟਰ ਵਜੋਂ, ਅਤੇ ਜਮਹੂਰੀ ਪ੍ਰਕਿਰਿਆਵਾਂ ਅਤੇ ਸਹਿਮਤੀ ਨਾਲ ਸਮਾਜਿਕ-ਆਰਥਿਕ ਤਬਦੀਲੀ ਲਿਆਉਣ ਦੀ ਕੋਸ਼ਿਸ਼ ਦੇ ਜ਼ਬਰਦਸਤ ਤਜ਼ਰਬੇ ਦੀ ਗੱਲ ਕਰਦਾ ਸੀ, ਇਸਦੇ ਵਿਪਰੀਤ ਰਾਜ ਦੇ ਨਿਰਦੇਸ਼ਤ ਇਨਕਲਾਬ ਦੇ ਵਿਪਰੀਤ ਹਿੰਸਾ ਦੇ ਜੋਖਮ ਦੇ ਨਾਲ.</p>
            <p>ਨਹਿਰੂ ਨੂੰ ਸੁਤੰਤਰ ਭਾਰਤ ਦੀ ਸਭ ਤੋਂ ਮੁਸ਼ਕਲ ਸਥਿਤੀ ਦਾ ਸਾਹਮਣਾ ਕਰਨਾ ਪਿਆ, ਕਿਉਂਕਿ ਉਸ ਨੂੰ ਤੁਰੰਤ ਹੀ ਵੰਡ ਦੀ ਅੱਗ ਨੂੰ ਰੋਕਣਾ ਪਿਆ। ਨਹਿਰੂ ਨੇ ਆਪਣੇ ਗ੍ਰਹਿ ਮੰਤਰੀ ਨੂੰ ਕਿਹਾ ਕਿ ਇਸ ਨੂੰ ਰੱਦ ਕਰਨਾ ਪਵੇਗਾ:</p>
            <p>“ਭਾਰਤ ਲਈ, ਜੇ ਇਹ ਕੁਝ ਵੀ ਸੀ, ਜ਼ੋਰਦਾਰ wasੰਗ ਨਾਲ ਪਾਕਿਸਤਾਨ ਨਹੀਂ ਸੀ। ਉਥੇ ਉਹ ਆਪਣੀਆਂ ਘੱਟ ਗਿਣਤੀਆਂ ਨਾਲ ਬੁਰਾ ਸਲੂਕ ਕਰ ਸਕਦੇ ਹਨ ਜਾਂ ਸਤਾ ਸਕਦੇ ਹਨ; ਇੱਥੇ, ਅਸੀਂ ਆਪਣੀ ਰੱਖਿਆ ਅਤੇ ਸਤਿਕਾਰ ਕਰਾਂਗੇ. ਭਾਰਤ ਦੇ ਮੁਸਲਮਾਨਾਂ ਨੂੰ ਬਦਲਾ ਲੈਣ ਅਤੇ ਬਦਸਲੂਕੀ ਦੀ ਸਜ਼ਾ ਦੇਣ ਲਈ ਨਿਰੰਤਰ ਦੁਹਾਈ ਦਿੱਤੀ ਜਾ ਰਹੀ ਸੀ, ਕਿਉਂਕਿ ਪਾਕਿਸਤਾਨੀ ਹਿੰਦੂਆਂ ਨੂੰ ਸਜ਼ਾ ਦਿੰਦੇ ਹਨ। ਇਹ ਦਲੀਲ ਮੈਨੂੰ ਮਾਮੂਲੀ ਜਿਹੀ ਵਿਚ ਨਹੀਂ ਆਉਂਦੀ. ”</p>
            <p>ਭਾਰਤ ਲਈ ਪਾਕਿਸਤਾਨ ਦਾ ਪ੍ਰਤੀਬਿੰਬ ਨਹੀਂ ਸੀ, ਇਕ ਹਿੰਦੂ ਰਾਜ ਇਸਲਾਮਿਕ ਰਾਜ ਦਾ। ਨਹਿਰੂ ਨੇ ਪਟੇਲ ਨੂੰ ਜ਼ੋਰ ਦੇ ਕੇ ਕਿਹਾ, "ਸਾਡੇ ਧਰਮ ਨਿਰਪੱਖ ਆਦਰਸ਼ਾਂ ਨੇ ਭਾਰਤ ਵਿਚ ਸਾਡੇ ਮੁਸਲਮਾਨ ਨਾਗਰਿਕਾਂ ਲਈ ਜ਼ਿੰਮੇਵਾਰੀ ਲਗਾਈ ਹੈ।"</p>
            <p>ਇੱਥੇ ਕਹਾਣੀ ਹੈ ਕਿ ਕਿਵੇਂ 1947 ਦੇ ਦੰਗਿਆਂ ਦੌਰਾਨ, ਉਹ ਆਪਣੀ ਰਾਜਦੂਤ ਦੀ ਕਾਰ ਵਿੱਚ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਵਜੋਂ ਯਾਤਰਾ ਕਰ ਰਿਹਾ ਸੀ ਅਤੇ ਉਸਨੇ ਅਚਾਨਕ ਚਾਂਦਨੀ ਚੌਕ ਵਿੱਚ ਇੱਕ ਮੁਸਲਮਾਨ ਦਰਜ਼ੀ ਉੱਤੇ ਹਮਲਾ ਕੀਤਾ ਵੇਖਿਆ। ਉਸਨੇ ਡਰਾਈਵਰ ਨੂੰ ਕਾਰ ਰੋਕਣ ਲਈ ਕਿਹਾ ਅਤੇ ਉਸ ਆਦਮੀ ਨੂੰ ਬਚਾਉਣ ਲਈ ਕਾਰ ਵਿੱਚੋਂ ਪੈਸੇ ਕੱ. ਲਏ।</p>
            <p>ਉਸ ਨੇ ਵੰਡ ਕਾਰਨ ਆਪਣੀ ਰਸੋਈ ਵਿਚੋਂ ਮੁਸਲਿਮ ਪਕਵਾਨਾਂ ਨੂੰ ਬਦਲਣ ਦੀ ਬੇਨਤੀ ਤੋਂ ਵੀ ਇਨਕਾਰ ਕਰ ਦਿੱਤਾ ਸੀ।</p>
            <p>ਉਸਨੇ ਸਿਰਫ ਧਰਮ ਨਿਰਪੱਖਤਾ ਦਾ ਪ੍ਰਚਾਰ ਨਹੀਂ ਕੀਤਾ, ਬਲਕਿ ਇਸਦਾ ਅਭਿਆਸ ਕੀਤਾ. ਪੰਡਿਤ ਨਹਿਰੂ ਨੇ ਨਾ ਸਿਰਫ ਹਰੇਕ ਨਾਗਰਿਕ ਵਿੱਚ ਲੋਕਤੰਤਰੀ ਅਤੇ ਧਰਮ ਨਿਰਪੱਖ ਕਦਰਾਂ ਕੀਮਤਾਂ ਨੂੰ ਸਮਰਪਿਤ ਕੀਤਾ, ਬਲਕਿ ਇੱਕ ਨੌਜਵਾਨ ਅਤੇ ਸੁਤੰਤਰ ਭਾਰਤ ਨੂੰ ਸਵੈ-ਵਿਸ਼ਵਾਸ ਅਤੇ ਸਵੈ-ਨਿਰਭਰ ਹੋਣਾ ਸਿਖਾਇਆ। ਜੇ ਮਹਾਤਮਾ ਗਾਂਧੀ ਰਾਸ਼ਟਰ ਪਿਤਾ ਹਨ, ਡਾ: ਬੀ.ਆਰ. ਅੰਬੇਦਕਰ, ਸੰਵਿਧਾਨ ਦੇ ਪਿਤਾ, ਫਿਰ ਨਹਿਰੂ ਨੂੰ ਸਹੀ ,ੰਗ ਨਾਲ ਕਿਹਾ ਜਾ ਸਕਦਾ ਸੀ, ਜੋ ਕਿ ਭਾਰਤੀ ਲੋਕਤੰਤਰ ਦਾ ਪਿਤਾ ਹੈ।</p>


              <div class="fb-share-button" data-href="http://sadbhavana.net/biographies-en/PANDIT-JAWAHARLAL-NEHRU.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              <a data-text="India's first and longest serving Prime Minister, Pandit Jawaharlal Nehru, was a man of vision. Having
              participated in the long struggle for freedom from the British, Nehru, fondly called Pandit Nehru, a
              reference to his Kashmiri Pandit community roots...Read more" data-link="https://tinyurl.com/y6k9yjew" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>


            <!-- article content -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
