<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - ਸਰਦਾਰ ਵੱਲਭ ਭਾਈ ਪਟੇਲ</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/008/medium/Patel_inc.jpg?1505456114" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>ਸਰਦਾਰ ਵੱਲਭ ਭਾਈ ਪਟੇਲ</h1>
        <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਸਰਦਾਰ ਵੱਲਭ ਭਾਈ ਪਟੇਲ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <img class="float-left"
              src="https://cdn.inc.in/inspirations/thumbnails/000/000/008/medium/Patel_inc.jpg?1505456114" alt="">
            <div class="heading-title">
              <h5>ਅਰੰਭ ਦਾ ਜੀਵਨ</h5>
            </div>
            <p>ਝਾਵਰਭਾਈ ਪਟੇਲ ਅਤੇ ਲੱਦਬਾ ਦੇ ਛੇ ਬੱਚਿਆਂ ਵਿਚੋਂ ਇਕ, ਵਲੱਲਾਭ ਭਾਈ ਝਾਵਰਭਾਈ ਪਟੇਲ ਦਾ ਜਨਮ ਗੁਜਰਾਤ ਦੇ ਨਦੀਆਦ ਵਿਚ ਹੋਇਆ ਸੀ. ਉਸਦੀ ਜਨਮ ਤਰੀਕ ਦਾ ਕੋਈ ਰਿਕਾਰਡ ਨਹੀਂ ਹੈ. ਆਮ ਤੌਰ 'ਤੇ 31 ਅਕਤੂਬਰ 1875 ਨੂੰ ਸਵੀਕਾਰ ਕੀਤੀ ਗਈ ਤਾਰੀਖ, ਜਿਸ ਵਿਚੋਂ ਸਰੋਤ ਉਸ ਦਾ ਦਸਵੀਂ ਦਾ ਸਰਟੀਫਿਕੇਟ ਹੈ, ਨੂੰ ਇਕ ਫਾਰਮ ਭਰਨ ਵੇਲੇ ਵਲਭਭਾਈ ਨੇ ਖ਼ੁਦ ਚੁਣਿਆ ਸੀ.</p>
            <p>ਇਹ ਪਰਿਵਾਰ ਲੇਵਾ ਪਾਟੀਦਾਰ ਕਮਿ ਕਮਿਊਨਿਟੀਦਾ ਇੱਕ ਖੇਤੀਬਾੜੀ ਕਰਨ ਵਾਲਾ ਸੀ, ਅਤੇ ਆਰਥਿਕ ਸਥਿਤੀ ਦੇ ਮੱਦੇਨਜ਼ਰ ਹੇਠਲੇ ਮੱਧ ਵਰਗੀ ਦੱਸਿਆ ਜਾ ਸਕਦਾ ਸੀ. ਇਹ ਮਾੜੀ ਸੀ ਅਤੇ ਸਿੱਖਿਆ ਦੀ ਕੋਈ ਰਵਾਇਤ ਨਹੀਂ ਸੀ.</p>
            <p>ਵਲੱਭਭਾਈ ਦਾ ਬਚਪਨ ਕਿਤਾਬਾਂ ਤੋਂ ਦੂਰ, ਕਰਮਾਂਦ ਦੇ ਪੁਰਖੇ ਖੇਤਰਾਂ ਵਿੱਚ ਗੁਜਾਰਿਆ ਸੀ. ਉਹ ਪਹਿਲਾਂ ਹੀ ਆਪਣੀ ਅੱਲ੍ਹੜਵੀਂ ਉਮਰ ਵਿਚ ਸੀ ਜਦੋਂ ਉਹ ਕਰਮਸਦ ਦੇ ਮਿਡਲ ਸਕੂਲ ਤੋਂ ਪਾਸ ਹੋਇਆ ਅਤੇ ਨਦੀਆਦ ਦੇ ਹਾਈ ਸਕੂਲ ਵਿਚ ਚਲਾ ਗਿਆ, ਜਿੱਥੋਂ ਉਸਨੇ 1897 ਵਿਚ ਦਸਵੀਂ ਪਾਸ ਕੀਤੀ.
            ਇਕ ਛੋਟੇ ਜਿਹੇ ਮੁੰਡੇ ਵਾਂਗ ਵਲੱਭਭਾਈ ਨੇ ਸੰਗਠਨ ਅਤੇ ਲੀਡਰਸ਼ਿਪ ਦੇ ਗੁਣ ਪ੍ਰਦਰਸ਼ਿਤ ਕੀਤੇ ਜੋ ਉਨ੍ਹਾਂ ਨੂੰ ਆਪਣੀ ਭਵਿੱਖ ਦੀ ਭੂਮਿਕਾ ਲਈ ਨਿਸ਼ਾਨਦੇਹੀ ਕਰਦੇ ਸਨ. ਇੱਕ ਵਾਰ ਛੇਵੇਂ ਰੂਪ ਦੇ ਲੜਕੇ ਵਜੋਂ ਉਸਨੇ ਆਪਣੇ ਸਹਿਪਾਠੀਆਂ ਦੀ ਇੱਕ ਸਫਲ ਹੜਤਾਲ ਕੀਤੀ ਜੋ ਤਿੰਨ ਦਿਨਾਂ ਤੱਕ ਚੱਲੀ ਇੱਕ ਅਧਿਆਪਕ ਨੂੰ ਸਬਕ ਸਿਖਾਉਣ ਲਈ, ਜੋ ਡੰਡੇ ਦਾ ਬੇਲੋੜਾ ਸ਼ੌਕੀਨ ਸੀ.</p>
            <p>ਕਿਹਾ ਜਾਂਦਾ ਹੈ ਕਿ ਵੱਲਭਭਾਈ ਨੂੰ ਇਹ ਗੁਣ ਆਪਣੇ ਪਿਤਾ ਤੋਂ ਵਿਰਾਸਤ ਵਿੱਚ ਪ੍ਰਾਪਤ ਹੋਏ ਹੋਣਗੇ ਜੋ ਝਾਂਸੀ ਦੀ ਰਾਣੀ ਦੇ ਅਧੀਨ ਵਿਦਰੋਹ ਵਿੱਚ ਲੜਿਆ ਸੀ ਅਤੇ ਬਾਅਦ ਵਿੱਚ ਮਲਾਰ ਰਾਓ ਹੋਲਕਰ ਦੁਆਰਾ ਉਸਨੂੰ ਕੈਦੀ ਬਣਾ ਲਿਆ ਗਿਆ ਸੀ.</p>
            <div class="heading-title">
              <h5>ਅਰਲੀ ਕਰੀਅਰ</h5>
            </div>
            <p>ਵਲੱਲਾਭ ਭਾਈ ਬਾਈਸਵੀਂ ਦਾ ਇੱਕ ਸਿਆਣਾ ਨੌਜਵਾਨ ਸੀ ਜਦੋਂ ਉਸਨੇ ਦਸਵੀਂ ਪਾਸ ਕੀਤੀ. ਪਰਿਵਾਰ ਦੇ ਅਣਸੁਖਾਵੇਂ ਹਾਲਾਤਾਂ ਕਾਰਨ ਉੱਚ ਸਿੱਖਿਆ ਉਸ ਦੀ ਪਹੁੰਚ ਵਿੱਚ ਨਹੀਂ ਸੀ। ਅਗਲੀ ਸਭ ਤੋਂ ਵਧੀਆ ਚੀਜ਼ ਕਾਨੂੰਨ ਦਾ ਕੋਰਸ ਕਰਨਾ ਸੀ ਅਤੇ ਦੇਸ਼ ਦੇ ਵਕੀਲ ਵਜੋਂ ਸਥਾਪਤ ਕਰਨਾ ਸੀ. ਇਹ ਉਸਨੇ ਕੀਤਾ ਅਤੇ ਗੋਧਰਾ ਵਿਖੇ ਇੱਕ ਛੋਟਾ ਜਿਹਾ ਅਭਿਆਸ ਸਥਾਪਤ ਕੀਤਾ.</p>
            <p>ਪਰ ਪਲੇਗ ਦੇ ਹਮਲੇ ਨੇ, ਜਿਸ ਨੂੰ ਉਸਨੇ ਆਪਣੇ ਦੋਸਤ ਦੀ ਦੇਖਭਾਲ ਕਰਨ ਵੇਲੇ ਕੀਤਾ ਸੀ, ਨੇ ਉਸਨੂੰ ਸ਼ਹਿਰ ਛੱਡ ਦਿੱਤਾ ਅਤੇ ਕੁਝ ਸਮਾਂ ਨਦੀਆਦ ਵਿਚ ਬਿਤਾਉਣ ਤੋਂ ਬਾਅਦ, ਉਹ 1902 ਵਿਚ, ਖੇੜਾ ਜ਼ਿਲੇ ਦਾ ਇਕ ਸ਼ਹਿਰ, ਬੋਰਸਦ ਚਲਾ ਗਿਆ, ਜਿਥੇ ਉਸ ਸਮੇਂ ਸਭ ਤੋਂ ਵੱਧ ਅਪਰਾਧੀ ਸਨ. ਗੁਜਰਾਤ ਵਿੱਚ ਕੇਸ ਦਰਜ ਕੀਤੇ ਗਏ।</p>
            <p>ਵਲੱਭਭਾਈ ਇੱਥੇ ਇੱਕ ਬਚਾਅ ਪੱਖ ਦੇ ਵਕੀਲ ਵਜੋਂ ਕਾਫ਼ੀ ਮਸ਼ਹੂਰ ਹੋਏ ਸਨ. ਵੱਲਭਭਾਈ ਹੁਣ ਇੰਗਲੈਂਡ ਜਾ ਕੇ ਬੈਰੀਸਟਰ ਵਜੋਂ ਯੋਗਤਾ ਪ੍ਰਾਪਤ ਕਰਨਾ ਚਾਹੁੰਦਾ ਸੀ। ਬੋਰਸਾਦ ਵਿਖੇ ਆਪਣੀ ਪ੍ਰੈਕਟਿਸ ਤੋਂ ਉਸਨੇ ਆਪਣੇ ਖਰਚਿਆਂ ਲਈ ਉਥੇ ਕਾਫ਼ੀ ਕਮਾਈ ਕੀਤੀ ਪਰ ਕੁਝ ਸਥਿਤੀਆਂ ਕਾਰਨ ਉਹ ਇਕੋ ਵੇਲੇ ਯਾਤਰਾ ਨਹੀਂ ਕਰ ਸਕਿਆ।</p>
            <p>ਉਸ ਦੇ ਭਰਾ ਵਿਥਲਭਾਈ ਨੇ ਇਕ ਇੰਗਲਿਸ਼ ਫਰਮ ਵਿਚ ਆਪਣੀ ਪੜ੍ਹਾਈ ਪੂਰੀ ਕਰਨ ਦੀ ਇੱਛਾ ਜ਼ਾਹਰ ਕੀਤੀ ਅਤੇ ਵੱਲਭਭਾਈ ਇਸ ਤੋਂ ਸਹਿਜੇ ਸਹਿਮਤ ਹੋ ਗਏ ਅਤੇ ਆਪਣੀ ਰਿਹਾਇਸ਼ ਲਈ ਭੁਗਤਾਨ ਵੀ ਕੀਤਾ. ਉਸ ਦੀ ਪਤਨੀ ਜ਼ੇਵਰਬਾਈ ਦੀ 1909 ਦੇ ਸ਼ੁਰੂ ਵਿਚ ਪੇਟ ਦੀ ਬਿਮਾਰੀ ਦੇ ਆਪ੍ਰੇਸ਼ਨ ਤੋਂ ਬਾਅਦ ਮੌਤ ਹੋ ਗਈ। ਜਦੋਂ ਸੋਗ ਦੀ ਖ਼ਬਰ ਵਲੱਭਭਾਈ ਨੂੰ ਮਿਲੀ, ਉਹ ਆਨੰਦ ਵਿਖੇ ਇੱਕ ਕਤਲ ਦੇ ਕੇਸ ਵਿੱਚ ਇੱਕ ਗਵਾਹ ਦੀ ਜਾਂਚ ਕਰ ਰਹੇ ਸਨ।</p>
            <p>ਇਕ ਅਪਹੁੰਚ ਮਿਸ਼ਰਣ ਜਿਸ ਨਾਲ ਉਹ ਬਾਅਦ ਵਿਚ ਜਾਣਿਆ ਜਾਣ ਲੱਗਿਆ, ਉਸਨੇ ਦੁੱਖ ਨਹੀਂ ਦਿਖਾਇਆ ਬਲਕਿ ਕ੍ਰਾਸ-ਇਮਤਿਹਾਨ ਹੱਥ ਵਿਚ ਲੈ ਕੇ ਗਿਆ. ਉਹ ਆਖਿਰਕਾਰ 1910 ਵਿੱਚ ਇੰਗਲੈਂਡ ਲਈ ਰਵਾਨਾ ਹੋਇਆ ਅਤੇ ਮੱਧ ਮੰਦਰ ਵਿੱਚ ਸ਼ਾਮਲ ਹੋ ਗਿਆ। ਇੱਥੇ ਉਸਨੇ ਏਨੀ ਮਿਹਨਤ ਅਤੇ ਇਮਾਨਦਾਰੀ ਨਾਲ ਕੰਮ ਕੀਤਾ ਕਿ ਉਸਨੇ ਰੋਮਨ ਦੇ ਕਾਨੂੰਨ ਵਿੱਚ ਸਥਾਨ ਪ੍ਰਾਪਤ ਕੀਤਾ, ਇੱਕ ਇਨਾਮ ਪ੍ਰਾਪਤ ਕੀਤਾ, ਅਤੇ ਤਿੰਨ ਸਾਲਾਂ ਦੀ ਆਮ ਅਵਧੀ ਦੀ ਬਜਾਏ ਦੋ ਸਾਲਾਂ ਦੇ ਅੰਤ ਵਿੱਚ ਬਾਰ ਵਿੱਚ ਬੁਲਾਇਆ ਗਿਆ.</p>
            <p>1913 ਵਿਚ ਭਾਰਤ ਵਾਪਸ ਆਉਣ ਤੇ, ਉਸਨੇ ਅਹਿਮਦਾਬਾਦ ਵਿਚ ਅਭਿਆਸ ਸ਼ੁਰੂ ਕੀਤਾ ਅਤੇ ਇਸਦੀ ਵੱਡੀ ਸਫਲਤਾ ਪ੍ਰਾਪਤ ਕੀਤੀ। ਉਸ ਕੋਲ ਤਿਆਰ ਸੂਝ ਸੀ, ਆਮ ਸੂਝ ਦਾ ਫੰਡ ਅਤੇ ਉਨ੍ਹਾਂ ਲਈ ਡੂੰਘੀ ਹਮਦਰਦੀ ਜੋ ਬ੍ਰਿਟਿਸ਼ ਅਧਿਕਾਰੀਆਂ ਦੇ ਗੁੱਸੇ ਦੀ ਵਸਤੂ ਸਨ ਅਤੇ ਕਾਨੂੰਨ ਦੇ ਚੁੰਗਲ ਵਿਚ ਫਸ ਗਏ, ਜੋ ਖੇੜਾ ਜ਼ਿਲੇ ਵਿਚ ਅਸਧਾਰਨ ਨਹੀਂ ਸੀ. ਉਹ ਇੱਕ ਬੈਰਿਸਟਰ ਵਜੋਂ ਪ੍ਰਸਿੱਧ ਹੋਣ ਕਰਕੇ ਜਨਤਕ ਜੀਵਨ ਵਿੱਚ ਇੱਕ ਸਤਿਕਾਰਯੋਗ ਅਹੁਦਾ ਪ੍ਰਾਪਤ ਕਰਨ ਲਈ ਆਇਆ ਸੀ.</p>
            <div class="heading-title">
              <h5>ਅਰੰਭਕ ਰਾਜਨੀਤਿਕ ਕਰੀਅਰ</h5>
            </div>
            <p>ਉਸਨੇ ਮਹਾਤਮਾ ਗਾਂਧੀ ਦੀ ਲੀਡਰਸ਼ਿਪ ਨੂੰ ਸਵੀਕਾਰਿਆ, ਮਹਾਤਮਾ ਗਾਂਧੀ ਨੇ ਲੋਕਾਂ ਦੀਆਂ ਗ਼ਲਤੀਆਂ ਨੂੰ ਸਹੀ ਤਰੀਕੇ ਨਾਲ ਦੇਣ ਦੀ ਨਿਡਰ ਅਗਵਾਈ ਤੋਂ ਬਹੁਤ ਪ੍ਰਭਾਵਿਤ ਹੋਏ। 1917 ਵਿਚ ਉਹ ਪਹਿਲੀ ਵਾਰ ਅਹਿਮਦਾਬਾਦ ਦੇ ਸੈਨੀਟੇਸ਼ਨ ਕਮਿਸ਼ਨਰ ਵਜੋਂ ਚੁਣੇ ਗਏ।
            1924 ਤੋਂ 1928 ਤੱਕ ਉਹ ਮਿ Municipalਂਸਪਲ ਕਮੇਟੀ ਦੇ ਚੇਅਰਮੈਨ ਰਹੇ। ਨਗਰ ਪਾਲਿਕਾ ਪ੍ਰਸ਼ਾਸਨ ਨਾਲ ਉਸਦੀ ਸਾਂਝ ਦੇ ਸਾਲਾਂ ਨੇ ਨਾਗਰਿਕ ਜੀਵਨ ਦੇ ਸੁਧਾਰ ਲਈ ਬਹੁਤ ਸਾਰਥਕ ਕੰਮ ਕੀਤੇ. ਪਾਣੀ ਦੀ ਸਪਲਾਈ, ਸੈਨੀਟੇਸ਼ਨ ਅਤੇ ਕਸਬੇ ਦੀ ਯੋਜਨਾਬੰਦੀ ਵਿੱਚ ਸੁਧਾਰ ਲਿਆਉਣ ਲਈ ਕੰਮ ਕੀਤਾ ਗਿਆ ਅਤੇ ਮਿ Municipalਂਸਪੈਲਟੀ ਨੂੰ ਆਪਣੀ ਖੁਦ ਦੀ ਇੱਛਾ ਨਾਲ ਇੱਕ ਪ੍ਰਸਿੱਧ ਸੰਸਥਾ ਵਿੱਚ ਬ੍ਰਿਟਿਸ਼ ਸ਼ਾਸਨ ਦੇ ਅਧੀਨ ਕਰਨ ਤੋਂ ਬਦਲ ਦਿੱਤਾ ਗਿਆ।</p>
            <p>1917 ਵਿਚ ਪਲੇਗ ਅਤੇ 1918 ਵਿਚ ਅਕਾਲ ਜਿਹੀਆਂ ਬਿਪਤਾਵਾਂ ਵੀ ਆਈਆਂ ਸਨ ਅਤੇ ਦੋਵਾਂ ਮੌਕਿਆਂ 'ਤੇ ਵੱਲਭਭਾਈ ਨੇ ਮੁਸੀਬਤ ਤੋਂ ਛੁਟਕਾਰਾ ਪਾਉਣ ਲਈ ਮਹੱਤਵਪੂਰਨ ਕੰਮ ਕੀਤਾ. 1917 ਵਿਚ ਉਹ ਗੁਜਰਾਤ ਸਭਾ ਦਾ ਸੱਕਤਰ ਚੁਣਿਆ ਗਿਆ, ਇਕ ਰਾਜਨੀਤਿਕ ਸੰਸਥਾ, ਜਿਹੜੀ ਉਸਦੀਆਂ ਮੁਹਿੰਮਾਂ ਵਿਚ ਗਾਂਧੀ ਜੀ ਦੀ ਬਹੁਤ ਸਹਾਇਤਾ ਸੀ।</p>
            <p>1918 ਵਿਚ ਖੇੜਾ ਸੱਤਿਆਗ੍ਰਹਿ ਦੇ ਸਮੇਂ ਮਹਾਤਮਾ ਗਾਂਧੀ ਨਾਲ ਸਬੰਧ ਨਜ਼ਦੀਕੀ ਹੋ ਗਿਆ, ਜਿਹੜੀ ਫਸਲਾਂ ਦੇ ਅਸਫਲ ਹੋਣ ਤੋਂ ਬਾਅਦ ਜ਼ਮੀਨੀ ਮਾਲੀਆ ਮੁਲਾਂਕਣ ਦੀ ਅਦਾਇਗੀ ਤੋਂ ਛੋਟ ਪ੍ਰਾਪਤ ਕਰਨ ਲਈ ਸ਼ੁਰੂ ਕੀਤੀ ਗਈ ਸੀ। ਇਸ ਨੂੰ ਤਿੰਨ ਮਹੀਨਿਆਂ ਦੀ ਤਿੱਖੀ ਮੁਹਿੰਮ ਲੱਗੀ ਜਿਸ ਵਿਚ ਗਿਰਫਤਾਰੀਆਂ, ਮਾਲ ਜ਼ਬਤ ਕਰਨ, ਜਾਇਦਾਦ, ਪਸ਼ੂ ਧਨ ਅਤੇ ਸਰਕਾਰੀ ਅਧਿਕਾਰਾਂ ਦੁਆਰਾ ਕੀਤੀ ਗਈ ਬੇਰਹਿਮੀ ਨਾਲ ਇਕ ਅਣਚਾਹੇ ਬਸਤੀਵਾਦੀ ਸਰਕਾਰ ਤੋਂ ਰਾਹਤ ਪ੍ਰਾਪਤ ਕੀਤੀ ਗਈ ਸੀ.</p>
            <p>ਗਾਂਧੀ ਜੀ ਨੇ ਕਿਹਾ ਕਿ ਜੇ ਇਹ ਵੱਲਭਭਾਈ ਦੀ ਸਹਾਇਤਾ ਨਾ ਹੁੰਦੀ ਤਾਂ "ਇਹ ਮੁਹਿੰਮ ਇੰਨੀ ਸਫਲਤਾਪੂਰਵਕ ਨਹੀਂ ਚਲੀ ਜਾ ਸਕਦੀ ਸੀ"। 1917 ਤੋਂ 1922 ਤੱਕ ਦੇ ਪੰਜ ਸਾਲ ਭਾਰਤ ਵਿੱਚ ਪ੍ਰਸਿੱਧ ਅੰਦੋਲਨ ਦੇ ਸਾਲ ਸਨ. ਯੁੱਧ ਦਾ ਅੰਤ ਰੋਲਾਟ ਐਕਟ ਤੋਂ ਬਾਅਦ ਹੋਇਆ ਅਤੇ ਵਿਅਕਤੀਗਤ ਆਜ਼ਾਦੀ ਨੂੰ ਹੋਰ ਵੀ ਘਟਾਇਆ ਗਿਆ.</p>
            <p>ਅਤੇ ਫਿਰ ਪੰਜਾਬ ਵਿਚ ਕਤਲੇਆਮ ਅਤੇ ਦਹਿਸ਼ਤ ਦੇ ਨਾਲ ਖਿਲਾਫ਼ ਲਹਿਰ ਦਾ ਪਿੱਛਾ ਕੀਤਾ. ਗਾਂਧੀ ਜੀ ਅਤੇ ਕਾਂਗਰਸ ਨੇ ਅਸਹਿਯੋਗ ਦਾ ਫੈਸਲਾ ਕੀਤਾ। ਵੱਲਭਭਾਈ ਨੇ ਆਪਣਾ ਅਭਿਆਸ ਭਲਾਈ ਲਈ ਛੱਡ ਦਿੱਤਾ ਅਤੇ ਆਪਣੇ ਆਪ ਨੂੰ ਰਾਜਨੀਤਿਕ ਅਤੇ ਉਸਾਰੂ ਕੰਮਾਂ ਵਿਚ ਪੂਰੀ ਤਰ੍ਹਾਂ ਛੱਡ ਦਿੱਤਾ, ਪਿੰਡਾਂ ਦਾ ਦੌਰਾ ਕੀਤਾ, ਸਭਾਵਾਂ ਨੂੰ ਸੰਬੋਧਨ ਕੀਤਾ, ਵਿਦੇਸ਼ੀ ਕੱਪੜਿਆਂ ਦੀਆਂ ਦੁਕਾਨਾਂ ਅਤੇ ਸ਼ਰਾਬ ਦੀਆਂ ਦੁਕਾਨਾਂ ਚੁੱਕਣ ਦਾ ਪ੍ਰਬੰਧ ਕੀਤਾ।
            ਫੇਰ ਬਾਰਦੋਲੀ ਸੱਤਿਆਗ੍ਰਹਿ ਆਇਆ. ਸੱਤਿਆਗ੍ਰਹਿ ਦਾ ਅਵਸਰ ਸਰਕਾਰ ਦਾ ਫੈਸਲਾ ਸੀ ਕਿ ਬਾਰਡੋਲੀ ਤਾਲਕ ਤੋਂ ਜ਼ਮੀਨੀ ਆਮਦਨੀ ਦੇ ਮੁਲਾਂਕਣ ਵਿਚ 22 ਪ੍ਰਤੀਸ਼ਤ ਅਤੇ ਕੁਝ ਪਿੰਡਾਂ ਵਿਚ 50 ਤੋਂ 60 ਪ੍ਰਤੀਸ਼ਤ ਤੱਕ ਦਾ ਵਾਧਾ ਕੀਤਾ ਗਿਆ ਸੀ।</p>
            <p>ਦੂਜੇ meansੰਗਾਂ ਨਾਲ ਨਿਪਟਾਰਾ ਕਰਨ ਵਿਚ ਅਸਫਲ ਰਹਿਣ ਕਾਰਨ, ਤਾਲੁਕਾ ਦੇ ਖੇਤੀਬਾੜੀਕਾਰਾਂ ਨੇ 12 ਫਰਵਰੀ, 1928 ਨੂੰ ਇਕ ਕਾਨਫ਼ਰੰਸ ਵਿਚ ਵਲੱਭਭਾਈ ਪਟੇਲ ਦੀ ਅਗਵਾਈ ਵਿਚ ਜ਼ਮੀਨੀ ਮਾਲੀਏ ਦੀ ਅਦਾਇਗੀ ਰੋਕਣ ਦਾ ਫੈਸਲਾ ਕੀਤਾ।
            ਸੰਘਰਸ਼ ਗੰਭੀਰ ਅਤੇ ਕੌੜਾ ਸੀ. ਇਸ ਹੱਦ ਤਕ ਜਾਇਦਾਦ ਅਤੇ ਪਸ਼ੂਆਂ ਦੇ ਕਬਜ਼ੇ ਛੁਪੇ ਪਏ ਸਨ ਕਿ ਕਈਂ ਦਿਨ ਲੋਕਾਂ ਨੇ ਆਪਣੇ ਆਪ ਨੂੰ ਅਤੇ ਉਨ੍ਹਾਂ ਦੀਆਂ ਮੱਝਾਂ ਨੂੰ ਬੰਦ ਰੱਖਿਆ ਹੋਇਆ ਸੀ. ਗਿਰਫਤਾਰੀਆਂ ਹੋਈਆਂ ਅਤੇ ਫਿਰ ਪੁਲਿਸ ਅਤੇ ਭਾੜੇ ਦੇ ਪਠਾਣਾਂ ਦੀ ਬੇਰਹਿਮੀ ਨਾਲ.</p>
            <p>ਸੰਘਰਸ਼ ਨੇ ਸਾਰੇ ਦੇਸ਼ ਦਾ ਧਿਆਨ ਇਸ ਵੱਲ ਖਿੱਚਿਆ। ਪੇਟਲਜ਼ ਅਤੇ ਟਾਲਟਿਸ ਨੇ ਆਪਣੀ ਨੌਕਰੀ ਤੋਂ ਅਸਤੀਫਾ ਦੇ ਦਿੱਤਾ. ਸਰਕਾਰੀ ਮਾਲੀਆ ਅਣਅਧਿਕਾਰਤ ਰਿਹਾ. ਸਰਕਾਰ ਨੂੰ ਆਖਰਕਾਰ ਮਸ਼ਹੂਰ ਸੰਕਲਪ ਤੋਂ ਪਹਿਲਾਂ ਝੁਕਣਾ ਪਿਆ ਅਤੇ ਇਹ ਪਤਾ ਲਗਾਉਣ ਲਈ ਜਾਂਚ ਸ਼ੁਰੂ ਕੀਤੀ ਗਈ ਕਿ ਵਾਧਾ ਕਿਸ ਹੱਦ ਤੱਕ ਸਹੀ ਠਹਿਰਾਇਆ ਗਿਆ ਸੀ ਅਤੇ ਵੱਧ ਰਹੇ ਮਾਲੀਏ ਦੀ ਪ੍ਰਾਪਤੀ ਨੂੰ ਮੁਲਤਵੀ ਕਰ ਦਿੱਤਾ ਗਿਆ ਸੀ.</p>
            <p>ਇਹ ਨਾ ਸਿਰਫ ਬਾਰਦੋਲੀ ਦੇ 80,000 ਕਿਸਾਨੀ, ਬਲਕਿ ਖਾਸ ਤੌਰ 'ਤੇ ਵਲਭਭਾਈ ਦੀ ਨਿੱਜੀ ਜਿੱਤ ਸੀ; ਉਸਨੂੰ ਰਾਸ਼ਟਰ ਦੁਆਰਾ "ਸਰਦਾਰ" ਦੀ ਉਪਾਧੀ ਦਿੱਤੀ ਗਈ ਸੀ.</p>
            <div class="heading-title">
              <h5>ਭਾਰਤੀ ਰਾਸ਼ਟਰੀ ਅੰਦੋਲਨ ਵਿਚ ਭੂਮਿਕਾ</h5>
            </div>
            <p>ਇਸ ਸਮੇਂ ਦੇਸ ਵਿੱਚ ਰਾਜਨੀਤਿਕ ਸਥਿਤੀ ਸੰਕਟ ਦੇ ਨੇੜੇ ਆ ਰਹੀ ਸੀ. ਕਾਂਗਰਸ ਨੇ ਦੇਸ਼ ਲਈ ਪੂਰਨ ਸਵਰਾਜ ਦੇ ਆਪਣੇ ਟੀਚੇ ਨੂੰ ਸਵੀਕਾਰ ਕਰ ਲਿਆ ਸੀ, ਜਦੋਂ ਕਿ ਬ੍ਰਿਟਿਸ਼ ਸਰਕਾਰ ਆਪਣੀ ਇਕ ਦੂਸਰੇ ਦੇ ਖ਼ਿਲਾਫ਼ ਦਿਲਚਸਪੀ ਲੈਣ ਦੀ ਨੀਤੀ ਰਾਹੀਂ ਅਤੇ ਸੰਵਿਧਾਨਕ ਚਾਲਾਂ ਰਾਹੀਂ ਆਜ਼ਾਦੀ ਦੀ ਆਵਾਜ਼ ਨੂੰ ਦਬਾਉਣ ਦੀ ਕੋਸ਼ਿਸ਼ ਕਰ ਰਹੀ ਸੀ ਅਤੇ ਆਪਣੇ ਸ਼ਾਸਨ ਨੂੰ ਹੋਰ ਮਜਬੂਤ ਕਰਨ ਲਈ ਹਰ ਸੰਭਵ ਕੋਸ਼ਿਸ਼ ਕਰ ਰਹੀ ਸੀ।</p>
            <p>ਗਾਂਧੀ ਜੀ ਦੁਆਰਾ ਮਸ਼ਹੂਰ ਨਮਕ ਸਤਿਆਗ੍ਰਹਿ ਦੀ ਸ਼ੁਰੂਆਤ ਤੋਂ ਬਾਅਦ ਸਾਈਮਨ ਕਮਿਸ਼ਨ ਦਾ ਬਾਈਕਾਟ ਕੀਤਾ ਗਿਆ. ਵੱਲਭਭਾਈ ਪਟੇਲ, ਹਾਲਾਂਕਿ ਉਸਨੇ ਨਮਕ ਕਾਨੂੰਨ ਦੀ ਕੋਈ ਉਲੰਘਣਾ ਨਹੀਂ ਕੀਤੀ ਸੀ, ਪਰ ਗਿਰਫਤਾਰ ਕੀਤੇ ਜਾਣ ਵਾਲੇ ਰਾਸ਼ਟਰੀ ਨੇਤਾਵਾਂ ਵਿਚੋਂ ਉਹ ਪਹਿਲਾ ਸੀ। ਦਰਅਸਲ ਉਸਨੂੰ 7 ਮਾਰਚ, 1930 ਨੂੰ ਗ੍ਰਿਫਤਾਰ ਕੀਤਾ ਗਿਆ ਸੀ - ਗਾਂਧੀ ਜੀ ਦਾਂਡੀ ਦੀ ਮਾਰਚ ਤੋਂ ਕੁਝ ਦਿਨ ਪਹਿਲਾਂ। ਉਸਨੂੰ ਜੂਨ ਵਿੱਚ ਰਿਹਾ ਕੀਤਾ ਗਿਆ ਸੀ।</p>
            <p>ਉਦੋਂ ਗਾਂਧੀ ਜੀ, ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਅਤੇ ਹੋਰ ਨੇਤਾ ਜੇਲ੍ਹ ਵਿੱਚ ਸਨ ਅਤੇ ਦੇਸ਼ ਵਿੱਚ ਸੰਘਰਸ਼ ਦਾ ਟੈਂਪੂ ਵੱਧਦਾ ਜਾ ਰਿਹਾ ਸੀ। ਕੁਝ ਮਹੀਨਿਆਂ ਵਿੱਚ ਵਲੱਭਭਾਈ ਵਾਪਸ ਜੇਲ੍ਹ ਵਿੱਚ ਆ ਗਿਆ।</p>
            <p>ਮਾਰਚ 1931 ਵਿਚ ਵਲੱਭਭਾਈ ਨੇ ਇੰਡੀਅਨ ਨੈਸ਼ਨਲ ਕਾਂਗਰਸ ਦੇ 46 ਵੇਂ ਸੈਸ਼ਨ ਦੀ ਪ੍ਰਧਾਨਗੀ ਕੀਤੀ ਜਿਸ ਵਿਚ ਗਾਂਧੀ-ਲਿ੍ਰਵਿਨ ਸਮਝੌਤੇ ਨੂੰ ਮਨਜ਼ੂਰੀ ਦੇਣ ਲਈ ਕਿਹਾ ਗਿਆ ਸੀ, ਜਿਸ ਦਾ ਅੰਤ ਉਦੋਂ ਹੀ ਹੋਇਆ ਸੀ।</p>
            <p>ਇਹ ਕੰਮ ਕੋਈ ਸੌਖਾ ਕੰਮ ਨਹੀਂ ਸੀ, ਕਿਉਂਕਿ ਭਗਤ ਸਿੰਘ ਅਤੇ ਕੁਝ ਹੋਰ ਲੋਕਾਂ ਨੂੰ ਕਾਂਗਰਸ ਦੇ ਸੈਸ਼ਨ ਦੇ ਉਦਘਾਟਨ ਸਮੇਂ ਹੀ ਮੌਤ ਦੇ ਘਾਟ ਉਤਾਰਿਆ ਗਿਆ ਸੀ ਅਤੇ ਡੈਲੀਗੇਟ ਖ਼ਾਸਕਰ ਛੋਟੇ ਵਰਗ ਗੁੱਸੇ ਵਿਚ ਸਨ, ਜਦੋਂ ਕਿ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਅਤੇ ਸੁਭਾਸ਼ ਚੰਦਰ ਬੋਸ ਖੁਸ਼ ਨਹੀਂ ਸਨ। ਸਮਝੌਤੇ ਦੀਆਂ ਸ਼ਰਤਾਂ ਨਾਲ.</p>
            <p>ਪਰ ਅੰਤ ਵਿੱਚ ਕਾਂਗਰਸ ਨੇ ਇੱਕ ਆਵਾਜ਼ ਨਾਲ ਸਮਝੌਤੇ ਉੱਤੇ ਆਪਣੀ ਮੋਹਰ ਲਗਾ ਦਿੱਤੀ। ਸਿਵਲ ਅਣਆਗਿਆਕਾਰੀ ਮੁਅੱਤਲ ਕਰ ਦਿੱਤੀ ਗਈ ਸੀ, ਰਾਜਨੀਤਿਕ ਕੈਦੀਆਂ ਨੂੰ ਰਿਹਾ ਕੀਤਾ ਗਿਆ ਸੀ ਅਤੇ ਰਾ Tableਂਡ ਟੇਬਲ ਕਾਨਫ਼ਰੰਸ ਵਿੱਚ ਭਾਗ ਲੈਣ ਲਈ ਕਾਂਗਰਸ ਸਹਿਮਤ ਹੋ ਗਈ ਸੀ।</p>
            <p>ਗੋਲ ਟੇਬਲ ਕਾਨਫਰੰਸ ਅਸਫਲ ਰਹੀ. ਗਾਂਧੀ ਜੀ ਅਤੇ ਹੋਰ ਚੋਟੀ ਦੇ ਨੇਤਾਵਾਂ ਨੂੰ ਗ੍ਰਿਫਤਾਰ ਕਰ ਲਿਆ ਗਿਆ ਅਤੇ ਜਬਰ ਦੀ ਨੀਤੀ ਅਪਣਾਈ ਗਈ। ਵਲੱਭਭਾਈ ਪਟੇਲ ਗਾਂਧੀ ਜੀ ਨਾਲ ਯਰਵਦਾ ਜੇਲ ਵਿਚ ਬੰਦ ਸਨ ਅਤੇ ਉਹ ਸੋਲਾਂ ਮਹੀਨਿਆਂ-ਜਨਵਰੀ 1932 ਤੋਂ ਮਈ 1933 ਤਕ ਉਥੇ ਰਹੇ।</p>
            <p>ਫਿਰ ਵੱਲਭਭਾਈ ਨੇ ਇਕ ਹੋਰ ਸਾਲ ਨਾਸਿਕ ਜੇਲ੍ਹ ਵਿਚ ਬਿਤਾਇਆ. ਜਦੋਂ ਭਾਰਤ ਸਰਕਾਰ ਐਕਟ 1935 ਆਇਆ, ਤਾਂ ਕਾਂਗਰਸ ਨੇ ਹਾਲਾਂਕਿ ਇਸ ਐਕਟ ਦੀ ਆਮ ਤੌਰ 'ਤੇ ਆਲੋਚਨਾ ਕਰਦਿਆਂ, ਇਸ ਦੀਆਂ ਸੰਵਿਧਾਨਕ ਵਿਵਸਥਾਵਾਂ ਵਿਚੋਂ ਬਾਹਰ  ਦਾ ਫੈਸਲਾ ਲਿਆ ਜੋ ਕਿ ਭਾਰਤੀਆਂ ਨੂੰ ਕੁਝ ਹੱਦ ਤੱਕ ਸਵੈ-ਸਰਕਾਰ ਦੀ ਮਨਜ਼ੂਰੀ ਦਿੰਦੇ ਸਨ ਅਤੇ ਸੂਬਾਈ ਵਿਧਾਨ ਸਭਾਵਾਂ ਦੀਆਂ ਚੋਣਾਂ ਵਿਚ ਹਿੱਸਾ ਲੈਣ ਲਈ ਜਾਪਦੇ ਸਨ। ਜਿਸਦੀ ਕਲਪਨਾ ਇਸ ਦੇ ਅਧੀਨ ਕੀਤੀ ਗਈ ਸੀ.</p>
            <p>ਗਿਆਰਾਂ ਵਿੱਚੋਂ ਸੱਤ ਸੂਬਿਆਂ ਵਿੱਚ, ਕਾਂਗਰਸ ਦੀ ਬਹੁਗਿਣਤੀ ਵਾਪਸ ਕਰ ਦਿੱਤੀ ਗਈ ਅਤੇ ਕਾਂਗਰਸ ਦੇ ਮੰਤਰਾਲੇ ਬਣਾਏ ਗਏ। ਕਾਂਗਰਸ ਦੀ ਸੰਸਦੀ ਉਪ ਕਮੇਟੀ ਦੇ ਚੇਅਰਮੈਨ ਵਜੋਂ ਵਲੱਲਾਭਭਾਈ ਪਟੇਲ ਨੇ ਇਨ੍ਹਾਂ ਮੰਤਰਾਲਿਆਂ ਦੀਆਂ ਗਤੀਵਿਧੀਆਂ ਨੂੰ ਸੇਧ ਅਤੇ ਨਿਯੰਤਰਣ ਦਿੱਤਾ।</p>
            <p>ਬਹੁਤੀ ਦੇਰ ਲਈ ਨਹੀਂ, ਹਾਲਾਂਕਿ, ਜਦੋਂ 3 ਸਤੰਬਰ, 1939 ਨੂੰ ਬ੍ਰਿਟੇਨ ਨੇ ਜਰਮਨੀ ਵਿਰੁੱਧ ਲੜਾਈ ਦਾ ਐਲਾਨ ਕੀਤਾ, ਵਾਈਸਰਾਇ ਨੇ ਕੇਂਦਰੀ ਜਾਂ ਸੂਬਾਈ ਵਿਧਾਨ ਸਭਾਵਾਂ ਦੀ ਸਲਾਹ ਲਏ ਬਗ਼ੈਰ, ਭਾਰਤ ਨੂੰ ਬ੍ਰਿਟੇਨ ਦੇ ਸਹਿਯੋਗੀ ਵਜੋਂ ਯੁੱਧ ਵਿਚ ਸ਼ਾਮਲ ਹੋਣ ਦਾ ਐਲਾਨ ਕਰ ਦਿੱਤਾ।</p>
            <p>ਕਾਂਗਰਸ ਇਸ ਅਹੁਦੇ ਨੂੰ ਸਵੀਕਾਰ ਨਹੀਂ ਕਰ ਸਕੀ ਅਤੇ ਕਾਂਗਰਸ ਮੰਤਰਾਲਿਆਂ ਨੇ ਅਸਤੀਫਾ ਦੇ ਦਿੱਤਾ। ਗਾਂਧੀ ਜੀ ਨੇ ਜੰਗ ਵਿਚ ਭਾਰਤ ਦੀ ਸ਼ਮੂਲੀਅਤ ਦਾ ਵਿਰੋਧ ਕਰਦਿਆਂ ਵਿਅਕਤੀਗਤ ਸਿਵਲ ਅਵੱਗਿਆ ਦਾ ਉਦਘਾਟਨ ਕੀਤਾ ਅਤੇ ਕਾਂਗਰਸੀ ਨੇਤਾ ਅਦਾਲਤ ਵਿਚ ਗ੍ਰਿਫ਼ਤਾਰੀ ਦੇਣ ਲੱਗੇ। ਵਲੱਭਭਾਈ ਪਟੇਲ ਨੂੰ 17 ਨਵੰਬਰ, 1940 ਨੂੰ ਗ੍ਰਿਫਤਾਰ ਕੀਤਾ ਗਿਆ ਸੀ। ਉਸਨੂੰ ਸਿਹਤ ਦੇ ਅਧਾਰ ਤੇ 20 ਅਗਸਤ, 1941 ਨੂੰ ਰਿਹਾ ਕੀਤਾ ਗਿਆ ਸੀ।</p>
            <p>ਫਿਰ ਆਲ ਇੰਡੀਆ ਕਾਂਗਰਸ ਕਮੇਟੀ ਨੇ 8 ਅਗਸਤ, 1942 ਨੂੰ ਬੰਬੇ ਵਿਚ ਮਸ਼ਹੂਰ ਭਾਰਤ ਛੱਡੋ ਮਤਾ ਪਾਸ ਕੀਤਾ ਅਤੇ ਵਰਲਭ ਭਾਈ ਨੂੰ, ਵਰਕਿੰਗ ਕਮੇਟੀ ਦੇ ਹੋਰ ਮੈਂਬਰਾਂ ਸਮੇਤ, 9 ਅਗਸਤ, 1942 ਨੂੰ ਅਹਿਮਦਨਗਰ ਦੇ ਕਿਲ੍ਹੇ ਵਿਚ ਗ੍ਰਿਫਤਾਰ ਕਰ ਲਿਆ ਗਿਆ, ਜਦੋਂ ਕਿ ਗਾਂਧੀ ਜੀ, ਕਸਤੂਰਬਾ ਅਤੇ ਮਹਾਦੇਵ ਦੇਸਾਈ ਨੂੰ ਆਗਾ ਖਾਨ ਦੇ ਮਹਿਲ ਵਿੱਚ ਨਜ਼ਰਬੰਦ ਕੀਤਾ ਗਿਆ ਸੀ।</p>
            <p>ਸਰਦਾਰ ਇਸ ਵਾਰ ਤਕਰੀਬਨ ਤਿੰਨ ਸਾਲ ਜੇਲ੍ਹ ਵਿੱਚ ਰਿਹਾ। ਜਦੋਂ, ਯੁੱਧ ਦੇ ਅੰਤ 'ਤੇ,</p>
            <p>ਸਰਦਾਰ ਇਸ ਵਾਰ ਤਕਰੀਬਨ ਤਿੰਨ ਸਾਲ ਜੇਲ੍ਹ ਵਿੱਚ ਰਿਹਾ। ਜਦੋਂ, ਯੁੱਧ ਦੇ ਅੰਤ ਵਿਚ, ਕਾਂਗਰਸ ਦੇ ਨੇਤਾਵਾਂ ਨੂੰ ਰਿਹਾ ਕਰ ਦਿੱਤਾ ਗਿਆ ਅਤੇ ਬ੍ਰਿਟਿਸ਼ ਸਰਕਾਰ ਨੇ ਭਾਰਤ ਦੀ ਆਜ਼ਾਦੀ ਦੀ ਸਮੱਸਿਆ ਦਾ ਇਕ ਸ਼ਾਂਤਮਈ ਸੰਵਿਧਾਨਕ ਹੱਲ ਲੱਭਣ ਦਾ ਫੈਸਲਾ ਕੀਤਾ, ਵਲੱਲਾਭਭਾਈ ਪਟੇਲ ਕਾਂਗਰਸ ਦੇ ਪ੍ਰਮੁੱਖ ਗੱਲਬਾਤ ਕਰਨ ਵਾਲੇ ਸਨ.</p>
            <div class="heading-title">
              <h5>ਆਜ਼ਾਦੀ ਤੋਂ ਬਾਅਦ ਦੇ ਭਾਰਤ ਵਿੱਚ ਯੋਗਦਾਨ</h5>
            </div>
            <p>ਜਦੋਂ ਭਾਰਤ ਨੂੰ ਆਜ਼ਾਦੀ ਮਿਲੀ ਤਾਂ ਉਹ ਉਪ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਬਣਿਆ ਅਤੇ ਗ੍ਰਹਿ, ਰਾਜਾਂ ਅਤੇ ਸੂਚਨਾ ਅਤੇ ਪ੍ਰਸਾਰਣ ਪੋਰਟਫੋਲੀਓ ਲਈ ਜ਼ਿੰਮੇਵਾਰ ਸੀ।</p>
            <p>ਇਸ ਸਮਰੱਥਾ ਵਿੱਚ ਹੀ ਉਸਨੂੰ ਭਾਰਤ ਦੇ ਸੰਘ ਵਿੱਚ ਰਾਜਾਂ ਦੇ ਏਕੀਕਰਨ ਦੀ ਸਭ ਤੋਂ ਗੁੰਝਲਦਾਰ ਅਤੇ ਹੈਰਾਨ ਕਰਨ ਵਾਲੀ ਸਮੱਸਿਆ ਨਾਲ ਨਜਿੱਠਣ ਲਈ ਕਿਹਾ ਗਿਆ ਸੀ। ਅਤੇ ਇਹ ਇੱਥੇ ਹੈ ਕਿ ਉਸਦੀ ਚਾਲ, ਉਸ ਦੇ ਮਨਾਉਣ ਦੀਆਂ ਸ਼ਕਤੀਆਂ ਅਤੇ ਰਾਜਨੀਤਿਕਤਾ ਪੂਰੀ ਤਰ੍ਹਾਂ ਖੇਡਣ ਵਿੱਚ ਆਈ.</p>
            <p>ਉਸਨੇ ਪ੍ਰਸ਼ਨ ਨੂੰ ਸੰਭਾਲਿਆ ਕਿਉਂਕਿ ਉਹ ਸਿਰਫ ਇੱਕ ਸਾਲ ਤੋਂ ਵੀ ਘੱਟ ਸਮੇਂ ਵਿੱਚ ਪ੍ਰਬੰਧਕੀ ਰਾਜ ਪ੍ਰਬੰਧਾਂ ਨੂੰ 562 ਤੋਂ 26 ਪ੍ਰਸ਼ਾਸਕੀ ਇਕਾਈਆਂ ਵਿੱਚ ਘਟਾਉਣ ਅਤੇ ਲੋਕਤੰਤਰ ਨੂੰ ਭਾਰਤ ਦੇ ਤਕਰੀਬਨ 80 ਮਿਲੀਅਨ ਲੋਕਾਂ ਤੱਕ ਪਹੁੰਚਾਉਣ ਲਈ ਸੰਭਾਲ ਸਕਦਾ ਸੀ, ਜਿਸ ਵਿੱਚ ਤਕਰੀਬਨ 27 ਪ੍ਰਤੀਸ਼ਤ ਸ਼ਾਮਲ ਸਨ. ਦੇਸ਼ ਦੀ ਆਬਾਦੀ. ਰਾਜਾਂ ਦੇ ਏਕੀਕਰਣ ਨੂੰ ਨਿਸ਼ਚਿਤ ਰੂਪ ਨਾਲ ਵਲੱਭਭਾਈ ਪਟੇਲ ਦੇ ਜੀਵਨ ਦੀ ਤਾਜਪੋਸ਼ੀ ਦੱਸਿਆ ਜਾ ਸਕਦਾ ਹੈ। ਪਰ ਉਸਦੇ ਲਈ, ਇਹ ਅਸਾਨੀ ਨਾਲ ਅਤੇ ਜਲਦੀ ਪ੍ਰਾਪਤ ਨਹੀਂ ਹੋਇਆ.</p>
            <p>ਗ੍ਰਹਿ ਮੰਤਰੀ ਹੋਣ ਦੇ ਨਾਤੇ, ਉਸਨੇ ਰਾਸ਼ਟਰ ਦੇ ਇਤਿਹਾਸ ਵਿਚ ਬੇਮਿਸਾਲ ਫਿਰਕੂ ਕਲੇਸ਼ ਨਾਲ ਪ੍ਰੇਸ਼ਾਨ ਹੋਏ ਦੇਸ਼ ਵਿਚ ਵਿਵਸਥਾ ਅਤੇ ਸ਼ਾਂਤੀ ਲਿਆਉਣ ਦੀਆਂ ਕੋਸ਼ਿਸ਼ਾਂ ਦੀ ਪ੍ਰਧਾਨਗੀ ਕੀਤੀ। ਉਸਨੇ ਇੱਕ ਮਹਾਨ ਪ੍ਰਸ਼ਾਸਕ ਦੀ ਬੇਰਹਿਮੀ ਕੁਸ਼ਲਤਾ ਨਾਲ ਇਹ ਕਾਰਜ ਪੂਰਾ ਕੀਤਾ.</p>
            <div class="heading-title">
              <h5>ਪਾਰਟੀਸ਼ਨ ਤੋਂ ਬਾਅਦ ਦੀ ਭੂਮਿਕਾ</h5>
            </div>
            <p>ਉਸਨੇ ਵੰਡ ਦੀ ਸਮੱਸਿਆਵਾਂ ਦਾ ਹੱਲ ਕੱ lawਿਆ, ਅਮਨ-ਕਾਨੂੰਨ ਨੂੰ ਬਹਾਲ ਕੀਤਾ ਅਤੇ ਹਜ਼ਾਰਾਂ ਸ਼ਰਨਾਰਥੀਆਂ ਦੇ ਮੁੜ ਵਸੇਬੇ ਦਾ ਬੜੀ ਹਿੰਮਤ ਅਤੇ ਦ੍ਰਿਸ਼ਟੀ ਨਾਲ ਨਜਿੱਠਿਆ। ਉਸਨੇ ਸਾਡੀਆਂ ਸੇਵਾਵਾਂ ਨੂੰ ਪੁਨਰਗਠਿਤ ਕੀਤਾ ਜੋ ਬ੍ਰਿਟਿਸ਼ ਦੇ ਜਾਣ ਨਾਲ ਨਿਰਾਸ਼ ਹੋ ਗਿਆ ਸੀ ਅਤੇ ਸਾਡੀ ਨਵੀਂ ਲੋਕਤੰਤਰ ਨੂੰ ਸਥਿਰ ਪ੍ਰਬੰਧਕੀ ਅਧਾਰ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ ਇੱਕ ਨਵੀਂ ਭਾਰਤੀ ਪ੍ਰਬੰਧਕੀ ਸੇਵਾ ਬਣਾਈ।</p>
            <div class="heading-title">
              <h5>ਕਾਂਗਰਸ ਪਾਰਟੀ ਲਈ ਯੋਗਦਾਨ</h5>
            </div>
            <p>ਜਦੋਂ ਕਿ ਗਾਂਧੀ ਜੀ ਨੇ ਕਾਂਗਰਸ ਨੂੰ ਵਿਆਪਕ ਅਧਾਰਤ ਕਾਰਵਾਈ ਲਈ ਇੱਕ ਪ੍ਰੋਗਰਾਮ ਦਿੱਤਾ, ਇਹ ਵਲੱਲਾਭ ਭਾਈ ਨੇ ਹੀ ਪਾਰਟੀ ਪ੍ਰੋਗਰਾਮਾਂ ਦੀ ਉਸਾਰੀ ਕੀਤੀ ਤਾਂ ਜੋ ਇਸ ਪ੍ਰੋਗਰਾਮ ਨੂੰ ਪੂਰਾ ਕੀਤਾ ਜਾ ਸਕੇ। ਉਸ ਤੋਂ ਪਹਿਲਾਂ ਕਿਸੇ ਨੇ ਵੀ ਪ੍ਰਭਾਵਸ਼ਾਲੀ ਸੰਗਠਨ ਬਣਨ ਦੀ ਜ਼ਰੂਰਤ ਬਾਰੇ thoughtੁਕਵਾਂ ਵਿਚਾਰ ਨਹੀਂ ਕੀਤਾ ਸੀ, ਪਰ ਵਲੱਭਭਾਈ ਨੇ ਆਪਣੀਆਂ ਮੁਹਿੰਮਾਂ ਦੌਰਾਨ ਇਸ ਲੋੜ ਨੂੰ ਮਹਿਸੂਸ ਕੀਤਾ ਅਤੇ ਆਪਣੀ ਸੰਗਠਨਾਤਮਕ ਪ੍ਰਤਿਭਾ ਅਤੇ ਤਾਕਤ ਪਾਰਟੀ ਦੀ ਤਾਕਤ ਵਧਾਉਣ ਲਈ ਸਮਰਪਿਤ ਕਰ ਦਿੱਤੀ ਜੋ ਹੁਣ ਸੰਗਠਿਤ ਅਤੇ ਪ੍ਰਭਾਵਸ਼ਾਲੀ inੰਗ ਨਾਲ ਲੜ ਸਕਦੀ ਹੈ।</p>
            <p>ਪਾਰਟੀ ਸੰਗਠਨ ਉੱਤੇ ਉਸ ਦੀ ਪਕੜ ਪੂਰੀ ਸੀ। ਇਸ ਤਰ੍ਹਾਂ ਵਲੱਭਭਾਈ ਪਟੇਲ ਭਾਰਤ ਦੀ ਆਜ਼ਾਦੀ ਦੇ ਮੁੱਖ ਆਰਕੀਟੈਕਟ ਅਤੇ ਸਰਪ੍ਰਸਤ ਸਨ ਅਤੇ ਦੇਸ਼ ਦੀ ਆਜ਼ਾਦੀ ਨੂੰ ਮਜ਼ਬੂਤ ​​ਕਰਨ ਵਿਚ ਉਨ੍ਹਾਂ ਦਾ ਯੋਗਦਾਨ ਬੇਮਿਸਾਲ ਹੈ।</p>
            <p>ਮੌਤ 15 ਦਸੰਬਰ, 1950 ਨੂੰ ਉਸਦੀ ਮੌਤ ਹੋ ਗਈ, ਆਪਣੇ ਪਿੱਛੇ ਇੱਕ ਬੇਟਾ, ਦਹਿਆਭਾਈ ਪਟੇਲ ਅਤੇ ਇੱਕ ਧੀ, ਮਨੀਬੇਨ ਪਟੇਲ ਨੂੰ ਛੱਡ ਗਿਆ।</p>






            <div class="fb-share-button" data-href="http://sadbhavana.net/biographies-en/SARDAR-VALLABHBHAI-PATEL.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="Vallabhbhai Jhaverbhai Patel, one of the six children of Jhaverbhai Patel and Ladba, was born in Nadiad,
            Gujarat. There is no record of his date of birth. The generally accepted date, October 31, 1875, of which
            the source is his Matriculation certificate...Read more" data-link="https://tinyurl.com/y2xnsz3r" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>


            <!-- article content -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
