<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - ਸ਼੍ਰੀ ਰਾਜੀਵ ਗਾਂਧੀ</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/004/medium/rajiv_gandhi_inc.jpg?1505382674" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>ਸ਼੍ਰੀ ਰਾਜੀਵ ਗਾਂਧੀ</h1>
        <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਸ਼੍ਰੀ ਰਾਜੀਵ ਗਾਂਧੀ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <img class="float-left"
              src="https://cdn.inc.in/inspirations/thumbnails/000/000/004/medium/rajiv_gandhi_inc.jpg?1505382674"
              alt="">
            <p>41 ਸਾਲਾਂ ਦੀ ਉਮਰ ਵਿੱਚ, ਰਾਜੀਵ ਗਾਂਧੀ ਭਾਰਤ ਦੇ ਸਭ ਤੋਂ ਘੱਟ ਉਮਰ ਦੇ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਅਤੇ ਸ਼ਾਇਦ ਦੁਨੀਆਂ ਦੇ ਸਭ ਤੋਂ ਘੱਟ ਚੁਣੇ ਗਏ ਸਰਕਾਰਾਂ ਵਿੱਚੋਂ ਇੱਕ ਸਨ। ਉਸਦੀ ਮਾਤਾ ਇੰਦਰਾ ਗਾਂਧੀ ਅੱਠ ਸਾਲ ਵੱਡੀ ਸੀ ਜਦੋਂ ਉਹ ਪਹਿਲੀ ਵਾਰ 1966 ਵਿਚ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਬਣੀ ਸੀ। ਉਸ ਦੇ ਦਾਦਾ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ 58 ਸਾਲਾਂ ਦੇ ਸਨ ਜਦੋਂ ਉਨ੍ਹਾਂ ਨੇ ਆਜ਼ਾਦ ਭਾਰਤ ਦੇ ਪਹਿਲੇ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਵਜੋਂ ਆਪਣੀ 17 ਸਾਲਾਂ ਦੀ ਪਾਰੀ ਦੀ ਸ਼ੁਰੂਆਤ ਕੀਤੀ ਸੀ।</p>
            <p>ਦੇਸ਼ ਵਿਚ ਪੀੜ੍ਹੀ ਦਰ ਪੀੜ੍ਹੀ ਦੀ ਤਬਦੀਲੀ ਦਾ ਸਰਬੋਤਮ ਹੋਣ ਤੋਂ ਇਲਾਵਾ, ਸ੍ਰੀਮਤੀ ਗਾਂਧੀ ਨੂੰ ਦੇਸ਼ ਦੇ ਇਤਿਹਾਸ ਵਿਚ ਸਭ ਤੋਂ ਵੱਡਾ ਫ਼ਤਵਾ ਮਿਲਿਆ। ਲੋਕ ਸਭਾ ਦੀਆਂ ਚੋਣਾਂ ਵਿਚ, ਜਿਸਨੇ ਉਸਨੇ ਆਪਣੀ ਮ੍ਰਿਤਕ ਮਾਂ ਲਈ ਸੋਗ ਖਤਮ ਹੋਣ ਦਾ ਆਦੇਸ਼ ਦਿੱਤਾ ਸੀ, ਕਾਂਗਰਸ ਪਾਰਟੀ ਨੂੰ ਪਿਛਲੀਆਂ ਸੱਤ ਆਮ ਚੋਣਾਂ ਨਾਲੋਂ ਲੋਕਪ੍ਰਿਯ ਵੋਟਾਂ ਦਾ ਬਹੁਤ ਜ਼ਿਆਦਾ ਅਨੁਪਾਤ ਮਿਲਿਆ ਅਤੇ ਇਸ ਵਿਚੋਂ ਰਿਕਾਰਡ 401 ਸੀਟਾਂ 'ਤੇ ਕਬਜ਼ਾ ਕਰ ਲਿਆ। 508.</p>
            <p>700 ਮਿਲੀਅਨ ਭਾਰਤੀਆਂ ਦੇ ਨੇਤਾ ਵਜੋਂ ਅਜਿਹੀ ਪ੍ਰਭਾਵਸ਼ਾਲੀ ਸ਼ੁਰੂਆਤ ਕਿਸੇ ਵੀ ਸਥਿਤੀ ਵਿੱਚ ਕਮਾਲ ਦੀ ਹੋਵੇਗੀ. ਕਿਹੜੀ ਗੱਲ ਇਸ ਨੂੰ ਹੋਰ ਵੀ ਸੱਚਮੁੱਚ ਵਿਲੱਖਣ ਬਣਾ ਦਿੰਦੀ ਹੈ ਕਿ ਸ੍ਰੀ ਗਾਂਧੀ ਰਾਜਨੀਤੀ ਵਿਚ ਦੇਰ ਨਾਲ ਅਤੇ ਝਿਜਕਣ ਵਾਲੇ ਸਨ ਪਰ ਉਹ ਆਜ਼ਾਦੀ ਸੰਗਰਾਮ ਦੌਰਾਨ ਅਤੇ ਬਾਅਦ ਵਿਚ, ਪੀੜ੍ਹੀਆਂ ਤਕ ਭਾਰਤ ਦੀ ਸੇਵਾ ਕਰਨ ਵਾਲੇ ਇਕ ਬਹੁਤ ਹੀ ਗੰਭੀਰ ਪਰਿਵਾਰ ਨਾਲ ਸਬੰਧਤ ਸਨ।</p>
            <p>ਉਸਦਾ ਜਨਮ 20 ਅਗਸਤ, 1944 ਨੂੰ ਬੰਬੇ ਵਿੱਚ ਹੋਇਆ ਸੀ। ਉਹ ਸਿਰਫ ਤਿੰਨ ਸਾਲਾਂ ਦਾ ਸੀ ਜਦੋਂ ਭਾਰਤ ਸੁਤੰਤਰ ਹੋਇਆ ਅਤੇ ਉਸਦਾ ਦਾਦਾ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਬਣਿਆ। ਉਸਦੇ ਮਾਤਾ ਪਿਤਾ ਲਖਨ. ਤੋਂ ਨਵੀਂ ਦਿੱਲੀ ਚਲੇ ਗਏ। ਉਸ ਦੇ ਪਿਤਾ ਫਿਰੋਜ਼ ਗਾਂਧੀ ਐਮ.ਪੀ. ਉਸਨੇ ਇੱਕ ਨਿਡਰ ਅਤੇ ਮਿਹਨਤੀ ਸੰਸਦ ਮੈਂਬਰ ਵਜੋਂ ਨਾਮਣਾ ਖੱਟਿਆ।</p>
            <p>ਰਾਜੀਵ ਗਾਂਧੀ ਨੇ ਆਪਣਾ ਮੁੱ ਬਚਪਨ ਆਪਣੇ ਦਾਦਾ ਜੀ ਦੇ ਨਾਲ ਟੀਨ ਮੂਰਤੀ ਵਿਚ ਬਿਤਾਇਆ, ਜਿਥੇ ਇੰਦਰਾ ਗਾਂਧੀ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਦੀ ਮੇਜ਼ਬਾਨੀ ਵਜੋਂ ਸੇਵਾ ਨਿਭਾਉਂਦੀ ਸੀ. ਉਹ ਸੰਖੇਪ ਵਿੱਚ ਦੇਹਰਾਦੂਨ ਦੇ ਵੈਲਹੈਮ ਪ੍ਰੈਪ ਵਿਖੇ ਸਕੂਲ ਗਿਆ, ਪਰ ਜਲਦੀ ਹੀ ਹਿਮਾਲੀਆ ਤਲਹੱਟਿਆਂ ਵਿੱਚ ਰਿਹਾਇਸ਼ੀ ਦੂਨ ਸਕੂਲ ਚਲਾ ਗਿਆ। ਉੱਥੇ ਉਸਨੇ ਬਹੁਤ ਸਾਰੀ ਉਮਰ ਦੀ ਦੋਸਤੀ ਕੀਤੀ ਅਤੇ ਉਸਦੇ ਛੋਟੇ ਭਰਾ, ਸੰਜੇ ਵੀ ਉਸ ਨਾਲ ਜੁੜ ਗਿਆ.</p>
            <p>ਸਕੂਲ ਛੱਡਣ ਤੋਂ ਬਾਅਦ, ਸ੍ਰੀਮਤੀ ਗਾਂਧੀ ਕੈਂਬਰਿਜ ਦੇ ਟ੍ਰਿਨਿਟੀ ਕਾਲਜ ਚਲੇ ਗਏ, ਪਰੰਤੂ ਜਲਦੀ ਹੀ ਉਹ ਲੰਡਨ ਦੇ ਇੰਪੀਰੀਅਲ ਕਾਲਜ ਵਿੱਚ ਤਬਦੀਲ ਹੋ ਗਏ। ਉਸਨੇ ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਦਾ ਕੋਰਸ ਕੀਤਾ। ਉਹ ਸੱਚਮੁੱਚ "ਆਪਣੀਆਂ ਪ੍ਰੀਖਿਆਵਾਂ ਲਈ ਜੁਗਤੀ" ਕਰਨ ਵਿੱਚ ਦਿਲਚਸਪੀ ਨਹੀਂ ਰੱਖਦਾ ਸੀ, ਜਿਵੇਂ ਕਿ ਉਸਨੇ ਬਾਅਦ ਵਿੱਚ ਕਹਿਣਾ ਸੀ.</p>
            <p>ਇਸ ਸਮੇਂ ਤਕ ਇਹ ਸਪੱਸ਼ਟ ਹੋ ਗਿਆ ਸੀ ਕਿ ਰਾਜਨੀਤੀ ਉਸ ਨੂੰ ਕਰੀਅਰ ਵਜੋਂ ਰੁਚੀ ਨਹੀਂ ਰੱਖਦੀ ਸੀ. ਉਸਦੇ ਸਹਿਪਾਠੀਆਂ ਦੇ ਅਨੁਸਾਰ, ਉਸ ਦੀਆਂ ਕਿਤਾਬਾਂ ਦੇ ਸ਼ੈਲਫ ਵਿਗਿਆਨ ਅਤੇ ਇੰਜੀਨੀਅਰਿੰਗ ਦੀਆਂ ਖੰਡਾਂ ਨਾਲ ਬੱਝੇ ਹੋਏ ਸਨ, ਦਰਸ਼ਨ, ਰਾਜਨੀਤੀ ਜਾਂ ਇਤਿਹਾਸ ਉੱਤੇ ਨਹੀਂ. ਸੰਗੀਤ, ਹਾਲਾਂਕਿ, ਉਸ ਦੇ ਹਿੱਤਾਂ ਵਿੱਚ ਮਾਣ ਦਾ ਸਥਾਨ ਰਿਹਾ ਹੈ. ਉਸਨੂੰ ਪੱਛਮੀ ਅਤੇ ਹਿੰਦੁਸਤਾਨੀ ਕਲਾਸੀਕਲ ਸੰਗੀਤ ਦੇ ਨਾਲ ਨਾਲ ਆਧੁਨਿਕ ਸੰਗੀਤ ਵੀ ਪਸੰਦ ਸੀ। ਹੋਰ ਰੁਚੀਆਂ ਵਿੱਚ ਫੋਟੋਗ੍ਰਾਫੀ ਅਤੇ ਸ਼ੁਕੀਨ ਰੇਡੀਓ ਸ਼ਾਮਲ ਸਨ.</p>
            <p>ਉਸ ਦਾ ਸਭ ਤੋਂ ਵੱਡਾ ਜਨੂੰਨ ਹਮੇਸ਼ਾਂ ਉਡਦਾ ਰਿਹਾ. ਇਸ ਲਈ ਕੋਈ ਹੈਰਾਨੀ ਦੀ ਗੱਲ ਨਹੀਂ ਕਿ ਇੰਗਲੈਂਡ ਤੋਂ ਘਰ ਪਰਤਣ 'ਤੇ, ਉਸਨੇ ਜਲਦੀ ਹੀ ਦਿੱਲੀ ਫਲਾਇੰਗ ਕਲੱਬ ਵਿਚ ਦਾਖਲਾ ਪ੍ਰੀਖਿਆ ਪਾਸ ਕੀਤੀ, ਵਪਾਰਕ ਪਾਇਲਟ ਦਾ ਲਾਇਸੈਂਸ ਪ੍ਰਾਪਤ ਕਰਨ ਲਈ ਚਲਾ ਗਿਆ ਅਤੇ ਜਲਦੀ ਹੀ ਘਰੇਲੂ ਰਾਸ਼ਟਰੀ ਕੈਰੀਅਰ, ਇੰਡੀਅਨ ਏਅਰਲਾਇੰਸ ਵਿਚ ਪਾਇਲਟ ਬਣ ਗਿਆ.</p>
            <p>ਟ੍ਰਿਨਿਟੀ ਕਾਲਜ ਵਿਚ ਪੜ੍ਹਦੇ ਸਮੇਂ, ਉਸ ਨੇ ਕੈਮਬ੍ਰਿਜ ਸ਼ਹਿਰ ਵਿਚ ਬੈਲ ਐਜੂਕੇਸ਼ਨਲ ਟਰੱਸਟ ਦੇ ਭਾਸ਼ਾ ਸਕੂਲ ਵਿਚ ਇੰਗਲਿਸ਼ ਦੀ ਪੜ੍ਹਾਈ ਕਰ ਰਹੇ ਇਕ ਇਟਲੀ ਵਿਦਿਆਰਥੀ ਨਾਲ ਮੁਲਾਕਾਤ ਕੀਤੀ, ਜਿਸਦਾ ਨਾਮ ਐਡਵਿਜ ਐਂਟੋਨੀਆ ਐਲਬੀਨਾ ਮਾਇਨੋ ਹੈ. ਬਾਅਦ ਵਿਚ ਉਹ ਉਸ ਨਾਲ 1968 ਵਿਚ ਨਵੀਂ ਦਿੱਲੀ ਵਿਚ ਇਕ ਹਿੰਦੂ ਸਮਾਰੋਹ ਵਿਚ ਵਿਆਹ ਕਰਾਏਗਾ। ਰਾਜੀਵ ਗਾਂਧੀ ਅਤੇ ਉਸਦੀ ਪਤਨੀ, ਜੋ ਹੁਣ ਸੋਨੀਆ ਗਾਂਧੀ ਵਜੋਂ ਜਾਣੇ ਜਾਂਦੇ ਹਨ, ਸ਼੍ਰੀਮਤੀ ਵਿਚ ਰਹੇ. ਇੰਦਰਾ ਗਾਂਧੀ ਦੀ ਰਿਹਾਇਸ਼ ਉਨ੍ਹਾਂ ਦੇ ਦੋ ਬੱਚਿਆਂ, ਬੇਟੇ ਰਾਹੁਲ ਅਤੇ ਬੇਟੀ ਪ੍ਰਿਯੰਕਾ ਨਾਲ ਨਵੀਂ ਦਿੱਲੀ ਵਿੱਚ ਹੈ। ਆਲੇ ਦੁਆਲੇ ਦੇ ਦਿਨ ਅਤੇ ਰਾਜਨੀਤਿਕ ਗਤੀਵਿਧੀਆਂ ਦੇ ਬਾਵਜ਼ੂਦ ਦੇ ਬਾਵਜੂਦ ਉਨ੍ਹਾਂ ਦਾ ਬਹੁਤ ਨਿੱਜੀ ਜੀਵਨ ਸੀ.</p>
            <p>ਪਰ ਸੰਜੇ ਦੀ 1980 ਵਿਚ ਇਕ ਹਵਾਈ ਹਾਦਸੇ ਵਿਚ ਹੋਈ ਮੌਤ ਨੇ ਉਸ ਸਭ ਨੂੰ ਬਦਲ ਦਿੱਤਾ. ਸ਼੍ਰੀਮਤੀ ਗਾਂਧੀ 'ਤੇ ਆਪਣੀ ਮਾਂ ਦੀ ਮਦਦ ਲਈ ਰਾਜਨੀਤੀ ਵਿਚ ਦਾਖਲ ਹੋਣ ਦਾ ਦਬਾਅ, ਫਿਰ ਬਹੁਤ ਸਾਰੀਆਂ ਅੰਦਰੂਨੀ ਅਤੇ ਬਾਹਰੀ ਚੁਣੌਤੀਆਂ ਦੁਆਰਾ ਘੇਰਿਆ ਗਿਆ. ਉਸਨੇ ਪਹਿਲਾਂ ਇਨ੍ਹਾਂ ਦਬਾਵਾਂ ਦਾ ਵਿਰੋਧ ਕੀਤਾ ਪਰ ਬਾਅਦ ਵਿੱਚ ਉਨ੍ਹਾਂ ਦੇ ਤਰਕ ਅੱਗੇ ਝੁਕ ਗਏ. ਉਸਨੇ ਯੂਪੀ ਵਿੱਚ ਅਮੇਠੀ ਤੋਂ, ਆਪਣੇ ਭਰਾ ਦੀ ਮੌਤ ਕਾਰਨ ਸੰਸਦ ਦੀ ਉਪ ਚੋਣ ਜਿੱਤੀ। ਸੰਸਦੀ ਖੇਤਰ ਨੇ ਉਸ ਨੂੰ ਵੱਡੇ ਫਰਕ ਨਾਲ ਵਾਪਸ ਕਰ ਦਿੱਤਾ, ਜੋ ਕਿ ਇਕ ਕੌਮੀ ਰਿਕਾਰਡ ਵੀ ਬਣ ਗਿਆ ਹੈ.</p>
            <p>31 ਅਕਤੂਬਰ, 1984 ਨੂੰ ਇੰਦਰਾ ਗਾਂਧੀ ਦੀ ਬੇਰਹਿਮੀ ਨਾਲ ਹੋਈ ਹੱਤਿਆ ਦੇ ਬਾਅਦ ਸ਼੍ਰੀਮਤੀ ਗਾਂਧੀ ਦੀ ਬਜਾਏ ਵਧੇਰੇ ਦੁਖਦਾਈ ਅਤੇ ਦੁਖਦਾਈ ਹਾਲਤਾਂ ਵਿੱਚ ਕੋਈ ਵੀ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਅਤੇ ਕਾਂਗਰਸ ਦੇ ਪ੍ਰਧਾਨ ਬਣਨ ਲਈ ਸੱਤਾ ਉੱਤੇ ਨਹੀਂ ਚੜ੍ਹ ਸਕਦਾ ਸੀ। ਪਰ ਉਸ ਨੇ ਨਿਜੀ ਭਾਰੂ ਬੋਝ ਪਾਇਆ। ਦੁੱਖ ਅਤੇ ਕਮਾਲ ਦੀ ਅਮੀਰੀ, ਸਤਿਕਾਰ ਅਤੇ ਸੰਜਮ ਨਾਲ ਰਾਸ਼ਟਰੀ ਜ਼ਿੰਮੇਵਾਰੀ.</p>
            <p>1989 ਦੀਆਂ ਚੋਣਾਂ ਵਿਚ ਕਾਂਗਰਸ ਹਾਰ ਗਈ ਅਤੇ ਸ੍ਰੀ ਗਾਂਧੀ ਵਿਰੋਧੀ ਧਿਰ ਦੇ ਨੇਤਾ ਬਣੇ। ਨੈਸ਼ਨਲ ਫਰੰਟ 1991 ਦੇ ਸ਼ੁਰੂ ਵਿਚ sedਹਿ ਗਿਆ ਅਤੇ ਮਈ, 1991 ਵਿਚ ਚੋਣਾਂ ਦਾ ਐਲਾਨ ਕੀਤਾ ਗਿਆ। 21 ਮਈ, 1991 ਨੂੰ ਤਾਮਿਲਨਾਡੂ ਦੇ ਸ੍ਰੀਪੇਰੁੰਮਬਦੂਰ ਵਿਖੇ ਇਕ ਦਰਦਨਾਕ ਬੰਬ ਧਮਾਕੇ ਵਿਚ ਉਸ ਦੀ ਮੌਤ ਹੋ ਗਈ।</p>
            <p>ਇੱਕ ਆਧੁਨਿਕ ਸੋਚ ਵਾਲਾ, ਫੈਸਲਾਕੁੰਨ, ਪਰ ਨਿਰਣਾਇਕ ਆਦਮੀ, ਸ੍ਰੀਮਤੀ ਗਾਂਧੀ ਉੱਚ ਤਕਨੀਕ ਦੀ ਦੁਨੀਆ ਵਿੱਚ ਘਰ ਸੀ। ਅਤੇ, ਜਿਵੇਂ ਉਸਨੇ ਬਾਰ ਬਾਰ ਕਿਹਾ ਸੀ, ਉਸਦਾ ਮੁੱਖ ਉਦੇਸ਼, ਭਾਰਤ ਦੀ ਏਕਤਾ ਨੂੰ ਬਚਾਉਣ ਤੋਂ ਇਲਾਵਾ, ਇਸਨੂੰ ਇੱਕੀਵੀਂ ਸਦੀ ਵਿੱਚ ਅੱਗੇ ਵਧਾਉਣਾ ਸੀ।</p>
            

            <div class="fb-share-button" data-href="http://sadbhavana.net/biographies-en/SHRI-RAJIV-GANDHI.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="At 41, Rajiv Gandhi was the youngest Prime Minister of India and perhaps one of the youngest elected
            heads of Government in the world. His mother, Indira Gandhi, was eight years older when she first became
            Prime Minister in 1966. His illustrious grandfather...Read more" data-link="https://tinyurl.com/y4fm8uk2" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>

            <!-- article content -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
