<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - ਸ਼੍ਰੀ ਕੇ ਕਮਰਾਜ</title>
  <meta name="description" content="" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>ਸ਼੍ਰੀ ਕੇ ਕਮਰਾਜ</h1>
        <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਸ਼੍ਰੀ ਕੇ ਕਮਰਾਜ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <img class="float-left"
              src="https://cdn.inc.in/inspirations/thumbnails/000/000/011/medium/Kamraj_inc.jpg?1505457353" alt="">
            <p>1964 ਵਿਚ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਦੇ ਦੇਹਾਂਤ ਤੋਂ ਬਾਅਦ, 1969 ਵਿਚ ਕਾਂਗਰਸ ਦੇ ਫੁੱਟ ਪੈਣ ਤੋਂ ਬਾਅਦ ਕੁਮਾਰਸਵਾਮੀ ਕਾਮਰਾਜ ਨੇ ਭਾਰਤ ਦੀ ਕਿਸਮਤ ਨੂੰ inਾਲਣ ਵਿਚ ਮੋਹਰੀ ਭੂਮਿਕਾ ਨਿਭਾਈ।</p>
            <p>ਉਹ 15 ਜੁਲਾਈ, 1903 ਨੂੰ ਤਾਮਿਲਨਾਡੂ ਦੇ ਇੱਕ ਪਛੜੇ ਖੇਤਰ ਵਿੱਚ ਨਿਮਰ ਅਤੇ ਗਰੀਬ ਪੈਦਾ ਹੋਇਆ ਸੀ। ਉਹ ਇੱਕ ਨਾਦਰ ਸੀ, ਜੋ ਹਿੰਦੂ ਸਮਾਜ ਦੀ ਸਭ ਤੋਂ ਉਦਾਸ ਜਾਤੀਆਂ ਵਿੱਚੋਂ ਇੱਕ ਸੀ। ਉਸਦੀ ਸਕੂਲ ਦੀ ਪੜ੍ਹਾਈ ਸਿਰਫ ਛੇ ਸਾਲ ਚੱਲੀ. ਬਾਰਾਂ ਸਾਲਾਂ ਦੀ ਉਮਰ ਵਿਚ ਉਹ ਪਹਿਲਾਂ ਹੀ ਦੁਕਾਨ ਦੇ ਸਹਾਇਕ ਵਜੋਂ ਕੰਮ ਕਰ ਰਿਹਾ ਸੀ. ਉਹ ਸਿਰਫ ਪੰਦਰਾਂ ਸਾਲਾਂ ਦਾ ਸੀ ਜਦੋਂ ਉਸਨੇ ਜਲ੍ਹਿਆਂਵਾਲਾ ਬਾਗ ਦੇ ਕਤਲੇਆਮ ਬਾਰੇ ਸੁਣਿਆ ਜੋ ਉਸਦੀ ਜ਼ਿੰਦਗੀ ਦਾ ਨਵਾਂ ਮੋੜ ਸੀ.</p>
            <p>ਦੋ ਸਾਲਾਂ ਬਾਅਦ ਜਦੋਂ ਕਾਮਰਾਜ ਨੇ ਗਾਂਧੀ ਜੀ ਨੂੰ ਮਦੁਰੈ ਵਿਖੇ ਵੇਖਿਆ, ਉਹ ਜਾਣਦਾ ਸੀ ਕਿ ਉਸ ਦਾ ਰਸਤਾ ਚੁਣਿਆ ਗਿਆ ਸੀ.</p>
            <p>ਉਹ ਇੰਡੀਅਨ ਨੈਸ਼ਨਲ ਕਾਂਗਰਸ ਦਾ ਮੈਂਬਰ ਬਣ ਗਿਆ। ਕਾਮਰਾਜ ਕਈ ਸਾਲਾਂ ਤੋਂ ਇੱਕ ਰੈਂਕ ਬਣੇ ਰਹਿਣ ਅਤੇ ਕਾਂਗਰਸ ਦੇ ਸਵੈਸੇਵਕ ਦਾਇਰ ਕਰਨ ਲਈ ਸੰਤੁਸ਼ਟ ਰਹੇ, ਆਜ਼ਾਦੀ ਅੰਦੋਲਨ ਦੇ ਕਾਰਨਾਂ ਲਈ ਸਖਤ ਮਿਹਨਤ ਕਰਦਿਆਂ, ਆਪਣੇ ਨਿੱਜੀ ਸੁੱਖ ਸੁਵਿਧਾ ਜਾਂ ਕੈਰੀਅਰ ਨੂੰ ਅਣਜਾਣ ਬਣਾਇਆ।</p>
            <p>ਉਹ ਅਠਾਰਾਂ ਸਾਲਾਂ ਦਾ ਸੀ ਜਦੋਂ ਉਸਨੇ ਬ੍ਰਿਟਿਸ਼ ਨਾਲ ਅਸਹਿਯੋਗ ਲਈ ਗਾਂਧੀ ਜੀ ਦੇ ਸੱਦੇ ਦਾ ਹੁੰਗਾਰਾ ਭਰਿਆ। ਉਸਨੇ ਪਿੰਡਾਂ ਵਿੱਚ ਪ੍ਰਚਾਰ ਕੀਤਾ, ਕਾਂਗਰਸ ਦੇ ਕੰਮਾਂ ਲਈ ਫੰਡ ਇਕੱਠੇ ਕੀਤੇ ਅਤੇ ਮੀਟਿੰਗਾਂ ਦੇ ਆਯੋਜਨ ਵਿੱਚ ਮੋਹਰੀ ਹਿੱਸਾ ਲਿਆ। ਵੀਹ ਸਾਲ ਦੀ ਉਮਰ ਵਿਚ ਉਸਨੂੰ ਸਤਿਆਮੂਰਤੀ ਨੇ ਚੁੱਕ ਲਿਆ, ਇਕ ਮਹਾਨ ਵਕਤਾ ਅਤੇ ਤਾਮਿਲਨਾਡੂ ਕਾਂਗਰਸ ਕਮੇਟੀ ਦੀ ਇਕ ਪ੍ਰਮੁੱਖ ਸ਼ਖਸੀਅਤ, ਜੋ ਕਾਮਰਾਜ ਦਾ ਰਾਜਨੀਤਿਕ ਗੁਰੂ ਬਣ ਜਾਵੇਗਾ।</p>
            <p>ਅਪ੍ਰੈਲ 1930 ਵਿਚ, ਕਾਮਰਾਜ ਵੇਦਰਨਯਮ ਵਿਖੇ ਨਮਕ ਸਤਿਆਗ੍ਰਹਿ ਅੰਦੋਲਨ ਵਿਚ ਸ਼ਾਮਲ ਹੋਏ ਅਤੇ ਦੋ ਸਾਲਾਂ ਦੀ ਕੈਦ ਦੀ ਸਜ਼ਾ ਸੁਣਾਈ ਗਈ - ਜੇਲ੍ਹ ਵਿਚ ਉਨ੍ਹਾਂ ਦਾ ਸਭ ਤੋਂ ਪਹਿਲਾਂ ਪੈਂਤੜਾ ਸੀ. ਜੇਲ੍ਹ ਜਾਣਾ ਉਸ ਦੇ ਕੈਰੀਅਰ ਦਾ ਇਕ ਹਿੱਸਾ ਬਣ ਗਿਆ ਸੀ ਅਤੇ ਸਾਰੇ ਵਿਚ ਉਹ ਛੇ ਵਾਰ ਜੇਲ੍ਹ ਗਿਆ ਅਤੇ ਬ੍ਰਿਟਿਸ਼ ਜੇਲ੍ਹਾਂ ਵਿਚ 3,000 ਤੋਂ ਜ਼ਿਆਦਾ ਦਿਨ ਬਿਤਾਏ.</p>
            <p>ਬੈਚਲਰ ਕਾਮਰਾਜ ਚਾਲੀਵੇਂ ਸਾਲ ਦਾ ਸੀ ਜਦੋਂ ਭਾਰਤ ਅਜ਼ਾਦ ਹੋਇਆ ਸੀ. ਕਾਮਰਾਜ ਫਰਵਰੀ, 1940 ਵਿਚ ਤਾਮਿਲਨਾਡੂ ਕਾਂਗਰਸ ਕਮੇਟੀ ਦੇ ਪ੍ਰਧਾਨ ਚੁਣੇ ਗਏ ਸਨ। ਉਨ੍ਹਾਂ ਨੇ ਇਹ ਅਹੁਦਾ 1954 ਤਕ ਰਿਹਾ। ਉਹ 1947 ਤੋਂ ਏ.ਆਈ.ਸੀ.ਸੀ. ਦੀ ਵਰਕਿੰਗ ਕਮੇਟੀ ਵਿਚ ਰਹੇ, ਜਦੋਂ ਤਕ ਕਾਂਗਰਸ 1932 ਵਿਚ ਫੁੱਟ ਗਈ, ਜਾਂ ਤਾਂ ਮੈਂਬਰ ਵਜੋਂ ਜਾਂ ਵਿਸ਼ੇਸ਼ ਸੱਦੇ ਵਜੋਂ।</p>
            <p>ਕਾਮਰਾਜ 1937 ਵਿਚ ਬਿਨਾਂ ਮੁਕਾਬਲਾ ਮਦਰਾਸ ਵਿਧਾਨ ਸਭਾ ਲਈ ਚੁਣਿਆ ਗਿਆ ਸੀ। ਉਹ ਫਿਰ 1946 ਵਿਚ ਇਸ ਲਈ ਚੁਣੇ ਗਏ। ਉਹ 1946 ਵਿਚ ਭਾਰਤ ਦੀ ਸੰਵਿਧਾਨ ਸਭਾ ਅਤੇ ਫਿਰ 1952 ਵਿਚ ਸੰਸਦ ਲਈ ਵੀ ਚੁਣੇ ਗਏ ਸਨ।</p>
            <p>ਉਹ 1954 ਵਿਚ ਮਦਰਾਸ ਦੇ ਮੁੱਖ ਮੰਤਰੀ ਬਣੇ ਸਨ। ਉਹ ਸ਼ਾਇਦ ਭਾਰਤ ਦਾ ਸਭ ਤੋਂ ਪਹਿਲਾਂ ਜਾਣਿਆ ਜਾਣ ਵਾਲਾ ਮੁੱਖ ਮੰਤਰੀ ਸੀ। ਪਰੰਤੂ ਉਸਦੇ ਪ੍ਰਸ਼ਾਸਨ ਦੇ ਨੌਂ ਸਾਲਾਂ ਦੇ ਸਮੇਂ ਦੌਰਾਨ ਹੀ ਤਾਮਿਲਨਾਡੂ ਭਾਰਤ ਦੇ ਸਭ ਤੋਂ ਵਧੀਆ ਪ੍ਰਸ਼ਾਸਕੀ ਰਾਜਾਂ ਵਿੱਚੋਂ ਇੱਕ ਵਜੋਂ ਜਾਣਿਆ ਜਾਣ ਲੱਗਾ.</p>
            <p>1963 ਵਿਚ ਉਸਨੇ ਨਹਿਰੂ ਨੂੰ ਸੁਝਾਅ ਦਿੱਤਾ ਕਿ ਸੀਨੀਅਰ ਕਾਂਗਰਸੀ ਨੇਤਾ ਸੰਗਠਨਾਤਮਕ ਕੰਮ ਕਰਨ ਲਈ ਮੰਤਰੀ ਦੇ ਅਹੁਦੇ ਛੱਡ ਦੇਣ। ਇਹ ਸੁਝਾਅ 'ਕਾਮਰਾਜ ਯੋਜਨਾ' ਵਜੋਂ ਜਾਣਿਆ ਜਾਂਦਾ ਹੈ, ਜੋ ਮੁੱਖ ਤੌਰ 'ਤੇ ਸੱਤਾ ਦੇ ਲਾਲਚ ਨੂੰ ਕਾਂਗਰਸੀਆਂ ਦੇ ਮਨਾਂ ਤੋਂ ਦੂਰ ਕਰਨ ਲਈ ਤਿਆਰ ਕੀਤਾ ਗਿਆ ਸੀ, ਜਿਸ ਨਾਲ ਇਸਦੀ ਜਗ੍ਹਾ ਸੰਗਠਨ ਦੇ ਉਦੇਸ਼ਾਂ ਅਤੇ ਨੀਤੀਆਂ ਪ੍ਰਤੀ ਸਮਰਪਿਤ ਲਗਾਵ ਪੈਦਾ ਹੁੰਦਾ ਸੀ।</p>
            <p>ਇਸ ਯੋਜਨਾ ਨੂੰ ਕਾਂਗਰਸ ਵਰਕਿੰਗ ਕਮੇਟੀ ਨੇ ਮਨਜ਼ੂਰੀ ਦੇ ਦਿੱਤੀ ਸੀ ਅਤੇ ਦੋ ਮਹੀਨਿਆਂ ਵਿਚ ਇਸ ਨੂੰ ਲਾਗੂ ਕਰ ਦਿੱਤਾ ਗਿਆ ਸੀ। ਯੋਜਨਾ ਤਹਿਤ ਛੇ ਮੁੱਖ ਮੰਤਰੀਆਂ ਅਤੇ ਛੇ ਕੇਂਦਰੀ ਮੰਤਰੀਆਂ ਨੇ ਅਸਤੀਫਾ ਦੇ ਦਿੱਤਾ। ਕਾਮਰਾਜ ਨੂੰ ਬਾਅਦ ਵਿਚ 9 ਅਕਤੂਬਰ 1963 ਨੂੰ ਇੰਡੀਅਨ ਨੈਸ਼ਨਲ ਕਾਂਗਰਸ ਦਾ ਪ੍ਰਧਾਨ ਚੁਣਿਆ ਗਿਆ ਸੀ।</p>
            <p>ਦੋ ਵਾਰ ਉਸਨੇ ਭਾਰਤ ਦੇ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਦੀ ਚੋਣ ਕਰਨ ਵਿਚ ਮੋਹਰੀ ਭੂਮਿਕਾ ਨਿਭਾਈ। 1967 ਵਿਚ ਵੀਰੂਧਨਗਰ ਵਿਚ ਉਸਦੀ ਹਾਰ ਨੇ ਉਸ ਦੀ ਵੱਕਾਰੀ ਨੂੰ ਕਾਫ਼ੀ ਕਮਜ਼ੋਰ ਕਰ ਦਿੱਤਾ। ਇੱਥੋਂ ਤੱਕ ਕਿ ਇਹ ਵੀ ਕਿਹਾ ਗਿਆ ਸੀ ਕਿ ਉਹ ਬਹੁਤ ਨਿਰਾਸ਼ ਆਦਮੀ ਸੀ. ਪਰ 1969 ਵਿਚ ਨਾਗੇਰਕੁਇਲ ਵਿਖੇ ਹੋਈ ਜ਼ਮੀਨ ਖਿਸਕਣ ਦੀ ਜਿੱਤ ਨੇ ਉਸ ਦੇ ਰਾਜਨੀਤਿਕ ਕੱਦ ਨੂੰ ਮੁੜ ਜੀਵਿਤ ਕਰ ਦਿੱਤਾ. ਹਾਲਾਂਕਿ, 1969 ਵਿਚ ਕਾਂਗਰਸ ਵਿਚ ਫੁੱਟ (ਉਹ ਸੰਗਠਨ ਕਾਂਗਰਸ ਵਿਚ ਰਿਹਾ) ਅਤੇ 1971 ਦੀਆਂ ਆਮ ਚੋਣਾਂ, ਨਤੀਜੇ ਵਜੋਂ ਉਸ ਦੇ ਰਾਜਨੀਤਿਕ ਵੱਕਾਰ ਅਤੇ ਅਧਿਕਾਰ ਵਿਚ ਇਕ ਹੋਰ ਤਬਦੀਲੀ ਆਈ.</p>
            <p>ਕੁਮਾਰਸਵਾਮੀ ਕਾਮਰਾਜ ਬਹੁਤ ਅੰਤ ਤੱਕ ਲੋਕਾਂ ਵਿਚ ਚੁੱਪ ਚਾਪ ਕੰਮ ਕਰਦਾ ਰਿਹਾ। ਉਨ੍ਹਾਂ ਨੂੰ 1976 ਵਿੱਚ, ਭਾਰਤ ਦੇ ਸਰਵਉੱਚ ਨਾਗਰਿਕ ਪੁਰਸਕਾਰ, ਭਾਰਤ ਰਤਨ ਨਾਲ ਮਰੇ-ਮੋਟੇ ਸਨਮਾਨਤ ਕੀਤਾ ਗਿਆ ਸੀ।</p>

            <!-- article content -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

</body>

</html>
