<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - ਸ੍ਰੀ ਲਾਲ  ਬਹਾਦਰ ਸ਼ਾਸਤਰੀ</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/013/medium/lal_bahadur_shastri_inc.jpg?1505457614" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>ਸ੍ਰੀ ਲਾਲ  ਬਹਾਦਰ ਸ਼ਾਸਤਰੀ</h1>
        <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਸ੍ਰੀ ਲਾਲ  ਬਹਾਦਰ ਸ਼ਾਸਤਰੀ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <img class="float-left"
              src="https://cdn.inc.in/inspirations/thumbnails/000/000/013/medium/lal_bahadur_shastri_inc.jpg?1505457614"
              alt="">
            <div class="heading-title">
              <h5>ਲਾਲ ਬਹਾਦੁਰ ਸ਼ਾਸਤਰੀ ਨੂੰ ਸ਼ਰਧਾਂਜਲੀ</h5>
            </div>
            <p>(11 ਜਨਵਰੀ, 1967, ਨਵੀਂ ਦਿੱਲੀ, ਸਰਬ ਪਾਰਟੀ ਯਾਦਗਾਰੀ ਮੀਟਿੰਗ ਵਿੱਚ ਮਰਹੂਮ ਪ੍ਰਧਾਨ ਮੰਤਰੀ, ਸ਼੍ਰੀ ਲਾਲ ਬਹਾਦੁਰ ਸ਼ਾਸਤਰੀ ਨੂੰ ਸ਼ਰਧਾਂਜਲੀ ਤੋਂ)</p>
            <p>ਅੱਜ ਦਾ ਦਿਨ ਸਾਡੇ ਲਈ ਅਤੇ ਸਮੁੱਚੀ ਕੌਮ ਲਈ ਯਾਦਗਾਰੀ ਯਾਦਾਂ ਦਾ ਦਿਨ ਹੈ. ਅਸੀਂ ਇੱਥੇ ਆਪਣੇ ਸਵਰਗਵਾਸੀ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਸ਼੍ਰੀ ਲਾਲ ਬਹਾਦੁਰ ਸ਼ਾਸਤਰੀ ਦੀ ਯਾਦ ਨੂੰ ਸ਼ਰਧਾਂਜਲੀ ਭੇਟ ਕਰਨ ਲਈ ਮਿਲੇ ਹਾਂ, ਜਿਨ੍ਹਾਂ ਨੇ ਇੱਕ ਸਾਲ ਪਹਿਲਾਂ ਦੇਸ਼ ਦੀ ਸੇਵਾ ਵਿੱਚ ਆਪਣਾ ਜੀਵਨ ਦਿੱਤਾ ਸੀ। ਸ਼ਾਸਤਰੀ ਜੀ ਸ਼ਾਂਤ ਮਹਾਨਤਾ ਵਾਲੇ ਮਨੁੱਖ ਸਨ, ਜੋ ਭਾਰਤ ਅਤੇ ਸ਼ਾਂਤੀ ਲਈ ਰਹਿੰਦੇ ਸਨ, ਅਤੇ ਜੋ ਭਾਰਤ ਅਤੇ ਸ਼ਾਂਤੀ ਲਈ ਮਰਦੇ ਸਨ। ਉਸ ਦੀ ਪਛਾਣ ਭਾਰਤੀ ਲੋਕਾਂ ਨਾਲ ਹੋਈ। ਉਹ ਸੇਵਾ ਦੀ ਭਾਵਨਾ ਨਾਲ ਰੰਗਿਆ ਹੋਇਆ ਸੀ ਅਤੇ ਉਹ ਹਮੇਸ਼ਾ ਲੋਕਾਂ ਦੀ ਭਲਾਈ ਬਾਰੇ ਸੋਚਦਾ ਸੀ। ਉਸਨੇ ਸਖਤ ਅਜ਼ਮਾਇਸ਼ਾਂ ਦੇ ਸਮੇਂ ਸਾਡੇ ਦੇਸ਼ ਦੀ ਅਗਵਾਈ ਕੀਤੀ, ਅਤੇ ਭਾਰਤ ਨੂੰ ਏਕਤਾ ਅਤੇ ਦ੍ਰਿੜਤਾ ਦਰਸਾਉਣ ਵਿੱਚ ਸਹਾਇਤਾ ਕੀਤੀ.</p>
            <p>ਸ਼ਾਸਤਰੀ ਜੀ ਗਾਂਧੀਵਾਦੀ ਯੁੱਗ ਦਾ ਮਹਾਨ ਉਤਪਾਦ ਸਨ। ਗਾਂਧੀ ਜੀ ਦੀ ਮੁ teachingਲੀ ਸਿੱਖਿਆ ਇਹ ਸੀ ਕਿ ਸਾਰੇ ਆਦਮੀ ਭਰਾ ਹਨ ਅਤੇ ਉਨ੍ਹਾਂ ਵਿਚਲੇ ਮਤਭੇਦਾਂ ਨੂੰ ਅਹਿੰਸਕ settledੰਗ ਨਾਲ ਸੁਲਝਾਇਆ ਜਾਣਾ ਚਾਹੀਦਾ ਹੈ। ਗਾਂਧੀ ਜੀ ਪ੍ਰਤੀ ਅਹਿੰਸਾ ਦਾ ਭਾਵ ਸਿਰਫ ਹਿੰਸਾ ਦੀ ਅਣਹੋਂਦ ਨਹੀਂ ਸੀ। ਇਹ ਇੱਕ ਨਕਾਰਾਤਮਕ ਸੰਕਲਪ ਨਹੀਂ ਸੀ; ਇਹ ਹਮੇਸ਼ਾਂ ਦੋਸਤੀ ਅਤੇ ਮੇਲ-ਮਿਲਾਪ ਦੀ ਕੋਸ਼ਿਸ਼ ਕਰਨਾ, ਇਹ ਵਿਸ਼ਵਾਸ ਕਰਨਾ ਇੱਕ ਸਕਾਰਾਤਮਕ ਗੁਣ ਸੀ ਕਿ ਲੋਕ ਸਿਰਫ ਸ਼ਾਂਤੀ ਅਤੇ ਇਸ ਦੇ ਜ਼ਰੀਏ ਉੱਚ ਪੱਧਰੀ ਜੀਵਣ ਵੱਲ ਵਧ ਸਕਦੇ ਹਨ. ਇਸ ਤਰ੍ਹਾਂ ਅਸੀਂ ਬ੍ਰਿਟਿਸ਼ ਨਾਲ ਲੜਿਆ, ਹਿੰਸਾ ਨੂੰ ਰੋਕਦਿਆਂ ਅਤੇ ਸੁਲ੍ਹਾ ਅਤੇ ਗੱਲਬਾਤ 'ਤੇ ਪੂਰਾ ਵਿਸ਼ਵਾਸ ਕੀਤਾ. ਇਹ ਸ਼ਾਸਤਰੀ ਜੀ ਦਾ ਵਿਸ਼ਵਾਸ ਵੀ ਸੀ ਅਤੇ ਜਿਵੇਂ ਕਿ ਮੈਂ ਕਿਹਾ ਹੈ, ਉਹ ਨਾ ਸਿਰਫ ਇਸਦੇ ਲਈ ਜੀਉਂਦਾ ਰਿਹਾ, ਬਲਕਿ ਉਸਨੇ ਇਸਦੇ ਲਈ ਆਪਣੀ ਜਾਨ ਵੀ ਦੇ ਦਿੱਤੀ.</p>
            <p>ਅਸੀਂ ਆਪਣੀ ਅੰਦਰੂਨੀ ਅਤੇ ਅੰਤਰਰਾਸ਼ਟਰੀ ਨੀਤੀਆਂ 'ਤੇ ਇਸ ਡੂੰਘੇ ਵਿਸ਼ਵਾਸ ਨੂੰ ਦਰਸਾਉਣ ਲਈ ਆਜ਼ਾਦੀ ਦੇ 19-ਡੇ in ਸਾਲਾਂ ਵਿੱਚ ਕੋਸ਼ਿਸ਼ ਕੀਤੀ ਹੈ. ਸਾਡੀ ਵਿਦੇਸ਼ ਨੀਤੀ ਵਿਚ ਅਸੀਂ ਹਥਿਆਰਾਂ ਦਾ ਸਹਾਰਾ ਲਏ ਬਿਨਾਂ ਝਗੜਿਆਂ ਦੇ ਨਿਪਟਾਰੇ ਲਈ ਹਮੇਸ਼ਾਂ ਬੇਨਤੀ ਕੀਤੀ ਹੈ। ਸੈਨਿਕ ਸਮੂਹਾਂ, ਪੰਚਸ਼ੀਲ ਦੇ ਸਿਧਾਂਤ, ਕੋਰੀਆ ਅਤੇ ਇੰਡੋ-ਚੀਨ ਵਿਚ ਸਾਡੀ ਪਹਿਲਕਦਮੀ ਅਤੇ ਵਿਸ਼ਵ ਸ਼ਾਂਤੀ ਲਈ ਕਈ ਹੋਰ ਜ਼ਿੰਮੇਵਾਰਿਆਂ ਦਾ ਸਾਡਾ ਵਿਰੋਧ — ਇਹ ਸਭ ਵਿਵਾਦਾਂ ਦੇ ਸ਼ਾਂਤੀਪੂਰਨ ਨਿਪਟਾਰੇ ਵਿਚ ਸਾਡੀ ਵਿਸ਼ਵਾਸ ਤੋਂ ਪੈਦਾ ਹੋਏ ਹਨ। ਤਾਸ਼ਕੰਦ ਘੋਸ਼ਣਾ ਇਸ ਨੀਤੀ ਦੀ ਪੁਸ਼ਟੀ ਹੈ. ਉਥੇ ਸ਼ਾਸਤਰੀ ਜੀ ਨੇ ਜੋ ਗੱਲ ਕੀਤੀ ਅਤੇ ਉਥੇ ਦਸਤਖਤ ਕੀਤੇ ਉਹ ਭਾਰਤ ਲਈ ਕੁਝ ਨਵਾਂ ਨਹੀਂ ਸੀ। ਪਰ ਤਾਸ਼ਕੰਦ ਬਾਰੇ ਸਭ ਤੋਂ ਮਹੱਤਵਪੂਰਣ ਤੱਥ ਇਹ ਸੀ ਕਿ ਸਾਡੇ ਨੇਤਾ, ਚੇਅਰਮੈਨ ਕੋਸੀਗਿਨ ਅਤੇ ਰਾਸ਼ਟਰਪਤੀ ਅਯੂਬ ਵਿਚਕਾਰ ਫਲ-ਵਟਾਂਦਰੇ ਦੇ ਜ਼ਰੀਏ, ਪਾਕਿਸਤਾਨ ਨੇ ਵੀ ਮਤਭੇਦਾਂ ਨੂੰ ਸੁਲਝਾਉਣ ਲਈ ਹਥਿਆਰਾਂ ਦੀ ਵਰਤੋਂ ਨੂੰ ਰੋਕਣ ਦੀ ਮਹੱਤਤਾ ਨੂੰ ਸਵੀਕਾਰ ਕੀਤਾ।</p>
            <p>ਤਾਸ਼ਕੰਦ ਐਲਾਨਨਾਮੇ ਦੀ ਇਸ ਪਹਿਲੀ ਵਰ੍ਹੇਗੰ On ਤੇ, ਮੈਂ ਤਾਸ਼ਕਾਂਤ ਵਿੱਚ ਦਰਜ ਸਿਧਾਂਤਾਂ ਪ੍ਰਤੀ ਆਪਣੇ ਸਮਰਪਣ ਨੂੰ ਦੁਬਾਰਾ ਦੁਹਰਾਇਆ। ਇਹ ਉਹ ਸਿਧਾਂਤ ਹਨ ਜੋ ਸਾਨੂੰ ਗਾਂਧੀ ਜੀ ਅਤੇ ਸ਼ਾਸਤਰੀ ਜੀ ਦੁਆਰਾ ਸੌਂਪੇ ਗਏ ਹਨ। ਅਤੇ ਉਹ ਸ਼ਾਸਤਰੀ ਜੀ ਦੇ ਜੀਵਨ ਅਤੇ ਕਾਰਜ ਨਾਲ ਜੁੜੇ ਹੋਏ ਹਨ. ਅਸੀਂ ਵਿਸ਼ਲੇਸ਼ਣ ਕਰਨ ਦੀ ਕੋਸ਼ਿਸ਼ ਕਰ ਕੇ ਕੁਝ ਵੀ ਹਾਸਲ ਨਹੀਂ ਕਰ ਸਕਦੇ ਕਿ ਕੀ ਐਲਾਨਨਾਮੇ ਨੇ ਉਨੀ ਹੀ ਪ੍ਰਾਪਤੀ ਕੀਤੀ ਹੈ ਜਿੰਨੀ ਉਮੀਦ ਕੀਤੀ ਜਾ ਰਹੀ ਸੀ, ਅਤੇ ਜੇ ਇਹ ਨਹੀਂ ਹੈ, ਤਾਂ ਕੌਣ ਕਸੂਰ ਹੈ. ਇਸ ਤੋਂ ਇਲਾਵਾ ਹੋਰ ਕੀ ਹੈ ਆਪਣੇ ਆਪ ਨੂੰ ਦੱਸਣਾ ਅਤੇ ਦੁਨੀਆ ਨੂੰ ਇਹ ਦੱਸਣਾ ਕਿ ਭਾਰਤ ਇਸਦੇ ਨਾਲ ਹੈ.</p>
            <p>ਸ਼ਾਸਤਰੀ ਜੀ ਨੇ ਜੈ ਜਵਾਨ, ਜੈ ਕਿਸਾਨ ਦਾ ਨਾਅਰਾ ਛੱਡ ਦਿੱਤਾ। ਇਹ ਨਵਾਂ ਨਾਅਰਾ ਬੋਲਣ ਦੇ inੰਗ ਨਾਲ ਹੈ, ਸਾਡੇ ਪੁਰਾਣੇ ਨਾਅਰੇ ਜੈ ਹਿੰਦ ਦਾ ਵਿਸਥਾਰ. ਭਾਰਤ ਸਿਰਫ ਜਵਾਨਾਂ [ਸੈਨਿਕਾਂ] ਰਾਹੀਂ ਜਿੱਤ ਪ੍ਰਾਪਤ ਕਰ ਸਕਦਾ ਹੈ ਅਤੇ ਕਿਸਾਨ [ਕਿਸਾਨ]. ਸਾਡੇ ਦੇਸ਼ ਦੀ ਆਜ਼ਾਦੀ ਦਾ ਜਵਾਨਾਂ ਦੇ ਨਾਲ ਨਾਲ ਉਨ੍ਹਾਂ ਸਾਰਿਆਂ ਦੁਆਰਾ ਕੰਮ ਕੀਤਾ ਜਾਂਦਾ ਹੈ ਜਿਹੜੇ ਕੰਮ ਕਰਦੇ ਹਨ ਅਤੇ ਪੈਦਾ ਕਰਦੇ ਹਨ. ਕੱਛ ਦੇ ਮੁਸ਼ਕਲ ਦਿਨਾਂ ਅਤੇ ਬਾਅਦ ਵਿੱਚ ਉੱਤਰੀ ਟਕਰਾਅ ਵਿੱਚ, ਸ਼ਾਸਤਰੀ ਜੀ ਚਾਹੁੰਦੇ ਸਨ ਕਿ ਕੌਮ ਨੂੰ ਸਪੱਸ਼ਟ ਰੂਪ ਵਿੱਚ ਇਹ ਅਹਿਸਾਸ ਹੋਵੇ ਕਿ ਦੇਸ਼ ਦੀ ਰੱਖਿਆ ਨੂੰ ਨਾ ਸਿਰਫ ਰੱਖਿਆ ਬਲਾਂ ਦੀ, ਬਲਕਿ ਆਰਥਿਕ ਅਧਾਰ ਨੂੰ ਵੀ ਮਜ਼ਬੂਤ ​​ਕਰਨ ਦੀ ਲੋੜ ਹੈ। ਇਸ ਵੇਲੇ ਕੋਈ ਲੜਾਈ ਨਹੀਂ ਹੋ ਰਹੀ, ਪਰ ਫੌਜੀ ਖ਼ਤਰੇ ਨੂੰ ਦੂਰ ਨਹੀਂ ਕੀਤਾ ਗਿਆ. ਜਵਾਨ ਨੂੰ ਸੁਚੇਤ ਹੋਣਾ ਪਏਗਾ. ਪਰ ਸਾਡੇ ਕੋਲ ਇੱਕ ਹੋਰ ਹਮਲਾਵਰ ਹੈ, ਅਰਥਾਤ ਸੋਕਾ, ਅਤੇ ਇਹ ਹਮਲਾਵਰ ਜਵਾਨ ਦੁਆਰਾ ਨਹੀਂ, ਬਲਕਿ ਕਿਸਾਨੀ ਦੁਆਰਾ ਲੜਿਆ ਜਾ ਸਕਦਾ ਹੈ। ਜਦ ਤੱਕ ਅਸੀਂ ਭੋਜਨ ਦੀ ਸਵੈ-ਨਿਰਭਰਤਾ ਨੂੰ ਪ੍ਰਾਪਤ ਨਹੀਂ ਕਰਦੇ ਸਾਡੀ ਸੁਰੱਖਿਆ ਅਤੇ ਹੋਂਦ ਖਤਰੇ ਵਿੱਚ ਪੈ ਜਾਵੇਗੀ. ਇਹ ਸਾਨੂੰ ਘੱਟੋ ਘੱਟ ਸਮੇਂ, ਚਾਰ ਜਾਂ ਪੰਜ ਸਾਲਾਂ ਵਿੱਚ ਕਰਨਾ ਚਾਹੀਦਾ ਹੈ. ਇਕੋ ਇਕ ਤਰੀਕਾ ਹੈ ਅਸੀਂ ਵੇਖ ਸਕਦੇ ਹਾਂ ਕਿ ਕੋਈ ਵੀ ਸਾਡੇ ਦੁਆਲੇ ਧੱਕਾ ਨਹੀਂ ਕਰਦਾ ਹੈ ਆਤਮ-ਨਿਰਭਰ ਬਣਨਾ. ਮੇਰੇ ਖਿਆਲ ਵਿਚ ਸ਼ਾਸਤਰੀ ਜੀ ਦੇ ਮਨ ਵਿਚ ਇਹੋ ਸੀ ਜਦੋਂ ਉਸਨੇ ਸਾਨੂੰ ਇਹ ਸਾਰਥਕ ਸਲੋਗਨ ਦਿੱਤਾ.</p>
            <p>ਉਸਦੀ ਯਾਦ ਨੂੰ ਸ਼ਰਧਾਂਜਲੀ ਭੇਟ ਕਰਨ ਲਈ ਅੱਜ ਬਹੁਤ ਸਾਰੀਆਂ ਆਵਾਜ਼ਾਂ ਸਾਡੇ ਨਾਲ ਸ਼ਾਮਲ ਹੋਣਗੀਆਂ. ਅਸੀਂ ਉਸਨੂੰ ਯਾਦ ਕਰਦੇ ਹਾਂ ਕਿਉਂਕਿ ਅਸੀਂ ਉਸਦੇ ਨੇੜੇ ਸੀ ਅਤੇ ਅਸੀਂ ਉਸਦੀ ਸਲਾਹ ਅਤੇ ਸੇਧ ਦੇ ਆਦੀ ਸੀ. ਕੌਮ ਆਪਣੀਆਂ ਮੁਸ਼ਕਲਾਂ ਅਤੇ ਆਪਣੀ ਨਰਮ ਮੌਜੂਦਗੀ ਲਈ ਉਸ ਦੀ ਇਕਾਂਤਤਾ ਨੂੰ ਯਾਦ ਨਹੀਂ ਕਰਦੀ.</p>


            <div class="fb-share-button" data-href="http://sadbhavana.net/biographies-en/SHRI-LAL-BAHADUR-SHASTRI.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="Today is a day of poignant memories for us and for the entire nation. We meet here to pay homage to the
            memory of our late Prime Minister, Shri Lal Bahadur Shastri, who a year ago laid down his life in the
            service of the country. Shastriji was a man of quiet greatness...Read more" data-link="https://tinyurl.com/y4bhpzyp" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>

            <!-- article content -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
