<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - ਸ਼੍ਰੀਮਤੀ. ਇੰਦਰਾ ਗਾਂਧੀ</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/014/medium/indira_gandhi_inc.jpg?1505457727" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>ਸ਼੍ਰੀਮਤੀ. ਇੰਦਰਾ ਗਾਂਧੀ</h1>
        <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਸ਼੍ਰੀਮਤੀ. ਇੰਦਰਾ ਗਾਂਧੀ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <img class="float-left"
              src="https://cdn.inc.in/inspirations/thumbnails/000/000/014/medium/indira_gandhi_inc.jpg?1505457727"
              alt="">
            
            <p>ਸ਼੍ਰੀਮਤੀ. ਇੰਦਰਾ ਗਾਂਧੀ ਨੇ ਆਪਣੇ ਆਪ ਨੂੰ ਆਕ ਦਾ ਇੱਕ ਆਖਰੀ ਦਿਨ ਜੋਨ ਦੇ ਰੂਪ ਵਿੱਚ ਵੇਖਿਆ - ਇਹ ਉਸਦਾ ਹੌਂਸਲਾ ਅਤੇ ਦੇਸ਼ ਭਗਤੀ ਵਜੋਂ ਆਪਣੇ ਆਪ ਵਿੱਚ ਵਿਸ਼ਵਾਸ ਸੀ. "ਦਿ ਮੈਡ ਆਫ਼ ਓਰਲਿਅਨਜ਼" ਦੀ ਤਰ੍ਹਾਂ, ਉਹ ਵੀ ਆਪਣੇ ਦੇਸ਼ ਦੀ ਏਕਤਾ ਲਈ ਇੱਕ ਸ਼ਹੀਦ ਵਜੋਂ ਮੌਤ ਹੋ ਗਈ.</p>
            <p>ਉਸਨੇ ਆਪਣੀ ਦੁਖਦਾਈ ਮੌਤ ਤੋਂ ਪਹਿਲਾਂ ਕਿਹਾ ਸੀ: "ਮੇਰੇ ਖੂਨ ਦੀ ਹਰ ਇੱਕ ਤੁਪਕਾ ਇਸ ਕੌਮ ਦੇ ਵਿਕਾਸ ਵਿੱਚ ਯੋਗਦਾਨ ਪਾਵੇਗੀ ਅਤੇ ਇਸਨੂੰ ਮਜ਼ਬੂਤ ​​ਅਤੇ ਗਤੀਸ਼ੀਲ ਬਣਾਵੇਗੀ।"</p>
            <p>ਉਹ ਹਿੰਮਤ ਵਾਲੀ ਔਰਤ ਸੀ ਅਤੇ ਲੜਨ ਦੀ ਭਾਵਨਾ ਵਾਲੇ ਲੋਕਾਂ ਦੀ ਪ੍ਰਸ਼ੰਸਾ ਕਰਦੀ ਸੀ, ਉਹ ਲੋਕ ਜੋ ਅਪੰਗਾਂ 'ਤੇ ਜਿੱਤ ਪ੍ਰਾਪਤ ਕਰਦੇ ਸਨ. ਉਦਾਹਰਣ ਵਜੋਂ, ਹੈਲਨ ਕੈਲਰ ਅਤੇ ਡਗਲਸ ਬੈਡਰ.</p>
            <p>ਬਚਪਨ ਵਿਚ, ਉਸਦਾ ਪਿਤਾ ਉਸ ਲਈ ਪ੍ਰੇਰਣਾ ਸਰੋਤ ਸੀ. ਪੰਡਤ ਨਹਿਰੂ ਨੇ ਇੰਦਰਾ ਪ੍ਰਿਯਦਰਸ਼ਿਨੀ ਨੂੰ ਲਿਖੇ ਪੱਤਰ “ਵਿਸ਼ਵ ਇਤਿਹਾਸ ਦੀਆਂ ਝਲਕ” ਦਾ ਹਿੱਸਾ ਬਣ ਗਏ।</p>
            <p>ਅਲਾਹਾਬਾਦ ਦਾ ਅਨੰਦ ਭਵਨ, ਗਾਂਧੀ ਜੀ ਦੇ ਆਸ਼ਰਮ ਤੋਂ ਬਾਅਦ ਆਜ਼ਾਦੀ ਸੰਗਰਾਮ ਦਾ ਮੁੱਖ ਦਫ਼ਤਰ ਸੀ। ਇੱਥੇ ਉਹ ਉਸ ਸਮੇਂ ਦੇ ਮਹਾਂ ਪੁਰਸ਼ਾਂ ਅਤੇ withਰਤਾਂ ਦੇ ਸੰਪਰਕ ਵਿੱਚ ਆਇਆ. ਜਦੋਂ ਉਹ ਸਿਰਫ 12 ਸਾਲਾਂ ਦੀ ਸੀ, ਉਸਨੇ ਦੇਸ਼ ਨੂੰ ਆਜ਼ਾਦ ਕਰਾਉਣ ਵਿਚ ਸਹਾਇਤਾ ਲਈ ਬੱਚਿਆਂ ਨੂੰ ਲਾਮਬੰਦ ਕੀਤਾ. ਉਸ ਦੀ ਬਾਲ ਵਾਲੰਟੀਅਰਾਂ ਦੀ ਫੌਜ ਨੂੰ ‘ਵਨਾਰ ਸੈਨਾ’ ਕਿਹਾ ਜਾਂਦਾ ਸੀ।</p>
            <p>ਉਸਨੇ ਪੂਨਾ ਦੇ ਸ਼ਾਂਤੀਨੀਕੇਤਨ ਅਤੇ ਯੂਰਪ ਵਿੱਚ ਆਪਣੀ ਰਸਮੀ ਸਿੱਖਿਆ ਪ੍ਰਾਪਤ ਕੀਤੀ, ਪਰੰਤੂ ਉਸਦੀ ਅਸਲ ਵਿਦਿਆ ਉਸ ਰਾਜਨੀਤਿਕ ਜੀਵਨ ਵਿੱਚ ਸੀ ਜੋ ਬਾਅਦ ਵਿੱਚ ਉਸ ਦੀ ਅਗਵਾਈ ਕਰਨੀ ਸੀ। 1942 ਵਿਚ ਉਸਨੇ ਫਿਰੋਜ਼ ਗਾਂਧੀ ਨਾਲ ਵਿਆਹ ਕਰਵਾ ਲਿਆ।</p>
            <p>ਉਸਦੀ ਰਾਜਨੀਤਿਕ ਸਿਖਲਾਈ ਉਸ ਦੇ ਪਿਤਾ ਦੇ ਅਧੀਨ ਸੀ ਜਦੋਂ ਉਹ ਭਾਰਤ ਦੇ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਬਣੇ ਸਨ।</p>
            <p>1959 ਵਿਚ, ਕਾਂਗਰਸ ਦੇ ਪ੍ਰਧਾਨ ਵਜੋਂ ਉਸਦੀ ਚੋਣ ਨੇ ਉਸ ਦੀ ਰਾਜਨੀਤੀ ਵਿਚ ਦਾਖਲੇ ਨੂੰ ਇਕ ਆਲ-ਇੰਡੀਆ ਹਸਤੀ ਵਜੋਂ ਦਰਸਾਇਆ।</p>
            <p>ਆਪਣੇ ਪਿਤਾ ਦੀ ਮੌਤ ਤੋਂ ਬਾਅਦ, ਉਸਨੂੰ ਸ਼੍ਰੀ ਲਾਲ ਬਹਾਦੁਰ ਸ਼ਾਸਤਰੀ ਨੇ ਕੇਂਦਰੀ ਕੈਬਨਿਟ ਵਿੱਚ ਖੁੱਲੇ ਤੌਰ ਤੇ ਸੂਚਨਾ ਅਤੇ ਪ੍ਰਸਾਰਣ ਮੰਤਰੀ ਵਜੋਂ ਭੇਜਿਆ ਸੀ। ਸ੍ਰੀ ਸ਼ਾਸਤਰੀ ਦੀ ਜਨਵਰੀ 1966 ਵਿਚ ਮੌਤ ਹੋ ਗਈ ਅਤੇ ਸ੍ਰੀਮਤੀ. ਇੰਦਰਾ ਗਾਂਧੀ ਉਨ੍ਹਾਂ ਦਾ ਉਤਰਾਧਿਕਾਰੀ ਬਣ ਗਈ।</p>
            <p>ਉਸਦੀ ਪ੍ਰੀਮੀਅਰਸ਼ਿਪ ਤੂਫਾਨੀ ਅਤੇ ਉਲਝੀ ਹੋਈ ਸੀ. ਪਹਿਲਾਂ ਪਾਰਟੀ ਵਿਚ ਅਖੌਤੀ ‘ਸਿੰਡੀਕੇਟ’ ਨਾਲ ਟਕਰਾਅ ਹੋਇਆ ਜਿਸ ਕਾਰਨ 1969 ਵਿਚ ਕਾਂਗਰਸ ਵਿਚ ਫੁੱਟ ਪੈ ਗਈ। ਇਸ ਤੋਂ ਬਾਅਦ ਪੂਰਬੀ ਬੰਗਾਲ ਤੋਂ ਆਏ ਸ਼ਰਨਾਰਥੀਆਂ ਦੇ ਭਾਰੀ ਪ੍ਰਵਾਹ ਦੁਆਰਾ ਪੈਦਾ ਹੋਏ ਸੰਕਟ ਦਾ ਨਤੀਜਾ ਨਿਕਲਿਆ।
            ਬੰਗਲਾਦੇਸ਼ ਦੀ ਲੜਾਈ ਵਿਚ ਉਸਨੇ ਅਮਰੀਕਾ ਵਰਗੇ ਮਹਾਂਸ਼ਕਤੀ ਦੀ ਤਾਕਤ ਦਾ ਖੰਡਨ ਕੀਤਾ। ਗੁਜਰਾਤ ਵਿੱਚ ਨਵ-ਨਿਰਮਾਣ ਅੰਦੋਲਨ ਅਤੇ ਜੈਪ੍ਰਕਾਸ਼ ਨਾਰਾਇਣ ਦੇ "ਪੂਰੀ ਇਨਕਲਾਬ" ਲਈ ਸੱਦਾ ਦੇਣ ਕਾਰਨ ਤਣਾਅ ਪੈਦਾ ਹੋਇਆ ਅਤੇ 1975 ਵਿੱਚ ਅੰਦਰੂਨੀ ਐਮਰਜੈਂਸੀ ਦਾ ਐਲਾਨ ਹੋਇਆ।</p>
            <p>ਐਮਰਜੈਂਸੀ ਖਤਮ ਹੋਣ ਤੋਂ ਬਾਅਦ, ਜਨਤਾ ਪਾਰਟੀ ਸੱਤਾ ਵਿਚ ਆਈ ਅਤੇ ਸ਼੍ਰੀਮਤੀ. ਇੰਦਰਾ ਗਾਂਧੀ ਨੂੰ ਥੋੜ੍ਹੀ ਦੇਰ ਲਈ ਬਹੁਤ ਪਰੇਸ਼ਾਨੀ ਅਤੇ ਇਥੋਂ ਤੱਕ ਕਿ ਕੈਦ ਦਾ ਸਾਹਮਣਾ ਕਰਨਾ ਪਿਆ। 1978 ਵਿਚ, ਕਾਂਗਰਸ ਵਿਚ ਇਕ ਹੋਰ ਫੁੱਟ ਪੈ ਗਈ ਪਰ ਉਸਨੇ ਬਹੁਮਤ ਕਾਇਮ ਕੀਤਾ ਅਤੇ ਉਸਦੇ ਸਮੂਹ ਨੂੰ ਕਾਂਗਰਸ (ਆਈ) ਕਿਹਾ ਜਾਣ ਲੱਗਾ.</p>
            <p>1980 ਵਿਚ, ਉਹ ਮੁੜ ਸੱਤਾ ਵਿਚ ਤਬਦੀਲ ਹੋ ਗਈ. ਪਰ ਉਸ ਦੀਆਂ ਮੁਸੀਬਤਾਂ ਖਤਮ ਨਹੀਂ ਹੋਈਆਂ. ਕਾਂਗਰਸ (ਆਈ) ਨੇ ਆਂਧਰਾ ਪ੍ਰਦੇਸ਼ ਅਤੇ ਕਰਨਾਟਕ ਨੂੰ ਹਾਰ ਦਿੱਤੀ ਅਤੇ ਜੰਮੂ-ਕਸ਼ਮੀਰ, ਅਸਾਮ ਅਤੇ ਪੰਜਾਬ ਵਰਗੇ ਕਈ ਰਾਜਾਂ ਵਿਚ ਮੁਸੀਬਤ ਆਈ।</p>
            <p>ਪੰਜਾਬ ਵਿੱਚ ਖੇਤਰੀਵਾਦ ਦਾ ਉਭਾਰ ਉਸਦੀ ਲੀਡਰਸ਼ਿਪ ਲਈ ਚੁਣੌਤੀ ਸਾਬਤ ਹੋਇਆ। ਉਸ ਨੂੰ “ਆਪ੍ਰੇਸ਼ਨ ਬਲਿest ਸਟਾਰ” ਦਾ ਆਦੇਸ਼ ਦੇਣ ਲਈ ਮਜਬੂਰ ਕੀਤਾ ਗਿਆ ਸੀ ਪਰ ਸਿੱਖ ਅੱਤਵਾਦ ਵਿਚ ਕੋਈ ਕਮੀ ਨਹੀਂ ਆਈ। 31 ਅਕਤੂਬਰ, 1984 ਨੂੰ ਉਸ ਦੇ ਆਪਣੇ ਅੰਗ ਰੱਖਿਅਕਾਂ ਨੇ ਉਸ ਦਾ ਕਤਲ ਕਰ ਦਿੱਤਾ ਸੀ।</p>

            <div class="fb-share-button" data-href="http://sadbhavana.net/biographies-en/SMT-INDIRA-GANDHI.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="Smt. Indira Gandhi saw herself as a latter day Joan of Arc—such was her ardour and faith in herself as a
            patriot. Like the The Maid of Orléans, she too died as a martyr for the unity of her country. She had
            said before her tragic death: Every drop of my blood will contribute to the growth of this nation and
            make it strong and dynamic....Read more" data-link="https://tinyurl.com/yxdl43sw" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>

            <!-- article content -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
