{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load i18n %}
    {% load static %}

    {% block meta %}
    <meta charset="utf-8" />
    <title>Sadbhavana - Apply For Competition</title>
    <meta name="description" content="" />
    <!-- Internal CSS -->
    <style>
        label.required::after {
            content: '*';
            color: red;
        }
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            }
    </style>
    <!-- Internal CSS -->
    {% endblock %}
</head>
<body>

    {% block content %}
    <section class="page-header">
        <div class="container">
            <h1 class="trn">{{compName}}</h1>
            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
                <li class="active trn">{{compName}}</li>
            </ol><!-- /breadcrumbs -->
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- ALERT -->
                    <div id="msg" class="alert alert-mini alert-success mb-30 text-center" style="display:none;">
                    </div>
                    <!-- /ALERT -->
                    <div class="box-static box-transparent box-bordered p-30" id="comp">
                        <form method="POST" enctype="multipart/form-data" id="apply-for-comp">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-primary" name="upload">
                        </form>
                    </div>
                </div>
                <!-- /Feedback -->
            </div>
        </div>
    </section>
    {% endblock %}

    {% block includes %}
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>


    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div><!-- /PRELOADER -->


    <!-- JAVASCRIPT FILES -->
    <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
    <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'assets/js/scripts.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/login-register.js' %}"></script>

    <!-- TRASLATIONS -->
    <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
    <script src="{% static 'assets/languages/translations.js' %}"></script>
    <script src="{% static 'assets/js/translater.js' %}"></script>

    <script>
        // Save competition entry
        $('#apply-for-comp').submit(function(e){
            e.preventDefault();
            $("body").append(`<div id="process" style="position: fixed;width: 100%;height: 100%;background: transparent;top: 0;"><div class="loader" style="position: fixed;top: 50%;left: 50%;"></div></div>`);
            $form = $(this)
            var formData = new FormData(this);
            $.ajax({
                url: 'apply-for-competition',
                type: 'POST',
                data: formData,
                success: function (response) {
                    $('.error').remove();
                    $("#process").remove();
                    $('#comp').css('display','none');
                    $('#msg').css('display','block');
                    $('#msg').append("<strong>Your Entry For Competition received Successfully</strong>");
                    if(response.error){
                        $("#process").remove();
                    }
                    else{
                        $("#process").remove();
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    </script>
    {% endblock %}
</body>

</html>