<h5>Name : {{ user.first_name }} {{ user.last_name }}</h5>
<h5>District : {{ user.district }}</h5>
<h5>State : {{ user.state }}</h5>
<h5>Mobile : {{ user.mobile }}</h5>
<h5>Email : {{ user.email }}</h5>
<h5>Title : {{ title }}</h5>
<h5>Message : {{ message }}</h5>
<h5>Download file from below link : </h5>
<p>https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{file_name}}</p>