{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load i18n %}
    {% load static %}

    {% block meta %}
    <meta charset="utf-8" />
    <title>Sadbhavana - Feedback</title>
    <meta name="description" content="" />
    {% endblock %}
</head>

<body>

    {% block content %}
    <section class="page-header">
        <div class="container">

            <h1 class="trn">{% trans "Apply For Competition" %}</h1>
            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
                <li class="active trn">{% trans "Feedback" %}</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <!-- REGISTER -->
                <div class="col-md-12 col-sm-12">
                    <h1 style='color:red;'>Hello, you have uploaded the wrong file type.</h1>
                </div>
                <!-- /Feedback -->
            </div>
        </div>
    </section>
    {% endblock %}

    {% block includes %}
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>


    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div><!-- /PRELOADER -->


    <!-- JAVASCRIPT FILES -->
    <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
    <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'assets/js/scripts.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/login-register.js' %}"></script>

    <!-- TRASLATIONS -->
    <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
    <script src="{% static 'assets/languages/translations.js' %}"></script>
    <script src="{% static 'assets/js/translater.js' %}"></script>
    {% endblock %}
</body>

</html>
