{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load i18n %}
    {% load static %}

    {% block meta %}
    <meta charset="utf-8" />
    <title>Sadbhavana - Feedback</title>
    <meta name="description" content="" />
    {% endblock %}
</head>

<body>

    {% block content %}
    <section class="page-header">
        <div class="container">

            <h1 class="trn">{% trans "Feedback" %}</h1>
            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
                <li class="active trn">{% trans "Feedback" %}</li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">

                <!-- REGISTER -->
                <div class="col-md-12 col-sm-12">

                    {% if message %}
                    <div class="alert alert-mini alert-success mb-30">
                        <strong>{{message}}</strong>
                    </div>
                    {% endif %}

                    <!-- /ALERT -->

                    {% if form.errors %}

                    <div class="alert alert-mini alert-danger mb-30">
                        <strong>Oh snap!</strong>
                        <ul class="errorlist">
                            {% for field in form %}
                            {% for error in field.errors %}
                            {{field.label}}: {{ error|escape }}
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                            {{field.label}}: {{ error|escape }}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <div class="box-static box-transparent box-bordered p-30">

                        <form class="m-0 sky-form" action="{% url 'feedback' %}" id="profile-form" method="post">
                            {% csrf_token %}

                            <fieldset>

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label><span class="trn">{% trans "Name" %}</span></label>
                                        <label class="input mb-10">

                                            <input name="name" type="text" value="" />
                                            <b class="tooltip tooltip-bottom-right trn">{% trans "Name" %}</b>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for=""><span class="trn">{% trans "Age" %}</span> </label>
                                        <label class="input mb-10">
                                            <input name="age" type="text" value="">
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label><span class="trn">{% trans "Class" %}</span> / <span
                                                class="trn">{% trans "Profession" %}</span></label>
                                        <label class="input mb-10">
                                            <input name="profession" type="text" value="">
                                            <b class="tooltip tooltip-bottom-right"><span class="trn"><span
                                                        class="trn">{% trans "Class" %}</span> / <span
                                                        class="trn">{% trans "Profession" %}</span></span></b>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:email"><span class="trn">{% trans "Email" %}</span></label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-envelope"></i>
                                            <input name="email" type="text" value="">
                                            <b class="tooltip tooltip-bottom-right"><span class="trn">{% trans "Email" %}</span></b>
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:phone"><span class="trn">{% trans "Mobile" %}</span> *</label>
                                        <label class="input mb-10">
                                            <i class="ico-append fa fa-phone"></i>
                                            <input name="mobile" type="number" value="" id="phone">
                                            <b class="tooltip tooltip-bottom-right"><span class="trn">{% trans "Mobile" %}</span></b>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label><span class="trn">{% trans "Address" %}</span></label>
                                        <label class="input mb-10">
                                            <textarea class="form-control" rows="4" cols="63" name="address"></textarea>
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:gender"><span class="trn">{% trans "how_did_you_learn_about_this_platform" %}</span> </label>
                                            <input type="radio" name="platform" value="workshop"><span class="trn">{% trans "Workshop" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="platform" value="online"><span class="trn">{% trans "Online" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="platform" value="friends"><span class="trn">{% trans "Friends" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="platform" value="other"><span class="trn">{% trans "Other" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="hidden" name="platform" value="null"/>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for="register:gender"><span class="trn">{% trans "did_you_face_any_difficulty_while_logging_in" %}</span> </label>
                                        <input type="radio" name="logging_in" value="yes"><span class="trn">{% trans "Yes" %}</span> &nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="logging_in" value="no"><span class="trn">{% trans "No" %}</span> &nbsp;&nbsp;&nbsp;
                                        <input type="hidden" name="logging_in" value="null"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label><span class="trn">{% trans "if_yes_please_explain" %}</span></label>
                                        <label class="input mb-10">
                                            <textarea class="form-control" rows="4" cols="63"
                                                name="explain_logging"></textarea>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label for="liked_section"><span class="trn">{% trans "which_section_on_this_platform_did_you_like_the_most" %}</span> </label>
                                            <input type="radio" name="liked_section" value="read"><span class="trn">{% trans "Read" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="liked_section" value="watch"><span class="trn">{% trans "Watch" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="liked_section" value="play"><span class="trn">{% trans "Play" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="liked_section" value="engage"><span class="trn">{% trans "Engage" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="hidden" name="liked_section" value="null"/>
                                    </div>
                                </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                                <label><span class="trn">{% trans "Why" %}</span></label>
                                                <label class="input mb-10">
                                                <textarea class="form-control" rows="4" cols="63" name="liked_section_explain"></textarea>
                                                </label>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <label for="not_liked_section"><span class="trn">{% trans "which_section_on_this_platform_did_you_not_like" %}</span> </label>
                                            <input type="radio" name="not_liked_section" value="read"><span class="trn">{% trans "Read" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="not_liked_section" value="watch"><span class="trn">{% trans "Watch" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="not_liked_section" value="play"><span class="trn">{% trans "Play" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="not_liked_section" value="engage"><span class="trn">{% trans "Engage" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="hidden" name="not_liked_section" value="null"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                                <label><span class="trn">{% trans "what_would_you_like_to_see_in_this_platform" %}</span></label>
                                                <label class="input mb-10">
                                                <textarea class="form-control" rows="4" cols="63" name="platform_interest"></textarea>
                                                </label>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <label><span class="trn">{% trans "what_did_you_learn_about_sadbhavana_samvidhan_samadhaan_from_this_platform" %}</span></label>
                                            <label class="input mb-10">
                                            <textarea class="form-control" rows="4" cols="63" name="about_sadbhavana"></textarea>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <label for="register:gender"><span class="trn">{% trans "would_you_come_back_to_this_platform_any_time_soon" %}</span> </label>
                                            <input type="radio" name="return_to_platform" value="yes"><span class="trn">{% trans "Yes" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="return_to_platform" value="no"><span class="trn">{% trans "No" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="hidden" name="return_to_platform" value="null"/>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <label for="register:gender"><span class="trn">{% trans "would_you_share_the_sadbhavana_net_platform_with_your_friends" %}</span> </label>
                                            <input type="radio" name="share_sadbhavana" value="yes"><span class="trn">{% trans "Yes" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="share_sadbhavana" value="no"><span class="trn">{% trans "No" %}</span> &nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="share_sadbhavana" value="may_be"><span class="trn">{% trans "May be" %}</span> &nbsp;&nbsp;&nbsp;    
                                            <input type="hidden" name="share_sadbhavana" value="null"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <label><span class="trn">{% trans "Why" %}</span></label>
                                            <label class="input mb-10">
                                            <textarea class="form-control" rows="4" cols="63" name="share_sadbhavana_brief"></textarea>
                                            </label>
                                        </div>
                                    </div>
                            </fieldset>

                            <div class="row">
                                <!-- <div class="col-md-6 col-sm-6 offset-md-3"> -->
                                    <button type="submit" class="btn btn-primary" id="submit-feedback"
                                        name="submit_feedback">
                                        <span class="trn">{% trans "Submit" %}</span></button>
                                <!-- </div> -->
                            </div>

                        </form>

                    </div>

                </div>
                <!-- /Feedback -->
            </div>
        </div>
    </section>
    {% endblock %}

    {% block includes %}
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>


    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div><!-- /PRELOADER -->


    <!-- JAVASCRIPT FILES -->
    <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
    <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'assets/js/scripts.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/login-register.js' %}"></script>

    <!-- TRASLATIONS -->
    <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
    <script src="{% static 'assets/languages/translations.js' %}"></script>
    <script src="{% static 'assets/js/translater.js' %}"></script>
    {% endblock %}
</body>

</html>
