<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Home</title>
  <meta name="description" content="" />
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/home/fav.png' %}"/>
  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- SWIPER SLIDER -->
  <link href="{% static 'assets/plugins/slider.swiper/dist/css/swiper.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.theme.default.min.css' %}">

  <!-- SEARCH -->
  <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css.css' %}">

  <!-- LIGHTBOX NEW -->
  <link rel="stylesheet" href="{% static 'assets/css/lightbox.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ GATrackingId }}"></script>
  <script>
    // alert("{{ GATrackingId }}");
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ GATrackingId }}');
  </script>
  <style>
    ul.nav.nav-pills>li {
      display: inline-block;
    }
    a {
      color: white;
    }
    .title {
      position: relative;
      width: 190px;
      padding: 10px 20px 10px 20px;
      font-size: 18px;
      position: relative;
      color: #fff;
      background: #702126;
      z-index: 1;
    }
    .title:after {
      content: " ";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: #702126;
      transform-origin: bottom left;
      -ms-transform: skew(-30deg, 0deg);
      -webkit-transform: skew(-30deg, 0deg);
      transform: skew(-30deg, 0deg);
    }
    .ytp-icon-large-play-button-hover {
      display: none !important;
    }
    .competition{
      animation:competitionText 1.2s infinite;
    }
    @keyframes competitionText{
        0%{ color: #FAB702; }
        32%{ color: #FAB702; }
        33%{ color: #91D8EE; }
        65%{ color: #91D8EE; }
        66%{ color: #A0463E; }
        100%{ color: #A0463E; }
    }

    #popularCategory .owl-prev {
      display: none !important;
    }
    #popularCategory .owl-next {
      display: none !important;
    }

    .lb-nav a.lb-next {
      opacity: 1;
    }

    .lb-data .lb-number {
      display: none !important;
    }

    @media only screen and (max-width: 768px){
      .nav-tabs {display: block !important;}
      .my-card-5 {height: 300px !important;overflow: hidden !important;}
      /* .owl-prev {display: block !important;}
      .owl-next {display: block !important;} */
    }
    .my-card-5 {height: 350px;overflow: hidden !important;}
    .my-card-1, .my-card-2, .my-card-3, .my-card-4{height: 280px;overflow: hidden !important;}
    .mbr-fonts-style {font-size: 12px !important;}
    ul.blog-post-info {font-size: 12px !important;border-bottom: none !important;}
    .my-card-1 {border: 2px solid #91D8EE !important;background-color: #91D8EE !important;}
    .my-card-2 {border: 2px solid #C6C457 !important;background-color: #C6C457 !important;}
    .my-card-3 {border: 2px solid#A0463E !important;background-color: #A0463E !important;}
    .my-card-4 {border: 2px solid #91D8EE !important;background-color: #91D8EE !important;}
    .my-card-5 {border: 2px solid #C6C457 !important;background-color: #C6C457 !important;}
    .owl-item > div {margin: 2px !important;}
    .card {margin-bottom: 0 !important;}
    .owl-carousel-1 .owl-item img {max-height: 140px !important;}
    .text-white {color: #FFF !important;}
    .copy-btn {height: 20px !important;padding: 0px 5px !important;font-size: 11px !important;background-color: #007bff !important;}
  </style>

</head>

<body class="smoothscroll enable-animation">
  <!-- wrapper -->
  <div id="wrapper">
    <div class="sub-wrapper">
    <!-- SIDE MENU -->
    <div id="header" class="navbar-toggleable-md sticky clearfix">
      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container-fluid">
          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main d-inline-flex d-sm-none" style="width:80%;margin-top: -2px;">
            <!-- SEARCH -->
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a class="competition nav-link noicon {% if navBar == 'apply-for-competition' %}active-menu{% endif %}" href="{% url 'view-competition-winners' %}">{% trans "COMPETITION WINNERS" %}</a>
            </li>
            {% if isCompetitionLive.0.name %}
              <li style="list-style: none;" class="dropdown d-block d-sm-none">
                <a class="competition nav-link noicon {% if navBar == 'pre-competition' %}active-menu{% endif %}" href="{% url 'pre-competition' %}">{{isCompetitionLive.0.name}}</a>
              </li>
            {% else %}
              <li style="list-style: none;" class="dropdown d-block d-sm-none">
                <a class="competition nav-link noicon {% if navBar == 'apply-for-competition' %}active-menu{% endif %}" href="{% url 'apply-for-competition' %}">{% trans "WRITE TO US" %}</a>
              </li>
            {% endif %}

            <!-- /SEARCH -->
          </ul>
          <ul id="topMain" class="nav nav-pills nav-main">
            <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn" style="list-style: none;float: right;">
              <a class="d-none d-sm-block competition nav-link noicon " style="color: #000;font-size: 14px;letter-spacing: 2px;font-weight: 100;height: 60px;line-height: 60px;" href="{% url 'view-competition-winners' %}">
                <b class="trn">{% trans "COMPETITION WINNERS" %}</b>
              </a>
            </li>
            {% if isCompetitionLive.0.name %}
              <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn" style="list-style: none;float: right;">
                <a class="d-none d-sm-block competition nav-link noicon " style="color: #000;font-size: 14px;letter-spacing: 2px;font-weight: 100;height: 60px;line-height: 60px;" href="{% url 'pre-competition' %}">
                  <b class="trn">{{isCompetitionLive.0.name}}</b>
                </a>
              </li>
            {% else %}
              <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn" style="list-style: none;float: right;">
                <a class="d-none d-sm-block competition nav-link noicon " style="color: #000;font-size: 14px;letter-spacing: 2px;font-weight: 100;height: 60px;line-height: 60px;" href="{% url 'apply-for-competition' %}">
                  <b class="trn">{% trans "WRITE TO US" %}</b>
                </a>
              </li>
            {% endif %}
          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a style="font-size: 24px;color:#000;font-weight: 600;height: 70px;line-height: 70px;" class="logo float-left d-none d-sm-block" href="#">{% trans "sadbhavana se samadhaan" %}</a>

          <div class="navbar-collapse collapse float-left nav-main-collapse" style="float: right !important;">
            <nav class="nav-main">

              <ul id="topMain" class="nav nav-pills nav-main">
                {% if user.is_authenticated %}
                <li class="dropdown">
                  <!-- BLOG and SHOP -->
                  <a class="dropdown-toggle" href="#" style="color: #000;font-size: 16px;letter-spacing: 2px;font-weight: 100;height: 70px;line-height: 70px;">
                    <b>{{ user.get_full_name }}</b>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- BLOG -->
                    <li>
                      <h4>{{ user.get_full_name }}</h4>
                      <h4>{{ user.email }}</h4>
                    </li>
                    <li class="">
                      <a href="{% url 'profile' %}" class="trn">{% trans "Profile" %}</a>
                    </li>
                    <li class="">
                      <a href="{% url 'logout' %}" class="trn">{% trans "Sign Out" %}</a>
                    </li>
                  </ul>
                </li>
                {% else %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'signup' %}"
                    style="color: #000;font-size: 16px;letter-spacing: 2px;font-weight: 100;height: 70px;line-height: 70px;">
                    <b class="trn">{% trans "Register Now" %}</b>
                  </a>
                </li>
                {% endif %}

                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}"
                    style="color: #000;font-size: 16px;letter-spacing: 2px;font-weight: 100;height: 70px;line-height: 70px;">
                    <b class="trn">{% trans "Login" %}</b>
                  </a>
                </li>
                {% endif %}

                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:myquizzes' %}"
                    style="color: #000;font-size: 16px;letter-spacing: 2px;font-weight: 100;height: 70px;line-height: 70px;">
                    <b class="trn">{% trans "My Quizzes" %}</b>
                  </a>
                </li>

                <li
                  class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn d-none d-sm-inline-block">
                  <a class="dropdown-toggle noicon" style="height: 70px;line-height: 70px;">
                    <form action="{% url 'set_language' %}" method="post" style="margin-left: -3px;">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" >
                        <select name="language" onchange="this.form.submit()" class="lang-inter-home">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- /Top Nav -->
    </div>
    <!-- /SIDE MENU -->

    <section id="" class="" style="padding:0 !important">
      <!--slider-->

      <div class="swiper-container" data-effect="fade" data-autoplay="9000|true">
        <!--9000|true-->
        <div class="swiper-wrapper">

        <!-- SLIDE 0 -->
        <div class="swiper-slide swiper-slide-0">
          <img class="img-fluid d-none d-sm-block d-md-block d-lg-block d-xl-block"
            src="{% static 'assets/images/home/event-banner.jpg' %}">
          <img class="img-fluid d-block d-sm-none" src="{% static 'assets/images/home/mobile/event-banner.jpg' %}">

          <div class="text-center col-md-4 col-6 slide-0">
            <img class="img-responsive banner-img-0" src="{% static 'assets/images/logo/logo_black.png' %}">
            <p class="slide-zero-heading-1"><a class="font-raleway fadeInUp">{% trans "Sadbhavana with Nature" %}</a></p>
            <p class="slide-zero-heading-3">5th June - 20th August 2020</p>
            <div style="height:60%;"></div>
          </div>
        </div>
        <!-- /SLIDE 0 -->

          <!-- SLIDE 1 -->
          <div class="swiper-slide">
            <img class="img-fluid d-none d-sm-block d-md-block d-lg-block d-xl-block"
              src="{% static 'assets/images/home/sadbhavana.jpg' %}">
            <img class="img-fluid d-block d-sm-none" src="{% static 'assets/images/home/mobile/sadbhavana.jpg' %}">

            <div class="text-center col-md-12 col-4 slide-1">
              <img class="img-responsive banner-img-1" src="{% static 'assets/images/logo/stamp_Black.png' %}">
              <p class="slider-title"><a class="font-raleway fadeInUp trn border-top-bottom slider-title-font"
                  style="color:#000;">{% trans "Sadbhavana" %}</a></p>
              <div style="height:60%;"></div>
            </div>

              <div class="form-group has-search search-box">

                <form id="formSearch" method="GET" action="{% url 'search-results' %}"
                  style="position: relative;left: -50%;">
                  <span class="fa fa-search form-control-feedback"></span>
                  <input type="text" class="form-control" name="tags" id="tags" placeholder="{% trans 'Search' %}"
                    style="border-radius: 20px;height: 20px !important;">
                </form>
              </div>
          </div>
          <!-- /SLIDE 1 -->


          <!-- SLIDE 2 -->
          <div class="swiper-slide">
            <img class="img-fluid d-none d-sm-block d-md-block d-lg-block d-xl-block"
              src="{% static 'assets/images/home/samvidhaan.jpg' %}">
            <img class="img-fluid d-block d-sm-none" src="{% static 'assets/images/home/mobile/samvidhaan.jpg' %}">

            <div class="text-center col-md-12 col-4 slide-2">
                <img class="img-responsive banner-img-2" src="{% static 'assets/images/logo/stamp_White.png' %}">
                <p style="margin-top: 10px;"><a
                    class="font-raleway wow fadeInUp border-top-bottom-white slider-title-font trn"
                    data-wow-delay="0.4s" style="color:#fff;">{% trans "Samvidhan" %}</a></p>
              <div style="height:60%;"></div>
            </div>
            <div class="form-group has-search search-box">

              <form id="formSearch" method="GET" action="{% url 'search-results' %}"
                style="position: relative;left: -50%;">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" name="tags" id="tags" placeholder="{% trans 'Search' %}"
                  style="border-radius: 20px;height: 20px !important;">
              </form>
            </div>
          </div>
          <!-- /SLIDE 2 -->

          <!-- SLIDE 3 -->
          <div class="swiper-slide">
            <img class="img-fluid d-none d-sm-block d-md-block d-lg-block d-xl-block"
              src="{% static 'assets/images/home/samadhaan.jpg' %}">
            <img class="img-fluid d-block d-sm-none" src="{% static 'assets/images/home/mobile/samadhaan.jpg' %}">

            <div class="text-center col-md-12 col-4 slide-3">
              <img class="img-responsive banner-img-3" src="{% static 'assets/images/logo/stamp_Black.png' %}">
              <p class="slider-title"><a class="font-raleway wow fadeInUp border-top-bottom slider-title-font trn"
                  data-wow-delay="0.4s" style="color:#000;">{% trans "Samadhaan" %}</a></p>
              <div style="height:60%;"></div>
            </div>
            <div class="form-group has-search search-box">

              <form id="formSearch" method="GET" action="{% url 'search-results' %}"
                style="position: relative;left: -50%;">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" name="tags" id="tags" placeholder="{% trans 'Search' %}"
                  style="border-radius: 20px;height: 20px !important;">
              </form>
            </div>
          </div>
          <!-- /SLIDE 3 -->

        </div>

      </div>
    </section>
    <!-- /SLIDER -->

    <section>
      <div class="section-shadow">
        <div class="title">
          <a href="#">{% trans "About Us" %}</a>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="about-section" style="padding: 20px;text-align: justify;">
              <div class="about-section" style="padding: 20px;text-align: justify;">
                <p>{{ AboutUsContent.content|safe }}</p>
                <button style="float:right;" onclick="myFunction()" id="myBtn">Read More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Carousel 4 -->
    <section>
      <div class="section-shadow">
      <div class="container-fluid">

        <div class="text-center">
          <div class="large-12 columns">
            <div class="owl-carousel owl-theme">

              <div class="item">
                <a href="{% url 'app:quizzes' 1 %}">
                  <img class="img-fluid rounded-circle cat-img"
                    src="{% static 'assets/images/category/challenge.jpg' %}" alt="" style="border: 4px solid #91D8EE">
                </a>

                <h5 class="text-center mt-10"><a href="{% url 'app:quizzes' 1 %}" class="trn">{% trans "Play" %}</a></h5>
              </div>

              <div class="item">
                <a href="{% url 'read' %}">
                  <img class="img-fluid rounded-circle cat-img" src="{% static 'assets/images/category/read.jpg' %}" alt="" style="border: 4px solid #C6C457">
                </a>
                <h5 class="text-center mt-10"><a href="{% url 'read' %}" class="trn">{% trans "Read" %}</a></h5>
              </div>

              <div class="item">
                <a href="{% url 'watch' %}">
                  <img class="img-fluid rounded-circle cat-img" src="{% static 'assets/images/category/watch.jpg' %}"
                    alt="" style="border: 4px solid #A0463E">
                </a>
                <h5 class="text-center mt-10"><a href="{% url 'watch' %}" class="trn">{% trans "Watch" %}</a></h5>
              </div>

              <div class="item">
                <a href="{% url 'home-engage' %}">
                  <img class="img-fluid rounded-circle cat-img" src="{% static 'assets/images/category/engage.jpg' %}"
                    alt="" style="border: 4px solid #91D8EE">
                </a>
                <h5 class="text-center mt-10"><a href="{% url 'home-engage' %}" class="trn">{% trans "Engage" %}</a></h5>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>
      {% if otherContent %}
      <div class="title">
        <a href="#">{{otherContentTitle}}</a>
      </div>
      {% endif %}
    </section>
    <!-- /Carousel 4 -->

    <section>
      <div class="section-shadow pb-25">
        <div class="container pt-20">
          <div class="large-12 columns" style="margin:0 auto">
            <div class="owl-1 owl-carousel owl-theme static lang-en en" id="popularCategory">
              {% for other in otherContent %}
              {% if other.sub_category_id == 11 %}
                {% if other.content_type == 'Video' %}
                    <div class="item">
                      <div class="card p-3 col-12 col-md-12 my-col my-card-3">
                        <div class="card-wrapper">
                            <div class="card-img">
                              {% if other.meta_type == 'Link' %}
                              <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="550" height="315" src="{{other.iframe_url}}" frameborder="0" allowfullscreen></iframe>
                              </div>
                              {% else %}
                              <video width="100%" controls poster="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{other.thumbnail_file}}">
                                <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{other.document_file}}" type="video/mp4">
                              </video>
                              {% endif %}
                            </div>
                            <div class="card-box">
                                <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="#" class="text-white"><strong>{{other.title}}</strong></a></h4>
                                {% if other.tags|length > 0 %}
                                <ul class="blog-post-info list-inline">
                                  <div class="row" style="padding-left: 5px;padding-right: 5px; margin:0 auto;">
                                      <div class="fb-share-button" data-href="{{other.iframe_url}}"
                                      data-layout="button" data-size="small">
                                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                                      </div>&nbsp;&nbsp;
                                      <a data-text="{{other.title}}...Watch video now" data-link="{{other.iframe_url}}" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>&nbsp;&nbsp;
                                    <input id="copy-me-{{other.id}}" style="display: none;" type="text" value="{{other.iframe_url}}" id="myInput">
                                    <button id="copy-btn-{{other.id}}" class="btn btn-primary btn-sm copy-btn"><i class="fa fa-clipboard"></i>Copy</button>
                                  </div>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                      </div>

                    </div>
                    {% endif %}

                    {% if other.content_type == 'Text' %}
                    <div class="card p-3 col-12 col-md-12 my-col my-card-3">
                      <div class="card-wrapper">
                          <div class="card-img">
                            {% if other.thumbnail_file.url|length > 0 %}
                              <a href="content/read/books/{{other.language_locale_id}}"><img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{other.thumbnail_file}}" alt="Bootstrap Autoplay Carousel Feature" title="" media-simple="true"></a>
                            {% endif %}
                          </div>
                          <div class="card-box">
                              <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="content/read/books/{{other.language_locale_id}}" class="text-white"><strong>{{other.title}}</strong></a></h4>
                          </div>
                      </div>
                    </div>
                    {% endif %}

                    {% if other.content_type == 'PDF' %}
                    <div class="card p-3 col-12 col-md-12 my-col my-card-3">
                      <div class="card-wrapper">
                          <div class="card-img">
                            {% if other.thumbnail_file.url|length > 0 %}
                              <a href="content/read/books/{{other.language_locale_id}}"><img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{other.thumbnail_file}}" alt="Bootstrap Autoplay Carousel Feature" title="" media-simple="true"></a>
                            {% endif %}
                          </div>
                          <div class="card-box">
                              <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="content/read/books/{{other.language_locale_id}}" class="text-white"><strong>{{other.title}}</strong></a></h4>
                          </div>
                      </div>
                    </div>
                    {% endif %}


                    {% if other.content_type == 'Image' %}
                    {% if other.meta_type == 'Link' %}
                    <div class="card p-3 col-12 col-md-12 my-col my-card-3">
                      <div class="card-wrapper">
                          <div class="card-img">
                            {% if other.thumbnail_file.url|length > 0 %}
                              <a href="{{other.redirect_url}}" target="_blank"><img src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{other.thumbnail_file}}" alt="Bootstrap Autoplay Carousel Feature" title="" media-simple="true"></a>
                            {% endif %}
                          </div>
                          <div class="card-box">
                              <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="{{other.redirect_url}}" target="_blank" class="text-white"><strong>{{other.title}}</strong><span class="badge badge-info" style="margin-top: 2%;">{{other.reference_website}}</span></a></h4>
                          </div>
                      </div>
                    </div>
                    {% else %}
                    <div class="item" >
                      <div class="card p-3 col-12 col-md-12 my-col my-card-3">
                        <div class="card-wrapper">
                          <div class="card-img">
                            {% if other.thumbnail_file.url|length > 0 %}
                            <a class="example-image-link" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{other.document_file}}" data-lightbox="example-set"
                            data-title="{{other.title}}">
                                  <img class="example-image" style="max-height:230px;" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{other.document_file}}" alt="img">
                            </a>
                            {% endif %}
                          </div>
                          <div class="card-box">
                            <h6 class="card-title pb-3 mbr-fonts-style display-7 text-white"><strong>{{other.title}}</strong></h6>
                          </div>
                        </div>
                      </div>
                     </div>
                    {% endif %}
                    {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
      <div class="title">
        <a href="#">{% trans "What's New" %}</a>
      </div>
    </section>
    <section>
        <div class="section-shadow">
        <div class="container">
          <div class="row" style="padding: 0px 25px 25px 25px;">
              <div class="col-lg-8 col-sm-12" style="border: 4px solid #91D8EE;">
                    <a href="{{WhatsNewContent.0.click_url}}">
                  <figure class="mb-20">
                    {% if WhatsNewContent.0.thumbnail_file %}
                    <img class="img-fluid wn-img-1" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{WhatsNewContent.0.thumbnail_file}}" alt="service" />
                    {% else %}
                      <h5 class="img-1 wn-img-1">{{WhatsNewContent.0.text}}</h5>
                    {% endif %}
                  </figure>
                  <div class="whats-new-title">
                    <p class="text-display" style="color:#000;margin-bottom: 0px !important;"> {{WhatsNewContent.0.title}} </p>
                  </div>
                </a>
              </div>

              <div class="col-lg-4 col-sm-12">
                <a href="{{WhatsNewContent.1.click_url}}" class="static lang-en en">
                  <figure class="mb-20" style="border: 4px solid #C6C457;">
                    {% if WhatsNewContent.1.thumbnail_file %}
                      <img class="img-fluid wn-img-2" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{WhatsNewContent.1.thumbnail_file}}" alt="service" />
                    {% else %}
                      <h5 class="img-2 wn-img-2">{{WhatsNewContent.1.text}}</h5>
                    {% endif %}
                  </figure>
                  <div class="whats-new-title-1">
                    <p class="text-display" style="color:#000;margin-bottom: 0px !important;"> {{WhatsNewContent.1.title}} </p>
                  </div>
                </a>

                <a href="{{WhatsNewContent.2.click_url}}">
                  <figure class="mb-20" style="border: 4px solid #A0463E;">
                    {% if WhatsNewContent.2.thumbnail_file %}
                      <img style="vertical-align: bottom;" class="img-fluid wn-img-3" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{WhatsNewContent.2.thumbnail_file}}" alt="service" />
                    {% else %}
                      <h5 class="img-3 wn-img-3">{{WhatsNewContent.2.text}}</h5>
                    {% endif %}
                  </figure>
                  <div class="whats-new-title-2">
                    <p class="text-display" style="color:#000;margin-bottom: 0px !important;"> {{WhatsNewContent.2.title}} </p>
                  </div>
                </a>

              </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="title">
        <a href="#">{% trans "Suggested Watch" %}</a>
      </div>
      </section>

      <section>
          <div class="container-fluid">
            <div class="row" style="padding: 0px 25px 25px 25px;">
                <div class="col-lg-9 col-sm-12">
                  <div id="player"></div>
                </div>
                <div class="col-lg-3 col-sm-12">
                  <div class="row">
                    <div class="col">
                      <span style="font-size: 12px;">{% trans "Up Next" %}</span>
                    </div>
                    <div class="col">
                      <span style="font-size: 12px;">{% trans "AUTOPLAY" %}</span>
                      <label class="switch switch-info switch-round" style="padding-right: 0px;top: 3px;">
                        <input type="checkbox" name="autoplay" id='switchValue' onclick="getAutoplayVal()">
                        <span class="switch-label" data-on="YES" data-off="NO"></span>
                      </label>
                    </div>
                  </div>
                  <div class="playlist-scroll">
                    <div class="row">
                      <div class="col-lg-6 col-sm-12">
                          <iframe id="nextVideo" style="border: 1px solid red;" width="100%" height="100px" src="" frameborder="0"
                            allowfullscreen></iframe>
                      </div>
                      <div class="col-lg-6 col-sm-12">
                        <h5 id="nextVideoTitle" style="margin:0;color:#000;font-size:12px;"></h5>
                        <span style="font-size: 12px;">Youtube</span>
                      </div>
                    </div>
                    <hr>

                    {% for videoDetails in SuggestedVideos %}

                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                          <iframe id="playlist_{{videoDetails.id}}" width="100%" height="100px" src="" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-lg-6 col-sm-12" onclick="playVideo('{{videoDetails.video_id}}');" style="cursor: pointer;">
                          <h5 style="margin:0;color:#000;font-size:12px;">{{videoDetails.title}}</h5>
                          <span style="font-size: 12px;">Youtube</span>
                        </div>
                      </div>

                    {% endfor %}

                  </div>
                </div>
              <!-- </div> -->
            </div>
          </div>
        </section>

    </div>

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">{% trans "LATEST QUIZZES" %}</h4>
            <ul class="footer-posts list-unstyled">
                {% for latestQuiz in quizzes %}
                <li class="static lang-en en">
                  <a href="{% url 'app:quizterms' latestQuiz.id %}">{{latestQuiz.name}}</a>
                </li>
                {% endfor %}
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">{% trans "EXPLORE" %}</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">{% trans "play" %}</a></li>
              <li><a href="{% url 'read' %}" class="trn">{% trans "Read" %}</a></li>
              <li><a href="{% url 'watch' %}" class="trn">{% trans "Watch" %}</a></li>
              <li><a href="{% url 'home-engage' %}" class="trn">{% trans "Engage" %}</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">{% trans "CONTACT US" %}</h4>

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">{% trans "Feedback" %}</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container-fluid">
          <ul class="float-right m-0 list-inline mobile-block">
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">{% trans "Privacy Policy" %}</a></li>
          </ul>
          &copy;<span class="trn">{% trans "all_rights_reserved" %}</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">{% trans "Privacy Policy" %}</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">{% trans "privacy_policy_text_p1" %}</p>
              <p class="trn">{% trans "privacy_policy_text_p2" %}</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>

    </footer>
    <!-- /FOOTER -->
  </div>
  <!-- /wrapper -->

  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- SWIPER SLIDER -->
  <script src="{% static 'assets/plugins/slider.swiper/dist/js/swiper.min.js' %}"></script>
  <script src="{% static 'assets/js/view/demo.swiper_slider.js' %}"></script>
  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <!-- SEARCH -->
  <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery-migrate-3.0.0.min.js' %}"></script>
  <script src="{% static 'assets/js/search.js' %}"></script>

  <!-- LIGHTBOX NEW -->
  <script src="{% static 'assets/js/lightbox-plus-jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/test/jquery-3.5.1.slim.min.js' %}" ></script>
  <script src="{% static 'assets/js/test/owl.carousel.min.js' %}"></script>

  <script>

    var delay = 1000;
    setTimeout(function() {
      $('#preloader').remove();
    }, delay);

    $(document).ready(function () {

      $('#popularCategory').owlCarousel({
        loop:true,
        nav:false,
        dots:false,
        autoplay:true,
        mouseDrag: true,
        smartSpeed: 3500,
        autoplayTimeout:4500,
        margin: 0,
        addClassActive: true,
        responsiveClass: true,
        navText: [
                "<i class='fa fa-angle-left'></i>",
                "<i class='fa fa-angle-right'></i>"
            ],
        responsive:{
            0:{
                items:2
            },
            600:{
                items:3
            },
            1000:{
                items:4
            }
        }
      });

      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 0,
        addClassActive: true,
        responsiveClass: true,
        responsive: {
          0: {
            items: 3,
            center: true,
            dots: false,
            loop: false,
            nav: false,
            slideBy: 1,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
          },
          600: {
            items: 3,
            dots: false,
            loop: false,
            nav: false,
            slideBy: 1,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
          },
          1000: {
            items: 6,
            nav: false,
            dots: false,
            loop: false,
            margin: 20,
            slideBy: 1,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
          }
        }
      })

    });

    if (window.matchMedia('(max-width: 768px) and (orientation: portrait)').matches) {
      $('#slider').addClass('onethirdheight');
    } else if (window.matchMedia('(max-width: 768px) and (orientation: landscape)').matches) {
      $('#slider').addClass('halfheight');
    }
    else {
      $('#slider').addClass('fullheight');
    }

    wow = new WOW(
      {
        boxClass: 'wow', // default
        animateClass: 'animated', // default
        offset: 0, // default
        mobile: true,
        live: true // default
      }
    )
    wow.init();

    $(document).ready(function () {
      var scroll_pos = 0;
      $(document).scroll(function () {
        scroll_pos = $(this).scrollTop();
        if (scroll_pos > 0) {
          $("#header").css('background', 'white');
        } else {
          $("#header").css('background', 'white');
        }
      });
    });
</script>

<script async src="//www.youtube.com/iframe_api"></script>

<script>

  if(localStorage.getItem("autoplay") == undefined) {
    localStorage.setItem('autoplay', 0);
  }

  function getAutoplayVal() {
    var isChecked=document.getElementById("switchValue").checked;
    if(isChecked == true) {
      localStorage.setItem('autoplay', 1);
    }else{
      localStorage.setItem('autoplay', 0);
    }
  }

  if(localStorage.getItem("autoplay") == 1) {
    document.getElementById("switchValue").setAttribute("checked", "true");
  }else{
    document.getElementById("switchValue").removeAttribute("checked");
  }

    var videoIDs = [
        {% for videoDetails in SuggestedVideos %}
          ['{{videoDetails.video_id}}','{{videoDetails.title}}'],
        {% endfor %}
    ];

    var player, currentVideoId = 0;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '100%',
            width: '100%',
            playerVars: { 'mute': 1, 'autoplay': 0 },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.loadVideoById(videoIDs[currentVideoId][0]);
        player.stopVideo();
    }

    function onPlayerStateChange(event) {
      if ((currentVideoId+1) < videoIDs.length) {
        document.getElementById("nextVideo").src= "https://www.youtube.com/embed/"+videoIDs[currentVideoId+1][0];
        document.getElementById("nextVideoTitle").innerHTML= videoIDs[currentVideoId+1][1];
      }else {
        document.getElementById("nextVideo").src= "https://www.youtube.com/embed/"+videoIDs[0][0];
        document.getElementById("nextVideoTitle").innerHTML= videoIDs[0][1];
      }

      if(localStorage.getItem("autoplay") == 1) {
        if (event.data == YT.PlayerState.ENDED) {
            currentVideoId++;
            if (currentVideoId < videoIDs.length) {
                player.loadVideoById(videoIDs[currentVideoId][0]);
            }
        }
      }else {
        return false;
      }
    }

    function playVideo(videoId) {
      player.loadVideoById(videoId);
    }

    $(window).on("load", function () {
        {% for videoDetails in SuggestedVideos %}
          $("#playlist_{{videoDetails.id}}").attr("src", 'https://www.youtube.com/embed/{{videoDetails.video_id}}');
        {%  endfor %}
    });

    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");
    moreText.style.display = "none";
    console.log(moreText);

    function myFunction() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");
    moreText.style.display = "none";

    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read More";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read Less";
      moreText.style.display = "inline";
    }
  }

</script>

</body>

</html>
