{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Read</title>
  <meta name="description" content="" />
  {% endblock %}

</head>

<body>

  {% block content %}

  <section class="page-header">
    <div class="container">

      <h1 class="trn">{% trans "Read" %}</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <!-- <li><a href="#">Pages</a></li> -->
        <li class="active trn">{% trans "Read" %}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->

  <!-- -->
  <section>
    <div class="container">
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item"><a class="nav-link speech active trn" href="#speech" data-toggle="tab">{% trans "Speech" %}</a></li>
        <li class="nav-item"><a class="nav-link biographies trn" href="#biographies" data-toggle="tab">{% trans "Biographies" %}</a>
        </li>
        <li class="nav-item"><a class="nav-link books trn" href="#books" data-toggle="tab">{% trans "Books" %}</a></li>
        <li class="nav-item"><a class="nav-link resource trn" href="#resource" data-toggle="tab">{% trans "Resource" %}</a></li>
      </ul>
      <br><br>
      <div class="tab-content">
        <div class="tab-pane active" id="speech">
          <div class="row">
            <!-- RIGHT -->
            <div class="col-md-12 col-sm-12">
              <!-- POST ITEM -->
              <div class="blog-post-item static lang-en en">

                <h2><a href="mahatma-gandhi-english.html">Great Trial - Mahatma Gandhi</a></h2>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Speech"><span class="font-lato hashtag-color">#Speech</span></a>
                  </li>
                  <li><a href="search-results.html?tags=GreatSpeeches"><span
                        class="font-lato hashtag-color">#GreatSpeeches</span></a></li>
                  <li><a href="search-results.html?tags=Text"><span class="font-lato hashtag-color">#Text</span></a>
                  </li>
                  <li><a href="search-results.html?tags=Resources"><span
                        class="font-lato hashtag-color">#Resources</span></a></li>
                  <li><a href="search-results.html?tags=Nonviolence"><span
                        class="font-lato hashtag-color">#Nonviolence</span></a></li>
                  <li><a href="search-results.html?tags=MahatmaGandhi"><span
                        class="font-lato hashtag-color">#MahatmaGandhi</span></a></li>
                </ul>
                <p>“In my opinion, non-co-operation with evil is as much a duty as is co-operation with good.” –
                  Mahatma Gandhi </p>

                <a href="mahatma-gandhi-english.html" class="btn btn-reveal btn-default b-0 btn-shadow-1">
                  <i class="fa fa-plus"></i>
                  <span class="trn">{% trans "Read More" %}</span>
                </a>

              </div>
              <!-- /POST ITEM -->
              <!-- POST ITEM -->
              <div class="blog-post-item static lang-hn hn">

                <h2><a href="mahatma-gandhi-hindi.html">महान परीक्षण - महात्मा गांधी</a></h2>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Speech"><span class="font-lato hashtag-color">#Speech</span></a>
                  </li>
                  <li><a href="search-results.html?tags=GreatSpeeches"><span
                        class="font-lato hashtag-color">#GreatSpeeches</span></a></li>
                  <li><a href="search-results.html?tags=Text"><span class="font-lato hashtag-color">#Text</span></a>
                  </li>
                  <li><a href="search-results.html?tags=Resources"><span
                        class="font-lato hashtag-color">#Resources</span></a></li>
                  <li><a href="search-results.html?tags=Nonviolence"><span
                        class="font-lato hashtag-color">#Nonviolence</span></a></li>
                  <li><a href="search-results.html?tags=MahatmaGandhi"><span
                        class="font-lato hashtag-color">#MahatmaGandhi</span></a></li>
                </ul>
                <p>“मेरी राय में, बुराई के साथ असहयोग करना, अच्छाई के साथ सहयोग करने से अधिक आवश्यक कर्तव्य है।“ -
                  महात्मा गांधी</p>

                <a href="mahatma-gandhi-hindi.html" class="btn btn-reveal btn-default b-0 btn-shadow-1">
                  <i class="fa fa-plus"></i>
                  <span class="trn">{% trans "Read More" %}</span>
                </a>

              </div>
              <!-- /POST ITEM -->
              <!-- POST ITEM -->
              <div class="blog-post-item static lang-pn pn">

                <h2><a href="mahatma-gandhi-punjabi.html">ਟੈਸਟ ਮਹਾਨ - ਮਹਾਤਮਾ ਗਾਂਧੀ</a></h2>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Speech"><span class="font-lato hashtag-color">#Speech</span></a>
                  </li>
                  <li><a href="search-results.html?tags=GreatSpeeches"><span
                        class="font-lato hashtag-color">#GreatSpeeches</span></a></li>
                  <li><a href="search-results.html?tags=Text"><span class="font-lato hashtag-color">#Text</span></a>
                  </li>
                  <li><a href="search-results.html?tags=Resources"><span
                        class="font-lato hashtag-color">#Resources</span></a></li>
                  <li><a href="search-results.html?tags=Nonviolence"><span
                        class="font-lato hashtag-color">#Nonviolence</span></a></li>
                  <li><a href="search-results.html?tags=MahatmaGandhi"><span
                    class="font-lato hashtag-color">#MahatmaGandhi</span></a></li>
                </ul>
                <p>“ਮੇਰੀ ਰਾਏ ਵਿੱਚ, ਬੁਰਾਈ ਨਾਲ ਅਸਹਿਯੋਗ ਕਰਨਾ ਚੰਗੇ ਦਾ ਸਾਥ ਦੇਣ ਨਾਲੋਂ ਇਕ ਜ਼ਰੂਰੀ ਫ਼ਰਜ਼ ਹੈ।” - ਮਹਾਤਮਾ ਗਾਂਧੀ
                </p>

                <a href="mahatma-gandhi-punjabi.html" class="btn btn-reveal btn-default b-0 btn-shadow-1">
                  <i class="fa fa-plus"></i>
                  <span class="trn">{% trans "Read More" %}</span>
                </a>

              </div>
              <!-- /POST ITEM -->
              <!-- POST ITEM -->
              <div class="blog-post-item static lang-hn hn">

                <h2><a href="tryst-with-destiny-nehru-hindi.html">भाग्य के साथ प्रयास करें - जवाहर लाल नेहरू</a></h2>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=Independence"><span
                        class="font-lato hashtag-color">#Independence</span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Speech"><span class="font-lato hashtag-color">#Speech</span></a>
                  </li>
                  <li><a href="search-results.html?tags=Resources"><span
                        class="font-lato hashtag-color">#Resources</span></a></li>
                  <li><a href="search-results.html?tags=Text"><span class="font-lato hashtag-color">#Text</span></a>
                  </li>
                  <li><a href="search-results.html?tags=GreatSpeeches"><span
                        class="font-lato hashtag-color">#GreatSpeeches</span></a></li>
                  <li><a href="search-results.html?tags=NehruvianDream"><span
                        class="font-lato hashtag-color">#NehruvianDream</span></a></li>
                  <li><a href="search-results.html?tags=ChachaNehru"><span
                        class="font-lato hashtag-color">#ChachaNehru</span></a></li>
                </ul>
                <p>कई सालों पहले, हमने नियति के साथ एक वादा(Tryst with Destiny) किया था, और अब समय आ गया है कि हम अपना
                  वादा निभायें, पूरी तरह न सही पर बहुत हद तक तो निभायें. आधी रात के स्ट्रोक के समय, जब दुनिया सो रही
                  होगी, भारत जीवन और स्वतंत्रता के लिए जाग जाएगा.</p>

                <a href="tryst-with-destiny-nehru-hindi.html" class="btn btn-reveal btn-default b-0 btn-shadow-1">
                  <i class="fa fa-plus"></i>
                  <span class="trn">{% trans "Read More" %}</span>
                </a>

              </div>
              <!-- /POST ITEM -->
              <!-- POST ITEM -->
              <div class="blog-post-item static lang-pn pn">

                <h2><a href="tryst-with-destiny-nehru-punjabi.html">ਕਿਸਮਤ ਨਾਲ ਕੋਸ਼ਿਸ਼ ਕਰੋ - ਜਵਾਹਰ ਲਾਲ ਨੇਹਰੂ</a></h2>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=Independence"><span
                        class="font-lato hashtag-color">#Independence</span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Speech"><span class="font-lato hashtag-color">#Speech</span></a>
                  </li>
                  <li><a href="search-results.html?tags=Resources"><span
                        class="font-lato hashtag-color">#Resources</span></a></li>
                  <li><a href="search-results.html?tags=Text"><span class="font-lato hashtag-color">#Text</span></a>
                  </li>
                  <li><a href="search-results.html?tags=GreatSpeeches"><span
                        class="font-lato hashtag-color">#GreatSpeeches</span></a></li>
                  <li><a href="search-results.html?tags=NehruvianDream"><span
                        class="font-lato hashtag-color">#NehruvianDream</span></a></li>
                  <li><a href="search-results.html?tags=ChachaNehru"><span
                        class="font-lato hashtag-color">#ChachaNehru</span></a></li>
                </ul>
                <p>ਬਹੁਤ ਸਾਲ ਪਹਿਲਾਂ, ਅਸੀਂ ਕਿਸਮਤ ਨਾਲ ਇਕ ਵਾਅਦਾ ਕੀਤਾ ਸੀ, ਅਤੇ ਹੁਣ ਸਮਾਂ ਆ ਗਿਆ ਹੈ ਕਿ ਅਸੀਂ ਆਪਣੇ ਵਾਅਦੇ ਨੂੰ ਪੂਰਾ
                  ਕਰੀਏ, ਇਸ ਨੂੰ ਬਹੁਤ ਹੱਦ ਤਕ ਪੂਰਾ ਕਰਾਂਗੇ, ਪੂਰੀ ਤਰ੍ਹਾਂ ਨਹੀਂ. ਅੱਧੀ ਰਾਤ ਦੇ ਸਟਰੋਕ ਤੇ, ਜਦੋਂ ਵਿਸ਼ਵ ਸੌਂ ਰਿਹਾ
                  ਹੈ, ਭਾਰਤ ਜੀਵਨ ਅਤੇ ਆਜ਼ਾਦੀ ਲਈ ਜਾਗ ਜਾਵੇਗਾ.</p>

                <a href="tryst-with-destiny-nehru-punjabi.html" class="btn btn-reveal btn-default b-0 btn-shadow-1">
                  <i class="fa fa-plus"></i>
                  <span class="trn">{% trans "Read More" %}</span>
                </a>

              </div>
              <!-- /POST ITEM -->
              <!-- POST ITEM -->
              <div class="blog-post-item static lang-en en">

                <h2><a href="tryst-with-destiny-nehru-english.html">Tryst with Destiny - Jawaharlal Nehru</a></h2>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=Independence"><span
                        class="font-lato hashtag-color">#Independence</span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Speech"><span class="font-lato hashtag-color">#Speech</span></a>
                  </li>
                  <li><a href="search-results.html?tags=Resources"><span
                        class="font-lato hashtag-color">#Resources</span></a></li>
                  <li><a href="search-results.html?tags=Text"><span class="font-lato hashtag-color">#Text</span></a>
                  </li>
                  <li><a href="search-results.html?tags=GreatSpeeches"><span
                        class="font-lato hashtag-color">#GreatSpeeches</span></a></li>
                  <li><a href="search-results.html?tags=NehruvianDream"><span
                        class="font-lato hashtag-color">#NehruvianDream</span></a></li>
                  <li><a href="search-results.html?tags=ChachaNehru"><span
                        class="font-lato hashtag-color">#ChachaNehru</span></a></li>
                </ul>
                <p>Long years ago we made a tryst with destiny, and now the time comes when we shall redeem our
                  pledge, not wholly or in full measure, but very substantially. At the stroke of the midnight hour,
                  when the world sleeps, India will awake to life and freedom.</p>

                <a href="tryst-with-destiny-nehru-english.html" class="btn btn-reveal btn-default b-0 btn-shadow-1">
                  <i class="fa fa-plus"></i>
                  <span class="trn">{% trans "Read More" %}</span>
                </a>

              </div>
              <!-- /POST ITEM -->

              <div class="blog-post-item">
                <div class="col-md-6">
                  <h3>Hind Swaraj Speech - Rajiv Gandhi</h3>
                  <ul class="blog-post-info list-inline">
                    <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                    <li><a href="search-results.html?tags=GreatSpeeches"><span
                          class="font-lato hashtag-color">#GreatSpeeches</span></a></li>
                    <li><a href="search-results.html?tags=Audio"><span class="font-lato hashtag-color">#Audio</span></a>
                    </li>
                    <li><a href="search-results.html?tags=RajivGandhi"><span class="font-lato hashtag-color">#RajivGandhi</span></a>
                    </li>
                    <li><a href="search-results.html?tags=Resources"><span
                          class="font-lato hashtag-color">#Resources</span></a></li>
                    <li><a href="search-results.html?tags=History"><span
                          class="font-lato hashtag-color">#History</span></a></li>
                    <li><a href="search-results.html?tags=Sadbhavana"><span
                          class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  </ul>
                  <iframe id="HindSwaraj-Speech-06-6" src="" width="500" height="140" frameborder="0"
                    webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
                </div>
              </div>

              <div class="blog-post-item">
                <div class="col-md-6">
                  <h3>I Have a Dream - Martin Luther King Jr.</h3>
                  <ul class="blog-post-info list-inline">
                    <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                    <li><a href="search-results.html?tags=History"><span
                          class="font-lato hashtag-color">#History</span></a></li>
                    <li><a href="search-results.html?tags=GreatSpeeches"><span
                          class="font-lato hashtag-color">#GreatSpeeches</span></a></li>
                    <li><a href="search-results.html?tags=Resources"><span
                          class="font-lato hashtag-color">#Resources</span></a></li>
                    <li><a href="search-results.html?tags=Text"><span class="font-lato hashtag-color">#Text</span></a>
                    </li>
                    <li><a href="search-results.html?tags=Nonviolence"><span
                          class="font-lato hashtag-color">#Nonviolence</span></a></li>
                    <li><a href="search-results.html?tags=Gandhi"><span
                          class="font-lato hashtag-color">#Gandhi</span></a></li>
                    <li><a href="search-results.html?tags=IHaveADream"><span
                          class="font-lato hashtag-color">#IHaveADream</span></a></li>
                    <li><a href="search-results.html?tags=Video"><span
                          class="font-lato hashtag-color">#Video</span></a></li>
                    <li><a href="search-results.html?tags=MartinLutherKing"><span
                          class="font-lato hashtag-color">#MartinLutherKing</span></a></li>
                  </ul>
                  <!-- VIMEO VIDEO -->
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="vP4iY1TtS3s" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>

              <br /><br /><br />
              <div class="blog-post-item">
                <div class="col-md-6">
                  <h3>It Is An Ideal For Which I Am Prepared To Die - Mandela Speech, Sabotage Trial, 1964</h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="gvnLk96vLQE" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>

              <br /><br /><br />
              <div class="blog-post-item">
                <div class="col-md-6">
                  <h3>James Baldwin - Pin Drop Speech</h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="NUBh9GqFU3A" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>

              <!-- /POST ITEM -->
              <!-- POST ITEM -->
              <div class="blog-post-item static lang-en en">
                  <h2><a href="maulana-abdul-kalam-azad-english.html">Maulana Abdul Kalam Azad</a></h2>
                  <ul class="blog-post-info list-inline">
                     <li></li>
                  </ul>
                  <p>It is for me a great pleasure to associate myself with the formal opening of the Indian Institute of
                  Technology (IIT) at Kharagpur. When I assumed charge of the Ministry of Education in 1947, I
                  felt that of the many tasks of educational reconstruction that faced the country, two were of
                  paramount urgency.</p>
                  <a href="maulana-abdul-kalam-azad-english.html" class="btn btn-reveal btn-default b-0 btn-shadow-1">
                     <i class="fa fa-plus"></i>
                      <span class="trn">{% trans "Read More" %}</span>
                  </a>
              </div>
              <!-- /POST ITEM -->

            </div>

          </div>
        </div>

        <div class="tab-pane" id="biographies">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-en en">
              <a href="biographies-en/MAHATMA-GANDHI.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/006/medium/Gandhi_inc.jpg?1505451907" />
                </figure>
                <h4 class="mb-0">MAHATMA GANDHI</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=MahatmaGandhi"><span
                        class="font-lato hashtag-color">#MahatmaGandhi</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-pn pn">
              <a href="biographies-pn/MAHATMA-GANDHI.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/006/medium/Gandhi_inc.jpg?1505451907" />
                </figure>
                <h4 class="mb-0">ਮਹਾਤਮਾ ਗਾਂਧੀ</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=MahatmaGandhi"><span
                        class="font-lato hashtag-color">#MahatmaGandhi</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-en en">
              <a href="biographies-en/PANDIT-JAWAHARLAL-NEHRU.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/007/medium/Nehru_inc.jpg?1505455906" />
                </figure>
                <h4 class="mb-0">PANDIT JAWAHARLAL NEHRU</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=PanditJawaharlalNehru"><span
                        class="font-lato hashtag-color">#PanditJawaharlalNehru</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-pn pn">
              <a href="biographies-pn/PANDIT-JAWAHARLAL-NEHRU.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/007/medium/Nehru_inc.jpg?1505455906" />
                </figure>
                <h4 class="mb-0">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨੇਹਰੂ</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=PanditJawaharlalNehru"><span
                        class="font-lato hashtag-color">#PanditJawaharlalNehru</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-en en">
              <a href="biographies-en/SARDAR-VALLABHBHAI-PATEL.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/008/medium/Patel_inc.jpg?1505456114" />
                </figure>
                <h4 class="mb-0">SARDAR VALLABHBHAI PATEL</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=SardarVallabhbhaiPatel"><span
                        class="font-lato hashtag-color">#SardarVallabhbhaiPatel</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-pn pn">
              <a href="biographies-pn/SARDAR-VALLABHBHAI-PATEL.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/008/medium/Patel_inc.jpg?1505456114" />
                </figure>
                <h4 class="mb-0">ਸਰਦਾਰ ਵੱਲਭ ਭਾਈ ਪਟੇਲ</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=SardarVallabhbhaiPatel"><span
                        class="font-lato hashtag-color">#SardarVallabhbhaiPatel</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-en en">
              <a href="biographies-en/DR-B-R-AMBEDKAR.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/012/medium/ambedkar_inc.jpg?1505457469" />
                </figure>
                <h4 class="mb-0">DR B R AMBEDKAR</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=DrBRAmbedkar"><span
                        class="font-lato hashtag-color">#DrBRAmbedkar</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-pn pn">
              <a href="biographies-pn/DR-B-R-AMBEDKAR.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/012/medium/ambedkar_inc.jpg?1505457469" />
                </figure>
                <h4 class="mb-0">ਡਾ ਬੀ ਆਰ ਅੰਬੇਡਕਰ</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=DrBRAmbedkar"><span
                        class="font-lato hashtag-color">#DrBRAmbedkar</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-en en">
              <a href="biographies-en/NETAJI-SUBHASH-CHANDRA-BOSE.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/009/medium/Netaji_inc.jpg?1505456887" />
                </figure>
                <h4 class="mb-0">NETAJI SUBHASH CHANDRA BOSE</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=NetajiSubhashChandraBose"><span
                        class="font-lato hashtag-color">#NetajiSubhashChandraBose</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-pn pn">
              <a href="biographies-pn/NETAJI-SUBHASH-CHANDRA-BOSE.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/009/medium/Netaji_inc.jpg?1505456887" />
                </figure>
                <h4 class="mb-0">ਨੇਤਾਜੀ ਸੁਭਾਸ਼ ਚੰਦਰ ਬੋਸ</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=NetajiSubhashChandraBose"><span
                        class="font-lato hashtag-color">#NetajiSubhashChandraBose</span></a></li>
                </ul>
              </a>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-en en">
              <a href="biographies-en/SHRI-LAL-BAHADUR-SHASTRI.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/013/medium/lal_bahadur_shastri_inc.jpg?1505457614" />
                </figure>
                <h4 class="mb-0">SHRI LAL BAHADUR SHASTRI</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=ShriLalBahadurShastri"><span
                        class="font-lato hashtag-color">#ShriLalBahadurShastri</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-pn pn">
              <a href="biographies-pn/SHRI-LAL-BAHADUR-SHASTRI.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/013/medium/lal_bahadur_shastri_inc.jpg?1505457614" />
                </figure>
                <h4 class="mb-0">ਸ੍ਰੀ ਲਾਲ ਬਹਾਦਰ ਸ਼ਾਸਤਰੀ</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=ShriLalBahadurShastri"><span
                        class="font-lato hashtag-color">#ShriLalBahadurShastri</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-en en">
              <a href="biographies-en/SMT-INDIRA-GANDHI.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/014/medium/indira_gandhi_inc.jpg?1505457727" />
                </figure>
                <h4 class="mb-0">SMT. INDIRA GANDHI</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=SmtIndiaraGandhi"><span
                        class="font-lato hashtag-color">#SmtIndiaraGandhi</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-pn pn">
              <a href="biographies-pn/SMT-INDIRA-GANDHI.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/014/medium/indira_gandhi_inc.jpg?1505457727" />
                </figure>
                <h4 class="mb-0">ਸ਼੍ਰੀਮਤੀ. ਇੰਦਰਾ ਗਾਂਧੀ</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=SmtIndiaraGandhi"><span
                        class="font-lato hashtag-color">#SmtIndiaraGandhi</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-en en">
              <a href="biographies-en/SHRI-RAJIV-GANDHI.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/004/medium/rajiv_gandhi_inc.jpg?1505382674" />
                </figure>
                <h4 class="mb-0">SHRI RAJIV GANDHI</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=ShriRajivGandhi"><span
                        class="font-lato hashtag-color">#ShriRajivGandhi</span></a></li>
                </ul>
              </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 mb-50 static lang-pn pn">
              <a href="biographies-pn/SHRI-RAJIV-GANDHI.html">
                <figure class="mb-20">
                  <img class="img-fluid"
                    src="https://cdn.inc.in/inspirations/thumbnails/000/000/004/medium/rajiv_gandhi_inc.jpg?1505382674" />
                </figure>
                <h4 class="mb-0">ਸ਼੍ਰੀ ਰਾਜੀਵ ਗਾਂਧੀ</h4>
                <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=History"><span
                        class="font-lato hashtag-color">#History</span></a></li>
                  <li><a href="search-results.html?tags=Inspirations"><span
                        class="font-lato hashtag-color">#Inspirations</span></a></li>
                  <li><a href="search-results.html?tags=InTheirFootsteps"><span
                        class="font-lato hashtag-color">#InTheirFootsteps</span></a></li>
                  <li><a href="search-results.html?tags=Samadhan"><span
                        class="font-lato hashtag-color">#Samadhan</span></a></li>
                  <li><a href="search-results.html?tags=Sadbhavana"><span
                        class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                  </li>
                  <li><a href="search-results.html?tags=LifeLessons"><span
                        class="font-lato hashtag-color">#LifeLessons</span></a></li>
                  <li><a href="search-results.html?tags=Biographies"><span
                        class="font-lato hashtag-color">#Biographies</span></a></li>
                  <li><a href="search-results.html?tags=ShriRajivGandhi"><span
                        class="font-lato hashtag-color">#ShriRajivGandhi</span></a></li>
                </ul>
              </a>
            </div>

          </div>
        </div>

        <div class="tab-pane" id="resource">
          <div class="container">
            <div class="row">

              <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="http://content.time.com/time/specials/packages/article/0,28804,1841778_1841781_1841808,00.html"
                  target="_blank">
                  <figure class="mb-20">
                    <img class="img-fluid"
                      src="http://img.timeinc.net/time/photoessays/ecoheroes/360_seechewal_1006.jpg" alt="service" />
                  </figure>
                  <h4 class="mb-0">Balbir Singh Seechewal
                    <span class="badge badge-info" style="margin-top: 2%;">TIME</span>
                  </h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                    <li><a href="search-results.html?tags=Sadhbhavana"><span
                          class="font-lato hashtag-color">#Sadhbhavana</span></a></li>
                    <li><a href="search-results.html?tags=Samadhan"><span
                          class="font-lato hashtag-color">#Samadhan</span></a></li>
                    <li><a href="search-results.html?tags=LifeLessons"><span
                          class="font-lato hashtag-color">#LifeLessons</span></a></li>
                    <li><a href="search-results.html?tags=LearningtobeBetter"><span
                          class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                    <li><a href="search-results.html?tags=ExternalLink"><span class="font-lato hashtag-color">#ExternalLink</span></a>
                    </li>
                    <li><a href="search-results.html?tags=RoleModels"><span
                          class="font-lato hashtag-color">#RoleModels</span></a></li>
                    <li><a href="search-results.html?tags=Inspirations"><span
                          class="font-lato hashtag-color">#Inspirations</span></a></li>
                    <li><a href="search-results.html?tags=InRealLife"><span class="font-lato hashtag-color">#InRealLife</span></a>
                    </li>
                  </ul>

                </a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.huffingtonpost.in/entry/azim-khamisa-and-ples-felix_n_5c632ab1e4b03de942966727?ri18n=true"
                  target="_blank">
                  <figure class="mb-20">
                    <img class="img-fluid"
                      src="https://img.huffingtonpost.com/asset/5c63b91420000001016e80df.jpeg?ops=scalefit_630_noupscale"
                      alt="service" />
                  </figure>

                  <h4 class="mb-0">Why This Man Befriended His Son's Murderer And His Family
                    <span class="badge badge-info" style="margin-top: 2%;">HuffPost India</span>
                  </h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                    <li><a href="search-results.html?tags=Sadhbhavana"><span
                          class="font-lato hashtag-color">#Sadhbhavana</span></a></li>
                    <li><a href="search-results.html?tags=Samadhan"><span
                          class="font-lato hashtag-color">#Samadhan</span></a></li>
                    <li><a href="search-results.html?tags=LifeLessons"><span
                          class="font-lato hashtag-color">#LifeLessons</span></a></li>
                    <li><a href="search-results.html?tags=LearningtobeBetter"><span
                          class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                    <li><a href="search-results.html?tags=ExternalLink"><span class="font-lato hashtag-color">#ExternalLink</span></a>
                    </li>
                    <li><a href="search-results.html?tags=RoleModels"><span
                          class="font-lato hashtag-color">#RoleModels</span></a></li>
                    <li><a href="search-results.html?tags=Inspirations"><span
                          class="font-lato hashtag-color">#Inspirations</span></a></li>
                    <li><a href="search-results.html?tags=InRealLife"><span class="font-lato hashtag-color">#InRealLife</span></a>
                          </li>
                  </ul>
                </a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.thebetterindia.com/197853/tamil-man-innovation-road-safety-auto-rescue-system-accident-friend-death-india/"
                  target="_blank">
                  <figure class="mb-20">
                    <img class="img-fluid"
                      src="https://www.thebetterindia.com/wp-content/uploads/2019/09/Untitled-design-33.png"
                      alt="service" />
                  </figure>
                  <h4 class="mb-0">Death of a Friend Pushes 27-YO to Create Rescue System For Road Accident Victims!
                    <span class="badge badge-info" style="margin-top: 2%;">the better india</span>
                  </h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                    <li><a href="search-results.html?tags=Sadhbhavana"><span
                          class="font-lato hashtag-color">#Sadhbhavana</span></a></li>
                    <li><a href="search-results.html?tags=Samadhan"><span
                          class="font-lato hashtag-color">#Samadhan</span></a></li>
                    <li><a href="search-results.html?tags=LifeLessons"><span
                          class="font-lato hashtag-color">#LifeLessons</span></a></li>
                    <li><a href="search-results.html?tags=LearningtobeBetter"><span
                          class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                    <li><a href="search-results.html?tags=ExternalLink"><span class="font-lato hashtag-color">#ExternalLink</span></a>
                    </li>
                    <li><a href="search-results.html?tags=RoleModels"><span
                          class="font-lato hashtag-color">#RoleModels</span></a></li>
                    <li><a href="search-results.html?tags=Inspirations"><span
                          class="font-lato hashtag-color">#Inspirations</span></a></li>
                    <li><a href="search-results.html?tags=InRealLife"><span class="font-lato hashtag-color">#InRealLife</span></a>
                    </li>
                  </ul>
                </a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.thebetterindia.com/197593/uttar-pradesh-village-women-literacy-world-bank-economist-sarva-shiksha-abhiyan-hero-lucknow/"
                  target="_blank">
                  <figure class="mb-20">
                    <img class="img-fluid"
                      src="https://www.thebetterindia.com/wp-content/uploads/2019/09/Untitled-design-24.jpg"
                      alt="service" />
                  </figure>
                  <h4 class="mb-0">World Bank Economist Quits Job, Helps Educate 800+ Women At Just Rs 5 Per Head!
                    <span class="badge badge-info" style="margin-top: 2%;">the better india</span>
                  </h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                    <li><a href="search-results.html?tags=Sadhbhavana"><span
                          class="font-lato hashtag-color">#Sadhbhavana</span></a></li>
                    <li><a href="search-results.html?tags=Samadhan"><span
                          class="font-lato hashtag-color">#Samadhan</span></a></li>
                    <li><a href="search-results.html?tags=LifeLessons"><span
                          class="font-lato hashtag-color">#LifeLessons</span></a></li>
                    <li><a href="search-results.html?tags=LearningtobeBetter"><span
                          class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                    <li><a href="search-results.html?tags=ExternalLink"><span class="font-lato hashtag-color">#ExternalLink</span></a>
                    </li>
                    <li><a href="search-results.html?tags=RoleModels"><span
                          class="font-lato hashtag-color">#RoleModels</span></a></li>
                    <li><a href="search-results.html?tags=Inspirations"><span
                          class="font-lato hashtag-color">#Inspirations</span></a></li>
                    <li><a href="search-results.html?tags=InRealLife"><span class="font-lato hashtag-color">#InRealLife</span></a>
                    </li>
                  </ul>
                </a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="http://cw.routledge.com/textbooks/9780415485432/26.asp" target="_blank">
                  <figure class="mb-20">
                    <img class="img-fluid" src="http://cw.routledge.com/textbooks/9780415485432/images/top.jpg"
                      alt="service" />
                  </figure>
                  <h4 class="mb-0">The Impeachment of Warren Hastings
                    <span class="badge badge-info" style="margin-top: 2%;">Taylor & Francis Group</span>
                  </h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="search-results.html?tags=ExternalLink"><span class="font-lato hashtag-color">#ExternalLink</span></a>
                    </li>
                    <li><a href="search-results.html?tags=InRealLife"><span class="font-lato hashtag-color">#InRealLife</span></a>
                    </li>
                  </ul>
                </a>
              </div>
              

              <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="http://ccnmtl.columbia.edu/projects/mmt/ambedkar/web/readings/aoc_print_2004.pdf"
                  target="_blank">
                  <figure class="mb-20">
                    <img class="img-fluid" src="http://ccnmtl.columbia.edu/projects/mmt/ambedkar/web/images/splash.gif"
                      alt="service" />
                  </figure>
                  <h4 class="mb-0">The Annihilation of Caste by Dr. B.R. Ambedkar
                    <span class="badge badge-info" style="margin-top: 2%;">columbia.edu</span>
                  </h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="search-results.html?tags=ExternalLink"><span class="font-lato hashtag-color">#ExternalLink</span></a>
                    </li>
                    <li><a href="search-results.html?tags=InRealLife"><span class="font-lato hashtag-color">#InRealLife</span></a>
                    </li>
                  </ul>
                </a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.artofmanliness.com/quit-india-speech-by-ghandi/" target="_blank">
                  <figure class="mb-20">
                    <img class="img-fluid"
                      src="https://www.artofmanliness.com/wp-content/themes/aom/assets/img/logo.svg" alt="service" />
                  </figure>
                  <h4 class="mb-0">Mahatma Gandhi, Quit India Speech
                    <span class="badge badge-info" style="margin-top: 2%;">The Art of Manliness</span>
                  </h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="search-results.html?tags=ExternalLink"><span class="font-lato hashtag-color">#ExternalLink</span></a>
                    </li>
                    <li><a href="search-results.html?tags=InRealLife"><span class="font-lato hashtag-color">#InRealLife</span></a>
                    </li>
                  </ul>
                </a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://www.huffingtonpost.in/dr-anil-k-rajvanshi/anecdotes-about-jawahar-l_b_8440090.html#gallery/5c353175e4b03417ad4666bc/11" target="_blank">
                  <figure class="mb-20">
                    <img class="img-fluid"
                    src="https://img.huffingtonpost.com/asset/5c353175240000300061fad7.jpeg?ops=scalefit_950_800_noupscale" alt="service" />
                  </figure>
                  <h4 class="mb-0">Chacha Nehru in action
                  <span class="badge badge-info" style="margin-top: 2%;">HuffPost India</span>
                  </h4>
                  <h5>“Nehru really liked children, and was rightly called "Chacha Nehru" (Uncle Nehru). Sunder Lal told me about one incident regarding his love for children. Nehru had invited all the newly elected MPs of his party for a dinner held in the lawns of Teen Murti house. During dinner Nehru saw that some street urchins had climbed the boundary wall and were sitting on it looking at the guests who were having dinner. So he took his plate and went to the wall and gave it to a young boy. Immediately all the MPs also gave their dinner plates to the children!”</h5>
                  <ul class="blog-post-info list-inline">
                     <li></li>
                  </ul>
                 </a>
              </div> 

              <div class="col-lg-4 col-md-4 col-sm-4">
                  <a href="https://qz.com/india/463197/the-jawaharlal-nehru-todays-india-does-not-know/" target="_blank">
                    <figure class="mb-20">
                      <img class="img-fluid"
                        src="https://cms.qz.com/wp-content/uploads/2015/07/nehru.jpg?quality=75&strip=all&w=1900&h=1068" alt="service" />
                    </figure>
                    <h4 class="mb-0">Chacha Nehru had great physical courage
                      <span class="badge badge-info" style="margin-top: 2%;">Quartz India</span>          
                    </h4>
                    <h5>We know this from the famous story of an incident during the riots of Partition in Delhi. Nehru was already prime minister when he was passing by a mob that was attacking a Muslim tailor at Chandni Chowk. He ordered the car to stop and jumped in to save the man, swinging a lathi that he took from the police. He had no care for his personal safety and of course this was in the time when prime ministers did not have the sort of security that they do today. But he thought of nothing other than the victim and the mob, terrified at the enraged leader in their midst, fled.

                    Nehru was dyed secular through and through. It was not something that he put on. It is said that he rejected advice to remove the Muslim cooks in his kitchen because he refused to see all individuals through the lens of their faith. Every generation is fortunate to have such a man leading them and Gandhi knew what he was doing when he trained and gifted Nehru to us.
                        
                    Excerpted with permission from Nehru’s India: Essays on the Maker of a Nation, edited by Nayantara Sahgal, Speaking Tiger Books. This passage is excerpted from The Many Faces of Jawaharlal, by Aakar Patel. This post first appeared on Scroll.in.</h5>
                    <ul class="blog-post-info list-inline">
                        <li></li>
                    </ul>
                  </a>
            </div>             

            <div class="col-lg-4 col-md-4 col-sm-4">
                  <a href="http://creative.sulekha.com/chacha-nehru-s-inspiring-anecdotes_447898_blog" target="_blank">
                        <!-- <figure class="mb-20">
                        <img class="img-fluid"
                        src="https://www.artofmanliness.com/wp-content/themes/aom/assets/img/logo.svg" alt="service" />
                        </figure> -->
                        <h4 class="mb-0">Language Of Your Liking!
                        <span class="badge badge-info" style="margin-top: 2%;">Sulekha</span>
                        </h4>
                        <h5>
                        At the Balkanji-Bari get together, a boy, extending autograph book, asked Chacha Nehru,
                        “Chachaji, can I have your autograph?”
                        Nehru obliged him. The boy looked at the autograph and pointed out to him,
                        “Chachaji, you have omitted to put the 'Tarik' (date).”
                        Nehru put the date also. The boy again said,
                        “Chachaji, you have not written any 'Sandesh' (message).”
                        Nehru smiled and wrote a small message. When the boy looked at the autograph book, he was surprised. Nehru had written his signatures in English, the date in Urdu and the message in Hindi. When the boy looked at Nehru questioningly, he, with a broad smile, said,
                        “My dear kid, you asked for my signatures in English, the date in Urdu and the message in Hindi, and you have them thus.”
                        </h5>
                        <ul class="blog-post-info list-inline">
                           <li></li>
                        </ul>
                  </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 static lang-hn hn">
               <a href="https://khabar.ndtv.com/news/career/childrens-day-2019-jawaharlal-nehru-images-quotes-in-hindi-2131859" target="_blank">
               <figure class="mb-20">
                  <img class="img-fluid" src="https://c.ndtvimg.com/2019-02/1lqudi8o_jawaharlal-nehru_625x300_07_February_19.jpg" alt="service" />
               </figure>
               <h4 class="mb-0">अज्ञानता हमेशा बदलाव से डरती है'', जानिए जवाहरलाल नेहरू के 10 विचार
                  <span class="badge badge-info" style="margin-top: 2%;">NDTV INDIA</span>
               </h4>
               <ul class="blog-post-info list-inline">
                  <li></li>
               </ul>
               </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
               <a href="https://pictorial.jezebel.com/today-is-the-anniversary-of-ruby-bridges-historic-first-1788949334?utm_campaign=socialflow_jezebel_facebook&utm_source=jezebel_facebook&utm_medium=socialflow" target="_blank">
               <figure class="mb-20">
                  <img class="img-fluid" src="https://i.kinja-img.com/gawker-media/image/upload/c_scale,f_auto,fl_progressive,q_80,w_1600/l0zfjaec5blrwqv8epzj.jpg" alt="service" />
               </figure>
               <h4 class="mb-0">Today Is the Anniversary of Ruby Bridges' Historic First Day of School
                  <span class="badge badge-info" style="margin-top: 2%;">JEZEBEL</span>
               </h4>
               <ul class="blog-post-info list-inline">
                  <li></li>
               </ul>
               </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
               <a href="https://scroll.in/latest/929003/haryana-24-villages-decide-not-to-use-caste-as-surnames" target="_blank">
               <figure class="mb-20">
                  <img class="img-fluid" src="https://d1u4oo4rb13yy8.cloudfront.net/article/quahaufwmv-1529837230.jpg" alt="service" />
               </figure>
               <h4 class="mb-0">Haryana: 24 villages decide not to use caste as surnames
                  <span class="badge badge-info" style="margin-top: 2%;">Scroll.in</span>
               </h4>
               <ul class="blog-post-info list-inline">
                  <li></li>
               </ul>
               </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
               <a href="https://www.thebetterindia.com/145587/news-vikas-khanna-muslim-mumbai-riots/" target="_blank">
               <figure class="mb-20">
                  <img class="img-fluid" src="https://www.thebetterindia.com/wp-content/uploads/2018/06/Add-subheading-15.jpg" alt="service" />
               </figure>
               <h4 class="mb-0">Chef Vikas Khanna Reunites with Muslim Family Who Saved Him in 1992 Mumbai Riots!
                  <span class="badge badge-info" style="margin-top: 2%;">the better india</span>
               </h4>
               <ul class="blog-post-info list-inline">
                  <li></li>
               </ul>
               </a>
            </div>            

            </div>

          </div>
        </div>
        <div class="tab-pane" id="books">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="across-the-universe.html">
                  <figure class="mb-20">
                    <img class="img-fluid" src="{% static 'assets/books/across-the-universe/cover.png' %}"
                      alt="service" />
                  </figure>
                  <h4 class="mb-0">ACROSS-THE-UNIVERSE</h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                    <li><a href="search-results.html?tags=Sadbhavana"><span
                          class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                    <li><a href="search-results.html?tags=Peace"><span class="font-lato hashtag-color">#Peace</span></a>
                    </li>
                    <li><a href="search-results.html?tags=Coexistence"><span
                          class="font-lato hashtag-color">#Coexistence</span></a></li>
                    <li><a href="search-results.html?tags=Children"><span
                          class="font-lato hashtag-color">#Children</span></a></li>
                    <li><a href="search-results.html?tags=Learn"><span class="font-lato hashtag-color">#Learn</span></a>
                    </li>
                    <li><a href="search-results.html?tags=ThingstoKnow"><span
                          class="font-lato hashtag-color">#ThingstoKnow</span></a></li>
                    <li><a href="search-results.html?tags=Equality"><span
                          class="font-lato hashtag-color">#Equality</span></a></li>
                    <li><a href="search-results.html?tags=Storytelling"><span
                          class="font-lato hashtag-color">#Storytelling</span></a></li>
                  </ul>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 static lang-en en">
                <a href="{% static 'assets/books/we-the-people/we-the-people.pdf' %}">
                  <figure class="mb-20">
                    <img class="img-fluid" src="{% static 'assets/books/we-the-people/0001.jpg' %}" alt="service" />
                  </figure>
                  <h4 class="mb-0">WE THE PEOPLE</h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                    <li><a href="search-results.html?tags=Samvidhan"><span
                          class="font-lato hashtag-color">#Samvidhan</span></a></li>
                    <li><a href="search-results.html?tags=Text"><span class="font-lato hashtag-color">#Text</span></a>
                    </li>
                    <li><a href="search-results.html?tags=ConstitutionofIndia"><span
                          class="font-lato hashtag-color">#ConstitutionofIndia</span></a></li>
                    <li><a href="search-results.html?tags=FundamentalRights"><span
                          class="font-lato hashtag-color">#FundamentalRights</span></a></li>
                    <li><a href="search-results.html?tags=Education"><span
                          class="font-lato hashtag-color">#Education</span></a></li>
                    <li><a href="search-results.html?tags=Resources"><span
                          class="font-lato hashtag-color">#Resources</span></a></li>
                    <li><a href="search-results.html?tags=ThingstoKnow"><span
                          class="font-lato hashtag-color">#ThingstoKnow</span></a></li>
                    <li><a href="search-results.html?tags=Sadbhavana"><span
                          class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  </ul>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 static lang-hn hn">
                <a href="{% static 'assets/books/we-the-people-hn/we-the-people-hn.pdf' %}">
                  <figure class="mb-20">
                    <img class="img-fluid" src="{% static 'assets/books/we-the-people-hn/0001.jpg' %}" alt="service" />
                  </figure>
                  <h4 class="mb-0">हम भारत के लोग</h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                    <li><a href="search-results.html?tags=Samvidhan"><span
                          class="font-lato hashtag-color">#Samvidhan</span></a></li>
                    <li><a href="search-results.html?tags=Text"><span class="font-lato hashtag-color">#Text</span></a>
                    </li>
                    <li><a href="search-results.html?tags=ConstitutionofIndia"><span
                          class="font-lato hashtag-color">#ConstitutionofIndia</span></a></li>
                    <li><a href="search-results.html?tags=FundamentalRights"><span
                          class="font-lato hashtag-color">#FundamentalRights</span></a></li>
                    <li><a href="search-results.html?tags=Education"><span
                          class="font-lato hashtag-color">#Education</span></a></li>
                    <li><a href="search-results.html?tags=Resources"><span
                          class="font-lato hashtag-color">#Resources</span></a></li>
                    <li><a href="search-results.html?tags=ThingstoKnow"><span
                          class="font-lato hashtag-color">#ThingstoKnow</span></a></li>
                    <li><a href="search-results.html?tags=Sadbhavana"><span
                          class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  </ul>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 static lang-pn pn">
                <a href="{% static 'assets/books/we-the-people/we-the-people.pdf' %}">
                  <figure class="mb-20">
                    <img class="img-fluid" src="{% static 'assets/books/we-the-people/0001.jpg' %}" alt="service" />
                  </figure>
                  <h4 class="mb-0">WE THE PEOPLE</h4>
                  <ul class="blog-post-info list-inline">
                    <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                    <li><a href="search-results.html?tags=Samvidhan"><span
                          class="font-lato hashtag-color">#Samvidhan</span></a></li>
                    <li><a href="search-results.html?tags=Text"><span class="font-lato hashtag-color">#Text</span></a>
                    </li>
                    <li><a href="search-results.html?tags=ConstitutionofIndia"><span
                          class="font-lato hashtag-color">#ConstitutionofIndia</span></a></li>
                    <li><a href="search-results.html?tags=FundamentalRights"><span
                          class="font-lato hashtag-color">#FundamentalRights</span></a></li>
                    <li><a href="search-results.html?tags=Education"><span
                          class="font-lato hashtag-color">#Education</span></a></li>
                    <li><a href="search-results.html?tags=Resources"><span
                          class="font-lato hashtag-color">#Resources</span></a></li>
                    <li><a href="search-results.html?tags=ThingstoKnow"><span
                          class="font-lato hashtag-color">#ThingstoKnow</span></a></li>
                    <li><a href="search-results.html?tags=Sadbhavana"><span
                          class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                  </ul>
                </a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 justify-content-center">
                <figure>
                  <figcaption></figcaption>
                  <audio controls src="{% static 'assets/books/kinnu-munmun-ki-dosti/Kiran_Story.mp3' %}" controlsList="nodownload"> Your
                    browser does not support the <code>audio</code> element.</audio>
                </figure>
                <h4 class="mb-0">KINNU MUNMUN KI DOSTI</h4>
                
                <h5>Written and Narrated by - Kiran didi<br/>
                  Recording and Editing - Gopi Bhaiya and Madhusoodanan Bhaiya<br/>
                  Produced by - Ankush Bhaiya and Vibhuti Didi<br/>
                  Music -<br/>
                  Darkest Child Kevin MacLeod (<a href="https://incompetech.com" target="_blank">incompetech.com</a>)<br/>
                  Licensed under Creative Commons: By Attribution 3.0 License<br/>
                  <a href="http://creativecommons.org/licenses/by/3.0/"
                    target="_blank">creativecommons.org/licenses/by/3.0/</a>
                </h5>
                <ul class="blog-post-info list-inline">
                  <!-- hashtags -->
                </ul>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 static lang-en en">
                <a href="significance-of-langar.html">
                  <figure class="mb-20">
                    <img class="img-fluid" src="{% static 'assets/books/langar.jpg' %}"
                      alt="service" />
                  </figure>
                  <h4 class="mb-0">THE SIGNIFICANCE OF LANGAR</h4>
                  <ul class="blog-post-info list-inline">
                     <!-- hashtags -->
                  </ul>
                </a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 static lang-hn hn">
                <a href="significance-of-langar.html">
                  <figure class="mb-20">
                    <img class="img-fluid" src="{% static 'assets/books/langar.jpg' %}"
                      alt="service" />
                  </figure>
                  <h4 class="mb-0">THE SIGNIFICANCE OF LANGAR</h4>
                  <ul class="blog-post-info list-inline">
                     <!-- hashtags -->
                  </ul>
                </a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 static lang-pn pn">
                <a href="significance-of-langar-pn.html">
                  <figure class="mb-20">
                    <img class="img-fluid" src="{% static 'assets/books/langar.jpg' %}"
                      alt="service" />
                  </figure>
                  <h4 class="mb-0">ਲੰਗਰ ਦਾ ਮਹੱਤਵ</h4>
                  <ul class="blog-post-info list-inline">
                     <!-- hashtags -->
                  </ul>
                </a>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 static lang-hn hn">
                  <a href="sacchi-dosti-hn.html">
                        <figure class="mb-20">
                        <img class="img-fluid" src="{% static 'assets/books/sacchi_dosti.jpg' %}" alt="service" />
                        </figure>
                        <h4 class="mb-0">सच्ची दोस्ती</h4>
                        <h5>Written and illustrated by- Kiran Didi</h5>
                        <ul class="blog-post-info list-inline">
                           <!-- hashtags -->
                        </ul>
                  </a>
              </div>

            </div>

          </div>
        </div>
        <p></p>
        <p class="text-center trn">{% trans "watch_this_space" %}</p>
      </div>
    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->

  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script> -->
  <!-- <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script> -->

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script type="text/javascript">
    $(window).on("load", function () {
      // alert("window.load");
      console.log("window is loaded");
      $("#HindSwaraj-Speech-06-6").attr('src', 'https://archive.org/embed/HindSwaraj-Speech-06-6');
      $("#vP4iY1TtS3s").attr('src', 'https://www.youtube.com/embed/vP4iY1TtS3s'); // Dr. MLK Jr. Speech 
      $("#gvnLk96vLQE").attr('src', 'https://www.youtube.com/embed/gvnLk96vLQE'); // Mandela Speech
      $("#NUBh9GqFU3A").attr('src', 'https://www.youtube.com/embed/NUBh9GqFU3A'); // James Baldwin Speech
    });
  </script>
  {% endblock %}

</body>

</html>
