<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Mahatma Gandhi Speech Hindi</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/006/medium/Gandhi_inc.jpg?1505451907" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
										<a href="home-stories.html">
										  <b class="blinkText">STORIES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                 
										<a class="dropdown-toggle" href="#">
										  <i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">ENGLISH</a></li>
											<li><a href="#">हिंदी</a></li>
											<li><a href="#">ਪੰਜਾਬੀ</a></li>
										</ul>
									  </li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>
                </li>

              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>महात्मा गांधी भाषण</h1>
        <ul class="blog-post-info list-inline">
          <li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
          <li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
          <li><a href="search-results.html?tags=Speech"><span class="font-lato btn-outline-warning">#Speech</span></a></li>
          <li><a href="search-results.html?tags=GreatSpeeches"><span class="font-lato btn-outline-warning">#GreatSpeeches</span></a></li>
          <li><a href="search-results.html?tags=Text"><span class="font-lato btn-outline-warning">#Text</span></a></li>
          <li><a href="search-results.html?tags=Resources"><span class="font-lato btn-outline-warning">#Resources</span></a></li>
          <li><a href="search-results.html?tags=Nonviolence"><span class="font-lato btn-outline-warning">#Nonviolence</span></a></li>
        </ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">महात्मा गांधी भाषण</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <blockquote>
              <p>“<b>मेरी राय में, बुराई के साथ असहयोग करना, अच्छाई के साथ सहयोग करने से अधिक आवश्यक कर्तव्य है।</b>”
              </p>
              <cite>महात्मा गांधी</cite>
            </blockquote>
            <h2>महान परीक्षण (1922)</h2>
            <h3>प्रसिद्ध (महान) मुकदमा (1922)</h3>
            <h4>1922 के प्रसिद्ध (महान) मुकदमे में बयान (18-03-1922)</h4>

            <p>[महात्मा गांधी और श्री शंकरलाल घेलाभाई बैंकर, क्रमश: युवा भारत (यंग इंडिया) के संपादक और प्रिंटर एवं
              प्रकाशक, पर शनिवार, 18 मार्च, 1922 को ऐतिहासिक मुकदमा चलाया गया, जिसमें श्री सी.एन. ब्रूमफील्ड, आई. सी.
              एस., जिला एवं सत्र न्यायाधीश, अहमदाबाद के समक्ष भारतीय दंड संहिता की धारा 124ए के तहत उन पर आरोप लगाए गए
              थे।
            </p>
            <p>सर जे.टी. स्ट्रैंजमैन, एडवोकेट-जनरल, के साथ राव बहादुर गिरधरलाल उत्तमराम, लोक अभियोजक, अहमदाबाद ने
              ब्रिटिश राज की ओर से मुकदमे की पैरवी की थी। कानूनी मामलों के स्मरणकर्ता, श्री ए.सी. वाइल्ड, भी उपस्थित थे।
              महात्मा गांधी और श्री शंकरलाल बैंकर अरक्षित थे।
            </p>
            <p>इस अवसर पर उपस्थित जनता के सदस्यों में कस्तूरबा गांधी, सरोजिनी नायडू, पंडित एम.एम. मालवीय, श्री एन.सी.
              केलकर, श्रीमती जे.बी. पेटिट, और श्रीमती अनुसुयाबेन साराभाई शामिल थीं।</p>
            <p>न्यायाधीश ने दोपहर 12 बजे अपना स्थान ग्रहण किया और कहा कि रजिस्ट्रार द्वारा पढ़े गए आरोपों में मामूली
              गलती थी। ये आरोप "ब्रिटिश भारत में विधि द्वारा स्थापित महामहिम की सरकार के प्रति असंतोष उत्तेजित करने के
              प्रयास से संबंधित हैं, और इसलिए, भारतीय दंड संहिता की धारा 124 ए के तहत दंडनीय अपराध है," आरोप 29 सितंबर
              1921 और 15 दिसंबर 1921 तथा 23 फरवरी 1922 को यंग इंडिया में प्रकाशित तीन लेखों पर लगाए गए थे। इसके बाद
              अपमानजनक लेख पढ़े गए: उनमें से पहला था "वफादारी के साथ छेड़छाड़"; और दूसरा, "पहेली और इसके समाधान', और
              अंतिम था " प्रेतों को हिलाना (शेकिंग द मेन्स)"।</p>
            <p>न्यायाधीश ने कहा कि कानून के लिए यह आवश्यक है कि आरोपों को पढ़ने के बजाय, विस्तार से बताया जाना चाहिए। इस
              मामले में उनके लिए स्पष्टीकरण के माध्यम से ज्यादा कहना आवश्यक नहीं होगा। प्रत्येक मामले में ब्रिटिश भारत
              में विधि द्वारा स्थापित महामहिम की सरकार के प्रति नफरत या अवमानना लाने या घृणा अथवा असंतोष उत्पन्न करने का
              प्रयास करने का आरोप था। महात्मा गांधी द्वारा लिखित और श्री बैंकर द्वारा मुद्रित लेखों की सामग्री को पढ़ कर
              दोनों अभियुक्तों पर धारा 124 ए के तहत तीन अपराधों का आरोप लगाया गया।</p>
            <p>आरोप को पढ़ा गया,और न्यायाधीश ने आरोपों की वकालत करने के लिए आरोपियों को बुलाया। उसने गांधी जी से पूछा कि
              क्या वे दोष स्वीकार करते हैं या वकालत करने का दावा करते हैं।</p>
            <p><b>गांधी जी ने कहा,</b>"मैं सभी आरोपों के लिए अपने को दोषी स्वीकारता हूँ। मुझे लगता है कि आरोप में से
              राजा का नाम हटा दिया गया है कि, और इसे ठीक से हटाया गया है।"]</p>
            <p>न्यायाधीश ने श्री बैंकर से भी यही सवाल पूछा और उन्होंने भी आसानी से दोष स्वीकार किया।
              न्यायाधीश ने गांधीजी के दोष स्वीकारने के तुरंत बाद अपना फैसला देना चाहा, लेकिन सर स्ट्रेंजमैन ने जोर दिया
              कि मुकदमे की प्रक्रिया पूरी की जानी चाहिए। महाधिवक्ता ने न्यायाधीश से "बम्बई, मालाबार और चौरी चौरा में
              दंगा और हत्याओं के लिए अग्रणी घटनाओं," का ध्यान रखने के लिए का अनुरोध किया।उन्होंने स्वीकार किया कि, "इन
              लेखों में अभियान के तरीके और पंथ के एक मद के रूप में अहिंसा पर जोर दिया गया है" लेकिन उसने आगे कहा "इस
              प्रकार यह अहिंसा के मूल्यबोध पर जोर देता है, अगर आप लगातार सरकार के प्रति असंतोष का उपदेश देते हैं, और उसे
              एक विश्वासघाती सरकार सिद्ध करते हैं, और आप खुले तौर पर और जानबूझ कर दूसरों को उसे उखाड़ फेंकने के लिए
              भड़काने की कोशिश करते हैं तो ?" उसने न्यायाधीश से आरोपियों को सजा सुनाने के समय इन परिस्थितियों पर विचार
              करने के लिए कहा।</p>
            <p>जहां तक, दूसरे आरोपी श्री बैंकर का संबंध है, उन पर कम अपराध था। उन्होंने प्रकाशन किया था, लेकिन लिखा नहीं
              था। सर स्ट्रेजमैन के निर्देशों का मतलब था कि श्री बैंकर एक संपन्न व्यक्ति थे और उसने अनुरोध किया कि उन पर
              कारावास की ऐसी अवधि के अलावा पर्याप्त जुर्माना अधिरोपित किया जा सकता है।</p>


            <p><b>न्यायालय :</b> श्री गांधी, क्या आप सजा के सवाल पर कोई बयान देना चाहते हैं?</p>
            <p><b>गांधी जी :</b> मैं एक बयान देना चाहता हूँ।</p>
            <p><b>न्यायालय :</b>क्या आप रिकॉर्ड में रखने के लिए इसे लिखित रूप में दे सकते हैं?</p>
            <p><b>गांधी जी :</b>जैसे ही मैं इसे पूरा कर लूंगा, मैं इसे दे दूंगा।</p>


            <p>[इसके बाद गांधीजी ने निम्नलिखित मौखिक बयान दिया, और उसके बाद लिखित बयान दिया जिसे पढ़ा गया।]</p>
            <p>इस बयान को पढ़ने से पहले मैं विनम्रता के साथ अपने संबंध में एडवोकेट जनरल की टिप्पणी का पूरी तरह से समर्थन
              करता हूँ। मुझे लगता है कि उन्होंने ऐसा कहा है, क्योंकि यह बिल्कुल सच है और मैं इस अदालत से इस तथ्य को
              छिपाना नहीं चाहता कि सरकार की मौजूदा ईआरपी सिस्टम के प्रति असंतोष का प्रचार करना मेरे लिए लगभग एक जुनून बन
              गया है, और मुझे लगता है कि जब एडवोकेट जनरल यह कहते हैं कि मेरे द्वारा असंतोष की भावना का प्रचार यंग इंडिया
              के साथ अपने जुड़ाव की वजह से नहीं है, बल्कि यह बहुत पहले शुरू हो गया है, तो वे पूरी तरह से सही हैं, और अब
              जो बयान मैं पढ़ने जा रहा हूँ, उसमें इस अदालत के समक्ष यह स्वीकार करना मेरे लिए तकलीफदेह कर्तव्य होगा कि यह
              एडवोकेट जनरल द्वारा कही जाने वाली अवधि की तुलना में काफी पहले शुरू हो गया था। यह मेरे साथ एक तकलीफदेह
              कर्तव्य है, लेकिन मुझे अपने कर्तव्य का निर्वहन करना होगा क्योंकि इसकी जिम्मेदारी मेरे कंधों पर टिकी हुई
              है, और मैं एडवोकेट जनरल द्वारा बंबई की घटनाओं, मद्रास और चौरी चौरा की घटनाओं के संबंध में मेरे कंधों पर
              डाले गए सभी दोषों का समर्थन करना चाहता हूँ। इन बातों पर गहराई से सोचने और कई-कई रातों को उनके साथ सोने के
              बाद, मुझे लगता है कि चौरी चौरा की खतरनाक अपराधों या बंबई के पागल दंगों से खुद को अलग करना मेरे लिए असंभव
              है। वे बहुत सही है जब उन्होंने कहा कि एक जिम्मेदार आदमी के रूप में, एक ऐसे आदमी के रूप में जिसे अच्छी
              शिक्षा मिली हो, जिसने इस दुनिया का पर्याप्त अनुभव प्राप्त किया हो, मुझे अपने सभी कृत्यों के नतीजे का पता
              होना चाहिए था। मैं उन्हें जानता हूँ। मैं जानता था कि मैं आग के साथ खेल रहा था। मैंने जोखिम उत्पन्न किया था
              और मुझे मुक्त किया गया, तो मैं फिर से ऐसा ही करूँगा। आज सुबह मैंने महसूस किया कि अभी-अभी मैंने यहां जो कुछ
              कहा यदि वह नहीं कहता तो मैं अपने कर्तव्य में असफल हो जाता।</p>
            <p>मैं हिंसा से बचना चाहता था। अहिंसा मेरे विश्वास का पहला लेख है। यह मेरे मार्ग का अंतिम लेख भी है। लेकिन
              मुझे अपना चयन करना था। या तो मैं एक प्रणाली के सामने समर्पण कर देता, जिसने मेरे विचार से मेरे देश की एक
              अपूरणीय क्षति की थी, या अपने लोगों के पागल रोष का जोखिम उठाना पड़ा जो वे मेरे होठों से सच को जानने के बाद
              उनमें भड़की। मैं जानता हूँ कि मेरे लोग कभी-कभी पागल हो जाते हैं। इसके लिए मुझे गहरा खेद है और इसलिए मैं एक
              हल्की सजा के लिए नहीं बल्कि उच्चतम दंड के लिए अपने को प्रस्तुत करता हूँ। मैं दया के लिए प्रार्थना नहीं
              करता। मैं किसी भी मौजूदा अधिनियम की वकालत नहीं करता। इसलिए, मैं अपने को उस कृत्य की उच्चतम सजा पाने और
              खुशी-खुशी भुगतने के लिए प्रस्तुत करता हूँ जो कानून की दृष्टि में जानबूझकर किया गया अपराध है, और जो मेरे
              लिए एक नागरिक का सर्वोच्च कर्तव्य है। न्यायाधीश, के रूप में आपके लिए केवल एक मार्ग खुला है, कि या तो आप
              अपने पद से इस्तीफा दे दें, अथवा अगर आपको लगता है कि आप जिस प्रणाली और कानून व्यवस्थापन के लिए मदद कर रहे
              हैं, वह लोगों के लिए सही है तो मुझ पर गंभीर दंड लगाएं। मैं इस तरह की बातचीत नहीं छोड़ता। लेकिन जब तक मैं
              अपने बयान को समाप्त करूं आपको इस बात की एक झलक मिल जाएगी कि मेरे सीने में कौन सी आग जल रही थी जिसने एक
              समझदार आदमी को उस पागल खतरे को चलाने के लिए प्रेरित किया होगा।</p>
            <p>[इसके बाद उन्होंने अपना लिखित बयान पढ़ा:] मेरे लिए भारतीय जनता और इंग्लैंड की जनता को यह बताना जरूरी है
              कि जैसा अभियोजन पक्ष ने मुख्य रूप से कहा है, मैं एक कट्टर वफादार और सहयोगी से, असंतोष उत्पन्न करने वाला और
              गैर-सहयोगी क्यों बन गया हूँ। मैं अदालत को भी बताऊँगा कि मैंने भारत में विधि द्वारा स्थापित सरकार के प्रति
              असंतोष को बढ़ावा देने के आरोप में अपने को दोषी क्यों माना है।</p>
            <p>मेरा सार्वजनिक जीवन दक्षिण अफ्रीका में 1893 में अशांत मौसम में शुरू हुआ। उस देश में ब्रिटिश सत्ता के साथ
              मेरा पहला संपर्क अच्छा नहीं था। मैंने पाया कि एक आदमी और एक भारतीय के रूप में, मेरा कोई अधिकार नहीं था।
              बल्कि अधिक सही ढंग से कहा जाए तो मुझे पता चला कि एक व्यक्ति के रूप में मेरे पास कोई अधिकार नहीं था क्योंकि
              मैं एक भारतीय था।</p>
            <p>लेकिन मैं चकित नहीं हुआ था। मैंने सोचा कि भारतीयों के प्रति ऐसा व्यवहार एक ऐसी प्रणाली पर एक रसौली है जो
              आंतरिक और मुख्य रूप से अच्छी थी। मैंने जहां भी इसे दोषपूर्ण पाया वहां स्वतंत्र रूप से इसकी आलोचना की पर
              सरकार को अपना स्वैच्छिक और हार्दिक सहयोग दिया, कभी भी इसका विनाश नहीं चाहा।</p>
            <p>परिणामतः जब1899 में बोअर चुनौती द्वारा साम्राज्य के अस्तित्व को खतरा उत्पन्न हुआ, तब मैंने इसे अपनी
              सेवाओं की पेशकश की, एक स्वयंसेवक के रूप में एम्बुलेंस कोर संभाला और लेडी स्मिथ की राहत के लिए किए जाने
              वाले कई कार्यों में हिस्सा लिया। इसी तरह 1906 में, ज़ुलु 'विद्रोह' के समय, मैंने एक स्ट्रेचर वाहक पार्टी
              बनाई और 'विद्रोह' के अंत तक सेवा की। दोनों मौकों पर मुझे पदक प्राप्त हुआ और यहां तक ​​कि डिस्पैचों में
              मेरा उल्लेख किया गया था। दक्षिण अफ्रीका में अपने काम के लिए लॉर्ड हार्डिंग द्वारा मुझे केसर-ए-हिंद का
              स्वर्ण पदक दिया गया था। 1914 में जब इंग्लैंड और जर्मनी के बीच युद्ध शुरु हुआ, तब मैंने लंदन में प्रवासी
              भारतीयों, मुख्यतः छात्रों से मिलकर, लंदन में स्वयंसेवक एम्बुलेंस कारें आरंभ कीं। अधिकारियों द्वारा इस काम
              के महत्व को स्वीकार किया गया था। अन्त में, 1918 में जब दिल्ली में हुए सम्मेलन में लॉर्ड चेम्सफोर्ड द्वारा
              भारत में युद्ध के लिए रंगरूटों की भर्ती के लिए एक विशेष अपील की गई थी, मैंने स्वास्थ्य की कीमत पर खेड़ा
              में एक टुकड़ी बनाने के लिए संघर्ष किया, और जब युद्ध रुक गया और आदेश प्राप्त हुआ और रंगरूट नहीं चाहिए तब
              प्रतिक्रिया दी गई। सेवा के इन सभी प्रयासों में, मैं इस विश्वास से प्रेरित था कि इस तरह की सेवाओं के द्वारा
              ही अपने देशवासियों के लिए साम्राज्य में पूर्ण समानता का दर्जा हासिल करना संभव था।</p>
            <p>मुझे पहला झटका रोलेट एक्ट- एक ऐसे कानून, से लगा जो लोगों से सभी प्रकार की वास्तविक स्वतंत्रता छीनने के
              लिए बनाया गया था। मैंने इसके खिलाफ एक गहन आंदोलन का नेतृत्व करने का आह्वान महसूस किया। इसके बाद जलियांवाला
              बाग में हुए नरसंहार और आदेश, सार्वजनिक जिस्मानी सज़ा और अन्य अवर्णनीय अपमान के साथ पंजाब में भयावहता की
              शुरुआत हुई मैंने देखा कि भारत के मुसलमानों के लिए प्रधानमंत्री द्वारा तुर्की की अखंडता और इस्लाम के पवित्र
              स्थानों के संबंध में दिए गए वचन के पूरे होने की संभावना नहीं थी। लेकिन 1919 में अमृतसर कांग्रेस में
              दोस्तों की कड़ी चेतावनी और मना करने के बावजूद, मैंने इस उम्मीद से सहयोग किया और मोंटेगू-चेम्सफोर्ड सुधार
              का काम करने के लिए लड़ाई लड़ी, कि प्रधानमंत्री भारतीय मुसलमानों से किए गए अपने वादे को पूरा करेंगे और
              पंजाब के घाव भरे जाएंगे, और सुधारों को, हालांकि वे अपर्याप्त और असंतोषजनक थे, भारत के जीवन में आशा के एक
              नए युग के रूप में चिह्नित किया जाएगा।</p>
            <p>लेकिन सभी आशाएं बिखर गईं। खिलाफत के वादे को पूरा नहीं किया गया था। पंजाब के अपराध पर पुताई कर दी गई और
              अधिकांश अपराधियों को केवल सजा से ही नहीं बचाया गया, बल्कि वे सेवा में भी बने रहे, और कुछ को भारतीय राजस्व
              से पेंशन देना जारी रखा गया तथा कुछ मामलों में तो उन्हें पुरस्कृत भी किया गया था। मैंने पाया कि सुधारों से
              किसी हृदय परिवर्तन को चिह्नित नहीं किया गया है, बल्कि वे केवल भारत के धन के शोषण और उसकी दासता के समय को
              आगे बढ़ाने का एक तरीका भर थे।</p>
            <p>अंततः न चाहते हुए भी मैं इस निष्कर्ष पर पहुँचा कि मुझे लगता है कि ब्रिटिश संबंधों ने भारत को राजनीतिक और
              आर्थिक रूप से, भारत को इतना अधिक असहाय कर दिया था जितना वह पहले कभी नहीं रहा था। एक निरस्त्र भारत के पास
              किसी भी हमलावर के खिलाफ प्रतिरोध की कोई शक्ति है, अगर वह उसके साथ एक सशस्त्र संघर्ष करना चाहे भी तो नहीं
              कर सकता। यह ऐसी स्थिति है कि हमारे कुछ सबसे अच्छे लोगों का विचार है कि प्रभुत्व की स्थिति को प्राप्त करने
              में भारत की कई पीढ़ियों को समाप्त होना पड़ेगा। वह इतना गरीब हो गया है कि उसके पास अकाल का प्रतिरोध करने की
              बहुत कम शक्ति है। ब्रिटिश आगमन से पहले भारत की हर झोपड़ी में कताई और बुनाई की जाती थी, इससे उसे अपने अल्प
              कृषि संसाधनों को बढ़ने के लिए आवश्यक पूरक आय प्राप्त होती थी। अंग्रेजी गवाह द्वारा वर्णित रूप में भारत के
              अस्तित्व के लिए अत्यंत महत्वपूर्ण कुटीर उद्योग को अविश्वसनीय रूप से बेरहमी और अमानवीय प्रक्रियाओं से
              बर्बाद कर दिया गया है। भारत के छोटे से शहरों में रहने वाले लोग भूख का शिकार होकर निर्जीव होती जनता के लिए
              क्या कर सकते हैं। वे इसके बारे में बहुत कम जानते हैं कि उनका दयनीय आराम उस मुनाफे और दलाली का प्रतिनिधित्व
              करता है जो उन्हें विदेशी शोषकों के लिए किए जाने वाले उनके काम के लिए जनता से चूसे जाने वाले धन से मिलती
              है। वे बहुत कम जानते हैं कि ब्रिटिश भारत में विधि द्वारा स्थापित सरकार द्वारा जनता का यह शोषण किया जाता
              है। कोई कुतर्क, आंकड़ों में कोई हेरफेर, वर्तमान में कई गांवों में नग्न आंखों से देखे जाने वाले कंकालों के
              सबूतों की व्याख्या करने से नहीं रोक सकता। मुझे इसमें कोई संदेह नहीं है कि अगर ऊपर एक भगवान है तो इंग्लैंड
              और भारत के शहरों के निवासियों को मानवता के खिलाफ इस अपराध के लिए जवाब देना होगा, जिसकी इतिहास में शायद ही
              कोई समानता है। इस देश में कानून का विदेशी शोषक की सेवा करने के लिए इस्तेमाल किया गया है। पंजाब के मार्शल
              ला के मामलों की मेरी निष्पक्ष जाँच से मुझे पता चला है कि कम से कम पिचानबे प्रतिशत अभियुक्तों को गलत रूप से
              दोषी करार दिया गया है। भारत के राजनीतिक मामलों का मेरा अनुभव मुझे इस निष्कर्ष की ओर ले जाता है कि हर दस
              में से नौ दंडित लोग पूरी तरह से निर्दोष थे। उनका अपराध यह था कि अपने देश को प्यार करते थे। भारत की न्यायिक
              अदालतों में, सौ में से निन्यानबे मामलों में, गोरों की तुलना में भारतीयों को न्याय देने से इनकार किया गया
              है। यह एक अतिरंजित तस्वीर नहीं है। यह लगभग उस हर भारतीय का अनुभव है, जो ऐसे मामलों से किसी तरह जुड़ा है।
              मेरी राय में, कानून के प्रशासन में जानबूझकर या अनजाने में, ऐसा व्यभिचार व्याप्त है, जो शोषक के लाभ के लिए
              है।</p>
            <p>सबसे बड़ा दुर्भाग्य है कि अंग्रेज और देश के प्रशासन में लगे उनके भारतीय सहयोगियों को यह पता नहीं है कि वे
              उन अपराधों को करने में लगे हुए हैं जिनका मैंने वर्णन करने का प्रयास किया है। मैं संतुष्ट हूँ कि कई अंग्रेज
              और भारतीय अधिकारियों ने बताया कि दुनिया में ईमानदारी से प्रणाली तैयार कर ली गई है, और भारत स्थिर, हालांकि,
              धीमी गति से प्रगति कर रहा है। उन्हें पता नहीं है कि आतंकवाद की एक सूक्ष्म लेकिन प्रभावी प्रणाली और एक तरफ
              बल के एक संगठित प्रदर्शन, और दूसरी तरफ प्रतिशोध या आत्मरक्षा की सभी शक्तियों के अभाव में लोग नपुंसक बना
              दिए जाते हैं और वे अनुकरण की आदत से प्रेरित हो जाते हैं। इस भयानक आदत से प्रशासकों की अज्ञानता और धोखे में
              वृद्धि हुई है। धारा 124 ए, जिसके तहत मुझ पर आरोप लगाए गए हैं शायद उन कानूनों में राजकुमार का दर्जा रखता है
              जिसे भारतीय दंड संहिता की राजनीतिक वर्गों में नागरिकों की स्वतंत्रता को दबाने के लिए बनाया गया है। स्नेह
              निर्मित या कानून द्वारा विनियमित नहीं किया जा सकता। अगर किसी के मन में एक व्यक्ति या प्रणाली के लिए कोई
              स्नेह नहीं है, तो उसे असंतोष को पूरी अभिव्यक्ति देने के लिए स्वतंत्र होना चाहिए, जब तक कि हिंसा के बारे
              में विचार, प्रचार और उसके प्रयोग के लिए उत्तेजित नहीं करता है। लेकिन यह ऐसी धारा है, जिसके तहत असंतोष की
              मात्र अभिव्यक्ति एक अपराध है। मैंने इसके तहत कुछ मामलों का अध्ययन किया है; और मैं जानता हूँ कि भारत के
              अधिकांश प्रिय देशभक्तों को इसके तहत दोषी ठहराया गया है। इसलिए, मैं इस धारा के तहत आरोप लगाए जाने को एक
              विशेषाधिकार मानता हूँ। मैंने अपने असंतोष के कारणों की एक संक्षिप्त रूपरेखा देने का प्रयास किया है। मेरे मन
              में किसी एक व्यवस्थापक के खिलाफ कोई व्यक्तिगत दुर्भावना या राजकर्मियों के प्रति कोई घृणा नहीं है। मैं
              लेकिन मुझे लगता है कि एक ऐसी सरकार के प्रति असन्तुष्ट होना जिसने अपनी समग्रता में पिछली किसी भी प्रणाली की
              तुलना में भारत के लिए अधिक नुकसान किया है, एक पुण्य माना जाना चाहिए। भारत ब्रिटिश शासन के अधीन कम साहसी
              रहा है, वह पहले कभी ऐसा नहीं था। ऐसे विश्वास रख कर, किसी प्रणाली के लिए प्रेम रखना मैं एक पाप मानता हूँ।
              और मैंने अपने खिलाफ साक्ष्य के रूप में प्रस्तुत किए गए विभिन्न लेखों में जो लिखा है उसे लिखने में सक्षम
              होने को मैं अपना सौभाग्य मानता हूँ।</p>
            <p>वास्तव में, मेरा विश्वास है कि भारत और इंग्लैंड दोनों जिस अप्राकृतिक स्थिति में रह रहे हैं उसके प्रति
              असहयोग का रास्ता दिखाकर मैंने उनकी सेवा की है। मेरी राय में, बुराई के साथ असहयोग करना, अच्छाई के साथ सहयोग
              करने से अधिक आवश्यक कर्तव्य है। लेकिन अतीत में, असहयोग को जानबूझकर बुरा करने वालों द्वारा की जाने वाली
              हिंसा के रूप में व्यक्त किया गया है। मैं अपने देशवासियों को दिखाने का प्रयास कर रहा हूँ कि हिंसक असहयोग
              केवल बुराई को बढ़ाता है, और यह मानना कि बुराई को केवल हिंसा से बनाए रखा जा सकता है, बुराई का समर्थन वापसी
              लेने के लिए हिंसा से पूरी तरह अलग रहने की आवश्यकता है। अहिंसा बुराई के साथ असहयोग के लिए दंड के लिए
              स्वैच्छिक समर्पण है। इसलिए, मैं यहां अपने को दिए जाने वाले उस उच्चतम दंड को खुशी से आमंत्रित करने के लिए
              प्रस्तुत हूँ जो कानून की दृष्टि में जानबूझकर किया गया अपराध है, और मेरे लिए एक नागरिक के सर्वोच्च कर्तव्य
              हैं। न्यायाधीश महोदय और मूल्यांकन करने वालों, आप के समक्ष केवल एक ही मार्ग है, कि अगर आप उस कानून को जिसका
              बुराई के खिलाफ प्रयोग करने के लिए कहा जा रहा है उसे बुरा समझें तो अपने पदों से इस्तीफा दें और इस तरह बुराई
              से अपने आप को अलग कर लें और यह स्वीकार करे कि मैं वास्तव में निर्दोष हूँ, या फिर अगर आप उस कानून को जिसे
              आप लागू कर रहे हैं, इस देश के लोगों के लिए सही मानें और इस तरह मेरी गतिविधि को आम लोगों के लिए हानिकारक
              बताएं और मुझे कठोर दंड दें।</p>


            <!-- BLOCKQUOTE -->
            <blockquote>
              <cite>महात्मा, संस्करण द्वितीय, (1951) पृ. 129-33</cite>
              <cite>यह भाषण महात्मा गांधी के चयनित कार्य- संस्करण छह से उद्धृत है</cite>
              <cite>सत्य की आवाज भाग- I, कुछ प्रसिद्ध भाषण पृ. 14-24</cite>
            </blockquote>

            <div class="fb-share-button" data-href="http://sadbhavana.net/mahatma-gandhi-hindi.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="महात्मा गांधी और श्री शंकरलाल घेलाभाई बैंकर, क्रमश: युवा भारत (यंग इंडिया) के संपादक और प्रिंटर एवं
            प्रकाशक, पर शनिवार, 18 मार्च, 1922 को ऐतिहासिक मुकदमा चलाया गया, जिसमें श्री सी.एन. ब्रूमफील्ड, आई. सी.
            एस., जिला एवं सत्र न्यायाधीश, अहमदाबाद के समक्ष भारतीय दंड संहिता की धारा 124ए के तहत उन पर आरोप लगाए गए
            थे।...Read more" data-link="https://tinyurl.com/y5duwh9r" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>


            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:info@rgfindia.org">info@rgfindia.org</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
