<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - ਟੈਸਟ ਮਹਾਨ - ਮਹਾਤਮਾ ਗਾਂਧੀ</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/006/medium/Gandhi_inc.jpg?1505451907" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
									font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
										<a href="home-stories.html">
										  <b class="blinkText">STORIES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                 
										<a class="dropdown-toggle" href="#">
										  <i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
										</a>
										<ul class="dropdown-menu">
											<li><a href="#">ENGLISH</a></li>
											<li><a href="#">हिंदी</a></li>
											<li><a href="#">ਪੰਜਾਬੀ</a></li>
										</ul>
									  </li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>
                </li>

              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>ਟੈਸਟ ਮਹਾਨ - ਮਹਾਤਮਾ ਗਾਂਧੀ</h1>
        <ul class="blog-post-info list-inline">
          <li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
          <li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
          <li><a href="search-results.html?tags=Speech"><span class="font-lato btn-outline-warning">#Speech</span></a></li>
          <li><a href="search-results.html?tags=GreatSpeeches"><span class="font-lato btn-outline-warning">#GreatSpeeches</span></a></li>
          <li><a href="search-results.html?tags=Text"><span class="font-lato btn-outline-warning">#Text</span></a></li>
          <li><a href="search-results.html?tags=Resources"><span class="font-lato btn-outline-warning">#Resources</span></a></li>
          <li><a href="search-results.html?tags=Nonviolence"><span class="font-lato btn-outline-warning">#Nonviolence</span></a></li>
        </ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਟੈਸਟ ਮਹਾਨ - ਮਹਾਤਮਾ ਗਾਂਧੀ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <blockquote>
              <p>“<b>ਮੇਰੀ ਰਾਏ ਵਿੱਚ, ਬੁਰਾਈ ਨਾਲ ਅਸਹਿਯੋਗ ਕਰਨਾ ਚੰਗੇ ਦਾ ਸਾਥ ਦੇਣ ਨਾਲੋਂ ਇਕ ਜ਼ਰੂਰੀ ਫ਼ਰਜ਼ ਹੈ।</b>”</p>
              <cite>ਮਹਾਤਮਾ ਗਾਂਧੀ</cite>
            </blockquote>
            <h2>ਟੈਸਟ ਮਹਾਨ 1922</h2>
            <h4>ਮਸ਼ਹੂਰ (ਮਹਾਨ) ਮੁਕੱਦਮਾ</h4>
            <h4>1922 ਦੇ ਮਸ਼ਹੂਰ (ਮਹਾਨ) ਮੁਕੱਦਮੇ ਵਿਚ ਬਿਆਨ (18-3-2019)</h4>
            <p>ਮਹਾਤਮਾ ਗਾਂਧੀ ਅਤੇ ਸ੍ਰੀ ਸ਼ੰਕਰ ਲਾਲ ਗੇਲਾਭਾਈ ਬੈਂਕਰ , ਜਵਾਨ ਭਾਰਤ (ਯੰਗ ਇੰਡੀਆ) ਸੰਪਾਦਕ ਅਤੇ ਪ੍ਰਿੰਟਰ ਅਤੇ ਪ੍ਰਕਾਸ਼ਕ, ਸ਼ਨੀਵਾਰ ਨੂੰ, 18 ਮਾਰਚ,1922, ਨੂੰ ਇਤਿਹਾਸਕ ਮੁਕੱਦਮਾ ਚਲਾਇਆ ਗਿਆ, ਜਿਸ ਵਿਚ ਸ੍ਰੀ ਸੀ.ਐਨ. ਬਰੂਮਫੀਲਡ, ਆਈ ਸੀ ਐਸ. ਜ਼ਿਲ੍ਹਾ ਅਤੇ ਸੈਸ਼ਨ ਜੱਜ ਨੇ ਅਹਿਮਦਾਬਾਦ ਦੇ ਨੇੜੇ ਭਾਰਤੀ ਦੰਦ ਸਾਹਿਤ ਦੀ ਧਾਰਾ 124 ਏ ਦੇ ਤਹਿਤ ਉਸ ਤੇ ਆਰੋਪ ਲਗਾਏ ਗਏ ਸੀ ।</p>
            <p>ਸਰ ਜੇ.ਟੀ. ਸਟ੍ਰਾਂਗਮੈਨ, ਐਡਵੋਕੇਟ ਜਨਰਲ, ਰਾਓ ਬਹਾਦੁਰ ਗਿਰਧਰ ਲਾਲ ਉੱਤਮਰਾਮ ਨਾਲ, ਸਰਕਾਰੀ ਵਕੀਲ, ਅਹਿਮਦਾਬਾਦ ਨੇ ਬ੍ਰਿਟਿਸ਼ ਰਾਜ ਦੀ ਤਰਫੋਂ ਕੇਸ ਦੀ ਅਪੀਲ ਕੀਤੀ ਸੀ, ਕਾਨੂੰਨੀ ਮਾਮਲੇ ਦੇ ਜਾਣਕਾਰ, ਸ਼੍ਰੀ ਏ ਸੀ ਵਾਇਲਡ . ਮਹਾਤਮਾ ਗਾਂਧੀ ਅਤੇ ਸ਼੍ਰੀ ਸ਼ੰਕਰ ਲਾਲ ਬੈਂਕਰ ਅਰਕਸ਼ਿਤ ਸੀ ਇਸ ਅਵਸਰ ਤੇ ਕਸਤੂਰਬਾ ਗਾਂਧੀ ਵੀ ਲੋਕਾਂ ਵਿਚ ਮੌਜੂਦ ਸੀ ਸਰੋਜਨੀ ਨਾਯਡੂ , ਪੰਡਿਤ ਐਮ ਐਮ ਮਾਲਵੀਆ , ਸ਼੍ਰੀ ਐਨ. ਸੀ ਕੋਲਕਰ, ਸ਼੍ਰੀਮਤੀ ਜੇ.ਬੀ ਪੇਟਿਤ ਅਤੇ ਸ਼੍ਰੀਮਤੀ ਅਨੁਸੁਯਾਬੇਂ ਸਾਰਾਭਾਈ ਸ਼ਾਮਿਲ ਸੀ</p>
            <p>ਜੱਜ ਨੇ ਦੋਪਹਰ ੧੨ ਵਜੇ ਆਪਣੀ ਕੁਰਸੀ ਤੇ ਬੈਠਾ ਅਤੇ ਕਿਹਾ ਕਿ ਰਜਿਸਟਰ ਦੁਆਰਾ ਪੜ੍ਹੇ ਗਏ ਅਰੋਪੋ ਵਿੱਚ ਮਾਮੂਲੀ ਗਲਤੀ ਸੀ । ਏ ਆਰੋਪ ਬ੍ਰਿਟਿਸ਼ ਭਾਰਤ ਦੇ ਵਿਧੀ ਦੁਆਰਾ ਸਥਾਪਿਤ ਮਹਮਹਿਮ ਦੀ ਸਰਕਾਰ ਦੇ ਪ੍ਰਤੀ ਅਸੰਤੋਸ਼ ਵਧੋਂ ਦੀ ਪ੍ਰਯਾਸ ਟੋਹ ਸੰਬੰਧਿਤ ਹੈ, ਅਤੇ ਭਾਰਤ ਦੇ ਦੰਦ ਦੀ ਧਾਰਾ ੧੨੪ ਏ ਦੇ ਤਹਿਤ ਅਪਰਾਧ ਹੈ। ਆਰੋਪ ੨੯ ਸਿਤੰਬਰ ੧੯੨੧ ਅਤੇ ੧੫ ਦਿਸੰਬਰ ੧੯੨੧ ਅਤੇ ੨੩ ਫਰਵਰੀ ੧੯੨੨ ਨੂੰ ਯੁੰਗ ਇੰਡੀਆ ਤੇ ਪ੍ਰਕਸ਼ਿਤ ਤਿੰਨ ਲੱਖ ਲਗਾਏ ਗਏ । ਇਸਤੋਂ ਬਾਦ ਅਪਮਾਨ ਜਨਕ ਲੇਖ ਪੜ੍ਹੇ ਗਏ ਜਿਦੇ ਵਿੱਚ ਪਹਿਲਾ ਸੀ " ਵਫ਼ਾਦਾਰੀ ਦੇ ਨਾਲ ਛੇੜਛਾੜ ਤੇ ਦੂਸਰਾ " ਪਹਿਲੇ ਔਰ ਇਸਕੇ ਸਮਾਧਾਨ ਅਤੇ ਅਤਿਮ ਇਨਸਾਨ ਨੂੰ ਹਿਲਾਨਾਂ: ਜੱਜ ਨੇ ਕਿਹਾ ਕਿ ਕਾਨੂੰਨ ਦੇ ਲਈ ਏ ਜਰੂਰੀ ਹੈ ਕਿ ਪੜ੍ਹਨ ਦੀ ਵਜਾਏ , ਵਿਤਰ ਨਾਲ ਬੋਲਣਾ ਚਾਹੀਦਾ । ਇਸ ਮਾਮਲੇ ਵਿੱਚ ਉਣਾ ਲਈ ਜ਼ਾਦਾ ਬੋਲਣਾ ਜਰੂਰੀ ਨਹੀ । ਇਸ ਮਾਮਲੇ ਵਿੱਚ ਬ੍ਰਿਟਿਸ਼ ਭਾਰਤ ਦੇ ਵਿਧੀ ਦੁਆਰਾ ਮਹਮਹਿਮ ਦੀ ਸਰਕਾਰ ਦੇ ਪ੍ਰਤੀ ਨਫ਼ਰਤ ਅਤੇ ਅਵਮਣਾ ਲਾਂ ਅਤੇ ਘ੍ਰਿਣਾ ਅਤੇ ਅਸੰਤੋਸ਼ ਪੈਦਾ ਕਰਨ ਦਾ ਆਰੋਪ ਸੀ । ਮਹਾਤਮਾ ਗਾਂਧੀ ਦੁਆਰਾ ਲਿਖੀ ਅਤੇ ਸ਼੍ਰੀ ਬੰਕਰ ਦੁਆਰਾ ਮੁਦ੍ਰਿਤ ਲਖਾ ਦੀ ਸਮੱਗਰੀ ਨੂੰ ਪੜ੍ਹ ਕੇ ਦੋਨਾਂ ਅਬਿਯੁਕਾ ਉਤੇ ਧਾਰਾ ੧੨੪ ਦੇ ਤਹਿਤ ਤਿੰਨ ਅਪਰਾਧਾ ਦਾ ਆਰੋਪ ਲਗਾਇਆ ਗਿਆ ।</p>
            <p>ਅਰੋਪਾ ਨੂੰ ਪਦਾ ਗਿਆ , ਅਤੇ ਜੱਜ ਨੇ  ਅਰੋਪਾ ਦੀ ਵਕਾਲਤ ਕਰਨ ਲਈ ਅਰੋਪਿਓ ਨੂੰ ਬੁਲਾਇਆ। ਉਸ ਨੇ ਗਾਂਧੀ ਜੀ ਤੋ ਪੁੱਛਿਆ ਕਿ ਦੋਸ਼ ਸਵੀਕਾਰ ਕਰਦੇ ਹਾਂ ਵਕਾਲਤ ਕਰਨ ਦਾ ਦਾਅਵਾ ਕਰਦੇ ਨੇ ।
            ਗਾਂਧੀ ਜੀ ਨੇ ਕਿਹਾ - ਮੈਂ ਸਾਰੇ ਅਰੋਪਾ ਕਦੇ ਲੀਏ ਆਪਣੇ ਨੂੰ ਦੋਸ਼ੀ ਮੰਨਦਾ ਹਾ । ਮੈਨੂੰ ਲਗਦਾ ਹੈ ਕਿ ਅਰੋਪਾ ਤੋਂ ਰਾਜਾ ਦਾ ਨਾਮ ਹਤਾ ਦਿੱਤਾ ਗਿਆ ਹੈ। </p>
            <p>ਜੱਜ  ਨੇ ਬੰਕਰ ਟੋਹ ਇਹੀ ਸਵਾਲ ਪੁੱਛਿਆ ਅਤੇ ਉਣਾਨੇ ਵੀ ਆਸਾਨੀ ਨਾਲ ਦੋਸ਼ ਸਵੀਕਾਰ ਕਰ ਲਿਆ ।</p>
            <p>ਜੱਜ ਨੇ ਗਾਂਧੀ ਜੀ ਦੇ ਦੋਸ਼ ਸਵੀਕਾਰ ਕਰਨ ਤੋ ਬਾਦ ਆਪਣਾ ਫੈਸਲਾ ਦੇਣਾ ਚਾਹਾ, ਲਕੀਂ ਸਰ
            ਸਟ੍ਰਾਂਗਮੈਨ ਨੇ ਜੋਰ ਦਿੱਤਾ ਕਿ ਮੁਕਦਮੇ ਦੀ ਪ੍ਰਤੀਕ੍ਰਿਆ ਪੂਰੀ ਕਿ ਜਾਣੀ ਚਾਹੀਏ । ਮਹੜੀਵਕਤਾ ਟੋਹ ਜੱਜ ਨੇ ਬੰਬਈ , ਮਾਲਾਬਾਰ ਔਰ ਚੋਰੀ ਚੋਰਾ ਦੇ ਦੰਗਾ ਅਤੇ ਹਤੀਆਓ ਦੇ ਲਈ ਘਟਨਾਓ " ਦਾ ਧਿਆਨ ਰਖਣੇ ਦੇ ਲਈ ਅਨੁਰੋਧ ਕਿਤਾਬ। ਉਣਾਨੇ ਸਵੀਕਾਰ ਕੀਤਾ ਕਿ ਇਨ ਲਖਾ ਅਭਿਆਨ ਦੇ ਤਰੀਕੇ ਅਤੇ ਪੰਥ ਦੇ ਲਈ ਇਕ ਮਦ ਦੇ ਰੂਪ ਵਿੱਚ ਅਹਿੰਸਾ ਉਤੇ ਜੋਰ ਦਿੱਤਾ" ਲਕੀਂ ਉਨ੍ਹਾਂਨੇ ਕਿਹਾ ਇਸ ਪ੍ਰਕਾਰ ਇਹ ਅਹਿੰਸਾ ਦੇ ਮੁਲਬੋੜ ਤੇ ਜੋਰ ਦੇਣਾ ਹੈ, ਅਗਰ ਤੁਸੀ ਲਗਾਤਾਰ ਸਰਕਾਰ ਦੇ ਪ੍ਰਤੀ ਅਸੰਤੋਸ਼ ਦਾ ਉਪਦੇਸ਼ ਦਿੱਤੇ ਹੈ , ਅਤੇ ਏਕ ਵਿਸ਼ਵਾਸਘਾਤੀ ਸਰਕਾਰ ਸਿੱਧ ਕਰਤੇ ਹੈ , ਅਤੇ ਆਪ ਖੁੱਲ੍ਹੇ ਤੌਰ ਤੇ ਜਾਣਕਾਰ ਦੂਸਰੇ ਨੂੰ ਉਖਾੜ ਫੇਕਾਂ ਦੇ ਲਈ ਭੜਕਣ ਦੀ ਕੋਸ਼ਿਸ ਕਰਦੇ ਹੋ ਤੇ ? ਉਸਨੇ ਜੱਜ ਨੂੰ ਅਰੋਪਿਆ ਨੂੰ ਸਜਾ ਸੁਨਣ ਦੇ ਸਮੇਂ ਪਰਸਥਿਤੀਆਂ  ਉਤੇ ਵਿਚਾਰ ਕਰਨ ਦੇ ਲਈ ਕਿਹਾ ।</p>
            <p>ਜਿੱਥੇ ਤੱਕ , ਦੂਸਰੇ ਆਰੋਪੀ ਸ਼੍ਰੀ ਬੰਕਰ ਦਾ ਸਬੰਧ ਹੈ, ਉਨ੍ਹਾਂ ਦੇ ਉਥੇ ਕੰਮ ਅਪਰਾਧ ਸੀ । ਉਨ੍ਹਾਂਨੇ ਪ੍ਰਕਾਸ਼ਨ ਕੀਤਾ ਸੀ ,ਲਿਖਿਆ ਨਹੀਂ । ਸਰ ਸਟਰੰਗਮਨ ਦੇ ਨਿਰਦੇਸ਼ ਦਾ ਮਤਲਬ ਸੀ ਕਿ ਸ਼੍ਰੀ ਬੰਕਰ ਏਕ ਸੰਪੰਨ ਵਿਅਕਤੀ ਸੀ ਅਤੇ ਉਨ੍ਹਾਂ ਨੇ ਅਨੁਰੋਧ ਕੀਤਾ ਕਿ ਜੇਲ੍ਹ ਦੀ ਵਜਾਏ ਜੁਰਮਾਨੇ ਦਾ ਵਿਚਾਰ ਕੀਤਾ ਜਾ ਸਕਦਾ ਹੈ ।</p>
            

            <p><b>ਜੱਜ :</b> ਸ਼੍ਰੀ ਗਾਂਧੀ ਜੀ ਤੁਸੀ ਆਪਣੀ ਸਜਾ ਤੇ ਕੋਈ ਬਿਆਨ ਦੇਣਾ ਚਨੇ ਹੋ ?</p>
            <p><b>ਗਾਂਧੀ :</b> ਮੈਂ ਇਕ ਬਿਆਨ ਦੇਣਾ ਚੋਣਾਂ ਹਾ।</p>
            <p><b>ਜੱਜ :</b> ਕਿ ਤੁਸੀ ਲਿਖ ਕੇ ਦੇ ਸਕਦੇ ਹਾਂ? </p>
            <p><b>ਗਾਂਧੀ ਜੀ :</b> ਜਿਵੇਂ ਮੈਂ ਪੂਰਾ ਕਰਾਂਗਾ , ਮੈਂ ਦੇ ਦਵਾਂਗਾ ।
            ਇਸਤੋਂ ਬਾਅਦ ਗਾਂਧੀ ਜੀ ਨੇ ਬਿਆਨ ਦਿੱਤਾ ।</p>
            <p>ਇਸ ਬਿਆਨ ਨੂੰ ਪੜ੍ਹਨ ਤੋਂ ਪਹਿਲਾ ਮੈਂ ਪਿਆਰ ਨਾਲ ਆਪਣੇ ਐਡਵੋਕੇਟ ਜਨਰਲ ਦੀ ਟਿੱਪਣੀ ਦਾ ਪੂਰੀ ਤਰ੍ਹਾਂ ਸਮਰਥਨ ਕਰਦਾ ਹਾਂ । ਮੈਨੂੰ ਲਗਦਾ ਹੈ ਕਿ ਉਣਾਨੇ ਐਸਾ ਕਿਹਾ ਹੈ , ਕਿਉਂਕਿ ਏ ਬਿਲਕੁਲ ਸੱਚ ਹੈ ਅਤੇ ਮੈਂ ਇਸ ਅਦਾਲਤ ਤੋਂ ਏ ਲੂਕਾਨਾ ਨਹੀਂ ਚੋਂਦਾ ਅਤੇ ਸਰਕਾਰ ਦੀ ਮੌਜੂਦਾ ਆਈਆਰਪੀ ਸਿਸਟਮ ਦੇ ਪ੍ਰਤੀ ਅਸੰਤੋਸ਼ ਦਾ ਪ੍ਰਚਾਰ ਕਰਨਾ ਮੇਰੇ ਲਈ ਲਗਭਗ ਇਕ ਜੁਨੂਨ ਬਨ ਗਿਆ ਹੈ , ਅਤੇ ਮੈਨੂੰ ਲਗਦਾ ਹੈ ਕਿ ਜਦੋਂ ਐਡਵੋਕੇਟ ਜਨਰਲ ਏ ਕਹਿੰਦੇ ਹੈ ਕਿ ਮੇਰੇ ਦੁਆਰਾ ਅਸੰਤੋਸ਼ ਦੀ ਭਾਵਨਾ ਦਾ ਪ੍ਰਚਾਰ ਯੂੰਗਾ ਇੰਡੀਆ ਦੇ ਨਾਲ ਆਪਣੇ ਜੁੜਾਵ ਦੀ ਵਜਾਹ ਤੋਂ ਨਹੀਂ , ਬਲਕਿ ਏ ਬੋਹਤ ਪਹਿਲੇ ਸ਼ੁਰੂ ਹੋ ਗਿਆ ਹੈ , ਤਾ ਇਹ ਪੂਰੀ ਤਰ੍ਹਾਂ ਸਹੀ ਹੈ , ਤੇ ਹੁਣ ਮੈਂ ਜੀ ਬਿਆਨ ਪੜ੍ਹਨ ਜਾ ਰਿਹਾ , ਉਸ ਵਿੱਚ ਇਸ ਅਦਾਲਤ ਦੇ ਸਾਮ੍ਹਣੇ ਏਕ ਸਵੀਕਾਰ ਕਰਨਾ ਮੇਰੇ ਲਈ ਤਕਲੀਫ ਦੇਣ ਵਾਲਾ ਕੰਮ ਹੈ ਕਿ ਇਹ ਐਡਵੋਕੇਟ ਜਨਰਲ ਦੁਆਰਾ ਕਹਿ ਜਾਣ ਵਾਲੀ ਅਵਧੀ ਦੀ ਤੁਲਨਾ ਕਾਫੀ ਚਰ ਪਹਿਲਾ ਤੋਂ ਸ਼ੁਰੂ ਹੋ ਗਈ ਸੀ । ਏ ਮੇਰੇ  ਨਾਲ ਇਕ ਤਕਲੀਫ ਦੇਣ ਵਾਲਾ ਕੰਮ ਹੈ , ਲਕਿੰਨ ਐਨੁ ਆਪਣੇ ਕੰਮ ਦਾ ਨਿਰਵਾਹ ਕਰਨਾ ਹੈ ਕਿਉਂਕਿ ਇਸਦੀ ਸਾਰੀ ਜਿੰਮੇਵਾਰੀ ਮੇਰੇ ਉੱਤੇ ਹੈ , ਅਤੇ ਮੈਂ ਐਡਵੋਕੇਟ ਜਨਰਲ ਦੁਆਰਾ ਬੰਬਈ ਦੀ ਘਟਨਾਓ , ਮਦਰਾਸ ਅਤੇ ਚੋਰੀ ਚੋਰਾ ਦੀ</p>
            <p>ਮੈਂ ਸਮਾਗਮਾਂ ਦੇ ਸੰਬੰਧ ਵਿੱਚ ਮੇਰੇ ਤੇ ਪਾਈਆਂ ਸਾਰੀਆਂ ਕਮੀਆਂ ਦਾ ਸਮਰਥਨ ਕਰਨਾ ਚਾਹੁੰਦਾ ਹਾਂ. ਇਨ੍ਹਾਂ ਗੱਲਾਂ ਬਾਰੇ ਡੂੰਘੀ ਸੋਚਣ ਅਤੇ ਉਨ੍ਹਾਂ ਨਾਲ ਕਈ ਰਾਤ ਸੌਣ ਤੋਂ ਬਾਅਦ, ਮੈਂ ਮਹਿਸੂਸ ਕਰਦਾ ਹਾਂ ਕਿ ਚੌਰੀ ਚੌਰਾ ਦੇ ਖ਼ਤਰਨਾਕ ਅਪਰਾਧਾਂ ਜਾਂ ਬੰਬੇ ਦੇ ਪਾਗਲ ਦੰਗਿਆਂ ਤੋਂ ਆਪਣੇ ਆਪ ਨੂੰ ਵੱਖ ਕਰਨਾ ਮੇਰੇ ਲਈ ਅਸੰਭਵ ਹੈ. ਉਹ ਬਿਲਕੁਲ ਸਹੀ ਹੈ ਜਦੋਂ ਉਸਨੇ ਕਿਹਾ ਕਿ ਇੱਕ ਜ਼ਿੰਮੇਵਾਰ ਆਦਮੀ ਹੋਣ ਦੇ ਨਾਤੇ, ਇੱਕ ਚੰਗੇ ਵਿਦਿਆ ਪ੍ਰਾਪਤ ਕਰਨ ਵਾਲੇ ਇੱਕ ਆਦਮੀ ਦੇ ਰੂਪ ਵਿੱਚ, ਜਿਸ ਨੇ ਇਸ ਸੰਸਾਰ ਦਾ ਕਾਫ਼ੀ ਤਜ਼ੁਰਬਾ ਪ੍ਰਾਪਤ ਕੀਤਾ ਹੈ, ਮੈਨੂੰ ਮੇਰੇ ਸਾਰੇ ਕੰਮਾਂ ਦੇ ਨਤੀਜੇ ਬਾਰੇ ਪਤਾ ਹੋਣਾ ਚਾਹੀਦਾ ਸੀ. ਮੈਂ ਉਨ੍ਹਾਂ ਨੂੰ ਜਾਣਦਾ ਹਾਂ ਮੈਨੂੰ ਪਤਾ ਸੀ ਕਿ ਮੈਂ ਅੱਗ ਨਾਲ ਖੇਡ ਰਿਹਾ ਸੀ. ਮੈਂ ਜੋਖਮ ਭਰਿਆ ਅਤੇ ਮੈਨੂੰ ਰਿਹਾ ਕਰ ਦਿੱਤਾ ਗਿਆ, ਫਿਰ ਮੈਂ ਫਿਰ ਉਹੀ ਕਰਾਂਗਾ. ਅੱਜ ਸਵੇਰੇ ਮੈਨੂੰ ਅਹਿਸਾਸ ਹੋਇਆ ਕਿ ਜੇ ਮੈਂ ਇਹ ਨਹੀਂ ਕਿਹਾ ਜੋ ਮੈਂ ਹੁਣੇ ਕਿਹਾ ਸੀ, ਤਾਂ ਮੈਂ ਆਪਣੀ ਡਿ inਟੀ ਵਿਚ ਅਸਫਲ ਹੋ ਜਾਂਦਾ.</p>
            <p>ਮੈਂ ਹਿੰਸਾ ਤੋਂ ਬਚਣਾ ਚਾਹੁੰਦਾ ਸੀ ਅਹਿੰਸਾ ਮੇਰੀ ਵਿਸ਼ਵਾਸ ਦਾ ਪਹਿਲਾ ਲੇਖ ਹੈ. ਇਹ ਮੇਰੇ ਬੀਤਣ ਦਾ ਆਖਰੀ ਲੇਖ ਵੀ ਹੈ. ਪਰ ਮੈਨੂੰ ਆਪਣੀ ਚੋਣ ਕਰਨੀ ਪਈ. ਜਾਂ ਤਾਂ ਮੈਂ ਇਕ ਪ੍ਰਣਾਲੀ ਦੇ ਅੱਗੇ ਸਮਰਪਣ ਕਰ ਦਿੱਤਾ ਹੁੰਦਾ ਜਿਸ ਬਾਰੇ ਮੈਂ ਸੋਚਦਾ ਸੀ ਕਿ ਮੇਰੇ ਦੇਸ਼ ਦਾ ਇਕ ਨਾ ਪੂਰਾ ਹੋਣ ਵਾਲਾ ਘਾਟਾ ਹੋਇਆ ਹੈ, ਜਾਂ ਮੇਰੇ ਲੋਕਾਂ ਦੇ ਪਾਗਲ ਗੁੱਸੇ ਨੂੰ ਜੋਖਮ ਵਿਚ ਪਾਉਣਾ ਹੈ ਜੋ ਉਨ੍ਹਾਂ ਨੇ ਮੇਰੇ ਬੁੱਲ੍ਹਾਂ ਤੋਂ ਸੱਚਾਈ ਜਾਣਨ ਤੋਂ ਬਾਅਦ ਮੇਰੇ ਵਿਚ ਪਾਇਆ. ਮੈਂ ਜਾਣਦਾ ਹਾਂ ਕਿ ਮੇਰੇ ਲੋਕ ਕਈ ਵਾਰੀ ਪਾਗਲ ਹੋ ਜਾਂਦੇ ਹਨ. ਮੈਨੂੰ ਇਸ ਲਈ ਬਹੁਤ ਦੁੱਖ ਹੈ ਅਤੇ ਇਸ ਲਈ ਮੈਂ ਆਪਣੇ ਆਪ ਨੂੰ ਇੱਕ ਹਲਕੀ ਸਜ਼ਾ ਲਈ ਨਹੀਂ ਬਲਕਿ ਉੱਚਤਮ ਸਜ਼ਾ ਲਈ ਪੇਸ਼ ਕਰਦਾ ਹਾਂ. ਮੈਂ ਦਇਆ ਲਈ ਅਰਦਾਸ ਨਹੀਂ ਕਰਦਾ. ਮੈਂ ਕਿਸੇ ਮੌਜੂਦਾ ਕਾਰਜ ਦੀ ਵਕਾਲਤ ਨਹੀਂ ਕਰਦਾ. ਇਸ ਲਈ, ਮੈਂ ਆਪਣੇ ਆਪ ਨੂੰ ਸਭ ਤੋਂ ਵੱਧ ਸਜ਼ਾ ਪ੍ਰਾਪਤ ਕਰਨ ਲਈ ਅਤੇ ਖੁਸ਼ੀ ਨਾਲ ਇਕ ਅਜਿਹਾ ਕੰਮ ਕਰਨ ਲਈ ਜਮ੍ਹਾ ਕਰਦਾ ਹਾਂ ਜੋ ਕਾਨੂੰਨ ਦੀ ਨਜ਼ਰ ਵਿਚ ਜਾਣਬੁੱਝ ਕੇ ਜੁਰਮ ਹੁੰਦਾ ਹੈ, ਅਤੇ ਇਹ ਮੇਰੇ ਲਈ ਇਕ ਨਾਗਰਿਕ ਦਾ ਸਭ ਤੋਂ ਉੱਚਾ ਫਰਜ਼ ਹੈ. ਜੱਜ ਹੋਣ ਦੇ ਨਾਤੇ, ਤੁਹਾਡੇ ਲਈ ਇਕੋ ਰਸਤਾ ਖੁੱਲਾ ਹੈ, ਕਿ ਤੁਸੀਂ ਜਾਂ ਤਾਂ ਆਪਣੇ ਅਹੁਦੇ ਤੋਂ ਅਸਤੀਫਾ ਦੇ ਦਿੰਦੇ ਹੋ, ਜਾਂ ਜੇ ਤੁਹਾਨੂੰ ਲਗਦਾ ਹੈ ਕਿ ਜਿਸ ਸਿਸਟਮ ਅਤੇ ਕਾਨੂੰਨ ਪ੍ਰਸ਼ਾਸਨ ਦੀ ਤੁਸੀਂ ਸਹਾਇਤਾ ਕਰ ਰਹੇ ਹੋ, ਉਹ ਲੋਕਾਂ ਲਈ ਸਹੀ ਹੈ. ਮੇਰੇ ਉੱਤੇ ਸਖਤ ਸਜਾਵਾਂ ਥੋਪੋ। ਮੈਂ ਇਸ ਕਿਸਮ ਦੀ ਗੱਲਬਾਤ ਨੂੰ ਨਹੀਂ ਛੱਡਦਾ. ਪਰ ਜਦੋਂ ਮੈਂ ਆਪਣਾ ਬਿਆਨ ਪੂਰਾ ਕਰਾਂਗਾ ਤਾਂ ਤੁਸੀਂ ਇਸ ਗੱਲ ਦੀ ਝਲਕ ਪਾਓਗੇ ਕਿ ਮੇਰੇ ਸੀਨੇ ਵਿਚ ਕਿਹੜੀ ਅੱਗ ਬਲ ਰਹੀ ਸੀ ਜਿਸ ਨਾਲ ਇਕ ਸਮਝਦਾਰ ਆਦਮੀ ਉਸ ਪਾਗਲ ਖਤਰੇ ਨੂੰ ਚਲਾਉਣ ਲਈ ਪ੍ਰੇਰਿਤ ਹੁੰਦਾ</p>
            <p>ਫੇਰ ਉਸਨੇ ਆਪਣਾ ਲਿਖਤ ਬਿਆਨ ਪੜ੍ਹਿਆ:] ਮੇਰੇ ਲਈ ਇਹ ਜ਼ਰੂਰੀ ਹੈ ਕਿ ਮੈਂ ਭਾਰਤੀ ਜਨਤਾ ਅਤੇ ਇੰਗਲੈਂਡ ਦੇ ਲੋਕਾਂ ਨੂੰ ਇਹ ਦੱਸਾਂ ਕਿਉਂ ਕਿ ਮੁੱਕਦਮੇ ਨੇ ਮੁੱਖ ਤੌਰ ਤੇ ਕਿਹਾ ਹੈ ਕਿ ਮੈਂ ਇੱਕ ਕੱਟੜ ਵਫ਼ਾਦਾਰ ਅਤੇ ਸਹਿਯੋਗੀ, ਅਸੰਤੁਸ਼ਟ ਅਤੇ ਗੈਰ-ਸਹਿਯੋਗੀ ਹਾਂ। ਮੈਂ ਬਣ ਗਿਆ ਹਾਂ ਮੈਂ ਅਦਾਲਤ ਨੂੰ ਇਹ ਵੀ ਦੱਸਾਂਗਾ ਕਿ ਭਾਰਤ ਵਿੱਚ ਕਾਨੂੰਨ ਦੁਆਰਾ ਸਥਾਪਤ ਸਰਕਾਰ ਨਾਲ ਅਸੰਤੁਸ਼ਟੀ ਨੂੰ ਉਤਸ਼ਾਹਤ ਕਰਨ ਲਈ ਮੈਂ ਆਪਣੇ ਆਪ ਨੂੰ ਦੋਸ਼ੀ ਕਿਉਂ</p>
            <p>ਮੇਰੀ ਜਨਤਕ ਜ਼ਿੰਦਗੀ ਦੀ ਸ਼ੁਰੂਆਤ ਦੱਖਣੀ ਅਫਰੀਕਾ ਵਿਚ 1893 ਵਿਚ ਇਕ ਮੁਸ਼ਕਲ ਦੇ ਮੌਸਮ ਵਿਚ ਹੋਈ. ਉਸ ਦੇਸ਼ ਵਿਚ ਬ੍ਰਿਟਿਸ਼ ਸ਼ਕਤੀ ਨਾਲ ਮੇਰਾ ਪਹਿਲਾ ਸੰਪਰਕ ਚੰਗਾ ਨਹੀਂ ਸੀ. ਮੈਂ ਪਾਇਆ ਕਿ ਇੱਕ ਆਦਮੀ ਅਤੇ ਇੱਕ ਭਾਰਤੀ ਹੋਣ ਦੇ ਨਾਤੇ, ਮੇਰੇ ਕੋਲ ਕੋਈ ਅਧਿਕਾਰ ਨਹੀਂ ਸੀ. ਹੋਰ ਸਹੀ ਢੰਗ ਨਾਲ, ਮੈਨੂੰ ਪਤਾ ਲੱਗ ਗਿਆ ਕਿ ਇੱਕ ਵਿਅਕਤੀ ਵਜੋਂ ਮੈਨੂੰ ਕੋਈ ਅਧਿਕਾਰ ਨਹੀਂ ਸੀ ਕਿਉਂਕਿ ਮੈਂ ਇੱਕ ਭਾਰਤੀ ਸੀ.</p>
            <p>ਪਰ ਮੈਨੂੰ ਹੈਰਾਨੀ ਨਹੀਂ ਹੋਈ . ਮੈਂ ਸੋਚਿਆ ਕਿ ਭਾਰਤੀਆਂ ਪ੍ਰਤੀ ਅਜਿਹਾ ਵਿਵਹਾਰ ਇਕ ਪ੍ਰਣਾਲੀ ਦਾ ਰਸੌਲੀ ਸੀ ਜੋ ਅੰਦਰੂਨੀ ਅਤੇ ਮੁੱਖ ਤੌਰ ਤੇ ਚੰਗਾ ਸੀ. ਮੈਂ ਇਸ ਦੀ ਖੁੱਲ੍ਹ ਕੇ ਆਲੋਚਨਾ ਕੀਤੀ ਜਿੱਥੇ ਵੀ ਮੈਨੂੰ ਇਹ ਕਮਜ਼ੋਰ ਪਾਇਆ ਪਰ ਸਰਕਾਰ ਨੂੰ ਮੇਰੀ ਸਵੈ-ਇੱਛੁਕ ਅਤੇ ਦਿਲੋਂ ਸਹਾਇਤਾ ਦਿੱਤੀ, ਕਦੇ ਵੀ ਇਸ ਦਾ ਵਿਨਾਸ਼ ਨਹੀਂ ਕਰਨਾ ਚਾਹੁੰਦਾ ਸੀ.</p>
            <p>ਨਤੀਜੇ ਵਜੋਂ, ਜਦੋਂ ਬੋਅਰ ਚੈਲੇਂਜ ਨੇ 1899 ਵਿਚ ਸਾਮਰਾਜ ਦੇ ਬਚਾਅ ਦੀ ਧਮਕੀ ਦਿੱਤੀ, ਤਾਂ ਮੈਂ ਇਸ ਨੂੰ ਆਪਣੀਆਂ ਸੇਵਾਵਾਂ ਦੀ ਪੇਸ਼ਕਸ਼ ਕੀਤੀ, ਇਕ ਸਵੈ-ਸੇਵਕ ਵਜੋਂ ਐਂਬੂਲੈਂਸ ਕੋਰ ਲਈ ਅਤੇ ਲੇਡੀ ਸਮਿਥ ਦੀ ਰਾਹਤ ਲਈ ਬਹੁਤ ਸਾਰੇ ਕੰਮਾਂ ਵਿਚ ਹਿੱਸਾ ਲਿਆ. ਇਸੇ ਤਰ੍ਹਾਂ 1906 ਵਿਚ, ਜ਼ੂਲੂ 'ਬਗਾਵਤ' ਦੇ ਸਮੇਂ, ਮੈਂ ਇਕ ਸਟਰੈਚਰ ਕੈਰੀਅਰ ਪਾਰਟੀ ਬਣਾਈ ਅਤੇ 'ਬਗਾਵਤ' ਦੇ ਅੰਤ ਤਕ ਸੇਵਾ ਕੀਤੀ. ਦੋਵਾਂ ਮੌਕਿਆਂ 'ਤੇ ਮੈਨੂੰ ਮੈਡਲ ਮਿਲੇ ਅਤੇ ਇੱਥੋਂ ਤਕ ਕਿ ਭੇਜਣ ਵਿਚ ਵੀ ਮੇਰਾ ਜ਼ਿਕਰ ਕੀਤਾ ਗਿਆ. ਮੈਨੂੰ ਦੱਖਣੀ ਅਫਰੀਕਾ ਵਿਚ ਕੰਮ ਕਰਨ ਲਈ ਲਾਰਡ ਹਾਰਡਿੰਗ ਦੁਆਰਾ ਕੇਸਰ-ਏ-ਹਿੰਦ ਦਾ ਸੋਨ ਤਗਮਾ ਦਿੱਤਾ ਗਿਆ। ਜਦੋਂ 1914 ਵਿਚ ਇੰਗਲੈਂਡ ਅਤੇ ਜਰਮਨੀ ਵਿਚ ਲੜਾਈ ਸ਼ੁਰੂ ਹੋਈ, ਮੈਂ ਲੰਡਨ ਵਿਚ ਸਵੈਇੱਛਤ ਐਂਬੂਲੈਂਸ ਕਾਰਾਂ ਚਲਾਈਆਂ, ਵਿਦੇਸ਼ੀ ਭਾਰਤੀਆਂ, ਮੁੱਖ ਤੌਰ ਤੇ ਵਿਦਿਆਰਥੀ. ਅਧਿਕਾਰੀਆਂ ਨੇ ਇਸ ਕੰਮ ਦੀ ਮਹੱਤਤਾ ਨੂੰ ਸਵੀਕਾਰਿਆ. ਅਖੀਰ ਵਿੱਚ, 1918 ਵਿੱਚ, ਜਦੋਂ ਲਾਰਡ ਚੈਮਸਫੋਰਡ ਦੁਆਰਾ ਭਾਰਤ ਵਿੱਚ ਜੰਗ ਲਈ ਭਰਤੀ ਕਰਨ ਲਈ ਦਿੱਲੀ ਵਿੱਚ ਕਾਨਫ਼ਰੰਸ ਵਿੱਚ ਇੱਕ ਵਿਸ਼ੇਸ਼ ਅਪੀਲ ਕੀਤੀ ਗਈ ਸੀ, ਮੈਂ ਸਿਹਤ ਦੀ ਕੀਮਤ ‘ਤੇ ਖੇੜਾ ਵਿਖੇ ਇੱਕ ਟਿਕਾਣਾ ਬਣਾਉਣ ਲਈ ਸੰਘਰਸ਼ ਕੀਤਾ, ਅਤੇ ਜਦੋਂ ਲੜਾਈ ਰੁਕ ਗਈ। ਚਲਾ ਗਿਆ ਅਤੇ ਆਰਡਰ ਪ੍ਰਾਪਤ ਕੀਤਾ ਅਤੇ ਉਹ ਨਹੀਂ ਚਾਹੁੰਦਾ ਸੀ ਭਰਤੀਆਂ ਨੇ ਫਿਰ ਪ੍ਰਤੀਕਰਮ ਦਿੱਤਾ. ਸੇਵਾ ਦੇ ਇਨ੍ਹਾਂ ਸਾਰੇ ਯਤਨਾਂ ਵਿੱਚ, ਮੈਂ ਇਸ ਵਿਸ਼ਵਾਸ ਨਾਲ ਪ੍ਰੇਰਿਤ ਹੋਇਆ ਕਿ ਅਜਿਹੀਆਂ ਸੇਵਾਵਾਂ ਦੁਆਰਾ ਹੀ ਸਾਡੇ ਦੇਸ਼ ਵਾਸੀਆਂ ਨੂੰ ਸਾਮਰਾਜ ਵਿੱਚ ਪੂਰੀ ਬਰਾਬਰਤਾ ਦਾ ਦਰਜਾ ਪ੍ਰਾਪਤ ਕਰਨਾ ਸੰਭਵ ਹੋਇਆ ਸੀ।</p>
            <p>ਮੇਰੇ ਲਈ ਪਹਿਲਾ ਝਟਕਾ ਰੌਲਟ ਐਕਟ ਸੀ - ਇੱਕ ਕਾਨੂੰਨ ਜੋ ਲੋਕਾਂ ਤੋਂ ਹਰ ਤਰਾਂ ਦੀ ਅਸਲ ਆਜ਼ਾਦੀ ਖੋਹਣ ਲਈ ਬਣਾਇਆ ਗਿਆ ਸੀ. ਮੈਂ ਮਹਿਸੂਸ ਕੀਤਾ ਕਿ ਇਸ ਦੇ ਵਿਰੁੱਧ ਡੂੰਘੀ ਲਹਿਰ ਦੀ ਅਗਵਾਈ ਕਰਨ ਲਈ ਇੱਕ ਬੁਲਾਵਾ. ਫਿਰ ਜਲ੍ਹਿਆਂਵਾਲਾ ਬਾਗ ਵਿਚ ਹੋਏ ਕਤਲੇਆਮ ਅਤੇ ਆਦੇਸ਼ਾਂ, ਜਨਤਕ ਸਰੀਰਕ ਸਜ਼ਾ ਅਤੇ ਹੋਰ ਅਵਿਨਾਸ਼ੀ ਅਪਮਾਨਾਂ ਨਾਲ ਪੰਜਾਬ ਵਿਚ ਦਹਿਸ਼ਤ ਦੀ ਸ਼ੁਰੂਆਤ ਹੋਈ।ਮੈਂ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਦੁਆਰਾ ਤੁਰਕੀ ਦੀ ਅਖੰਡਤਾ ਅਤੇ ਇਸਲਾਮ ਦੇ ਪਵਿੱਤਰ ਅਸਥਾਨਾਂ ਬਾਰੇ ਭਾਰਤ ਦੇ ਮੁਸਲਮਾਨਾਂ ਨਾਲ ਕੀਤੇ ਵਾਅਦੇ ਨੂੰ ਵੇਖਿਆ। ਦੇ ਪੂਰਾ ਹੋਣ ਦੀ ਸੰਭਾਵਨਾ ਨਹੀਂ ਸੀ. ਪਰੰਤੂ 1919 ਵਿਚ ਅੰਮ੍ਰਿਤਸਰ ਕਾਂਗਰਸ ਵਿਚ ਦੋਸਤਾਂ ਦੀ ਸਖਤ ਚੇਤਾਵਨੀ ਅਤੇ ਇਨਕਾਰ ਦੇ ਬਾਵਜੂਦ, ਮੈਂ ਉਮੀਦ ਦੇ ਨਾਲ ਸਹਿਕਾਰਤਾ ਕੀਤੀ ਅਤੇ ਮੋਂਟਾਗੂ-ਚੇਲਸਫੋਰਡ ਸੁਧਾਰ ਦੇ ਕੰਮ ਲਈ ਲੜਿਆ, ਕਿ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਭਾਰਤੀ ਮੁਸਲਮਾਨਾਂ ਅਤੇ ਪੰਜਾਬ ਨਾਲ ਆਪਣੇ ਵਾਅਦੇ ਨੂੰ ਪੂਰਾ ਕਰਨਗੇ ਜ਼ਖ਼ਮਾਂ ਨੂੰ ਚੰਗਾ ਕੀਤਾ ਜਾਏਗਾ, ਅਤੇ ਸੁਧਾਰ ਭਾਵੇਂ ਉਹ ਨਾਕਾਫ਼ੀ ਅਤੇ ਅਸੰਤੋਸ਼ਜਨਕ ਸਨ, ਭਾਰਤ ਦੇ ਜੀਵਨ ਵਿਚ ਉਮੀਦ ਦੇ ਇਕ ਨਵੇਂ ਯੁੱਗ ਦੀ ਨਿਸ਼ਾਨਦੇਹੀ ਕਰਨਗੇ.</p>
            <p>ਪਰ ਸਾਰੀਆਂ ਉਮੀਦਾਂ ਚੂਰ ਹੋ ਗਈਆਂ. ਖ਼ਿਲਾਫ਼ ਵਾਅਦਾ ਪੂਰਾ ਨਹੀਂ ਹੋਇਆ। ਪੰਜਾਬ ਦੇ ਅਪਰਾਧ ਨੂੰ ਸਜ਼ਾ ਮਿਲੀ ਸੀ ਅਤੇ ਬਹੁਤੇ ਅਪਰਾਧੀ ਨਾ ਸਿਰਫ ਸਜ਼ਾ ਤੋਂ ਬਚਾਏ ਗਏ ਸਨ, ਬਲਕਿ ਉਹ ਸੇਵਾ ਵਿਚ ਵੀ ਰਹੇ ਅਤੇ ਕੁਝ ਨੂੰ ਭਾਰਤੀ ਮਾਲੀਆ ਵਿਚੋਂ ਪੈਨਸ਼ਨ ਦਿੱਤੀ ਜਾਂਦੀ ਰਹੀ ਅਤੇ ਕੁਝ ਮਾਮਲਿਆਂ ਵਿਚ ਇਨਾਮ ਵੀ ਦਿੱਤੇ ਗਏ। . ਮੈਂ ਪਾਇਆ ਕਿ ਸੁਧਾਰਾਂ ਨੇ ਕਿਸੇ ਵੀ ਦਿਲ ਦੀ ਤਬਦੀਲੀ ਦੀ ਨਿਸ਼ਾਨਦੇਹੀ ਨਹੀਂ ਕੀਤੀ, ਬਲਕਿ ਇਹ ਸਿਰਫ ਭਾਰਤ ਦੀ ਦੌਲਤ ਅਤੇ ਇਸ ਦੀ ਗੁਲਾਮੀ ਦੇ ਸਮੇਂ ਦੇ ਸ਼ੋਸ਼ਣ ਨੂੰ ਅੱਗੇ ਵਧਾਉਣ ਦਾ ਇਕ ਤਰੀਕਾ ਸਨ.</p>
            <p>ਅਖੀਰ ਵਿੱਚ, ਮੈਂ ਇਸ ਸਿੱਟੇ ਤੇ ਪਹੁੰਚ ਗਿਆ ਕਿ ਮੈਨੂੰ ਮਹਿਸੂਸ ਹੋਇਆ ਕਿ ਬ੍ਰਿਟਿਸ਼ ਸੰਬੰਧ ਭਾਰਤ ਨੂੰ ਪਹਿਲਾਂ ਨਾਲੋਂ ਪਹਿਲਾਂ ਨਾਲੋਂ ਰਾਜਨੀਤਿਕ ਅਤੇ ਆਰਥਿਕ ਤੌਰ ਤੇ ਵਧੇਰੇ ਬੇਵੱਸ ਹੋ ਗਏ ਹਨ। ਇੱਕ ਹਥਿਆਰਬੰਦ ਭਾਰਤ ਵਿੱਚ ਕਿਸੇ ਵੀ ਹਮਲਾਵਰ ਵਿਰੁੱਧ ਵਿਰੋਧ ਦੀ ਕੋਈ ਤਾਕਤ ਹੈ, ਭਾਵੇਂ ਉਹ ਇਸ ਨਾਲ ਹਥਿਆਰਬੰਦ ਸੰਘਰਸ਼ ਕਰਨਾ ਚਾਹੁੰਦਾ ਹੈ। ਇਹ ਅਜਿਹੀ ਸਥਿਤੀ ਹੈ ਕਿ ਸਾਡੇ ਕੁਝ ਉੱਤਮ ਵਿਅਕਤੀਆਂ ਦਾ ਵਿਚਾਰ ਹੈ ਕਿ ਭਾਰਤ ਦੀਆਂ ਬਹੁਤ ਸਾਰੀਆਂ ਪੀੜ੍ਹੀਆਂ ਨੂੰ ਸ਼ਾਸਨ ਦਾ ਰੁਤਬਾ ਪ੍ਰਾਪਤ ਕਰਨ ਲਈ ਖਤਮ ਕਰਨਾ ਪਏਗਾ. ਉਹ ਇੰਨਾ ਗਰੀਬ ਹੋ ਗਿਆ ਹੈ ਕਿ ਉਸ ਕੋਲ ਕਾਲ ਦੀ ਵਿਰੋਧਤਾ ਕਰਨ ਦੀ ਬਹੁਤ ਘੱਟ ਤਾਕਤ ਹੈ. ਬ੍ਰਿਟਿਸ਼ ਆਉਣ ਤੋਂ ਪਹਿਲਾਂ, ਭਾਰਤ ਵਿਚ ਹਰ ਝੌਂਪੜੀ ਵਿਚ ਕਤਾਈ ਅਤੇ ਬੁਣਾਈ ਕੀਤੀ ਜਾਂਦੀ ਸੀ, ਜਿਸ ਨਾਲ ਉਸ ਨੂੰ ਉਸ ਦੇ ਘੱਟ ਖੇਤੀਬਾੜੀ ਸਰੋਤਾਂ ਨੂੰ ਵਧਾਉਣ ਲਈ ਪੂਰਕ ਆਮਦਨ ਮਿਲਦੀ ਸੀ. ਅੰਗਰੇਜ਼ੀ ਗਵਾਹ ਦੁਆਰਾ ਦਰਸਾਇਆ ਗਿਆ ਭਾਰਤ ਦੇ ਬਚਾਅ ਲਈ ਬਹੁਤ ਮਹੱਤਵਪੂਰਨ ਕਾਟੇਜ ਉਦਯੋਗ, ਅਵਿਸ਼ਵਾਸੀ ਬੇਰਹਿਮ ਅਤੇ ਅਣਮਨੁੱਖੀ ਪ੍ਰਕਿਰਿਆਵਾਂ ਦੁਆਰਾ ਬਰਬਾਦ ਹੋ ਗਿਆ ਹੈ. ਭਾਰਤ ਦੇ ਛੋਟੇ ਸ਼ਹਿਰਾਂ ਵਿਚ ਰਹਿਣ ਵਾਲੇ ਭੁੱਖ ਨਾਲ ਜੂਝ ਰਹੇ ਬੇਜਾਨ ਲੋਕਾਂ ਲਈ ਕੀ ਕਰ ਸਕਦੇ ਹਨ? ਬਹੁਤ ਘੱਟ ਉਹ ਜਾਣਦੇ ਹਨ ਕਿ ਉਨ੍ਹਾਂ ਦਾ ਤਰਸਯੋਗ ਆਰਾਮ ਮੁਨਾਫਿਆਂ ਅਤੇ ਬ੍ਰੋਕਰੇਜ ਨੂੰ ਦਰਸਾਉਂਦਾ ਹੈ ਜੋ ਉਹ ਜਨਤਕ ਪੈਸੇ ਤੋਂ ਪ੍ਰਾਪਤ ਕਰਦੇ ਹਨ ਜੋ ਉਹ ਵਿਦੇਸ਼ੀ ਸ਼ੋਸ਼ਣਕਾਰਾਂ ਲਈ ਉਨ੍ਹਾਂ ਦੇ ਕੰਮ ਲਈ ਅਦਾ ਕਰਦੇ ਹਨ. ਬਹੁਤ ਘੱਟ ਉਹ ਜਾਣਦੇ ਹਨ ਕਿ ਬ੍ਰਿਟਿਸ਼ ਭਾਰਤ ਵਿਚ ਕਾਨੂੰਨ ਦੁਆਰਾ ਸਥਾਪਿਤ ਕੀਤੀ ਸਰਕਾਰ ਦੁਆਰਾ ਜਨਤਾ ਦਾ ਸ਼ੋਸ਼ਣ ਕੀਤਾ ਜਾਂਦਾ ਹੈ. ਕੋਈ ਸੂਝ-ਬੂਝ, ਡੇਟਾ ਦੀ ਕੋਈ ਹੇਰਾਫੇਰੀ, ਕਈ ਪਿੰਡਾ ਵਿਚ ਨੰਗੀ ਅੱਖ ਨਾਲ ਇਸ ਸਮੇਂ ਵੇਖੇ ਗਏ ਪਿੰਜਰ ਦੇ ਸਬੂਤ ਦੀ ਵਿਆਖਿਆ ਨੂੰ ਰੋਕ ਨਹੀਂ ਸਕਦਾ. ਮੈਨੂੰ ਕੋਈ ਸ਼ੱਕ ਨਹੀਂ ਕਿ ਜੇ ਉੱਪਰ ਕੋਈ ਰੱਬ ਹੈ, ਤਾਂ ਇੰਗਲੈਂਡ ਅਤੇ ਭਾਰਤ ਦੇ ਸ਼ਹਿਰਾਂ ਦੇ ਵਸਨੀਕਾਂ ਨੂੰ ਮਨੁੱਖਤਾ ਵਿਰੁੱਧ ਹੋਏ ਇਸ ਜੁਰਮ ਲਈ ਜਵਾਬ ਦੇਣਾ ਪਏਗਾ, ਜਿਸਦਾ ਇਤਿਹਾਸ ਵਿਚ ਸ਼ਾਇਦ ਹੀ ਕੋਈ ਮੇਲ ਖਾਂਦਾ ਹੋਵੇ। ਇਸ ਦੇਸ਼ ਵਿਚ ਕਾਨੂੰਨ ਦੀ ਵਰਤੋਂ ਵਿਦੇਸ਼ੀ ਸ਼ੋਸ਼ਣ ਕਰਨ ਵਾਲਿਆਂ ਦੀ ਸੇਵਾ ਲਈ ਕੀਤੀ ਗਈ ਹੈ. ਪੰਜਾਬ ਦੇ ਮਾਰਸ਼ਲ ਲਾਅ ਮਾਮਲਿਆਂ ਦੀ ਮੇਰੀ ਨਿਰਪੱਖ ਜਾਂਚ ਨੇ ਮੈਨੂੰ ਦਿਖਾਇਆ ਹੈ ਕਿ ਘੱਟੋ ਘੱਟ ਪਚਵੇਂ ਪ੍ਰਤੀਸ਼ਤ ਦੋਸ਼ੀਆਂ ਨੂੰ ਗਲਤ ਤਰੀਕੇ ਨਾਲ ਦੋਸ਼ੀ ਠਹਿਰਾਇਆ ਗਿਆ ਹੈ। ਭਾਰਤ ਦੇ ਰਾਜਨੀਤਿਕ ਮਾਮਲਿਆਂ ਦਾ ਮੇਰਾ ਤਜ਼ੁਰਬਾ ਮੈਨੂੰ ਇਸ ਸਿੱਟੇ ਤੇ ਲੈ ਜਾਂਦਾ ਹੈ ਕਿ ਹਰ 10 ਦੱਬੇ-ਕੁਚਲੇ ਲੋਕਾਂ ਵਿੱਚੋਂ ਨੌਂ ਨਿਰਦੋਸ਼ ਸਨ। ਉਸਦਾ ਅਪਰਾਧ ਇਹ ਸੀ ਕਿ ਉਹ ਆਪਣੇ ਦੇਸ਼ ਨੂੰ ਪਿਆਰ ਕਰਦਾ ਸੀ. ਭਾਰਤ ਦੀਆਂ ਨਿਆਂਇਕ ਅਦਾਲਤਾਂ ਵਿੱਚ, ਸੌ ਕੇਸਾਂ ਵਿੱਚੋਂ 90ण्ਾਨਿਆਂ ਵਿੱਚ, ਗੋਰਿਆਂ ਤੋਂ ਵੱਧ ਭਾਰਤੀਆਂ ਨੂੰ ਨਿਆਂ ਦੇਣ ਤੋਂ ਇਨਕਾਰ ਕੀਤਾ ਗਿਆ ਹੈ। ਇਹ ਕੋਈ ਅਤਿਕਥਨੀ ਵਾਲੀ ਤਸਵੀਰ ਨਹੀਂ ਹੈ. ਇਹ ਲਗਭਗ ਹਰ ਭਾਰਤੀ ਦਾ ਤਜਰਬਾ ਹੈ ਜੋ ਅਜਿਹੇ ਮਾਮਲਿਆਂ ਵਿੱਚ ਸ਼ਾਮਲ ਹੈ. ਮੇਰੀ ਰਾਏ ਵਿੱਚ, ਕਾਨੂੰਨ ਦੇ ਪ੍ਰਬੰਧਨ ਵਿੱਚ ਜਾਣ ਬੁੱਝ ਜਾਂ ਅਣਜਾਣੇ ਵਿੱਚ, ਅਜਿਹੀਆਂ ਵਿਭਚਾਰਾਂ ਪ੍ਰਚਲਿਤ ਹੁੰਦੀਆਂ ਹਨ, ਜੋ ਸ਼ੋਸ਼ਣਕਾਰਾਂ ਦੇ ਫਾਇਦੇ ਲਈ ਹੁੰਦੀਆਂ ਹਨ.</p>
            <p>ਸਭ ਤੋਂ ਵੱਡੀ ਬਦਕਿਸਮਤੀ ਇਹ ਹੈ ਕਿ ਦੇਸ਼ ਦੇ ਪ੍ਰਸ਼ਾਸਨ ਵਿਚ ਬ੍ਰਿਟਿਸ਼ ਅਤੇ ਉਨ੍ਹਾਂ ਦੇ ਭਾਰਤੀ ਸਹਿਯੋਗੀ ਇਸ ਬਾਰੇ ਨਹੀਂ ਜਾਣਦੇ ਕਿ ਉਹ ਉਨ੍ਹਾਂ ਜੁਰਮਾਂ ਨੂੰ ਅੰਜਾਮ ਦੇਣ ਵਿਚ ਲੱਗੇ ਹੋਏ ਹਨ ਜਿਨ੍ਹਾਂ ਦਾ ਮੈਂ ਵਰਣਨ ਕਰਨ ਦੀ ਕੋਸ਼ਿਸ਼ ਕੀਤੀ ਹੈ। ਮੈਂ ਇਸ ਗੱਲ ਤੋਂ ਸੰਤੁਸ਼ਟ ਹਾਂ ਕਿ ਬਹੁਤ ਸਾਰੇ ਅੰਗ੍ਰੇਜ਼ੀ ਅਤੇ ਭਾਰਤੀ ਅਧਿਕਾਰੀਆਂ ਨੇ ਕਿਹਾ ਕਿ ਇਹ ਪ੍ਰਣਾਲੀ ਪੂਰੀ ਦੁਨੀਆਂ ਵਿਚ ਇਕਸਾਰਤਾ ਨਾਲ ਤਿਆਰ ਕੀਤੀ ਗਈ ਹੈ, ਅਤੇ ਭਾਰਤ ਸਥਿਰ ਹੋ ਰਿਹਾ ਹੈ, ਹਾਲਾਂਕਿ ਹੌਲੀ ਤਰੱਕੀ ਹੈ. ਉਹ ਇਸ ਗੱਲ ਤੋਂ ਜਾਣੂ ਨਹੀਂ ਹਨ ਕਿ ਇਕ ਪਾਸੇ ਅੱਤਵਾਦ ਦੀ ਸੂਖਮ ਪਰ ਪ੍ਰਭਾਵਸ਼ਾਲੀ ਪ੍ਰਣਾਲੀ ਅਤੇ ਇਕ ਪਾਸੇ ਤਾਕਤ ਦਾ ਸੰਗਠਿਤ ਪ੍ਰਦਰਸ਼ਨ, ਅਤੇ ਦੂਜੇ ਪਾਸੇ ਬਦਲਾ ਲੈਣ ਜਾਂ ਸਵੈ-ਰੱਖਿਆ ਦੀਆਂ ਸਾਰੀਆਂ ਸ਼ਕਤੀਆਂ ਦੀ ਅਣਹੋਂਦ ਵਿਚ ਲੋਕ ਨਪੁੰਸਕ ਹਨ ਅਤੇ ਨਕਲ ਦੀ ਆਦਤ ਤੋਂ ਪ੍ਰੇਰਿਤ ਹਨ। ਇਸ ਭਿਆਨਕ ਆਦਤ ਨੇ ਪ੍ਰਬੰਧਕਾਂ ਦੀ ਅਣਦੇਖੀ ਅਤੇ ਧੋਖੇ ਨੂੰ ਵਧਾ ਦਿੱਤਾ ਹੈ. ਧਾਰਾ 124 ਏ, ਜਿਸ ਦੇ ਤਹਿਤ ਮੇਰੇ ਉੱਤੇ ਦੋਸ਼ ਲਗਾਇਆ ਗਿਆ ਹੈ ਸ਼ਾਇਦ ਉਨ੍ਹਾਂ ਕਾਨੂੰਨਾਂ ਵਿੱਚ ਰਾਜਕੁਮਾਰ ਦਾ ਦਰਜਾ ਪ੍ਰਾਪਤ ਹੈ ਜੋ ਭਾਰਤੀ ਦੰਡ ਵਿਧਾਨ ਦੇ ਰਾਜਨੀਤਿਕ ਭਾਗਾਂ ਵਿੱਚ ਨਾਗਰਿਕਾਂ ਦੀ ਆਜ਼ਾਦੀ ਨੂੰ ਦਬਾਉਣ ਲਈ ਬਣਾਏ ਗਏ ਹਨ। ਪਿਆਰ ਦੁਆਰਾ ਨਿਰਮਾਣ ਜਾਂ ਨਿਯਮ ਨੂੰ ਨਿਯਮਿਤ ਨਹੀਂ ਕੀਤਾ ਜਾ ਸਕਦਾ. ਜੇ ਕਿਸੇ ਵਿਅਕਤੀ ਜਾਂ ਸਿਸਟਮ ਨੂੰ ਧਿਆਨ ਵਿਚ ਨਹੀਂ ਰੱਖਦਾ, ਤਾਂ ਉਹ ਅਸਹਿਮਤੀ ਨੂੰ ਪੂਰਾ ਪ੍ਰਗਟਾਵਾ ਕਰਨ ਲਈ ਸੁਤੰਤਰ ਹੋ ਸਕਦਾ ਹੈ, ਜਦ ਤਕ ਇਹ ਹਿੰਸਾ, ਪ੍ਰਚਾਰ ਅਤੇ ਇਸ ਦੇ ਉਪਯੋਗ ਬਾਰੇ ਵਿਚਾਰਾਂ ਨੂੰ ਭੜਕਾਉਂਦਾ ਨਹੀਂ. ਪਰ ਇਹ ਇਕ ਅਜਿਹਾ ਵਰਗ ਹੈ ਜਿਸ ਦੇ ਤਹਿਤ ਅਸੰਤੁਸ਼ਟਤਾ ਦਾ ਪ੍ਰਗਟਾਵਾ ਹੀ ਇੱਕ ਜੁਰਮ ਹੈ. ਮੈਂ ਇਸਦੇ ਅਧੀਨ ਕੁਝ ਮਾਮਲਿਆਂ ਦਾ ਅਧਿਐਨ ਕੀਤਾ ਹੈ; ਅਤੇ ਮੈਂ ਜਾਣਦਾ ਹਾਂ ਕਿ ਭਾਰਤ ਦੇ ਜ਼ਿਆਦਾਤਰ ਪਸੰਦੀਦਾ ਦੇਸ਼ ਭਗਤ ਇਸ ਦੇ ਅਧੀਨ ਦੋਸ਼ੀ ਠਹਿਰਾਏ ਗਏ ਹਨ. ਇਸ ਲਈ, ਮੈਂ ਇਸ ਧਾਰਾ ਦੇ ਅਧੀਨ ਦੋਸ਼ਾਂ ਨੂੰ ਇਕ ਵਿਸ਼ੇਸ਼ ਅਧਿਕਾਰ ਸਮਝਦਾ ਹਾਂ. ਮੈਂ ਆਪਣੇ ਅਸੰਤੁਸ਼ਟੀ ਦੇ ਕਾਰਨਾਂ ਦੀ ਇੱਕ ਸੰਖੇਪ ਰੂਪ ਰੇਖਾ ਦੇਣ ਦੀ ਕੋਸ਼ਿਸ਼ ਕੀਤੀ ਹੈ. ਮੇਰਾ ਕਿਸੇ ਇੱਕ ਪ੍ਰਬੰਧਕ ਨਾਲ ਕੋਈ ਨਿੱਜੀ ਗੜਬੜ ਨਹੀਂ ਹੈ ਅਤੇ ਨਾ ਹੀ ਅਧਿਕਾਰੀਆਂ ਪ੍ਰਤੀ ਨਫ਼ਰਤ ਹੈ। ਮੈਂ ਪਰ ਮੈਂ ਮਹਿਸੂਸ ਕਰਦਾ ਹਾਂ ਕਿ ਕਿਸੇ ਅਜਿਹੀ ਸਰਕਾਰ ਤੋਂ ਨਿਰਾਸ਼ ਹੋ ਜਾਣਾ ਜਿਸ ਨੇ ਆਪਣੀ ਸਮੁੱਚੀ ਰੂਪ ਵਿਚ ਕਿਸੇ ਵੀ ਪਿਛਲੀ ਪ੍ਰਣਾਲੀ ਨਾਲੋਂ ਭਾਰਤ ਦਾ ਵਧੇਰੇ ਨੁਕਸਾਨ ਕੀਤਾ ਹੈ, ਇਕ ਗੁਣ ਸਮਝਿਆ ਜਾਣਾ ਚਾਹੀਦਾ ਹੈ. ਬ੍ਰਿਟਿਸ਼ ਸ਼ਾਸਨ ਹੇਠ ਭਾਰਤ ਪਹਿਲਾਂ ਨਾਲੋਂ ਪਹਿਲਾਂ ਘੱਟ ਹਿੰਮਤ ਰਿਹਾ ਹੈ। ਅਜਿਹੇ ਵਿਸ਼ਵਾਸਾਂ ਨਾਲ, ਇਕ ਪ੍ਰਣਾਲੀ ਨਾਲ ਪਿਆਰ ਕਰਨਾ ਮੈਂ ਇਸ ਨੂੰ ਪਾਪ ਮੰਨਦਾ ਹਾਂ. ਅਤੇ ਮੈਂ ਆਪਣੇ ਆਪ ਨੂੰ ਖੁਸ਼ਕਿਸਮਤ ਸਮਝਦਾ ਹਾਂ ਕਿ ਉਹ ਜੋ ਲਿਖਦਾ ਹੈ ਜੋ ਮੇਰੇ ਵਿਰੁੱਧ ਸਬੂਤ ਵਜੋਂ ਪੇਸ਼ ਕੀਤੇ ਗਏ ਵੱਖੋ ਵੱਖਰੇ ਲੇਖਾਂ ਵਿੱਚ ਲਿਖਦਾ ਹਾਂ.</p>
            <p>ਦਰਅਸਲ, ਮੇਰਾ ਮੰਨਣਾ ਹੈ ਕਿ ਭਾਰਤ ਅਤੇ ਇੰਗਲੈਂਡ ਦੋਵਾਂ ਨੇ ਅਪਰਾਧਕ ਸਥਿਤੀ ਜਿਸ ਵਿਚ ਉਹ ਰਹਿੰਦੇ ਹਨ ਪ੍ਰਤੀ ਅਸਹਿਯੋਗ ਦਾ ਰਸਤਾ ਦਿਖਾ ਕੇ ਉਨ੍ਹਾਂ ਦੀ ਸੇਵਾ ਕੀਤੀ ਹੈ. ਮੇਰੀ ਰਾਏ ਵਿੱਚ, ਬੁਰਾਈ ਨਾਲ ਅਸਹਿਯੋਗ ਕਰਨਾ ਚੰਗੇ ਦਾ ਸਾਥ ਦੇਣ ਨਾਲੋਂ ਵਧੇਰੇ ਜ਼ਰੂਰੀ ਫਰਜ਼ ਹੈ. ਪਰ ਪਿਛਲੇ ਸਮੇਂ ਵਿੱਚ, ਅਸਹਿਯੋਗ ਨੂੰ ਜਾਣਬੁੱਝ ਕੇ ਦੁਸ਼ਟ ਲੋਕਾਂ ਦੁਆਰਾ ਕੀਤੀ ਹਿੰਸਾ ਵਜੋਂ ਦਰਸਾਇਆ ਗਿਆ ਸੀ. ਮੈਂ ਆਪਣੇ ਦੇਸ਼ ਵਾਸੀਆਂ ਨੂੰ ਇਹ ਦਰਸਾਉਣ ਦੀ ਕੋਸ਼ਿਸ਼ ਕਰ ਰਿਹਾ ਹਾਂ ਕਿ ਹਿੰਸਕ ਅਸਹਿਯੋਗ ਸਿਰਫ ਬੁਰਾਈ ਨੂੰ ਵਧਾਉਂਦਾ ਹੈ, ਅਤੇ ਇਹ ਵਿਸ਼ਵਾਸ ਕਰਨ ਲਈ ਕਿ ਬੁਰਾਈ ਸਿਰਫ ਹਿੰਸਾ ਦੁਆਰਾ ਬਰਕਰਾਰ ਰੱਖੀ ਜਾ ਸਕਦੀ ਹੈ, ਬੁਰਾਈ ਲਈ ਸਮਰਥਨ ਵਾਪਸ ਲੈਣਾ ਹਿੰਸਾ ਤੋਂ ਪੂਰੀ ਤਰ੍ਹਾਂ ਵੱਖ ਹੋਣਾ ਹੈ . ਅਹਿੰਸਾ ਬੁਰਾਈ ਨਾਲ ਅਸਹਿਯੋਗ ਦੀ ਸਜ਼ਾ ਲਈ ਸਵੈਇੱਛਤ ਸਮਰਪਣ ਹੈ. ਇਸ ਲਈ, ਮੈਂ ਇੱਥੇ ਭੁਗਤਾਨ ਕਰਨ ਲਈ ਸਭ ਤੋਂ ਵੱਧ ਜ਼ੁਰਮਾਨੇ ਨੂੰ ਖੁਸ਼ੀ ਨਾਲ ਸੱਦਾ ਦੇਣ ਲਈ ਆਇਆ ਹਾਂ, ਜੋ ਕਿ ਕਾਨੂੰਨ ਦੀ ਨਜ਼ਰ ਵਿੱਚ ਜਾਣਬੁੱਝ ਕੇ ਕੀਤਾ ਗਿਆ ਜੁਰਮ ਹੈ, ਅਤੇ ਮੇਰੇ ਲਈ ਇੱਕ ਨਾਗਰਿਕ ਦੀ ਸਭ ਤੋਂ ਉੱਚੀ ਡਿ dutyਟੀ. ਜੱਜ ਅਤੇ ਉਹ ਜਿਹੜੇ ਤੁਹਾਡਾ ਮੁਲਾਂਕਣ ਕਰਦੇ ਹਨ, ਤੁਹਾਡੇ ਸਾਹਮਣੇ ਇਕੋ ਰਸਤਾ ਹੈ ਕਿ ਜੇ ਤੁਸੀਂ ਉਸ ਕਾਨੂੰਨ ਨੂੰ ਮੰਨਦੇ ਹੋ ਜਿਸ ਨੂੰ ਬੁਰਾਈ ਵਿਰੁੱਧ ਵਰਤਣ ਲਈ ਕਿਹਾ ਜਾ ਰਿਹਾ ਹੈ, ਤਾਂ ਤੁਹਾਨੂੰ ਆਪਣੇ ਅਹੁਦਿਆਂ ਤੋਂ ਅਸਤੀਫਾ ਦੇ ਦੇਣਾ ਚਾਹੀਦਾ ਹੈ ਅਤੇ ਇਸ ਤਰੀਕੇ ਨਾਲ ਤੁਸੀਂ ਆਪਣੇ ਆਪ ਹੋ ਜਾਓਗੇ ਇਕ ਪਾਸੇ ਰੱਖੋ ਅਤੇ ਸਵੀਕਾਰ ਕਰੋ ਕਿ ਮੈਂ ਸੱਚਮੁੱਚ ਬੇਕਸੂਰ ਹਾਂ, ਜਾਂ ਜੇ ਤੁਸੀਂ ਉਸ ਕਾਨੂੰਨ ਨੂੰ ਸਵੀਕਾਰ ਕਰਦੇ ਹੋ ਜੋ ਤੁਸੀਂ ਲਾਗੂ ਕਰ ਰਹੇ ਹੋ, ਤਾਂ ਇਸ ਦੇਸ਼ ਦੇ ਲੋਕਾਂ ਲਈ ਸਹੀ ਹੈ ਅਤੇ ਇਸ ਤਰ੍ਹਾਂ ਮੇਰੀ ਗਤੀਵਿਧੀ ਆਮ ਹੈ. ਲੋਕਾਂ ਲਈ ਹਾਨੀਕਾਰਕ ਵਰਣਨ ਕਰੋ ਅਤੇ ਸਖਤ ਸਜ਼ਾ ਦਿਓ.</p>

            <!-- BLOCKQUOTE -->
            <blockquote>
              <cite>ਮਹਾਤਮਾ, ਭਾਗ II, (1951) ਪੀ. 129–33</cite>
              <cite>ਇਹ ਭਾਸ਼ਣ ਮਹਾਤਮਾ ਗਾਂਧੀ ਦੀਆਂ ਚੁਣੀਆਂ ਰਚਨਾਵਾਂ - ਸੰਸਕਰਨ 6 ਤੋਂ ਪ੍ਰਾਪਤ ਕੀਤਾ ਗਿਆ ਹੈ</cite>
              <cite>ਆਵਾਜ਼ ਦੀ ਸੱਚਾਈ ਭਾਗ -1, ਕੁਝ ਪ੍ਰਸਿੱਧ ਭਾਸ਼ਣ ਪੀ. 14-24</cite>
            </blockquote>

            <div class="fb-share-button" data-href="http://sadbhavana.net/mahatma-gandhi-punjabi.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="ਮਹਾਤਮਾ ਗਾਂਧੀ ਅਤੇ ਸ੍ਰੀ ਸ਼ੰਕਰ ਲਾਲ ਗੇਲਾਭਾਈ ਬੈਂਕਰ , ਜਵਾਨ ਭਾਰਤ (ਯੰਗ ਇੰਡੀਆ) ਸੰਪਾਦਕ ਅਤੇ ਪ੍ਰਿੰਟਰ ਅਤੇ ਪ੍ਰਕਾਸ਼ਕ, ਸ਼ਨੀਵਾਰ ਨੂੰ, 18 ਮਾਰਚ,1922, ਨੂੰ ਇਤਿਹਾਸਕ ਮੁਕੱਦਮਾ ਚਲਾਇਆ ਗਿਆ, ਜਿਸ ਵਿਚ ਸ੍ਰੀ ਸੀ.ਐਨ. ਬਰੂਮਫੀਲਡ, ਆਈ ਸੀ ਐਸ. ਜ਼ਿਲ੍ਹਾ ਅਤੇ ਸੈਸ਼ਨ ਜੱਜ ਨੇ ਅਹਿਮਦਾਬਾਦ ਦੇ ਨੇੜੇ ਭਾਰਤੀ ਦੰਦ ਸਾਹਿਤ ਦੀ ਧਾਰਾ 124 ਏ ਦੇ ਤਹਿਤ ਉਸ ਤੇ ਆਰੋਪ ਲਗਾਏ ਗਏ ਸੀ ।...Read more" data-link="https://tinyurl.com/y4eml9s3" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>


            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

								<span class="float-left mt-6 bold hidden-xs-down">
									Share Post: 
								</span>

								<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>

								<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
									<i class="icon-email3"></i>
									<i class="icon-email3"></i>
								</a>

							</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:info@rgfindia.org">info@rgfindia.org</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
