{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Watch</title>
  <meta name="description" content="" />
  {% endblock %}

</head>

<body>

  {% block content %}
  <!-- 
		PAGE HEADER 
				
		CLASSES:
			.page-header-xs	= 20px margins
			.page-header-md	= 50px margins
			.page-header-lg	= 80px margins
			.page-header-xlg= 130px margins
			.dark			= dark page header

			.shadow-before-1 	= shadow 1 header top
			.shadow-after-1 	= shadow 1 header bottom
			.shadow-before-2 	= shadow 2 header top
			.shadow-after-2 	= shadow 2 header bottom
			.shadow-before-3 	= shadow 3 header top
			.shadow-after-3 	= shadow 3 header bottom
		-->
  <section class="page-header page-header-xs">
    <div class="container">

      <h1 class="trn">watch</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">home</a></li>
        <li class="active trn">watch</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->


  <!-- VIDEO -->
  <section>
    <div class="container">

      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item"><a class="nav-link lg active trn" href="#lg" data-toggle="tab">living_gandhians</a></li>
        <li class="nav-item"><a class="nav-link rgci trn" href="#rgci"
            data-toggle="tab">rajiv_gandhi_contribution_to_india</a></li>
        <li class="nav-item" id="playsTab"><a class="nav-link plays trn" href="#plays" data-toggle="tab">plays</a></li>
        <li class="nav-item" id="resourceTab"><a class="nav-link lg trn" href="#resources"
            data-toggle="tab">resource</a></li>
      </ul>
      <br />

      <div class="tab-content">
        <div class="tab-pane active" id="lg">
          <div class="row">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/fRgkBg0V_oU" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Living Gandhians: Interview with Smt Ela Bhatt</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Peace"><span class="font-lato hashtag-color">#Peace</span></a>
                </li>
                <li><a href="search-results.html?tags=RoleModels"><span
                      class="font-lato hashtag-color">#RoleModels</span></a></li>
                <li><a href="search-results.html?tags=LifeLessons"><span
                      class="font-lato hashtag-color">#LifeLessons</span></a></li>
                <li><a href="search-results.html?tags=Video"><span class="font-lato hashtag-color">#Video</span></a>
                </li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
                <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                </li>
                <li><a href="search-results.html?tags=SmtElaBhatt"><span class="font-lato hashtag-color">#SmtElaBhatt</span></a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/fxA0VnfOhTA" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Living Gandhians: Interview with Shri S Loganathan</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Peace"><span class="font-lato hashtag-color">#Peace</span></a>
                </li>
                <li><a href="search-results.html?tags=RoleModels"><span
                      class="font-lato hashtag-color">#RoleModels</span></a></li>
                <li><a href="search-results.html?tags=LifeLessons"><span
                      class="font-lato hashtag-color">#LifeLessons</span></a></li>
                <li><a href="search-results.html?tags=Video"><span class="font-lato hashtag-color">#Video</span></a>
                </li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
                <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                </li>
                <li><a href="search-results.html?tags=ShriSLoganathan"><span class="font-lato hashtag-color">#ShriSLoganathan</span></a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/Yq8ihs-i0Ko" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Living Gandhians: Interview with Shri E P Menon</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Peace"><span class="font-lato hashtag-color">#Peace</span></a>
                </li>
                <li><a href="search-results.html?tags=RoleModels"><span
                      class="font-lato hashtag-color">#RoleModels</span></a></li>
                <li><a href="search-results.html?tags=LifeLessons"><span
                      class="font-lato hashtag-color">#LifeLessons</span></a></li>
                <li><a href="search-results.html?tags=Video"><span class="font-lato hashtag-color">#Video</span></a>
                </li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
                <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                </li>
                <li><a href="search-results.html?tags=ShriEPMenon"><span class="font-lato hashtag-color">#ShriEPMenon</span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/kwpqn2zInik" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Living Gandhians: Interview with Shri Dharampal Saini</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Peace"><span class="font-lato hashtag-color">#Peace</span></a>
                </li>
                <li><a href="search-results.html?tags=RoleModels"><span
                      class="font-lato hashtag-color">#RoleModels</span></a></li>
                <li><a href="search-results.html?tags=LifeLessons"><span
                      class="font-lato hashtag-color">#LifeLessons</span></a></li>
                <li><a href="search-results.html?tags=Video"><span class="font-lato hashtag-color">#Video</span></a>
                </li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
                <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                </li>
                <li><a href="search-results.html?tags=ShriDharampalSaini"><span class="font-lato hashtag-color">#ShriDharampalSaini</span></a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/yhIX1WmsIBw" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Living Gandhians: Interview with Shri Ramchandra Rahi</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Peace"><span class="font-lato hashtag-color">#Peace</span></a>
                </li>
                <li><a href="search-results.html?tags=RoleModels"><span
                      class="font-lato hashtag-color">#RoleModels</span></a></li>
                <li><a href="search-results.html?tags=LifeLessons"><span
                      class="font-lato hashtag-color">#LifeLessons</span></a></li>
                <li><a href="search-results.html?tags=Video"><span class="font-lato hashtag-color">#Video</span></a>
                </li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
                <li><a href="search-results.html?tags=Values"><span class="font-lato hashtag-color">#Values</span></a>
                </li>
                <li><a href="search-results.html?tags=ShriRamchandraRahi"><span class="font-lato hashtag-color">#ShriRamchandraRahi</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="rgci">
          <div class="row static lang-en en">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/hmis7315ukE" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Panchayati Raj</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/I_4S2U72mg4" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Women Reservation</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/Qn5l4hc1bNc" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: National Wasteland Development Board</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
          </div>
          <div class="row static lang-en en">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/HM67UGfttiw" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Introducing IT in Govt</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/B61yKKJFy_4" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Accords-Punjab, Assam, Mizoram</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/8wgaYWVxnNQ" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Jawahar Navodaya Vidyalaya</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
          </div>
          <div class="row static lang-en en">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/Tp4kdvZYJ9M" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Decentralized Government</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/KzrbtmV0kSY" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Telecommunication</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/16k1fYUXz7s" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: KBK Project</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
          </div>
          <div class="row static lang-en en">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/mH_2WsNo1jQ" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Science & Technology</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/68AYe0jmzFc" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Rebuilding relations with China</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/zooFWGhSnoE" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Voting Age from 21 to 18</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
          </div>
          <div class="row static lang-en en">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/FDA8YHtP9d4" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>Rajiv Gandhi: Sadbhavana Yatra</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
          </div>


          <div class="row static lang-hn hn">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/xCQ2xdY2Mpw" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी- पंचायती राज</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/70g-oUO8vYU" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - महिला सशक्तिकरण</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/y8BaUCia7m0" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - राष्ट्रीय बंजर भूमि विकास बोर्ड</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
          </div>
          <div class="row static lang-hn hn">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/qqDmBiyxlrk" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - सूचना प्रौद्योगिकी में योगदान</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/Qku_zYMdGpE" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - 3 राज्यों के समझौते ( पंजाब, असम, मिज़ो)</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/cycy_sGpO3g" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - शिक्षा और जवाहर नवोदय विद्यालय</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
          </div>
          <div class="row static lang-hn hn">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/hMDLr08I3sY" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - उत्तरदायी प्रशासन</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/q0LhH2hDr74" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - दूरसंचार</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/6zk8RI0hBWc" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - KBK परियोजना</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
          </div>
          <div class="row static lang-hn hn">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/uvhZOuen3ec" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - राष्ट्रीय प्रौद्योगिकी मिशन</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/g49wDIG1aik" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - चीन के साथ संबंधों का पुनर्निर्माण</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/jNj7qUF52B8" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - युवा सशक्तिकरण (मतदान की उम्र: 21 से 18)</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
          </div>
          <div class="row static lang-hn hn">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/_a4bIHykJWE" frameborder="0"
                  allowfullscreen></iframe>
              </div>
              <h5>राजीव गांधी - सद्भावना यात्रा</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Sadbhavana"><span
                      class="font-lato hashtag-color">#Sadbhavana</span></a></li>
                <li><a href="search-results.html?tags=Samadhan"><span
                      class="font-lato hashtag-color">#Samadhan</span></a></li>
                <li><a href="search-results.html?tags=LearningtobeBetter"><span
                      class="font-lato hashtag-color">#LearningtobeBetter</span></a></li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
              </ul>
            </div>
          </div>

        </div>

        <div class="tab-pane fade" id="plays">
          <div class="row">
            <div class="col-md-4">
              <!-- VIMEO VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe id="plays1" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
              </div>
              <h5>Dastaan E Gandhi</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
                <li><a href="search-results.html?tags=Learning"><span
                      class="font-lato hashtag-color">#Learning</span></a></li>
                <li><a href="search-results.html?tags=Performance"><span
                      class="font-lato hashtag-color">#Performance</span></a></li>
                <li><a href="search-results.html?tags=Storytelling"><span
                      class="font-lato hashtag-color">#Storytelling</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe id="plays2" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
              </div>
              <h5>Bharat Ek Khoj Part-1</h5>
              <ul class="blog-post-info list-inline">
                <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                <li><a href="search-results.html?tags=Media"><span class="font-lato hashtag-color">#Media</span></a>
                </li>
                <li><a href="search-results.html?tags=Theatre"><span class="font-lato hashtag-color">#Theatre</span></a>
                </li>
                <li><a href="search-results.html?tags=Inspirations"><span
                      class="font-lato hashtag-color">#Inspirations</span></a></li>
                <li><a href="search-results.html?tags=History"><span class="font-lato hashtag-color">#History</span></a>
                </li>
                <li><a href="search-results.html?tags=Resources"><span
                      class="font-lato hashtag-color">#Resources</span></a></li>
                <li><a href="search-results.html?tags=Nehru"><span class="font-lato hashtag-color">#Nehru</span></a>
                </li>
                <li><a href="search-results.html?tags=Learning"><span
                      class="font-lato hashtag-color">#Learning</span></a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <!-- YOUTUBE VIDEO -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe id="plays3" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
              </div>
              <!-- <div class="row static lang-en en"> -->
                <h5 class="static lang-en en">Mohan Se Mahatma: Puppet Show on Gandhi</h5>
                <h5 class="static lang-en en">This is a puppet show on Mahatma Gandhi. Its script was developed by a
                  group of senior Gandhians of Rajasthan and subsequently, some interested faculty from BHU-IIT helped
                  create a movable puppet show kit. The Director and Chief Puppeteer Mithilesh Dubey and his team of six
                  have so far done over 500 shows this year with the support of the Rajiv Gandhi Foundation, covering
                  Uttar Pradesh, Chhhattisgarh, Jharkhand and Bihar.</h5>
              <!-- </div>
              <div class="row static lang-hn hn"> -->
                <h5 class="static lang-hn hn">मोहन से महात्मा - कठपुतली नाटक</h5>
                <h5 class="static lang-hn hn">यह कठपुतली नाटक महात्मा गांधी के जीवन को दर्शाता है। निर्देशक और मुख्य
                  कठपुतली चलाने वाले, मिथिलेश दुबे और उनकी टीम ने इस साल राजीव गांधी फाउंडेशन के सहयोग से उत्तर प्रदेश,
                  छत्तीसगढ़, झारखंड और बिहार में , इस नाटक के 500 से अधिक शो किये हैं।<br /> 150वीं जयंती पर गाँधी जी को
                  हमारा शत शत नमन।</h5>
              <!-- </div>
              <div class="row static lang-pn pn"> -->
                <h5 class="static lang-pn pn">ਮੋਹਨ ਤੋਂ ਮਹਾਤਮਾ - ਕਠਪੁਤਲੀ ਨਾਟਕ</h5>
                <h5 class="static lang-pn pn">ਇਹ ਕਠਪੁਤਲੀ ਨਾਟਕ ਮਹਾਤਮਾ ਗਾਂਧੀ ਦੇ ਜੀਵਨ ਨੂੰ ਦਰਸ਼ਾਉਂਦਾ ਹੈ. ਇਹ ਨਾਟਕ ਰਾਜਸਥਾਨ ਦੇ ਕਈ
                  ਗਾਧੀਵਾਦਕਾਂ ਨੇ ਮਿਲ ਕੇ ਲਿਖਿਆ ਅਤੇ BHU-IIT ਦੇ ਕੁਛ ਵਿਦਿਆਪਕਾਂ ਨੇ ਇਸਨੂੰ ਕਠਪੁਤਲੀ ਨਾਟਕ ਬਣਾਉਣ ਵਿੱਚ ਸਹਾਇਤਾ ਕੀਤੀ।
                  ਨਿਰਦੇਸ਼ਕ ਅਤੇ ਮੁੱਖ ਕਠਪੁਤਲੀ ਚਲਾਉਣ ਵਾਲੇ ਮਿਠੀਲੇਸ਼ ਡੁਬੇ ਅਤੇ ਉਹਨਾਂ ਦੀ ਟੀਮ ਨੇ ਰਾਜੀਵ ਗਾਂਧੀ ਫੌਂਡੇਸ਼ਨ ਦੇ ਸਹਯੋਗ ਨਾਲ
                  ਉੱਤਰ ਪ੍ਰਦੇਸ਼, ਛੱਤੀਸਗਢ਼, ਝਾਰਖੰਡ ਅਤੇ ਬਿਹਾਰ ਵਿੱਚ 500 ਤੋਂ ਵੱਧ ਸ਼ੋ ਕਰੇ ਹਨ. 150ਵੀ ਸਾਲਗਿਰਾ ਤੇ ਗਾਂਧੀ ਜੀ ਨੂੰ ਸਾਡਾ
                  ਸ਼ਤ ਸ਼ਤ ਨਮਨ.</h5>
              <!-- </div> -->
              <ul class="blog-post-info list-inline">
                  <li><a href="#"><span class="fa fa-tag hashtag-color"></span></a></li>
                  <li><a href="search-results.html?tags=PuppetShow"><span class="font-lato hashtag-color">#PuppetShow</span></a>
                  </li>
                  <li><a href="search-results.html?tags=MahatmaGandhi"><span class="font-lato hashtag-color">#MahatmaGandhi</span></a>
                  </li>
                  <li><a href="search-results.html?tags=Creative"><span class="font-lato hashtag-color">#Creative</span></a>
                  </li>
                  <li><a href="search-results.html?tags=Play"><span class="font-lato hashtag-color">#Play</span></a>
                  </li>
                </ul>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="resources">
          <div class="row">
            <div class="col-md-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe id="resources1" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
              </div>
              <h5>Gandhi's Favourite Bhajan ‘Vaishnava Jan to’ Recreated by Artists From 124 Countries</h5>
            </div>

            <div class="col-md-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe id="resources2" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
              </div>
              <h5>Mile Sur Mera Tumhara Doordarshan's Original HD 15th August 1988 YouTube mp4</h5>
            </div>

            <div class="col-md-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe id="resources3" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
              </div>
              <h5>Mahatma Gandhi Arrives in the U.K. (1931) | British Pathé</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe id="resources4" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
              </div>
              <h5>Gandhiji Ke Teen Bandar - Gandhi Jayanti Song | Hindi Rhymes for Children | Infobells</h5>
            </div>

            <div class="col-md-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe id="resources5" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
              </div>
              <h5>राष्ट्रपिता महात्मा | Mahatma Gandhiji | | Hindi Rhymes for Children | Infobells</h5>
            </div>

            <div class="col-md-4">
               <div class="embed-responsive embed-responsive-16by9">
                  <iframe id="resources6" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
               </div>
               <h5>The child who saved Pt. Jawaharlal Nehru’s life</h5>
            </div>

            <div class="col-md-4">
               <div class="embed-responsive embed-responsive-16by9">
                  <iframe id="resources7" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
               </div>
               <h5>Historian Ramchandra Guha on the relationship between Jawaharlal Nehru and Sardar Vallabhbhai Patel</h5>
            </div>

            <div class="col-md-4">
               <div class="embed-responsive embed-responsive-16by9">
                  <iframe id="resources8" width="550" height="315" src="" frameborder="0" allowfullscreen></iframe>
               </div>
               <h5>Nature Is Speaking – Julia Roberts is Mother Nature | Conservation International (CI)</h5>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->

  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <!-- <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script> -->

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <!-- STYLESWITCHER - REMOVE -->
  <!-- <script async src="assets/styleswitcher/styleswitcher.js"></script> -->

  <!-- PAGE LEVEL SCRIPTS -->
  <script type="text/javascript">
    /**
      Checkbox on "I agree" modal Clicked!
    **/
    // jQuery("#terms-agree").click(function () {
    //   jQuery('#termsModal').modal('toggle');

    //   // Check Terms and Conditions checkbox if not already checked!
    //   if (!jQuery("#checked-agree").checked) {
    //     jQuery("input.checked-agree").prop('checked', true);
    //   }

    // });

    $(window).on("load", function () {
      // alert("window.load");
      // console.log("window is loaded");

      $("#resourceTab").on("click", function () {
        // console.log("resource tab clicked!");
        if ($("#resources1").attr("src") == "") {
          $("#resources1").attr("src", 'https://www.youtube.com/embed/HvWologZHCM');
          $("#resources2").attr("src", "https://www.youtube.com/embed/n9uBaYBcFuw");
          $("#resources3").attr("src", "https://www.youtube.com/embed/P6njRwz_dMw");
          $("#resources4").attr("src", "https://www.youtube.com/embed/T0Qv9tZecmI");
          $("#resources5").attr("src", "https://www.youtube.com/embed/mA1dwotTfw4");
          $("#resources6").attr("src", "https://www.youtube.com/embed/EkLg-SE5jGM");
          $("#resources7").attr("src", "https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fnehruvians%2Fvideos%2F552412518532738%2F&show_text=0&width=560");
          $("#resources8").attr("src", "https://www.youtube.com/embed/WmVLcj-XKnM");
        }
      });

      $("#playsTab").on("click", function () {
        if ($("#plays1").attr("src") == "") {
          $("#plays1").attr("src", 'https://www.youtube.com/embed/UpHPTCtG_Rc');
          $("#plays2").attr("src", 'https://www.youtube.com/embed/o4vSElkWV7Y');
          $("#plays3").attr("src", 'https://www.youtube.com/embed/wpiK2TroBk8');
        }
      });

    });
  </script>
  {% endblock %}

</body>

</html>
