{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load i18n %}
    {% load static %}

    {% block meta %}
    <meta charset="utf-8" />
    <title>Sadbhavana - Participate in the Competition</title>
    <meta name="description" content="" />
      <!-- SWIPER SLIDER -->
    <link href="{% static 'assets/plugins/slider.swiper/dist/css/swiper.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Internal CSS -->
    <style>
        label.required::after {
            content: '*';
            color: red;
        }
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            }
    </style>
    <!-- Internal CSS -->
    {% endblock %}
</head>
<body>

{% block content %}
<section class="page-header">
    <div class="container">

        <h1 class="trn">{% trans "Participate in the Competition" %}</h1>
        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
            <li class="active trn">{% trans "Participate in the Competition" %}</li>
        </ol><!-- /breadcrumbs -->

    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div id="participate-video" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title trn" id="competition-title" style="color: black">{% trans "Terms And Conditions" %}</h4>
                    </div>
                    <div class="modal-body" style="color: black">
                      {% if compContent.mediaFormat == 'image' %}
                        <img id="intro" width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{compContent.intro_file}}" />
                      {% elif compContent.mediaFormat == 'video' %}
                        <video width="100%" controls controlsList="nodownload" autoplay preload="auto">
                          <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{compContent.intro_file}}" type="video/mp4">
                        </video>
                      {% else %}

                      {% endif %}

                      <div class="col-md-12 col-sm-12" style="line-height: 2.5;padding: 0;" id="terms" style="display: none;">
                        {% if compContent.body == '' %}
                        <div class="swiper-container" style="box-shadow: none;">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <div class="swiper-zoom-container">
                                <img width="100%" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{compContent.terms_file}}" />
                              </div>
                            </div>
                          </div>
                        {% else %}
                          {{compContent.body|safe}}
                        {% endif %}
                      </div>
                    </div>
                    <div class="modal-footer" style="color: black">
                      <a class="btn btn-default trn" id="close-comp" href="{% url 'home' %}">{% trans "Close" %}</a>
                      <a class="btn btn-primary trn" id="skip-video">{% trans "Proceed" %}</a>
                      <a class="btn btn-primary trn" id="participate-comp" style="display: none;" href="{% url 'apply-for-competition' %}">{% trans "Participate" %}</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
{% endblock %}

{% block includes %}
<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>

<!-- PRELOADER -->
<div id="preloader">
    <div class="inner">
        <span class="loader"></span>
    </div>
</div><!-- /PRELOADER -->


<!-- JAVASCRIPT FILES -->
<script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
<script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

<script src="{% static 'assets/plugins/slider.swiper/dist/js/swiper.min.js' %}"></script>

<script src="{% static 'assets/js/scripts.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/login-register.js' %}"></script>

<!-- TRASLATIONS -->
<script src="{% static 'assets/js/jquery.translate.js' %}"></script>
<script src="{% static 'assets/languages/translations.js' %}"></script>
<script src="{% static 'assets/js/translater.js' %}"></script>

<script type="text/javascript">
$(window).on('load',function(){
    $('#participate-video').modal('show');
    $("#terms").css('display','none');
    $("#competition-title").css('display','none');
    $("#participate-comp").css('display','none');
    $("#close-comp").css('display','none');

});

$("#skip-video").click(function(){
    $("video").remove();
    $("#intro").remove();
    $("#terms").css('display','block');
    $("#competition-title").css('display','block');
    $("#skip-video").css('display','none');
    $("#participate-comp").css('display','block');
    $("#close-comp").css('display','block');
});
</script>
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
    zoom: true,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
{% endblock %}
</body>

</html>