{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load i18n %}
  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Engage</title>
  <meta name="description" content="" />
  {% endblock %}

</head>

<body>

  {% block content %}

  <section class="page-header page-header-xs">
    <div class="container">

      <h1 class="trn">{% trans "Engage" %}</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <!-- <li><a href="#">Pages</a></li> -->
        <li class="active trn">{% trans "Engage" %}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->

  <!-- -->
  <section>
    <div class="container">

      <div class="row">

        <h3>{% trans "Forum coming soon!" %}</h3>

      </div>

    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script>
    /**
      Checkbox on "I agree" modal Clicked!
    **/
    jQuery("#terms-agree").click(function () {
      jQuery('#termsModal').modal('toggle');

      // Check Terms and Conditions checkbox if not already checked!
      if (!jQuery("#checked-agree").checked) {
        jQuery("input.checked-agree").prop('checked', true);
      }

    });
  </script>
  {% endblock %}

</body>

</html>