{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Search Results</title>
  <meta name="description" content="" />
  {% endblock %}

</head>

<body class="smoothscroll enable-animation">

  {% block content %}

  <section class="page-header">
    <div class="container">

      <h1 class="trn">{% trans "Search Results" %}</h1>

      <!-- breadcrumbs -->
      <ol class="breadcrumb">
        <li><a href="{% url 'home' %}" class="trn">{% trans "Home" %}</a></li>
        <li class="active trn">{% trans "Search Results" %}</li>
      </ol><!-- /breadcrumbs -->

    </div>
  </section>
  <!-- /PAGE HEADER -->

  <!-- -->
  <section>
    <div class="container">
      <!-- SEARCH RESULTS -->

      {% if not searchResults|length %}
        <h3>{% trans "No Results Found!" %}</h3>
      {% endif %}

      {% for result in searchResults %}

      {% if result.category_id == 1 %}
        {% if result.sub_category_id == 1 %}

          {% if result.content_type == 'Text' %}
            <div class="clearfix search-result">
              <h4 class="mb-0">
                <a href="{{baseURL}}/content/read/speech/{{result.language_locale_id}}">{{result.title}}</a>
              </h4>
              <p>{{result.summary}}</p>
            </div><!-- /item -->

          {% elif result.content_type == 'Audio' %}

            <div class="blog-post-item">
              <h2>{{result.title}}</h2>
              <iframe src="{{result.iframe_url}}" width="500" height="140" frameborder="0"
                webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
            </div>

          {% endif %}


        {% elif result.sub_category_id == 2 %}
          <div class="clearfix search-result">
            <!-- item -->
            <h4 class="mb-0">
              <a href="{{baseURL}}/content/read/biography/{{result.language_locale_id}}">
                {{result.title}}
                {% if result.thumbnail_file.url|length > 0 %}
                  <img src="https://rgf-bucket.s3.amazonaws.com/{{result.thumbnail_file}}" height="60" />
                {% endif %}
              </a>
            </h4>
            <small class="text-muted">{% trans "Read" %} / {% trans "Biography" %}</small>
        </div><!-- /item -->

        {% elif result.sub_category_id == 3 %}

          {% if result.content_type == 'Image' %}
          <div class="clearfix search-result">
            <a href="{{baseURL}}/content/read/books/{{result.language_locale_id}}">
              <figure class="mb-20">
                  {% if result.thumbnail_file.url|length > 0 %}
                    <img height="60" src="https://rgf-bucket.s3.amazonaws.com/{{result.thumbnail_file}}"
                  alt="service" />
                  {% endif %}
              </figure>
              <h4 class="mb-0">{{result.title}}</h4>
            </a>
          </div><!-- /item -->
          {% elif result.content_type == 'PDF' %}
          <div class="clearfix search-result">
            {% if result.document_file.url|length > 0 %}
              <a href="{{result.document_file.url}}" target="_blank"> <!--book.document_file-->
            {% else %}
              <a href="#" target="_blank"> <!--book.document_file-->
            {% endif %}
              <figure class="mb-20">
                {% if result.thumbnail_file.url|length > 0 %}
                  <img height="60" src="https://rgf-bucket.s3.amazonaws.com/{{result.thumbnail_file}}"
                  alt="service" />
                  {% endif %}
              </figure>
              <h4 class="mb-0">{{result.title}}</h4>
            </a>
          </div><!-- /item -->
          {% else %}
          <div class="clearfix search-result">
            <a href="read/books/{{result.language_locale_id}}">
              <figure class="mb-20">
                {% if result.thumbnail_file.url|length > 0 %}
                <img height="60" src="https://rgf-bucket.s3.amazonaws.com/{{result.thumbnail_file}}"
                  alt="service" />
                {% endif %}
              </figure>
              <h4 class="mb-0">{{result.title}}</h4>
            </a>
          </div><!-- /item -->
          {% endif %}


        {% else %}

          <div class="clearfix search-result">
            <!-- item -->
            <h4 class="mb-0">
              <a href="{{result.redirect_url}}"
                target="_blank">
                {{result.title}}
                <img src="{{result.thumbnail_url}}" alt="" height="60" />
              </a></h4>
            <small class="text-muted">{% trans "Read" %} / {% trans "Resource" %}</small>
          </div><!-- /item -->

        {% endif %}

      {% else %}
        <div class="row clearfix search-result">
          <div class="col-md-4">
            <!-- VIMEO VIDEO -->
            {% if result.meta_type == 'Link' %}
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="550" height="315" src="{{result.iframe_url}}" frameborder="0"
                allowfullscreen></iframe>
            </div>
            {% else %}
            <video width="100%" controls>
              <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/{{result.document_file}}" type="video/mp4">
            </video>
            {% endif %}
            <h5>{{result.title}}</h5>
          </div>
          <div class="col-md-8">
            <p>{{result.summary}}</p>
          </div>
        </div>
      {% endif %}

      {% endfor %}
      <!-- /SEARCH RESULTS -->

    </div>
  </section>
  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>

  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script>

    /**
      Checkbox on "I agree" modal Clicked!
    **/
    jQuery("#terms-agree").click(function () {
      jQuery('#termsModal').modal('toggle');

      // Check Terms and Conditions checkbox if not already checked!
      if (!jQuery("#checked-agree").checked) {
        jQuery("input.checked-agree").prop('checked', true);
      }

    });

  </script>

  {% endblock %}

</body>

</html>

