<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Significance of Langar</title>
  <meta name="description" content="" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
										<a class="dropdown-toggle noicon" href="#">
										  <b class="blinkText">GAMES</b>
										</a>
									  </li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1>ਲੰਗਰ ਦਾ ਮਹੱਤਵ</h1>
        <!-- <ul class="blog-post-info list-inline">
					<li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
					<li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
					<li><a href="search-results.html?tags=Inspirations"><span class="font-lato btn-outline-warning">#Inspirations</span></a></li>
					<li><a href="search-results.html?tags=InTheirFootsteps"><span class="font-lato btn-outline-warning">#InTheirFootsteps</span></a></li>
					<li><a href="search-results.html?tags=Samadhan"><span class="font-lato btn-outline-warning">#Samadhan</span></a></li>
					<li><a href="search-results.html?tags=Sadbhavana"><span class="font-lato btn-outline-warning">#Sadbhavana</span></a></li>
					<li><a href="search-results.html?tags=Values"><span class="font-lato btn-outline-warning">#Values</span></a></li>
					<li><a href="search-results.html?tags=LifeLessons"><span class="font-lato btn-outline-warning">#LifeLessons</span></a></li>
				</ul> -->

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਲੰਗਰ ਦਾ ਮਹੱਤਵ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <figure class="mb-20">
              <img class="img-fluid" src="{% static 'assets/books/langar.jpg' %}"
                alt="service" />
            </figure>
            <h5>ਸਾਹਿਬਪ੍ਰੀਤ ਕੌਰ ਦੁਆਰਾ</h5>
            <p>ਲੰਗਰ ਇਕ ਐਸੀ ਪਰੰਪਰਾ ਹੈ, ਜਿਸ ਵਿੱਚ ਕਿਸੇ ਵੀ ਵਰਗ, ਜਾਤੀ ਜਾਂ ਖੇਤਰ ਦੇ ਲੋਕ ਇਕੱਠੇ ਬੈਠ ਕੇ ਖਾਣੇ ਦਾ ਅਨੰਦ ਲੈ ਸਕਦੇ ਹਨ। ਕਿਸੇ ਨਾਲ ਵੀ ਭੇਦਭਾਵ ਨਹੀਂ ਕੀਤਾ ਜਾਂਦਾ ਅਤੇ ਸਬ ਇੱਕੋਂ ਥਾਂ ਤੇ ਬੈਠਦੇ ਹਨ ਨਾਲੇ ਇੱਕੋਂ ਜਿਹਾ ਲੰਗਰ ਛਕਦੇ ਹਨ। ਸਿੱਖ ਧਰਮ ਵਿਸ਼ਵ ਭਰ ਵਿਚ ਲੰਗਰ ਦੀ ਆਪਣੀ ਪਰੰਪਰਾ ਲਈ ਜਾਣਿਆ ਜਾਂਦਾ ਹੈ।  ਗੁਰਦਵਾਰਿਆਂ ਵਿਚ 2 ਜਾ 3 ਵਾਰ ਹਰ ਰੋਜ਼ ਲੰਗਰ ਵਰਤਿਆ ਜਾਉਂਦਾ ਹੈ। ਤਿਓਹਾਰਾਂ ਅਤੇ ਗੁਰੂਪੁਰਾਬ ਤੇ ਗਰੀਬਾਂ ਅਤੇ ਲੋੜਵੰਦਾਂ ਲਈ ਹਜ਼ਾਰੋਂ  ਲੰਗਰ ਸਟਾਲ ਲਗਾਏ ਜਾਂਦੇ ਹਨ।</p>
            <p>ਲੰਗਰ ਦੀ ਪਰੰਪਰਾ ਸਦੀਆਂ ਪੁਰਾਣੀ ਹੈ। ਸਿਖਾਂ ਵਿੱਚ ਇਹ ਪਰੰਪਰਾ ਗੁਰੂ ਨਾਨਕ ਦੇਵ ਜੀ ਦ੍ਵਾਰਾ ਸ਼ੁਰੂ ਕੀਤੀ ਗਈ ਸੀ। ਗੁਰੂ ਨਾਨਕ ਦੇਵ ਜੀ ਦੇ ਪਿਤਾ ਮਹਿਤਾ ਕਾਲੂ ਚਾਹੁੰਦੇ ਸਨ ਕਿ ਉਨ੍ਹਾਂ ਦਾ ਬੇਟਾ ਇੱਕ ਛੋਟੀ ਉਮਰ ਤੋਂ ਹੀ ਕਾਰੋਬਾਰ ਦੀ ਕਲਾ ਅਤੇ ਮੁਨਾਫ਼ਾ ਕਮਾਉਣ ਦੀ ਕਲਾ ਸਿੱਖੇ।  ਇਕ ਦਿਨ, ਉਹਨਾਂ ਨੇ 12 ਸਾਲ ਦੇ ਨਾਨਕ ਨੂੰ  20 ਰੁਪਏ ਦੀ ਰਕਮ ਦਿੱਤੀ ਅਤੇ ਆਖਿਆ ਕਿ ਨਾਨਕ ਇਸ ਰਕਮ ਦਾ ਚੰਗਾ ਸੌਦਾ ਕਰਨ ਅਤੇ ਕੁਝ ਲਾਭ ਦੇ ਨਾਲ ਹੀ ਘਰ ਵਾਪਸ ਆਵਣ। ਨਾਨਕ ਆਪਣੀ ਰਾਹ ਵਿਚ ਕੁਛ ਸਾਧੂਆਂ ਨੂੰ ਮਿਲੇ ਜਿਨ੍ਹਾਂ ਨੇ ਕਈ ਦਿਨਾਂ ਤੋਂ ਭੋਜਨ ਨਹੀਂ ਛਕਿਆ ਸੀ। ਉਸੀ ਵਿਖੇ ਗੁਰੂ ਨਾਨਕ ਨੇ ਨਾਲ ਹੀ ਇੱਕ ਦੁਕਾਨ ਤੋਂ ਕੁਛ ਭੋਜਨ ਖਰੀਦਿਆ ਅਤੇ ਸਾਧੂਆਂ ਨੂੰ ਭੋਜਨ ਕਰਵਾਇਆ। ਜਦੋ ਗੁਰੂ ਜੀ ਘਰ ਪਹੁੰਚੇ, ਓਹਨਾ ਦੇ ਪਿਤਾ ਕਾਫੀ ਨਾਰਾਜ਼ ਹੋਏ।  12 ਸਾਲਾਂ ਗੁਰੂ ਨਾਨਕ ਨੇ ਆਖਿਆ ਕਿ ਓਹਨਾ ਨੇ ਉਸ 20 ਰੁਪਏ ਦੀ ਰਕਮ ਦਾ ਸੱਚਾ ਸੌਦਾ ਕਰਿਆ ਅਤੇ ਇਹੋ ਜਿਹੀ ਨਿਰਸਵਾਰਥ ਸੇਵਾ ਨੇ ਹੀ ਅਸਲ ਮੁਨਾਫਾ ਹੈ।</p>
            <p>ਉਹ ਸਮੇ ਦਾ ਸਮਾਜ ਜਾਤੀ ਭੇਦ ਭਾਵ ਨਾਲ ਜੂਝ ਰਿਹਾ ਸੀ। ਗੁਰੂ ਨਾਨਕ ਦੇ ਇਸ ਕਾਰਜ ਨੇ ਬਰਾਬਰੀ ਦੀ ਜਗ੍ਹਾ ਬਣਾਈ ਜਿੱਥੇ ਕੋਈ ਵੀ ਵਿਅਕਤੀ, ਜਾਤ ਜਾ ਵਰਗ ਦੀ ਪਰਵਾਹ ਕੀਤੇ ਬਿਨਾਂ ਇਕੱਠੇ ਬੈਠ ਕੇ ਭੋਜਨ ਕਰ ਸਕਦਾ ਸੀ।</p>
            <p>ਸਮਾਨਤਾ, ਭਰੱਪਣ ਅਤੇ ਸੇਵਾ ਦੀਆਂ ਕਦਰਾਂ ਕੀਮਤਾਂ ਨਾਲ ਲੰਗਰ ਤਿਆਰ ਕੀਤਾ ਜਾਂਦਾ ਹੈ। ਪਕਵਾਨਾ ਸੇਵਾਦਾਰਾਂ ਦੁਆਰਾ ਤਿਆਰ ਕੀਤਾ ਜਾਂਦਾ ਹੈ ਅਤੇ ਪਰੋਸਿਆ ਜਾਂਦਾ ਹੈ ਅਤੇ ਜਿਸ ਬਰਤਨ ਵਿਚ ਖਾਣਾ ਖਾਧਾ ਜਾਂਦਾ ਹੈ, ਉਹ ਜਾਂ ਤਾਂ ਸੇਵਾਦਾਰ ਜਾਂ ਭੋਜਨ ਕਰਨ  ਵਾਲਿਆਂ ਦੁਆਰਾ ਹੀ ਸਾਫ਼ ਕੀਤੇ ਜਾਂਦੇ ਹਨ। ਕੋਈ ਵੀ ਸੇਵਾਦਾਰ ਬਣ ਸਕਦਾ ਹੈ, ਅਤੇ ਮਨੁੱਖੀ ਕੰਮਾਂ ਲਈ ਮਹੱਤਵਪੂਰਣ ਸੇਵਾ ਕਰਨ ਵਾਲਾ ਇਹ ਕਾਰਜ ਕਰ ਸਕਦਾ ਹੈ। ਹਰ ਕੋਈ ਇਕ ਕਮਿਊਨਟੀ ਦਾ ਹਿੱਸਾ ਬਣ ਜਾਂਦਾ ਹੈ ਅਤੇ 'ਮੈਂ' ਅਤੇ 'ਮੈਂ' ਦੀ ਅਹੰਕਾਰੀ ਭਾਵਨਾ ਭੁੱਲ ਜਾਂਦਾ ਹੈ।</p>
            <p>ਅੰਮ੍ਰਿਤਸਰ ਵਿਖੇ ਹਰਿਮੰਦਰ ਸਾਹਿਬ ਜੋ ਕਿ ਦੁਨੀਆਂ ਦਾ ਸਭ ਤੋਂ ਮਸ਼ਹੂਰ ਗੁਰਦੁਆਰਾ ਹੈ ਹਰ ਰੋਜ਼ ਲਗਭਗ 40,000-80,000 ਲੋਕਾਂ ਲਈ ਲੰਗਰ ਦੀ ਸੇਵਾ ਕਰਦਾ ਹੈ, ਜਿਸ ਦੀ ਗਿਣਤੀ ਹਫਤੇ ਦੇ ਅੰਤ ਵਿਚ ਦੁਗਣੀ ਹੋ ਜਾਂਦੀ ਹੈ।</p>
            <p>ਲੰਗਰ  ਸਿਰਫ ਗੁਰਦੁਆਰੇ ਹੀ ਨਹੀਂ  ਵਰਤਾਏ ਜਾਂਦੇ ਹਨ ਬਲਕਿ ਗੁਰੂ ਨਾਨਕ ਦੇਵ ਜੀ ਦੇ ਬਰਾਬਰਤਾ ਅਤੇ ਸੇਵਾ ਦੀਆਂ ਕਦਰਾਂ ਕੀਮਤਾਂ ਗੁਰਦੁਆਰਿਆਂ ਦੇ ਬਾਹਰ ਵੀ ਲੋੜ ਵਾਲੀਆਂ ਥਾਵਾਂ ਤੇ ਲਿਜਾਈ ਜਾਂਦੀ ਹੈ। ਬਹੁਤ ਸਾਰੇ ਲੋਕ ਜ਼ਰੂਰਤਮੰਦਿਆਂ  ਦੀ ਸੇਵਾ ਲਈ ਹਸਪਤਾਲਾਂ ਦੇ ਬਾਹਰ ਲੰਗਰ ਸਟਾਲ ਲਗਾਉਂਦੇ ਹਨ। ਦਿੱਲੀ ਲੰਗਰ ਸੇਵਾ ਸੁਸਾਇਟੀ ਬੇਘਰ ਪਨਾਹਘਰਾਂ ਦੇ ਬਾਹਰ ਵੀ ਲੰਗਰ ਦੀ ਸੇਵਾ ਕਰਦੀ ਹੈ। ਉਹ ਛੋਟੀ ਬੱਸਾਂ ਵਿਚ ਖਾਣਾ ਅਤੇ ਬਰਤਨ ਲੈ ਕੇ ਜਾਂਦੇ ਹਨ ਅਤੇ ਰੈਣ ਬਸੇਰੇਆਂ ਦੇ ਬਾਹਰ ਉਨ੍ਹਾਂ ਬੇਘਰਾਂ ਦੀ ਸੇਵਾ ਕਰਦੇ ਹਨ ਜੋ ਉਥੇ ਪਨਾਹ ਲੈਂਦੇ ਹਨ। ਖਾਲਸਾ ਏਡ, ਇੱਕ ਯੂਕੇ ਅਧਾਰਤ ਸੰਸਥਾ ਬਿਪਤਾ ਦੇ ਸਮੇਂ ਲੰਗਰ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ ਮਸ਼ਹੂਰ ਹੈ। ਕੇਰਲ ਹੜ੍ਹਾਂ, ਓਡੀਸ਼ਾ ਸੈਕਲੋਣ, ਇੰਡੋਨੇਸ਼ੀਆ ਦੇ ਸੁਨਾਮੀ ਪ੍ਰਭਾਵਿਤ ਹਿੱਸਿਆਂ ਜਾਂ ਸੀਰੀਆ ਵਿੱਚ ਮਾਨਵਤਾਵਾਦੀ ਸੰਕਟ ਹੋਣ, ਖਾਲਸ ਏਡ ਦੁੱਖਾਂ ਵਿੱਚ ਫਸੇ ਲੋਕਾਂ ਨੂੰ ਤਾਜ਼ਾ ਭੋਜਨ ਮੁਹੱਈਆ ਕਰਾਉਣ ਲਈ, ਬਹੁਤ ਸਾਰੀਆਂ ਤਬਾਹੀ ਪ੍ਰਭਾਵਿਤ ਥਾਵਾਂ ਤੇ ਪਹੁੰਚ ਜਾਂਦੇ ਹਨ। ਦੁਨੀਆ ਭਰ ਵਿੱਚ ਅਜਿਹੀਆਂ ਕਈ ਸੰਸਥਾਵਾਂ ਹਨ ਜੋ 2030 ਤੱਕ ਜ਼ੀਰੋ ਭੁੱਖ ਦੇ ਸਸਟੈਨਬਲ ਡਿਵੈਲਪਮੈਂਟ ਗੋਲਸ ਲਈ ਯੋਗਦਾਨ ਪਾ ਰਹੀਆਂ ਹਨ।</p>

            <!-- article content end -->

            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:info@rgfindia.org">info@rgfindia.org</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

</body>

</html>
