<div class="mfp-content">
<div class="lightbox-ajax">

	<h4>The darkest night will end (poem)</h4>
	<div class="lightbox-ajax-body">

		<p>
            <b>The darkest night will end<br>
            Even the darkest night will end,<br>
            And the sun will rise again,<br>
            For times like these, for trials on end,<br>
            Or nothing more than a turn, a bend!</b>
        </p>
        <p>
            <b>Times like these are revealing,<br>
            Times like these are rare,<br>
            Hold on, hold on with perseverance,<br>
            With the strength of spirit, with care!</b>
        </p>
        <p>
            <b>Keep going, keep moving, one day at a time,<br>
            With faith that endures,<br>
            With joy that overflows,<br>
            With the peace that prevails and is sublime!</b>
        </p>
        <p>
            <b>Try to figure out what moves you,<br>
            What encourages your soul,<br>
            What you deeply crave from life,<br>
            What would chase you, towards your goals!</b>
        </p>
        <p>
            <b>Find the love that makes you softer,<br>
            Rekindle that fire within,<br>
            The spark that was always lurking within you,<br>
            Away from all the chaos, the din!</b>
        </p>

        <p>
            <b>Coz the best versions of ourselves,<br>
            Don't reveal when everything is fine,<br>
            They appear in the midst of trials,<br>
            They are a part of Gods design!</b>
        </p>
        <p>
            <b>It is now that our real essence is seen,<br>
            The person we always meant to be,<br>
           A person who was there all along,<br>
           But didn't have the eyes' to see!</b>
        </p>
        <p>
            <b>I know that we will find sunshine,<br>
            After this whirlwind of dark and rain,<br>
            Coz if winter has the courage, to turn to spring,<br>
            Who says, we can't bloom just the same!</b>
        </p>

	</div>

<button title="Close" type="button" class="mfp-close">×</button></div></div>