<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - ਕਿਸਮਤ ਨਾਲ ਕੋਸ਼ਿਸ਼ ਕਰੋ - ਜਵਾਹਰ ਲਾਲ ਨੇਹਰੂ</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/007/medium/Nehru_inc.jpg?1505455906" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
									<a class="dropdown-toggle noicon" href="#">
										<b class="blinkText">GAMES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1 class="trn">ਕਿਸਮਤ ਨਾਲ ਕੋਸ਼ਿਸ਼ ਕਰੋ - ਜਵਾਹਰ ਲਾਲ ਨੇਹਰੂ</h1>
        <ul class="blog-post-info list-inline">
          <li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
          <li><a href="search-results.html?tags=Independence"><span class="font-lato btn-outline-warning">#Independence</span></a></li>
          <li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
          <li><a href="search-results.html?tags=Speech"><span class="font-lato btn-outline-warning">#Speech</span></a></li>
          <li><a href="search-results.html?tags=Resources"><span class="font-lato btn-outline-warning">#Resources</span></a></li>
          <li><a href="search-results.html?tags=Text"><span class="font-lato btn-outline-warning">#Text</span></a></li>
          <li><a href="search-results.html?tags=GreatSpeeches"><span class="font-lato btn-outline-warning">#GreatSpeeches</span></a></li>
          <li><a href="search-results.html?tags=NehruvianDream"><span class="font-lato btn-outline-warning">#NehruvianDream</span></a></li>
        </ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">ਕਿਸਮਤ ਨਾਲ ਕੋਸ਼ਿਸ਼ ਕਰੋ - ਜਵਾਹਰ ਲਾਲ ਨੇਹਰੂ</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <h3>ਅੱਧੀ ਰਾਤ ਤੋਂ ਪਹਿਲਾਂ (14 ਅਗਸਤ, 1947)</h3>
            <p>ਬਹੁਤ ਸਾਲ ਪਹਿਲਾਂ, ਅਸੀਂ ਕਿਸਮਤ ਨਾਲ ਇਕ ਵਾਅਦਾ ਕੀਤਾ ਸੀ, ਅਤੇ ਹੁਣ ਸਮਾਂ ਆ ਗਿਆ ਹੈ ਕਿ ਅਸੀਂ ਆਪਣੇ ਵਾਅਦੇ ਨੂੰ ਪੂਰਾ ਕਰੀਏ, ਇਸ ਨੂੰ ਬਹੁਤ ਹੱਦ ਤਕ ਪੂਰਾ ਕਰਾਂਗੇ, ਪੂਰੀ ਤਰ੍ਹਾਂ ਨਹੀਂ. ਅੱਧੀ ਰਾਤ ਦੇ ਸਟਰੋਕ ਤੇ, ਜਦੋਂ ਵਿਸ਼ਵ ਸੌਂ ਰਿਹਾ ਹੈ, ਭਾਰਤ ਜੀਵਨ ਅਤੇ ਆਜ਼ਾਦੀ ਲਈ ਜਾਗ ਜਾਵੇਗਾ. ਅਜਿਹਾ ਪਲ ਆ ਜਾਂਦਾ ਹੈ, ਪਰ ਇਤਿਹਾਸ ਵਿਚ ਸ਼ਾਇਦ ਹੀ ਕਦੇ ਆਉਂਦਾ ਹੈ, ਜਦੋਂ ਅਸੀਂ ਪੁਰਾਣੇ ਤੋਂ ਨਵੇਂ ਯੁੱਗ ਵਿਚ ਪੈ ਜਾਂਦੇ ਹਾਂ, ਜਦੋਂ ਇਕ ਯੁੱਗ ਦਾ ਅੰਤ ਹੁੰਦਾ ਹੈ, ਜਦੋਂ ਕਿਸੇ ਦੇਸ਼ ਦੀ ਲੰਬੇ-ਦੱਬੇ ਆਤਮਾ ਨੂੰ ਮੁਕਤ ਕੀਤਾ ਜਾਂਦਾ ਹੈ. ਇਹ ਇਤਫ਼ਾਕ ਹੈ ਕਿ ਇਸ ਪਵਿੱਤਰ ਮੌਕੇ 'ਤੇ ਅਸੀਂ ਭਾਰਤ ਅਤੇ ਇਸ ਦੇ ਲੋਕਾਂ ਦੀ ਅਤੇ ਸਭ ਤੋਂ ਵੱਧ ਮਨੁੱਖਤਾ ਦੀ ਸੇਵਾ ਲਈ ਸਮਰਪਿਤ ਹੋਣ ਦਾ ਵਾਅਦਾ ਕਰ ਰਹੇ ਹਾਂ।.</p>
            <p>ਇਤਿਹਾਸ ਦੀ ਸ਼ੁਰੂਆਤ ਤੋਂ ਹੀ, ਭਾਰਤ ਨੇ ਆਪਣੀ ਬੇਅੰਤ ਖੋਜ ਦੀ ਸ਼ੁਰੂਆਤ ਕੀਤੀ, ਅਤੇ ਅਣਗਿਣਤ ਸਦੀਆਂ ਇਸ ਦੇ ਸੰਘਰਸ਼ਾਂ ਅਤੇ ਆਪਣੀਆਂ ਸ਼ਾਨਦਾਰ ਸਫਲਤਾਵਾਂ, ਅਤੇ ਇਸ ਦੀਆਂ ਅਸਫਲਤਾਵਾਂ ਨਾਲ ਭਰੀਆਂ ਹਨ. ਚੰਗੇ ਅਤੇ ਮਾੜੇ ਦੋਵਾਂ ਸਮੇਂ, ਭਾਰਤ ਨੇ ਆਪਣੀ ਖੋਜ ਨੂੰ ਕਦੇ ਨਹੀਂ ਭੁੱਲਿਆ ਅਤੇ ਨਾ ਹੀ ਉਨ੍ਹਾਂ ਆਦਰਸ਼ਾਂ ਨੂੰ ਭੁੱਲਿਆ ਜਿਸ ਨੇ ਇਸ ਨੂੰ ਤਾਕਤ ਦਿੱਤੀ. ਅੱਜ ਸਾਡੀ ਬਦਕਿਸਮਤੀ ਦਾ ਦੌਰ ਖ਼ਤਮ ਹੋ ਗਿਆ ਹੈ ਅਤੇ ਭਾਰਤ ਆਪਣੀ ਖੋਜ ਦੁਬਾਰਾ ਲੱਭੇਗਾ। ਪ੍ਰਾਪਤੀ ਜਿਸ ਦਾ ਅਸੀਂ ਅੱਜ ਜਸ਼ਨ ਮਨਾ ਰਹੇ ਹਾਂ ਸਿਰਫ ਇਕ ਕਦਮ ਹੈ, ਮੌਕੇ ਖੁੱਲੇ, ਵੱਡੀਆਂ ਜਿੱਤਾਂ ਅਤੇ ਪ੍ਰਾਪਤੀਆਂ ਸਾਡੇ ਲਈ ਇੰਤਜ਼ਾਰ ਕਰ ਰਹੀਆਂ ਹਨ. ਕੀ ਅਸੀਂ ਇਸ ਅਵਸਰ ਨੂੰ ਸਮਝਣ ਅਤੇ ਭਵਿੱਖ ਦੀ ਚੁਣੌਤੀ ਨੂੰ ਸਵੀਕਾਰ ਕਰਨ ਲਈ ਇੰਨੇ ਸ਼ਕਤੀਸ਼ਾਲੀ ਅਤੇ ਬੁੱਧੀਮਾਨ ਹਾਂ?</p>
            <p>सਆਜ਼ਾਦੀ ਅਤੇ ਸ਼ਾਸਨ ਵੀ ਜ਼ਿੰਮੇਵਾਰੀ ਲਿਆਉਂਦਾ ਹੈ. ਇਹ ਜ਼ਿੰਮੇਵਾਰੀ ਇਸ ਅਸੈਂਬਲੀ 'ਤੇ ਨਿਰਭਰ ਕਰਦੀ ਹੈ, ਇਕ ਪ੍ਰਭੂਸੱਤਾ ਸੰਸਥਾ ਜੋ ਕਿ ਭਾਰਤ ਦੇ ਪ੍ਰਭੂਸੱਤਾ ਲੋਕਾਂ ਦੀ ਨੁਮਾਇੰਦਗੀ ਕਰਦੀ ਹੈ. ਆਜ਼ਾਦੀ ਦੇ ਜਨਮ ਤੋਂ ਪਹਿਲਾਂ, ਅਸੀਂ ਕਿਰਤ ਦੇ ਸਾਰੇ ਦੁੱਖ ਨੂੰ ਸਹਿ ਚੁੱਕੇ ਹਾਂ ਅਤੇ ਸਾਡੇ ਦਿਲ ਇਸ ਦੁੱਖ ਦੀਆਂ ਯਾਦਾਂ ਨਾਲ ਭਰੇ ਹੋਏ ਹਨ. ਉਨ੍ਹਾਂ ਵਿੱਚੋਂ ਕੁਝ ਦਰਦ ਅਜੇ ਵੀ ਜਾਰੀ ਹੈ. ਫਿਰ ਵੀ, ਅਤੀਤ ਖਤਮ ਹੋ ਗਿਆ ਹੈ ਅਤੇ ਹੁਣ ਇਹ ਭਵਿੱਖ ਹੈ ਜੋ ਸਾਡੇ ਵੱਲ ਵੇਖ ਰਿਹਾ ਹੈ.</p>
            <p>ਇਹ ਭਵਿੱਖ ਆਰਾਮ ਕਰਨ ਜਾਂ ਸ਼ਾਂਤੀ ਨਾਲ ਬੈਠਣ ਬਾਰੇ ਨਹੀਂ ਹੈ, ਬਲਕਿ ਨਿਰੰਤਰ ਯਤਨ ਕਰਨ ਲਈ ਹੈ ਤਾਂ ਜੋ ਵਾਅਦਾ ਜੋ ਅਸੀਂ ਵਾਰ ਵਾਰ ਕੀਤਾ ਹੈ, ਜੋ ਕਿ ਇਕ ਵਾਰ ਫਿਰ ਉਸੇ ਵਾਅਦੇ ਨੂੰ ਪੂਰਾ ਕਰੇਗਾ, ਪੂਰਾ ਕੀਤਾ ਜਾ ਸਕਦਾ ਹੈ. ਭਾਰਤ ਦੀ ਸੇਵਾ ਦਾ ਅਰਥ ਹੈ ਲੱਖਾਂ ਦੁਖੀ ਲੋਕਾਂ ਦੀ ਸੇਵਾ. ਇਸਦਾ ਅਰਥ ਹੈ ਗਰੀਬੀ, ਅਣਦੇਖੀ, ਬਿਮਾਰੀ ਅਤੇ ਮੌਕਿਆਂ ਦੀ ਅਸਮਾਨਤਾ ਨੂੰ ਖਤਮ ਕਰਨਾ. ਸਾਡੀ ਪੀੜ੍ਹੀ ਦੇ ਮਹਾਨ ਮਨੁੱਖ ਦੀ ਲਾਲਸਾ ਹਰ ਅੱਖ ਤੋਂ ਹੰਝੂ ਪੂੰਝਣਾ ਹੈ. ਸ਼ਾਇਦ ਇਹ ਕੰਮ ਸਾਡੇ ਲਈ ਸੰਭਵ ਨਾ ਹੋਵੇ, ਪਰ ਜਦੋਂ ਤੱਕ ਪੀੜਤਾਂ ਦੇ ਹੰਝੂ ਖਤਮ ਨਹੀਂ ਹੁੰਦੇ, ਸਾਡਾ ਕੰਮ ਖ਼ਤਮ ਨਹੀਂ ਹੁੰਦਾ.</p>
            <p>ਅਤੇ ਇਸ ਲਈ ਸਾਨੂੰ ਆਪਣੇ ਸੁਪਨਿਆਂ ਨੂੰ ਸਾਕਾਰ ਕਰਨ ਲਈ ਸਖਤ ਮਿਹਨਤ ਕਰਨੀ ਪਵੇਗੀ. ਸੁਪਨੇ ਜੋ ਭਾਰਤ ਲਈ ਹਨ, ਇਹ ਦੁਨੀਆ ਲਈ ਵੀ ਹਨ, ਸਾਰੀਆਂ ਕੌਮਾਂ ਅਤੇ ਲੋਕ ਅੱਜ ਇਕ ਦੂਜੇ ਨਾਲ ਨੇੜਿਓਂ ਜੁੜੇ ਹੋਏ ਹਨ, ਕੋਈ ਵੀ ਆਪਣੇ ਆਪ ਨੂੰ ਵੱਖ ਰੱਖਣ ਬਾਰੇ ਨਹੀਂ ਸੋਚ ਸਕਦਾ. ਸ਼ਾਂਤੀ ਨੂੰ ਅਵਿਭਾਵੀ ਕਿਹਾ ਜਾਂਦਾ ਹੈ; ਇਹ ਉਹੀ ਆਜ਼ਾਦੀ ਹੈ, ਹੁਣ ਖੁਸ਼ਹਾਲੀ ਹੈ, ਅਤੇ ਤਬਾਹੀ ਇਕੋ ਹੈ, ਇਹ ਸੰਸਾਰ ਇਕ ਹੈ, ਇਸ ਨੂੰ ਵੱਖਰੇ ਟੁਕੜਿਆਂ ਵਿਚ ਨਹੀਂ ਵੰਡਿਆ ਜਾ ਸਕਦਾ.</p>
            <p>ਭਾਰਤ ਦੇ ਲੋਕਾਂ ਲਈ, ਜਿਨ੍ਹਾਂ ਦੀ ਅਸੀਂ ਪ੍ਰਤੀਨਿਧਤਾ ਕਰਦੇ ਹਾਂ, ਅਸੀਂ ਸਾਰਿਆਂ ਨੂੰ ਇਸ ਮਹਾਨ ਪ੍ਰਾਪਤੀ 'ਤੇ ਵਿਸ਼ਵਾਸ ਅਤੇ ਵਿਸ਼ਵਾਸ ਨਾਲ ਸਾਡੇ ਨਾਲ ਜੁੜਨ ਦੀ ਅਪੀਲ ਕਰਦੇ ਹਾਂ. ਇਹ ਸਸਤੀ ਅਤੇ ਵਿਨਾਸ਼ਕਾਰੀ ਆਲੋਚਨਾ ਦਾ ਸਮਾਂ ਨਹੀਂ ਹੈ, ਨਾ ਹੀ ਇਹ ਗੜਬੜੀਆਂ ਕਰਨ ਜਾਂ ਦੂਜਿਆਂ ਨੂੰ ਦੋਸ਼ ਲਾਉਣ ਦਾ ਸਮਾਂ ਹੈ. ਸਾਨੂੰ ਆਜ਼ਾਦ ਭਾਰਤ ਦੀ ਅਜਿਹੀ ਮਹਾਨ ਸਿਰਜਣਾ ਕਰਨੀ ਪਏਗੀ, ਜਿੱਥੇ ਇਸ ਦੇ ਸਾਰੇ ਬੱਚੇ ਰਹਿ ਸਕਣ.</p>
            <h3>ਅੱਧੀ ਰਾਤ ਤੋਂ ਬਾਅਦ (15 ਅਗਸਤ, 1947)</h3>
            <p>ਨਿਰਧਾਰਤ ਦਿਨ ਆ ਗਿਆ - ਉਹ ਦਿਨ ਜਿਹੜਾ ਕਿਸਮਤ ਦੁਆਰਾ ਨਿਰਧਾਰਤ ਕੀਤਾ ਗਿਆ ਸੀ - ਅਤੇ ਲੰਬੀ ਨੀਂਦ ਅਤੇ ਸੰਘਰਸ਼ ਦੇ ਬਾਅਦ ਭਾਰਤ; ਹੋਰ ਜਗਾਉਣ, ਜੀਵੰਤ, ਸੁਤੰਤਰ ਅਤੇ ਸੁਤੰਤਰ ਖੜੇ ਹੋਣ ਲਈ. ਸਾਡਾ ਭੂਤ ਅਜੇ ਵੀ ਕੁਝ ਹੱਦ ਤਕ ਸਾਨੂੰ ਫੜਿਆ ਹੋਇਆ ਹੈ, ਅਤੇ ਸਾਨੂੰ ਜੋ ਵਾਅਦਾ ਕਰ ਰਿਹਾ ਹੈ ਉਸਨੂੰ ਪੂਰਾ ਕਰਨ ਲਈ ਸਾਨੂੰ ਬਹੁਤ ਕੁਝ ਕਰਨਾ ਪਏਗਾ. ਹੁਣ ਨਵਾਂ ਮੋੜ ਵੀ ਬੀਤ ਚੁੱਕਾ ਹੈ; ਇਤਿਹਾਸ ਸਾਡੇ ਲਈ ਨਵੇਂ ਸਿਰੇ ਤੋਂ ਸ਼ੁਰੂ ਹੋਇਆ ਹੈ, ਉਹ ਇਤਿਹਾਸ ਜੋ ਅਸੀਂ ਬਣਾਵਾਂਗੇ ਅਤੇ ਦੂਸਰੇ ਕਿਸ ਬਾਰੇ ਲਿਖਣਗੇ।</p>
            <p>ਇਹ ਭਾਰਤ ਦੇ ਲੋਕਾਂ, ਪੂਰੇ ਏਸ਼ੀਆ ਅਤੇ ਵਿਸ਼ਵ ਲਈ ਇਕ ਖੁਸ਼ਕਿਸਮਤੀ ਵਾਲਾ ਪਲ ਹੈ. ਇੱਕ ਨਵਾਂ ਤਾਰਾ ਉੱਭਰਿਆ ਹੈ, ਅਤੀਤ ਵਿੱਚ ਸੁਤੰਤਰਤਾ ਦਾ ਸਿਤਾਰਾ, ਇੱਕ ਨਵੀਂ ਉਮੀਦ ਲੈ ਕੇ ਆਇਆ ਹੈ ਅਤੇ ਇੱਕ ਸੰਪੂਰਨ ਦਰਸ਼ਣ ਨੂੰ ਸੁੰਦਰ ਬਣਾਏਗਾ. ਇਹ ਤਾਰਾ ਕਦੇ ਨਹੀਂ ਤਿਆਗੇਗਾ, ਅਤੇ ਉਮੀਦ ਕਦੇ ਮੁੱਕਦੀ ਨਹੀਂ!</p>
            <p>ਅਸੀਂ ਉਸ ਆਜ਼ਾਦੀ ਦਾ ਆਨੰਦ ਮਾਣਾਂਗੇ ਜਿਸ ਵਿਚ ਬੱਦਲ ਸਾਡੇ ਦੁਆਲੇ ਘੁੰਮਦੇ ਹਨ, ਅਤੇ ਸਾਡੇ ਬਹੁਤ ਸਾਰੇ ਲੋਕ ਦੁਖੀ ਹਨ, ਅਤੇ ਮੁਸ਼ਕਲਾਂ ਨਾਲ ਸਾਡੇ ਦੁਆਲੇ ਘਿਰੇ ਹੋਏ ਹਨ. ਇਸ ਦੀ ਬਜਾਏ, ਆਜ਼ਾਦੀ ਨਾਲ ਜ਼ਿੰਮੇਵਾਰੀਆਂ ਅਤੇ ਮੁਸ਼ਕਲਾਂ ਆਉਂਦੀਆਂ ਹਨ ਅਤੇ ਸਾਨੂੰ ਉਨ੍ਹਾਂ ਨੂੰ ਇੱਕ ਸੁਤੰਤਰ ਅਤੇ ਅਨੁਸ਼ਾਸਿਤ ਭਾਵਨਾ ਨਾਲ ਸਾਹਮਣਾ ਕਰਨਾ ਪੈਂਦਾ ਹੈ.</p>
            <p>ਇਸ ਦਿਨ, ਅਸੀਂ ਸਭ ਤੋਂ ਪਹਿਲਾਂ ਇਸ ਆਜ਼ਾਦੀ ਦੇ ਆਰਕੀਟੈਕਟ, ਮਹਾਤਮਾ [ਗਾਂਧੀ] ਨੂੰ ਸ਼ਰਧਾਂਜਲੀ ਭੇਟ ਕਰਦੇ ਹਾਂ, ਜਿਸ ਨੇ ਆਜ਼ਾਦੀ ਦੀ ਮਸ਼ਾਲ ਖੜੀ ਕੀਤੀ, ਅਤੇ ਸਾਡੇ ਉੱਤੇ ਪੈ ਰਹੇ ਹਨੇਰੇ ਨੂੰ ਦੂਰ ਕੀਤਾ, ਅਤੇ ਭਾਰਤ ਦੀ ਪੁਰਾਣੀ ਸ਼ਾਨ ਨੂੰ ਸਥਾਪਤ ਕੀਤਾ.</p>
            <p>ਅਸੀਂ ਅਕਸਰ ਉਸ ਦੇ ਸੰਦੇਸ਼ ਨੂੰ ਬੇਵਕੂਫ ਵਿਚ ਭਟਕਦੇ ਹਾਂ, ਪਰ ਸਾਨੂੰ ਹੀ ਨਹੀਂ, ਆਉਣ ਵਾਲੀਆਂ ਪੀੜ੍ਹੀਆਂ ਉਸ ਦੇ ਸੰਦੇਸ਼ ਨੂੰ ਯਾਦ ਰੱਖਣਗੀਆਂ ਅਤੇ ਭਾਰਤ ਦੇ ਇਸ ਮਹਾਨ ਪੁੱਤਰ ਦੀ ਵਿਲੱਖਣ ਵਿਸ਼ਵਾਸ, ਸ਼ਕਤੀ, ਹਿੰਮਤ ਅਤੇ ਨਿਮਰਤਾ ਦੀ ਕਦਰ ਕਰਨਗੀਆਂ. ਅਸੀਂ ਇਸ ਆਜ਼ਾਦੀ ਦੀ ਮਸ਼ਾਲ ਨੂੰ ਕਦੇ ਵੀ ਬੁਝਣ ਨਹੀਂ ਦੇਵਾਂਗੇ, ਚਾਹੇ ਕਿੰਨੀ ਵੀ ਤੇਜ਼ ਹਵਾ ਜਾਂ ਤੂਫਾਨੀ ਤੂਫਾਨ ਹੋਵੇ.</p>
            <p>ਅਸੀਂ ਅਣਜਾਣ ਵਲੰਟੀਅਰਾਂ ਅਤੇ ਸਿਪਾਹੀਆਂ ਨੂੰ ਵੀ ਸਲਾਮ ਕਰਦੇ ਹਾਂ ਜਿਨ੍ਹਾਂ ਨੇ ਬਿਨਾਂ ਕਿਸੇ ਸ਼ਲਾਘਾ ਜਾਂ ਇਨਾਮ ਦੇ ਆਪਣੀ ਸਾਰੀ ਉਮਰ ਭਾਰਤ ਦੀ ਸੇਵਾ ਕੀਤੀ.</p>
            <p>ਅਸੀਂ ਆਪਣੇ ਉਨ੍ਹਾਂ ਭੈਣਾਂ-ਭਰਾਵਾਂ ਲਈ ਵੀ ਚਿੰਤਤ ਹਾਂ ਜਿਨ੍ਹਾਂ ਨੂੰ ਰਾਜਨੀਤਿਕ ਸਰਹੱਦਾਂ ਕਾਰਨ ਸਾਡੇ ਤੋਂ ਵੱਖ ਕਰ ਦਿੱਤਾ ਗਿਆ ਹੈ ਅਤੇ ਜੋ ਬਦਕਿਸਮਤੀ ਨਾਲ ਉਹ ਇਸ ਆਜ਼ਾਦੀ ਨੂੰ ਸਾਂਝਾ ਨਹੀਂ ਕਰ ਸਕਦੇ ਜੋ ਉਹ ਇਸ ਸਮੇਂ ਮਾਣ ਰਹੇ ਹਨ. ਜੋ ਵੀ ਵਾਪਰਦਾ ਹੈ, ਉਹ ਸਾਡੇ ਹਨ ਅਤੇ ਸਾਡੇ ਰਹਿਣਗੇ, ਅਸੀਂ ਉਨ੍ਹਾਂ ਦੇ ਚੰਗੇ ਜਾਂ ਮਾੜੇ ਸਮੇਂ ਨੂੰ ਬਰਾਬਰ ਸਾਂਝਾ ਕਰਾਂਗੇ.</p>
            <p>ਭਵਿੱਖ ਸਾਡੇ ਵੱਲ ਵੇਖ ਰਿਹਾ ਹੈ. ਅਸੀਂ ਕਿੱਥੇ ਜਾਣਾ ਚਾਹੁੰਦੇ ਹਾਂ ਅਤੇ ਸਾਡੀਆਂ ਕੋਸ਼ਿਸ਼ਾਂ ਕੀ ਹੋਣੀਆਂ ਚਾਹੀਦੀਆਂ ਹਨ? ਭਾਰਤ ਦੇ ਆਮ ਆਦਮੀ, ਕਿਸਾਨਾਂ ਅਤੇ ਮਜ਼ਦੂਰਾਂ ਲਈ ਆਜ਼ਾਦੀ ਅਤੇ ਮੌਕਾ ਲਿਆਉਣ ਲਈ; ਗਰੀਬੀ ਅਤੇ ਅਗਿਆਨਤਾ ਅਤੇ ਬਿਮਾਰੀ ਨਾਲ ਲੜਨ ਅਤੇ ਖ਼ਤਮ ਕਰਨ ਲਈ; ਇੱਕ ਖੁਸ਼ਹਾਲ, ਜਮਹੂਰੀ ਅਤੇ ਅਗਾਂਹਵਧੂ ਰਾਸ਼ਟਰ ਦਾ ਨਿਰਮਾਣ ਕਰਨਾ, ਅਤੇ ਸਮਾਜਿਕ, ਆਰਥਿਕ ਅਤੇ ਰਾਜਨੀਤਿਕ ਸੰਸਥਾਵਾਂ ਦਾ ਨਿਰਮਾਣ ਕਰਨਾ ਜੋ ਹਰੇਕ ਆਦਮੀ ਅਤੇ forਰਤ ਲਈ ਨਿਆਂ ਅਤੇ ਜੀਵਨ ਦੀ ਸੰਪੂਰਨਤਾ ਨੂੰ ਯਕੀਨੀ ਬਣਾਉਂਦੇ ਹਨ.</p>
            <p>ਸਾਡਾ ਅੱਗੇ ਕੰਮ ਮੁਸ਼ਕਲ ਹੈ. ਸਾਡੇ ਵਿੱਚੋਂ ਕੋਈ ਵੀ ਉਦੋਂ ਤੱਕ ਅਰਾਮ ਨਹੀਂ ਕਰ ਸਕਦਾ ਜਦ ਤੱਕ ਅਸੀਂ ਆਪਣਾ ਵਾਅਦਾ ਪੂਰਾ ਨਹੀਂ ਕਰਦੇ, ਜਦ ਤੱਕ ਅਸੀਂ ਸਾਰੇ ਭਾਰਤ ਦੇ ਲੋਕਾਂ ਨੂੰ ਉਨ੍ਹਾਂ ਦੀ ਕਿਸਮਤ ਅਨੁਸਾਰ ਨਹੀਂ ਲਿਆਉਂਦੇ. ਅਸੀਂ ਬੋਲਡ ਫਰੰਟਲਾਈਨ ਦੇ ਇੱਕ ਮਹਾਨ ਦੇਸ਼ ਦੇ ਨਾਗਰਿਕ ਹਾਂ, ਅਤੇ ਸਾਨੂੰ ਉੱਚ ਪੱਧਰਾਂ 'ਤੇ ਚੱਲਣਾ ਹੈ. ਅਸੀਂ ਸਾਰੇ, ਚਾਹੇ ਕਿਸੇ ਵੀ ਧਰਮ ਦੇ, ਭਾਰਤ ਦੇ ਬਰਾਬਰ ਅਧਿਕਾਰ, ਅਧਿਕਾਰ ਅਤੇ ਜ਼ਿੰਮੇਵਾਰੀਆਂ ਦੇ ਬਰਾਬਰ ਬੱਚੇ ਹਾਂ. ਅਸੀਂ ਫਿਰਕਾਪ੍ਰਸਤੀ ਜਾਂ ਧਰਮ-ਨਿਰਪੱਖਤਾ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਨਹੀਂ ਕਰ ਸਕਦੇ, ਕੋਈ ਵੀ ਦੇਸ਼ ਮਹਾਨ ਨਹੀਂ ਹੋ ਸਕਦਾ ਜਿਸ ਦੇ ਲੋਕ ਆਪਣੀ ਸੋਚ ਅਤੇ ਕੰਮਾਂ ਵਿੱਚ ਸੰਖੇਪ ਹਨ.</p>
            <p>ਅਸੀਂ ਵਿਸ਼ਵ ਦੇ ਦੇਸ਼ਾਂ ਅਤੇ ਲੋਕਾਂ ਨੂੰ ਸ਼ੁੱਭ ਕਾਮਨਾਵਾਂ ਦਿੰਦੇ ਹਾਂ ਅਤੇ ਅਸੀਂ ਸ਼ਾਂਤੀ, ਆਜ਼ਾਦੀ ਅਤੇ ਲੋਕਤੰਤਰ ਨੂੰ ਅੱਗੇ ਵਧਾਉਣ ਲਈ ਉਨ੍ਹਾਂ ਦਾ ਸਹਿਯੋਗ ਕਰਨ ਲਈ ਦ੍ਰਿੜ ਹਾਂ।</p>
            <p>ਅਤੇ ਅਸੀਂ ਆਪਣੀ ਬਹੁਤ ਪਿਆਰੀ ਮਾਤਭੂਮੀ ਭਾਰਤ, ਪ੍ਰਾਚੀਨ, ਸਦੀਵੀ ਅਤੇ ਹਮੇਸ਼ਾਂ ਨਵੀਨੀਕਰਣ ਨੂੰ ਸ਼ਰਧਾਂਜਲੀ ਭੇਟ ਕਰਦੇ ਹਾਂ, ਅਤੇ ਅਸੀਂ ਇਸ ਦੀ ਸੇਵਾ ਅੱਗੇ ਤੋਰਨ ਲਈ ਕਰਦੇ ਹਾਂ. ਜੈ ਹਿੰਦ!</p>

            <div class="fb-share-button" data-href="http://sadbhavana.net/tryst-with-destiny-nehru-punjabi.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="ਬਹੁਤ ਸਾਲ ਪਹਿਲਾਂ, ਅਸੀਂ ਕਿਸਮਤ ਨਾਲ ਇਕ ਵਾਅਦਾ ਕੀਤਾ ਸੀ, ਅਤੇ ਹੁਣ ਸਮਾਂ ਆ ਗਿਆ ਹੈ ਕਿ ਅਸੀਂ ਆਪਣੇ ਵਾਅਦੇ ਨੂੰ ਪੂਰਾ ਕਰੀਏ, ਇਸ ਨੂੰ ਬਹੁਤ ਹੱਦ ਤਕ ਪੂਰਾ ਕਰਾਂਗੇ, ਪੂਰੀ ਤਰ੍ਹਾਂ ਨਹੀਂ. ਅੱਧੀ ਰਾਤ ਦੇ ਸਟਰੋਕ ਤੇ, ਜਦੋਂ ਵਿਸ਼ਵ ਸੌਂ ਰਿਹਾ ਹੈ, ਭਾਰਤ ਜੀਵਨ ਅਤੇ ਆਜ਼ਾਦੀ ਲਈ ਜਾਗ ਜਾਵੇਗਾ. ਅਜਿਹਾ ਪਲ ਆ ਜਾਂਦਾ ਹੈ, ਪਰ ਇਤਿਹਾਸ ਵਿਚ ਸ਼ਾਇਦ ਹੀ ਕਦੇ ਆਉਂਦਾ ਹੈ...Read more" data-link="https://tinyurl.com/y4gwh4vt" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>


            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
