<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Sadbhavana - Tryst with Destiny Nehru Speech Hindi</title>
  <meta name="description" content="" />
  <meta property="og:image" content="https://cdn.inc.in/inspirations/thumbnails/000/000/007/medium/Nehru_inc.jpg?1505455906" />

  <!-- mobile settings -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- WEB FONTS : use %7C instead of | (pipe) -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
    rel="stylesheet" type="text/css" />

  <!-- CORE CSS -->
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

  <!-- THEME CSS -->
  <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />

  <!-- PAGE LEVEL SCRIPTS -->
  <link href="{% static 'assets/css/header-1.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

  <!-- CUSTOM STYLES -->
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<!--
	AVAILABLE BODY CLASSES:

	smoothscroll 			= create a browser smooth scroll
	enable-animation		= enable WOW animations

	bg-grey					= grey background
	grain-grey				= grey grain background
	grain-blue				= blue grain background
	grain-green				= green grain background
	grain-blue				= blue grain background
	grain-orange			= orange grain background
	grain-yellow			= yellow grain background

	boxed 					= boxed layout
	pattern1 ... patern11	= pattern background
	menu-vertical-hide		= hidden, open on click

	BACKGROUND IMAGE [together with .boxed class]
	data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->

<body class="smoothscroll enable-animation">

  <!-- wrapper -->
  <div id="wrapper">

    <!-- 
			AVAILABLE HEADER CLASSES

			Default nav height: 96px
			.header-md 		= 70px nav height
			.header-sm 		= 60px nav height

			.b-0 		= remove bottom border (only with transparent use)
			.transparent	= transparent header
			.translucent	= translucent header
			.sticky			= sticky header
			.static			= static header
			.dark			= dark header
			.bottom			= header on bottom
			
			shadow-before-1 = shadow 1 header top
			shadow-after-1 	= shadow 1 header bottom
			shadow-before-2 = shadow 2 header top
			shadow-after-2 	= shadow 2 header bottom
			shadow-before-3 = shadow 3 header top
			shadow-after-3 	= shadow 3 header bottom

			.clearfix		= required for mobile menu, do not remove!

			Example Usage:  class="clearfix sticky header-sm transparent b-0"
		-->
    <div id="header" class="navbar-toggleable-md sticky clearfix blinkdiv">

      <!-- TOP NAV -->
      <header id="topNav">
        <div class="container">

          <!-- Mobile Menu Button -->
          <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
          </button>

          <!-- BUTTONS -->
          <ul class="float-right nav nav-pills nav-second-main">
            <li style="list-style: none;" class="dropdown d-block d-sm-none">
              <a>
                <i class="fa fa-globe" style="margin-right:0;"></i>&nbsp;&nbsp;
                <select id="lang-mobile" name="lang" style="border:none;font-size: 14px;
								font-weight: 600;padding:0;height:auto;background: transparent;">
                  <option value="en">ENGLISH</option>
                  <option value="hn">हिंदी</option>
                  <option value="pn">ਪੰਜਾਬੀ</option>
                </select>
              </a>

            </li>
            <!-- SEARCH -->
            <li class="search">
              <a href="javascript:;">
                <i class="fa fa-search blinkText"></i>
              </a>
              <div class="search-box">
                <form action="#" method="get">
                  <div class="input-group">
                    <input type="text" name="src" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- /SEARCH -->

          </ul>
          <!-- /BUTTONS -->

          <!-- Logo -->
          <a class="logo float-left" href="{% url 'home' %}">
            <img src="{% static 'assets/images/logo/logo.png' %}" alt="" />
          </a>

          <!-- 
						Top Nav 
						
						AVAILABLE CLASSES:
						submenu-dark = dark sub menu
					-->
          <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
            <nav class="nav-main">

              <!--
								NOTE
								
								For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
								Direct Link Example: 

								<li>
									<a href="#">HOME</a>
								</li>
							-->
              <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'home' %}">
                    <b class="blinkText trn">home</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'app:quizzes' 1 %}">
                    <b class="blinkText trn">play</b>
                  </a>
                </li>
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'read' %}">
                    <b class="blinkText trn">read</b>
                  </a>
                </li>
                <!-- <li class="dropdown active">
									<a href="home-stories.html">
										<b class="blinkText">STORIES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'watch' %}">
                    <b class="blinkText trn">watch</b>
                  </a>
                </li>
                <!-- <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
									<a class="dropdown-toggle noicon" href="#">
										<b class="blinkText">GAMES</b>
									</a>
									</li> -->
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="#">
                    <b class="blinkText trn">engage</b>
                  </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="dropdown mega-menu nav-animate-fadeIn nav-hover-animate hover-animate-bounceIn">
                  <a class="dropdown-toggle noicon" href="{% url 'login' %}">
                    <b class="blinkText trn">login</b>
                  </a>
                </li>
                {% endif %}

                <!-- <li class="dropdown">                  
									<a class="dropdown-toggle" href="#">
										<i class="et-global blinkText"></i>&nbsp;&nbsp;<b class="blinkText">ENGLISH</b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">ENGLISH</a></li>
										<li><a href="#">हिंदी</a></li>
										<li><a href="#">ਪੰਜਾਬੀ</a></li>
									</ul>
									</li>   -->

                <li>
                  <a>
                    <i class="et-global blinkText"></i>&nbsp;&nbsp;
                    <select id="lang" name="lang"
                      style="border:none;font-size: 14px; font-weight: 600; padding:0;height:auto; background:transparent; color:white;">
                      <option value="en" style="color: black;">ENGLISH</option>
                      <option value="hn" style="color: black;">हिंदी</option>
                      <option value="pn" style="color: black;">ਪੰਜਾਬੀ</option>
                    </select>
                  </a>

                </li>
              </ul>

            </nav>
          </div>

        </div>
      </header>
      <!-- /Top Nav -->

    </div>


    <!-- 
			PAGE HEADER 
			
			CLASSES:
				.page-header-xs	= 20px margins
				.page-header-md	= 50px margins
				.page-header-lg	= 80px margins
				.page-header-xlg= 130px margins
				.dark			= dark page header

				.shadow-before-1 	= shadow 1 header top
				.shadow-after-1 	= shadow 1 header bottom
				.shadow-before-2 	= shadow 2 header top
				.shadow-after-2 	= shadow 2 header bottom
				.shadow-before-3 	= shadow 3 header top
				.shadow-after-3 	= shadow 3 header bottom
		-->
    <section class="page-header dark page-header-xs">
      <div class="container">

        <h1 class="trn">tryst_with_destiny_neharu_speech</h1>
        <ul class="blog-post-info list-inline">
          <li><a href="#"><span class="fa fa-tag btn-outline-warning"></span></a></li>
          <li><a href="search-results.html?tags=Independence"><span class="font-lato btn-outline-warning">#Independence</span></a></li>
          <li><a href="search-results.html?tags=History"><span class="font-lato btn-outline-warning">#History</span></a></li>
          <li><a href="search-results.html?tags=Speech"><span class="font-lato btn-outline-warning">#Speech</span></a></li>
          <li><a href="search-results.html?tags=Resources"><span class="font-lato btn-outline-warning">#Resources</span></a></li>
          <li><a href="search-results.html?tags=Text"><span class="font-lato btn-outline-warning">#Text</span></a></li>
          <li><a href="search-results.html?tags=GreatSpeeches"><span class="font-lato btn-outline-warning">#GreatSpeeches</span></a></li>
          <li><a href="search-results.html?tags=NehruvianDream"><span class="font-lato btn-outline-warning">#NehruvianDream</span></a></li>
        </ul>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#" class="trn">home</a></li>
          <li><a href="{% url 'read' %}" class="trn">read</a></li>
          <li class="active trn">tryst_with_destiny_neharu_speech</li>
        </ol><!-- /breadcrumbs -->

      </div>
    </section>
    <!-- /PAGE HEADER -->




    <!-- -->
    <section>
      <div class="container">

        <div class="row">

          <!-- LEFT -->
          <div class="col-md-12 col-sm-12">

            <!-- article content -->
            <h3>पमध्य रात्रि से पूर्व (14 August, 1947)</h3>
            <p>कई सालों पहले, हमने नियति के साथ एक वादा(Tryst with Destiny) किया था, और अब समय आ गया है कि हम अपना वादा
              निभायें, पूरी तरह न सही पर बहुत हद तक तो निभायें. आधी रात के स्ट्रोक के समय, जब दुनिया सो रही होगी, भारत
              जीवन और स्वतंत्रता के लिए जाग जाएगा. ऐसा क्षण आता है, मगर इतिहास में विरले ही आता है, जब हम पुराने से बाहर
              निकल नए युग में कदम रखते हैं, जब एक युग समाप्त हो जाता है, जब एक देश की लम्बे समय से दबी हुई आत्मा मुक्त
              होती है. यह संयोग ही है कि इस पवित्र मौंके पर हम भारत और उसके लोगों की सेवा करने के लिए तथा सबसे बढकर
              मानवता की सेवा करने के लिए समर्पित होने की प्रतिज्ञा कर रहे हैं.</p>
            <p>इतिहास की भोर से ही भारत ने अपनी अंतहीन खोज शुरू कर दी, और अनगिनत सदियां इसके संघर्षों और इसकी भव्य
              सफलताओं, और इसकी विफलताओं से भरी पड़ी है. अच्छे और बुरे दोनों समय में भारत ने न तो कभी अपनी खोज की दृष्टि
              खोई और न ही उसे ताकत देने वाले आदर्शों को कभी भूला. आज हमारे दुर्भाग्य की समयावधि खत्म हो गयी है और भारत
              अपनी खोज पुन: कर लेगा. हम आज जिस उपलब्धि का जश्न मना रहे हैं वो मात्र एक कदम है, अवसर खुलने का, बड़ी-बड़ी
              जीतें और उपलब्धियां हमारा इंतजार कर रही हैं. क्या हम इतने ताकतवर व बुद्धिमान हैं कि इस अवसर को समझें और
              भविष्य की चुनौती स्वीकार कर सकें?</p>
            <p>स्वतंत्रता और शासन जिम्मेदारी भी साथ लेकर आते हैं. ये जिम्मेदारी इस सभा, एक संप्रभु संस्था जो भारत के
              संप्रभु लोगों का प्रतिनिधित्व करती है, पर आयद होती है. स्वतंत्रता के जन्म से पहले, हमने हाड़तोड़ श्रम के
              सारे दर्द सहे हैं और हमारे दिल इस दुख की याद से सिंहर उठते हैं. उन में से कुछ दर्द अब भी जारी है. फिर भी,
              भूतकाल खत्म हो चुका है और अब भविष्य ही है जो हमारी ओर देख रहा है.</p>
            <p>ये भविष्य आराम करने या चैन से बैठने का नहीं है, बल्कि सतत प्रयास करने का है ताकि हमारे द्वारा बारम्बार की
              गयी प्रतिज्ञा, जो आज एक बार फिर वही प्रतिज्ञा करेंगे, उसे पूरा कर सकें. भारत की सेवा का मतलब लाखों पीड़ित
              लोगों की सेवा करना है. इसका मतलब गरीबी, अज्ञानता, बीमारी और अवसर की असमानता को समाप्त करना है. हमारी पीढ़ी
              के सबसे महानततम व्यक्ति की महत्वाकांक्षा हर आंख से एक-एक आंसू पौंछने की है. हो सकता है ये कार्य हमारे लिए
              संभव न हो लेकिन जब तक पीड़ितों के आँसू ख़त्म नहीं हो जाते, तब तक हमारा काम खत्म नहीं होगा. </p>
            <p>और इसलिए हमें अपने सपनों को साकार करने के लिए कड़ी मेहनत और काम ही काम करना पड़ेगा. जो सपने भारत के लिए
              हैं, वो दुनिया के लिए भी है, सभी राष्ट्र और लोग आज एक दुसरे से नजदीकी से जुड़े हुए हैं, कोई भी अपने को अलग
              रखने की सोच ही नहीं सकता है. शांति को अविभाज्य कहा जाता है; एसे ही आजादी है, एसे ही अब समृद्धि है, और
              विनाश भी एसे ही है, यह दुनिया एक है इसको अलग अलग टुकड़ों में विभाजित नहीं किया जा सकता है.</p>
            <p>भारत के लोगों के लिए, जिनके हम प्रतिनिधि हैं, हम इस महान उपलब्धी पर सबको आस्था और विश्वास के साथ, हमारे
              साथ शामिल होने की अपील करते हैं. यह घटिया और विनाशकारी आलोचना का समय नहीं है, न ही दुर्भावना रखने या
              दूसरों पर दोषारोपण करने का समय है. हमें मुक्त भारत का ऐसा महान निर्माण करना है, जहां उसके सभी बच्चे रह
              सकें.</p>
            <h3>मध्य रात्रि के पश्चात् (15 August, 1947)</h3>
            <p>नियत दिन आ गया है – वो दिन जो नियति द्वारा नियत था – और भारत लंबी निद्रा और संघर्ष के बाद; आगे के लिए
              पुन: जागृत, जीवंत, मुक्त और स्वतंत्र खड़ा है. कुछ हद तक हमारा भूत अभी भी हमें जकड़े हुए है, और हम प्राय: जो
              प्रतिज्ञा करते आये हैं उसे निभाने के लिए हमें बहुत कुछ करना होगा. अब निर्णायक बिंदु भी अतीत हो चुका है,
              हमारे लिए नए सिरे से इतिहास शुरू हो गया है, जिस इतिहास को हम बनायेंगे और जिसके बारे में दूसरे लिखेंगे.</p>
            <p>यह हम भारत वासियों के लिए, पूरे एशिया के लिए और दुनिया के लिए एक सौभाग्यपूर्ण क्षण है. एक नए तारे का उदय
              हुआ है, पूर्व में स्वतंत्रता का तारा, एक नई आशा लेकर आया है और एक परिपूर्ण दृष्टि को मूहर्त रूप देगा. ये
              तारा कभी अस्त नहीं होगा और आशा कभी धूमिल नहीं होगी !</p>
            <p>हम उस स्वतंत्रता का आनन्द लेंगे, जिसमें हमारे चारों ओर बादल मंडरा रहे हैं, और हमारे कई लोग दुःख से व्यथित
              हैं, और कठिन समस्यायें हमें घेरे हुए है. बल्कि आजादी के साथ जिम्मेदारियां और समस्यायें आती है और हमें उनका
              स्वतंत्र और अनुशासित भाव से सामना करना पड़ेगा.</p>
            <p>इस दिन हम सर्वप्रथम हम, इस स्वतंत्रता के वास्तुकार, हमारे राष्ट्रपिता महात्मा [गांधी] को नमन करते हैं,
              जिन्होंने, स्वतंत्रता की मशाल को उठाया, और हमारे पर छाये हुए अँधेरे को दूर किया, और भारत के पुराने गौरव को
              स्थापित किया.</p>
            <p>हम नासमझी में अक्सर उनके संदेश से भटक जाते हैं, लेकिन न केवल हम, बल्कि आने वाली पीढियां उनके संदेश को याद
              रखेगी और भारत के इस महान सपूत के अद्वितीय विश्वास और शक्ति तथा साहस और विनम्रता को दिल में संजो कर रखेगी.
              हम कभी भी इस स्वतंत्रता की मशाल बुझने नहीं देंगे, चाहे कितनी ही तेज हवा या तूफानी आंधी आ जाये.</p>
            <p>हम उन अज्ञात स्वयंसेवकों और सैनिकों को भी नमन करते हैं, जिन्होंने बिना प्रशंसा या इनाम की चाह के, जीवन
              पर्यंत भारत की सेवा की है.</p>
            <p>हम हमारे उन भाइयों और बहनों लिए भी चिंतित हैं जो राजनीतिक सीमाओं कारण हमसे कट गए हैं और जो दुर्भाग्यवश
              वर्तमान में मिली स्वतंत्रता को साझा नहीं कर सकते हैं. चाहे कुछ भी हो जाये वे हमारे हैं और हमारे रहेंगे, हम
              उनके अच्छे या बुरे वक्त को समान रूप से साझा करेंगे.</p>
            <p>भविष्य हमारी ओरदेख रहा है. हमें किधर जाना हैं और हमारे क्या प्रयास होने चाहिए? भारत के आम आदमी, किसानों
              और श्रमिकों के लिए स्वतंत्रता और अवसर लाने के लिए; गरीबी और अज्ञानता तथा बीमारी से लड़ने और समाप्त करने के
              लिए; एक समृद्ध, लोकतांत्रिक और प्रगतिशील राष्ट्र का निर्माण करने के लिए, और सामाजिक, आर्थिक और राजनीतिक
              संस्थाएं बनायें जो हर आदमी और औरत के लिए न्याय और जीवन की परिपूर्णता को सुनिश्चित करे.</p>
            <p>हमारा आगे का काम कठिन है. हम में से कोई आराम नहीं कर सकता है जब तक हम अपनी प्रतिज्ञा पूर्ण नहीं कर लेते,
              जब तक हम भारत के सभी लोगों को उनकी भाग्यरेखा तक नहीं पहुंचा देते. हम बोल्ड अग्रिम पंक्ति के एक महान देश के
              नागरिक हैं, और हमें उच्च मानकों पर खरा उतरना है. हम सभी, चाहे हम किसी भी धर्म से संबंधित हों, समान रूप से
              समान अधिकार, विशेषाधिकार और दायित्व के साथ भारत की संतानें हैं. हम सांप्रदायिकता या संकीर्णता को
              प्रोत्साहित नहीं कर सकते हैं, कोई भी देश महान नहीं हो सकता है जिसके लोगों की सोच में या कर्म में संकीर्णता
              हो.</p>
            <p>हम दुनिया के देशों और लोगों के लिए शुभकामनाएं करते हैं और हम उनके साथ सहयोग करने शांति, स्वतंत्रता और
              लोकतंत्र को आगे बढ़ाने के लिए हम दृढ प्रतिज्ञ हैं.</p>
            <p>और भारत की, प्राचीन, शाश्वत और हमेशा नई स्फूर्ति देने वाली, हमारी अत्यंत प्रिय मातृभूमि को श्रद्धा से नमन
              करते हैं और हम नए सिरे से इसकी सेवा करने का संकल्प लेते हैं. जय हिन्द !</p>

            <div class="fb-share-button" data-href="http://sadbhavana.net/tryst-with-destiny-nehru-hindi.html" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <a data-text="कई सालों पहले, हमने नियति के साथ एक वादा(Tryst with Destiny) किया था, और अब समय आ गया है कि हम अपना वादा
            निभायें, पूरी तरह न सही पर बहुत हद तक तो निभायें. आधी रात के स्ट्रोक के समय, जब दुनिया सो रही होगी, भारत
            जीवन और स्वतंत्रता के लिए जाग जाएगा. ऐसा क्षण आता है...Read more" data-link="https://tinyurl.com/yxr3kp2o" class="whatsapp"><img style="width: 20px;height: 20px;" src="{% static 'assets/images/whatsApp.png' %}" /></a>


            <div class="divider divider-dotted">
              <!-- divider -->
            </div>



            <!-- SHARE POST -->
            <!-- <div class="clearfix mt-30">

							<span class="float-left mt-6 bold hidden-xs-down">
								Share Post: 
							</span>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook float-right" data-toggle="tooltip" data-placement="top" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter float-right" data-toggle="tooltip" data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus float-right" data-toggle="tooltip" data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon social-icon-sm social-icon-transparent social-call float-right" data-toggle="tooltip" data-placement="top" title="Email">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>

						</div> -->
            <!-- /SHARE POST -->


          </div>

        </div>


      </div>
    </section>
    <!-- / -->

    <!-- FOOTER -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3"> -->
          <!-- Small Description -->
          <!-- <p class="trn">footer_text</p>             -->
          <!-- </div> -->

          <div class="col-md-4">

            <!-- Latest Blog Post -->
            <h4 class="letter-spacing-1 trn">latest_quizzes</h4>
            <ul class="footer-posts list-unstyled">
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 10 %}">PANDIT JAWAHARLAL NEHRU QUIZ</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 11 %}">पंडित जवाहरलाल नेहरु क्विज़</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 12 %}">ਪੰਡਿਤ ਜਵਾਹਰ ਲਾਲ ਨਹਿਰੂ ਕੁਇਜ਼</a>
                <small>14 November 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 1 %}">QUIZ ON MAHATMA GANDHI</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 8 %}">QUIZ ON CONSTITUTION</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-en en">
                <a href="{% url 'app:quizterms' 9 %}">QUIZ ON RAJIV GANDHI</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 2 %}">राजीव गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 3 %}">संविधान क्विज़</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-hn hn">
                <a href="{% url 'app:quizterms' 4 %}">महात्मा गांधी क्विज़</a>
                <small>2 October 2019</small>
              </li>

              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 5 %}">ਮਹਾਤਮਾ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 6 %}">ਰਾਜੀਵ ਗਾਂਧੀ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
              <li class="static lang-pn pn">
                <a href="{% url 'app:quizterms' 7 %}">ਸੰਵਿਧਾਨ ਕਵਿਜ਼</a>
                <small>2 October 2019</small>
              </li>
            </ul>
            <!-- /Latest Blog Post -->
          </div>

          <div class="col-md-4">

            <!-- Links -->
            <h4 class="letter-spacing-1 trn">explore</h4>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}" class="trn">home</a></li>
              <li><a href="{% url 'app:quizzes' 1 %}" class="trn">play</a></li>
              <li><a href="{% url 'read' %}" class="trn">read</a></li>
              <!-- <li><a href="home-stories.html">Stories</a></li> -->
              <li><a href="{% url 'watch' %}" class="trn">watch</a></li>
              <!-- <li><a href="#">Games</a></li> -->
              <li><a href="#" class="trn">engage</a></li>
            </ul>
            <!-- /Links -->
          </div>

          <div class="col-md-4">

            <!-- Newsletter Form -->
            <h4 class="letter-spacing-1 trn">keep_in_touch</h4>
            <!-- <p class="trn">keep_in_touch_newsleter</p> -->

            <!-- Contact Address -->
            <address>
              <ul class="list-unstyled">
                <li class="footer-sprite address">
                  Jawahar Bhawan<br>
                  Dr. Rajendra Prasad Road<br>
                  New Delhi – 110 001, INDIA<br>
                </li>
                <li class="footer-sprite phone">
                  (+91 11) 23755117, 23312456
                </li>
                <li class="footer-sprite email">
                  <a href="mailto:sadbhavanasesamadhaan@gmail.com">sadbhavanasesamadhaan@gmail.com</a>
                </li>
                <li class="footer-sprite feedback"><a href="{% url 'feedback' %}" class="trn">feedback</a></li>
              </ul>
            </address>
            <!-- /Contact Address -->

            <!-- <form class="validate" action="#"
						method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" id="email" name="email" class="form-control required"
								placeholder="Enter your Email">
							<span class="input-group-btn">
							<button class="btn btn-success bg-color-green" type="submit">Subscribe</button>
							</span>
						</div>
						</form> -->
            <!-- /Newsletter Form -->

            <!-- Social Icons -->
            <div class="mt-20">
              <a href="https://www.facebook.com/Sadbhavananet-109610247124379/?modal=admin_todo_tour"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Facebook" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/facebook.png' %}" />
              </a>

              <a href="https://twitter.com/SadbhavanaN?s=08"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Twitter" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/twitter.png' %}" />
              </a>

              <a href="https://www.instagram.com/sadbhavanasesamadhaan/"
                class="float-left" data-toggle="tooltip"
                data-placement="top" title="Instagram" style="padding:5px;">
                <img width="40px" src="{% static 'assets/images/social_icons/instagram.png' %}" />
              </a>
            </div>
            <!-- <div class="mt-20">
							<a href="#" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip"
								data-placement="top" title="Facebook">
				
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip"
								data-placement="top" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip"
								data-placement="top" title="Google plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip"
								data-placement="top" title="Linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
    
							<a href="#" class="social-icon social-icon-border social-rss float-left" data-toggle="tooltip"
								data-placement="top" title="Rss">
								<i class="icon-rss"></i>
								<i class="icon-rss"></i>
							</a>
                		</div> -->
            <!-- /Social Icons -->
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container">
          <ul class="float-right m-0 list-inline mobile-block">
            <!-- <li><a href="#" class="trn">terms_and_conditions</a></li>
            <li>&bull;</li> -->
            <li><a href="#" class="trn" data-toggle="modal" data-target="#myModal" style="color:#fff;">privacy</a></li>
            <!-- <li>&nbsp;</li>
            <li>&nbsp;</li> -->
          </ul>
          &copy;<span class="trn">all_rights_reserved</span>
        </div>
      </div>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title trn" style="color: black">privacy</h4>
            </div>
            <div class="modal-body" style="color: black">
              <p class="trn">privacy_policy_text_p1</p>
              <p class="trn">privacy_policy_text_p2</p>
            </div>
            <div class="modal-footer" style="color: black">
              <button type="button" class="btn btn-default trn" data-dismiss="modal">close</button>
            </div>
          </div>

        </div>
      </div>


    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /wrapper -->


  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->


  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>

  <script src="{% static 'assets/js/login-register.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

</body>

</html>
