{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load i18n %}
  {% load static %}
  {% load filters %}

  {% block meta %}
  <meta charset="utf-8" />
  <title>Sadbhavana-Competition-Winners</title>
  <meta name="description" content="" />
  <meta property="og:image" content="" />

  <link href="{% static 'assets/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/css/competition-winner.css' %}" rel="stylesheet" type="text/css" />

  {% endblock %}

</head>

<body>

  {% block content %}

  <!-- -->

  <div class="d-flex" id="wrapper">

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid" style="padding-bottom: 50px;padding-top: 50px;">
          <div class="section-shadow">
            <div class="container">
              <h3 class="text-center">Nature and Me</h3>
              <div class="col-md-12">
                <div class="about-section">
                  <div class="row">
                    <div class="col-md-12" style="padding-top: 20px;">
                      <h4 class="text-center">14-18 years</h4>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/suvradip_art1.jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-camera"></i>
                            </span>
                            <img height="300px" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/suvradip_art1.jpg" />
                            <!-- </video> -->
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Suvradeep Shee</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">First</a>
                      </div>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/InShot_20200721_204020902.mp4" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-video-camera"></i>
                            </span>
                            <video width="80%" height="300px" poster="https://rgf-bucket.s3.amazonaws.com/django-summernote/2020-08-24/82664ef9-8b3c-47fd-b36a-461b2f964b0b.png">
                              <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/InShot_20200721_204020902.mp4" type="video/mp4">
                            </video>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Diyuti Jain</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">Second</a>
                      </div>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/InShot_20200725_002623723_tJ2qcMP.mp4" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-video-camera"></i>
                            </span>
                            <video width="80%" height="300px">
                              <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/InShot_20200725_002623723_tJ2qcMP.mp4" type="video/mp4">
                            </video>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Abhishek Sharma</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">Third</a>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-12" style="padding-top: 20px;">
                      <h4 class="text-center">14-18 years(consolation prizes)</h4>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/IMG_20200620_201631.jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-camera"></i>
                            </span>
                            <img height="300px" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/IMG_20200620_201631.jpg" />
                            <!-- </video> -->
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Kanchan Singh</span>
                      </div>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/MeraDost.mp4" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-video-camera"></i>
                            </span>
                            <video width="80%" height="300px" poster="https://rgf-bucket.s3.amazonaws.com/django-summernote/2020-09-05/ebc454c3-46c3-4613-9896-2949f23f1875.png">
                              <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/MeraDost.mp4" type="video/mp4">
                            </video>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Pawan Paswan</span>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-12" style="padding-top: 20px;">
                    <h4 class="text-center">8-13 years</h4>
                  </div>

                  <div class="row">

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/inbound4266365036859899948.jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-camera"></i>
                            </span>
                            <img height="300px" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/inbound4266365036859899948.jpg" />
                            <!-- </video> -->
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Diganta Das</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">First</a>
                      </div>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/DeepshikhaDe_DPSNoida_Class6.jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-camera"></i>
                            </span>
                            <img height="300px" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/DeepshikhaDe_DPSNoida_Class6.jpg" />
                            <!-- </video> -->
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Deepshikha De</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">Second</a>
                      </div>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/VID-20200725-WA0002.mp4" data-plugin-options='{"type":"iframe"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-video-camera"></i>
                            </span>
                            <video width="80%" height="300px">
                              <source src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/VID-20200725-WA0002.mp4" type="video/mp4">
                            </video>
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Shubham Sehgal</span>
                        <a class="btn btn-sm float-right" style="background-color: #91D8EE;">Third</a>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-12" style="padding-top: 20px;">
                      <h4 class="text-center">8-13 years(consolation prizes)</h4>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/inbound1514368970065411726.jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-camera"></i>
                            </span>
                            <img height="300px" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/inbound1514368970065411726.jpg" />
                            <!-- </video> -->
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Riddhiman Saha</span>
                      </div>
                    </div>

                    <div class="card card-default col-md-4">
                      <div class="text-center">
                        <figure style="height: 300px;margin-bottom: 0px;">
                          <a style="display: block;height: 100%;overflow: hidden;" class="image-hover lightbox" href="https://rgf-bucket.s3.ap-south-1.amazonaws.com/S.THIYAKSHWA_-_Save_the_Environmnet__Save_wild_life.jpg" data-plugin-options='{"type":"image"}'>
                            <span class="image-hover-icon image-hover-dark">
                              <i class="fa fa-camera"></i>
                            </span>
                            <image height="300px" src="https://rgf-bucket.s3.ap-south-1.amazonaws.com/S.THIYAKSHWA_-_Save_the_Environmnet__Save_wild_life.jpg" />
                            <!-- </video> -->
                          </a>
                        </figure>
                      </div>
                      <div class="card-footer" style="z-index: 1;">
                        <span class="text-center">Thiyakshwa Suresh</span>
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- / -->
  {% endblock %}

  {% block includes %}
  <!-- SCROLL TO TOP -->
  <a href="#" id="toTop"></a>


  <!-- PRELOADER -->
  <div id="preloader">
    <div class="inner">
      <span class="loader"></span>
    </div>
  </div><!-- /PRELOADER -->

  <!-- JAVASCRIPT FILES -->
  <script>var plugin_path = "{% static 'assets/plugins/index.html' %}";</script>
  <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>

  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!-- TRASLATIONS -->
  <script src="{% static 'assets/js/jquery.translate.js' %}"></script>
  <script src="{% static 'assets/languages/translations.js' %}"></script>
  <script src="{% static 'assets/js/translater.js' %}"></script>

  <script src="{% static 'assets/js/social-share.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=1052864828127710&autoLogAppEvents=1"></script>

  <!-- Menu Toggle Script -->
  <script>
    var delay = 1000;
    setTimeout(function() {
      $('#preloader').remove();
    }, delay);

    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  {% endblock %}
</body>

</html>